.header {
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.segmentedControl {
  width: 100%;
}

.links {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.footer {
  border-top: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
