/* JSF theme settings */

/* Theme name, not the folder name. theme- preface will be included automatically! */
$theme:muikku;

/* CSS Background-image loader, has to be use in every background-image rule */

@mixin background-image($imgSrc) {
  background-image:(url('#' + '{resource["theme-' + $theme + ':' + $imgSrc + '"]}'));
}

@mixin main-background($imgSrc1,$imgSrc2) {
  background: (url('#' + '{resource["theme-' + $theme + ':' + $imgSrc1 + '"]}')), (url('#' + '{resource["theme-' + $theme + ':' + $imgSrc2 + '"]}')) #f6fcff;
}

@mixin background-image-external($imgSrc) {
  background-image:url($imgSrc);
}
