.md-background{
  background-color:rgba(130,197,201,0.99);  
  width:100%;
}

.md-box{
  color:#fff;
  font-weight: 300;
  
    .md-description {
     p{font-size:1.2em;font-weight:lighter;}
     h2{font-weight:lighter;font-size:2.5em;color:#fff;line-height:0.9;}
    }

    .md-close{
    font-weight:300;
    }
  }


  .md-content{

   div:not(:first-child){
    margin-top: 10px;
   }
  
   div.md-content-primary{
     background-color:rgba(0,0,0,0.17);   
     @include rounded(15px);
     box-sizing:border-box;
     padding:15px; 

       input[type='text']{
        width:100%;
       }

       &.grid_24{
        -webkit-border-top-left-radius: 15px ;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topleft: 15px;
        -moz-border-radius-topright: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color:rgba(0,0,0,0.17);     
        
         div {
          background-color: transparent !important; 
         }
       } 

      }
    }
  

   div.md-content-secondary{
    > div{
     background-color:rgba(0,0,0,0.17);   
     @include rounded(15px);
     padding:15px;
     }
     
     &.grid_24{  
      margin-top:0 !important;
      background-color:rgba(0,0,0,0.17);     
      -webkit-border-bottom-right-radius: 15px;
      -webkit-border-bottom-left-radius: 15px;
      -moz-border-radius-bottomright: 15px;
      -moz-border-radius-bottomleft: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;

       div{
        display:inline-block;
        margin:0 !important;
        background-color: transparent !important; 
        }

       div:not(:first-child){
        float:right;
        }
    }   
   }


   
   textarea{
    width:100%;  
   }



.md-content-buttons{
  padding:10px;
  text-align:center;

  input:not(:first-child){
   margin-left:10px;
  }  
}


.md-close{
 color: #ffffff;
 font-size:3em;
}