
/* Transcript of records (.tr-*) */

.tr-records-view-container{
  min-height:400px;  
  padding:5px;
}

.tr-records-view-container h3 {
  margin-top: 20px;
}

.tr-records-view-container label {
  margin-bottom: 5px;
}

.tr-records-view-container {
  &.loading {
    &:before {
      @include generic-loader(50px);
      position:absolute;
      top:50%;
      left:50%;
    }
  }
}

.tr-side-button-dropdown{
  display:none;
  width:170px;
  background-color:#fff;
  border : 1px solid $brd;
  z-index: 100;
  position:relative;
  top:0;
  
  ul{list-style-type:none;}  
  
  li{
    font-size:0.9em;   
    padding:5px;
    a{
     text-decoration:none;
     color:#000;
    }


    }
  li:hover{
    background-color:#1a9bfc;  
    color:#fff;

    a{
    text-decoration:none;
    color:#fff;
     }

    }
}


.tr-side-header{
  @extend .co-mainFunction-sub-header;
  padding:3px;
}

.tr-side-content{
 padding:5px;
}



.tr-filter{
  margin-top:5px;
  padding:2px 10px;
  font-size:0.7em;
  display:inline-block;
  border:1px solid $brd;
  @include rounded(10px);  
  &.ft-01{background-color:$mainFuncFilter1;}
  &.ft-02{background-color:$mainFuncFilter2;}
  &.ft-03{background-color:$mainFuncFilter3;}
}

.tr-filter-disabled{
 background-color:#cecece !important;
 color:#fff !important;
  
}

.tr-side-header > span{
  color:#fff;
}

.tr-side-tools{
  height:inherit;
  margin-bottom:0;
  }

.tr-content{
}

.tr-content-functions{
   @extend .co-mainFunction-content-functions;
   height:70px;  
}

.tr-search{
  margin-left:10px;
  width:300px;

}
.tr-search-icon{
  display:inline-block;
  color:#c4cdd1;
  font-size:30pt;
  padding-top:10px;
  
}
.tr-search-field{
  display:inline-block;
   margin-top:10px;
}

.tr-search-field > input{
 margin-left:10px;
 padding:10px;
 font-size:20px;
 color:#c4cdd1;

}



.tr-content-main{
  @extend .co-mainFunction-content-main;
  min-height:450px;
  padding:10px;
}


.tr-item {
 @extend .co-listItem;
 padding:5px 5px 5px 5px;
 &.ft-01{border-left: 3px solid $mainFuncFilter1;} 
 &.ft-02{border-left: 3px solid $mainFuncFilter2;}
 &.ft-03{border-left: 3px solid $mainFuncFilter3;}

}

.tr-item-details-container {
  background-color:#f0f3f4;
}

.tr-item-details-close {
 position:absolute;
 margin-top:0;
 margin-left:0;
 background-color:none;
 height:30px;
 width:200px;
 cursor: pointer;
}



.tr-item-header-name{
  display:inline-block;
  
}
.tr-item-open-header-name{
  display : inline-block;  
  span{
    font-size:19px;
    display:inline-block;
    
    &.grade {
      padding:5px 10px;
      color:#fff;
      
      &.passing {
        background-color:#0acf00;
      }
      
      &.non-passing {
        background-color:#ea7401;
      }
    }
    
    &:not(:first-child){
      margin-left:10px;
    }
  }
}

.tr-item-header-details {
  display : inline-block;
  float:right;  
  
  .tr-item-header-detail{
    display:inline-block;
    box-sizing:border-box;
    margin-right:10px;
    background-color:$bgr2;
    padding:5px;
    &.date{
      
      span{
       color:#000;
       
      }
     }
     
    &.grade{
      padding:5px 10px;
      span{
       color:#fff;
       
      }
    
      &.passing {
        background-color:#0acf00;
      }
      
      &.non-passing {
        background-color:#ea7401;
      }
    }
  }

}
.tr-item-rating {
  padding-right:5px;
}

.tr-item-description {
  display:inline-block;
  width:100%;
  background-color:#fff;  
}

.tr-item-workspace-assessment .tr-item-description {
  cursor:pointer;  
}

.tr-item-description-text {
  @extend .co-description;
  font-size: 0.9em; 
  padding:5px;

}

.tr-item-additionalInfo {
  display:inline-block;
  width:30%;
  float:right;
  font-size: 0.7em;

}

.tr-item-details-teachers {
  padding:0 5px;
  height:20px;
  
  .tr-teacher-picture-default {
    @extend .co-user-picture;
    display:inline-block;
    height:20px;
    width:20px;
  }

}

.tr-item-details-toolbar {
  border-top: 1px solid $brd; 
  @include padding(5px);
  
}

.tr-item-long{
  font-size: 15px;
  line-height: 30px;
}
.tr-item-details-teacher {
  display:inline-block; 
  height:20px;
  width:20px;
  margin-right:3px;
}

.tr-item-details-teacher-picture-container {

}

.tr-task-not-evaluated{
    span:not(:first-child){
       margin-left:10px;
    }  
  }

.tr-task-evaluated{
  &:hover{
   cursor:pointer;
   background-color:$bgr1;
  }
  
  .title-container{
  }
  .content-container{
    background-color:$bgr4;
  }  
  .title{
    span{
      display:inline-block;
      box-sizing:border-box;
      &:not(:first-child){
       margin-left:10px;
      }
    }
  
  }
  
  .content{
    padding:15px;
  }
}
.tr-task-evaluated-grade{
  background-color:$bgr1;
  color:#dadada; 
  padding:5px 10px;

  &.grade {
    color:#fff;
    
    &.passing {
      background-color:#0acf00;
    }
    
    &.non-passing {
      background-color:#ea7401;
    }
  }
  
}