.link {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-xs);
  color: var(--mantine-color-text);
  text-decoration: none;
  border-radius: var(--mantine-radius-sm);
  transition: all 0.2s ease;
  margin-left: var(--mantine-spacing-md);
}

.link:hover {
  background-color: var(--mantine-color-gray-0);
  color: var(--mantine-color-text);
}

.link.active {
  background-color: var(--mantine-color-blue-0);
  color: var(--mantine-color-blue-6);
}
