.communicator.application-panel {
  .communicator-navigation {
    position: absolute;
    top: 5px;
    left: 10px;
    right: 10px;
    bottom: 0;
    user-select: none;
    
    [data-controller-widget] {
      display: inline-block;
    }
  }
}