.communicator.container {
  &.communicator-container-message {
  	border-left: solid 1px #ccc;
  	border-right: solid 1px #ccc;
  	background-color: white;
  	
  	&.communicator-container-message-center {
      border: none;
    }
  }
  &.communicator-container-message-view {
  }
  &.communicator-container-signature {
  	width: 100%;
  	height: auto;
  	margin-top: 10px;
  	display: block;
  	background-color: white;
  	padding: 10px;
  }
}