.communicator.dropdown {
  &.communicator-dropdown-labels .dropdown-container {
    padding: 5px;
    background-color: $color-communicator-dropdown-labels-background;
    border: solid 1px $color-communicator-dropdown-labels-border;
    
    .embbed {
      padding-top: 12px;
      
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        height: 6.5px;
        left: 0;
        right: 0;
        border-bottom: solid 1px #ccc;
      }
    }
  }
}