.communicator.dropdown {
  &.communicator-dropdown-labels .dropdown-container {
    padding: 5px;
    background-color: $color-communicator-dropdown-labels-background;
    border: solid 1px $color-communicator-dropdown-labels-border;
    
    .dropdown-item:nth-child(3) {
      margin-top: 12px;
      overflow: visible;
      
      &:after {
        content: " ";
        position: absolute;
        bottom: 100%;
        height: 6.5px;
        left: 0;
        right: 0;
        border-top: solid 1px #ccc;
      }
    }
  }
}