.communicator.form-field {
  &.communicator-form-field-new-message-subject {
    margin-bottom: 5px;
  }
  &.communicator-form-field-label-name {
    display: block;
    margin-bottom: 24px;
    text-align: center;
  }
}

.communicator.form-field-tag-input {
  &.communicator-form-field-tag-input-new-message-recepients {
    margin-bottom: 5px;
  }
}