.communicator.form-field {
  .communicator-form-field-recepients-input {
    display: block;
  }
  &.communicator-form-field-label-name {
    display: block;
    margin-bottom: 24px;
    text-align: center;
  }
}