.communicator.link {
  &.communicator-link-label {
    justify-content: flex-start;
    text-transform: none;
    
    &.active {
      background-color: $communicator-link-label-active-background;
    }
  }
}