@import "../../base/colors";
@import "../../base/breakpoints";
@import "../../base/mixins";

.communicator.text {
  &.communicator-text-title {
    color: $color-communicator-text-title;
  }
  &.communicator-text-current-folder {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: none;
    height: 34px;
    line-height: 34px;
    
    @include breakpoint-down($breakpoint-portrait-pad){
      display: inline-block;
    }
  }
  &.communicator-text-username {
    display: inline-block;
  }
  &.communicator-text-date {
    display: inline-block;
    opacity: 0.75;
    font-style: italic;
    float: right;
  }
  &.communicator-text-body {
    display: inline-block;
    @include breakpoint-up($breakpoint-landscape-pad){
      padding-left: 30px;
    }
  }
}