$application-panel-navigation-height: 45px;

$application-panel-internal-navigation-padding: 10px;

.application-panel {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 70px;
  
  @include breakpoint-down($breakpoint-portrait-pad){
    padding-top: 70px;
    padding-bottom: 0;
  }

  .application-panel-container {
    max-width: $breakpoint-max-usable-screen;
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
    flex-direction: column;
    display: flex;
    
    .application-panel-navigation {
      width: 100%;
      height: $application-panel-navigation-height;
      display: flex;
      position: relative;
      
      @include breakpoint-down($breakpoint-portrait-pad){
        display: none;
      }
    }
    
    .application-panel-box {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
    }
    
    .application-panel-body {
      display: flex;
      flex: 1 1 auto;
      align-items: stretch;
    }
    
    .application-panel-box {
      background-color: $color-application-panel-box-background;
      border: solid 1px $color-application-panel-box-border;
      display: flex;
      
      @media screen and (max-width: $breakpoint-max-usable-screen){
        border-left: 0;
        border-right: 0;
      }
      
      .application-panel-navigation {
        display: flex;
      
        & > * {
          padding: $application-panel-internal-navigation-padding;
          
          @include breakpoint-down($breakpoint-portrait-pad){
            background-color: $color-default-body;
            border-bottom: solid 1px $color-application-panel-box-border;
          }
          
          @include breakpoint-up($breakpoint-landscape-pad){
            &:after {
              content:''; 
              left: $application-panel-internal-navigation-padding;
              right: $application-panel-internal-navigation-padding;
              height: 1px;
              position: absolute; 
              bottom: 0;
              border-bottom: solid 1px $color-application-panel-box-border;
            }
          }
        }
      }
    }
    
    .application-panel-left-container,
    .application-panel-right-container {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
      
    .application-panel-right-container > * {
      float: right;
    }
      
    @include breakpoint-down($breakpoint-portrait-pad){
      .application-panel-left-container {
        display: none;
      }
    }
      
    .application-panel-left-container {
      position: relative;
      flex: 0 0 auto;
    }
      
    .application-panel-right-container {
      position: relative;
      flex: 1 1 auto;
    }
    
  }
}