@import "../base/colors";
@import "../base/mixins";
@import "../base/breakpoints";

.application-list {
  
  .application-list-item {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    
    .application-list-item-header, .application-list-item-body, .application-list-item-footer {    
    }

    &:not(:first-child) {
      margin-top: 5px;
    }    
    &:hover, &.hover {
      background-color: $color-application-list-item-background-hover;
    }
    
    &:active, &.active {
      background-color: $color-application-list-item-background-active;
    }
    
    &.selected {
      background-color: $color-application-list-item-background-selected;
    }
  }
  
  @include breakpoint-down($breakpoint-portrait-pad){
    &.application-list-select-mode .application-list-item:not(.selected) {
      opacity: 0.5;
    }
  }
}