$application-panel-internal-navigation-padding: 10px;

.application-panel {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 70px 0 20px 0;
  
  @include breakpoint-down($breakpoint-portrait-pad){
    padding-bottom: 0;
  }
  
  .application-panel-helper-container{
    width: 220px;  
    margin-left: 15px;
    padding: 10px 0;
    
    @include breakpoint-down($breakpoint-portrait-pad){
      display: none;
    }
  }
  
  .application-panel-main-container {
  	display: flex;
    flex: 1  1 auto;
    margin: 0 15px 0 25px;
    padding: 10px 0;
    flex-direction: row;
    position: relative;
  }
  
  .application-panel-container {
    max-width: $breakpoint-max-usable-screen;
    overflow: visible;
    flex-direction: column;
    display: flex;
    width:100%;
    height: 100%;
    
    .application-panel-header {
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      justify-content: space-between;
      
      @include breakpoint-down($breakpoint-portrait-pad){
        display: none;
      }
      
      .application-panel-main-container {
        display: flex;
        justify-content: flex-end;
        margin-right: 0;
      }
    }  
  }
  
  .application-panel-body {
    background-color: $color-application-panel-box-background;
    border: solid 1px $color-application-panel-box-border;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    @media screen and (max-width: $breakpoint-max-usable-screen){
      border-left: 0;
      border-right: 0;
    }
    
    .application-panel-actions {
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      justify-content: space-between;
      
      .application-panel-helper-container {
        border-bottom: 1px solid $color-communicator-application-panel-actions-border;
      }
      
      .application-panel-main-container {
        border-bottom: 1px solid $color-communicator-application-panel-actions-border;  
      }
    }

    .application-panel-content {
      display: flex;
      flex-direction: row;
      height: 100%;

      .application-panel-helper-container{
        padding: 0;
        overflow: auto;
        
        &::-webkit-scrollbar { 
          display: none; 
        }
       
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow: -moz-scrollbars-none;
      }
     
      .application-panel-main-container {
      	padding: 0;
      	margin: 0;
      	&::-webkit-scrollbar { 
          display: none; 
        }
        -ms-overflow-style: -ms-autohiding-scrollbar;
        overflow: -moz-scrollbars-none;
      }
    }
  }
}