//
// There are three types of buttons here
//
// Standard button
//
//   a.button
//   [ | button-dynamic-height | button-dynamic-word-break | button-dynamic-word-break-full-width].
//   [ | button-right | button-left]
//   [ | {theme}]
//    span
//       (BODY)
//
//  a.button-pill[ | {theme}]
//    span
//      (BODY)
//
//  a.button-social.icon.icon-[?]
//

@import "../base/colors";
@import "../base/mixins";

$button-font-family: "Exo 2", Arial, sans-serif;
$button-default-height: 27px;
$button-default-font-size: 15px;

.button {
  @include prefix(user-select, moz o ms webkit, none);
  @include prefix(transition, moz o ms webkit, background-color 0.3s);
  background-color: $color-button-default-background;
  border-radius: 2px;
  cursor: pointer;
  color: $color-button-default-text;
  display: inline-block;
  font-family: $button-font-family;
  font-size: $button-default-font-size;
  height: $button-default-height;
  line-height: $button-default-height;
  overflow: hidden;
  padding: 0 $button-default-font-size;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  
  &.button-primary {
    background-color: $color-button-primary-background;
    color: $color-button-primary-text;
    
    &:hover, &.hover {
      background-color: darken($color-button-primary-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-button-primary-background, 20%);
    }
  }
  
  &.button-primary {
    background-color: $color-button-primary-background;
    color: $color-button-primary-text;
    
    &:hover, &.hover {
      background-color: darken($color-button-primary-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-button-primary-background, 20%);
    }
  }
  
  &.button-warn {
    background-color: $color-button-warn-background;
    color: $color-button-warn-text;
    
    &:hover, &.hover {
      background-color: darken($color-button-warn-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-button-warn-background, 20%);
    }
  }
  
  &.button-info {
    background-color: $color-button-info-background;
    color: $color-button-info-text;
    
    &:hover, &.hover {
      background-color: darken($color-button-info-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-button-info-background, 20%);
    }
  }
  
  &.button-fatal {
    background-color: $color-button-fatal-background;
    color: $color-button-fatal-text;
    
    &:hover, &.hover {
      background-color: darken($color-button-fatal-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-button-fatal-background, 20%);
    }
  }
  
  &.button-error {
    background-color: $color-button-error-background;
    color: $color-button-error-text;
    
    &:hover, &.hover {
      background-color: darken($color-button-error-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-button-error-background, 20%);
    }
  }
  
  &.button-success {
    background-color: $color-button-success-background;
    color: $color-button-success-text;
    
    &:hover, &.hover {
      background-color: darken($color-button-success-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-button-success-background, 20%);
    }
  }
  
  &.button-loading {
    background-color: $color-button-loading-background;
    color: $color-button-loading-text;
    
    &:hover, &.hover {
      background-color: darken($color-button-loading-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-button-loading-background, 20%);
    }
  }
  
  &.button-secondary {
    background-color: $color-button-secondary-background;
    color: $color-button-secondary-text;
    
    &:hover, &.hover {
      background-color: darken($color-button-secondary-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-button-secondary-background, 20%);
    }
  }
  
  &.button-inverse {
    background-color: $color-button-inverse-background;
    color: $color-button-inverse-text;
    
    &:hover, &.hover {
      background-color: darken($color-button-inverse-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-button-inverse-background, 20%);
    }
  }

  &.button-dynamic-height {
    height: auto;
    overflow-wrap: break-word;
    white-space: normal;
    width: 100%;
  }

  &.button-dynamic-word-break {
    height: auto;
    white-space: auto;
    width: auto;

    > span {
      display: table-caption;
    }
  }

  &.button-dynamic-word-break-full-width {
    height: auto;
    width: 100%;

    > span {
      display: table-caption;
    }
  }

  &.button-dynamic-height,
  &.button-dynamic-word-break,
  &.button-dynamic-word-break-full-width {
    line-height: $button-default-font-size;
    padding: #{$button-default-font-size / 2} $button-default-font-size;
  }

  &.button-right {
    text-align: right;
  }

  &.button-left {
    text-align: left;
  }
}

$button-pill-font-family: "Exo 2", Arial, sans-serif;

$button-pill-size: 34px;
$button-pill-font-size: 16px;

.button-pill {
  @include prefix(user-select, moz o ms webkit, none);
  @include prefix(transition, moz o ms webkit, background-color 0.3s);
  background-color: $color-button-pill-background;
  border-radius: $button-pill-size;
  color: $color-button-pill-text;
  cursor: pointer;
  display: inline-block;
  font-family: $button-pill-font-family;
  font-size: $button-pill-font-size;
  height: $button-pill-size;
  line-height: $button-pill-size;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: $button-pill-size;
  
  &:hover, &.hover {
    background-color: darken($color-button-pill-background, 10%);
  }
  
  &:active, &.active {
    background-color: darken($color-button-pill-background, 20%);
  }
}

$button-social-size: 40px;

.button-social {
  @include prefix(transition, moz ms o webkit, color 0.3s, background-color 0.3s);
  @include prefix(user-select, moz ms o webkit, none);
  background-color: $color-button-social-default-background;
  border-radius: $button-social-size;
  color: $color-button-social-default-text;
  cursor: pointer;
  display: inline-block;
  font-family: muikku;
  font-variant: normal;
  height: $button-social-size;
  line-height: $button-social-size;
  speak: none;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  width: $button-social-size;

  &:hover,
  &.hover,
  &:active,
  &.active {
    background-color: $color-button-social-highlight-background;
    color: $color-button-social-highlight-text;
  }
}
