//
// A default nice looking card designed to be inside a container
//
// div.card
//    img.card-image?
//    div.card-content?
//      div.card-title
//      div.card-text
//    div.card-footer?
//

@import "../base/colors";
@import "../base/breakpoints";
@import "../base/mixins";

$card-font-family: "Exo 2", Arial, sans-serif;

.card {
  background-color: $color-card-default-background;
  border: solid 1px $color-card-default-border;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  font-family: $card-font-family;
  height: 100%;
  min-height: 45px;
  overflow: hidden;
  width: 100%;

  .card-image {
    position: relative;
    width: 100%;
  }

  .card-content {
    color: $color-card-default-text;
    flex-grow: 1;
    font-weight: 400;
    line-height: 1.15;
    min-height: 118px;
    padding: 20px 20px 10px;
    position: relative;
    text-align: left;
    width: 100%;

    .card-title {
      font-size: 26px;
      font-weight: 300;
      line-height: 1;
      overflow: hidden;
      padding-bottom: 20px;
      text-overflow: ellipsis;
      text-transform: uppercase;

      @include breakpoint-down($breakpoint-landscape-pad) {
        font-size: 20px;
      }
    }
  }

  .card-footer {
    padding: 0 20px 20px;
    position: relative;
    text-align: left;
    width: 100%;
  }
}
