//
// Basic feed list for RSS feeds
//
// ul.feed
//   li.feed-item
//     span.feed-item-description
//       a
//         (BODY)
//       (BODY)
//     span.feed-item-date
//       (BODY)
//

@import "../base/colors";
@import "../base/mixins";

$feed-font-family: "Exo 2", Arial, sans-serif;

.feed {
  color: $color-feed-default-text;
  font-family: $feed-font-family;
  font-size: 14px;
  font-weight: 300;
  list-style-type: none;
  width: 100%;

  .feed-item-description {
    display: block;
    line-height: 20px;
    margin-bottom: 6px;
    width: 100%;

    a {
      @include prefix(transition, webkit ms o moz, color 0.3s);
      color: $color-feed-default-text;
      display: inline;
      font-weight: 600;
      margin-right: 4px;
      text-decoration: none;
      text-transform: none;

      &:hover,
      &:active,
      &.hover,
      &.active {
        color: $color-primary-background;
      }
    }
  }

  .feed-item-date {
    color: $color-feed-default-date;
    display: block;
    margin-bottom: 20px;
  }
}
