//
// A hero section for the site
//
//   header.hero
//    div.hero-wrapper
//      div.hero-item...
//        (BODY)
//

@import "../base/breakpoints";
@import "../base/colors";

.hero {
  background: url("/gfx/of-site-header-background.png") no-repeat center center $color-hero-default-background;
  background-size: cover;
  display: block;
  height: 520px;
  width: 100%;

  >.hero-wrapper {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: $breakpoint-max-usable-screen;
    padding: 24px;
    position: relative;

    >.hero-item {
      align-items: center;
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }
  }

  @include breakpoint-down($breakpoint-landscape-pad) {
    background-image: url("/gfx/of-site-header-background-mobile.jpg");
    height: auto;

    .hero-wrapper {
      flex-direction: column;
      padding: 24px 0 0;

      .hero-item {
        padding: 0 24px 24px;
        width: 100%;
      }
    }
  }
}
