//
// Standard logo for different usages
//
// img.logo[ | .logo-medium | .logo-large | .logo-small ]
//

@import "../base/colors";

$logo-default-size: 80px;

.logo {
  display: block;
  height: $logo-default-size;
  position: relative;
  overflow: hidden;
}
