//
// This element is a navbar for the muikku theme
//
//   nav.navbar
//     div.navbar-wrapper
//       div.navbar-logo
//       div.navbar-items
//         ul.navbar-items-container
//           li.navbar-item
//             (BODY)
//       div.navbar-default-options?
//         div.navbar-default-options-container
//           (BODY)
//

@import "../base/mixins";
@import "../base/colors";
@import "../base/breakpoints";

$navbar-height: 70px;
$navbar-font: 'Exo 2', Arial, sans-serif;

.navbar {
  background-color: $color-navbar-default-background;
  box-shadow: 0 0 10px $color-navbar-default-shadow;
  box-sizing: border-box;
  color: $color-navbar-default-text;
  font-family: $navbar-font;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9;

  .navbar-logo {
    background: url("/gfx/of-site-logo-text.png") no-repeat center center;
    display: inline-block;
    height: $navbar-height;
    width: 175px;
  }

  .navbar-wrapper {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    height: $navbar-height;
    margin: 0 auto;
    max-width: 1280px;

    .navbar-logo {
      background: none;
      flex: 0 0 auto;
      width: 10px;

      @include breakpoint-up($breakpoint-wide-screen) {
        background: url("/gfx/of-site-logo-text.png") no-repeat center center;
        width: 175px;
      }
    }

    .navbar-items {
      flex: 1 0 auto;
      height: 100%;
      position: relative;

      .navbar-items-container {
        display: block;
        height: $navbar-height;
        line-height: $navbar-height;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        white-space: nowrap;
      }
    }

    .navbar-item {
      display: inline-block;
      height: $navbar-height;
      line-height: $navbar-height;
      margin: 0;
      vertical-align: top;
    }

    .navbar-default-options {
      flex: 0 0 auto;

      .navbar-default-options-container {
        align-items: center;
        display: flex;
        height: $navbar-height;
        justify-content: center;
      }
    }

  }

}
