@import "../base/colors";
@import "../base/breakpoints";
@import "../base/mixins";

.panel {
  position: relative;
  padding: 10px;
  overflow: visible;
  
  &::before {
    z-index: -1;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-panel-background;
    border: solid 1px $color-panel-border;
  }
}