//
// Simple separator
//
// div.separator.separator-[color]
//

@import "../base/colors";
@import "../base/mixins";

.separator {
  @include color-theme-simple(separator);
  display: block;
  height: 50px;
  width: 100%;
}
