//
// Simple text and text sizing and styles
//
//  .text[ | .text-small | .text-medium | .text-large | .text-extra-large | .text-extra-extra-large | .text-banner ]
//    [ | .text-inline | .text-inline-block]
//    [ | .text-extra-thin| .text-thin | .text-normal | .text-thick | .text-bold | .text-extra-bold ]
//    [ COLORMAPPING ]
//    [ | .text-shadowed | .text-extra-shadowed]
//    [ | .text-uppercase | .text-lowercase]
//    [ | .text-left | .text-right | .text-centered | .text-justify ]
//    [ | .text-full]
//    [ | .text-responsive ]
//

@import "../base/colors";
@import "../base/mixins";
@import "../base/breakpoints";

$text-font-family: "Exo 2", Arial, sans-serif;

.text {
  color: $color-text-default;
  display: block;
  font-family: $text-font-family;
  font-weight: 400;
  position: relative;
  text-align: left;
  
  a {
    color: $color-text-link;
  }

  b {
    font-weight: 600;
  }

  &.text-icon, .text-icon {
    font-family: muikku;
    speak: none;
  }

  &.text-multiparagraph {
    p {
      margin: 17px 0;
    }
  }

  &.text-inline {
    display: inline;
  }

  &.text-inline-block {
    display: inline-block;
  }

  &.text-uppercase {
    text-transform: uppercase;
  }

  &.text-lowercase {
    text-transform: lowercase;
  }

  &.text-full {
    width: 100%;
  }
  
  &.text-one-liner {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  &.text-panel-application-title {
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    
    @media (max-width: $breakpoint-max-usable-screen){
      padding-left: 10px;
    }
  }
}
