/*
 * There are three types of buttons here
 *
 * Standard button
 *
 * 	a.button[ | .button-large | .button-medium | .button-small ]
 *          [ | .button-dynamic-height | .button-dynamic-word-break | .button-dynamic-word-break-full-width ]
 * 			[ | .button-soft | .button-hard | .button-extra-soft]
 *          [ | .button-primary | .button-secondary | .button-success | .button-info | .button-warn | .button-fatal | .button-strong]
 *			[ | .button-centered | .button-right | .button-left ]
 *		span
 * 			(BODY)
 *
 *	a.button-pill[ | .button-pill-primary | .button-pill-secondary | .button-pill-success 
 *					| .button-pill-info | .button-pill-warn | .button-pill-fatal | .button-pill-strong]
 *		span
 *			(BODY)
 */
 
@import "../base/colors";
@import "../base/mixins";

$button-font-family: "Exo 2", Arial, sans-serif;

$button-small-height: 21px;
$button-small-font-size: 12px;

$button-medium-height: 27px;
$button-medium-font-size: 15px;

$button-large-height: 33px;
$button-large-font-size: 17px;

a.button {
	font-family: $button-font-family;
	border-radius: 2px;
	position: relative;
	text-transform: uppercase;
	vertical-align: center;
	display: inline-block;
	text-decoration: none;
	@include prefix(user-select, moz o ms webkit, none);
	
	//button medium
	font-size: $button-medium-font-size;
	height: $button-medium-height;
	line-height: $button-medium-height;
	padding: 0 #{$button-medium-font-size};

	&.button-large {
		font-size: $button-large-font-size;
		height: $button-large-height;
		line-height: $button-large-height;
		padding: 0 #{$button-large-font-size};
	}
	
	&.button-medium {
	}
	
	&.button-small {
		font-size: $button-small-font-size;
		height: $button-small-height;
		line-height: $button-medium-height;
		padding: 0 #{$button-small-font-size};
	}
	
	&.button-dynamic-height {
		width: 100%;
		height: auto;
		overflow-wrap: break-word;
	}
	&.button-dynamic-word-break {
		height: auto;
		width: auto;
		& > span {
			display: table-caption;
		}
	}
	&.button-dynamic-word-break-full-width {
		height: auto;
		width: 100%;
		& > span {
			display: table-caption;
		}
	}
	
	&.button-dynamic-height, &.button-dynamic-word-break, &.button-dynamic-word-break-full-width {
		padding: #{$button-medium-font-size/2} #{$button-medium-font-size};
		line-height: $button-medium-font-size;
		
		&.button-small {
			padding: #{$button-small-font-size/2} #{$button-small-font-size};
			line-height: $button-small-font-size;
		}
		&.button-medium {
		}
		&.button-large {
			padding: #{$button-large-font-size/2} #{$button-large-font-size};
			line-height: $button-large-font-size;
		}
	}
	
	&.button-extra-soft {
		border-radius: 5px;
	}
	
	&.button-soft {
	}
	
	&.button-hard {
		border-radius: 0;
	}
	
	&.button-primary {
		@include colormapping($color-primary-background, $color-primary-text);
	}
	
	&.button-secondary {
		@include colormapping($color-secondary-background, $color-secondary-text);
	}
	
	&.button-success {
		@include colormapping($color-success-background, $color-success-text);
	}
	
	&.button-info {
		@include colormapping($color-info-background, $color-info-text);
	}
	
	&.button-warn {
		@include colormapping($color-warn-background, $color-warn-text);
	}
	
	&.button-fatal {
		@include colormapping($color-fatal-background, $color-fatal-text);
	}
	
	&.button-strong {
		@include colormapping($color-strong-background, $color-strong-text);
	}
	
	text-align: center;
	&.button-centered {
	}
	&.button-right {
		text-align: right;
	}
	&.button-left {
		text-align: left;
	}
}

$button-pill-size: 34px;
$button-pill-font-size: 16px;
$button-pill-font-family: "Exo 2", Arial, sans-serif;

a.button-pill {
	width: $button-pill-size;
	height: $button-pill-size;
	border-radius: $button-pill-size;
	text-align: center;
	font-size: $button-pill-font-size;
	text-transform: uppercase;
	position: relative;
	vertical-align: center;
	display: inline-block;
	line-height: $button-pill-size;
	font-family: $button-pill-font-family;
	cursor: pointer;
	@include prefix(user-select, moz o ms webkit, none);

	&.button-pill-primary {
		@include colormapping($color-primary-background, $color-primary-text);
	}
	
	&.button-pill-secondary {
		@include colormapping($color-secondary-background, $color-secondary-text);
	}
	
	&.button-pill-success {
		@include colormapping($color-success-background, $color-success-text);
	}
	
	&.button-pill-info {
		@include colormapping($color-info-background, $color-info-text);
	}
	
	&.button-pill-warn {
		@include colormapping($color-warn-background, $color-warn-text);
	}
	
	&.button-pill-fatal {
		@include colormapping($color-fatal-background, $color-fatal-text);
	}
	
	&.button-pill-strong {
		@include colormapping($color-strong-background, $color-strong-text);
	}
}