@import "../base/colors";
@import "../base/mixins";

$feed-font-family: "Exo 2", Arial, sans-serif;

.feed {
	width: 100%;
	list-style-type: none;
	font-family: $feed-font-family;
	font-size: 14px;
	color: $color-feed-default-text;
	font-weight: 300;

	.feed-item-description {
		display: block;
		width: 100%;
		text-align: justify;
		margin-bottom: 6px;
		line-height: 20px;

		a {
			margin-right: 4px;
			font-weight: 600;
			display: inline;
			text-transform: none;
			text-decoration: none;
			color: $color-feed-default-text;
			@include prefix(transition, webkit ms o moz, color .3s);
			
			&:hover, &:active {
				color: $color-primary-background;
			}
		}
	}
	
	.feed-item-date {
		color: $color-feed-default-date;
		margin-bottom: 20px;
		display: block;
	}
}