@import "../base/breakpoints";
@import "../base/colors";

$footer-height: 320px;

.footer {
  align-items: center;
  background-color: $color-footer-default-background;
  display: flex;
  height: $footer-height;
  justify-content: center;
  text-align: center;
  width: 100%;

  .footer-container {
    align-items: center;
    display: flex;
    height: $footer-height;
    justify-content: center;
    max-width: $breakpoint-max-usable-screen;
    position: relative;
    width: 100%;

    .footer-item {
      flex: 1 0 auto;
      height: $footer-height;
      padding: 40px;
      position: relative;
    }
  }

  @media screen and (max-width: $breakpoint-portrait-pad-max) {
    height: auto;

    .footer-container {
      flex-direction: column;
      height: auto;

      .footer-item {
        height: auto;
      }
    }
  }
}
