/*
 * Defines a link and its structure, links can be icons and can use the icon element class
 *
 * 	a.link[ | .link-icon | .link-highlight | .link-clear | .link-strong][ | .link-full]
 *		span
 *			(BODY)
 *
**/

@import "../base/colors.scss";
@import "../base/mixins.scss";

.link {
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: border 0.5s ease-in-out;
	color: $color-link-default-text;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	@include prefix(transition, moz ms webkit o, background-color .3s);
	
	&.link-icon {
		font-size: 26px;
		font-family: muikku;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: none;
		text-transform: none;
		@include prefix(font-smoothing, webkit moz o ms, antialiased);
	}
	
	&.link-full {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 10px;
		justify-content: center;
	}
				
	&.link-highlight {
		color: $color-link-highlight-text;
		background-color: $color-link-highlight-background;
	}
			
	&.link-clear {
		color: $color-link-clear-text;
		background-color: $color-link-clear-background;
	}
				
	&.link-strong {
		color: $color-link-strong-text;
		background-color: $color-link-strong-background;
	}
      
	&:hover {
		color: $color-link-hover-text;
		background-color: $color-link-hover-background;
	}
      
	&:active {
		color: $color-link-active-text;
		background-color: $color-link-active-background;
	}
}