/**
 * In order for menu to work properly you need to include the js for menu in the interactions
 * folder otherwise it'll be always hidden, you need to add the data-interact-menu="#menuid" property
 * for it to display
 *
 *	div.menu
 *		div.menu-container
 *			div.menu-header?
 *				(BODY)
 *			div.menu-body
 *				(BODY)
 *			div.menu-footer?
 *				(BODY)
 *
 *		{BODY} div.menu-logo
 *
**/

@import "../base/colors";
@import "../base/mixins";
@import "../base/breakpoints";

$menu-width-pad: 350px;
$menu-width-mobile: 250px;
$menu-font: 'Exo 2',Arial,sans-serif;

.menu {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: $color-overlay-background;
	z-index: 99;
	font-family: $menu-font;
	display: none;
	opacity: 0;
	@include prefix(transition, moz webkit ms o, opacity .3s);
	
	.menu-logo {
		width: 175px;
		background: url('/gfx/of-site-logo-text.png') no-repeat center center;
		display: inline-block;
		height: 70px;
	}
	
	&.menu-hidden {
		left: -$menu-width-mobile;
	}
		
	>.menu-container {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		@include prefix(transition, webkit moz o ms, left .3s);
			
		>* {
			margin: 17px 0 17px 0;
			text-align: center;
		}
			
		>*:fist-child {
			margin-top: 23px;
		}
			
		@include small-mobile {
			&>div {
				margin: 11px 0 11px 0;
			}
		}
			
		background-color: $color-menu-default-background;
		border-right: solid 1px darken($color-menu-default-background, 30%);

		>.menu-header {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			flex-direction: column;
		}
			
		>.menu-body {
			width: 100%;
			position: relative;
		}
		
		>.menu-footer {
		}
		
		.menu-items {
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 100%;
					
			>.menu-item {
				display: block;
				height: 70px;
			}
		}
	}
	
	//Width decisions
	& > .menu-container {
		width: $menu-width-pad;
		left: -$menu-width-pad;
	}
	
	@include medium-mobile {
		& > .menu-container {
			width: $menu-width-mobile;
			left: -$menu-width-mobile;
		}
	}
	@include small-mobile {
		& > .menu-container {
			width: $menu-width-mobile;
			left: -$menu-width-mobile;
		}
	}
	
	&.menu-_displayed_ {
		display: block;
	}
	
	&.menu-_visible_ {
		>.menu-container {
			left: 0;
		}
		opacity: 1;
	}
	
	&.menu-_dragging_ {
		>.menu-container {
			transition: none;
		}
		transition: none;
	}
}