/*
 * This element is a navbar for the muikku theme
 *
 * 	nav.navbar
 * 		div.navbar-wrapper
 *			div.navbar-logo
 *			div.navbar-items
 *				ul.navbar-items-container
 *					li.navbar-item.navbar-visible[wide-screen | wide-screen-and-medium-screen | medium-screen | pad | landscape-pad | portrait-pad | mobile | small-mobile]
 *						a
 *							span.[ | navbar-icon].[ | navbar-highlight-item | navbar-dark-item | navbar-clear-item ]
 *			div.navbar-default-options?
 *				div.navbar-default-options-container
 *					*.navbar-visible[wide-screen | wide-screen-and-medium-screen | medium-screen | pad | landscape-pad | portrait-pad | mobile | small-mobile]
 */
 
@import "../base/mixins.scss";
@import "../base/colors.scss";
@import "../base/breakpoints.scss";

$navbar-height: 70px;
 
nav.navbar {
	background-color: $navbar-default-background-color;
	box-shadow: 0 0 10px $navbar-default-background-color;
	box-sizing: border-box;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9;
	font-family: 'Exo 2',Arial,sans-serif;
  
	>.navbar-wrapper {
		align-items: stretch;
		display: flex;
		flex-flow: row nowrap;
		margin: 0 auto;
		max-width: 1280px;
		height: $navbar-height;
		
		>.navbar-logo {
			flex: 0 0 auto;
			height: $navbar-height;
			width: 10px;
			
			@include wide-screen {
				& {
					width: 175px;	
					background: url('/gfx/of-site-logo-text.png') no-repeat center center;
				}
			}
		}
		
		>.navbar-items {
			flex: 1 0 auto;
			height: 100%;
			
			>ul.navbar-items-container {
				list-style-type: none;
				margin: 0;
				padding: 0;
				height: $navbar-height;
			}
		}
		
		>.navbar-default-options {
			flex: 0 0 auto;	
			
			>div.navbar-default-options-container {
				align-items: center;
				display: flex;
				height: $navbar-height;
				justify-content: center;
			}
		}
		
		li.navbar-item {
			margin: 0;
			padding: 0;
			display: inline-block;
			padding: 0 10px;
			line-height: $navbar-height;
			vertical-align: top;

			a {
				box-sizing: border-box;
				color: $navbar-default-item-color;
				display: flex;
				font-size: 15px;
				font-weight: 400;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				transition: border 0.5s ease-in-out;
				height: $navbar-height;
				justify-content: center;
				align-items: center;
      
				>span.navbar-icon {
					display: inline-block;
					font-size: 26px;
					font-family: muikku;
					speak: none;
					font-style: normal;
					font-weight: normal;
					font-variant: none;
					text-transform: none;
					line-height: 1;
					@include prefix(font-smoothing, web moz o ms, antialiased);
				}
				
				>span.navbar-highlight-item {
					color: $navbar-default-item-highlight-color;
				}
				
				>span.navbar-clear-item {
					color: $navbar-default-item-clear-color;
				}
				
				>span.navbar-dark-item {
					color: $navbar-default-item-clear-color;
				}
      
				&:hover {
					color: $navbar-default-item-selected-color;
				}
      
				&:active {
					color: $navbar-default-item-selected-color;
				}
      
    		}
    		
		}//navbar-item
		
	}//navbar-wrapper
	
	>.navbar-menu {
		position: fixed;
		top: 0;
		bottom: 0;
		width: 250px;
	}
}