/*
 * This element is a navbar for the muikku theme
 *
 * 	nav.navbar
 * 		div.navbar-wrapper
 *			div.navbar-logo
 *			div.navbar-items
 *				ul.navbar-items-container
 *					li.navbar-item
 *						(BODY)
 *			div.navbar-default-options?
 *				div.navbar-default-options-container
 *					(BODY)
 */
 
@import "../base/mixins";
@import "../base/colors";
@import "../base/breakpoints";

$navbar-height: 70px;
$navbar-font: 'Exo 2',Arial,sans-serif;

.navbar {
	background-color: $color-navbar-default-background;
	box-shadow: 0 0 10px $color-navbar-default-background;
	color: $color-navbar-default-text;
	box-sizing: border-box;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9;
	font-family: $navbar-font;
	
	.navbar-logo {
		width: 175px;
		background: url('/gfx/of-site-logo-text.png') no-repeat center center;
		display: inline-block;
		height: $navbar-height;
	}
  
	>.navbar-wrapper {
		align-items: stretch;
		display: flex;
		flex-flow: row nowrap;
		margin: 0 auto;
		max-width: 1280px;
		height: $navbar-height;
		
		>.navbar-logo {
			flex: 0 0 auto;
			width: 10px;
			background: none;
			
			@include wide-screen {
				& {
					width: 175px;
					background: url('/gfx/of-site-logo-text.png') no-repeat center center;
				}
			}
		}
		
		>.navbar-items {
			position: relative;
			flex: 1 0 auto;
			height: 100%;
			
			>.navbar-items-container {
				position: relative;
				list-style-type: none;
				margin: 0;
				padding: 0;
				height: $navbar-height;
				line-height: $navbar-height;
				display: block;
				white-space: nowrap;
				overflow: hidden;
				
				>.navbar-item {
					margin: 0;
					display: inline-block;
					line-height: $navbar-height;
					height: $navbar-height;
					vertical-align: top;
				}
			}
		}
		
		>.navbar-default-options {
			flex: 0 0 auto;	
			
			>.navbar-default-options-container {
				align-items: center;
				display: flex;
				height: $navbar-height;
				justify-content: center;
			}
		}
		
	}//navbar-wrapper
}