//
// Provides the max screen sizer container for insane screens
//
//   div.scren-container
//    div.screen-container-wrapper
//      (BODY)
//

@import "../base/breakpoints";

.screen-container {
  display: block;
  text-align: center;
  width: 100%;

  .screen-container-wrapper {
    display: inline-block;
    max-width: $breakpoint-max-usable-screen;
    width: 100%;
  }
}
