//
// Provides the max screen sizer container for insane screens
//
//   div.scren-container
//    div.screen-container-wrapper
//      (BODY)
//

@import "../base/breakpoints";

.screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .screen-container-wrapper {
    max-width: $breakpoint-max-usable-screen;
    width: 100%;
  }
}
