/**
 * Provides the max screen sizer container for insane screens
 *
 * 	div.scren-container
 *		div.screen-container-wrapper
 *			(BODY)
 *
**/

@import "../base/breakpoints";

.screen-container {
	width: 100%;
	text-align: center;
	display: block;
	
	.screen-container-wrapper {
		width: 100%;
		max-width: $breakpoint-max-usable-screen;
		display: inline-block;
	}
}