/*
 * When you have a design sometimes it's annoying to just have to style stuff to create spacing between elements
 * So that's why spacers are a thing, they are very simple yet functional
 *
 * .spacer.spacer-[horizontal | vertical](.spacer[small | medium | large])?
**/

$spacer-small-space: 15px;
$spacer-medium-space: 21px;
$spacer-larget-space: 27px;

*.spacer {
	&.spacer-vertical {
		display: block;
		height: $spacer-medium-space;
		
		&.spacer-small {
			height: $spacer-small-space;
		}
		
		&.spacer-medium {
		}
		
		&.spacer-large {
			height: $spacer-small-space;
		}
	}
	
	&.spacer-horizontal {
		display: inline-block;
		width: $spacer-medium-space;
		
		&.spacer-small {
			width: $spacer-small-space;
		}
		
		&.spacer-medium {
		}
		
		&.spacer-large {
			width: $spacer-small-space;
		}
	}
}