//
// Simple text and text sizing and styles
//
//  .text[ | .text-small | .text-medium | .text-large | .text-extra-large | .text-extra-extra-large | .text-banner ]
//    [ | .text-inline | .text-inline-block]
//    [ | .text-extra-thin| .text-thin | .text-normal | .text-thick | .text-bold | .text-extra-bold ]
//    [ COLORMAPPING ]
//    [ | .text-shadowed | .text-extra-shadowed]
//    [ | .text-uppercase | .text-lowercase]
//    [ | .text-left | .text-right | .text-centered | .text-justify ]
//    [ | .text-full]
//    [ | .text-responsive ]
//

@import "../base/colors";
@import "../base/mixins";
@import "../base/breakpoints";

$text-font-family: "Exo 2", Arial, sans-serif;

.text {
  @include colorapplying-text(text, $color-base-list);
  display: block;
  font-family: $text-font-family;
  font-size: 14px;
  font-weight: 400;
  position: relative;

  &.text-icon {
    font-family: muikku;
    speak: none;
  }

  &.text-banner-description {
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
  }

  &.text-banner-verkko {
    font-size: 48px;
    font-weight: 200;
    line-height: 0.9;
    text-shadow: 0 5px 10px $color-text-banner-shadow;

    @media screen and (max-width: $breakpoint-portrait-pad-max) {
      font-size: 32px;
    }
  }

  &.text-banner-muikku {
    font-size: 48px;
    font-weight: 900;
    line-height: 0.9;
    text-shadow: 0 5px 10px $color-text-banner-shadow;

    @media screen and (max-width: $breakpoint-portrait-pad-max) {
      font-size: 32px;
    }
  }

  &.text-banner-author {
    font-size: 38px;
    font-weight: 200;
    text-transform: uppercase;

    @media screen and (max-width: $breakpoint-portrait-pad-max) {
      font-size: 17px;
    }
  }

  &.text-default-multiparagraph {
    font-size: 17px;

    p {
      margin: 17px 0;
    }

    @media screen and (max-width: $breakpoint-medium-mobile-max) {
      font-size: 15px;

      p {
        margin: 15px 0;
      }
    }
  }

  &.text-default-title {
    font-size: 38px;
    font-weight: 300;
  }

  &.text-responsive-title {
    font-size: 38px;
    font-weight: 300;

    @media screen and (max-width: $breakpoint-portrait-pad-max) {
      font-size: 26px;
    }
  }

  &.text-strong-subtitle {
    font-size: 25px;
    font-weight: 600;
  }

  &.text-default-label {
    font-size: 14px;
    font-weight: 300;
  }

  &.text-strong-label {
    font-size: 14px;
    font-weight: 600;
  }

  &.text-inline {
    display: inline;
  }

  &.text-inline-block {
    display: inline-block;
  }

  &.text-uppercase {
    text-transform: uppercase;
  }

  &.text-lowercase {
    text-transform: lowercase;
  }

  &.text-full {
    width: 100%;
  }
}
