$breakpoint-small-mobile: (false, 320);
$breakpoint-medium-mobile: (320, 450);
$breakpoint-portrait-pad: (450, 768);
$breakpoint-landscape-pad: (768, 1024);
$breakpoint-medium-screen: (1024, 1199);
$breakpoint-wide-screen: (1199, false);

$breakpoint-max-usable-screen: 1280px;

@mixin breakpoint-only($breakpoint) {
  @if (nth($breakpoint, 1) == false){
    @media screen and (max-width: #{nth($breakpoint, 2)}px) {
      @content;
    }
  } @else if (nth($breakpoint, 2) == false) {
    @media screen and (min-width: #{nth($breakpoint, 1) + 1}px) {
      @content;
    }
  } @else {
    @media screen and (min-width: #{nth($breakpoint, 1) + 1}px) and (max-width: #{nth($breakpoint, 2)}px) {
      @content;
    }
  }
}

@mixin breakpoint-down($breakpoint){
  @if (nth($breakpoint, 2) == false){
    @content;
  } @else {
    @media screen and (max-width: #{nth($breakpoint, 2)}px) {
      @content;
    }
  }
}

@mixin breakpoint-up($breakpoint){
  @if (nth($breakpoint, 1) == false){
    @content;
  } @else {
    @media screen and (min-width: #{nth($breakpoint, 1) + 1}px) {
      @content;
    }
  }
}