// Generic
$color-default: #ffffff;
$color-default-contrast: #2c2c2c;
$color-default-item-separator-border: #f2f2f2;
$color-default-separator-border: #ebebeb;
$color-default-helper: #b3b2b2;
$color-default-generic-background: #f2f2f2;
$color-default-lighter-generic-background: #f8f8f8;
$color-yo-sign-up: #75ce41;
$color-yo-sign-up-contrast: $color-default;
$color-inverse: $color-default-contrast;
$color-inverse-contrast: $color-default;
$color-disabled: #b3b2b2;
$color-disabled-background: #ebebeb;
$color-warn: #ea7503;
$color-warn-contrast: $color-default;
$color-notice: #ffce65;
$color-notice-contrast: $color-default;
$color-info: #009fe3;
$color-info-contrast: $color-default;
$color-fatal: #de3211;
$color-fatal-contrast: $color-default;
$color-error: #ff6600;
$color-error-contrast: $color-default;
$color-success: #24c118;
$color-success-contrast: $color-default;
$color-execute: #66b43b;
$color-execute-contrast: $color-default;
$color-clear: #ff6600;
$color-clear-contrast: $color-default;
$color-cancel: #466175;
$color-cancel-contrast: $color-default;
$color-loading: $color-inverse;
$color-loading-contrast: $color-default;
$color-recording: #de3211;
$color-recording-contrast: $color-default;
$color-uploading: #72d200;
$color-uploading-contrast: $color-default;
$color-primary: #009fe3;
$color-primary-contrast: $color-default;
$color-secondary: #72d200;
$color-secondary-contrast: $color-default;
$color-tertiary: #62c3eb;
$color-tertiary-contrast: $color-default;
$color-list-hover-background: #e7fffc;
$color-list-active-background: rgb(208 255 249 / 100%);
$color-list-selected-background: #29b0c4;
$color-priority-high: #de3211;
$color-priority-normal: #24c118;
$color-priority-low: #7391a7;

// Notes
$color-notes-action-button: #7391a7;
$color-suggested: #e464dc;
$color-next: #bd0174;
$color-optional: #97dbf7;
$color-optional-selected: #0099ff;
$color-mandatory: #dbdada;
$color-approval: darken(#24c118, 15%);

// Search
$color-search-clear-icon: $color-disabled;
$color-search-clear-icon-active: $color-fatal;
$color-search-clear-background: #f1f1f1;

// Labels
$color-label-background: #f5f5f5;
$color-label-background-highlight: #f9f1c8;
$color-label-mobile-selected-background: #97e1ef;
$color-label-alert: $color-fatal;

// Workspace
$color-workspace: #2fd4af;
$color-workspace-hero-shadow: rgb(0 0 0 / 10%);

// Ceepos
$color-ceepos-card-shadow: rgb(0 0 0 / 5%);

// ReadSPeaker
$color-readspeaker-selected: #29b0c4;
$color-readspeaker-icon: #737373;

// Meta
$color-meta-workspace-background: $color-default;

// Notifications

$color-notification-type-1: #75ce4a;
$color-notification-type-2: #b1b1b1;
$color-notification-type-3: #c43c38;

// Signature
$color-signature-border: #f2f2f2;
$color-signature-background: #f8f8f8;

// License option container
$color-license-options-background: #f8f8f8;
$color-message-from-workspace-background: #f5f5f5;

// Assignment & Exercise
$color-assignment: #ce01bd;
$color-exercise: #ff9900;
$color-withdrawn: #b3b2b2;
$color-submitted: #009fe3;
$color-view-restricted: $color-fatal;
$color-passed: #24c118;
$color-failed: #de3211;
$color-pending: #009fe3;
$color-incomplete: #ea7503;
$color-example-background: $color-default;
$color-example-border: #9aece0;
$color-example-box-shadow: rgb(0 0 0 / 10%);
$color-journal-entry: #0effe6;
$color-journal-page: #29b0c4;
$color-interim-evaluation: #005f6a;
$color-correct-answer: #43f860;
$color-incorrect-answer: #f64e4e;
$color-disabled-taskfield-border: #e3e3e3;
$color-disabled-taskfield-background: #f5f5f5;
$color-disabled-taskfield-icon: #dddddd;
$color-taskfield-explanation-border: #5ed2ff;
$color-taskfield-explanation-background: #fafeff;
$color-taskfield-hint-border: #d6d823;
$color-taskfield-hint-background: #ffffe1;
$color-mobile-toc-default-shadow: rgb(0 0 0 / 20%);

// Calendar
$color-approved: $color-passed;
$color-declined: $color-failed;
$color-waiting: $color-pending;
$color-approved-background: #caffca;
$color-declined-background: #df7171;
$color-waiting-background: #fbe181;
$color-unconfirmed-background: #f3f3f3;
$color-timeline-background: #f0f0f0;
$color-draggable-event-background: $color-default;

// Evaluation
$color-evaluation-request: $color-submitted;
$color-grade-not-assessed: #b3b2b2;
$color-grade-incomplete: $color-incomplete;
$color-grade-passed: $color-passed;
$color-grade-failed: $color-failed;
$color-task-evaluation: #e2ffe2;
$color-evaluation-modal-background: #f5f5f5;
$color-evaluation-card-border: #dfdfdf;
$color-evaluation-card-header-background: #f8f8f8;
$color-evaluation-modal-meta-background: #f8f8f8;
$color-evaluation-item-border: #ebebeb;
$color-evaluation-readonly-taskfield-background: #ebf7ff;
$color-evaluation-drawer-shadow: rgb(0 0 0 / 70%);

// Wizard
$color-wizard-todo: $color-grade-not-assessed;
$color-wizard-doing: $color-incomplete;
$color-wizard-done: $color-passed;

// Material management
$color-material-edit-panel-shadow: rgb(0 0 0 / 95%);
$color-material-page-admin-panel-main-color: #5db5c5;
$color-material-page-admin-panel-main-hover-color: darken(#5db5c5, 10%);
$color-material-page-admin-panel-section-color: #c0eaf2;
$color-material-page-admin-panel-disabled-color: $color-disabled;
$color-material-page-admin-panel-enabled-color: #36c881;
$color-material-page-admin-panel-members-only-color: #3686c8;
$color-material-page-admin-panel-on-request-color: #62c3eb;
$color-material-page-admin-panel-never-show-answers-color: $color-disabled;
$color-material-page-admin-panel-always-show-answers-color: #36c881;

// Workspace assessment
$color-assessment-pending: #009fe3;
$color-assessment-failed: #de3211;
$color-assessment-incomplete: #ea7503;
$color-assessment-passed: #24c118;
$color-assessment-box-shadow: 0 0 5px rgb(255 255 255 / 80%);

// General
$color-default-body: #f5f5f5;
$color-overlay-background: rgb(0 0 0 / 50%);
$color-disconnect-warning-overlay-background: rgb(0 0 0 / 85%);
$color-executing-background: #ffffff;

// Notification queue
$color-notification-queue-item-container-shadow: rgb(0 0 0 / 30%);
$color-notification-queue-item-border-color: rgb(255 255 255 / 30%);
$color-notification-queue-item-default-background: $color-default;
$color-notification-queue-item-default-text: $color-default-contrast;
$color-notification-queue-item-primary-background: $color-primary;
$color-notification-queue-item-primary-text: $color-primary-contrast;
$color-notification-queue-item-warn-background: $color-warn;
$color-notification-queue-item-warn-text: $color-warn-contrast;
$color-notification-queue-item-notice-background: $color-notice;
$color-notification-queue-item-notice-text: $color-default-contrast;
$color-notification-queue-item-info-background: $color-info;
$color-notification-queue-item-info-text: $color-info-contrast;
$color-notification-queue-item-fatal-background: $color-fatal;
$color-notification-queue-item-fatal-text: $color-fatal-contrast;
$color-notification-queue-item-error-background: $color-error;
$color-notification-queue-item-error-text: $color-error-contrast;
$color-notification-queue-item-success-background: $color-success;
$color-notification-queue-item-success-text: $color-success-contrast;
$color-notification-queue-item-loading-background: $color-loading;
$color-notification-queue-item-loading-text: $color-loading-contrast;
$color-notification-queue-item-secondary-background: $color-secondary;
$color-notification-queue-item-secondary-text: $color-secondary-contrast;
$color-notification-queue-item-inverse-background: $color-inverse;
$color-notification-queue-item-inverse-text: $color-inverse-contrast;
$color-notification-queue-item-close-background: rgb(255 255 255 / 20%);

// Button
$color-button-default-background: $color-default;
$color-button-default-text: $color-default-contrast;
$color-button-primary-background: $color-primary;
$color-button-primary-text: $color-primary-contrast;
$color-button-primary-save-background: $color-execute;
$color-button-primary-save-text: $color-execute-contrast;
$color-button-warn-background: $color-warn;
$color-button-warn-text: $color-warn-contrast;
$color-button-info-background: $color-info;
$color-button-info-text: $color-info-contrast;
$color-button-fatal-background: $color-fatal;
$color-button-fatal-text: $color-fatal-contrast;
$color-button-error-background: $color-error;
$color-button-error-text: $color-error-contrast;
$color-button-success-background: $color-success;
$color-button-success-text: $color-success-contrast;
$color-button-execute-background: $color-execute;
$color-button-execute-text: $color-execute-contrast;
$color-button-clear-background: $color-clear;
$color-button-clear-text: $color-clear-contrast;
$color-button-cancel-background: $color-cancel;
$color-button-cancel-text: $color-cancel-contrast;
$color-button-loading-background: $color-loading;
$color-button-loading-text: $color-loading-contrast;
$color-button-secondary-background: $color-secondary;
$color-button-secondary-text: $color-secondary-contrast;
$color-button-inverse-background: $color-inverse;
$color-button-inverse-text: $color-inverse-contrast;
$color-button-disabled-background: #cccccc;
$color-workspace-signup-readmore-button-background: #ff008d;
$color-appointment-calendar-button-background: #f64e4e;
$color-button-wizard-background: $color-primary;
$color-button-wizard-text: $color-primary-contrast;
$color-button-floating-shadow: rgb(0 0 0 / 25%);

// Profile image button
$color-button-profile-image-edit-delete-background: rgb(0 0 0 / 50%);
$color-button-profile-image-edit-delete-hover-background: rgb(0 0 0 / 90%);

// Icon button theme
$color-icon-button-text: #0fa5e4;

// Button pill theme
$color-button-pill-background: $color-primary;
$color-button-pill-text: $color-default-contrast;
$color-button-pill-background-disabled: #cccccc;
$color-button-pill-text-disabled: $color-default;
$color-button-pill-shadow: rgb(255 255 255 / 40%);

// HOPS
$color-hops-readable-inline-background: #ecfafe;

// Label theme
$color-label-default: $color-inverse;
$color-label-primary: $color-primary;
$color-label-warn: $color-warn;
$color-label-info: $color-info;
$color-label-fatal: $color-fatal;
$color-label-error: $color-error;
$color-label-success: $color-success;
$color-label-loading: $color-loading;
$color-label-secondary: $color-secondary;
$color-label-inverse: $color-default;

// Text
$color-text-default: $color-inverse;
$color-text-link: #0670b7;
$color-text-link-selected: $color-default;
$color-text-secondary: #b3b2b2;

// ToC
$color-toc-item-link-background: $color-default;
$color-toc-item-link-selected-background: #29b0c4;
$color-toc-overlay-mobile-background: rgb(0 0 0 / 25%);

// Separator
$color-separator-background: $color-inverse;

// Links
$color-link-frontpage-text: $color-inverse;
$color-link-highlight-text: #00af00;
$color-link-default-text: #0670b7;
$color-link-inverse-text: $color-default;
$color-link-default-background: rgb(0 0 0 / 0%);
$color-link-highlight-background: rgb(0 0 0 / 0%);
$color-link-hover-background: rgb(0 0 0 / 5%);
$color-link-active-background: rgb(0 0 0 / 10%);
$color-link-inverse-background: invisible;
$color-link-application-item-footer: $color-primary;

// Dropdown
$color-dropdown-default-background: $color-default;
$color-dropdown-default-text: $color-default-contrast;
$color-dropdown-default-shadow: rgb(0 0 0 / 30%);
$color-workspace-dropdown-management-background: #494949;
$color-workspace-dropdown-management-text: $color-default;
$color-workspace-dropdown-management-shadow: rgb(0 0 0 / 30%);

// Bubble
$color-bubble-default-title: $color-primary;
$color-bubble-default-content: $color-inverse;
$color-bubble-default-border: #02a0e3;
$color-bubble-default-highlight-border: $color-warn;
$color-bubble-default-background: $color-default;
$color-bubble-default-shadow: rgb(0 0 0 / 15%);

// Footer
$color-footer-default-background: #454545;
$color-footer-default-text: $color-default;
$color-footer-plagscan-background: #2c2c2c;
$color-workspace-footer-default-background: $color-default;

// License
$color-workspace-license-default-background: #98c807;

// Card
$color-card-default-background: $color-default;
$color-card-default-border: #e2e3e3;
$color-card-default-text: $color-inverse;

// Dialog
$color-dialog-default-background: $color-default;
$color-dialog-mobile-text: $color-inverse;
$color-dialog-desktop-text: $color-default;
$color-dialog-mobile-background: $color-default;
$color-dialog-desktop-background: $color-primary;
$color-dialog-default-title-text: #000000;
$color-dialog-default-shadow: rgb(0 0 0 / 60%);
$color-dialog-wizard-desktop-text: $color-inverse;
$color-dialog-wizard-desktop-background: $color-default;

// Zoom
$color-zoom-image-overlay-background: rgb(0 0 0 / 75%);

// Background
$color-background-container-default-background: #f5f5f5;
$color-background-container-default-text: $color-inverse;

// Social button
$color-button-social-default-background: #454545;
$color-button-social-default-text: $color-default;
$color-button-social-highlight-background: $color-primary;
$color-button-social-highlight-text: $color-default;

// Feed
$color-feed-default-text: $color-inverse;
$color-feed-default-date: #8c8c8c;
$color-feed-item-description-active: $color-primary;
$color-feed-item-image-default-color: $color-primary;

// instagram feed
$color-instagram-feed-shadow-color: rgb(0 0 0 / 15%);
$color-instagram-main-color: #e1306c;

// Carousel
$color-carousel-default-dot-background: #afafaf;
$color-carousel-default-dot-border: $color-default;
$color-carousel-default-dot-active-background: $color-warn;
$color-carousel-focused-dot-active-background: #000000;

// Hero
$color-hero-default-background: #0089c6;
$color-hero-workspace-background: $color-default;
$color-hero-workspace-name-extension-background: $color-default;
$color-hero-workspace-education-type-background: #4ee23a;
$color-hero-default-shadow: rgb(0 0 0 / 25%);

// Logo
$color-frontpage-logo-muikku-verkko-box-shadow: rgb(0 0 0 / 20%);

// panel
$color-panel-background-color: $color-default;
$color-panel-border-color: #e2e2e2;
$color-panel-shadow: rgb(0 0 0 / 5%);
$color-panel-workspace-signup-background: #ff008d;
$color-panel-border: #e2e2e2;

// item list
$color-item-list-item-font-color-active: #ffffff;
$color-item-list-item-background: #ffffff;
$color-item-list-item-background-hover: $color-list-hover-background;
$color-item-list-item-background-active: $color-list-active-background;
$color-item-list-item-aside-background: #f7f7f7;
$color-item-list-item-aside-background-hover: rgb(208 255 249 / 50%);
$color-item-list-item-aside-background-active: rgb(98 174 193);
$color-item-list-icon-font-color: #4c4c4c;

// indicator
$color-indicator-background: $color-fatal;
$color-indicator-text: $color-fatal-contrast;

// Application panel
$color-application-panel-box-background: $color-default;
$color-application-panel-box-border: $color-panel-border-color;

// Reading panel
$color-reading-panel-box-background: $color-default;
$color-reading-panel-box-border: $color-panel-border-color;

// Toc
$color-toc-box-border: $color-panel-border-color;

// Application list
$color-application-list-item-background: #ffffff;
$color-application-list-sorter-background: #f8f8f8;
$color-application-list-item-fade-background: rgb(255 255 255 / 0%);
$color-application-list-item-background-hover: $color-list-hover-background;
$color-application-list-item-background-active: $color-list-active-background;
$color-application-list-item-background-selected: $color-list-selected-background;
$color-application-list-item-checkmark-selected: #ffffff;
$color-application-list-item-course-border-selected: #29b0c4;

// Loader
$color-loader-empty-ring: #f3f3f3;
$color-loader-empty-rotating-piece: #3498db;

// Form fields
$color-form-element-border: #62c3eb;
$color-form-element-selected: #29b0c4;
$color-form-element-autocomplete-highlight: #ffc200;

// Form field input tag
$color-form-element-selected-item-background: $color-label-background;
$color-form-element-tag-input-tag-border: #b1e8fe;
$color-form-element-selected-item-text: $color-default-contrast;
$color-form-element-selected-item-delete-background-active: rgb(0 0 0 / 20%);

// Environment dialog form elements
$color-env-dialog-form-element-border: #f8a1ce;

// Matriculation Exam form elements
$color-matriculation-dialog-form-element-border: #f8a1ce;

// HOPS form elements
$color-hops-dialog-form-element-border: #f8a1ce;

// Autocomplete
$color-autocomplete-list-border: #dcdcdc;
$color-autocomplete-list-background-color: $color-default;
$color-autocomplete-list-item-hover: #eeeeee;
$color-autocomplete-list-item-active: #dddddd;
$color-autocomplete-list-item-selected: #29b0c4;

// Rangeslider
$color-rangeslider-background: #e6e6e6;
$color-rangeslider-handle-border: #cccccc;
$color-rangeslider-handle-shadow: rgb(0 0 0 / 40%);
$color-rangeslider-fill-shadow: rgb(0 0 0 / 40%);
$color-rangeslider-handle-tooltip-border: rgb(0 0 0 / 80%);
$color-rangeslider-handle-tooltip-background: rgb(0 0 0 / 80%);
$color-rangeslider-handle-background: #f2f2f2;

// Materials specific and extended
$color-material-citation-background: #f8f8f8;
$color-material-citation-quote: #bbbbbb;
$color-material-highlight-text-background: #f8f8f8;
$color-material-highlight-text-border: #00e3cb;
$color-material-file-box: #07d2ff;
$color-material-audio-box: #07d2ff;
$color-material-link-box: #07d2ff;
$color-material-muikkulink-box: #07d2ff;
$color-material-info-box: #06d98d;
$color-material-objective-box: #06d98d;
$color-material-instruction-box: #ff7ddb;
$color-material-journal-box: #ff7ddb;
$color-material-ponder-box: #ff7ddb;
$color-material-basic-box: #00e3c8;
$color-material-basic-box-background: #fafefe;
$color-material-table-box-row-background: #f2fdfc;
$color-material-table-header-boder: #00e3c8;
$color-material-word-definition-color: #007925;
$color-material-word-definition-border-color: #8ed2a3;
$color-material-word-definition-background-color: #c7fdd8;
$color-material-exercise-feedback-background: #fbfffa;
$color-material-exercise-feedback-border: #60daff;
$color-material-visually-guided-styles-listen-border: #70e1ff;
$color-material-visually-guided-styles-listen-background: #f1fcff;
$color-material-visually-guided-styles-speak-border: #ca72c7;
$color-material-visually-guided-styles-speak-background: #f1fcff;
$color-material-visually-guided-styles-read-border: #9857be;
$color-material-visually-guided-styles-read-background: #f1fcff;
$color-material-visually-guided-styles-write-border: #54abe4;
$color-material-visually-guided-styles-write-background: #f1fcff;
$color-material-visually-guided-styles-look-border: #03cb73;
$color-material-visually-guided-styles-look-background: #f1fcff;
$color-material-visually-guided-styles-connect-border: #545454;
$color-material-visually-guided-styles-connect-background: #f1fcff;
$color-material-visually-guided-styles-record-border: #e80154;
$color-material-visually-guided-styles-record-background: #f1fcff;
$color-material-visually-guided-styles-search-border: #2bcbff;
$color-material-visually-guided-styles-search-background: #f1fcff;

// Math
$color-math-editor-background: #ffffff;
$color-math-editor-border: #dddddd;
$color-math-editor-focus-shadow: rgb(81 203 238 / 100%);
$color-math-editor-forus-border: rgb(81 203 238 / 100%);
$color-math-exercise-toolbar-default-background: #ffffff;
$color-math-exercise-toolbar-default-shadow: rgb(0 0 0 / 40%);
$color-math-exercise-toolbar-default-border: #cccccc;
$color-math-button-background-hover: #eeeeee;
$color-math-button-tooltip-background: #29b0c4;
$color-math-editor-border-selected: #29b0c4;
$color-math-editor-active-line-background: rgb(0 0 0 / 4%);
$color-math-editor-boxshadow: rgb(0 0 0 / 20%);
$color-math-editor-line-variable-color: #29b0c4;
$color-math-editor-line-storage-color: #0083db;
$color-math-editor-line-constant-color: #ff9900;
$color-math-editor-line-keyword-color: #0083db;

// TASK FIELDS
$taskfield-border-color: #5ed2ff;

// Transferred from main-functions.scss

// NAVBAR
$color-default-navbar-background: #f5f5f5;
$color-default-navbar-text: $color-inverse;
$color-default-navbar-shadow: rgb(0 0 0 / 20%);
$color-environment-navbar-background: #009fe3;
$color-environment-navbar-title: $color-default;
$color-environment-navbar-item-menu-button: $color-default;
$color-workspace-navbar-background: $color-workspace;
$color-workspace-edit-mode-navbar-background: #000000;

// SCROLLBAR
$color-scrollbar-background: #e0e0e0;
$color-scrollbar-handle: #afafaf;

// ICON LINKS
$color-environment-link-icon-color: $color-default;
$color-environment-link-icon-color-hover: $color-default;
$color-environment-link-icon-color-active: $color-default;
$color-environment-link-icon-border-top-color-active: rgb(255 255 255 / 20%);

// DEFAULT LINKS
$color-environment-dropdown-link-hover-background: $color-link-hover-background;
$color-workspace-link-management-background: $color-link-inverse-background;
$color-workspace-link-management-text: $color-link-inverse-text;
$color-workspace-link-management-hover-background: $color-link-hover-background;
$color-workspace-link-material-management-background: $color-link-default-background;
$color-workspace-link-material-management-text: #5db5c5;
$color-workspace-link-material-management-hover-background: $color-link-hover-background;

// BUTTONS
$color-environment-button-pill-language-background: $color-inverse;
$color-environment-button-pill-language-text: $color-inverse-contrast;
$color-environment-button-pill-icon-search: $color-environment-navbar-background;
$color-environment-button-pill-icon-user: #1fe00a;

// MENU
$color-environment-menu-header-background: $color-environment-navbar-background;
$color-environment-link-menu-icon-background: $color-environment-navbar-background;
$color-environment-link-menu-icon-color: $color-default;
$color-environment-link-menu-profile-icon-background: $color-environment-button-pill-icon-user;
$color-environment-link-menu-profile-icon-color: $color-environment-link-menu-icon-color;
$color-environment-link-menu-instructions-icon-background: #e3005b;
$color-environment-link-menu-instructions-icon-color: $color-default;
$color-environment-link-menu-heldesk-icon-background: $color-environment-link-menu-instructions-icon-background;
$color-environment-link-menu-helpdesk-icon-color: $color-environment-link-menu-instructions-icon-color;
$color-environment-link-menu-logout-icon-background: #4c4c4c;
$color-environment-link-menu-logout-icon-color: $color-default;
$color-environment-link-menu-navicon-icon-color: $color-inverse;
$color-menu-environment-header-button-close: $color-default;
$color-menu-workspace-header-button-close: $color-default;
$color-workspace-menu-header-background: $color-workspace-navbar-background;
$color-workspace-link-menu-icon-background: $color-workspace-navbar-background;
$color-menu-default-background: #ffffff;
$color-menu-default-text: $color-inverse;
$color-menu-default-header-background: rgb(0 0 0 / 10%);
$color-menu-default-header-button-close-background-active: rgb(255 255 255 / 30%);
$color-menu-default-header-button-close: $color-info;

// SUBPANEL
$color-subpanel-search-icon: $color-default;
$color-subpanel-search-border: #e0e0e0;
$color-subpanel-search-icon-background: #e0e0e0;
$color-subpanel-border: #e0e0e0;
$color-subpanel-header-background: #f8f8f8;

// TAB
$color-tab-blur-background: #f5f5f5;
$color-tab-blur-font: #6f6d6d;
$color-tab-focus-background: $color-default;
$color-tab-focus-font: $color-text-default;
$color-tab-border: #5db5c5;
$color-tab-invisible-border: rgb(255 255 255 / 0%);

//  CATEGORIES
$color-category-1: #0099ff;
$color-category-2: #ff9900;
$color-category-3: #ff008d;
$color-category-4: #0bf0f2;
$color-category-5: #f00bf2;
$color-category-6: #47ccae;
$color-category-7: #7082b0;
$color-category-8: #6eb5cf;
$color-category-9: #ff0000;
$color-category-10: #0cff00;
$color-cagtegory-11: #000000;

// CHAT
$color-chat-bubble-background: #f95ae7;
$color-chat-bubble-box-shadow: rgb(0 0 0 / 15%);
$color-chat-box-shadow: rgb(0 0 0 / 20%);
$color-chat-detached-box-shadow: rgb(0 0 0 / 15%);
$color-chat-user-status-online: #6de164;
$color-chat-user-status-offline: #cecdcd;
$color-chat-user-status-away: #fbb470;
$color-chat-user-status-dnd: #de3211;
$color-chat-primary: #f95ae7;
$color-chat-panel-background: #f2f2f2;

// WHATSAPP
$color-whatsapp-light: #25d366;
$color-whatsapp-dark: #2bb741;

@import "colors/frontpage";
@import "colors/main-function";
@import "colors/index";
@import "colors/sub-panel";
@import "colors/application-dialog";
@import "colors/message";
@import "colors/course";
@import "colors/vops";
@import "colors/announcement";
@import "colors/pager";
@import "colors/profile";
