@import "../../node_modules/sass-autoprefixer/scss/prefixes";
	
@mixin prefix($property, $prefixes, $values...) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: $values;
  }

  #{$property}: $values;
}

@mixin no-scrollbars {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar { 
    width: 0 !important;
  }
}

@mixin text {
  color: $color-text-default;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

@mixin assessment-text {
  color: $color-text-default;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;
}

@mixin taskfield-text {
  color: $color-text-default;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-richtext-font-size;
    font-weight: 300;
  }
}

@mixin taskfield-defaults {
  background: $color-default;
  border: 2px solid $taskfield-border-color;
  border-radius: 2px;
  vertical-align: middle;
}

@mixin word-break {
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}

@mixin rotate-icon-on-hover {
  transition: transform .3s ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }
}

@mixin workspace-subpanel-title {
  font-size: 1.225rem;
  font-weight: 300;
}

@mixin form-element-toolbar {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

@mixin form-element-input-search-decoration {
  align-items: center;
  display: flex;
  height: 2.25rem;
  justify-content: center;
  width: 2.25rem;

  @include breakpoint($breakpoint-pad) {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@mixin form-element-input-add-producers-decoration {
  align-items: center;
  display: flex;
  height: 2.25rem;
  justify-content: center;
  width: 2.25rem;

  @include breakpoint($breakpoint-pad) {
    height: 2.5rem;
    width: 2.5rem;
  }
}

