@import "../../node_modules/sass-autoprefixer/scss/prefixes";
	
@mixin prefix($property, $prefixes, $values...) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: $values;
  }

  #{$property}: $values;
}

@mixin text {
  color: $color-text-default;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

@mixin taskfield-text {
  color: $color-text-default;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-richtext-font-size;
    font-weight: 300;
  }
}

@mixin taskfield-defaults {
  background: $color-default;
  border: 2px solid $taskfield-border-color;
  border-radius: 2px;
  vertical-align: middle;
}

@mixin word-break {
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}
