@import "../../node_modules/sass-autoprefixer/scss/prefixes";

@mixin prefix($property, $prefixes, $values...) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: $values;
  }

  #{$property}: $values;
}

@mixin no-scrollbars {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

@mixin form-focus {
  &:focus {
    outline: $color-outline solid 2px;
    outline-offset: -2px;
  }
}

@mixin text {
  color: $color-text-default;
  font-family: $system-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

@mixin assessment-text {
  color: $color-text-default;
  font-family: $system-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;
}

@mixin taskfield-text {
  color: $color-text-default;
  font-family: $system-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-richtext-font-size;
    font-weight: 300;
  }
}

@mixin taskfield-defaults {
  background: $color-default;
  border: 2px solid $taskfield-border-color;
  border-radius: 2px;
  vertical-align: middle;
}

@mixin word-break {
  overflow-wrap: break-word;
  word-break: break-all;
  word-wrap: break-word;
}

@mixin rotate-icon-on-hover {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: rotate(180deg);
  }
}

@mixin mainfunction-subpanel-title {
  font-size: 1.1875rem;
  font-weight: 400;
}

@mixin form-element-toolbar {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

@mixin form-element-input-search-decoration {
  align-items: center;
  display: flex;
  font-size: 1rem;
  height: 2.25rem;
  justify-content: center;
  width: 2.25rem;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.25rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}

@mixin form-element-input-clear-search-decoration {
  align-items: center;
  color: $color-search-clear-icon;
  display: flex;
  font-size: 0.6rem;
  height: 1.8rem;
  justify-content: center;
  width: 1.8rem;
}

@mixin workspace-image-button {
  background-color: $color-button-profile-image-edit-delete-background;
  color: $color-default;
}

@mixin panel-body {
  background-color: $color-panel-background-color;
  box-shadow: 0 2px 3px $color-panel-shadow;
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-pad) {
    border: solid 1px $color-panel-border-color;
    box-shadow: none;
  }
}

@mixin load-animation($size: $loader-size) {
  animation: spin 2s linear infinite;
  border: #{$loader-border-width} solid $color-loader-empty-ring;
  border-radius: 50%;
  border-top: #{$loader-border-width} solid $color-loader-empty-rotating-piece;
  content: " ";
  height: #{$size};
  left: 50%;
  margin-left: calc(-#{$size} / 2);
  margin-top: calc(-#{$size} / 2);
  position: absolute;
  top: 50%;
  width: #{$size};

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin chat-pulse {
  $animation-name: unique-id();

  animation-name: $animation-name;

  @keyframes #{$animation-name} {
    @content;
  }
}
