// Navbar
$navbar-font: 'Exo 2', Arial, sans-serif;
$navbar-height: 4.2rem;

// Ordered Containers
$frontpage-ordered-container-separation: .625rem;

// Text
$text-branded-font-family: "Exo 2", Arial, sans-serif;
$text-font-family: "Open Sans", Arial, sans-serif;
$index-text-mobile-padding-horizontal: 10;
$index-text-icon-size: 35;

// Basic Paragraph Text
$text-mobile-font-size: .875rem;
$text-desktop-font-size: 1rem;

// Logo
$logo-mobile-size: 4.5rem;
$logo-desktop-size: 5.625rem;

// Text Logo
$logo-text-mobile-size: 4rem;
$logo-text-pad-size: 4.5rem;
$logo-text-desktop-size: 5.375rem;

// Bubble - Used only in the branded front page
$bubble-size-small: 16.25rem;
$bubble-size-normal: 18.25rem;
$bubble-font: 'Exo 2', Arial, sans-serif;

// Buttons
$button-branded-font-family: "Exo 2", Arial, sans-serif;
$button-font-family: "Open Sans", Arial, sans-serif;
$button-default-height: 2rem;
$button-default-font-size: 0.875rem;
$button-social-size: 2.5rem;

// Cards - Used only in the branded front page
$card-font-family: "Exo 2", Arial, sans-serif;