// Navbar
$navbar-font: 'Exo 2', Arial, sans-serif;
$navbar-height: 4.2rem;
$navbar-item-width: 4.2rem;

// Link
$link-icon-font-size: 1.8rem;
$main-function-link-icon-active-border-size: 3px;

// Containers
$container-mobile-gutter: 10px;
$container-desktop-gutter: 20px;
$ordered-container-item-gutter: $container-desktop-gutter / 2;

// Text
$text-branded-font-family: "Exo 2", Arial, sans-serif;
$text-font-family: "Open Sans", Arial, sans-serif;

// Dialog
$dialog-button-close-height: 40px;

// Basic Paragraph Text
$text-mobile-font-size: .825rem;
$text-desktop-font-size: .875rem;
$text-forgotpassword-font-size: 1.1rem;

// Logo
$logo-mobile-size: 4.5rem;
$logo-desktop-size: 5.625rem;

// Text Logo
$logo-text-mobile-size: 4rem;
$logo-text-pad-size: 4.5rem;
$logo-text-desktop-size: 5.375rem;

// Bubble - Used only in the branded front page
$bubble-size-small: 16.25rem;
$bubble-size-normal: 18.25rem;
$bubble-font: 'Exo 2', Arial, sans-serif;

// Buttons
$button-branded-font-family: "Exo 2", Arial, sans-serif;
$button-font-family: "Open Sans", Arial, sans-serif;
$button-default-height: 2.125rem;
$button-default-font-size: 0.875rem;
$button-social-size: 2.5rem;
$button-pill-size: 2.125rem;
$button-pill-font-size: 1.125rem;
$button-pill-floating-size: 2.6rem;
$button-pill-floating-font-size: 1.25rem;
$button-pill-navbar-size: 2.5rem;
$button-pill-navbar-font-size: 1rem;
$button-pill-settings-font-size: 1.375rem;

// Cards - Used only in the branded front page
$card-font-family: "Exo 2", Arial, sans-serif;

// Label
$label-font-family: "Exo 2", Arial, sans-serif;
$label-small-height: 1.3125rem;
$label-small-font-size: .75rem;
$label-medium-height: 1.6875rem;
$label-medium-font-size: .9375rem;
$label-large-height: 2.0625rem;
$label-large-font-size: 1.0625rem;

// Panels
$panel-border-radius: 3px;

// Item lists
$item-list-icon-font-size: .875rem;
$item-list-item-min-size: 1rem;

//Vops
$vops-title-font-size: 2rem;
$vops-legend-header-size: .875rem;
$vops-legend-item-text-font-size: 1.3rem;
$vops-data-text-font-size: 1rem;