.tiptap-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 500;
  user-select: none;
}

.group[data-disabled="true"] .tiptap-label {
  opacity: 0.5;
  pointer-events: none;
}

.tiptap-label:has(~ input:disabled),
input:disabled ~ .tiptap-label {
  opacity: 0.5;
  cursor: not-allowed;
}
