@import url("/src/css/variables.css");

.appLayout {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
  width: 100%;
}

.navigationContainer {
  display: flex;
  flex-flow: row nowrap;
}

.primaryNavigation {
  display: flex;
  flex-flow: column nowrap;
}

.secondaryNavigation {
  background: #e3e3e3;
  border-right: 1px solid var(--mantine-color-dark-4);
}

.mainContent {
  overflow: auto;
  padding: var(--mantine-spacing-md);
  width: 100%;
}
