body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#react-root > * {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media screen and (min-width: 36rem) {
  #react-root > * {
    padding-left: calc(50% - 18rem);
    padding-right: calc(50% - 18rem);
  }
}

.header {
  background-color: #eee;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.header a {
  text-decoration: none;
  color: #bbb;
}