/* 


.calendarColorProfile_1 {
  border-color: rgba(180, 0, 0, 1.0);
  background-color: rgba(255, 0, 0, 1.0);
}

.calendarColorProfile_2 {
  border-color: rgba(180, 100, 0, 1.0);
  background-color: rgba(255, 127, 0, 1.0);
}

.calendarColorProfile_3 {
  border-color: rgba(180, 100, 180, 1.0);
  background-color: rgba(255, 127, 255, 1.0);
}

.calendarColorProfile_4 {
  border-color: rgba(180, 0, 100, 1.0);
  background-color: rgba(255, 0, 127, 1.0);
}

.calendarColorProfile_5 {
  border-color: rgba(0, 100, 180, 1.0);
  background-color: rgba(0, 127, 255, 1.0);
}

.calendarColorProfile_6 {
  border-color: rgba(0, 180, 180, 1.0);
  background-color: rgba(0, 255, 255, 1.0);
}
	
.calendarColorProfile_7 {
  border-color: rgba(0, 180, 100, 1.0);
  background-color: rgba(0, 255, 127, 1.0);
}
	
.calendarColorProfile_8 {
  border-color: rgba(100, 180, 0, 1.0);
  background-color: rgba(127, 255, 0, 1.0);
}

.calendarColorProfile_9 {
  border-color: rgba(180, 180, 0, 1.0);
  background-color: rgba(255, 255, 0, 1.0);
}

*/