.visibleCalendarContainer input[type="checkbox"] {
  vertical-align: top;
  margin-top: 1px;
}

.visibleCalendarColor {
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #000;
  margin-left: 8px;
  margin-top: 0px;
}