
.monthCalendar{
	background-color:#fff;
}
/* FullCalendar Month Calendar Overrides 

.fc-view-month .moreInfo {
  background: transparent !important;
  border: 0px !important;
  margin: 1px;
}

.fc-view-month .moreInfo .fc-event-inner .fc-event-time { 
  display: none;
}

.fc-view-month .moreInfo .fc-event-inner .fc-event-title {
  color: #000;
  font-weight: normal;
  text-shadow: none;
  font-size: 12px;
}

*/
/* Widget

.calendarSettingsButton{
  background-color:#fff;
}

.fullCalendarWidget {
}

.fullCalendarWidgetSettings {
  margin-bottom: 8px;
  height: 20px;  
}

.fullCalendarWidgetNavigationContainer {
  float: left;
}

.fullCalendarWidgetViewSelectionContainer {
  float: right;
}

.fullCalendarWidgetNavigationLeft, .fullCalendarWidgetNavigationRight {
  font-family: courier;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}


 */

/* Event Editor 

.fullCalendarWidgetEventEditorField {
  margin-bottom: 8px;
}

.fullCalendarWidgetEventEditorField label {
  display: block;
}

.fullCalendarWidgetEventEditorFieldAllDay label {
  display: inline-block;
}

.fullCalendarWidgetEventEditorFieldAllDay input {
  margin-left: 8px;
}

.fullCalendarWidgetEventEditorField textarea {
}

.fullCalendarWidgetEventEditorField input.ui-timepicker-input {
  margin-left: 8px;
}

*/