// Loader
$loader-size: 50px;
$dialog-loader-size: 220px;
$loader-border-width: 10px;

// Input
$input-height-mobile: 2.25rem;
$input-height-desktop: 2.5rem;

// Select
$select-height-mobile: 2.25rem;
$select-height-desktop: 2.5rem;

// Fonts
$system-font-family: "Inter", "Arial", "sans-serif";
$branded-font-family: "Exo 2", "Arial", "sans-serif";

// Menu
$menu-width-pad: 400px;
$menu-width-mobile: 300px;

// Navbar
$navbar-mobile-height: 3.5rem;
$navbar-desktop-height: 4.2rem;
$navbar-mobile-item-width: 3.5rem;
$navbar-desktop-item-width: 4.2rem;

// Generix 20px * 20px switch
$generic-mobile-switch-size: 16px;
$generic-mobile-switch-container-border-size: 2px;
$generic-desktop-switch-size: 20px;
$generic-desktop-switch-container-border-size: 2px;

// Link
$link-icon-font-size: 1.625rem;
$main-function-link-icon-active-border-size: $navbar-desktop-height;

// Containers
$container-mobile-gutter: 10px;
$container-desktop-gutter: 20px;
$ordered-container-item-gutter: calc($container-desktop-gutter / 2);

// Indicator
$indicator-padding: 4;
$indicator-font-size: 12;

// Dialog
$dialog-max-resolution: 2560px;
$dialog-content-padding: 20px;
$dialog-button-close-height: 40px;
$dialog-title-mobile-font-size: 1rem;
$dialog-title-desktop-font-size: 1.1rem;
$dialog-title-height: 3rem;

// Environment Dialog
$env-dialog-box-shadow: 0 -5px 20px rgb(0 0 0 / 15%);

// Basic Paragraph Text
$text-mobile-font-size: 0.8125rem;
$text-desktop-font-size: 0.875rem;
$text-capitalized-mobile-font-size: 0.75rem;
$text-capitalized-desktop-font-size: 0.815rem;
$text-desktop-richtext-font-size: 1rem;
$text-forgotpassword-font-size: 1.1rem;

// Logo
$logo-mobile-size: 4.5rem;
$logo-desktop-size: 5.625rem;

// Text Logo
$logo-text-mobile-size: 4rem;
$logo-text-pad-size: 4.5rem;
$logo-text-desktop-size: 5.375rem;

// Bubble - Used only in the branded front page
$bubble-size-small: 16rem;
$bubble-size-normal: 18.25rem;

// Buttons
$button-social-size: 2.5rem;
$button-primary-height: 2.5rem;
$button-mobile-font-size: 0.75rem;
$button-desktop-font-size: 0.8125rem;
$button-mobile-primary-font-size: 0.8125rem;
$button-desktop-primary-font-size: 0.875rem;
$button-pill-mobile-size: 2rem;
$button-pill-desktop-size: 2.5rem;
$button-pill-mobile-font-size: 1.125rem;
$button-pill-desktop-font-size: 1.25rem;
$button-pill-floating-size: 2.6rem;
$button-pill-floating-font-size: 1.25rem;
$button-pill-navbar-mobile-size: 2.2rem;
$button-pill-navbar-desktop-size: 2.5rem;
$button-pill-navbar-mobile-font-size: 0.875rem;
$button-pill-navbar-desktop-font-size: 1rem;
$button-pill-settings-font-size: 1.375rem;

// Label
$label-small-height: 1.3125rem;
$label-small-font-size: 0.75rem;
$label-medium-height: 1.6875rem;
$label-medium-font-size: 0.9375rem;
$label-large-height: 2.0625rem;
$label-large-font-size: 1.0625rem;

// Panels
$panel-border-radius: 2px;

// Avatar
$avatar-mobile-font-size: 1.125rem;
$avatar-mobile-size: 2.155rem;
$avatar-desktop-font-size: 1.5rem;
$avatar-desktop-size: 2.875rem;
$avatar-desktop-small-font-size: 1.125rem;
$avatar-desktop-xsmall-font-size: 0.685rem;
$avatar-desktop-small-size: 2.275rem;
$avatar-desktop-xsmall-size: 1.475rem;
$avatar-mobile-chat-font-size: 1rem;
$avatar-mobile-chat-size: 1.825rem;
$avatar-desktop-chat-font-size: 1.125rem;
$avatar-desktop-chat-size: 2rem;

// Chat
$chat-discussion-panel-header-height: 40px;
$chat-discussion-panel-mobile-header-height: 45px;
$chat-discussion-panel-footer-height: 40px;
$chat-discussion-panel-mobile-footer-height: 50px;
$chat-border-radius: 5px;
$chat-resizer-size: 150px;
$chat-resizer-thickness: 4px;
$chat-resizer-offset: -6px;
$chat-resizer-corner-radius: 100%;
$chat-resizer-corner-size: 10px;

// Item lists
$item-list-icon-font-size: 0.925rem;
$item-list-item-min-size: 1rem;

// Vops
$vops-title-font-size: 1.5rem;
$vops-legend-header-arrow-size: 0.875rem;
$vops-legend-header-size: 0.875rem;
$vops-legend-item-text-font-size: 0.875rem;
$vops-data-text-font-size: 0.875rem;
$vops-row-item-font-size: 0.875rem;

// Content, application and reading Panels
$panel-header-title-height-desktop: 24px;
$panel-header-title-height-mobile: 20px;
$panel-header-title-margin: 10px;
