<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <context-param>
        <param-name>oauth.provider.provider-class</param-name>
        <param-value>fi.muikku.rest.OAuthProvider</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
      <param-name>javax.faces.FACELETS_RESOURCE_RESOLVER</param-name>
      <param-value>fi.muikku.plugins.PluginResourceResolver</param-value>
    </context-param>

    <listener>
      <listener-class>fi.muikku.rest.OAuthInjectListener</listener-class>
    </listener>
      

    <!-- JSF 2.0 Servlet activates automatically when the WEB-INF/faces-config.xml descriptor is present -->

    <!-- Enable this mapping to protect your view templates from direct URL access -->
    <!--
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    -->

    <!-- This section is optional. We are allowing index.jsf to handle the root URL (i.e., /). -->
    <welcome-file-list>
        <!-- Add additional files here, if desired, for example: <welcome-file>index.html</welcome-file> -->
        <welcome-file>index.jsf</welcome-file>
    </welcome-file-list>
    
    <!-- The OAuth Servlet handles token exchange -->
    <servlet>
      <servlet-name>OAuth</servlet-name>
      <servlet-class>org.jboss.resteasy.auth.oauth.OAuthServlet</servlet-class>
    </servlet>
    
    <!-- This will be the base for the token exchange endpoint URL -->
    <servlet-mapping>
      <servlet-name>OAuth</servlet-name>
      <url-pattern>/oauth/*</url-pattern>
    </servlet-mapping>
    
</web-app>
