// Generic
$color-warn: #ef6000;
$color-warn-contrast: #fff;

$color-info: #549fca;
$color-info-contrast: #fff;

$color-fatal: #bf3000;
$color-fatal-contrast: #fff;

$color-error: #ff6600;
$color-error-contrast: #fff;

$color-success: #49af4e;
$color-success-contrast: #fff;

$color-loading: #343333;
$color-loading-contrast: #fff;

$color-primary: #009fe3;
$color-primary-contrast: #fff;

$color-secondary: #00af00;
$color-secondary-contrast: #fff;

$color-inverse: #343333;
$color-inverse-contrast: #fff;

$color-default: #fff;
$color-default-contrast: #343333;

// Notification queue item theme
$color-notification-queue-item-theme: (
  (default, background $color-default, text $color-default-contrast),
  (notification-queue-item-primary, background $color-primary, text $color-primary-contrast),
  (notification-queue-item-warn, background $color-warn, text $color-warn-contrast),
  (notification-queue-item-info, background $color-info, text $color-info-contrast),
  (notification-queue-item-fatal, background $color-fatal, text $color-fatal-contrast),
  (notification-queue-item-error, background $color-error, text $color-error-contrast),
  (notification-queue-item-success, background $color-success, text $color-success-contrast),
  (notification-queue-item-loading, background $color-loading, text $color-loading-contrast),
  (notification-queue-item-secondary, background $color-secondary, text $color-secondary-contrast),
  (notification-queue-item-inverse, background $color-inverse, text $color-inverse-contrast)
);

// Button theme
$color-button-theme: (
  (default, background $color-default, text $color-default-contrast),
  (button-primary, background $color-primary, text $color-primary-contrast),
  (button-warn, background $color-warn, text $color-warn-contrast),
  (button-info, background $color-info, text $color-info-contrast),
  (button-fatal, background $color-fatal, text $color-fatal-contrast),
  (button-error, background $color-error, text $color-error-contrast),
  (button-success, background $color-success, text $color-success-contrast),
  (button-loading, background $color-loading, text $color-loading-contrast),
  (button-secondary, background $color-secondary, text $color-secondary-contrast),
  (button-inverse, background $color-inverse, text $color-inverse-contrast)
);

// Button pill theme
$color-button-pill-theme: (
  (default, background $color-default, text $color-default-contrast),
  (button-pill-primary, background $color-primary, text $color-primary-contrast),
  (button-pill-warn, background $color-warn, text $color-warn-contrast),
  (button-pill-info, background $color-info, text $color-info-contrast),
  (button-pill-fatal, background $color-fatal, text $color-fatal-contrast),
  (button-pill-error, background $color-error, text $color-error-contrast),
  (button-pill-success, background $color-success, text $color-success-contrast),
  (button-pill-loading, background $color-loading, text $color-loading-contrast),
  (button-pill-secondary, background $color-secondary, text $color-secondary-contrast),
  (button-pill-inverse, background $color-inverse, text $color-inverse-contrast)
);

// Label theme
$color-label-theme: (
  (default, text $color-inverse),
  (label-primary, text $color-primary),
  (label-warn, text $color-warn),
  (label-info, text $color-info),
  (label-fatal, text $color-fatal),
  (label-error, text $color-error),
  (label-success, text $color-success),
  (label-loading, text $color-loading),
  (label-secondary, text $color-secondary),
  (label-inverse, text $color-default)
);

//Text
$color-text-theme: (
  (default, text $color-inverse),
  (text-primary, text $color-primary),
  (text-warn, text $color-warn),
  (text-info, text $color-info),
  (text-fatal, text $color-fatal),
  (text-error, text $color-error),
  (text-success, text $color-success),
  (text-loading, text $color-loading),
  (text-secondary, text $color-secondary),
  (text-inverse, text $color-default)
);

//Separator
$color-separator-theme: (
  (default, background $color-default),
  (separator-primary, background $color-primary),
  (separator-warn, text $color-warn),
  (separator-info, background $color-info),
  (separator-fatal, background $color-fatal),
  (separator-error, background $color-error),
  (separator-success, background $color-success),
  (separator-loading, background $color-loading),
  (separator-secondary, background $color-secondary),
  (separator-inverse, background $color-inverse)
);

// Navbar
$color-navbar-default-background: #f5f5f5;
$color-navbar-default-text: #343333;
$color-navbar-default-shadow: rgba(0, 0, 0, 0.2);

// Links
$color-link-default-text: #343333;
$color-link-highlight-text: #00af00;
$color-link-hover-text: #009fe3;
$color-link-active-text: #009fe3;
$color-link-inverse-text: #fff;
$color-link-default-background: rgba(0, 0, 0, 0);
$color-link-highlight-background: rgba(0, 0, 0, 0);
$color-link-hover-background: rgba(0, 0, 0, 0.05);
$color-link-active-background: rgba(0, 0, 0, 0.1);
$color-link-inverse-background: invisible;

// Menu
$color-menu-default-background: #f5f5f5;
$color-menu-default-text: #343333;
$color-menu-default-header-background: rgba(0, 0, 0, 0.1);
$color-menu-default-header-button-close: #fff;
$color-menu-default-header-button-close-background-active: rgba(255, 255, 255, 0.3);

// dropdown
$color-dropdown-default-background: #494949;
$color-dropdown-default-text: #fff;
$color-dropdown-default-shadow: rgba(0, 0, 0, 0.3);

// bubble
$color-bubble-default-title: #009fe3;
$color-bubble-default-content: #343333;
$color-bubble-default-border: #02a0e3;
$color-bubble-default-highlight-border: #ef6000;
$color-bubble-default-background: #fff;
$color-bubble-default-shadow: rgba(0, 0, 0, 0.15);

// footer
$color-footer-default-background: #454545;
$color-footer-default-text: #fff;

// card
$color-card-default-background: #fff;
$color-card-default-border: #e2e3e3;
$color-card-default-text: #343333;

// dialog
$color-dialog-default-background: #fff;
$color-dialog-default-border: #e2e3e3;
$color-dialog-default-text: #343333;
$color-dialog-default-title-text: #343333;

// Overlay
$color-overlay-background: rgba(0, 0, 0, 0.65);

// Background
$color-background-container-default-background: #f5f5f5;
$color-background-container-default-text: #343333;

// social button
$color-button-social-default-background: #454545;
$color-button-social-default-text: #fff;
$color-button-social-highlight-background: #009fe3;
$color-button-social-highlight-text: #fff;

// feed
$color-feed-default-text: #343333;
$color-feed-default-date: #8c8c8c;
$color-feed-item-description-active: $color-primary;

// carousel
$color-carousel-default-dot-background: #afafaf;
$color-carousel-default-dot-border: #fff;
$color-carousel-default-dot-active-background: #ef6000;

// hero
$color-hero-default-background: #0089c6;

// logo
$color-frontpage-logo-muikku-verkko-box-shadow: rgba(0, 0, 0, 0.2);

// notification queue
$color-notification-queue-item-container-background: #666;
$color-notification-queue-item-container-shadow: rgba(0, 0, 0, 0.3);
$color-notification-queue-item-text: #fff;

// text
$color-text-banner-shadow: rgba(0, 0, 0, 0.6);

@import "colors/frontpage";
@import "colors/main-function";