@mixin prefix($property, $prefixes, $values...) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: $values;
  }

  #{$property}: $values;
}

//THEMER
@mixin color-theme-item($colorelement, $effects, $soft){
  @each $colorpiece in $colorelement {
    @if (length($colorpiece) == 2){
      @if (nth($colorpiece, 1) == background){
        background-color: nth($colorpiece, 2);
        @if ($effects){
          &:hover, &.hover, &:active, &.active {
            @if ($soft){
              background-color: darken(nth($colorpiece, 2), 10%);
            } @else {
              background-color: darken(nth($colorpiece, 2), 20%);
            }
          }
        }
      } @else if (nth($colorpiece, 1) == text){
        color: nth($colorpiece, 2);
      } @else if (nth($colorpiece, 1) == border){
        border-color: nth($colorpiece, 2);
      } @else if (nth($colorpiece, 2) == text-active){
        &:active, &.active {
          color: nth($colorpiece, 2);
        }
      } @else if (nth($colorpiece, 2) == background-active){
        &:active, &.active {
          background-color: nth($colorpiece, 2);
        }
      } @else if (nth($colorpiece, 2) == border-active){
        &:active, &.active {
          border-color: nth($colorpiece, 2);
        }
      } @else if (nth($colorpiece, 2) == text-hover){
        &:hover, &.hover {
          color: nth($colorpiece, 2);
        }
      } @else if (nth($colorpiece, 2) == background-hover){
        &:hover, &.hover {
          background-color: nth($colorpiece, 2);
        }
      } @else if (nth($colorpiece, 2) == border-hover){
        &:hover, &.hover {
          border-color: nth($colorpiece, 2);
        }
      }
    }
  }
}

@mixin color-theme($scheme, $effects, $soft: false){
  @each $colorelement in $scheme {
    @if (nth($colorelement, 1) == default){
      @include color-theme-item($colorelement, $effects, $soft);
    } @else {
      &.#{nth($colorelement, 1)} {
        @include color-theme-item($colorelement, $effects, $soft);
      }
    }
  }
}