//Generic
$color-warn-background: #ef6000;
$color-warn-text: #fff;

$color-info-background: #549fca;
$color-info-text: #fff;

$color-fatal-background: #bf3000;
$color-fatal-text: #fff;

$color-error-background: #ff6600;
$color-error-text: #fff;

$color-success-background: #49af4e;
$color-success-text: #fff;

$color-loading-background: #343333;
$color-loading-text: #fff;

$color-primary-background: #009fe3;
$color-primary-text: #fff;

$color-secondary-background: #00af00;
$color-secondary-text: #fff;

$color-strong-background: #343333;
$color-strong-text: #fff;

$color-clear-background: #fff;
$color-clear-text: #343333;

$color-base-list: (
	(primary, $color-primary-background, $color-primary-text),
	(warn, $color-warn-background, $color-warn-text),
	(info, $color-info-background, $color-info-text),
	(fatal, $color-fatal-background, $color-fatal-text),
	(success, $color-success-background, $color-success-text),
	(loading, $color-loading-background, $color-loading-text),
	(secondary, $color-secondary-background, $color-secondary-text),
	(strong, $color-strong-background, $color-strong-text),
	(clear, $color-clear-background, $color-clear-text)
);

//Navbar
$color-navbar-default-background: #f5f5f5;
$color-navbar-default-text: #343333; 

//Links
$color-link-default-text: #343333;
$color-link-highlight-text: #00af00;
$color-link-hover-text: #009fe3;
$color-link-active-text: #009fe3;
$color-link-clear-text: #fff;
$color-link-strong-text: #000;
$color-link-default-background: rgba(0, 0, 0, 0);
$color-link-highlight-background: rgba(0, 0, 0, 0);
$color-link-hover-background: rgba(0, 0, 0, 0);
$color-link-active-background: rgba(0, 0, 0, 0.05);
$color-link-clear-background: invisible;
$color-link-strong-background: invisible;

//Menu
$color-menu-default-background: #f5f5f5;
$color-menu-default-text: #343333;

//dropdown
$color-dropdown-default-background: #494949;
$color-dropdown-default-text: #fff;

//bubble
$color-bubble-default-title: #009fe3;
$color-bubble-default-content: #343333;
$color-bubble-default-border: #02a0e3;
$color-bubble-default-highlight-border: #ef6000;
$color-bubble-default-background: #fff;

//footer
$color-footer-default-background: #454545;
$color-footer-default-text: #fff;

//Overlay
$color-overlay-background: rgba(0,0,0,0.65);