//Generic
$color-warn-background: #ffce65;
$color-warn-text: #6a4902;

$color-info-background: #549fca;
$color-info-text: #fff;

$color-fatal-background: #bf3000;
$color-fatal-text: #fff;

$color-error-background: #ff6600;
$color-error-text: #fff;

$color-success-background: #49af4e;
$color-success-text: #fff;

$color-loading-background: #000;
$color-loading-text: #fff;

$color-primary-background: #009fe3;
$color-primary-text: #fff;

$color-secondary-background: #00af00;
$color-secondary-text: #fff;

$color-dark-background: #343333;
$color-dark-text: #fff;

//Navbar
$navbar-default-background-color: #f5f5f5;
$navbar-default-font-color: #343333; 

$navbar-default-item-color: #969696;
$navbar-default-item-highlight-color: #00af00;
$navbar-default-item-selected-color: #009fe3;
$navbar-default-item-clear-color: #fff;
$navbar-default-item-dark-color: #000;