@mixin prefix($property, $prefixes, $values...) {
  @each $prefix in $prefixes {
    #{"-" + $prefix + "-" + $property}: $values;
  }

  #{$property}: $values;
}

@mixin colormapping($bgcolor, $textcolor) {
  background-color: $bgcolor;
  color: $textcolor;
  @include prefix(transition, webkit moz o ms, background-color 0.3s);

  &:hover,
  &:active,
  &.hover,
  &.active {
    background-color: darken($bgcolor, 10%);
  }
}

@mixin colorapplying-text($name, $colorlist) {
  color: nth(nth($colorlist, 1), 2);
  @each $colorelement in $colorlist {
    &.#{$name}-#{nth($colorelement, 1)} {
      color: nth($colorelement, 2);
    }
  }
}

@mixin colorapplying($name, $colorlist) {
  color: nth(nth($colorlist, 1), 3);
  background-color: nth(nth($colorlist, 1), 2);
  @each $colorelement in $colorlist {
    &.#{$name}-#{nth($colorelement, 1)} {
      background-color: nth($colorelement, 2);
      color: nth($colorelement, 3);
    }
  }
}

@mixin colorapplying-with-mapping($name, $colorlist) {
  @include colormapping(nth(nth($colorlist, 1), 2), nth(nth($colorlist, 1), 3));
  @each $colorelement in $colorlist {
    &.#{$name}-#{nth($colorelement, 1)} {
      @include colormapping(nth($colorelement, 2), nth($colorelement, 3));
    }
  }
}

@mixin colorapplying-with-mapping-no-effects($name, $colorlist) {
  @include colormapping(nth(nth($colorlist, 1), 2), nth(nth($colorlist, 1), 3));
  @each $colorelement in $colorlist {
    &.#{$name}-#{nth($colorelement, 1)} {
      background-color: nth($colorelement, 2);
      color: nth($colorelement, 3);
    }
  }
}
