@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";

@import url('https://fonts.googleapis.com/css?family=Exo+2:200,300,400,600,900');

@import url('http://fonts.googleapis.com/css?family=Open+Sans+200,300.400.600');


*, *::before, *::after {
  @include prefix(drag, webkit ms o moz, none);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #app, #root {
  height: 100%;
  width: 100%;
}

body {
  overflow-y: auto;
}

body {
  background-color: $color-default-body;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 0;
  display: inline-block;
}

a {
  color: $color-default-contrast;
  text-decoration: none;
  font-family: $text-font-family;
}

// Webkit (Chrome, Opera, Safari)
::-webkit-input-placeholder { 
  font-style: italic;
}

// > FF19
::-moz-placeholder {
  font-style: italic;
}

// > IE10
:-ms-input-placeholder {
  font-style: italic;
}

// < FF18-
:-moz-placeholder {
  font-style: italic;
}

// Standard
::placeholder { 
  font-style: italic;
}
