@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/print";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $color-default-body;
  overflow-y: auto;

  // Custom focus borders for every interactive element when using keyboard
  :focus-visible {
    outline: $color-outline solid 2px;
    outline-offset: -2px;
  }

  // Removing focus borders from every interactive elements which does not have focus defined when using mouse
  &.using-mouse :focus-visible:not(:focus) {
    outline: none;
  }

  &.using-mouse {
    .button-icon--back-to-toc {
      display: none;
    }
  }
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0;
}

a {
  color: $color-link-default-text;
  text-decoration: none;
}

dt {
  font-weight: 600;
  margin: 5px 0 0;
}

dd {
  margin: 0 0 5px;
}

// Standard
::placeholder {
  font-style: italic;
}
