$color-announcement-workspace: #2fd4af;
$color-announcement-environment: #009fe3;
$color-pinned-for-self-icon: #ab1566;
$color-announcement-border: #f2f2f2;
$color-announcement-open-header-background: #f8f8f8;
$color-announcement-workspace-border: $color-announcement-workspace;
$color-announcement-workspace-icon: $color-announcement-workspace;
$color-announcement-environment-border: $color-announcement-environment;
$color-announcement-environment-icon: $color-announcement-environment;
