$color-index-text-for-panels-title: $color-inverse;
$color-index-text-for-panels-title-wall-icon-background: #ffca62;
$color-index-text-for-panels-title-wall-icon-color: $color-default;
$color-index-text-for-panels-title-continue-studies-icon-background: #2fd4af;
$color-index-text-for-panels-title-continue-studies-icon-color: $color-default;
$color-index-text-for-panels-title-dependants-icon-background: #d4422f;
$color-index-text-for-panels-title-dependants-icon-color: $color-default;
$color-index-text-for-panels-title-workspaces-icon-background: #2fd2ae;
$color-index-text-for-panels-title-workspaces-icon-color: $color-default;
$color-index-text-for-panels-title-latest-messages-icon-background: #1fe00a;
$color-index-text-for-panels-title-latest-messages-icon-color: $color-default;
$color-index-text-for-panels-title-important-icon-background: #494949;
$color-index-text-for-panels-title-important-icon-color: $color-default;
$color-index-text-for-panels-title-announcements-icon-background: #494949;
$color-index-text-for-panels-title-announcements-icon-color: $color-default;
$color-index-item-list-item-panel-workspaces-icon: $color-index-text-for-panels-title-workspaces-icon-background;
$color-index-item-list-item-panel-latest-messages-icon: #aaaaaa;
$color-index-item-list-item-panel-latest-messages-unread-icon: $color-index-text-for-panels-title-latest-messages-icon-background;
$color-index-item-list-item-panel-announcements-unread-icon: $color-index-text-for-panels-title-announcements-icon-background;
$color-index-text-panels-date-color: #565656;
$color-index-item-list-item-panel-announcements-icon: $color-index-text-for-panels-title-announcements-icon-background;
$color-index-item-list-item-panel-announcements-has-workspaces-icon: #2fd4af;

// Same things but appears in workspaces NEEDS TO BE GENERALIZED
$color-workspace-text-for-panels-title-teachers-icon-background: $color-workspace;
$color-workspace-text-for-panels-title-teachers-icon-color: $color-default;
$color-workspace-text-for-panels-title-announcements-icon-background: $color-workspace;
$color-workspace-text-for-panels-title-announcements-icon-color: $color-default;
$color-workspace-text-for-panels-title-description-icon-background: $color-workspace;
$color-workspace-text-for-panels-title-description-icon-color: $color-default;
$color-workspace-text-for-panels-title-signup-icon-background: #ff008d;
$color-workspace-text-for-panels-title-signup-icon-color: $color-default;
