@CHARSET "UTF-8";

.fishWidget {
	    left: 200px;
    position: relative;
    text-align: left;
    top: 71px;
}

.fishImage {
	display: inline-block;
	width: 44px;
	height: 32px;
	background-image: url(#{resource['gfx/fish.png']});
	vertical-align: bottom;
}

.fishText {
	color: black;
	vertical-align: bottom;
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	margin-left: -1px;
	z-index: 1000;
}

.fishNotch {
	display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent; 
	border-right: 8px solid white;
	margin-right: -1px; 
	z-index: -1000;
}