@import "../../base/colors";
@import "../../base/mixins";
@import "../../base/breakpoints";

.frontpage.button {
  &.frontpage-button-login {
    background-color: $color-frontpage-button-login-background;
    color: $color-frontpage-button-login-text;
    
    &:hover, &.hover {
      background-color: darken($color-frontpage-button-login-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-frontpage-button-login-background, 20%);
    }
    
    @include breakpoint-up($breakpoint-medium-mobile){
      margin-right: 14px;
    }
  }

  &.frontpage-button-studying-readmore {
    background-color: $color-frontpage-button-studying-readmore-background;
    color: $color-frontpage-button-studying-readmore-text;
    
    &:hover, &.hover {
      background-color: darken($color-frontpage-button-studying-readmore-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-frontpage-button-studying-readmore-background, 20%);
    }
  }

  &.frontpage-button-school-readmore {
    background-color: $color-frontpage-button-school-readmore-background;
    color: $color-frontpage-button-school-readmore-text;
    
    &:hover, &.hover {
      background-color: darken($color-frontpage-button-school-readmore-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-frontpage-button-school-readmore-background, 20%);
    }
  }

  &.frontpage-button-courses-readmore {
    background-color: $color-frontpage-button-courses-readmore-background;
    color: $color-frontpage-button-courses-readmore-text;
    
    &:hover, &.hover {
      background-color: darken($color-frontpage-button-courses-readmore-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-frontpage-button-courses-readmore-background, 20%);
    }
  }

  &.frontpage-button-website {
    background-color: $color-frontpage-button-website-background;
    color: $color-frontpage-button-website-text;
    margin-bottom: 10px;
    
    &:hover, &.hover {
      background-color: darken($color-frontpage-button-website-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-frontpage-button-website-background, 20%);
    }
  }

  &.frontpage-button-newsletter {
    background-color: $color-frontpage-button-newsletter-background;
    color: $color-frontpage-button-newsletter-text;
    
    &:hover, &.hover {
      background-color: darken($color-frontpage-button-newsletter-background, 10%);
    }
    
    &:active, &.active {
      background-color: darken($color-frontpage-button-newsletter-background, 20%);
    }
  }
}

.frontpage.button-pill {
  &.frontpage-button-pill-language {
    background-color: $color-frontpage-button-pill-language-background;
    color: $color-frontpage-button-pill-language-text;
    margin-right: 14px;
    
    &:hover, &.hover {
      background-color: darken($color-frontpage-button-pill-language-background, 5%);
    }
    
    &:active, &.active {
      background-color: darken($color-frontpage-button-pill-language-background, 10%);
    }
  }
}

.frontpage.button-social {
  margin: 10px 10px 20px 0;
}