@import "../../base/colors";
@import "../../base/mixins";
@import "../../base/breakpoints";

.frontpage.card {
  &.frontpage-card-studying {
    .card-title {
      color: $color-frontpage-card-studying-title;
    }
  }
  &.frontpage-card-school {
    .card-title {
      color: $color-frontpage-card-school-title;
    }
  }
  &.frontpage-card-courses {
    .card-title {
      color: $color-frontpage-card-courses-title;
    }
  }
  &.frontpage-card-otavan-opisto {
    margin-bottom: 90px;
    padding: 20px;
  }
}