@import "../../base/colors";
@import "../../base/mixins";

.frontpage.footer {
  .frontpage-footer-item-contact {

  }
  .footer-item.frontpage-footer-item-logos {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include breakpoint-down($breakpoint-portrait-pad){
      display: none;
    }
  }
}