@import "../../base/colors";
@import "../../base/mixins";
@import "../../base/breakpoints";

.frontpage.navbar {
  @include breakpoint-up($breakpoint-medium-screen){
    .navbar-item.frontpage-navbar-item-menu-button {
      display: none;
    };
  };
  @include breakpoint-down($breakpoint-landscape-pad){
    .navbar-item.frontpage-navbar-item-otavan-opisto,
    .navbar-item.frontpage-navbar-item-news  {
      display: none;
    };
  };
  @include breakpoint-down($breakpoint-portrait-pad){
    .navbar-item.frontpage-navbar-item-studying,
    .navbar-item.frontpage-navbar-item-contact,
    .navbar-item.frontpage-navbar-item-open-materials  {
      display: none;
    };
  };
}