.root {
  border-radius: var(--mantine-radius-sm);
  overflow: hidden;
  flex-wrap: nowrap;
  width: 100%;
}

.root[data-active="true"] {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-light-color);
}

.section {
  color: inherit;
}

.section[data-position="left"] {
  flex-shrink: 0;
}

.body {
  min-width: 0;
  overflow: hidden;
}

.label {
  overflow: hidden;
  white-space: nowrap;
}

.description {
  overflow: hidden;
  white-space: nowrap;
}
