.state-PASS {
	background-color: green !important;
}

.state-UNKNOWN {
	background-color: blue !important;
}

.state-FAIL {
	background-color: red !important;
}

.muikku-select-field-right-answer {
	color: green !important;
}

.muikku-select-field-wrong-answer {
	color: yellow !important;
}

.muikku-sorter-item-selected {
	color: red !important;
}

.term-selected {
	color: red !important;
}