@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

$progress-units: 100;

.activity-badge {
  display: flex;
  justify-content: space-around;
  width: 30px;
  height: 30px;
}

.activity-badge__item {
  align-items:end;
  background-color: #fff;
  height: 100%;
  display: flex;
  width: 10px;
}

.activity-badge__item--assignment {
  border: 1px solid $color-assignment;
  
  .activity-badge__unit-bar {
    background-color: $color-assignment;   
  }
}

.activity-badge__item--exercise {
  border: 1px solid $color-exercise;
    
  .activity-badge__unit-bar {
    background-color: $color-exercise;   
  }
}

.activity-badge__unit-bar {
  background-color: $color-default-contrast;
  width:100%;
}

@for $i from 1 through $progress-units {
    $height: $i + %;
    
    .activity-badge__unit-bar--#{$i} {
        height: $height;
    }
}
