@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.agenda-notes {
  display: flex;
}

.agenda-notes-list {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.agenda-notes-list-header {
  font-weight: bold;
  margin: 5px;
}

.agenda-notes-list-items {
  display: flex;
  flex-wrap: wrap;
  height: 360px;
  overflow-y: scroll;
  padding: 15px;
  position: relative;
}

.agenda-note-pinned {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.agenda-note-pinned-header {
  font-weight: bold;
  margin: 5px;
}

.agenda-note-pinned-item {
  display: flex;
  justify-content: center;

  .agenda__note {
    width: 100%;
  }
}

.agenda__note {
  background-color: antiquewhite;
  box-shadow: 3px 3px 3px #525252;
  display: flex;
  flex-direction: column;
  height: 250px;
  margin: 10px;
  transform: scale(1) rotate(-6deg);
  transition: transform 0.4s ease-in;
  width: calc((100% / 3) - 20px);

  .agenda__note-header {
    background-color: #e6d7c3;
  }
}

.agenda__note:nth-child(even) {
  transform: rotate(4deg);
}

.agenda__note:nth-child(3n) {
  transform: rotate(-3deg);
}

.agenda__note:nth-child(5n) {
  transform: rotate(5deg);
}

.agenda__note:hover {
  position: relative;
  transform: scale(1.15);
  transition: transform 0.4s ease-in;
}

.agenda__note--pinned {
  .agenda__note-header .agenda__note-header-pin {
    background-color: lightblue;
  }
}

.agenda__note--important {
  background-color: red;

  .agenda__note-header {
    background-color: #f66161;
  }
}

.agenda__note--semi-important {
  background-color: yellow;

  .agenda__note-header {
    background-color: #f2f200;
  }
}

.agenda__note--not-important {
  background-color: lightgreen;

  .agenda__note-header {
    background-color: #a4ffa4;
  }
}

.agenda__note-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.agenda__note-header-name {
  border-bottom: 2px solid black;
  font-weight: bold;
}

.agenda__note-header-pin {
  background-color: green;
  border-radius: 50px;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.agenda__note-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 15px;
}

.agenda__note-content-text {
  font-size: 1rem;
  margin: 10px 0;
}

.agenda__note-content-tasks {
  display: flex;
  flex-direction: column;
}

.agenda__note-content-tasks-item {
  align-items: center;
  display: flex;
  font-size: 1rem;
  margin: 5px;
}

.agenda__note-content-tasks-item-check {
  transform: scale(1.5);
}

.agenda__note-content-tasks-item-description {
  margin: 0 5px;
}

.agenda__note-content-sender {
  display: flex;
  font-style: italic;
  justify-content: flex-end;
}
