@import "../base/colors";
@import "../base/mixins";
@import "../base/breakpoints";

.announcement {
  border-top: 1px solid $color-announcement-border;
  padding: 14px 12px 14px 4px;
  
  &.selected {
    border-top: 1px solid $color-default;
  }
  
  &:first-child {
    border: 0;
  }
}

.announcement__content {
  flex-flow: row nowrap;
}

.announcement--environment {
  
  .text__icon {
    color: $color-announcement-environment;
  }
}

.announcement--workspace {
   
  .text__icon {
    color: $color-announcement-workspace;
  }
}

.announcement__select-container {
  @include vp-align-items(center);
  @include vp-flexbox;
  padding: 2px 8px 2px 2px;
}
