@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.application-panel {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: calc(#{$navbar-height} * 1.2) 0 10px;
  
  @include breakpoint($breakpoint-pad) {
    padding: calc(#{$navbar-height} * 1.25) 10px 10px;
  }
}

.application-panel__container {
  max-width: $breakpoint-max-usable-screen;
  overflow: visible;
  flex-direction: column;
  display: flex;
  width:100%;
}

.application-panel__body {
  background-color: $color-application-panel-box-background;
  box-shadow: 0 2px 3px $color-panel-shadow;
  display: flex;
  flex-direction: column;
  
  @include breakpoint($breakpoint-pad) {
    border: solid 1px $color-application-panel-box-border;
    box-shadow: none;
  }
}

.application-panel__header {
  display: none;
  
  @include breakpoint($breakpoint-pad) {
    align-items: center;
    background-color: $color-default-body;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    margin: 10px;
    position: relative;
    max-width: calc($breakpoint-max-usable-screen - 20px);
    width: calc(100% - 20px);
  }
}

.application-panel__header-title {
  flex: 1 1 auto;
}

.application-panel__header-actions {
  flex: 0 0;
}

.application-panel__actions {
  left: 0;
  position: fixed;
  right: 0;
  top: $navbar-height;
  
  @include breakpoint($breakpoint-pad) {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    z-index: 8;
  }
}

.application-panel__actions-wrapper {
  align-items: center;
  background-color: white;
  display: flex;
  flex: 0 0 auto;
  height: 100%;
  justify-content: space-between;
  max-width: calc(#{$breakpoint-max-usable-screen} - 2px);
  width: calc(100% - 2px);
}
  
.application-panel__toolbar {
  align-items: center;
  display: flex;
  width: 100%;
}  
  
.application-panel__toolbar-actions-main {
  display: flex;
  flex: 1 1 auto;
}

.application-panel__toolbar-actions-aside {
  display: flex;
  justify-content: flex-end;
}

.application-panel__content {
  padding: 50px 0 0;
  
  @include breakpoint($breakpoint-pad) {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

// Helper containers
.application-panel__helper-container {
  display: none;

  @include breakpoint($breakpoint-pad) {
    flex: 0 0 220px;
    display: flex;
    margin-left: 12px;
    padding: 12px 0;
    width: 220px; 
  }
}

.application-panel__helper-container--main-action {
  border-bottom: 1px solid $color-main-function-application-panel-actions-border;
}

.application-panel__helper-container--content {
  padding: 12px 0 0;
  overflow: auto;
  z-index: 1;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: -moz-scrollbars-none;
  
  &::-webkit-scrollbar { 
    display: none; 
  }
}

// Main containers
.application-panel__main-container {
  display: flex;
  flex: 1  1 auto;
  padding: 0;
  margin: 0;
  
  &::-webkit-scrollbar { 
    display: none; 
  }
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: -moz-scrollbars-none;
}

.application-panel__main-container--actions {
  margin: 0 12px;
  padding: 12px 0;
  flex-direction: row;
  position: relative;
  border-bottom: 1px solid $color-main-function-application-panel-actions-border; 
  
  @include breakpoint($breakpoint-pad) {
    margin: 0 12px 0 20px;
  } 
}

.application-panel__main-container--header {
  justify-content: flex-end;
}

.application-panel__main-container--content-full {

  @include breakpoint($breakpoint-pad) {
    padding-left: 0;
  }
} 

.application-panel__main-container--content-aside {
  margin: 0 12px;
  
  @include breakpoint($breakpoint-pad) {
    margin: 0 12px 0 20px;
  } 
}  
