@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.application-panel {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $navbar-mobile-height 0 10px;
  
  @include breakpoint($breakpoint-pad) {
    padding: calc(#{$navbar-desktop-height} * 1.25) 10px 10px;
  }
}

.application-panel__container {
  display: flex;
  flex-direction: column;
  max-width: $breakpoint-max-usable-screen;
  width: 100%;
}

.application-panel__body {
  background-color: $color-application-panel-box-background;
  box-shadow: 0 2px 3px $color-panel-shadow;
  display: flex;
  flex-direction: column;
  
  @include breakpoint($breakpoint-pad) {
    border: solid 1px $color-application-panel-box-border;
    box-shadow: none;
  }
}

.application-panel__header {
  display: none;
  
  @include breakpoint($breakpoint-pad) {
    align-items: center;
    background-color: $color-default-body;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    margin: 10px;
    position: relative;
    max-width: calc($breakpoint-max-usable-screen - 20px);
    width: calc(100% - 20px);
  }
}

.application-panel__header-title {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-panel__header-actions {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.application-panel__actions {
  background: $color-default;
  left: 0;
  position: fixed;
  right: 0;
  top: $navbar-mobile-height;
  z-index: 8;
  
  @include breakpoint($breakpoint-pad) {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
  }
}
  
.application-panel__toolbar {
  align-items: center;
  display: flex;
  width: 100%;
}  
  
.application-panel__toolbar-actions-main {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-panel__tools-container {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
}

.application-panel__toolbar-actions-aside {
  display: flex;
  justify-content: flex-end;
}

.application-panel__content {
  padding: $navbar-mobile-height 0 0;
  
  @include breakpoint($breakpoint-pad) {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

// Helper containers
.application-panel__helper-container {
  display: none;

  @include breakpoint($breakpoint-pad) {
    flex-basis: 220px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    margin: 0;
    padding: 12px;
    z-index: 1;
  }
}

.application-panel__helper-container--main-action {
  border-bottom: 1px solid $color-main-function-application-panel-actions-border;
  height: $navbar-desktop-height;
}

// Main containers
.application-panel__main-container {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0;
  position: relative;
  margin: 0;
  
  @include breakpoint($breakpoint-pad) {
    padding: 12px;
  }
}

.application-panel__main-container--actions {
  background: $color-default;
  border-bottom: 1px solid $color-main-function-application-panel-actions-border; 
  flex-direction: row;
  height: $navbar-mobile-height;
  padding: 10px;
  
  @include breakpoint($breakpoint-pad) {
    background: transparent;
    height: $navbar-desktop-height;
    padding: 12px;
  }
}

.application-panel__main-container--header {
  justify-content: flex-end;
}

.application-panel__main-container--content-full {

  @include breakpoint($breakpoint-pad) {
    padding-left: 0;
  }
} 
