@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.application-list {  
  height: 100%;
  width: 100%;
  overflow: visible;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: -moz-scrollbars-none;  
  
  &::-webkit-scrollbar { 
    display: none; 
  } 
}

.application-list__header {
  padding: 14px 0;
}

.application-list_item-wrapper {
  width: 100%;
}

.application-list__item-content-wrapper {
  display: flex;
}

.application-list__item {
  @include prefix(transition, webkit ms o moz, background-color 0.2s ease-in-out);
  background-color: $color-application-list-item-background;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  
  @include breakpoint($breakpoint-desktop) {
    -webkit-touch-callout: default;
    -webkit-user-select: auto;
    user-select: auto;
  }
 
  &.hover, &:hover {
  	background-color: $color-application-list-item-background-hover;
  }
 
  &.active, &:active {
  	background-color: $color-application-list-item-background-active;
  }

  &.selected {
    background-color: $color-application-list-item-background-selected;
    
    @include breakpoint($breakpoint-pad) {
      border-radius: 3px;
    }
  }
}

.application-list__item-content {
  
}

.application-list__item-content--aside {
  display: none;
  
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    align-items: center;
    appearance: none;
    border: solid 1px $color-main-function-application-list-item-checkbox-border;
    border-radius: 3px;
    display: flex;
    height: 1rem;
    justify-content: center;
    width: 1rem;
  }

  input:checked {
    background-color: $color-main-function-application-list-item-checkbox-checked-background;
    border: solid 1px $color-main-function-application-list-item-checkbox-checked-background;
  }

  input:checked::after {
    color: $color-main-function-application-list-item-checkbox-checked-mark;
    content: "\e639";
    font-family: muikku;
    font-size: .875rem;
  }
  
  @include breakpoint($breakpoint-pad) {
    align-items: flex-start;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.application-list__item-content--main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-list__item-content-avatar {
  align-items: center;
  border-radius: 100%;
  color: #fff;
  display: flex;
  font-size: 1.25rem;
  height: 46px;
  justify-content: center;
  width: 46px;
}

.application-list__item-content-avatar--category-1 {
  background-color: $color-main-function-category-1;
}

.application-list__item-content-avatar--category-2 {
  background-color: $color-main-function-category-2;
}

.application-list__item-content-avatar--category-3 {
  background-color: $color-main-function-category-3;
}

.application-list__item-content-avatar--category-4 {
  background-color: $color-main-function-category-4;
}

.application-list__item-content-avatar--category-5 {
  background-color: $color-main-function-category-5;
}

.application-list__item-content-avatar--category-6 {
  background-color: $color-main-function-category-6;
}

.application-list__item-content-avatar--category-7 {
  background-color: $color-main-function-category-7;
}

.application-list__item-content-avatar--category-8 {
  background-color: $color-main-function-category-8;
}

.application-list__item-content-avatar--category-9 {
  background-color: $color-main-function-category-9;
}

.application-list__item-content-avatar--category-10 {
  background-color: $color-main-function-category-10;
}

.application-list__item-header {
  align-items: center;
  display: flex;   
  flex-flow: row wrap;   
}

.application-list__item-body {
  padding: 0;
}

.application-list__item-meta {
  padding: 0 0 10px;
}

.application-list__item-footer {
  align-items: center;
  display: flex;   
  padding: 0;
}

.application-list__item-header-main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-list__item-header-aside {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.application-list--open {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: -moz-scrollbars-none;
  overflow-y: auto;
  
   &::-webkit-scrollbar { 
    display: none; 
  }
}

.application-list__item-header-aside {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: right;
}

.application-list__item-header-main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

// Discussion 
.application-list__item-header--discussion-current-thread-title {
  font-size: 2 rem;
}  
  
.application-list__item-header--discussion-item-header {
 
  div:not(:first-child) {
    margin: 0 0 0 10px; 
  }
} 

.application-list__item-footer--discussion {
  padding: 7px 0 0;
}

// Announcer
.application-list__item--workspace-announcement {
    
  .text__icon::before {
    color: $color-announcement-workspace-icon;
  }
}

.application-list__item--environment-announcement { 
   
  .text__icon::before {
    color: $color-announcement-environment-icon;
  }
}

.application-list__item-header--announcer-announcement {
  flex-direction: column;
}

.application-list__item--workspace-announcement:first-child,
.application-list__item--environment-announcement:first-child {
  
  .application-list__item-header {
    background-color: $color-announcement-open-header-background;
  }
}

// Communicator
.application-list__item-header--message {
  height: 22px;
  margin: 0 0 2px;
}

.application-list__item-footer--message {
  margin: 5px 0 0;
}

.application-list--communicator-message-view {
  padding: 10px 20px 10px 30px;
  height: 100%;
  width: 100%;
}

.application-list__item--communicator-message {  
  border-bottom: 5px solid $color-message-border;
  cursor: default;
  padding: 0 0 10px;
  
  &:last-child {
    border: 0;
  }
}

.application-list__item-header--communicator-message {
	align-items: flex-start;
  flex-direction: column;
}

.application-list__item--communicator-message:first-child {
  
  .application-list__item-header {
    background-color: $color-message-open-header-background;
  }
}

// Coursepicker
.application-list__item-body--course {
  padding: 12px 0;
}

// Guider
.application-list__item-header--student {
  height: 22px;
  margin: 0 0 2px;
}

.application-list__item-footer--student {
  margin: 5px 0 0;
}
