@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.application-list {  
  height: 100%;
  width: 100%;
  overflow: visible;
  
  &::-webkit-scrollbar { 
    display: none; 
  } 
}

.application-list__header {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
  
  @include breakpoint($breakpoint-pad) {
    padding: 14px 0;
  }
}

.application-list__item-content-wrapper {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
}

.application-list__item {
  @include prefix(transition, webkit ms o moz, background-color 0.2s ease-in-out);
  background-color: $color-application-list-item-background;
  position: relative;
 
  &.hover, 
  &:hover {
  	// background-color: $color-application-list-item-background-hover;
  }
 
  &.active, 
  &:active {
  	// background-color: $color-application-list-item-background-active;
  }

  &.selected {
    background-color: $color-application-list-item-background-selected;

    .label {
      background-color: $color-label-mobile-selected-background;
    }

    .text,
    .text__icon,
    .link {
      color: $color-default;
    }
    
    .label__text {
      color: $color-default-contrast;
    }
  
    .text--item-counter {
      color: $color-default-contrast;
    }
    
    @include breakpoint($breakpoint-pad) {
      background-color: $color-default;
      border-radius: 3px;
      
      .text,
      .label__text {
        color: $color-default-contrast;
      }
      
      .text--list-item-helper-title {
        color: $color-default-helper;
      }
      
      .link {
        color: $color-text-link;
      }
      
      .label {
        background: $color-label-background;
      }
      
    }
  }
}

.application-list__item-content-aside {
  display: none;
  
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    align-items: center;
    appearance: none;
    border: solid 1px $color-main-function-application-list-item-checkbox-border;
    border-radius: 3px;
    display: flex;
    height: 1rem;
    justify-content: center;
    width: 1rem;
  }

  input:checked {
    background-color: $color-main-function-application-list-item-checkbox-checked-background;
    border: solid 1px $color-main-function-application-list-item-checkbox-checked-background;
  }

  input:checked::after {
    color: $color-main-function-application-list-item-checkbox-checked-mark;
    content: "\e639";
    font-family: muikku;
    font-size: .875rem;
  }
  
  @include breakpoint($breakpoint-pad) {
    align-items: flex-start;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.application-list__item-content-main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-list__item-content-avatar {
  align-items: center;
  border-radius: 100%;
  color: #fff;
  display: flex;
  font-size: 1.25rem;
  height: 46px;
  justify-content: center;
  width: 46px;
}

.application-list__item-content-avatar--category-1 {
  background-color: $color-main-function-category-1;
}

.application-list__item-content-avatar--category-2 {
  background-color: $color-main-function-category-2;
}

.application-list__item-content-avatar--category-3 {
  background-color: $color-main-function-category-3;
}

.application-list__item-content-avatar--category-4 {
  background-color: $color-main-function-category-4;
}

.application-list__item-content-avatar--category-5 {
  background-color: $color-main-function-category-5;
}

.application-list__item-content-avatar--category-6 {
  background-color: $color-main-function-category-6;
}

.application-list__item-content-avatar--category-7 {
  background-color: $color-main-function-category-7;
}

.application-list__item-content-avatar--category-8 {
  background-color: $color-main-function-category-8;
}

.application-list__item-content-avatar--category-9 {
  background-color: $color-main-function-category-9;
}

.application-list__item-content-avatar--category-10 {
  background-color: $color-main-function-category-10;
}

.application-list__item-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.application-list__item-body {
  padding: 0;
}

.application-list__item-meta {
  padding: 0 0 10px;
}

.application-list__item-footer {
  align-items: center;
  display: flex;   
  padding: 0;
}

.application-list__item-header-main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-list__item-header-aside {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.application-list--open {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: -moz-scrollbars-none;
  overflow-y: auto;
  
   &::-webkit-scrollbar { 
    display: none; 
  }
}

.application-list__item-header-aside {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: right;
}

.application-list__item-header-main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

// Discussion 
.application-list__header--discussion {
  padding: 14px 10px 10px;
  
  @include breakpoint($breakpoint-pad) {
    padding: 14px 0 0;
  }
}

.application-list__item--discussion-message {  
  padding: 10px;
  
  @include breakpoint($breakpoint-pad) {
    padding: 20px 0;
  }
}

.application-list__item--discussion-reply {  
  border-top: 5px solid $color-message-border;
  margin: 10px 0 0;
  padding: 10px;
  
  @include breakpoint($breakpoint-pad) {
    margin: 0;
    padding: 20px 0;
  }
}

.application-list__item--discussion-reply-of-reply {
  padding: 10px 10px 10px 30px;
  
  @include breakpoint($breakpoint-pad) {
    padding: 10px 0 20px 55px;
  }
}

.application-list__item-content-aside--discussion {
  padding: 0 16px 0 0;
}

.application-list__item-content-main--discussion {
  align-self: center;
}

.application-list__item-header--discussion {
  
  @include breakpoint($breakpoint-pad) {
    height: $avatar-size;
  }
}

.application-list__item-header--discussion-current-thread-title {
  font-size: 2 rem;
}

.application-list__item-footer--discussion-message {
  flex-flow: row wrap;
  margin: 10px 0 0;
}

// Announcer
.application-list__item--workspace-announcement,
.application-list__item--environment-announcement {
  padding: 10px 0;
  
  @include breakpoint($breakpoint-pad) {
    padding: 15px 0;
  }
    
  .text__icon::before {
    color: $color-announcement-workspace-icon;
  }
}

.application-list__item--environment-announcement { 
   
  .text__icon::before {
    color: $color-announcement-environment-icon;
  }
}

.application-list__item-header--announcer-announcement {
  align-items: flex-start;
  flex-direction: column;
}

.application-list__item--workspace-announcement:first-child,
.application-list__item--environment-announcement:first-child {
  
  .application-list__item-header {
    background-color: $color-announcement-open-header-background;
  }
}

.application-list__item-footer--announcement-actions {
  margin: 10px 0 0;
}

// Communicator
.application-list__item--communicator-message {  
  border-bottom: 5px solid $color-message-border;
  padding: 10px 0;
  
  @include breakpoint($breakpoint-pad) {
    padding: 15px 0;
  }
  
  &:last-child {
    border: 0;
  }
}

.application-list__item-header--communicator-message-thread {
	align-items: flex-start;
  flex-direction: column;
}

.application-list__item:first-child {
  
  .application-list__item-header--communicator-message-thread {
    background-color: $color-message-open-header-background;
  }
}

.application-list__item-body--communicator-message {
  margin: 5px 0; 
}

.application-list__item-footer--communicator-message-labels {
  
}

.application-list__item-footer--communicator-message-thread-actions {
  padding: 10px;
}

// Coursepicker
.application-list__item-header--course {
  cursor: pointer;
  padding: 10px 0;
  
  @include breakpoint($breakpoint-pad) {
    padding: 15px 0;
  }
} 

.application-list__item-body--course {
  padding: 0 0 10px;
  
  @include breakpoint($breakpoint-pad) {
    padding: 0 0 15px;
  }
}

.application-list__item-footer--course {
  padding: 0 0 10px;
  
  @include breakpoint($breakpoint-pad) {
    padding: 0 0 15px;
  }
}

// Guider
.application-list__item-footer--student {
  margin: 5px 0 0;
}
