@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.avatar {
  align-items: center;
  border-radius: 100%;
  color: $color-environment-link-icon-color;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: $avatar-mobile-font-size;
  height: $avatar-mobile-size;
  justify-content: center;
  width: $avatar-mobile-size;

  @include breakpoint($breakpoint-pad) {
    font-size: $avatar-desktop-font-size;
    height: $avatar-desktop-size;
    width: $avatar-desktop-size;
  }
}

.avatar--small {
  @include breakpoint($breakpoint-pad) {
    font-size: $avatar-desktop-small-font-size;
    height: $avatar-desktop-small-size;
    width: $avatar-desktop-small-size;
  }
}

.avatar-container {
  align-items: center;
  border-radius: 100%;
  color: $color-default;
  display: flex;
  font-family: $branded-font-family;
  height: $avatar-mobile-size;
  justify-content: center;
  overflow: hidden;
  width: $avatar-mobile-size;

  @include breakpoint($breakpoint-pad) {
    height: $avatar-desktop-size;
    width: $avatar-desktop-size;
  }
}

.avatar-container--discussion-area {
  background: $color-default-generic-background;
  color: $color-info;
  font-size: 1.5rem;
}

.avatar-container--small {
  @include breakpoint($breakpoint-pad) {
    height: $avatar-desktop-small-size;
    width: $avatar-desktop-small-size;
  }
}

.avatar-img {
  position: absolute;
  z-index: 1;
}

.avatar--category-1 {
  background-color: $color-main-function-category-1;
}

.avatar--category-2 {
  background-color: $color-main-function-category-2;
}

.avatar--category-3 {
  background-color: $color-main-function-category-3;
}

.avatar--category-4 {
  background-color: $color-main-function-category-4;
}

.avatar--category-5 {
  background-color: $color-main-function-category-5;
}

.avatar--category-6 {
  background-color: $color-main-function-category-6;
}

.avatar--category-7 {
  background-color: $color-main-function-category-7;
}

.avatar--category-8 {
  background-color: $color-main-function-category-8;
}

.avatar--category-9 {
  background-color: $color-main-function-category-9;
}

.avatar--category-10 {
  background-color: $color-main-function-category-10;
}
