@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.carousel {
  position: relative;
  width: 100%;
}

.carousel__item {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}

.carousel__item-video {
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.carousel__controls {
  display: block;
  margin: 0;
  padding: 20px 0;
  width: 100%;
}

.carousel__dots {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  button {
    @include prefix(transition, moz ms webkit o, background 0.3);

    background: $color-carousel-default-dot-background;
    border: solid 2px $color-carousel-default-dot-border;
    border-radius: 100%;
    cursor: pointer;
    font-size: 0;
    height: 17px;
    margin: 0 10px;
    outline: none;
    padding: 0;
    vertical-align: top;
    width: 17px;
  }

  .carousel__dot--selected {
    background: $color-carousel-default-dot-active-background;
  }

  button:focus {
    background: $color-carousel-focused-dot-active-background;
  }
}

.custom-dot-list-style {
  position: relative;
}

.react-multiple-carousel__arrow--right {
  right: calc(1% + 1px);
}

.react-multiple-carousel__arrow--left {
  left: calc(1% + 1px);
}

.carousel-item--courses {
  display: flex;
  justify-content: center;
  padding: 0;
}

.carousel-itemV2--courses {
  background-color: white;
  box-shadow: 0 5px 5px $color-workspace-hero-shadow;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  margin: 0 5px;
  width: calc(100% - 20px);
}

.carousel-itemV2__image-section--courses {
  height: 200px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px 0;

  h3 {
    background: #ffffffe3;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 15px 0 10px $color-workspace-hero-shadow;
    display: flex;
    font-size: 1.1rem;
    font-weight: 300;
    padding: 5px 10px 5px 5px;
    width: fit-content;
    max-width: 90%;
  }

  h2 {
    background: #4ee23a;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 15px 0 10px $color-workspace-hero-shadow;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    margin: 10px 0 0;
    padding: 5px 10px;
    width: fit-content;
    max-width: 60%;
  }
}

.carousel-itemV2__image-section--courses img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.carousel-itemV2__container-section--courses {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 5px 10px;
}

.carousel-itemV2__container-content--courses {
  display: flex;
  flex-flow: column;
  height: 120px;
  margin: 5px 0;
  max-height: 120px;
  overflow: hidden;
  position: relative;
  text-align: initial;

  p {
    margin: 5px;
  }

}

.carousel-itemV2__container-content--courses::before {
  background-image: linear-gradient(180deg, #ffffff8c, #fffffff5);
  bottom: 0;
  content: "";
  height: 20px;
  position: absolute;
  width: 100%;
}

.carousel-itemV2__container-functions--courses {
  margin: 5px 0;
}

.carousel-item--achievement {
  padding: 10 10px;
}

.carousel-itemV2--achievement {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 5px;
}

.carousel-itemV2__image-section--achievement {
  height: 100px;
  width: 100%;
  background-color: blue;
  margin: 5px 0;
}

.carousel-itemV2__image-section--achievement img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}
