@import "../base/mixins";
@import "../base/colors";
@import "../base/vars";
@import "../base/breakpoints";

.chart-legend {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  font-family: $text-font-family;
  font-size: $text-desktop-font-size;
  padding-left: 40px;
  padding-right: 21px;
  width: auto;
}

// NAVBAR LOGIN, FORGOTPASSWORD, AVATAR, LANGUAGE
.chart-filter {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
}

.chart-filter--workspace-filter {
  justify-content: flex-end; 
} 

.workspace-filter-activator {
  border-radius: 2px;
  border-width: 0px;
  background-color: #009fe3;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
}

.workspace-filter-activator:hover {
  background-color: #007bb0;
}
  
.chart-filter--legend-filter {
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    align-items: center;
    appearance: none;
	  border: solid 2px;
    height: 1rem;
    justify-content: center;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    width: 1rem;
    
    &.Assignments {
      border-color: $color-assignment;
    }
    
    &.Exercises {
      border-color: $color-exercise;
    }
    
    &.Logins {
      border-color: $color-tertiary;
    }
	}
	
	input[type="checkbox"]:checked {
    
    &.Assignments {
      background-color: $color-assignment;
    }
    
    &.Exercises {
      background-color: $color-exercise;
    }
    
    &.Logins {
      background-color: $color-tertiary;
    }
  }
  
	input[type="checkbox"]:checked::after {
    color: #fff;
    content: "";
    font-family: muikku;
    font-size: .875rem;
  }
  
  input[type="checkbox"]:focus {
    outline: 5px;
  }
  
  span {
    vertical-align:middle;
  }
}

.dropdown__container {
  font-family: $text-font-family;
  font-size: $text-desktop-font-size;
  
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    align-items: center;
    appearance: none;
    border: solid 1px #c7c7c7;
    border-radius: 3px;
    height: 1rem;
    justify-content: center;
    margin: 0 5px 0 0;
    vertical-align: middle;
    width: 1rem;
  }
  
  input[type="checkbox"]:checked {
    background-color: #29b0c4;
    border: solid 1px #29b0c4;
  }
  
  input[type="checkbox"]:checked::after {
    color: #fff;
    content: "\E639";
    font-family: muikku;
  }
  span {
    vertical-align: middle;
  }
}

.filterAmChart {
  width: auto;
  min-height: 400px;
}

.workspaceAmChart {
  width: 600px;
  height: 250px;
}