@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

$muikku-blue: #009fe3;
$workspace-blue: #2fd2ae;
$the-grey: #eaeaea;

.chat {
  bottom: 0;
  position: fixed;
  right: 15px;
  z-index: 9999;
}

// Chat bubble
.chat__bubble {
  align-items: center;
  background-color: $color-chat-bubble-background;
  border-radius: 100%;
  border: 2px solid $color-default;
  bottom: 10px;
  color: $color-default;
  cursor: pointer;
  display: flex;
  font-size: 1.85rem;
  height: 55px;
  justify-content: center;
  box-shadow: 0 0 10px $color-chat-bubble-box-shadow;
  position: fixed;
  right: 15px;
  width: 55px;
  z-index: 9999;
}

// Chat Controlbox
.chat__controlbox {
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 450px;
  background-color: $color-default;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 5px $color-chat-controlbox-box-shadow;
  position: fixed;
  right: 15px;
  width: 300px;
}

.chat__controlbox-header {
  align-items: center;
  background-color: $color-default;
  border-radius: 5px 5px 0 0;
  color: $color-default-contrast;
  display: flex;
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  justify-content: space-between;
  padding: 10px;
}

.chat__button {
  color: $color-info;
  cursor: pointer;
}

.chat__button--new-room {

}

.chat__button--close {

}

.chat__controlbox-body {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 0.875rem;
  overflow-y: auto;
  padding: 10px;
}

.chat__user-status {
  background: $color-default;
  border: 2px solid $color-default-separator-border;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 5px;
  width: 100%;
}

.chat__user-status--online {
  border-color: $collor-chat-user-status-online;
}

.chat__user-status--offline {
  border-color: $collor-chat-user-status-offline;
}

.chat__user-status--away {
  border-color: $collor-chat-user-status-away;
}

.chat__rooms-heading {
  font-size: 0.875rem;
  margin: 0 0 5px;
  text-transform: uppercase;
}

.chat__rooms-listing {
  margin: 0 0 10px;
}

.chat__room {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 5px 0;
}

.chat__room--empty {
  font-style: italic;
  font-weight: 300;
}

.chat__room-action {
  align-items: center;
  color: $color-info;
  cursor: pointer;
  display: flex;
  flex-basis: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 5px 0 0;
}

.chat__room-name {
  cursor: pointer;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.chat__room-description {
  background: $color-chat-room-description-background;
  border-radius: 3px;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 0.8125rem;
  padding: 5px;
}

// Chat Controlbox New Room
.chat__new-room-tab--container {
  position: absolute;
  top: 30px;
  width: 100%;
  height: 100%;
  padding: 10px 20px 6px 10px;
}

.chat__new-room-tab--close, .chat__muc--close-chatbox {
  float:right;
  font-size: 17px;
}

.chat__new-room-tab--settings-input, .chat__muc--settings-input {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #009fe3;
  margin-bottom: 10px;
  padding: 3px;
  font-size: 13px;
}

.chat__new-room--join-button, .chat__muc--save-button {
  width: 63%;
  height: 40px;
  margin: 20%;
  background-color: #2fd2ae;
  color: #fff;
  border: 1px solid #2fd2ae;
  border-radius: 9px;
  text-transform: UPPERCASE;
}

// Chat Rooms
.chat__chatrooms-container {
  display:flex;
  margin-right: 315px;
  flex-direction: row;
  align-items: flex-end;
}

.chat__muc--body, .chat__private-chat--body {
  justify-self: flex-end;
  margin-left: 10px;
}

.chat__muc--container, .chat__private-chat--container {
  background-color: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  width: 400px;
  height:350px;
}

.chat__muc--header, .chat__private-chat--header {
  background-color: darken($workspace-blue, 10%);
  color:#fff;
  text-align: right;
  font-size: 13px;
  height: 28px;
  width:100%;
  padding: 5px;
  border-radius: 10px 10px 0 0;
}

.chat__muc--room-settings {
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  padding:10px;
}

.chat__muc--messages, .chat__private-chat--messages {
  height: 245px;
  margin-top:0;
  overflow-y: scroll;
  border-bottom:1px solid #999;
  padding: 5px;
  width: 100%;
 }

.chat__muc--message-wrapper, .chat__private-chat--message-wrapper {
  display: flex;
}

.chat__muc--occupants-list {
  height: 245px;
  background-color: #eaeaea;
  color: $muikku-blue;
  width: 25%;
  padding: 10px;
  font-size: 10px;
}

.chat__muc--message-area, .chat__private-chat--message-area {
  width: 90%;
  height: 74px;
  padding: 10px;
  resize: none;
  border: 0;
}

.chat__muc--recipient, .chat__private-chat--recipient {
  display: none;
}

.chat__muc--send-message, .chat__private-chat--send-message {
  height:12%;
  border-radius: 5px;
  border: 5px solid #3392FF;
  background-color: #3392FF;
  color: #fff;
  vertical-align: top;
  margin: 22px 4px 2px 4px;
}

.chat__chatbox--room-settings-icon {
  padding: 5px;
}

.chat__minimized-chat {
  display: block;
  width: 160px;
  height: 30px;
  z-index: 7;
  background-color: #FFF;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding-top: 8px;
}

.chat__message-item {
  display: flex;
  margin-bottom: 10px;
  flex-flow: wrap;
  flex-direction: column;
  align-items: flex-start;
}

.chat__message-item--timestamp {
  font-size: 11px;
}

.chat__message-item--text {
  background-color: $the-grey;
  padding: 6px;
  width: auto;
  border-radius: 10px;
  font-size: 13px;
  float:left;
}

.chat__message-item--remove-button {
  float: left;
  padding: 7px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
.sender-me {
  align-self: flex-end;

  b {
    color: #777878;
    font-size: 12px;
  }
}

.sender-them {
  align-self: flex-start;
   b{
     color: $muikku-blue;
     font-size: 12px;
   }
}

.sender-others-workspace {
  align-self: flex-start;
   b{
     color: $workspace-blue;
     font-size: 12px;
   }
}

 button.saveSettings {
  align-content:right;
  margin: 255px 0 0 300px
}

.order-minimized {
  order: -1;
}

.chat__rooms-list--room-name {
  width: 100%;
  padding: 3%;
  font-weight: normal;
}

.chat__chatbox--room-name {
  float: left;
}

.settingsInform {
  display: block;
  width: 100%;
  border:1px solid #d2d2d2;
  margin-top:10%;
  color:#fff;
  padding:15px;
  text-align: center;
}
.--none {
    display: none;
  }

.--success {
    background-color: forestgreen;
  }

.--failed {
  background-color: teal;
}













