@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

$chat-discussion-panel-header-height: 40px;
$chat-discussion-panel-footer-height: 35px;
$chat-border-radius: 5px;
$chat-resizer-size: 150px;
$chat-resizer-thickness: 4px;
$chat-resizer-offset: -6px;
$chat-resizer-corner-radius: 100%;
$chat-resizer-corner-size: 10px;

// Chat bubble
.chat-bubble {
  align-items: center;
  background-color: $color-chat-primary;
  border: 2px solid $color-default;
  border-radius: 100%;
  bottom: 10px;
  box-shadow: 0 0 20px $color-chat-box-shadow;
  color: $color-default;
  cursor: pointer;
  display: flex;
  font-size: 1.85rem;
  height: 55px;
  justify-content: center;
  order: 2;
  position: fixed;
  right: 10px;
  transform: rotate(-15deg);
  transition: transform 0.3s ease-in-out;
  width: 55px;
  z-index: 9989;

  &:hover {
    transform: rotate(360deg);
  }
}

// Chat window
.chat {
  border: 1px solid $color-panel-border-color;
  border-radius: $chat-border-radius;
  box-shadow: 0 0 15px $color-chat-box-shadow;
  color: $color-text-default;
  display: flex;
  flex-flow: column nowrap;
  font-family: $system-font-family;
  font-size: 0.8125rem;
  font-weight: 400;
  height: 500px;
  overflow: unset;
  position: fixed;
  width: 800px;
  z-index: 9989;
}

.chat--detached {
  box-shadow: 0 0 20px $color-chat-box-shadow;

  .chat__header {
    cursor: move;
  }
}

.chat--fullscreen {
  border-radius: 0;
  box-shadow: none;
}

.chat__header {
  align-items: center;
  background: $color-default;
  border-bottom: 1px solid $color-default-separator-border;
  border-top: 5px solid $color-chat-primary;
  border-top-left-radius: $chat-border-radius;
  border-top-right-radius: $chat-border-radius;
  box-shadow: 0 0 2px $color-chat-box-shadow;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  z-index: 5;
}

.chat__body {
  background: $color-chat-panel-background;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 100%;
  position: relative;
  width: 100%;
}

// Toggle for expanding/collapsing panels
.chat__button-wrapper {
  align-items: center;
  display: flex;
  height: 1.625rem;
  justify-content: center;
  margin: 5px;
  width: 1.625rem;
}

// Wrapper for rooms panel's show/hide button
.chat__button-wrapper--rooms {
  justify-content: flex-end;
  margin: 5px 0;
  width: auto;
}

// Wrapper for users panel's show/hide button
.chat__button-wrapper--users {
  justify-content: flex-start;
  margin: 5px 0;
  width: auto;
}

// Button for closing active discussion from users panel
.chat__button-wrapper--close-discussion {
  display: none;
  margin: -13px 0 0;
  position: absolute;
  right: 5px;
  top: 50%;
}

// Generic style for active chat item, includes tabs, rooms, options and users elements
.chat__option,
.chat__room,
.chat__user,
.chat__tab {
  &.chat__active-item {
    background: $color-chat-primary;
    color: $color-default;

    .chat__option-name-container,
    .chat__room-name-container,
    .chat__profile-name-container,
    .button-icon--chat {
      color: $color-default;
    }

    &:hover {
      background: $color-chat-primary;
    }
  }
}

// LEFT PANEL a.k.a ROOMS PANEL

// Panel that holds the list of available rooms
.chat__rooms-panel {
  background: $color-chat-panel-background;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  top: 0;
  transition: width 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  width: 85px;
  z-index: 4;
}

.chat__rooms-panel--open {
  width: 180px;
}

.chat__rooms-panel--open-as-floating {
  box-shadow: 5px 0 5px $color-chat-box-shadow;
  width: 180px;
}

// Scrolling container for chat-rooms + chat__options
.chat__rooms-container {
  // Height of the logged in chat user's avatar container including top and bottom margin
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  scrollbar-width: none;

  // Height of the show/hide panel button wrapper including it's top and bottom margin
  top: calc(1.625rem + 10px);
  width: 100%;
}

.chat__options,
.chat__rooms {
  padding: 0 0 10px;
}

.chat__option,
.chat__room {
  background: transparent;
  border-radius: $chat-border-radius;
  cursor: pointer;
  margin: 2px 5px;
  position: relative;
  width: calc(100% - 10px);

  &:hover {
    background: darken($color-chat-panel-background, 5%);
  }
}

.chat__option-name-container,
.chat__room-name-container {
  @include text;
}

.chat__option-name,
.chat__room-name {
  font-size: 0.8125rem;
  font-weight: 600;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// MIDDLE PANEL a.k.a DISCUSSION PANEL

// Panel that shows selected discussion
.chat__main-panel {
  background: $color-default;
  border-radius: $chat-border-radius;
  box-shadow: 0 0 2px $color-chat-box-shadow;
  height: calc(100% - 10px);
  margin: 5px 54px 5px 87px;
  position: relative;
  transition: margin 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  width: auto;

  &.chat__main-panel--left-panel-open {
    margin-left: 182px;
  }

  &.chat__main-panel--right-panel-open {
    margin-right: 182px;
  }
}

// Panel container for selected discussion
.chat__discussion-panel {
  background: transparent;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.chat__discussion-panel-header {
  align-items: center;
  background: transparent;
  border-bottom: 1px solid $color-default-item-separator-border;
  display: flex;
  flex-flow: row nowrap;
  height: $chat-discussion-panel-header-height;
  padding: 10px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.chat__discussion-panel-header-title {
  cursor: pointer;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 600;
  white-space: nowrap;
}

.chat__discussion-panel-header-description {
  color: lighten($color-default-contrast, 30%);
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 400;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.chat__discussion-panel-header-actions {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
}

.chat__discussion-panel-body {
  bottom: $chat-discussion-panel-footer-height;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: $chat-discussion-panel-header-height;
  width: 100%;
}

.chat__messages-container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  scrollbar-width: thin;
  width: 100%;
}

.chat__message {
  align-items: flex-start;
  border-radius: $chat-border-radius;
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.8125rem;
  margin: 10px 0;
  padding: 5px;
  position: relative;

  &:first-child {
    margin: 0 0 10px;
  }

  &:last-child {
    margin: 10px 0 0;
  }

  &:hover {
    background: $color-chat-panel-background;

    .chat__message-actions {
      display: flex;
    }
  }
}

.chat__message--deleting {
  background: $color-chat-panel-background;
}

.chat__message--editing {
  background: $color-chat-panel-background;
}

.chat__message-edited-info {
  font-size: 0.75rem;
  font-style: italic;
}

.chat__message-actions {
  align-items: center;
  display: none;
  flex-flow: row nowrap;
  position: absolute;
  right: 0;
  top: 0;
}

.chat__message-actions--mobile {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.chat__message-action {
  padding: 5px;
}

.chat__message-content-container {
  flex-basis: calc(100% - 46px);
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 0 10px;
}

.chat__message-meta {
  padding: 0 0 4px;
}

.chat__message-meta-sender {
  font-weight: bold;
  margin: 0 5px 0 0;
}

.chat__message-meta-timestamp {
  font-size: 0.75rem;
}

.chat__message-body {
  line-height: 1.25rem;
}

.chat__message-footer {
  font-size: 0.75rem;
  padding: 2px 0;
}

.chat__message-footer-action {
  color: $color-info;
  cursor: pointer;
  text-decoration: underline;

  &:first-child {
    padding: 0 5px 0 0;
  }

  &:last-child {
    padding: 0 0 0 5px;
  }
}

.chat__discussion-panel-footer {
  align-items: center;
  border-bottom-left-radius: $chat-border-radius;
  border-bottom-right-radius: $chat-border-radius;
  border-top: 1px solid $color-default-item-separator-border;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  left: 0;
  min-height: $chat-discussion-panel-footer-height;
  position: absolute;
  right: 0;
  width: 100%;
}

.chat__discussion-editor-container {
  align-items: center;
  border-right: 1px solid $color-default-item-separator-border;
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: $chat-discussion-panel-footer-height;
}

// RIGHT PANEL a.k.a USERS PANEL

// Panel that holds the list of users
.chat__users-panel {
  background: $color-chat-panel-background;
  border-bottom-right-radius: $chat-border-radius;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: width 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), box-shadow 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  width: 52px;
  z-index: 4;
}

.chat__users-panel--open {
  width: 180px;
}

.chat__users-panel--open-as-floating {
  box-shadow: -5px 0 5px $color-chat-box-shadow;
  width: 180px;
}

// Scrolling container for chat-users
.chat__users-container {
  // Height of the logged in chat user's avatar container including top and bottom margin
  bottom: 50px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  scrollbar-width: none;

  // Height of the show/hide panel button wrapper including it's top and bottom margin
  top: calc(1.625rem + 10px);
  width: 100%;
}

// Generic category and container that holds a list of chat users
.chat__users {
  padding: 0 0 10px;
}

// Category title for guidance counselors and active discussions / public and course rooms
.chat__rooms-category-title,
.chat__users-category-title {
  font-size: 0.75rem;
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

// Container for single chat user, also acts as a trigger to open private chat. Contains close private discussion button
.chat__user {
  background: transparent;
  border-radius: $chat-border-radius;
  cursor: pointer;
  margin: 2px 5px;
  padding: 5px;
  position: relative;
  width: calc(100% - 10px);

  &:hover {
    background: darken($color-chat-panel-background, 5%);

    .chat__profile-name-container {
      // 32px is the width of the [avatar-container], 32px is the width of the [avatar-container], 10px is the elements left margin and 26px is the width of [close-discussion] button
      flex-basis: calc(100% - 10px - 32px - 26px);
      flex-flow: column nowrap;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: center;
      margin: 0 0 0 10px;
      max-width: calc(100% - 10px - 32px - 26px);
    }

    .chat__button-wrapper--close-discussion {
      display: block;
    }
  }
}

// Container that acts as a universal chat badge of user
.chat__profile-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  width: 100%;
}

// Container that acts as a badge of logged in chat user
.chat__profile-container--my-profile {
  background: darken($color-default-generic-background, 10%);
  border-radius: $chat-border-radius;
  bottom: 0;
  margin: 5px;
  padding: 5px;
  position: absolute;
  width: calc(100% - 10px);

  &:hover {
    background: darken($color-default-generic-background, 10%);
  }

  .chat__profile-name-container {
    // 32px is the width of the [avatar-container], 26px is the width of the [edit-profile-settings] button and 10px is the sum of this elements left and right margin
    flex-basis: calc(100% - 10px - 26px - 32px);
    width: calc(100% - 10px - 26px - 32px);
  }

  .chat__profile-literal-status {
    display: block;
    font-size: 0.75rem;
    white-space: nowrap;
  }
}

.chat__profile-avatar-container {
  flex-basis: $avatar-mobile-chat-size;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;

  @include breakpoint($breakpoint-desktop) {
    flex-basis: $avatar-desktop-chat-size;
  }
}

// Chat avatar status
.chat__avatar-status {
  border: 2px solid $color-default;
  border-radius: 100%;
  bottom: -3px;
  flex-basis: 0.875rem;
  flex-grow: 0;
  flex-shrink: 0;
  height: 0.875rem;
  position: absolute;
  right: -3px;
  width: 0.875rem;
  z-index: 3;
}

.chat__avatar-status--online {
  background: $color-chat-user-status-online;
}

.chat__avatar-status--offline {
  background: $color-chat-user-status-offline;
}

.chat__avatar-status--dnd {
  background: $color-chat-user-status-dnd;
}

.chat__avatar-status--away {
  background: $color-chat-user-status-away;
}

.chat__profile-name-container {
  @include text;

  align-items: flex-start;
  display: flex;

  // 32px is the width of the [avatar-container], 32px is the width of the [avatar-container] and 10px is the elements left margin
  flex-basis: calc(100% - 10px - 32px);
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  margin: 0 0 0 10px;
  max-width: calc(100% - 10px - 32px);
}

.chat__profile-name {
  font-size: 0.8125rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

// Online/offline literal status, we don't display it for every badge, only visible to loggen in user
.chat__profile-literal-status {
  display: none;
}

// Chat overview/dashboard
.chat__overview-panel {
  background: transparent;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.chat__overview-panel-header {
  align-items: center;
  background: transparent;
  border-bottom: 1px solid $color-default-item-separator-border;
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  padding: 10px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.chat__overview-panel-header-title {
  border-right: 1px solid $color-default-separator-border;
  font-weight: 600;
  margin: 0 5px 0 0;
  padding: 0 10px 0 0;
}

.chat__overview-panel-header-actions {
  margin: 0 0 0 auto;
}

.chat__tabs {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 5px;
}

.chat__tab {
  border-radius: $chat-border-radius;
  cursor: pointer;
  font-size: 0.8125rem;
  font-weight: 600;
  margin: 0 2px;
  padding: 5px;

  &:hover {
    background: $color-chat-panel-background;
  }
}

.chat__overview-panel-body {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 40px;
  width: 100%;
}

.chat__overview-panel-search-container {
  align-items: center;
  border-bottom: 1px solid $color-default-separator-border;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;
}

.chat__overview-panel-items-container {
  height: calc(100% - 58px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  scrollbar-width: thin;
}

.chat__overview-panel-item {
  align-items: center;
  border-radius: $chat-border-radius;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 2px 0;

  // We keep this element's min-height as same as avatar's height + top and bottom padding so lists are lined up nicely
  min-height: calc($avatar-mobile-chat-size + 10px);
  padding: 5px;

  @include breakpoint($breakpoint-pad) {
    min-height: calc($avatar-desktop-chat-size + 10px);
  }

  &:hover {
    background: $color-chat-panel-background;
  }
}

// Global overview data container that wraps user and room items
.chat__overview-panel-item-data {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 600;
}

.chat__overview-panel-item-actions {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
}

// Chat window resizer
.chat__resizer {
  background: transparent;
  border-radius: 3px;
  position: absolute;
  z-index: 5;
}

.chat__resizer-r {
  cursor: col-resize;
  height: $chat-resizer-size;
  margin-top: -75px;
  right: $chat-resizer-offset;
  top: 50%;
  width: $chat-resizer-thickness;
}

.chat__resizer-t {
  cursor: row-resize;
  height: $chat-resizer-thickness;
  left: 50%;
  margin-left: -75px;
  top: $chat-resizer-offset;
  width: $chat-resizer-size;
}

.chat__resizer-b {
  bottom: $chat-resizer-offset;
  cursor: row-resize;
  height: $chat-resizer-thickness;
  left: 50%;
  margin-left: -75px;
  width: $chat-resizer-size;
}

.chat__resizer-l {
  cursor: col-resize;
  height: $chat-resizer-size;
  left: $chat-resizer-offset;
  margin-top: -75px;
  top: 50%;
  width: $chat-resizer-thickness;
}

.chat__resizer-tl {
  border-radius: $chat-resizer-corner-radius;
  cursor: nwse-resize;
  height: $chat-resizer-corner-size;
  left: $chat-resizer-offset;
  top: $chat-resizer-offset;
  width: $chat-resizer-corner-size;
}

.chat__resizer-tr {
  border-radius: $chat-resizer-corner-radius;
  cursor: nesw-resize;
  height: $chat-resizer-corner-size;
  right: $chat-resizer-offset;
  top: $chat-resizer-offset;
  width: $chat-resizer-corner-size;
}

.chat__resizer-bl {
  border-radius: $chat-resizer-corner-radius;
  bottom: $chat-resizer-offset;
  cursor: nesw-resize;
  height: $chat-resizer-corner-size;
  left: $chat-resizer-offset;
  width: $chat-resizer-corner-size;
}

.chat__resizer-br {
  border-radius: $chat-resizer-corner-radius;
  bottom: $chat-resizer-offset;
  cursor: nwse-resize;
  height: $chat-resizer-corner-size;
  right: $chat-resizer-offset;
  width: $chat-resizer-corner-size;
}

// Form styles used in chat
.chat__textfield {
  background: transparent;
  border: 2px solid $color-chat-primary;
  border-radius: $chat-border-radius;
  color: $color-text-default;
  font-family: $system-font-family;
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 8px 5px;
  resize: none;
  width: 100%;
}

.chat__textfield--with-filter {
  margin: 0 5px 0 0;
}

.chat__memofield {
  background: transparent;
  border: 2px solid $color-chat-primary;
  border-radius: $chat-border-radius;
  color: $color-text-default;
  font-family: $system-font-family;
  font-size: 0.8125rem;
  font-weight: 400;
  height: 5rem;
  line-height: 1.25rem;
  padding: 8px 5px;
  resize: none;
  width: 100%;
}

.chat__new-message {
  border: 10px solid $color-default;
  font-size: 0.8125rem;
  height: 1rem;
  line-height: 1.25rem;
  min-height: calc(1rem + 20px);
  padding: 0;
  resize: none;
  width: 100%;
}

.chat__edit-message {
  background: darken($color-chat-panel-background, 5%);
  border: 5px solid darken($color-chat-panel-background, 5%);
  border-radius: $chat-border-radius;
  font-size: 0.8125rem;
  height: 1rem;
  line-height: 1.25rem;
  padding: 0;
  resize: none;
  width: 100%;
}

.chat__submit {
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  height: $chat-discussion-panel-footer-height;
  justify-content: center;
  width: $chat-discussion-panel-footer-height;
}

// CHAT MOBILE STYLES

// Chat window for mobile
.chat-mobile {
  background: $color-default;
  bottom: 0;
  font-family: $system-font-family;
  font-size: 0.8125rem;
  left: 0;
  min-width: 320px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9989;

  .chat__overview-panel-header,
  .chat__discussion-panel-header {
    background: $color-chat-primary;
    color: $color-default;
  }

  .chat__discussion-panel-header-description {
    color: lighten($color-chat-primary, 35%);
  }

  .react-select-override {
    background: darken($color-chat-primary, 15%);
    border-radius: $chat-border-radius;
    display: block;
    height: 1.625rem;
    margin: 0 5px;

    .react-select-override__control {
      background: darken($color-chat-primary, 15%);
      border: 0;
      border-radius: $chat-border-radius;
      font-size: 0.8125rem;
      font-weight: 400;
      height: 1.625rem;
      min-height: 1.625rem;
    }

    .react-select-override__value-container {
      padding: 0 4px 0 8px;
    }

    .react-select-override__single-value {
      color: $color-default;
      font-weight: 600;
    }

    .react-select-override__indicator {
      color: $color-default;
      padding: 0 8px 0 4px;
    }

    .react-select-override__indicator-separator {
      display: none;
    }

    .react-select-override__menu {
      border: 1px solid lighten($color-chat-primary, 30%);
      box-shadow: 0 0 20px $color-chat-box-shadow;
    }

    .react-select-override__option {
      background: $color-default;
      color: $color-default-contrast;
      font-weight: 600;
    }

    .react-select-override__option--is-selected {
      background: $color-chat-primary;
      color: $color-default;
    }
  }
}

// Left and Right panel
.chat-mobile__panel {
  background: $color-default;
  bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  transform: none;
  user-select: none;
  z-index: 7;
}

// COntainer for mobile chat's header and main area. Needs to have same bottom value as [chat-mobile__footer] has height
.chat-mobile__main-container {
  bottom: 3rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

// Navigation footer for mobile views
.chat-mobile__footer {
  align-items: center;
  background: $color-chat-panel-background;
  bottom: 0;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  z-index: 5;
}

.chat-mobile__back-drop {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 6;
}

.chat-mobile__action-panel {
  background: $color-default;
  bottom: 0;
  left: 0;
  min-height: 5rem;
  padding: 10px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 5;
}
