@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

$chat-discussion-panel-header-height: 40px;
$chat-discussion-panel-footer-height: 40px;
$chat-border-radius: 5px;
$chat-resizer-size: 150px;
$chat-resizer-thickness: 4px;
$chat-resizer-offset: -6px;
$chat-resizer-corner-radius: 100%;
$chat-resizer-corner-size: 15px;

// Chat bubble
.chat-bubble {
  align-items: center;
  background-color: $color-chat-bubble-background;
  border: 2px solid $color-default;
  border-radius: 100%;
  bottom: 10px;
  box-shadow: 0 0 20px $color-chat-bubble-box-shadow;
  color: $color-default;
  cursor: pointer;
  display: flex;
  font-size: 1.85rem;
  height: 55px;
  justify-content: center;
  order: 2;
  position: fixed;
  right: 10px;
  transform: rotate(-15deg);
  transition: transform 0.3s ease-in-out;
  width: 55px;
  z-index: 9989;

  &:hover {
    transform: rotate(360deg);
  }
}

// Chat window
.chat {
  @include text;

  background: $color-default;
  border-radius: 10px;
  box-shadow: 0 0 15px $color-chat-box-shadow;
  display: flex;
  flex-flow: column nowrap;
  height: 500px;
  overflow: unset;
  position: fixed;
  width: 700px;
  z-index: 9989;
}

.chat--detached {
  box-shadow: 0 0 20px $color-chat-detached-box-shadow;

  .chat__header {
    cursor: move;
  }
}

.chat--fullscreen {
  border-radius: 0;
  box-shadow: none;
}

.chat__header {
  align-items: center;
  border-bottom: 1px solid $color-default-separator-border;
  border-top: 5px solid $color-chat-primary;
  border-top-left-radius: $chat-border-radius;
  border-top-right-radius: $chat-border-radius;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  z-index: 3;
}

.chat__body {
  height: 100%;
  position: relative;
  width: 100%;
}

// Toggle for expanding/collapsing panels
.chat__button-wrapper {
  align-items: center;
  display: flex;
  height: 1.625rem;
  justify-content: center;
  margin: 5px;
  width: 1.625rem;
}

// Wrapper for rooms panel's show/hide button
.chat__button-wrapper--rooms {
  justify-content: flex-end;
  width: auto;
}

// Wrapper for users panel's show/hide button
.chat__button-wrapper--users {
  justify-content: flex-start;
  width: auto;
}

// Button for closing active discussion from users panel
.chat__button-wrapper--close-discussion {
  display: none;
  margin: -13px 0 0;
  position: absolute;
  right: 5px;
  top: 50%;
}

// LEFT PANEL a.k.a ROOMS PANEL

// Panel that holds the list of available rooms
.chat__rooms-panel {
  background: $color-default;
  border-bottom-left-radius: $chat-border-radius;
  border-right: 1px solid $color-default-separator-border;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  position: absolute;
  top: 0;
  z-index: 3;
}

.chat__options,
.chat__rooms {
  padding: 0 0 10px;
}

.chat__option,
.chat__room {
  background: transparent;
  border-radius: $chat-border-radius;
  cursor: pointer;
  margin: 2px 5px;
  padding: 5px;
  position: relative;
  width: calc(100% - 10px);

  &:hover {
    background: darken($color-chat-panel-background, 5%);
  }
}

.chat__option-name-container,
.chat__room-name-container {
  @include text;
}

.chat__option-name,
.chat__room-name {
  font-size: 0.825rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// MIDDLE PANEL a.k.a DISCUSSION PANEL

// Panel that shows selected discussion
.chat__discussions-panel {
  height: 100%;
  position: relative;
  width: auto;
}

// Panel container for selected discussion
.chat__discussion-panel {
  background: $color-default;
  bottom: 0;
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.chat__discussion-panel-header {
  background: $color-default;
  border-bottom: 1px solid $color-default-item-separator-border;
  display: flex;
  height: $chat-discussion-panel-header-height;
  padding: 10px;
  position: relative;
  width: 100%;
  z-index: 2;
}

.chat__discussion-panel-header-title {
  font-weight: 600;
}

.chat__discussion-panel-header-actions {
  align-items: center;
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
}

.chat__discussion-panel-body {
  bottom: $chat-discussion-panel-footer-height;
  left: 0;

  // overflow-x: hidden;
  // overflow-y: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: $chat-discussion-panel-header-height;
  width: 100%;
}

.chat__message-wrapper {
  margin: 10px 0;
  position: relative;

  &:first-child {
    margin: 0 0 10px;
  }

  &:last-child {
    margin: 10px 0 0;
  }
}

.chat__message {
  padding: 5px;
}

.chat__message-content-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.chat__avatar-container {
  flex-basis: $avatar-mobile-chat-size;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;

  @include breakpoint($breakpoint-desktop) {
    flex-basis: $avatar-desktop-chat-size;
  }
}

.chat__message-content-wrapper {
  flex-basis: calc(100% - 46px);
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 0 10px;
}

.chat__message-meta {
  font-size: 0.825rem;
  padding: 4px 0;
}

.chat__message-meta-sender {
  font-weight: bold;
  margin: 0 5px 0 0;
}

.chat__message-meta-timestamp {
  font-size: 0.75rem;
}

.chat__discussion-panel-footer {
  border-top: 1px solid $color-default-item-separator-border;
  bottom: 0;
  display: flex;
  flex-flow: row nowrap;
  left: 0;
  min-height: $chat-discussion-panel-footer-height;
  position: absolute;
  right: 0;
  width: 100%;
}

// RIGHT PANEL a.k.a USERS PANEL

// Panel that holds the list of users
.chat__users-panel {
  background: $color-chat-panel-background;
  border-bottom-right-radius: $chat-border-radius;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

// Scrolling container for chat-users
.chat__users-container {
  // Height of the logged in chat user's avatar container including top and bottom margin
  bottom: 50px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;

  // Height of the show/hide panel button wrapper including top and bottom margin
  top: 36px;
  width: 100%;
}

// Generic category and container that holds a list of chat users
.chat__users {
  padding: 0 0 10px;
}

// Category title for guidance counselors and active discussions / public and course rooms
.chat__rooms-category-title,
.chat__users-category-title {
  font-size: 0.75rem;
  margin: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

// Container for single chat user, also acts as a trigger to open private chat. Contains close private discussion button
.chat__user {
  background: transparent;
  border-radius: $chat-border-radius;
  cursor: pointer;
  margin: 2px 5px;
  padding: 5px;
  position: relative;
  width: calc(100% - 10px);

  &:hover {
    background: darken($color-chat-panel-background, 5%);

    .chat__avatar-status {
      border-color: darken($color-chat-panel-background, 5%);
    }

    .chat__button-wrapper--close-discussion {
      display: block;
    }
  }
}

// Container that acts as a badge of chat user
.chat__profile-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  line-height: 1;
  width: 100%;
}

// Container that acts as a badge of logged in chat user
.chat__profile-container--my-profile {
  background: lighten($color-default-contrast, 7%);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: $chat-border-radius;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  margin: 0;
  padding: 10px;
  position: absolute;
  width: 100%;

  &:hover {
    background: lighten($color-default-contrast, 7%);
  }

  .chat__profile-name-container {
    color: $color-default;
  }

  .chat__profile-literal-status {
    display: block;
    font-size: 0.75rem;
    padding: 2px 0;
    white-space: nowrap;
  }
}

// Chat avatar status
.chat__avatar-status {
  border: 2px solid $color-chat-panel-background;
  border-radius: 100%;
  bottom: -3px;
  flex-basis: 0.875rem;
  flex-grow: 0;
  flex-shrink: 0;
  height: 0.875rem;
  position: absolute;
  right: -3px;
  width: 0.875rem;
  z-index: 3;
}

.chat__avatar-status--online {
  background: $color-chat-user-status-online;
}

.chat__avatar-status--offline {
  background: $color-chat-user-status-offline;
}

.chat__avatar-status--dnd {
  background: $color-chat-user-status-dnd;
}

.chat__avatar-status--away {
  background: $color-chat-user-status-away;
}

.chat__profile-name-container {
  @include text;

  align-items: flex-start;
  display: flex;

  // 32px is the width of the [avatar-container], 26px is the width of the [edit-profile-settings] button and 15px is the sum of this elements left and right margin
  // flex-basis: calc(100% - 36px - 26px - 15px);
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
  margin: 0 5px 0 10px;

  // max-width: calc(100% - 36px - 26px - 15px);
}

// Chat window resizer
.chat__profile-name {
  font-size: 0.825rem;
  font-weight: 600;
  overflow: hidden;
  padding: 2px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

// Online/offline status, we don't display it for every badge, only visible to loggen in user
.chat__profile-literal-status {
  display: none;
}

.chat__resizer {
  background: transparent;
  border-radius: 3px;
  position: absolute;
  z-index: 5;
}

.chat__resizer-r {
  cursor: col-resize;
  height: $chat-resizer-size;
  margin-top: -75px;
  right: $chat-resizer-offset;
  top: 50%;
  width: $chat-resizer-thickness;
}

.chat__resizer-t {
  cursor: row-resize;
  height: $chat-resizer-thickness;
  left: 50%;
  margin-left: -75px;
  top: $chat-resizer-offset;
  width: $chat-resizer-size;
}

.chat__resizer-b {
  bottom: $chat-resizer-offset;
  cursor: row-resize;
  height: $chat-resizer-thickness;
  left: 50%;
  margin-left: -75px;
  width: $chat-resizer-size;
}

.chat__resizer-l {
  cursor: col-resize;
  height: $chat-resizer-size;
  left: $chat-resizer-offset;
  margin-top: -75px;
  top: 50%;
  width: $chat-resizer-thickness;
}

.chat__resizer-tl {
  border-radius: $chat-resizer-corner-radius;
  cursor: nwse-resize;
  height: $chat-resizer-corner-size;
  left: $chat-resizer-offset;
  top: $chat-resizer-offset;
  width: $chat-resizer-corner-size;
}

.chat__resizer-tr {
  border-radius: $chat-resizer-corner-radius;
  cursor: nesw-resize;
  height: $chat-resizer-corner-size;
  right: $chat-resizer-offset;
  top: $chat-resizer-offset;
  width: $chat-resizer-corner-size;
}

.chat__resizer-bl {
  border-radius: $chat-resizer-corner-radius;
  bottom: $chat-resizer-offset;
  cursor: nesw-resize;
  height: $chat-resizer-corner-size;
  left: $chat-resizer-offset;
  width: $chat-resizer-corner-size;
}

.chat__resizer-br {
  border-radius: $chat-resizer-corner-radius;
  bottom: $chat-resizer-offset;
  cursor: nwse-resize;
  height: $chat-resizer-corner-size;
  right: $chat-resizer-offset;
  width: $chat-resizer-corner-size;
}

// Form styles used in chat
.chat__memofield {
  @include text;

  background: transparent;
  border: 0;
  height: 100%;
  padding: 10px;
  resize: none;
  width: calc(100% - $chat-discussion-panel-footer-height);
}

.chat__submit {
  align-items: center;
  background: transparent;
  border-bottom: 0;
  border-left: 1px solid $color-default-item-separator-border;
  border-right: 0;
  border-top: 0;
  cursor: pointer;
  display: flex;
  height: $chat-discussion-panel-footer-height;
  justify-content: center;
  width: $chat-discussion-panel-footer-height;
}
