@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.checkboxfield-wrapper { // This wraps task field itself and correct answers component inside of the same parent
  align-items: center;
  display: inline-flex;
  flex-flow: row wrap;
  position: relative;
  vertical-align: middle;
}

// We compare student's answer to the task fields preset of correct answers and display correnct/incorrect state individually
.checkboxfield {
  align-items: center;
  appearance: none;
  border: solid 2px $taskfield-border-color;
  border-radius: 2px;
  display: inline-flex;
  height: 1.125rem;
  justify-content: center;
  min-width: 1.125rem;
  width: 1.125rem;

  &:checked {
    background-color: $taskfield-border-color;
    border: solid 2px $taskfield-border-color;
  }

  &:checked::after {
    color: $color-default;
    content: "\e639";
    font-family: "muikku";
    font-size: 0.875rem;
  }
}

.checkboxfield.correct-answer {
  border-color: $color-correct-answer;

  &:checked {
    background-color: $color-correct-answer;
    border-color: $color-correct-answer;
  }
}

.checkboxfield.incorrect-answer {
  border-color: $color-incorrect-answer;

  &:checked {
    background-color: $color-incorrect-answer;
    border-color: $color-incorrect-answer;
  }
}

.checkboxfield[disabled] {
  border-color: darken($color-disabled-taskfield-border, 10%);
  cursor: not-allowed;

  &[checked],
  &:checked {
    background-color: darken($color-disabled-taskfield-border, 20%);
    border-color: darken($color-disabled-taskfield-border, 20%);
  }
}

.checkboxfield__checkable-label {
  @include taskfield-text;

  display: inline;
  padding: 0 0 0 6px;
}

.checkboxfield__items-wrapper {
  align-items: center;
  background: lighten($taskfield-border-color, 30%);
  border-radius: 2px;
  display: inline-flex;
  margin: 4px;
  padding: 4px;
}

.checkboxfield__items-wrapper--vertical {
  align-items: flex-start;
  flex-flow: column nowrap;
  vertical-align: middle;
}

.checkboxfield__items-wrapper--horizontal {
  flex-flow: row wrap;
}

.checkboxfield__item-container {
  align-items: center;
  display: inline-flex;
  margin: 0 2px;
  padding: 2px;
}
