@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

/* stylelint-disable selector-class-pattern, declaration-no-important */
.cke.cke_focus {
  outline: $color-outline solid 2px;
  outline-offset: -2px;
}

.cke_contents,
.cke_editable {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.cke_reset_all .cke_dialog * {
  @include text;
}

.cke_dialog {
  // CKE HIDPI overrides
  &.cke_hidpi * {
    .cke_dialog_close_button {
      background: none;
    }
  }

  * {
    white-space: normal;
  }

  &.cke_ltr {
    .cke_dialog_close_button {
      right: 5px;
    }
  }

  .cke_resizer {
    bottom: 2px;
    margin: 0 !important;
    position: absolute;
    right: 2px;
  }

  .cke_dialog_body {
    background-color: $color-dialog-default-background;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 80px $color-dialog-default-shadow;
    font-family: $system-font-family;
    font-size: $text-mobile-font-size;
    overflow: hidden;
    width: 100%;

    label {
      letter-spacing: normal;
    }

    @include breakpoint($breakpoint-pad) {
      font-size: $text-desktop-font-size;
      left: auto;
      max-width: 768px;
      position: relative;
    }

    @include breakpoint($breakpoint-desktop) {
      max-width: 900px;
    }
  }

  .cke_dialog_title {
    align-items: center;
    background-color: $color-dialog-mobile-background;
    border: 0;
    box-sizing: border-box !important;
    color: $color-dialog-mobile-text;
    display: flex;
    font-size: $dialog-title-mobile-font-size;
    font-weight: normal;
    letter-spacing: normal;
    padding: 10px;
    position: relative;
    text-transform: uppercase;
    width: 100%;

    @include breakpoint($breakpoint-pad) {
      background-color: $color-dialog-desktop-background;
      color: $color-dialog-desktop-text;
      font-size: $dialog-title-desktop-font-size;
      height: 2.5rem;
      padding: 0 10px;
    }
  }

  .cke_dialog_close_button {
    @include prefix(transition, moz ms o webkit, background-color 0.3s);

    align-items: center;
    background: none;
    cursor: pointer;
    display: flex;
    height: $dialog-button-close-height;
    justify-content: center;
    line-height: $dialog-button-close-height;
    opacity: 100%;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 0;
    width: $dialog-button-close-height;

    &::before {
      color: $color-default;
      content: "\e905";
      font-family: "muikku";
      font-size: 18px;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      text-decoration: none;
      text-transform: none;
    }
  }

  .cke_dialog_contents_body {
    max-width: 100%;
    min-width: 320px;
    padding: 0 10px 10px;
  }

  .selection-title-container,
  .textfield-title-container,
  .memofield-title-container,
  .connectfield-title-container,
  .sorter-title-container {
    align-items: center;
    display: flex;
    padding: 5px 0;
  }

  .items-label {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 10px 0 0;
  }

  // Add new item
  .icon-plus {
    align-items: center;
    background-color: $color-button-info-background;
    border-radius: 100%;
    color: $color-button-info-text;
    cursor: pointer;
    display: flex;
    flex-basis: 1.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 14px;
    height: 1.5rem;
    justify-content: center;
    margin: 0;
    position: relative;
    transition: background-color 0.3s ease-in-out;
    width: 1.5rem;

    &:hover {
      background-color: darken($color-button-info-background, 10%);
    }

    span {
      display: none;
    }
  }

  // Mark correct answer
  .icon-check {
    align-items: center;
    cursor: default;
    display: flex;
    flex-basis: 1.5rem;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 14px;
    height: 1.5rem;
    justify-content: flex-end;
    margin: 0 50px 0 0;
    width: 1.5rem;

    span {
      display: none;
    }
  }

  // Delete item
  .icon-trash {
    align-items: center;
    border-radius: 100%;
    color: $color-button-fatal-background;
    cursor: pointer;
    display: flex;
    flex-basis: 1.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 14px;
    height: 1.5rem;
    justify-content: center;
    margin: 0 0 0 5px;
    width: 1.5rem;

    span {
      display: none;
    }
  }

  // Setting containers with different box view model
  .sorter-items-container,
  .connectfield-elements-container,
  .organizer-categories-container,
  .selection-options-container,
  .textfield-elements-container {
    * {
      box-sizing: border-box;
    }
  }

  .selection-options-container,
  .textfield-elements-container,
  .connectfield-elements-container,
  .sorter-items-container {
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 5px 0 0;
  }

  .selection-option-container,
  .textfield-element-container,
  .memofield-element-container,
  .sorter-item-container {
    align-items: center;
    display: flex;
    padding: 2px 0;
  }

  .cke_dialog_ui_input_text {
    align-items: center;
    display: flex;
  }

  textarea.cke_dialog_ui_input_textarea {
    border: solid 2px lighten($color-form-element-border, 20%);
    height: 11rem;
    outline: none;
    padding: 2px 6px;
    transition: border 0.3s ease-in-out;
    width: 100%;

    &:hover,
    &:focus,
    &:active {
      border: solid 2px $color-form-element-border;
      outline: none;
      padding: 2px 6px;
    }
  }

  div.cke_dialog_ui_input_select {
    display: flex;
    width: 100%;
  }

  select.cke_dialog_ui_input_select {
    border: solid 2px lighten($color-form-element-border, 20%);
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    height: 1.75rem;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 1px 2px;
    transition: border 0.3s ease-in-out;
    width: 100% !important;

    &:hover,
    &:focus,
    &:active {
      border: solid 2px $color-form-element-border;
    }

    option {
      outline: none;
    }
  }

  input.cke_dialog_ui_input_text {
    @include text;

    border: solid 2px lighten($color-form-element-border, 20%);
    border-radius: 2px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    font-family: $system-font-family;
    font-size: $text-mobile-font-size;
    height: 1.75rem;
    margin: 0;
    outline: none;
    padding: 2px 6px;
    transition: border 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
      border: solid 2px $color-form-element-border;
      outline: none;
      padding: 2px 6px;
    }

    @include breakpoint($breakpoint-pad) {
      font-size: $text-desktop-font-size;
    }
  }

  input.cke_dialog_ui_checkbox_input {
    align-items: center;
    appearance: none;
    border: solid 2px lighten($color-form-element-border, 20%);
    border-radius: 3px;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    height: 1.375rem;
    justify-content: center;
    margin: 0 0 0 5px;
    outline: none;
    transition: border 0.3s ease-in-out;
    width: 1.375rem;

    &:hover,
    &:focus,
    &:active {
      border: solid 2px $color-form-element-border;
      outline: none;
    }

    &:checked {
      background-color: $color-form-element-selected;
      border: solid 2px $color-form-element-selected;
      outline: none;
    }

    &:checked::after {
      color: $color-default;
      content: "\e639";
      font-family: "muikku";
      font-size: 0.875rem;
    }
  }

  .cke_dialog_ui_checkbox {
    align-items: center;
    display: flex;

    input.cke_dialog_ui_checkbox_input {
      margin: 0 5px 0 0; // Checkbox has same classname so we need to override margins as we render checkboxes in different places
    }
  }

  .sort-handle {
    align-items: center;
    background: lighten($color-form-element-border, 20%);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    color: $color-default;
    cursor: move;
    display: flex;
    font-size: 14px;
    height: 1.75rem;
    justify-content: center;
    margin: 0 -2px 0 0;
    transition: background 0.3s ease-in-out;
    width: 1.75rem;

    &:hover {
      background: $color-form-element-border;
    }
  }

  .connectfield-element-container {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    padding: 4px 0;

    input.cke_dialog_ui_input_text {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      width: auto;

      &:first-child {
        margin: 0 4px 0 0;
      }

      &:last-child {
        margin: 0 0 0 4px;
      }
    }
  }

  .organizer-categories-container {
    align-items: flex-start;
    display: flex;
    flex-flow: row wrap;
    margin: 10px 0 0;
    max-height: 530px;
    max-width: 775px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .organizer-categories-label {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .organizer-category-container {
    align-items: flex-start;
    border: solid 2px lighten($color-form-element-border, 20%);
    border-radius: 3px;
    display: flex;
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 250px;
    margin: 2px;
    position: relative;
  }

  .organizer-category-name-container {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;

    .icon-trash {
      margin: 0;
      position: absolute;
      right: 4px;
      top: 4px;
    }
  }

  input.organizer-category-name {
    border: 0;
    border-bottom: dotted 2px lighten($color-form-element-border, 20%);
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 6px 30px 6px 6px;
    width: 100%;
  }

  .organizer-category {
    bottom: 0;
    left: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 3px;
    position: absolute;
    right: 0;
    top: 35px;
  }

  input.organizer-term-name {
    box-shadow: none;
    margin: 2px 0 4px;
    width: 100%;
  }

  .organizer-term-container {
    margin: 0 0 4px;
    position: relative;

    .icon-trash {
      margin: 0;
      position: absolute;
      right: 0;
      top: 1px;
    }
  }

  .organizer-term {
    background: lighten($color-form-element-border, 30%);
    border-radius: 3px;
    box-sizing: border-box;
    line-height: 1;
    overflow: hidden;
    padding: 6px 24px 6px 6px;
    text-overflow: ellipsis;
    width: 100%;
  }

  .organizer-add-category-container {
    align-items: center;
    border: solid 2px lighten($color-form-element-border, 20%);
    border-radius: 3px;
    cursor: default;
    display: flex;
    flex-basis: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 250px;
    justify-content: center;
    margin: 2px;
    position: relative;
    text-align: center;
    vertical-align: top;

    .icon-plus {
      flex-basis: 4rem;
      font-size: 2rem;
      height: 4rem;
    }
  }

  .cke_dialog_footer {
    background: transparent;
    border: 0;
    outline: none;
    padding: 5px 10px 10px;
    text-align: right;

    a.cke_dialog_ui_button {
      border: 0;
      border-radius: 20px;
      letter-spacing: normal;
      line-height: inherit;
      margin: 0 5px 0 0;
      padding: 0 5px;

      &:hover,
      &:active,
      &:focus {
        border: 0;
        box-shadow: none;
        outline: none;
        padding: 0;
      }
    }

    a.cke_dialog_ui_button_cancel {
      @include text;

      background-color: $color-button-cancel-background;
      color: $color-button-cancel-text;
    }

    a.cke_dialog_ui_button_ok {
      background-color: $color-button-execute-background;
      color: $color-button-execute-text;
    }

    span.cke_dialog_ui_button {
      @include prefix(user-select, moz o ms webkit, none);
      @include prefix(transition, moz o ms webkit, background-color 0.3s);

      align-items: center;
      background-color: transparent;
      border: 0;
      border-radius: 2px;
      color: $color-default;
      cursor: pointer;
      display: flex;
      font-family: $system-font-family;
      font-size: $button-mobile-font-size;
      justify-content: center;
      margin: 0;
      outline: none;
      overflow: hidden;
      padding: 5px 10px;
      text-decoration: none;
      text-overflow: ellipsis;
      text-transform: uppercase;
      user-select: none;
      white-space: nowrap;

      @include breakpoint($breakpoint-pad) {
        font-size: $button-desktop-font-size;
      }
    }

    @include breakpoint($breakpoint-pad) {
      text-align: left;
    }
  }

  .cke_dialog_footer_buttons {
    margin: 0;
  }
}

/* stylelint-ebable selector-class-pattern, declaration-no-important */
