@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.content-panel {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $navbar-mobile-height 0 10px;
  width: 100%;
  
  @include breakpoint($breakpoint-pad) {
    padding: calc(#{$navbar-desktop-height} * 1.25) 10px 10px;
  }
}

.content-panel__container {
  @include text;
  display: flex;
  flex-direction: column;
  max-width: $breakpoint-max-usable-screen;
  width: 100%;
}

.content-panel__body {
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-desktop) {
    box-shadow: none;
  }
}

.content-panel__header {
  width: 100%;
}

.content-panel__navigation {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  width: 100%;
  z-index: 10000;
  
  &:not(.displayed){
    display: none;
  }
 
  &:not(.visible){
  	.content-panel__navigation-content {
      right: -90%;
    }
  }
  
  @include breakpoint($breakpoint-desktop) {
    &:not(.displayed){
      display: block;
    }
    &:not(.visible){
      .content-panel__navigation-content {
        right: 0;
      }
    }
  }
  
  .content-panel__navigation-content {
  	overflow-y: auto;
  	width: 90%;
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	padding-left: 24px;
    background-color: $color-application-panel-box-background;
    box-shadow: 0 2px 3px $color-panel-shadow;
    border: solid 1px $color-application-panel-box-border;
  }
 
  @include breakpoint($breakpoint-desktop) {
  	top: $navbar-desktop-height;
  	width: 400px;
  	
  	.content-panel__navigation-content {
  	  width: 400px;
      padding-left: 0;
  	}
  }
}

.content-panel__content {
  padding: $navbar-mobile-height 0 0 0;
  
  @include breakpoint($breakpoint-desktop) {
    display: flex;
    flex-direction: row;
    padding: 0 400px 0 0;
  }
}

.content-panel__main-container {
  overflow-x: hidden;
  width: 100%;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0;
  position: relative;
  margin: 0;
  
  @include breakpoint($breakpoint-desktop) {
    padding: 12px;
  }
}

.content-panel__item {
  background-color: $color-application-panel-box-background;
  box-shadow: 0 2px 3px $color-panel-shadow;
  width: 100%;
  padding: 20px 5px;
  border: solid 1px $color-application-panel-box-border;
  margin-top: 25px;
}

.content-panel__navigation-open {
  @include breakpoint($breakpoint-desktop) {
    display: none;
  }

  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: red;
  width: 25px;
  height: 25px;
}