@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.content-panel-wrapper {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.content-panel {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: $breakpoint-max-usable-screen;
  padding: $navbar-mobile-height 0 10px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    padding: calc(#{$navbar-desktop-height} * 1.25) 10px 10px;
  }
}

.content-panel__container {
  @include text;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-panel__header {
  display: none;

  @include breakpoint($breakpoint-pad) {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-flow: row nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    margin: 10px;
    position: relative;
    width: calc(100% - 20px);
  }
}

.content-panel__header-title {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.5rem;
  font-weight: 300;
  height: $panel-header-title-height-mobile;
  line-height: 1;
  text-transform: uppercase;

  @include breakpoint($breakpoint-pad) {
    height: $panel-header-title-height-desktop;
  }
}

.content-panel__aside {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 10px;

  @include breakpoint($breakpoint-desktop) {
    justify-self: flex-end;
    margin: -35px 10px 10px auto;
    max-width: 300px;
    min-width: 250px;
    // scss-lint:disable VendorPrefix
    position: -webkit-sticky; // Safari 7-12 support
    // scss-lint:enable VendorPrefix
    position: sticky;
    top: calc(#{$navbar-desktop-height} * 1.25 + (1 * #{$panel-header-title-margin}));
  }
}

.content-panel__body {
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-desktop) {
    box-shadow: none;
  }
}

.content-panel__content {

  @include breakpoint($breakpoint-desktop) {
    display: flex;
    flex-flow: row nowrap;
  }
}

.content-panel__navigation {
  @include prefix(transition, webkit ms o moz, background-color 0.2s ease-in-out);
  background-color: transparent;
  bottom: 0;
  display: none;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  .content-panel__navigation-content {
    right: -90%;
  }

  &.displayed {
    display: block;
  }

  &.visible {
    background-color: $color-toc-overlay-mobile-background;

    .content-panel__navigation-content {
      right: 0;
    }
  }

  &.dragging {
    transition: none;

    .content-panel__navigation-content {
      transition: none;
    }
  }

  @include breakpoint($breakpoint-desktop) {
    display: flex;
    flex-basis: calc(35% - 20px);
    flex-grow: 1;
    flex-shrink: 1;
    height: calc(100vh - (#{$navbar-desktop-height} * 1.25 + (3 * #{$panel-header-title-margin}) + #{$panel-header-title-height-desktop}));
    margin: 0;
    order: 2;
    // scss-lint:disable VendorPrefix
    position: -webkit-sticky; // Safari 7-12 support
    // scss-lint:enable VendorPrefix
    position: sticky;
    top: calc(#{$navbar-desktop-height} * 1.25 + (2 * #{$panel-header-title-margin}) + #{$panel-header-title-height-desktop});
    z-index: 99;

    &:hover {
      background: $color-default;
    }

    &.displayed {
      display: flex;
    }

    .content-panel__navigation-content {
      right: 0;
    }
  }
}

.content-panel__navigation-content {
  @include prefix(transition, webkit moz o ms, right 0.3s);
  background-color: $color-application-panel-box-background;
  border: solid 1px $color-application-panel-box-border;
  bottom: 0;
  box-shadow: 0 2px 3px $color-panel-shadow;
  overflow-y: auto;
  overscroll-behavior: contain;
  position: absolute;
  right: 0;
  // scss-lint:disable PropertySpelling
  scrollbar-color: $color-scrollbar-handle $color-scrollbar-background;
  scrollbar-width: thin;
  // scss-lint:enable PropertySpelling
  top: 0;
  width: 90%;

  &::-webkit-scrollbar {
    width: 7.5px;
  }

  &::-webkit-scrollbar-track {
    background: $color-scrollbar-background;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-scrollbar-handle;
    border-radius: 3px;
  }

  @include breakpoint($breakpoint-pad) {
    width: 70%;
  }

  @include breakpoint($breakpoint-desktop) {
    box-shadow: none;
    width: 100%;
  }
}

.content-panel__main-container {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
  position: relative;

  @include breakpoint($breakpoint-desktop) {
    flex-basis: calc(65% - 60px);
    margin: 0 50px 10px 0;
    max-width: 700px;
    min-width: 650px;
    order: 1;
    z-index: 100;
  }

  @include breakpoint($breakpoint-desktop-xl) {
    flex-basis: calc(65% - 80px);
    margin: 0 70px 10px 0;
  }
}

.content-panel__chapter {
  margin: 20px 0 0;

  &:first-child {
    margin: 0;
  }
}

.content-panel__chapter-title {
  background: $color-default;
  border-bottom: dashed 2px $color-default-item-separator-border;
  border-left: solid 1px $color-application-panel-box-border;
  border-right: solid 1px $color-application-panel-box-border;
  border-top: solid 1px $color-application-panel-box-border;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 -1px;
  position: relative;
  z-index: 2;

  &.content-panel__chapter-title--hidden {
    opacity: 0.5;
  }

  @include breakpoint($breakpoint-pad) {
    font-size: 1.375rem;
  }
}

.content-panel__chapter-title-text {
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 20px;
  }
}

.content-panel__item {
  margin: 0 0 20px;

  &:last-child {
    margin: 0;
  }

  @include breakpoint($breakpoint-pad) {
    margin: 0 0 30px;
  }
}

.content-panel__navigation-open {
  align-items: center;
  background: $color-info;
  border: 1px solid $color-default;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: -2px 0 5px $color-mobile-toc-default-shadow;
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  position: fixed;
  right: -1px;
  top: 70px;
  width: 2rem;
  z-index: 10;

  @include breakpoint($breakpoint-desktop) {
    display: none;
  }

  .icon-arrow-left {
    color: $color-default;
    font-size: 1.125rem;
    padding: 0 0 0 3px;
  }
}
