@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.content-panel {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: $breakpoint-max-usable-screen;
  padding: $navbar-mobile-height 0 10px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    padding: calc(#{$navbar-desktop-height} * 1.25) 10px 10px;
  }
}

.content-panel--workspace-exam {
  padding: 0;

  .content-panel__navigation {
    height: unset;
    top: 0;

     @include breakpoint($breakpoint-desktop) {
      height: calc(100vh - (#{$navbar-desktop-height} * 1.25 + (3 * #{$panel-header-title-margin}) + #{$panel-header-title-height-desktop}) - 30px);
    }
  }

  .content-panel__aside {
    margin: 0 0 10px;
    top: 14px;

    @include breakpoint($breakpoint-desktop) {
      margin: -30px 12px 10px auto;
    }
  }

  .toc  {
    border: solid 1px $color-application-panel-box-border;
  }

  .toc__header {
    display: none;
  }

  .toc__section-title-container {
    margin: 4px;
  }

}

.content-panel__container {
  @include text;

  display: flex;
  flex-direction: column;
  width: 100%;
}

.content-panel__header {
  display: none;

  @include breakpoint($breakpoint-pad) {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-flow: row nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    margin: 10px;
    position: relative;
    width: calc(100% - 20px);
  }
}

.content-panel__header-title {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.5rem;
  font-weight: 300;
  height: $panel-header-title-height-mobile;
  line-height: 1;
  text-transform: uppercase;

  @include breakpoint($breakpoint-pad) {
    height: $panel-header-title-height-desktop;
  }
}

.content-panel__aside {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 10px;

  @include breakpoint($breakpoint-desktop) {
    display: flex;
    justify-content: flex-end;
    margin: -35px 0 10px auto;
    max-width: 300px;
    min-width: 250px;

    /* stylelint-disable value-no-vendor-prefix, declaration-block-no-duplicate-properties */
    position: -webkit-sticky; // Safari 7-12 support
    position: sticky;
    /* stylelint-enable value-no-vendor-prefix, declaration-block-no-duplicate-properties */

    top: calc(#{$navbar-desktop-height} * 1.25 + (1 * #{$panel-header-title-margin}));
    z-index: 9;
  }
}

.content-panel__body {
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-desktop) {
    box-shadow: none;
  }
}

.content-panel__footer {
  display: flex;
  flex-direction: column;
}

.content-panel__content {
  @include breakpoint($breakpoint-desktop) {
    display: flex;
    flex-flow: row nowrap;
  }
}

.content-panel__navigation {
  @include prefix(transition, webkit ms o moz, background-color 0.2s ease-in-out);

  background-color: transparent;
  bottom: 0;
  display: none;
  overflow-y: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99;

  .content-panel__navigation-content {
    right: -90%;
  }

  &.displayed {
    display: block;
  }

  &.visible {
    background-color: $color-toc-overlay-mobile-background;

    @include breakpoint($breakpoint-desktop) {
      background-color: transparent;
    }

    .content-panel__navigation-content {
      right: 0;
    }
  }

  &.dragging {
    transition: none;

    .content-panel__navigation-content {
      transition: none;
    }
  }

  @include breakpoint($breakpoint-desktop) {
    display: flex;
    flex-basis: calc(35% - 20px);
    flex-grow: 1;
    flex-shrink: 1;
    height: calc(100vh - (#{$navbar-desktop-height} * 1.25 + (3 * #{$panel-header-title-margin}) + #{$panel-header-title-height-desktop}));
    margin: 0;
    order: 2;

    /* stylelint-disable value-no-vendor-prefix, declaration-block-no-duplicate-properties */
    position: -webkit-sticky; // Safari 7-12 support
    position: sticky;
    /* stylelint-enable value-no-vendor-prefix, declaration-block-no-duplicate-properties */

    top: calc(#{$navbar-desktop-height} * 1.25 + (2 * #{$panel-header-title-margin}) + #{$panel-header-title-height-desktop});
    z-index: 1; // This does not need high z-index as ToC in desktop mode will never overlap with anything. Setting lower z-index also fixes possible stack order issues with zoomed images

    // &:hover {
    //   background: $color-default;
    // }

    &.displayed {
      display: flex;
    }

    .content-panel__navigation-content {
      right: 0;
    }
  }
}

.content-panel__navigation-content {
  @include prefix(transition, webkit moz o ms, right 0.3s);

  bottom: 0;
  box-shadow: 0 2px 3px $color-panel-shadow;
  position: absolute;
  right: 0;
  top: 0;
  width: 90%;

  @include breakpoint($breakpoint-pad) {
    width: 70%;
  }

  @include breakpoint($breakpoint-desktop) {
    box-shadow: none;
    width: 100%;
  }
}

.content-panel__navigation-close {
  background-color: $color-default;
  display: flex;
  justify-content: flex-end;

  @include breakpoint($breakpoint-desktop) {
    display: none;
  }
}

.content-panel__main-container {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0;
  padding: 0;
  position: relative;

  @include breakpoint($breakpoint-desktop) {
    flex-basis: calc(65% - 60px);
    margin: 0 30px 10px 0;
    max-width: 700px;
    min-width: 650px;
    order: 1;
  }
}

.content-panel__chapter {
  margin: 20px 0 0;

  &:first-child {
    margin: 0;
  }
}

.content-panel__chapter-title {
  background: $color-default;
  border-bottom: dashed 2px $color-default-item-separator-border;
  border-left: solid 1px $color-application-panel-box-border;
  border-right: solid 1px $color-application-panel-box-border;
  border-top: solid 1px $color-application-panel-box-border;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 -1px;
  position: relative;
  z-index: 2;

  &.state-HIDDEN {
    opacity: 30%;
  }

  @include breakpoint($breakpoint-pad) {
    font-size: 1.5rem;
  }
}

.content-panel__chapter-title-text {
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 20px;
  }
}

.content-panel__item {
  margin: 0 0 20px;

  &:last-child {
    margin: 0;
  }

  @include breakpoint($breakpoint-pad) {
    margin: 0 0 30px;
  }
}

.content-panel__navigation-open {
  align-items: center;
  background: $color-info;
  border: 1px solid $color-default;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: -2px 0 5px $color-mobile-toc-default-shadow;
  cursor: pointer;
  display: flex;
  height: 3rem;
  justify-content: center;
  position: fixed;
  right: -1px;
  top: 60px;
  width: 2rem;
  z-index: 10;

  @include breakpoint($breakpoint-pad) {
    top: 72px;
  }

  @include breakpoint($breakpoint-desktop) {
    display: none;
  }

  .icon-arrow-left {
    color: $color-default;
    font-size: 1.125rem;
    padding: 0 0 0 3px;
  }
}
