@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";
	

// TODO: This file needs to be refactored out of existence. Containers should be a part of a component, not a component on it self.
	
.container {
  width: 100%;
}
  
.container--full {
  height: 100%;
  position: relative;
  width: 100%;
}

.container--dialog-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.container--dialog-fields {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.container--profile-image-in-menu {
  border-radius: 100%;
  height: 35px;
  margin-right: 10px;
  width: 35px;
}
  
.container--muikku-logo {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: center;
  
  @include breakpoint ($breakpoint-pad) {
    flex-direction: column;
  }
}
  
.container--frontpage-section {
  margin-top: 1.5rem;
  padding: 0 $container-mobile-gutter;

  @include breakpoint($breakpoint-pad) {
    margin-top: 4.375rem;
    padding: 0 $container-desktop-gutter;
  }
}
  
.container--otavan-opisto-logo {
  text-align: center;
  
  @include breakpoint($breakpoint-desktop) {
    text-align: left;
  }
}

.container--otavan-opisto-social-media {
  margin-top: 1.5rem;
  text-align: center;

  @include breakpoint($breakpoint-pad) {
    margin-top: 0;
  }

  @include breakpoint($breakpoint-desktop) {
    text-align: left;
  }
}

.container--otavan-opisto-description {
  margin-top: 1.5rem;
  text-align: center;
  
  @include breakpoint($breakpoint-desktop) {
    margin-top: 0;
    text-align: left;
  }
}

.container--announcer-announcement-meta {
  display: flex;
  padding: 10px;
}

.container--new-announcement-options {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  
  @include breakpoint($breakpoint-pad) {
    flex-direction: initial;
  }
}

.container--new-announcement-recipients {
  margin-bottom: 10px;    
}

.container--new-announcement-title {
  margin-bottom: 10px;
}

.container--communicator-subject {
  margin-bottom: 10px;  
}

.container--communicator-message-meta {
  display: flex;
  padding: 10px;
}

.container--communicator-signature {
  padding: 10px 0;
}
  
.container--new-discussion-options {
  display: flex;
}

.container--new-discussion-area-title {
  margin-bottom: 10px;
}

.container--new-discussion-thread-states {
  align-items: center;
  background-color: $color-default;
  display: flex;
  padding: 10px 0;

} 

.container--message-actions {
  padding: 10px 0;    
}

.container--discussion-profile-image,
.container--guider-profile-image {
  align-items: center;
  border-radius: 100%;
  color: $color-default;
  display: flex;
  font-family: $text-font-family;
  height: $avatar-size;
  justify-content: center;
  width: $avatar-size;
}


