// Everything in here only affects coursepicker's course description
// and has to be nested as everything styled here are created by CKEditor
// so we have no say what kind of html content we have in course descrition 

.text--coursepicker-course-description {
  
  p {
    margin: 10px 0;
    
    &:first-child {
      margin-top: 0;
    }
    
    &:last-child {
      margin-bottom: 0;
    }
    
  }
  
  
}