@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";


// OK, this is pretty similar to application-list__item--notification, we should consider if these should be combined

.course {
  border-top: 3px solid $color-message-border;
  margin: 0 0 1px;
  padding: 0 10px; // Top and bottom paddings are added in application-list__item-header--course so clickable area is bigger when only header acts as cickable object

  &:first-child {
    border-color: transparent;
  }

  @include breakpoint($breakpoint-pad) {
    border-width: 1px;
  }

  &.course--open {
    background: $color-default;
    border-color: transparent;
    box-shadow: 0 0 0 2px $color-application-list-item-course-border-selected;
    display: block;
    z-index: 10;
  }
}

.course--studies {
  min-height: 3.75rem;

  &:hover,
  &.hover,
  &:active,
  &.active {

    svg {
      opacity: 0.9;
    }
  }
}

.course--credits {
  cursor: auto;
  min-height: 3.75rem;

  .application-list__item-header--course {
    cursor: auto;
  }
}

.course--open .text--list-item-title {
  font-weight: 600;
}

.course__content {
  flex-flow: row nowrap;
  padding: 0 0 0 9px;
}

.course__title {
  padding-left: 5px;
}
