@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.dependant {
  padding: 5px 5px 15px;

  &:not(:last-child) {
    margin: 0 0 20px;
    border-bottom: 1px solid $color-panel-border-color;
  }

  &:last-child {
    padding: 5px;
  }
}


.dependant__accordion-button {
  background: $color-default;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;

  &::before {
    color: $color-link-default-text;
  }

  &:hover {
    background: $color-default-generic-background;
  }
}

.dependant__details-container {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
}

.dependant__details {
  align-items: flex-start;
  flex-basis: 100%;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: flex-start;
  @include breakpoint($breakpoint-mobile-xl) {
    padding: 0 20px;
  }
}

.dependant__header {
  align-items: center;
  display: flex;
  padding: 5px 0;
  width: 100%;
  @include breakpoint($breakpoint-pad) {
    flex-wrap: nowrap;
  }
}

.dependant__header-text-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  justify-content: space-between;
  width: 100%;
}

.dependant__header-title {
  font-weight: 400;
  margin-right: 1rem;
}

.dependant__header-aside {
  text-transform: uppercase;
  @include breakpoint($breakpoint-pad) {
    font-size: $text-capitalized-desktop-font-size;
  }
}

.dependant__contact-info-container {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 15px 0 0;
  width: 100%;
}

.dependant__info-item {
  align-items: center;
  background-color: $color-label-background;
  border-radius: 15px;
  display: flex;
  flex-flow: row nowrap;
  word-break: break-all;
  justify-content: center;
  margin: 0 5px 5px 0;
  padding: 5px 10px;
  @include breakpoint($breakpoint-mobile-xl) {
    word-break: normal;
  }
}

.dependant__info-item--email {
  word-break: break-all;
  @include breakpoint($breakpoint-desktop) {
    word-break: normal;
  }
}

.dependant__info-item-icon {
  margin: 0 5px 0 0;
}

.dependant__details-footer {
  margin: 15px 0 0;
  width: 100%;
}

.dependant__activity-container {
  margin: 20px 0;
}

.dependant__workspaces-title {
  font-weight: 400;
}
