@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";
	
.discussion-threads {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    
}

.discussion-thread {
        background-color: #fff;
        cursor: pointer;
        -webkit-touch-callout: none;
        transition: background-color 0.2s ease-in-out;
        -webkit-user-select: none;
        user-select: none;
        position: relative;
        border-top: 1px solid $color-message-border;
        padding: 14px 12px 14px 4px;
        
        &:first-child {
          border: 0;
        }
       
        &:hover, &.hover {
            background-color: $color-application-list-item-background-hover;
        }
        &:active, &.active {
            background-color: $color-application-list-item-background-active;
        }
        @media screen and (min-width:64em) {
           & {
               -webkit-touch-callout: default;
               -webkit-user-select: auto;
               user-select: auto;
           }
       }
      
        .discussion-thread__content {
          display: flex;
          border-left: solid 3px $color-message-unread-border;
          padding: 0 0 0 6px;
        }
       
       .discussion-thread__avatar-container {
       	padding: 0 16px 0 0;
       	display: none;
       	
         @media screen and (min-width: 48em){
       		&{
                  align-items: flex-start;
                 display: flex;
                flex-basis: auto;
                    flex-grow: 0;
                          flex-shrink: 0;
                           }
                    }
       }
      
      .discussion-thread__main-container {
      	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
      }
     
     .discussion-thread__header {
     	align-items: center;
     	display: flex;
     }
    
    .discussion-thread__body {
    	padding: 0;
    }
   
   .discussion-thread__footer {
   	padding: 7px 0 0;
   	align-items: center;
    display: flex;
   }
    }
   
   .discussion__category {
  font-weight: 600;
  padding: 0 0 0 7px;   
}

.discussion__category--category-1 {
  border-left: 5px solid $color-message-area-category-1;  
}

.discussion__category--category-2 {
  border-left: 5px solid $color-message-area-category-2;  
}

.discussion__category--category-3 {
  border-left: 5px solid $color-message-area-category-3;  
}

.discussion__category--category-4 {
  border-left: 5px solid $color-message-area-category-4;  
}

.discussion__category--category-5 {
   border-left: 5px solid $color-message-area-category-5; 
}

.discussion__category--category-6 {
  border-left: 5px solid $color-message-area-category-6;  
}

.discussion__category--category-7 {
  border-left: 5px solid $color-message-area-category-7;    
}

.discussion__category--category-8 {
  border-left: 5px solid $color-message-area-category-8;    
}

.discussion__category--category-9 {
  border-left: 5px solid $color-message-area-category-9;  
}

.discussion__category--category-10 {
  border-left: 5px solid $color-message-area-category-10;  
}

.discussion__icon {
	padding-right: 5px;
}