@import url(' "../base/colors";');
@import url(' "../base/mixins";');
@import url(' "../base/vars";');
@import url(' "../base/breakpoints";');
.discussion-threads {
	height: 100%;
	overflow-y: auto;
	width: 100%;
}
.discussion-thread {
	background-color: #fff;
, .discussion-thread__content {
	-webkit-touch-callout: none;
	@media screen and (min-width:64em) {
		& {
			-webkit-touch-callout: default;
			-webkit-user-select: auto;
			user-select: auto;
		}
	}
	-webkit-user-select: none;
	&:active, &.active {
		background-color: $color-application-list-item-background-active;
	}
	&:hover, &.hover {
		background-color: $color-application-list-item-background-hover;
	}
	border-left: solid 3px $color-message-unread-border;
	&:first-child {
		border: 0;
	}
	border-top: 1px solid $color-message-border;
	cursor: pointer;
	display: flex;
	padding: 14px 12px 14px 4px;
	padding: 0 0 0 6px;
	position: relative;
	transition: background-color 0.2s ease-in-out;
	user-select: none;
}
.discussion-thread__main-container {
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
}
.discussion-thread__header {
	align-items: center;
	display: flex;
	.discussion-thread__header-main {
		flex-basis: auto;
		flex-grow: 1;
		flex-shrink: 1;
	}
	.discussion-thread__header-aside {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		justify-content: right;
	}
}
.discussion-thread__body {
	padding: 0;
}
.discussion-thread__footer {
	align-items: center;
	display: flex;
	padding: 7px 0 0;
}
.discussion-thread__avatar-container {
	display: none;
	padding: 0 16px 0 0;
	@media screen and (min-width: 48em) {
		& {
			align-items: flex-start;
			display: flex;
			flex-basis: auto;
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
}
.discussion-category {
	font-weight: 600;
	padding: 0 0 0 7px;
}
.discussion-category--category-1 {
	border-left: 5px solid $color-message-area-category-1;
}
.discussion-category--category-2 {
	border-left: 5px solid $color-message-area-category-2;
}
.discussion-category--category-3 {
	border-left: 5px solid $color-message-area-category-3;
}
.discussion-category--category-4 {
	border-left: 5px solid $color-message-area-category-4;
}
.discussion-category--category-5 {
	border-left: 5px solid $color-message-area-category-5;
}
.discussion-category--category-6 {
	border-left: 5px solid $color-message-area-category-6;
}
.discussion-category--category-7 {
	border-left: 5px solid $color-message-area-category-7;
}
.discussion-category--category-8 {
	border-left: 5px solid $color-message-area-category-8;
}
.discussion-category--category-9 {
	border-left: 5px solid $color-message-area-category-9;
}
.discussion-category--category-10 {
	border-left: 5px solid $color-message-area-category-10;
}
.discussion__icon {
	padding-right: 5px;
}
.discussion-current-thread {
	-ms-overflow-style: -ms-autohiding-scrollbar;
	height: 100%;
	overflow: -moz-scrollbars-none;
	overflow-y: auto;
	width: 100%;
	.discussion-current-thread__title {
		align-items: center;
		display: flex;
	}
	.discussion-current-thread__element {
		.discussion-current-thread__op-message {
			border: 0;
			padding: 25px 12px 14px 4px;
		}
	}
	.discussion-current-thread__reply-of-op {
		border-top: 5px solid #f2f2f2;
		padding: 25px 12px 14px 4px;
	}
	.discussion-current-thread__reply-of-reply {
		border: 0;
		margin: 0 0 0 63px;
		padding: 25px 12px 14px 4px;
	}
	.discussion-current-thread__message-container {
		display: flex;
		flex-flow: row nowrap;
	}
}
