@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";
.dropdown {
  @include prefix(transition, moz ms o webkit, opacity 0.15s);
  display: block;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999;

  .dropdown__container {
    background-color: $color-dropdown-default-background;
    border-radius: 5px;
    box-shadow: 0 10px 20px $color-dropdown-default-shadow;
    color: $color-dropdown-default-text;
    display: block;
    min-width: 100px;
    opacity: 1;
    overflow: auto;
    position: relative;
    text-align: center;
    max-height: 350px;

    .dropdown__container-item {
      display: block;
      height: 34px;
      overflow: hidden;
      position: relative;
      min-width: 100px;
    }
  }
  
  .dropdown__arrow {
    border: solid transparent;
    border-bottom-color: $color-dropdown-default-background;
    border-width: 4px;
    bottom: 100%;
    display: block;
    height: 0;
    pointer-events: none;
    position: absolute;
    width: 0;
  }

  &.visible {
    opacity: 1;
  }
 
  &.dropdown--language-picker {
    .dropdown__container {
      background-color: $color-environment-dropdown-language-picker-background;
      color: $color-environment-dropdown-language-picker-text;
      box-shadow: 0 10px 20px $color-environment-dropdown-language-picker-shadow;
    }
    .dropdown__arrow {
      border-bottom-color: $color-environment-dropdown-language-picker-background;
    }
  }
 
  &.dropdown--profile {
  
    .dropdown__container {
      background-color: $color-environment-dropdown-profile-menu-background;
      color: $color-environment-dropdown-profile-menu-text;
      box-shadow: 0 10px 20px $color-environment-dropdown-profile-menu-shadow;
      padding: 5px;
    
      .dropdown__item:first-child {
        border-bottom: solid 1px darken($color-environment-dropdown-profile-menu-background, 8);
      }
    
      .dropdown__item {
        border-bottom: solid 1px darken($color-environment-dropdown-profile-menu-background, 3);
        height: 42px;
      }
    
      .dropdown__item:last-child {
        border-bottom: none;
      }
    }
    .dropdown__arrow {
      border-bottom-color: $color-environment-dropdown-profile-menu-background;
    }
  }
 
  &.dropdown--communicator-labels .dropdown__container, 
  &.dropdown--guider-labels .dropdown__container {
    padding: 5px;
    background-color: $color-main-function-dropdown-labels-background;
    border: solid 1px $color-main-function-dropdown-labels-border;
    
    .embbed {
      padding-top: 12px;
      
      &:after {
        content: " ";
        position: absolute;
        top: 0;
        height: 6.5px;
        left: 0;
        right: 0;
        border-bottom: solid 1px #ccc;
      }
    }
  }
 
   
  &.dropdown--communicator-settings .dropdown__container {
    padding: 5px;
    background-color: $color-main-function-dropdown-settings-background;
    border: solid 1px $color-main-function-dropdown-settings-border;
  }
}