@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.paragraph {
  margin: 0;
}

.pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

.pre:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

.blockquote {
  border-left: 2px solid #ddd;
  color: #aaa;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}

.blockquote[dir="rtl"] {
  border-left: none;
  border-right: 2px solid #ddd;
  padding-left: 0;
  padding-right: 10px;
}

[data-slate-editor] > * + * {
  margin-top: 1em;
}

.fancy {
  background-color: rgb(218, 225, 255);
  border-radius: 20px;
  font-size: 20px;
  min-height: 150px;
  outline: 3px dashed rgb(0, 94, 128);
  outline-offset: -20px;
  padding: 40px;
  white-space: pre-wrap;
}
