@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";
@import "cke-styles";

.env-dialog {
  @include prefix(transition, moz ms webkit o, opacity 0.3s);
  @include text;

  bottom: 0;
  display: block;
  left: 0;
  opacity: 0%;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;

  &.visible {
    opacity: 100%;

    .env-dialog__wrapper {
      bottom: 0;
    }
  }

  label {
    display: block;
    font-family: $system-font-family;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.env-dialog__wrapper {
  background-color: $color-application-dialog-background-color;
  border-top: 1px solid $color-application-dialog-border-color;
  bottom: -100%;
  box-shadow: $env-dialog-box-shadow;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  @include breakpoint($breakpoint-pad) {
    @include prefix(transition, moz ms webkit o, bottom 0.3s);

    top: auto;
  }
}

.env-dialog__content {
  display: flex;
  flex-direction: column;
  font-family: $system-font-family;
  height: 100%;
  max-height: 100vh;
  width: 100%;

  @include breakpoint($breakpoint-desktop) {
    max-width: 760px;
    overflow: initial;
  }

  @include breakpoint($breakpoint-desktop-xl) {
    max-width: 830px;
  }
}

.env-dialog__header {
  color: $color-dialog-default-title-text;
  font-size: $dialog-title-mobile-font-size;
  padding: 10px;
  text-transform: uppercase;

  @include breakpoint($breakpoint-pad) {
    font-size: $dialog-title-desktop-font-size;
  }

  @include breakpoint($breakpoint-pad) {
    left: 15px;
  }
}

.env-dialog__body {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: 0 10px;
}

.env-dialog__footer {
  padding: 10px;
}

.env-dialog__actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  .button {
    margin: 0 0 0 10px;
  }

  @include breakpoint($breakpoint-desktop) {
    justify-content: flex-start;

    .button {
      margin: 0 10px 0 0;
    }
  }
}

.env-dialog__guidance-event {
  cursor: pointer;
}

.env-dialog__actions--guidance-event {
  margin-top: 20px;
}

.env-dialog__row {
  margin-bottom: 10px;
}

.env-dialog__row--ckeditor {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}

// This encapsulates checkboxes and necessary spane element that appear on the same row
.env-dialog__row--options {
  align-items: center;
  display: flex;
}

// This encapsulates titles and selection that appear on the same row
.env-dialog__row--titles {
  display: flex;
  flex-flow: column wrap;

  .env-dialog__form-element-container {
    &:not(:first-child) {
      margin: 10px 0 0;

      @include breakpoint($breakpoint-pad) {
        margin: 0 0 0 20px;
      }
    }
  }

  @include breakpoint($breakpoint-pad) {
    flex-flow: row wrap;
  }
}


// This encapsulates dates fields that appear on the same row
.env-dialog__row--dates,
.env-dialog__row--new-contact-event {
  display: flex;
  flex-direction: row nowrap;

  .env-dialog__form-element-container {
    flex-grow: 0;

    &:not(:first-child) {
      margin: 0 0 0 10px;

      @include breakpoint($breakpoint-pad) {
        margin: 0 0 0 20px;
      }
    }
  }

  @include breakpoint($breakpoint-pad) {
    flex-direction: initial;
  }
}

.env-dialog__row--new-contact-event {
  .env-dialog__form-element-container {
    flex-grow: 1;

  }
}

.env-dialog__form-element-container {
  display: flex;
  flex-basis: auto;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;

  .cke {
    border: 2px solid $color-env-dialog-form-element-border;
    border-radius: 3px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;

    @include breakpoint($breakpoint-pad) {
      flex-basis: 210px;
    }
  }
}

.env-dialog__form-element-container--pinned-thread,
.env-dialog__form-element-container--locked-thread {
  align-items: center;
  flex-direction: row;
  flex-grow: 0;

  &:not(:first-child) {
    margin-left: 10px;

    @include breakpoint($breakpoint-pad) {
      margin-left: 20px;
    }
  }
}

.env-dialog__label {
  align-items: center;
  color: $color-text-default;
  display: flex;
  font-family: $system-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  height: 1.45rem;
  padding: 0 0 5px;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.env-dialog__selected-item {
  align-items: center;
  background-color: $color-form-element-selected-item-background;
  border-radius: 4px;
  color: $color-form-element-selected-item-text;
  display: inline-flex;
  height: 24px;
  margin: 4px 4px 0 0;
  padding: 2px 4px;
  position: relative;
  white-space: nowrap;

  @include breakpoint($breakpoint-desktop) {
    height: 32px;
    margin: 2px 4px 2px 0;
  }
}

.env-dialog__selected-item-action {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0.75rem; // Will be same size for mobile and desktop
  margin: 0 0 0 10px;
}

.env-dialog__input--communicator-new-message-subject {
  margin-bottom: 5px;
}

.env-dialog__label-name {
  display: block;
  margin-bottom: 24px;
  text-align: center;
}

.env-dialog__input--new-discussion-thread-area {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.env-dialog__input {
  background-color: $color-default;
  border: 2px solid $color-env-dialog-form-element-border;
  border-radius: 3px;
  display: inline-block;
  height: $input-height-mobile;
  padding: 4px 8px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    height: $input-height-desktop;
  }

  @include form-focus;
}

.env-dialog__input:disabled {
  background-color: $color-disabled-background;
}

.env-dialog__input-label {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 0 0 5px;
}

.env-dialog__input-description {
  border-left: 2px solid $color-default-separator-border;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 0 0 0 15px;
  padding: 0 0 0 15px;
}

.env-dialog__input[type="checkbox"] {
  align-items: center;
  appearance: none;
  background-color: $color-default;
  border: solid 2px $color-env-dialog-form-element-border;
  border-radius: 3px;
  display: flex;
  height: 1rem;
  justify-content: center;
  padding: 8px;
  width: 1rem;
}

.env-dialog__input[type="checkbox"]:checked {
  background-color: $color-application-dialog-border-color;
  border: solid 2px $color-application-dialog-border-color;
}

.env-dialog__input[type="checkbox"]:checked::after {
  color: $color-default;
  content: "\e639";
  font-family: "muikku";
  font-size: 0.875rem;
}

.env-dialog__input--date-picker {
  width: 100%;
}

.env-dialog__select {
  background-color: $color-default;
  border: 2px solid $color-env-dialog-form-element-border;
  border-radius: 3px;
  display: inline-block;
  font-family: $system-font-family;
  font-size: $text-mobile-font-size;
  height: $select-height-mobile;
  padding: 3px 6px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
    height: $select-height-desktop;
  }

  @include form-focus;
}

.env-dialog__textarea {
  background-color: $color-default;
  border: 2px solid $color-env-dialog-form-element-border;
  border-radius: 3px;
  display: inline-block;
  font-family: $system-font-family;
  font-size: $text-mobile-font-size;
  height: 100px;
  padding: 8px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }

  @include form-focus;
}

// "Non-dialog", used within context
.env-dialog--reply-message,
.env-dialog--edit-journal-entry {
  opacity: 100%;
  position: relative;
  z-index: unset;

  .env-dialog__wrapper {
    background: $color-application-alt-dialog-background-color;
    border: 0;
    box-shadow: none;
    position: relative;
  }

  .env-dialog__content {
    max-width: 100%;
  }
}
