@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.file-uploader {
  @include text;

  border: 2px solid $color-tertiary;
  display: block;
}

.file-uploader--guider {
  margin: 0 10px;

  @include breakpoint($breakpoint-pad) {
    margin: 0;
  }
}

// FILE UPLOADER USED IN MATERIALS AS FILE FIELD TASK
.file-uploader--taskfield {
  @include taskfield-text;

  border: solid 2px $taskfield-border-color;

  // DISABLED FILE FIELD
  &.file-uploader--readonly {
    border-color: $color-disabled-taskfield-border;
    cursor: not-allowed;

    .file-uploader__field-container--taskfield {
      display: none;
    }

    .file-uploader__items-container--empty {
      border: 0;
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 1;
      margin: 10px 0;
      padding: 0;
      text-align: center;
    }

    .file-uploader__items--taskfield {
      border: 0;
    }
  }
}

.file-uploader__field-container {
  display: block;
  padding: 10px;
  position: relative;

  @include breakpoint($breakpoint-pad) {
    padding: 20px;
  }
}

.file-uploader__field {
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.file-uploader__hint {
  display: flex;
  justify-content: center;
}

.file-uploader__items-container {
  border-top: 3px dotted lighten($taskfield-border-color, 20%);
  display: block;
  position: relative;
}

.uploaded-files {
  @include text;

  padding: 0 10px;
}

.file-uploader__items-container--empty {
  padding: 10px;
}

.file-uploader__item {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin: 5px;
  padding: 0 5px;

  .file-uploader__item-upload-progressbar-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  &.file-uploader__item--failed-to-upload {
    .file-uploader__item-title {
      color: $color-fatal;
      margin: 0 0 0 27px;
    }

    .file-uploader__item-attachment-icon {
      color: $color-disabled;
    }
  }

  .file-uploader__item-attachment-icon {
    display: inline-flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.0625rem;
    margin-right: 10px;
  }

  .file-uploader__item-title-container {
    @include text;

    display: flex;
    flex-basis: auto;
    flex-flow: column nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    word-break: break-all;
  }

  .file-uploader__item-url {
    color: $color-info;
    font-style: italic;
  }

  .file-uploader__item-download-icon {
    background: transparent;
    color: $color-info;
    cursor: pointer;
    font-size: 1.0625rem;
    height: auto;
    margin: 0 0 0 10px;
    padding: 5px;
    text-decoration: none;
    width: auto;

    .external-link-indicator {
      display: none;
    }
  }

  .file-uploader__item-delete-icon {
    background: transparent;
    color: $color-fatal;
    cursor: pointer;
    font-size: 1.0625rem;
    height: auto;
    margin: 0 0 0 10px;
    padding: 5px;
    text-decoration: none;
    width: auto;
  }
}

.file-uploader__item--download-all {
  justify-content: flex-end;
}

.file-uploader__item--material-editor {
  align-items: flex-start;

  .file-uploader__item-attachment-icon {
    padding: 2px 0 0;
  }
}

.file-uploader__item-upload-progressbar {
  @include text;

  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 400;
}

.file-uploader__item-upload-percentage {
  line-height: 1;
  margin: 0 0 5px;
}
