@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.file-uploader {
  border: 2px solid $color-tertiary;
  padding: 20px;
  position: relative;
}

.file-uploader__hint {
	display: flex;
	justify-content: center;
}

