@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.form {
  position: relative;
  width: 100%;
}

.form__row {
  padding-bottom: 10px;
  position: relative;
  width: 100%;
}

.form__row--wizard {
  display: flex;
  flex-wrap: wrap;
}

.form__subdivision {
  flex-basis: 100%;
  @include breakpoint($breakpoint-desktop) {
    flex-basis: 50%;
  }
}

.form__hidden {
  display: none;
}

input,
select,
option,
textarea {
  @include text;
  outline: none;
}

fieldset {
  border: 0;
  
  label,
  .form-element label {
    font-weight: 400;
  }
}

legend {
  font-weight: 600;
}

