@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

// TODO: Refactoring needed for form-field elements
// Not sure about the naming used here as we should not need classes like form-field-tag-input__field etc.
// Some class names are against BEM also.



div.form-field-tag-input__field, input:not([type="checkbox"]).form-field, .form-field input, textarea.form-field, .form-field textarea {
  height: 34px;
  padding: 3px 10px;
  border-radius: 3px;
  font-size: 14px;
  transition: box-shadow 0.3, border 0.3;
  -webkit-appearance: none;
  outline: none;
  border: solid 1px $color-form-field-border;
  resize: none;
  
  &:focus, &.focus {
    border: solid 1px $color-form-field-border-focus;
    box-shadow: 0 0 5px 1px $color-form-field-glow;
  }
}

input[type="checkbox"].form-field {
  border: solid 1px $color-form-field-border;
  transition: box-shadow 0.3, border 0.3;
  margin-right: 5px;
  display: inline-block;
  
  &:focus, &.focus {
    border: solid 1px $color-form-field-border-focus;
    box-shadow: 0 0 5px 1px $color-form-field-glow;
  }
}

div.form-field-tag-input {
  width: 100%;
  height: 34px;
  overflow: show;
  
  &.focus .form-field-tag-input__field {
    flex-wrap: wrap;
  }
}

.form-field__input--main-function-search {
  background-color: transparent;
  border: 2px solid $color-main-function-input-field-border;
  border-right: 0;
  font-size: 1.05rem;  
  font-style: italic;  
  padding: 5px;
  border-radius: 0;
  height: 35px;
  width: 100%;
}

// This does not mostly belong here, mostly

.form-field__input-decoration--main-function-search {
  background-color: $color-main-function-input-field-decoration-background;
  
  &::before {
    align-items: center;
    color: #fff;
    display: flex;
    height: 35px;
    justify-content: center;
    width: 35px;
  }
}



// Needs to be redone with divs


.form-field__select--primary-function {    
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='10' fill='skyblue'><polygon points='0,0 3,0 8,7 12,0 15,0 8,10 0,0' /></svg>") no-repeat right 5px center;
  background-color: transparent;
  border: 2px solid $color-main-function-primary-function-dropdown-border;
  min-width: 200px;
  height: 35px;
  padding: 5px 25px 5px 5px;
  text-transform: uppercase;
  font-size: 1.05rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}


.form-field-tag-input__field {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  background-color: white;
  background-color: -moz-field;
  font: -moz-field;
  font: -webkit-small-control;
  font-size: 14px;
  position: relative;
  display: flex;
  padding: 0;
  height: auto;
  overflow: hidden;


}

.form-field-tag-input__input {
  flex: 1 0 200px;
  padding: 3px 10px;
  box-shadow: none;
  background: none;
  border: none;
  height: 34px;
  outline: none;

  &:focus {
    border: none;
    box-shadow: none;
  }
}


.form-field-tag-input__tag {
  background-color: $color-form-field-tag-input-tag-background;
  border: solid 1px $color-form-field-tag-input-tag-border;
  border-radius: 3px;
  color: white;
  display: inline-block;
  margin-right: 8px;
  height: 34px;
  white-space: nowrap;
  position: relative;
  color: $color-form-field-tag-input-tag-text;
  padding: 8.5px;
  padding-right: 40px;
}





// Naming is wrong

.form-field-tag-input__tag__text {
  vertical-align: top;
}

// Naming is wrong

.form-field-tag-input__tag__delete {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 32px;  
  cursor: pointer;
  display: inline-block;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;

  
  &::before {
    position: absolute;
    left: 9px;
    top: 9px;
  }
  
  &.active, 
  &:active {
    background-color: $color-form-field-tag-input-tag-delete-background-active;
  }
}

.form-field--communicator-new-message-subject {
  margin-bottom: 5px;
}

.form-field--communicator-label-name {
  display: block;
  margin-bottom: 24px;
  text-align: center;
}

.form-field--toolbar-selector {
  display: inline-block;
  height: 100%;
  margin-right: 10px;
  max-width: 250px;
  vertical-align: top;
  width: 100%;

  
  @include breakpoint-down($breakpoint-medium-mobile) {
    max-width: 150px;
  }
}

.form-field--new-discussion-thread-title {
  flex: 4 1 auto;
  margin-right: 20px;
}

.form-field--new-discussion-thread-area {
  flex: 1 1 auto;
  min-width: 200px;   
}


.form-field--new-discussion-area-name {
  width: 100%;    
}

.form-field--new-discussion-area-description {
  height: 100px;
  margin-top: 20px;    
  width: 100%;
}

.form-field-tag-input__new-message-recepients {
  margin-bottom: 5px;
}

label {
  display: block;
  font-family: $text-font-family;
  font-weight: 600;
  overflow: hidden;
  padding: 0 0 5px;
  text-overflow: ellipsis;
}

input {
  border: 2px solid $color-form-field-border;
  border-radius: 3px;
  display: inline-block;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  padding: 8px;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

// Used in forgotpassword dialog
.text-field--forgotpassword-email {
  font-size: $text-forgotpassword-font-size;
  width: 100%;
}
