@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.form-element {
  width: auto;

  label {
    font-family: $text-font-family;
    font-size: $text-mobile-font-size;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
      margin-right: 5px;
    }

    @include breakpoint($breakpoint-pad) {
      font-size: $text-desktop-font-size;
    }
  }

  input[type="checkbox"] {
    align-items: center;
    appearance: none;
    border: solid 2px $color-form-element-border;
    border-radius: 3px;
    display: flex;
    height: 1rem;
    justify-content: center;
    margin-right: 5px;
    padding: 0;
    width: 1rem;
  }

  input[type="radio"] {
    align-items: center;
    appearance: none;
    border: solid 2px $color-form-element-border;
    border-radius: 100%;
    display: flex;
    height: 1rem;
    justify-content: center;
    margin-right: 5px;
    width: 1rem;
  }

  input:checked {
    background-color: $color-form-element-selected;
    border: solid 2px $color-form-element-selected;
  }

  input:checked::after {
    color: $color-default;
    content: "\e639";
    font-family: "muikku";
    font-size: 0.875rem;
  }
}

.form-element--new-label {
  width: 100%;

  .form-element__input {
    width: 100%;
  }
}

.form-element--checkbox-radiobutton {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  display: flex;
  margin: 2px 5px 2px 0;
  padding: 4px 8px 4px 0;
  width: auto;

  label {
    padding: 0;
  }
}

.form-element--workspace-management {
  width: auto;
}

.form-element--edit-label {
  margin: 0 0 10px;
  width: 100%;
}

.form-element--new-user {
  flex-grow: 1;
  margin-right: 10px;
}

.form-element--organization-workspace-date {
  margin-right: 10px;
}

.form-element--new-user:not(:first-child) {
  @include breakpoint($breakpoint-pad) {
    margin-left: 20px;
  }
}

.form-element--new-user-email:last-child {
  margin-left: 0;
}

.form-element__copy-workspace-start-date {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    flex-basis: 50%;
    padding: 0 10px 0 0;
  }
}

.form-element__copy-workspace-ckeditor {
  display: flex;
  flex-basis: auto;
  flex-flow: column wrap;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;

  .cke {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.form-element__copy-workspace-end-date {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    flex-basis: 50%;
    padding: 0 0 0 10px;
  }
}

.form-element__copy-workspace-start-date,
.form-element__copy-workspace-end-date {
  .react-datepicker-wrapper {
    display: block;
  }

  .react-datepicker__input-container {
    display: block;
  }
}

.form-element--main-action {
  @include form-element-toolbar;
}

.form-element__custom-element {
  padding: 10px 0 0;
}

.form-element--add-producer,
.form-element--search {
  @include form-element-toolbar;
}

.form-element--search {
  position: relative;
}

.form-element--subpanel-search {
  flex-basis: 100%;
}

.form-element--profile {
  margin: 10px 0 0;
}

.form-element--workspace-name,
.form-element--workspace-name-extension,
.form-element--dialog-workspace-name-extension {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 10px;
}

.form-element--dialog-workspace-name-extension {
  flex-basis: 200px;
}

.form-element--forgot-password {
  display: flex;
  flex-direction: column;
  padding: 5px 0;

  label {
    padding: 10px 0 5px;
  }
}

.form-element__label {
  display: inline-block;
  padding: 0 0 5px;
}

.form-element__input {
  @include prefix(
    transition,
    webkit ms o moz,
    box-shadow 0.2s ease-in-out,
    border 0.2s ease-in-out
  );

  appearance: none;
  border: solid 2px $color-form-element-border;
  border-radius: 2px;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  height: 2.25rem;
  padding: 0 10px;
  resize: none;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
    height: 2.5rem;
  }

  // scss-lint:disable SelectorFormat
  &.INVALID {
    border-color: $color-fatal;
  }

  &.VALID {
    border-color: $color-success;
  }

  // scss-lint:enable SelectorFormat
}

.form-element__input--new-label {
  width: 100%;
}

// Teacher's Worklist Specific fields
.form-element__input--worklist-description,
.form-element__input--worklist-price,
.form-element__input--worklist-factor,
.form-element__input--worklist-date {
  max-width: 100%;
  width: 100%;
}

.form-element__input--worklist-date,
.form-element__input--worklist-price,
.form-element__input--worklist-factor {
  text-align: center;
}

.form-element__input--worklist-description[disabled],
.form-element__input--worklist-price[disabled],
.form-element__input--worklist-factor[disabled] {
  background: $color-disabled-background;
  border-color: $color-disabled-background;
}

.form-element__input--profile-auto-reply {
  width: 100%;

  @include breakpoint($breakpoint-desktop) {
    width: 50%;
  }
}

.form-element__input--workspace-management {
  margin: 0 0 5px;
  width: 100%;
}

.form-element__input--workspace-data,
.form-element__input--guider-label-name,
.form-element__input--communicator-label-name,
.form-element__input--profile,
.form-element__input--workspace-name,
.form-element__input--user-group-name,
.form-element__input--workspace-name-extension,
.form-element__input--new-user {
  width: 100%;
}

.form-element__input--forgotpassword {
  font-size: $text-forgotpassword-font-size;
  width: 100%;
}

.form-element__input--profile-error {
  color: $color-fatal;
}

.form-element__input--label {
  display: block;
}

.form-element__input--search,
.form-element__input--add-producer,
.form-element__input--add-material-producer {
  background-color: $color-default;
  border: 2px solid $color-main-function-input-field-border;
  margin-right: -2px; // Hides the right border and border-radius effect to provide more unified look
  width: 100%;
}

// Communicator Message Search
.form-element--communicator-message-search {
  display: none;

  @include breakpoint($breakpoint-pad) {
    display: flex;
  }
}

// Overrides the border color
.form-element__input--add-producer,
.form-element__input--add-material-producer {
  border: solid 2px $color-form-element-border;
}

// Overrides the border color
.form-element__input--add-material-producer {
  border: solid 2px lighten($color-material-page-admin-panel-main-color, 20%);
}

.form-element__input-decoration--search,
.form-element__input-decoration--add-producer {
  background-color: $color-main-function-input-field-decoration-background;
  border-radius: 2px;

  &::before {
    @include form-element-input-search-decoration;

    color: $color-search-icon;
  }
}

.form-element__input-decoration--clear-search {
  background-color: $color-search-clear-background;
  border-radius: 2px;
  cursor: pointer;
  height: 1.8rem;
  position: absolute;
  right: 39px;
  top: 4px;
  width: 1.8rem;

  &::before {
    @include form-element-input-clear-search-decoration;
  }

  &:active,
  &.active {
    &::before {
      color: $color-search-clear-icon-active;
    }
  }

  @include breakpoint($breakpoint-pad) {
    right: 44px;
    top: 6px;
  }
}

.form-element__select {
  appearance: none;
  background:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='10' fill='skyblue'><polygon points='0,0 3,0 8,7 12,0 15,0 8,10 0,0' /></svg>")
    no-repeat right 5px center;
  background-color: transparent;
  border: 2px solid $color-form-element-border;
  border-radius: 2px;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  height: 2.25rem;
  padding: 0 25px 0 10px;
  position: relative;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
    height: 2.5rem;
  }

  // scss-lint:disable SelectorFormat

  &.INVALID {
    border-color: $color-fatal;
  }

  &.VALID {
    border-color: $color-success;
  }

  // scss-lint:enable SelectorFormat
}

.form-element__select--evaluation {
  background-color: $color-default;
  height: 2rem;

  &[disabled] {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='10' fill='lightgrey'><polygon points='0,0 3,0 8,7 12,0 15,0 8,10 0,0' /></svg>")
      no-repeat right 5px center;
    border: 2px solid lighten($color-disabled, 20%);
  }
}

.form-element__select--worklist-template {
  max-width: 200px;
  width: 200px;
}

.form-element__select--matriculation-exam {
  margin-right: 5px;
}

.form-element__select--hops-selector {
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}

.form-element__select--main-action {
  display: inline-block;
  font-weight: 300;
  height: 35px;
  min-width: 150px;
  padding: 5px 25px 5px 5px;
  text-transform: uppercase;
  vertical-align: top;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    height: 40px;
  }
}

.form-element__select--material-editor {
  border: solid 2px lighten($color-material-page-admin-panel-main-color, 20%);
  width: 100%;
}

.form-element__select--toolbar-selector {
  display: inline-block;
  font-weight: 300;
  height: 35px;
  margin-right: 20px;
  max-width: 200px;
  padding: 5px 25px 5px 5px;
  text-transform: uppercase;
  vertical-align: top;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    height: 40px;
    max-width: 250px;
  }
}

.form-element__select--new-user {
  width: 100%;
}

.form-element__textarea-container {
  width: 100%;
}

.form-element__textarea {
  background-color: transparent;
  border: 2px solid $color-form-element-border;
  border-radius: 2px;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  margin-top: 10px;
  min-height: 150px;
  padding: 6px;
  width: 100%;

  @include breakpoint($breakpoint-desktop) {
    font-size: $text-desktop-font-size;
  }
}

.form-element__textarea--edit-label,
.form-element__textarea--profile-auto-reply {
  margin: 0;
}

.form-element__dropdown-selection-container {
  padding: 3px 0 3px 10px;
}

.form-element__button-container {
  padding: 10px;
}

.form-element__radio-option-container {
  align-items: center;
  display: flex;
  padding: 10px;

  input {
    margin-right: 5px;
  }
}

.form-element__radio-option-container--profile {
  padding: 0;
}

.form-element__check-option-container {
  align-items: center;
  display: flex;
  margin-right: 10px;
  padding: 10px;

  input {
    margin-right: 5px;
  }
}

.form-element__autocomplete-highlight {
  background: $color-form-element-autocomplete-highlight;
}

.form-element--button-container {
  padding: 10px 0;
}

// This is exactly the same as env-dialog__actions

.form-element__actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;

  .button {
    margin: 0 0 0 10px;
  }

  @include breakpoint($breakpoint-desktop) {
    justify-content: flex-start;

    .button {
      margin: 0 10px 0 0;
    }
  }
}

.form-element__actions--wizard {
  @include breakpoint($breakpoint-desktop) {
    justify-content: center;
  }
}
