@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.form-element {
  width: auto;

  label {
    font-family: $text-font-family;
    font-size: $text-mobile-font-size;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;

    &:first-child {
      margin-right: 5px;
    }

    @include breakpoint($breakpoint-pad) {
      font-size: $text-desktop-font-size;
    }
  }

  input[type="checkbox"] {
    align-items: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: solid 2px $color-form-element-border;
    border-radius: 3px;
    display: flex;
    height: 1rem;
    justify-content: center;
    margin-right: 5px;
    width: 1rem;
  }

  input[type="radio"] {
    align-items: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: solid 2px $color-form-element-border;
    border-radius: 100%;
    display: flex;
    height: 1rem;
    justify-content: center;
    margin-right: 5px;
    width: 1rem;
  }

  input:checked {
    background-color: $color-form-element-selected;
    border: solid 2px $color-form-element-selected;
  }

  input:checked::after {
    color: $color-default;
    content: "\e639";
    font-family: muikku;
    font-size: 0.875rem;
  }
}

.form-element--checkbox-radiobutton {
  align-items: center;
  background-color: transparent;
  border-radius: 0;
  display: flex;
  margin: 2px 5px 2px 0;
  padding: 4px 8px 4px 0;
  width: auto;

  label {
    padding: 0;
  }
}

.form-element--workspace-management {
  width: auto;
}

.form-element--edit-label {
  margin: 0 0 10px;
  width: 100%;
}

.form-element--new-user {
  flex-grow: 1; 
}

.form-element--new-user:not(:first-child) {
    margin-left: 20px; 
}

.form-element__copy-workspace-start-date {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    flex-basis: 50%;
    padding: 0 10px 0 0;
  }
}

.form-element__copy-workspace-ckeditor {
  display: flex;
  flex-basis: auto;
  flex-flow: column wrap;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;

  .cke {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.form-element__copy-workspace-end-date {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    flex-basis: 50%;
    padding: 0 0 0 10px;
  }
}

.form-element__copy-workspace-start-date,
.form-element__copy-workspace-end-date {

  .react-datepicker-wrapper {
    display: block;
  }

  .react-datepicker__input-container {
    display: block;
  }
}

.form-element--main-action {
  @include form-element-toolbar;
}

.form-element--guider-toolbar {
  @include form-element-toolbar;
}

.form-element--coursepicker-toolbar {
  @include form-element-toolbar;
}

.form-element--workspace-toolbar {
  @include form-element-toolbar;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.form-element--add-producer {
  @include form-element-toolbar;
  width: 100%;
}

.form-element--profile {
  margin: 10px 0 0;
}

.form-element--workspace-name,
.form-element--workspace-extension {
  flex-grow: 1;
}

.form-element--forgot-password {
  display: flex;
  flex-direction: column;
  padding: 5px 0;

  label {
    padding: 10px 0 5px;
  }
}

.form-element__input {
  @include prefix(transition, webkit ms o moz, box-shadow 0.2s ease-in-out, border 0.2s ease-in-out);
  -webkit-appearance: none;
  border: solid 2px $color-form-element-border;
  border-radius: 2px;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  height: 2.25rem;
  outline: none;
  padding: 0 10px;
  resize: none;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
    height: 2.5rem;
  }

  &.INVALID {
    border-color: $color-fatal;
  }
  &.VALID {
    border-color: $color-success;
  }
}

.form-element__input--workspace-management {
  margin: 0 0 5px;
  width: 100%;
}

.form-element__input--forgotpassword {
  font-size: $text-forgotpassword-font-size;
  width: 100%;
}

.form-element__input--workspace-data,
.form-element__input--guider-label-name,
.form-element__input--communicator-label-name,
.form-element__input--profile,
.form-element__input--workspace-name,
.form-element__input--workspace-name-extension,
.form-element__input--profile,
.form-element__input--new-user {
  width: 100%;
}


.form-element__input--profile-wrong {
  color: $color-fatal;
}

.form-element__input--label {
  display: block;
}

.form-element__input--main-function-search {
  background-color: $color-default;
  border: 2px solid $color-main-function-input-field-border;
  margin-right: -2px; // Hides the right border and border-radius effect to provide more unified look
  width: 100%;
}

.form-element__input--add-producer {
  background-color: $color-default;
  border: solid 2px $color-form-element-border;
  margin-right: -2px; // Hides the right border and border-radius effect to provide more unified look
  width: 100%;
}

.form-element__input--add-material-producer {
  border: solid 2px lighten($color-material-page-admin-panel-main-color, 20%);
}

.form-element__input-decoration--main-function-search {
  background-color: $color-main-function-input-field-decoration-background;
  border-radius: 2px;

  &::before {
    @include form-element-input-search-decoration;
    color: $color-main-function-search-icon;
  }
}

.form-element__input-decoration--add-producer {
  background-color: $color-main-function-input-field-decoration-background;
  border-radius: 2px;
  cursor: pointer;

  &::before {
    @include form-element-input-add-producers-decoration;
    color: $color-main-function-search-icon;
  }
}

.form-element__input-decoration--add-material-producer {
  background-color: $color-material-page-admin-panel-main-color;
}

.form-element__input--subpanel-search {
  background-color: $color-default;
  margin-right: -2px;
  width: 100%;
}

.form-element__input-decoration--subpanel-search {
  background-color: $color-main-function-input-field-decoration-background;
  border-radius: 2px;
  cursor: pointer;

  &::before {
    @include form-element-input-search-decoration;
    color: $color-subpanel-search-icon;
  }
}

.form-element__input--material-editor {
  border: solid 2px lighten($color-material-page-admin-panel-main-color, 20%);
  margin: 5px 0 0;
  width: 100%;
}

.form-element__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='10' fill='skyblue'><polygon points='0,0 3,0 8,7 12,0 15,0 8,10 0,0' /></svg>") no-repeat right 5px center;
  background-color: transparent;
  border: 2px solid $color-form-element-border;
  border-radius: 2px;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  height: 2.25rem;
  outline: none;
  padding: 0 25px 0 10px;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
    height: 2.5rem;
  }

  &.INVALID {
    border-color: $color-fatal;
  }
  &.VALID {
    border-color: $color-success;
  }

}

.form-element__select--hops-selector {
  margin-left: 5px;
  margin-right: 5px;
  width: auto;
}

.form-element__select--main-action {
  display: inline-block;
  font-weight: 300;
  min-width: 150px;
  text-transform: uppercase;
  vertical-align: top;
  width: 100%;
}

.form-element__select--material-editor {
  border: solid 2px lighten($color-material-page-admin-panel-main-color, 20%);
  width: 100%;
}

.form-element__select--toolbar-selector {
  display: inline-block;
  font-weight: 300;
  height: 35px;
  margin-right: 20px;
  max-width: 200px;
  padding: 5px 25px 5px 10px;
  vertical-align: top;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    height: 40px;
    max-width: 250px;
  }
}

.form-element__select--new-user {
  width: 100%;
}


.form-element__textarea {
  background-color: transparent;
  border: 2px solid $color-form-element-border;
  border-radius: 2px;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  margin-top: 10px;
  min-height: 150px;
  padding: 6px;
  width: 100%;

  @include breakpoint($breakpoint-desktop) {
    font-size: $text-desktop-font-size;
  }
}

.form-element__textarea--edit-label {
  margin: 0;
}

.form-element__radio-option-container {
  align-items: center;
  display: flex;
  padding: 10px;

  input {
    margin-right: 5px;
  }
}

.form-element__check-option-container {
  align-items: center;
  display: flex;
  margin-right: 10px;
  padding: 10px;
}

.form-element__autocomplete-highlight {
  background: $color-form-element-autocomplete-highlight;
}

.form-element--button-container {
  padding: 10px 0;
}
