@import "../base/colors";
@import "../base/vars";
@import "../base/breakpoints";

.hero {
  background: url("/gfx/oo-branded-site-header-background-mobile.jpg") no-repeat center center $color-hero-default-background;
  background-size: cover;
  margin-top: $navbar-mobile-height;
  
  @include breakpoint($breakpoint-pad) {
    background-image: url("/gfx/oo-branded-site-header-background.png");
    background-size: auto;
    margin-top: $navbar-desktop-height;
  }
}  
  
.hero__wrapper {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  max-width: 64rem;
  padding: 1.5rem 0 0;
  position: relative;
  
  @include breakpoint($breakpoint-pad) {
    flex-flow: row nowrap;
    padding: 2.5rem .5rem;
  }
  
  @include breakpoint($breakpoint-desktop) {
    padding: 4.5rem .5rem;
  }
}

.hero__wrapper__item {
  padding: 0 1.5rem 1.5rem;
  width: 100%;
  
  @include breakpoint($breakpoint-pad) {
    flex-basis: 33%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
  }
  
  &:nth-child(2) {
    order: -1;
    
    @include breakpoint($breakpoint-pad) {
      order: initial;
    }
  }
}
