@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.hops-animate__height-wrapper {
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  width: 100%;
}

.hops-container {
  flex-basis: 100%;
  padding: 10px;
  scroll-margin-top: 150px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    padding: 0;
  }
}

.hops-container__state {
  align-items: flex-start;
  border: 1px solid transparent;
  border-left-width: 3px;
  color: $color-default-contrast;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  margin: 5px;
  padding: 10px;

  p {
    margin: 0 0 15px;

    &:last-child {
      margin: 0 0 5px;
    }
  }

  ul {
    list-style-type: initial;
    margin: 15px 30px;

    &:last-child {
      margin: 15px 30px 5px;
    }
  }

  li {
    display: list-item;
  }

  &.state-INFO {
    border-color: $color-info;

    .hops-container__state-icon {
      color: $color-info;
    }
  }

  &.state-SUCCESS {
    border-color: $color-success;

    .hops-container__state-icon {
      color: $color-success;
    }
  }

  &.state-WARNING {
    border-color: $color-error;

    .hops-container__state-icon {
      color: $color-error;
    }
  }

  &.state-FAILED {
    border-color: $color-fatal;

    .hops-container__state-icon {
      color: $color-fatal;
    }
  }

  &.state-LOADER {
    border-color: $color-tertiary;

    .hops-container__state-icon {
      color: $color-tertiary;
    }
  }
}

.hops-container__state-icon {
  flex-basis: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 2rem;
}

.hops-container__state-text {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 4px 0 0 10px;
}

.hops-container__header {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 15px;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.5rem;
  }
}

.hops-container__fieldset {
  border: 0;
  border-bottom: 1px solid $color-default-separator-border;
  margin: 0 0 15px;
  padding: 0 0 10px;
}

.hops-container__subheader {
  border: 0;
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 0 10px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.25rem;
  }
}

.hops-container__subheader--required::after {
  color: $color-fatal;
  content: " *";
}

// HOPS progressbar's title modifier
.hops-container__subheader--activity-title {
  font-size: 1rem;
  font-weight: 400;
  width: auto;
}

.hops-container__info {
  margin: 10px 0;
  width: 100%;
}

// Not available section
.hops-container__not-available {
  margin: 0 5px;
}

// HOPS progressbar's container modifier
.hops-container__info--activity-progressbar {
  background: $color-default-lighter-generic-background;
  border-radius: 3px;
  margin: 20px 5px;
  padding: 10px 20px;
  width: calc(100% - 10px);
}

// HOPS history
.hops-container__history {
  display: flex;
  flex-flow: column wrap;
}

.hops-container__history-filter {
  cursor: pointer;
  font-weight: 400;
  margin: 0 5px;
}

.hops-container__history-filter--active {
  font-weight: 600;
}

.hops-container__history-event {
  align-items: flex-start;
  border-bottom: 1px solid $color-default-item-separator-border;
  display: flex;
  flex-basis: 100%;
  flex-flow: column wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  margin: 0 5px;
  padding: 10px 0;

  &:last-child {
    border: 0;
  }
}

.hops-container__history-event-primary,
.hops-container__history-event-secondary {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  padding: 4px 0;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row nowrap;
  }
}

.hops-container__history-event-secondary {
  font-size: 0.8125rem;

  span {
    white-space: break-spaces;
  }
}

.hops-container__history-event-action {
  margin: 0 7px;
}

.hops-container__history-event-text {
  margin: 0 7px 0 0;
}

.hops-container__history-event-author {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  margin: 0 7px 7px 0;

  @include breakpoint($breakpoint-pad) {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 7px 0 0;
  }

  .avatar-container {
    border: 2px solid $color-application-dialog-border-color;
    border-radius: 100%;
    margin: 0 7px 0 0;
  }
}

.hops-container__history-event-author-name {
  font-weight: 600;
}

.hops-container__history-event-date {
  background: $color-default-generic-background;
  border-radius: 3px;
  line-height: 1;
  margin: 0 7px 0 0;
  padding: 4px;
}

.hops-container__section {
  border: 0;
  border-bottom: 1px solid $color-default-separator-border;
  margin: 0 0 20px;
  padding: 0 0 10px;
}

.hops-container__row {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 0;
  position: relative;
  width: 100%;

  .hops-container__row--dependant-of-above {
    margin: 0 0 0 15px;
    padding: 0 0 0 15px;

    &::before {
      border-bottom: 1px solid $color-hops-dialog-form-element-border;
      border-left: 1px solid $color-hops-dialog-form-element-border;
      content: " ";
      height: 37px;
      left: 0;
      position: absolute;
      top: 10px;
      width: 10px;
    }
  }
}

.hops-container__row--submit-middle-of-the-form {
  justify-content: center;
  margin: 10px 0;
}

.hops-container__row--remove-row-action {
  justify-content: flex-end;
}

.hops-container__row--input-groups {
  border-radius: 3px;
  flex-flow: column wrap;
  margin: 0;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row nowrap;
  }
}

.hops-container__row--activity-progressbar {
  margin: 15px 0;
}

.hops-container__table-container {
  width: 100%;
}

.hops-container__table-container-descriptions {
  align-items: flex-start;
  background: $color-default-lighter-generic-background;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 5px;
  padding: 5px;

  @include breakpoint($breakpoint-pad) {
    display: none;
  }
}

.hops-container__table-description-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.8135rem;
  justify-content: flex-start;
  margin: 5px 10px;
}

.hops-container__table-head-description--long {
  display: none;

  @include breakpoint($breakpoint-pad) {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.hops-container__table-head-description--short {
  align-items: center;
  display: flex;
  justify-content: center;

  @include breakpoint($breakpoint-pad) {
    display: none;
  }
}

// HOPS form related styles.
// Naming convention is wrong here and will be dealt in the future as matriculation form needs this refactoring also
.hops__form-element-container {
  display: flex;
  flex-basis: auto;
  flex-flow: column wrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  position: relative;
}

.hops__form-element-container--button {
  align-items: flex-end;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
  margin: 5px 5px 5px 0;
}

.hops__form-element-container--single-row {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  .hops__label {
    flex-basis: auto;
    flex-shrink: 1;
    margin: 0 10px 0 0;
    padding: 0;
  }
}

// HOPS form label
.hops__label {
  display: block;
  font-weight: 600;
  overflow: hidden;
  padding: 0 0 5px;
  text-overflow: ellipsis;
}

.hops__label--input-groups {
  padding: 0;
}

// HOPS checkboxes and radiobuttons
.hops__input[type="checkbox"],
.hops__input[type="radio"] {
  align-items: center;
  appearance: none;
  border: solid 2px $color-hops-dialog-form-element-border;
  border-radius: 3px;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  margin: 0 10px 0 0;
  padding: 4px 10px;
  width: 1.5rem;

  // Checked element
  &:checked {
    background-color: $color-application-dialog-border-color;
    border: solid 2px $color-application-dialog-border-color;
  }

  // Checked element's checkmark
  &:checked::after {
    color: $color-default;
    content: "\e639";
    font-family: "muikku";
    font-size: 0.875rem;
  }

  // Disabled element
  &[disabled] {
    background: transparent;
    border-color: lighten($color-disabled, 20%);
  }

  // Disabled and checked element
  &[disabled]:checked {
    background: lighten($color-disabled, 10%);
    border-color: lighten($color-disabled, 10%);
  }

  // Disabled and checked element's checkmark
  &[disabled]:checked::after {
    color: $color-default;
  }
}

.hops__input--input-groups[type="checkbox"] {
  margin: 0 5px 0 0;
}

.hops__input[type="radio"] {
  border-radius: 100%;
}

// HOPS textfields
.hops__input {
  background: $color-default;
  border: 2px solid $color-hops-dialog-form-element-border;
  border-radius: 3px;
  height: $select-height-mobile;
  padding: 4px 8px;
  width: 100%;

  &[disabled] {
    background-color: lighten($color-disabled, 25%);
    border-color: lighten($color-disabled, 25%);
  }

  @include breakpoint($breakpoint-pad) {
    height: $select-height-desktop;
  }
}

// HOPS textfield's disabled style overrides inside tables
.hops__input--inside-table {
  margin: 0;

  &[disabled] {
    background-color: transparent;
    border-color: transparent;
    font-style: italic;
  }
}

// HOPS select dropdowns
.hops__select {
  background: $color-default;
  border: 2px solid $color-hops-dialog-form-element-border;
  border-radius: 3px;
  display: inline-block;
  height: $select-height-mobile;
  padding: 4px;
  width: 100%;

  &[disabled] {
    background-color: lighten($color-disabled, 25%);
    border-color: lighten($color-disabled, 25%);
  }

  @include breakpoint($breakpoint-pad) {
    height: $select-height-desktop;
  }
}

// HOPs memofields
.hops__textarea {
  background: $color-default;
  border: 2px solid $color-hops-dialog-form-element-border;
  border-radius: 3px;
  display: inline-block;
  height: 5rem;
  padding: 4px 8px;
  resize: vertical;
  width: 100%;

  &[disabled] {
    background-color: lighten($color-disabled, 25%);
    border: 0;
  }
}

.hops__form-element-container--pad-upforwards {
  display: none;

  @include breakpoint($breakpoint-desktop) {
    display: flex;
  }
}

.hops__form-element-container--mobile {
  display: flex;

  @include breakpoint($breakpoint-desktop) {
    display: none;
  }
}

.hops__form-element-container--progressbar {
  align-items: center;
  justify-content: flex-start;
}

.hops-container__activity-label {
  border-radius: 10px;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1;
  padding: 3px 6px 4px;
  text-align: center;
}

.hops-container__activity-label--progressbar-line {
  background: $color-success;
  width: 45px;
}

.hops-container__indicator-descriptions {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 5px 20px;
}

.hops-container__activity-progressbar-line-wrapper {
  width: 100%;
}

.hops-container__activity-progressbar-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hops-container__activity-progressbar {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 0 5px 5px;
  width: 100%;
}

.hops-container__activity-progressbar-icon {
  align-items: center;
  color: $color-success;
  display: flex;
  font-size: 5rem;
  height: 80px;
  width: 80px;
}

.hops-container__activity-progressbar--circle,
.hops-container__activity-progressbar--total-study-time {
  align-items: center;
}

.hops-container__study-tool-indicators {
  align-items: center;
  background: $color-default-lighter-generic-background;
  border-radius: 3px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 5px;
  width: 100%;
}

.hops-container__study-tool-indicator-container {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  margin: 10px;
}

.hops-container__study-tool-indicator-container--legend-title {
  flex-basis: calc(100% - 20px);
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 600;
  margin: 10px;
}

.hops-container__indicator-item-label {
  font-size: 0.8135rem;
}

.hops-container__indicator-item {
  border: 3px solid transparent;
  border-radius: 100%;
  height: 20px;
  margin: 0 5px 0 0;
  width: 20px;
}

.hops-container__indicator-item--mandatory {
  background: $color-mandatory;
}

.hops-container__indicator-item--optional {
  background: $color-optional;
}

.hops-container__indicator-item--approval {
  background: $color-success;
  border-color: $color-approval;
}

.hops-container__indicator-item--completed {
  background: $color-success;
}

.hops-container__indicator-item--inprogress {
  background: $color-info;
}

.hops-container__indicator-item--selected {
  border-color: $color-optional-selected;
}

.hops-container__indicator-item--suggested {
  background: $color-suggested;
}

.hops-container__indicator-item--next {
  background: $color-next;
}

// HOPS study tool dropdown content
.hops-container__study-tool-dropdown-container {
  max-height: 340px;
  max-width: 375px;
  padding: 5px;
}

.hops-container__study-tool-dropdow-suggestion-subsection {
  align-items: center;
  border-bottom: 1px solid $color-default-separator-border;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  padding: 10px 0;

  .hops-container__study-tool-dropdow-title {
    font-size: 0.875rem;
    font-weight: 400;
  }
}

.hops-container__study-tool-dropdow-suggestion-container {
  display: flex;
  flex-flow: column;
  max-height: 275px;
  max-width: inherit;
  overflow: auto;
}

.hops-container__study-tool-dropdow-suggestion-subsection:last-child {
  border-bottom: none;
}

.hops-container__study-tool-dropdow-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 0;
  text-align: initial;
}

.hops-planning__activity-proggressbar-tooltip {
  line-height: 1.325rem;
  max-width: 400px;
  padding: 5px 10px;
  text-align: left;
}

.hops-container__study-tool-button-container {
  display: flex;
  width: 100%;
}

.hops-edit__button-row {
  display: flex;
  width: 100%;
}

// Study Planning Tool specific styles
.hops-container__description {
  margin-bottom: 20px;
}

.hops-container__input-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 20px 0;
}

.hops-container__input-group {
  flex: 1;
}

.hops-container__helper-text {
  color: $color-default-contrast;
  font-size: 0.875rem;
  margin: 5px 0;
}

.hops-container__progress-section {
  margin-top: 2rem;
}

.hops-container__progress-bar-container {
  margin-top: 1rem;
}

.hops-container__progress-dates {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.hops-container__progress-bar {
  height: 0.5rem;
  background-color: $color-default-lighter-generic-background;
  border-radius: 0.25rem;
}

.hops-container__progress-bar-fill {
  height: 100%;
  background-color: $color-success;
  border-radius: 0.25rem;
  transition: width 0.3s ease;
}

.hops-container__statistics {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.hops-container__statistic-item {
  flex: 1;
}

.hops-container__statistic-title {
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.hops-container__statistic-bar {
  height: 0.5rem;
  width: 6rem;
  background-color: $color-success;
  border-radius: 0.25rem;
}

// Study Planner specific styles
.hops-planner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 750px;
}

.hops-planner__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid $color-default-separator-border;
}

.hops-planner__control-buttons,
.hops-planner__period-navigation {
  display: flex;
  gap: 0.5rem;
}

.hops-planner__control-button,
.hops-planner__nav-button {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  color: $color-default-contrast;

  &:hover {
    color: $color-info;
  }
}

.hops-planner__content {
  display: flex;
  gap: 1rem;
  height: calc(100% - 48px);
  overflow: hidden;
}

.hops-planner__sidebar {
  width: 300px;
  border-right: 1px solid $color-default-separator-border;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hops-planner__sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.hops-planner__sidebar-title {
  margin: 0;
}
.hops-planner__search {
  margin-bottom: 1rem;
}

.hops-planner__course-group {
  margin-bottom: 0.5rem;
}

.hops-planner__course-group-toggle {
  width: 100%;
  text-align: left;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: #B1296F;

  &:hover {
    background: $color-default-lighter-generic-background;
  }
}

.planner-sidebar-course {
  padding: 0.25rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-left: 3px solid #a09f9f;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &.is-dragging {
    opacity: 0.5;
  }

  &__header {
    display: flex;
    flex-direction: row;
  }

  &__code {
    font-weight: bold;
    margin-right: 0.25rem;
  }

  &__content {
    display: flex;
    gap: 0.25rem;
  }

  &__type {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    display: inline-block;

    &--mandatory {
      background: $color-mandatory;
      color: $color-default;
    }

    &--optional {
      background: $color-optional;
      color: $color-default;
    }
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  &--preview {
    background: white;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    cursor: move;
  }
}

.hops-planner__timeline {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 0.5rem;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $color-default-lighter-generic-background;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-default-separator-border;
    border-radius: 4px;

    &:hover {
      background: darken($color-default-separator-border, 10%);
    }
  }
}

.hops-planner__period {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 350px;
  height: 100%;
  background: #F5F5F7;
  border-radius: 10px;
  padding: 0.5rem;
}

.hops-planner__months {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $color-default-lighter-generic-background;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-default-separator-border;
    border-radius: 4px;

    &:hover {
      background: darken($color-default-separator-border, 10%);
    }
  }
}

.hops-planner__course-groups {
  flex: 1;
  overflow-y: auto;
  padding-right: 0.5rem;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $color-default-lighter-generic-background;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-default-separator-border;
    border-radius: 4px;

    &:hover {
      background: darken($color-default-separator-border, 10%);
    }
  }
}

.hops-planner__course-card {
  border-left: 5px solid #8d8d8d;
  cursor: move;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: white;
  border-radius: 0px 5px 5px 0px;
  opacity: 1;
  transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;

  &.is-dragging {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    cursor: grabbing;
    transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
    opacity: 0.5;
  }
}

.hops-planner__course-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.hops-planner__course-card-preview {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  border-left: 5px solid #8d8d8d;
  cursor: move;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background: white;
  border-radius: 0px 5px 5px 0px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hops-planner__course-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.hops-planner__course-code {
  font-weight: bold;
  margin-right: 0.25rem;
}

.hops-planner__course-type {
  color: $color-default-contrast;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  display: inline-block;
}

.hops-planner__course-type--mandatory {
  background: $color-mandatory;
  color: $color-default;
}

.hops-planner__course-type--optional {
  background: $color-optional;
  color: $color-default;
}

.hops-planner__course-unsaved {
  color: $color-fatal;
  font-size: 0.875rem;
  margin-left: 0.5rem;
}

.hops-planner__course-dates {
  font-size: 0.875rem;
  color: $color-default-contrast;
  margin: 0.5rem 0;
  display: block;
}

.hops-planner__course-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  justify-content: flex-end;
}

.hops-planner__action-button {
  padding: 0;
  border: none;
  border-radius: 3px;
  background: none;
  cursor: pointer;

  &--danger {
    color: $color-fatal;
    border-color: $color-fatal;
  }
}

.hops-planner__empty-month {
  border: 2px dashed $color-info;
  border-radius: 3px;
  background: rgba($color-info, 0.05);
}


.hops-planner__dropzone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $color-default-contrast;
  justify-content: center;
  padding: 1rem;

  i {
    font-size: 1.25rem;
  }

  span {
    font-size: 0.875rem;
  }
}

.hops-planner__month {
  margin-bottom: 0.5rem;
}

.drop-indicator {
  display: inline-block;
  color: #B1296F;
  margin-left: 8px;
  font-size: 1rem;
}

.hops-planner__month-toggle {
  width: 100%;
  text-align: left;
  padding: 0.5rem 0;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: $color-info;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  color: #B1296F;

  i {
    font-size: 0.875rem;
    transition: transform 0.2s ease;
  }

  &.is-expanded i {
    transform: rotate(90deg);
  }
}

.hops-planner__month-content {
  padding: 0rem 0 0.5rem 0rem;
}


.hops-planner__dropzone {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: $color-info;
  justify-content: center;
  padding: 0.5rem;
  min-height: 60px;

  i {
    font-size: 1.25rem;
  }

  span {
    font-size: 0.875rem;
  }
}

.hops-planner__period-title {
  text-align: center;
}

.hops-planner__course-drag-handle {
  cursor: grab;
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.hops-planner__course-drag-handle:active {
  cursor: grabbing;
}

.hops-planner__course-item-animate-height{
  &.open{
    margin-bottom: 0.5rem;
  }
  &.close {
    margin-bottom: 0;
  }
}

.hops-planner__course-item-delete-warning,
.hops-planner__course-item-specify {
  background: $color-default;
  border-radius: 10px;
  padding: 0.5rem;
  border: 1.5px solid #0F7991;
  box-shadow: 0px 2px 7px 5px #8080804f;

  h4 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .specify-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-size: 0.875rem;
      color: $color-default-contrast;
    }
  }

  .date-inputs {
    display: flex;
    gap: 1rem;

    .hops__input {
      flex: 1;
    }
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 0.5rem;

    .hops__button {
      padding: 0.5rem 1rem;
      border-radius: 3px;
      font-weight: 500;
      cursor: pointer;
      border: none;
      font-size: 0.875rem;

      &--secondary {
        background: $color-default-lighter-generic-background;
        color: $color-default-contrast;

        &:hover {
          background: darken($color-default-lighter-generic-background, 5%);
        }
      }

      &--primary {
        background: $color-info;
        color: $color-default;

        &:hover {
          background: darken($color-info, 5%);
        }
      }
    }
  }
}
