@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.hops__container {
  flex-basis: 100%;
  overflow: auto;
  width: 100%;
}

.hops__subheader {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.1875rem;
  font-weight: 400;
  margin: 0 10px 10px;

  @include breakpoint($breakpoint-pad) {
    margin: 0 0 10px;
  }
}

.hops__phase-info {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-style: italic;
  height: 100px;
  justify-content: center;
}

.hops__updates-list {
  list-style-type: disc;
  padding-inline-start: 20px;
}

.hops__updates-list li {
  display: list-item;
}

.hops__sub-container--updates {
  border: 1px solid cornflowerblue;
  border-left: 3px solid cornflowerblue;
}

.hops__row {
  display: flex;
  flex-flow: column wrap;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row wrap;
  }
}

.hops__form-element-container {
  box-shadow: 0 5px 5px $color-workspace-hero-shadow;
  display: flex;
  flex-basis: auto;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  position: relative;
}

.hops__form-element-container--hops-indicators {
  align-items: center;
}

.hops__form-element-container--single-row {
  align-items: center;
  display: flex;
  flex-flow: row;

  .hops__label {
    flex-basis: auto;
    margin: 0 10px 0 0;
    padding: 0;
  }
}

.hops__form-element-container--pad-upforwards {
  display: none;

  @include breakpoint($breakpoint-mobile-xl) {
    display: flex;
  }
}

.hops__form-element-container--mobile {
  display: flex;

  @include breakpoint($breakpoint-mobile-xl) {
    display: none;
  }
}

.hops__form-element-container--info {
  border: 2px solid;
  border-left-width: 5px;
  font-style: italic;
  padding: 10px;
}

.hops__form-element-container--toomuch {
  border-color: green;
}

.hops__form-element-container--enough {
  border-color: lightblue;
}

.hops__form-element-container--notenough {
  border-color: orange;
}

.hops__label {
  display: block;
  font-weight: 600;
  overflow: hidden;
  padding: 0 0 5px;
  text-overflow: ellipsis;
}

.hops__input {
  background: $color-default;
  border: 2px solid pink;
  border-radius: 3px;
  height: 2.25rem;
  padding: 4px 8px;
  width: 100%;

  &[readonly] {
    background-color: lighten($color-disabled, 20%);
    border: 0;
  }

  &:disabled {
    background-color: #e6e5e5;
    border: 0;
  }
}

.hops__select {
  background: $color-default;
  border: 2px solid pink;
  border-radius: 3px;
  display: inline-block;
  height: 2.25rem;
  padding: 4px;
  width: 100%;

  &[disabled] {
    background-color: #e6e5e5;
    border: 0;
  }
}

.hops__input[type="checkbox"] {
  align-items: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: solid 2px pink;
  border-radius: 3px;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;

  &[disabled] {
    background-color: #c1c1c1;
    border: 0;
  }

  &:checked {
    background-color: $color-application-dialog-border-color;
    border: solid 2px $color-application-dialog-border-color;
  }

  &:checked::after {
    color: $color-default;
    content: "\e639";
    font-family: muikku;
    font-size: 0.875rem;
  }
}

.hops__table-container {
  width: 100%;
}

.hops__button-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hops__row--list {
  display: block;
}

// .form-element__textarea[disabled] {
//   background-color: #e6e5e5;
//   border: 0;
// }

// .form-element__textarea--resize-vertically {
//   margin-top: 5px;
//   min-height: 50px;
//   resize: vertical;
// }

.hops-container__indicator-examples {
  display: flex;
  margin: 10px 5px 20px;
  flex-flow: row wrap;
}

.hops__container-course-latest_completed,
.hops__container-course-selected,
.hops__container-course-suggested,
.hops__container-course-mandatory,
.hops__container-course-optional,
.hops__container-course-inprogress,
.hops__container-course-approval,
.hops__container-course-completed {
  align-items: center;
  display: flex;
  margin: 5px 5px 5px;
  flex-shrink: 1;
}

.hops__container-course-latest_completed-indicator,
.hops__container-course-suggested-indicator,
.hops__container-course-selected-indicator,
.hops__container-course-mandatory-indicator,
.hops__container-course-optional-indicator,
.hops__container-course-inprogress-indicator,
.hops__container-course-approval-indicator,
.hops__container-course-completed-indicator {
  display: inline-block;
  height: 25px;
  margin: 0 10px 0 0;
  width: 25px;
}

.hops__container-course-suggested-indicator {
  border: 2px solid pink;
}

.hops__container-course-mandatory-indicator {
  background-color: #acacac;
}

.hops__container-course-optional-indicator {
  background-color: lightblue;
}

.hops__container-course-inprogress-indicator {
  background-color: orange;
}

.hops__container-course-approval-indicator {
  background-color: palegreen;
}

.hops__container-course-completed-indicator {
  background-color: green;
}

.hops__container-course-latest_completed-indicator {
  background-color: #08e108;
}

.hops__container-course-selected-indicator {
  background-color: #3ab8e1;
}

.hops__form-element-container-study-ounter {
  background-color: aliceblue;
  padding: 5px;
}

.hops__form-element-container-study-counter div {
  display: flex;
  justify-content: space-between;
}

.hops__result-title {
  margin: 0 5px;
}

.hops__calculated-hours-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hops__activity-progressbar-circle {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 105px;
}

.hops__course-activity-progressbar-circle {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100px;
}

.hops__activity-progressbar-circle {
  line-height: 1;
  margin: 0 5px;
}

.hops__course-activity-progressbar-circle {
  line-height: 1;
  margin: 0 5px;
}

.hops__proggress-line {
  display: flex;
  position: relative;
  align-items: center;
  width: calc(100% - 10px);
  margin: 5px;
}

.hops__proggress-line .progressbar-text {
  margin: 5px;
}

.hops__divived {
  margin: 5px;
}

.hops__activity-progressbar-label {
  background: $color-default;
  border: 1px solid $color-assignment;
  border-radius: 3px;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  padding: 2px 4px;
  position: absolute;
  text-align: center;
}

.hops__activity-progressbar-label--workspace {
  background: transparent;
  border: 0;
  padding: 0 6px;
  white-space: nowrap;
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hops__activity-progressbar-label--assignment {
  color: #ce01bd;
}

.hops__buttons {
  flex-grow: 1;
  display: flex;
  flex-flow: wrap;
}

.hops__buttons--add {
  justify-content: unset;

  @include breakpoint($breakpoint-desktop) {
    justify-content: flex-start;
  }
}

.hops__buttons--remove {
  justify-content: unset;

  @include breakpoint($breakpoint-desktop) {
    justify-content: flex-end;
  }
}

.animate-height::before {
  background-image: linear-gradient(180deg, #ffffff8c, #fffffff5);
  bottom: 25px;
  content: "";
  height: 20px;
  position: absolute;
  transition: height 0.3s ease-in;
  width: 100%;
}

.animate-height--open::before {
  height: 0px;
}
