@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.indicator {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  color: $color-indicator-text;
  background-color: $color-indicator-background;
  font-size: #{$indicator-font-size}px;
  height: auto;
  line-height: #{$indicator-font-size}px;
  max-width: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: $indicator-font-family;
  border-radius: 100%;
  text-align: center;
  min-width: #{$indicator-font-size + $indicator-padding*2}px;
  padding: #{$indicator-padding}px;
  
  &.indicator--main-function {
    top: 15px;
    right: 14px;
  }
 
  .menu &.indicator--main-function {
    top: 50%;
    margin-top: -7px;
    right: 14px;
  }
}

.indicator:empty {
  display: none;
}