@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.checkbox__group {
  display: flex;
  flex-wrap: wrap;
}

.group__item {
  padding: 5px 10px;
  border: 1px solid skyblue;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  background-color: aliceblue;
  flex-flow: column;
  width: 100%;
  justify-content: space-between;

  @include breakpoint($breakpoint-mobile-xl) {
    width: calc(50% - 10px);
  }

  @include breakpoint($breakpoint-pad) {
    flex-grow: 0;
  }
}

.group__item--checkbox {
  justify-content: flex-start;
  flex-flow: row;
  align-items: center;
}

.group__item--disabled {
  background-color: #e6e5e5;
  border: 0;
}

.item__label {
  margin: 5px;
  font-size: 1.1rem;
}

.checkbox-container {
  width: 0;
  opacity: 0;
  transition: all 0.5s ease-out;
  /* right: 0; */
  transition-property: width, opacity;
  position: relative;
  /* margin: 5px; */
  z-index: 10;
}

.checkbox-container--active {
  width: 24px;
  opacity: 1;
  transition: all 0.5s ease-in;
  transition-property: width, opacity, margin;
  position: relative;
  margin: 5px;
  right: 0;
}

.item__input[type="checkbox"] {
  align-items: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: solid 2px pink;
  border-radius: 3px;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
  z-index: 2;

  &[disabled] {
    background-color: #c1c1c1;
    border: 0;
  }
}

.item__input[type="checkbox"]:checked {
  background-color: $color-application-dialog-border-color;
  border: solid 2px $color-application-dialog-border-color;
}

.item__input[type="checkbox"]:checked::after {
  color: $color-default;
  content: "\e639";
  font-family: muikku;
  font-size: 0.875rem;
}

.scale__input__group {
  position: relative;
}

.scale__input__group input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.scale__input__group label {
  display: inline-block;
  background-color: lightskyblue;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 16px;
  border: 2px solid #444;
  border-radius: 4px;
}

.scale__input__group input[type="radio"]:disabled + label {
  background-color: #d1d1d1;
  border-color: black;
}

.scale__input__group input[type="radio"]:checked + label {
  background-color: deepskyblue;
  border-color: black;
}

.scale__input__group input[type="radio"]:checked:disabled + label {
  background-color: #9f9f9f;
  border-color: black;
}

.scale__input__group input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.scale__input__group label:hover {
  background-color: #dfd;
}
