@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.item-list {
  @include text;
}

.item-list--student-councelors {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  .item-list__item {
    align-items: flex-start;
    border-top: 1px solid $color-default-separator-border;
    cursor: inherit;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px 0;

    &:first-child {
      border: 0;
    }
  }
}

.item-list--aside-navigation {
  padding: 0 0 10px;
  width: 100%;

  .item-list__icon {
    padding: 0;
  }
}

.item-list__title {
  display: block;
  font-weight: 600;
  padding: 12px 0;

  .item-list__icon {
    display: inline-block;
    padding: 0 5px 0 0;
  }
}

// Item-list items BASE
.item-list__item {
  align-items: flex-start;
  background-color: $color-item-list-item-background;
  color: $color-text-default;
  cursor: pointer;
  display: flex;
  padding: 10px;
  position: relative;
}

// Main functions use this modifier
.item-list__item--aside-navigation {
  align-items: center;
  border-radius: 2px;
  margin: 0 0 5px;
  padding: 5px;

  &:hover,
  &.hover {
    background-color: $color-item-list-item-aside-background-hover;
  }

  &.active {
    background-color: $color-item-list-item-aside-background-active;
    color: $color-item-list-item-font-color-active;

    .text,
    .item-list__icon {
      color: $color-item-list-item-font-color-active;
    }
  }

  // We decrease the font size of item-list item's when they are inside aside navigation
  .item-list__text-body {
    font-size: $text-mobile-font-size;
  }

  @include breakpoint($breakpoint-pad) {
    background-color: $color-item-list-item-aside-background;
    padding: 8px;
  }
}

// Guider specific aside navigation that adjusts icon alignment as items can have text for more than one rows
.item-list__item--aside-navigation-guider {

  .item-list__icon {
    align-self: flex-start;
    color: $color-workspace;
    padding: 1px 0 0;
  }
}

.item-list--settings {

  @include breakpoint($breakpoint-pad) {
    display: none;
  }
}

.item-list__item--teacher {
  cursor: auto;
}

// Item-list items in workspaces panel
.item-list--panel-workspaces .item-list__item {
  @include text;
}

// Item-list items in lastest messages panel
.item-list--panel-latest-messages {

  .item-list__item {
    align-items: flex-start;
    border-top: solid 1px $color-default-item-separator-border;

    &:first-child {
      border: 0;
    }
  }

  .item-list__item--unread {

    .item-list__icon {
      color: $color-index-item-list-item-panel-latest-messages-unread-icon;
    }
  }
}

// Item-list items in workspace teachers
.item-list--panel-teachers .item-list__item {
  align-items: flex-start;
  border-top: solid 1px $color-default-item-separator-border;

  &:first-child {
    border: 0;
  }
}

// Item-list items in announcements
.item-list--panel-announcements {
  height: 316.857px;
  overflow: auto;

  .item-list__item {
    align-items: flex-start;
    border-top: solid 1px $color-default-item-separator-border;

    &:first-child {
      border: 0;
    }
  }

  .item-list__item--unread {

    .item-list__icon {
      color: $color-index-item-list-item-panel-announcements-unread-icon;
    }
  }
}

.item-list__item--bordered {
  border-left: solid 4px;
}

.item-list__item--unread .item-list__text-body {
  font-weight: 600;
}

// List item icons
.item-list__icon {
  align-items: center;
  color: $color-item-list-icon-font-color;
  display: flex;
  flex-basis: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: $item-list-icon-font-size;
  justify-content: center;
  padding: 3px 0 0;
}

.item-list__icon--workspaces {
  color: $color-index-item-list-item-panel-workspaces-icon;
}

.item-list__icon--latest-messages {
  color: $color-index-item-list-item-panel-latest-messages-icon;
}

.item-list__icon--announcements {
  color: $color-index-item-list-item-panel-announcements-icon;
}

.item-list__item--has-workspaces .item-list__icon {
  color: $color-index-item-list-item-panel-announcements-has-workspaces-icon;
}
// List item texts

// List item for listing users (teachers and students alike)
.item-list__profile-picture {
  padding: 0 5px 0 0;
}

.item-list__user-contact-info {
  font-size: 0.8125rem;
  margin: 4px 0 8px;
}

.item-list__user-vacation-period {
  color: $color-fatal;
  font-size: 0.8125rem;
  margin: 0 0 12px;
}

.item-list__user-name {
  font-weight: 600;
}

.item-list__user-email,
.item-list__user-phone {
  @include word-break;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  opacity: 0.75;
  padding: 2px 0;
}

.item-list__user-email *,
.item-list__user-phone * {
  margin: 0 5px 0 0;
}

// List item texts
.item-list__text-body {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: $text-mobile-font-size;
  margin-left: 5px;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.item-list__text-body--multiline {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  white-space: initial;
}

.item-list__text-body--multiline--footer {
  display: inline-block;
  margin: 0;
  text-align: center;
}

// List item dates
.item-list__latest-message-date,
.item-list__announcement-date {
  color: $color-index-text-panels-date-color;
  font-size: calc(#{$text-mobile-font-size} / 1.1);
  font-style: italic;
  padding: 6px 0 0;

  @include breakpoint($breakpoint-pad) {
    font-size: calc(#{$text-desktop-font-size} / 1.1);
  }
}

// List item labels (and similar)
.item-list__announcement-workspaces,
.item-list__announcement-usergroups {
  margin: 10px 0 0;
}
