@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.journal {
  border-top: 3px solid $color-message-border;
  padding: 10px;

  &:first-child {
    border-color: transparent;
  }

  @include breakpoint($breakpoint-pad) {
    padding: 15px 0;
  }
}

.journal--comment {
  border: 0;
}

.journal--studies {
  border-top: 1px solid $color-message-border;
  padding: 15px 0;
  width: 100%;
}
