@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";
@import "cke-styles";

/* width */
.journal-center-container ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.journal-center-container ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
}

/* Handle */
.journal-center-container ::-webkit-scrollbar-thumb {
  background: #cccccc;
}

.journal-center-modal__create-drawer {
  background: $color-default;
  height: 100%;
  opacity: 0%;
  position: absolute;
  right: 0;
  transform: translateX(110%);
  transition: transform 400ms ease-out, opacity 200ms ease-out;
  width: 100%;
  z-index: 98;

  @include breakpoint($breakpoint-pad) {
    width: 100%;
  }

  @include breakpoint($breakpoint-desktop) {
    width: calc(100%);
  }

  &.state-OPEN {
    opacity: 100%;
    transform: translateX(0);
  }
}

.journal-center-modal__create-drawer--from-left {
  background: $color-default;
  height: 100%;
  opacity: 0%;
  position: absolute;
  right: 0;
  transform: translateX(-110%);
  transition: transform 400ms ease-out, opacity 200ms ease-out;
  width: 100%;
  z-index: 200;

  @include breakpoint($breakpoint-pad) {
    width: 100%;
  }

  @include breakpoint($breakpoint-desktop) {
    width: calc(100%);
  }

  // scss-lint:disable SelectorFormat
  &.state-OPEN {
    /* box-shadow: 0 25px 25px; */
    opacity: 100%;
    transform: translateX(0);
  }

  // scss-lint:enable SelectorFormat
}

.journal-center-modal__create-drawer-header {
  align-items: center;
  background: $color-default;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  padding: 12px 0;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.journal-center-modal__create-drawer-header-title {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0 10px;
}

.journal-center-modal__create-drawer-close {
  cursor: pointer;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 2rem;
  height: 2rem;
  margin: 0 5px;
  width: 2rem;
}

.journal-center-modal__create-drawer-content {
  height: calc(100% - 55px);
  overflow: auto;
  overscroll-behavior: contain;
  padding: 10px;
}

.journal-center-modal__create-drawer-row {
  margin: 10px 0 15px;
}

.journal-center-modal__create-drawer-row--buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.journal-center-modal__create-drawer-row-label {
  display: block;
  font-weight: 600;
  padding: 0 0 5px;
}

.journal-center-modal__create-drawer-row-data {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.journal-center-modal__create-drawer-row-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 5px;
}

.journal-center-container {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 10px 0;
}

.journal-list-content {
  overflow: hidden;
  padding-right: 10px;
  width: 100%;
}

.journal-list-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  position: relative;
}

.current-note-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  padding-left: 10px;
  position: relative;
  width: 60%;
}

.editor-default-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: auto;
  padding: 10px 0px;
  width: 100%;
}

.journal-function-bar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-height: 60px;
  width: 100%;
}

.journal-item-item {
  width: 100%;
}

.journal-list-item-content {
  border: 1px solid teal;
  border-bottom-width: 1px;
  border-left-color: teal;
  border-left-width: 5px;
  box-shadow: 3px 3px 5px grey;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
  transition: border-bottom-width 250ms ease-out, box-shadow 200ms ease-out;
  width: 100%;

  &.state-ACTIVE {
    border-bottom-width: 2px;
    box-shadow: 5px 5px 7px grey;
    transition: border-bottom-width 250ms ease-out, box-shadow 200ms ease-in;
  }

  &.state-DELETE {
    transform: translateX(-110%);
    transition: transform 250ms ease-out, opacity 200ms ease-out;
  }
}

/* .journal-list-item-content:hover {
  box-shadow: 5px 5px 7px grey;
  transition: box-shadow 200ms ease-in;
} */

.journal-list-item-content--high {
  border-color: red;
}

.journal-list-item-content--normal {
  border-color: orange;
}

.journal-list-item-content--low {
  border-color: green;
}
