@import "../base/colors";

.language-profile {
}

.language-profile__language-sample {
}

.language-profile__filter-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.language-profile__add-language {
  position: relative;
}

.language-profile__language-dropdown {
  background-color: #fff;
  max-height: 200px;
  left: 0;
  overflow-y: scroll;
  padding: 10px;
  position: absolute;
  top: auto;
  width: 300px;
}

.language-profile__dropdown-item {
  cursor: pointer;
  padding: 5 0;
}
.language-profile__languages-wrapper {
  border: 1px solid #ededed;
  border-radius: 5px;
}

.language-profile__languages {
  border-collapse: collapse;
  width: 100%;
  thead {
    th {
      padding: 5px;
      border-bottom: 1px solid #ec00f0;
    }
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.language-profile__language-label {
  padding: 0.5rem;
  align-items: center;
}

.language-profile__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.language-profile__sample-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  flex-basis: 50%;
}

.language-profile__file-uploader-field {
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.language-profile__file-uploader-container {
  background: $color-default;
  border: 2px solid $taskfield-border-color;
  border-radius: 2px;
  display: block;
  margin: 4px 0 0;
  padding: 40px;
  position: relative;
  width: 100%;
}

.language-profile__remove-button {
  background: transparent;
  color: $color-fatal;
  cursor: pointer;
  font-size: 1.0625rem;
  height: auto;
  margin: 0 0 0 10px;
  padding: 5px;
  text-decoration: none;
  width: auto;
}

.language-profile__stars {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 30px;
}

.language-profile__star {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
  height: auto;
  margin: 0 0 0 10px;
  padding: 5px;
  text-decoration: none;
  width: auto;
}