@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.license-selector {
  width: 100%;
}

.license-selector--material-editor {
  padding: 0;
}

.license-selector__options-container {
  background: $color-license-options-background;
  border-radius: 3px;
  margin: 10px 0 0;
  padding: 15px;
}
