@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.license-selector {
  padding: 10px;
}

.license-selector__options-container {
  margin-top: 10px;
}

.license-selector__options-body {
  display: flex;
  align-items: center;
}

.license-selector__option {
  display: flex;
  padding: 10px; 
  
}

.license-selector__text-input {
  margin-left: 10px;
}