@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.list-row__container {
  border-bottom: 2px solid $color-default-separator-border;
  border-top: 2px solid $color-hops-dialog-form-element-border;
  display: flex;
  flex-flow: column;

  @include breakpoint($breakpoint-mobile-xl) {
    flex-flow: wrap;
  }
}

.list-subject-course__container {
  max-height: initial;
  overflow: unset;

  @include breakpoint($breakpoint-mobile-xl) {
    max-height: 225px;
    overflow: auto;
  }
}

.list-container--subject-name {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  width: 100%;
}

.list-container--subject-courses {
  background-color: $color-default-lighter-generic-background;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.list-item--centered {
  text-align: center;
}

.list-subject-name {
  align-items: center;
  background-color: $color-default;
  border-radius: unset;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px 5px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.list-subject-name-proggress {
  background-color: $color-success;
  bottom: 0;
  content: "\A";
  height: 5px;
  left: 0;
  position: absolute;
  transition: all 2s;
  width: 0;
}

.list-item {
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  width: 100%;
}

.list-item--course {
  border-radius: 0;
  width: auto;
}

.list-item--empty {
  display: none;
}

.list-item--NOSTATUS {
  background-color: unset;
}

.list-item-indicator {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.list-item-indicator--MANDATORY {
  background-color: $color-mandatory;
}

.list-item-indicator--OPTIONAL {
  background-color: $color-optional;
}

.list-item-indicator--COMPLETED {
  background-color: $color-success;
  color: $color-default;
}

.list-item-indicator--INPROGRESS {
  background: $color-info;
  color: $color-default;
}

.list-item-indicator--APPROVAL {
  background: $color-success;
  border-color: $color-approval;
  color: $color-default;
}

.list-item-indicator--SUGGESTED {
  background: $color-suggested;
  color: $color-default;
}

.list-item-indicator--NEXT {
  background: $color-next;
  color: $color-default;
}

/* .list-item-indicator--SELECTED {
  background-color: cornsilk;
} */

.list-item-indicator--SELECTED-OPTIONAL {
  background-color: $color-optional-selected;
}
