@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.loader__executing::after {
  @include load-animation;
}

.loader__executing--dialog::after {
  @include load-animation($dialog-loader-size);
}

.loader-empty:empty {
  min-height: calc($loader-size + $loader-size / 2);
  min-width: calc($loader-size + $loader-size / 2);
  position: relative;

  &::after {
    @include load-animation;
  }
}

.loader-error {
  min-height: calc($loader-size + $loader-size / 2);
  min-width: calc($loader-size + $loader-size / 2);
  position: relative;

  &::after {
    color: $color-fatal;
    content: "\ea08";
    font-family: "muikku";
    font-size: $loader-size;
    height: $loader-size;
    left: calc(50% - #{$loader-size} / 2);
    position: absolute;
    top:  calc(50% - #{$loader-size} / 2);
    width: $loader-size;
  }
}

.loaded-empty {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    height: 100%;
    min-height: 100%;
  }
}
