@import "../base/colors";
@import "../base/mixins";

$loader-size: 50;
$loader-border-width: 10;

.loader-empty:empty {
  min-height: #{$loader-size + $loader-size/2}px;
  min-width: #{$loader-size + $loader-size/2}px;
  position: relative;
  
  &::after {
    position: absolute;
    width: #{$loader-size}px;
    height: #{$loader-size}px;
    top: 50%;
    left: 50%;
    margin-left: -#{$loader-size/2}px;
    margin-top: -#{$loader-size/2}px;
    content: " ";
    
    border: #{$loader-border-width}px solid $color-loader-empty-ring;
    border-top: #{$loader-border-width}px solid $color-loader-empty-rotating-piece;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  }
}

.loaded-empty {
  padding: 20px;
}