@import "../base/colors";
@import "../base/vars";
@import "../base/breakpoints";

.logo {
  display: block;
  height: $logo-default-size;
  position: relative;
  overflow: hidden;
  
  &.logo--muikku-verkko {
    height: 72px;
    box-shadow: 0 15px 15px $color-frontpage-logo-muikku-verkko-box-shadow;
    border-radius: 100%;
    
    margin: 0 1rem 0 0;
    text-align: center;
    width: 72px;

    @include breakpoint($breakpoint-pad){
      height: 90px;
      margin: 0 0 2.25rem;
      width: 90px;
    }
  }
}
