@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.material-editor {
  @include no-scrollbars;
  @include prefix(transition, webkit ms o moz, left 0.3s);
  background: $color-default-body;
  box-shadow: 0 0 50px $color-material-edit-panel-shadow;
  height: 100%;
  left: -100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 0 15px 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  @include breakpoint($breakpoint-pad) {
    max-width: 730px;
    min-width: 680px;
  }

  &.material-editor--visible {
    left: 0;
  }
}

.material-editor__header {
  margin: 0 -15px 0;
  position: sticky;
  top: 0;
  z-index: 99;
}

.material-editor__tabs-container {
  align-items: center;
  background: $color-material-page-edit-header-background;
  display: flex;
  flex-flow: row wrap;
  padding: 5px 40px 0 10px;
}

.material-editor__tabs-item {
  @include text;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: $color-default;
  cursor: pointer;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1;
  margin: 0 1px;
  padding: 10px 16px;
  text-decoration: underline;

  &:hover {
    background: lighten($color-material-page-admin-panel-main-color,10%);
  }

  &.active {
    background: $color-default-body;
    color: $color-material-page-admin-panel-main-color;
  }
}

.material-editor__buttonset {
  align-items: center;
  bottom: 0;
  justify-content: flex-end;
  display: flex;
  padding: 10px 0;
}

.material-editor__content-wrapper {

}

.material-editor__title-container {
  margin: 0 0 10px;
}

.material-editor__title {
  background: $color-default;
  border: solid 1px $color-material-page-admin-panel-main-color;
  border-radius: 2px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
  padding: 15px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.375rem;
  }
}

.material-editor__editor-container {
  position: sticky;
  top: 50px;

  // CKE override styles
  .cke {
    background: $color-default;
    border: solid 1px $color-material-page-admin-panel-main-color;
    border-radius: 2px;
    box-sizing: border-box;
    max-width: 100%;
    min-width: 100%;
  }

  .cke_top {
    background: $color-default;
    border-bottom: 1px solid $color-material-page-admin-panel-main-color;
  }

  .cke_bottom {
    background: $color-default;
    border-top: 1px solid $color-material-page-admin-panel-main-color;
  }
}
