@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.matriculation-container {
  flex-basis: 100%;
  overflow: auto;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    margin: 0 auto;
    padding: 0 50px;
  }
}

.matriculation-container__state {
  font-size: 1rem;
  padding: 10px;

  // scss-lint:disable SelectorFormat
  &.state-INFO {
    border-left: 4px solid $color-info;
  }

  &.state-SUCCESS {
    border-left: 4px solid $color-success;
  }

  &.state-FAILED {
    border-left: 4px solid $color-fatal;
  }

  &.state-LOADER {
    border-left: 4px solid $color-tertiary;
  }
  // scss-lint:enable SelectorFormat
}

.matriculation-container__header {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.5rem;
  }
}

.matriculation-container__subheader {
  border: 0;
  display: block;
  font-size: 1.1875rem;
  font-weight: 400;
  margin: 0 0 10px;
  width: 100%;
}

.matriculation-container__info-item {
  margin: 15px 0;
}

.matriculation-container__info-list {
  list-style-type: disc;
  margin: 10px 20px;
}

.matriculation-container__info-list-item {
  display: list-item;
}

.matriculation-container__row {
  display: flex;
  flex-flow: column wrap;
  padding: 5px 0;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row wrap;
  }
}

.matriculation-container__row--input-groups {
  flex-flow: column wrap;
  margin: 0;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row wrap;
  }
}

.matriculation__form-element-container {
  flex-basis: auto;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  margin: 5px 0;

  @include breakpoint($breakpoint-pad) {
    margin-left: 0;
    margin-right: 5px;
  }
}

.matriculation__form-element-container--button {
  align-items: flex-end;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
}

.matriculation__form-element-container--single-row {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  .matriculation__label {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 10px 0 0;
  }
}

.matriculation-container__fieldset {
  border-bottom: 1px solid $color-default-separator-border;
  padding: 0 0 10px;
  margin: 0 0 15px;
}

.matriculation__label {
  display: block;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.matriculation__input[type="checkbox"] {
  align-items: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: solid 2px $color-matriculation-dialog-form-element-border;
  border-radius: 3px;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

.matriculation__input[type="checkbox"]:checked {
  background-color: $color-application-dialog-border-color;
  border: solid 2px $color-application-dialog-border-color;
}

.matriculation__input[type="checkbox"]:checked::after {
  color: $color-default;
  content: "\e639";
  font-family: muikku;
  font-size: 0.875rem;
}

.matriculation__input {
  background: $color-default;
  border: 2px solid $color-matriculation-dialog-form-element-border;
  border-radius: 3px;
  height: 2.25rem;
  padding: 4px 8px;
  width: 100%;

  &[readonly] {
    background-color: lighten($color-disabled, 20%);
    border: 0;
  }
}

.matriculation__select {
  background: $color-default;
  border: 2px solid $color-matriculation-dialog-form-element-border;
  border-radius: 3px;
  display: inline-block;
  height: 2.25rem;
  padding: 4px;
  width: 100%;

  &[readonly] {
    background-color: lighten($color-disabled, 20%);
    border: 0;
  }
}

.matriculation__textarea {
  background: $color-default;
  border: 2px solid $color-matriculation-dialog-form-element-border;
  border-radius: 3px;
  display: inline-block;
  height: 5rem;
  padding: 4px 8px;
  width: 100%;
  resize: vertical;
}

.matriculation-container__row--input-groups--conflicted {
  background-color: pink;
  margin-bottom: 5px;
}

.matriculation__form-element-container--mandatory-conflict::before,
.matriculation__form-element-container--repeat-conflict::before {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  content: " ";
  width: 100%;
  height: 5px;
  display: block;
  bottom: -3px;
  position: absolute;
}

.matriculation__form-element-container--mandatory-conflict::before {
  background: $color-warn;
}

.matriculation__form-element-container--repeat-conflict::before {
  background: $color-fatal;
}

.matriculation-step-title {
  display: flex;
  align-items: center;
}

.matriculation-step-title span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin: 0 ;
  display: inline-flex;
  align-items: center;
}

.matriculation-step-title span:nth-child(2) {
  animation-delay: 0.2s;
}

.matriculation-step-title span:nth-child(3) {
  animation-delay: 0.4s;
}

.matriculation-container__repeat-conflicts,
.matriculation-container__mandatory-conflicts {
  margin: 2.5px 0;
  display: flex;
  align-items: center;
}

.matriculation-container__mandatory-conflicts-indicator,
.matriculation-container__repeat-conflicts-indicator {
  width: 25px;
  height: 5px;
  display: inline-block;
  margin: 0 10px;
}

.matriculation-container__mandatory-conflicts-indicator {
  background-color: $color-warn;
}

.matriculation-container__repeat-conflicts-indicator {
  background-color: $color-fatal;
}

.matriculation__warning {
  padding: 0.5rem 0.5rem;
  margin: 10px 0;
  background-color: pink;
  border-radius: 15px;
}

.matriculation__warning ul {
  list-style-type: initial;
  padding: 5px;
}

.matriculation__warning li {
  display: list-item;
}

.matriculation__info {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: $color-info;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
}

.matriculation__info p {
  text-transform: uppercase;
}

.matriculation__info p,
ul {
  margin: 0.5rem;
}

.matriculation__info ul {
  list-style-type: initial;
}

.matriculation__info li {
  display: list-item;
}

.matriculation__saving-draft {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 12000;
  padding: 1rem;
  left: 0;

  @include breakpoint($breakpoint-pad) {
    left: unset;
  }
}

.matriculation__saving-draft--info {
  color: $color-default;
  background-color: $color-info;
}

.matriculation__saving-draft--error {
  background-color: $color-failed;
}

.matriculation__saving-draft-title span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  margin: 0;
  display: inline-flex;
  align-items: center;
}

.matriculation__saving-draft-title span:nth-child(2) {
  animation-delay: 0.2s;
}

.matriculation__saving-draft-title span:nth-child(3) {
  animation-delay: 0.4s;
}

.matriculation__saving-draft--fade-in {
  opacity: 1;
  transition: all 500ms linear;
}

.matriculation__saving-draft--fade-out {
  opacity: 0;
  transition: all 500ms linear;
}

/* Animations*/

// blink
@keyframes blink {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}
