@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.menu-wrapper {
  width: 100%;
}

.menu-wrapper--main {
  margin: 15px 0;

  .menu__item {
    height: 35px;
    margin: 0 0 10px;
    text-transform: uppercase;
  }
}

.menu-wrapper--aside {
  margin: 12px 0 15px;
}

.menu {
  list-style-type: none;
  margin: 0 0 15px;
  padding: 0;
  width: 100%;
}

.menu--communicator-settings {

  @include breakpoint($breakpoint-pad) {
    display: none;
  }
}

.menu__title {
  display: block;
  font-size: $text-mobile-font-size;
  font-weight: 600;
  padding: 0 0 6px;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.menu__item {
  display: block;
  margin: 0 0 5px;
}

.menu__spacer {
  height: 25px;

  @include breakpoint($breakpoint-pad) {
    height: 45px;
  }
}

.menu__item-link {
  align-items: flex-start;
  background-color: $color-item-list-item-background;
  border-radius: 2px;
  color: $color-text-default;
  cursor: pointer;
  display: flex;
  padding: 5px;
  position: relative;

  &:hover,
  &.hover {
    background-color: $color-item-list-item-aside-background-hover;
  }

  &.active {
    background-color: $color-item-list-item-aside-background-active;
    color: $color-item-list-item-font-color-active;

    .menu__item-link-icon {
      color: $color-item-list-item-font-color-active;
    }
  }

  @include breakpoint($breakpoint-pad) {
    background-color: $color-item-list-item-aside-background;
    padding: 8px;
  }
}

.menu__item-link-icon {
  padding: 1px 0 0;
}

.menu__item-link-text {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: $text-mobile-font-size;
  margin-left: 5px;
}

.menu__item-link--aside-navigation-guider {

  .menu__item-link-icon {
    color: $color-workspace;
  }
}

