@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.message {
  border-top: 1px solid $color-message-border;
  padding: 14px 10px;
  
  @include breakpoint($breakpoint-pad) {
    padding: 14px 0;
  }
  
  &.selected {
    border-top: 1px solid $color-default;
  }
}

.message--communicator {
  
  &:first-child {
    border: 0;
  }
}

.message--discussion {
  
  &:first-child {
    border: 0;
  }
  
  // This has to be this specific as :first-child overrides border rules if we put this outside of .message-discussion scope
  &.message--discussion-reply-of-op {
    border-top: 5px solid $color-message-border;
  }
}

.message--discussion-thread-op {
  padding: 25px 12px 14px 4px;
}

.message--discussion-reply-of-reply {
  margin: 0 0 0 63px;
}

.message--unread {
  background: $color-message-unread-background;
  
  .text--list-item-title {
    font-weight: 700;
  }
}

.message__content {
  flex-flow: row nowrap;
}

.message__content-aside--discussion {
  padding: 0 16px 0 0;
}

.message__select-container {
  align-items: center;
  display: flex;
  padding: 2px 8px 2px 2px;
}

.message__title {
  font-weight: 600;
  padding: 0 0 0 7px;   
}

.message__title--category-1 {
  border-left: 5px solid $color-message-area-category-1;  
}

.message__title--category-2 {
  border-left: 5px solid $color-message-area-category-2;  
}

.message__title--category-3 {
  border-left: 5px solid $color-message-area-category-3;  
}

.message__title--category-4 {
  border-left: 5px solid $color-message-area-category-4;  
}

.message__title--category-5 {
   border-left: 5px solid $color-message-area-category-5; 
}

.message__title--category-6 {
  border-left: 5px solid $color-message-area-category-6;  
}

.message__title--category-7 {
  border-left: 5px solid $color-message-area-category-7;    
}

.message__title--category-8 {
  border-left: 5px solid $color-message-area-category-8;    
}

.message__title--category-9 {
  border-left: 5px solid $color-message-area-category-9;  
}

.message__title--category-10 {
  border-left: 5px solid $color-message-area-category-10;  
}
