@import "../base/colors";
@import "../base/mixins";
@import "../base/breakpoints";

.message {
  border-bottom: 1px solid $color-message-border;  
}

.message--thread-op {
  border-bottom: 5px solid $color-message-border;  
}

.message--thread-reply {
  border-bottom: none;  
}

.message__select-container {
  align-items: center;
  display: flex;
  height: 30px;
}

.message__content-aside--communicator {
   flex: 0 0 38px; 
}

.message__content-aside--discussion {
  flex: 0 0 70px;  
  
}