@import "../base/mixins";
@import "../base/colors";
@import "../base/vars";
@import "../base/breakpoints";

.navbar {
  background-color: $color-default-navbar-background;
  box-shadow: 0 0 10px $color-default-navbar-shadow;
  box-sizing: border-box;
  color: $color-default-navbar-text;
  font-family: $branded-font-family;
  font-size: 0.9375rem;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 99; // One step smaller than zoomed image overlay (.zoom__zoomed-item-overlay) which is 100
}

// NAVBAR WRAPPER FOR ALL ELEMENTS
.navbar__wrapper {
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
  height: $navbar-mobile-height;
  margin: 0 auto;
  max-width: $breakpoint-max-usable-screen;
  padding: 0;

  @include breakpoint($breakpoint-pad) {
    height: $navbar-desktop-height;
  }
}

// NAVBAR LOGO
.navbar__logo {
  display: none;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: $navbar-mobile-height;

  @include breakpoint($breakpoint-pad) {
    display: inline-flex;
    height: $navbar-desktop-height;
    width: 175px;
  }
}

// NAVBAR LOGO LINK
.navbar__logo-link {
  @include breakpoint($breakpoint-pad) {
    align-items: center;
    display: flex;
    height: $navbar-desktop-height;
  }
}

.navbar--frontpage .navbar__logo {
  display: none;

  @include breakpoint($breakpoint-desktop) {
    display: inline-block;
  }
}

// NAVBAR TITLE FOR MOBILE
.navbar__mobile-title {
  color: $color-environment-navbar-title;
  font-size: 1.5rem;
  font-weight: 300;
  height: $navbar-mobile-height;
  left: 55px;
  line-height: $navbar-mobile-height;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;

  @include breakpoint($breakpoint-pad) {
    height: $navbar-desktop-height;
    line-height: $navbar-desktop-height;
  }
}

// NAVBAR ITEMS CONTAINER
.navbar__items {
  display: block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  height: $navbar-mobile-height;
  line-height: $navbar-mobile-height;
  list-style-type: none;
  margin: 0;

  // overflow: hidden;
  padding: 0;
  position: relative;
  white-space: nowrap;

  @include breakpoint($breakpoint-pad) {
    flex-grow: 1;
    height: $navbar-desktop-height;
    line-height: $navbar-desktop-height;
  }
}

// NAVBAR ITEMS
.navbar__item {
  display: none;
  height: $navbar-mobile-height;
  line-height: $navbar-mobile-height;
  margin: 0;
  vertical-align: top;

  @include breakpoint($breakpoint-pad) {
    height: $navbar-desktop-height;
    line-height: $navbar-desktop-height;
  }
}

.navbar__item--menu-button {
  display: inline-block;
}

// NAVBAR ITEMS BREAKPOINTS
@include breakpoint($breakpoint-pad) {
  .navbar--main-function .navbar__item--menu-button,
  .navbar--workspace .navbar__item--menu-button,
  .navbar--workspace-edit-mode .navbar__item--menu-button,
  .navbar__mobile-title {
    display: none;
  }

  .navbar__item--studying,
  .navbar__item--contact,
  .navbar__item--open-materials {
    display: inline-block;
  }

  .navbar__item--settings,
  .navbar__item--home,
  .navbar__item--coursepicker,
  .navbar__item--communicator,
  .navbar__item--discussion,
  .navbar__item--guider,
  .navbar__item--guardian,
  .navbar__item--records,
  .navbar__item--evaluation,
  .navbar__item--announcer,
  .navbar__item--help,
  .navbar__item--materials,
  .navbar__item--journal,
  .navbar__item--users,
  .navbar__item--assessment-request,
  .navbar__item--workspace-management,
  .navbar__item--organization {
    display: inline-block;
    width: $navbar-desktop-item-width;
  }
}

@include breakpoint($breakpoint-desktop) {
  .navbar--frontpage .navbar__item--menu-button {
    display: none;
  }

  .navbar__item--news,
  .navbar__item--organization {
    display: inline-block;
  }
}

// NAVBAR IN MAIN-FUNCTIONS
.navbar--main-function {
  background-color: $color-environment-navbar-background;

  // .navbar__item--menu-button .link {
  //   color: $color-environment-navbar-item-menu-button;
  // }
}

// NAVBAR IN WORKSPACES
.navbar--workspace {
  background-color: $color-workspace-navbar-background;

  // .navbar__item--menu-button .link {
  //   color: $color-environment-navbar-item-menu-button;
  // }
}

// NAVBAR EDITMODE IN WORKSPACES
.navbar--workspace-edit-mode {
  background-color: $color-workspace-edit-mode-navbar-background;

  // .navbar__item--menu-button .link {
  //   color: $color-environment-navbar-item-menu-button;
  // }
}

// NAVBAR LOGIN, FORGOTPASSWORD, AVATAR, LANGUAGE
.navbar__default-options {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  height: $navbar-mobile-height;
  justify-content: flex-end;

  @include breakpoint($breakpoint-mobile-xl) {
    flex-grow: 1;
  }

  @include breakpoint($breakpoint-pad) {
    flex-grow: 0;
    height: $navbar-desktop-height;
  }

  @include breakpoint($breakpoint-desktop) {
    flex-basis: auto;
    flex-grow: 1;
  }
}
