@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";
@import "cke-styles";

.notes {
  display: flex;
  flex-direction: column;
  max-height: 612px;
  padding: 10px 0;
}

.notes--full-height {
  max-height: 100%;
}

.notes__title {
  font-size: 1.25rem;
  margin: 0 0 10px;
}

.notes__toolbar {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 8px;
  width: 100%;
}

.notes__toolbar-section {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: flex-start;
}

.notes__content {
  align-items: flex-start;
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  overflow-y: auto;
  width: 100%;
}

.notes__item {
  border-color: $color-default-separator-border;
  border-radius: 3px;
  border-style: solid;
  border-width: 4px 1px 1px;
  box-shadow: 0 0 15px rgba(0 0 0 / 2%);
  flex-basis: calc(100% - 16px);
  flex-grow: 1;
  flex-shrink: 1;
  height: 300px;
  margin: 8px;
  overflow: hidden;
  padding: 0 10px;

  @include breakpoint($breakpoint-mobile-xl) {
    flex-basis: calc(50% - 16px);
    max-width: calc(50% - 16px);
  }

  @include breakpoint($breakpoint-desktop) {
    flex-basis: calc(33% - 16px);
    max-width: calc(33% - 16px);
  }

  @include breakpoint($breakpoint-desktop-xl) {
    flex-basis: calc(25% - 16px);
    max-width: calc(25% - 16px);
  }
}

.notes__item--overdue {
  .notes__item-dates-date-range {
    background-color: $color-fatal;
    color: $color-default;
  }

  .notes__item-dates-date-range .notes__item-dates-indicator {
    color: $color-default;
  }
}

// Used in dialog where we load the full note information
.notes__item--dialog-information {
  align-items: flex-start;
  border-width: 4px 0 0;
  box-shadow: none;
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-start;
  margin: 0;
  max-width: 100%;
  padding: 0;

  // This returns header's normal wrapping behavior
  .notes__item-header {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    white-space: normal;
  }

  .notes__item-body {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
    height: auto;
    overflow-y: auto;
    scrollbar-color: lighten($color-default-contrast, 35%) $color-default;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      background-color: $color-default;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: lighten($color-default-contrast, 35%);
    }
  }

  .notes__item-recipients {
    height: auto;
    overflow-y: auto;
  }

  // This removes the item's content's fading effect
  .notes__item-body::before,
  .notes__item-recipients::before {
    display: none;
  }
}

.notes__item--high {
  border-top-color: $color-priority-high;
}

.notes__item--normal {
  border-top-color: $color-priority-normal;
}

.notes__item--low {
  border-top-color: $color-priority-low;
}

.notes__item-hero {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}

.notes__item-actions {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin: 5px 0;
  width: 100%;
}

.notes__item-header {
  font-weight: 600;
  line-height: 1.375rem;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.notes__item-header--open-details {
  cursor: pointer;
}

.notes__item-dates {
  margin: 5px 0;
  min-height: 1.375rem;
  width: 100%;
}

.notes__item-dates-date-range {
  align-items: center;
  background-color: $color-default-generic-background;
  border-radius: 10px;
  display: inline-flex;
  flex-flow: row nowrap;
  font-size: 0.75rem;
  padding: 2px 8px;

  .notes__item-dates-indicator {
    color: $color-cancel;
  }
}

.notes__item-dates-text,
.notes__item-dates-date,
.notes__item-dates-indicator {
  margin: 0 2px;
}

.notes__item-body {
  font-weight: 300;
  height: calc(5 * 1.375rem);
  line-height: 1.375rem;
  margin: 5px 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    background: linear-gradient(
      $color-application-list-item-fade-background 0.5rem,
      $color-default
    );
    bottom: 0;
    content: " ";
    height: 2rem;
    left: 0;
    position: absolute;
    width: 100%;
  }

  p {
    margin: 0 0 10px;

    &:last-child {
      margin: 0;
    }
  }
}

.notes__item-recipients {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 4px;
  margin: 5px 0;
  max-height: 5.5rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before {
    background: linear-gradient(
      $color-application-list-item-fade-background 0.5rem,
      $color-default
    );
    bottom: 0;
    content: " ";
    height: 2.5rem;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

.notes__item-author {
  align-items: center;
  display: inline-flex;
  flex-flow: row nowrap;
  font-size: 0.75rem;
  font-style: italic;
  width: 100%;
}

.notes__item-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin: 5px 0;
  width: 100%;
}

.notes__item-status {
  align-items: center;
  background-color: $color-default-generic-background;
  border-radius: 10px;
  display: inline-flex;
  flex-flow: row nowrap;
  font-size: 0.75rem;
  padding: 2px 8px;
}

.notes__item-status--overdue {
  background-color: lighten($color-fatal, 42%);
  color: darken($color-fatal, 15%);
}

.notes__item-status--ongoing {
  background-color: lighten($color-cancel, 42%);
  color: darken($color-cancel, 15%);
  margin: 0 0 0 10px;
}

.notes__item-status--pending {
  background-color: lighten($color-info, 52%);
  color: darken($color-info, 15%);
}

.notes__item-status--done {
  background-color: lighten($color-success, 52%);
  color: darken($color-success, 15%);
}

.notes__item-status-indicator {
  margin: 0 4px 0 0;
}
