@import "../base/vars";
@import "../base/breakpoints";

.ordered-container {
  display: flex;
  flex-flow: row wrap;
  min-height: 25px;
  position: relative;
  width: 100%;
}

.ordered-container__item {
  flex: 1 1 100%;
  max-width: 100%;
  min-height: 25px;
  overflow: hidden;
  position: relative;
}
 
@include breakpoint($breakpoint-pad) {
  // Upper secondary school card (Nettilukio)
  .ordered-container__item--upper-secondary-school {
    flex: 1 1 calc(50% - #{$ordered-container-item-gutter});
    margin: 0 $ordered-container-item-gutter 0 0;
    order: 1;
  }
  
  // Secondary school card (Nettiperuskoulu)
  .ordered-container__item--secondary-school {
    flex: 1 1 calc(50% - #{$ordered-container-item-gutter});
    margin: 0 0 0 $ordered-container-item-gutter;
    order: 2;
  }
  
  // Open materials card (Aineopiskelu)
  .ordered-container__item--open-materials {
    flex: 1 1 100%;
    order: 3;
  }
  
  // Events card
  .ordered-container__item--frontpage-events {
    flex: 1 1 calc(50% - #{$ordered-container-item-gutter});
    margin: 0 $ordered-container-item-gutter 0 0;
    order: 1;
  }
  
  // News card
  .ordered-container__item--frontpage-news {
    flex: 1 1 calc(50% - #{$ordered-container-item-gutter});
    margin: 0 0 0 $ordered-container-item-gutter;
    order: 2;
  }
  
  // Images card
  .ordered-container__item--frontpage-images {
    flex: 1 1 calc(50% - #{$ordered-container-item-gutter});
    margin: 0 $ordered-container-item-gutter 0 0;
    order: 3;
  }
  
  // Blogs card
  .ordered-container__item--frontpage-blogs {
    flex: 1 1 calc(50% - #{$ordered-container-item-gutter});
    margin: 0 0 0 $ordered-container-item-gutter;
    order: 4;
  }
}
 
@include breakpoint($breakpoint-desktop) {
  .ordered-container__item--upper-secondary-school {
    flex: 1 1 calc(33% - 2 * #{$ordered-container-item-gutter});
    margin: 0 $ordered-container-item-gutter 0 0;
  }
  
  .ordered-container__item--secondary-school {
    flex: 1 1 calc(33% - 2 * #{$ordered-container-item-gutter});
    margin: 0 $ordered-container-item-gutter;
  }
  
  .ordered-container__item--open-materials {
    flex: 1 1 calc(33% - 2 * #{$ordered-container-item-gutter});
    margin: 0 0 0 $ordered-container-item-gutter;
  }
}
  
.ordered-container--frontpage-studying,
.ordered-container--frontpage-news-and-events {
  
  .ordered-container__item {
    margin-bottom: calc(2 * #{$ordered-container-item-gutter});
  }
}

.ordered-container--frontpage-otavan-opisto-info {
  justify-content: center;
  
  @include breakpoint($breakpoint-pad) {
    flex-flow: row wrap;
  }
  
  @include breakpoint($breakpoint-desktop) {
    justify-content: flex-start;
  }
}

.ordered-container__item--otavan-opisto-logo {
  flex: 1 0 100%;
  order: 1;
  
  @include breakpoint($breakpoint-pad) {
    flex: 1 1 50%;
    order: 1;
  }
  
  @include breakpoint($breakpoint-desktop) {
    flex: 0 1 30%;
    order: 1;
  }
}

.ordered-container__item--otavan-opisto-social-media {
  flex: 1 0 100%;
  order: 3;
  
  @include breakpoint($breakpoint-pad) {
    flex: 1 1 50%;
    order: 2;
  }
  
  @include breakpoint($breakpoint-desktop) {
    flex: 1 1 100%;
    margin: 1.5rem 0 0 30%;
    order: 3;
  }
}

.ordered-container__item--otavan-opisto-description {
  flex: 1 0 100%;
  order: 2;

  @include breakpoint($breakpoint-pad) {
    flex: 1 0 100%;
    order: 3;
  }
  
  @include breakpoint($breakpoint-desktop) {
    flex: 1 1 70%;
    order: 2;
  }
}


.ordered-container--index-panels {
  flex-flow: column nowrap;
  height: 100%;
  padding: calc(#{$navbar-height} * 1.2) 0 10px;
  
  @include breakpoint($breakpoint-pad){
    flex-flow: row nowrap;
    padding: calc(#{$navbar-height} * 1.5) 10px 10px;
  }
}

.ordered-container__item--studies {
  display: flex;
  flex: 1 1 auto;
  flex-flow: column nowrap;

  @include breakpoint($breakpoint-pad){
    flex: 1 1 calc(33% - 20px); 
    padding: 0 10px;
  }
}

.ordered-container__item--messages {
  flex: 1 1 auto;
  
  @include breakpoint($breakpoint-pad){
    flex: 1 1 calc(33% - 20px);
    padding: 0 10px;
  }
}

.ordered-container__item--announcements {
  flex: 1 1 auto;
  
  @include breakpoint($breakpoint-pad){
    flex: 1 1 calc(33% - 20px);
    padding: 0 10px;
  }
}
