@import "../base/breakpoints";

$frontpage-orderd-container-separation: 10;

.ordered-container {
  display: flex;
  flex-direction: column;
  min-height: 25px;
  position: relative;
  width: 100%;

  .ordered-container__item {
    min-height: 25px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &.ordered-container--row {
  	flex-direction: row;
  }
  
  &.ordered-container--row .ordered-container__item {
  	flex: 1 1 0;
    width: auto;
  }
 
  @include breakpoint-down($breakpoint-portrait-pad) {
    &.ordered-container--row.ordered-container--responsive {
      flex-direction: column;
    }
   
    &.ordered-container--row.ordered-container--responsive .ordered-container__item {
      flex: 0 0 auto;
      width: 100%;
    }
  }
 
  &.ordered-container--frontpage-studying, &.ordered-container--frontpage-news-subcontainer {
  	>.ordered-container__item {
  	  margin-bottom: #{$frontpage-orderd-container-separation}px
  	}
    @include breakpoint-up($breakpoint-medium-screen){
      width: calc(100% + #{$frontpage-orderd-container-separation*2}px);
      margin-left: -#{$frontpage-orderd-container-separation}px;
      >.ordered-container__item {
        margin: 0 #{$frontpage-orderd-container-separation}px #{$frontpage-orderd-container-separation}px #{$frontpage-orderd-container-separation}px;
      }
    }
  }
 
  &.ordered-container--frontpage-otavan-opisto-info {
    justify-content: center;
  
    .ordered-container__item.ordered-container__item--otavan-opisto-logo {
      flex: 1 0 100%;
      order: 1;
    }
    
    .ordered-container__item.ordered-container__item--otavan-opisto-social-media {
      flex: 1 0 100%;
      order: 3;
    }
  
    .ordered-container__item.ordered-container__item--otavan-opisto-description {
      flex: 1 0 100%;
      order: 2;
    }
    
    @include breakpoint($breakpoint-pad){
      flex-flow: row wrap;
    
      .ordered-container__item.ordered-container__item--otavan-opisto-logo {
        flex: 1 1 50%;
        order: 1;
      }
      
      .ordered-container__item.ordered-container__item--otavan-opisto-social-media {
        flex: 1 1 50%;
        order: 2;
      }
    
      .ordered-container__item.ordered-container__item--otavan-opisto-description {
        flex: 1 0 100%;
        order: 3;
      }
    }
    
    @include breakpoint($breakpoint-desktop){
      flex-flow: row wrap;
      justify-content: flex-start;
    
      .ordered-container__item.ordered-container__item--otavan-opisto-logo {
        flex: 0 1 30%;
        order: 1;
      }
      
      .ordered-container__item.ordered-container__item--otavan-opisto-social-media {
        flex: 1 1 100%;
        margin: 1.5rem 0 0 30%;
        order: 3;
      }
    
      .ordered-container__item.ordered-container__item--otavan-opisto-description {
        flex: 1 1 70%;
        order: 2;
      }
    }
    
  }
 
  &.ordered-container--index-panels {
    height: 100%;
    padding: 80px 0 70px 0;
    
    @include breakpoint-up($breakpoint-landscape-pad){
      padding: 80px 10px 70px 10px;
      
      >.ordered-container__item {
        overflow: visible;
        padding: 0 10px 0 10px;
      }
    }
  }
  
  &.ordered-container--index-column {
    height: 100%;
    width: 100%;
    overflow: visible;
    
    >.ordered-container__item {
      flex: 1 0 auto;
    }
    
    @include breakpoint-up($breakpoint-landscape-pad){
      
      >.ordered-container__item {
        overflow: visible;
        padding: 0;
      }
    }
  }
}
