@import "../base/colors";
@import "../base/breakpoints";
@import "../base/mixins";

.pager {
  border-top: 1px solid $color-default-separator-border;
  margin: 10px 0 0;
  
  @include breakpoint($breakpoint-pad) {
    margin: 0;
  }
  
}

.pager__body {
  align-items: center;
  display:flex;
  justify-content: center;
  padding: 12px 0;
  
  @include breakpoint($breakpoint-pad) {
    padding: 24px 0 12px;
  }
}

.pager__first {
  display: inline-block;
}

.pager__last {
  display: inline-block;
}

.pager__gap {
  display: inline-block;
}

.pager__less {
  display: inline-block;
  
  &::before {
    content: "<";
    display: block;
  }
}

.pager__more {
  display: inline-block;
  
  &::before {
    content: ">";
    display: block;
  }
}
  
.pager__number {
  align-items: center;
  border-radius: 10px;
  color: $color-pager-page-index-font;
  display: flex;
  height: 34px;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;     
  width: 34px;
}

.pager__number--current {
  background-color: $color-pager-selected-page-index-background;
  color: $color-pager-selected-page-index-font;
  cursor: initial;
}