@import "../base/colors";
@import "../base/breakpoints";
@import "../base/mixins";

.panel {
  background-color: $color-panel-background;
  border-bottom: solid 1px $color-panel-border;
  border-left: none;
  border-right: none;
  border-top: solid 1px $color-panel-border;
  display: block;
  position: relative;
  overflow: visible;
  
  @include breakpoint($breakpoint-pad){
    border: solid 1px $color-panel-border;
  }
}
