@import "../base/colors";
@import "../base/breakpoints";
@import "../base/mixins";

.panel {
  background-color: $color-panel-background;
  border: solid 1px $color-panel-border;
  bottom: 0;
  content: " ";
  display: block;
  padding: 20px;
  position: relative;
  overflow: visible;
}
 
.panel--index {
  padding: 5px;

  &::before {
    @include breakpoint-down($breakpoint-portrait-pad){
      border-left: none;
      border-right: none;
    }
    @include breakpoint-up($breakpoint-landscape-pad){
      top: 42px;
    }
  }
}
