@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.pedagogy-form {
  position: relative;
}

.pedagogy-form__overlay {
  align-items: center;
  /* stylelint-disable-next-line color-function-notation */
  background-color: rgba(255, 255, 255, 59%);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}

.pedagogy-form__toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
  position: relative;
}

.pedagogy-form__toolbar-primary {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 10px 0 0;

  .button {
    margin: 0 10px 0 0;
  }
}

.pedagogy-form__toolbar-secondary {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 0 0 10px;

  .button {
    margin: 0 0 0 10px;
  }
}

.pedagogy-form__pdf {
  height: calc(100vh - 200px);
  width: 100%;
}

.pedagogy-form__overlay-content {
  height: fit-content;
}

.pedagogy-form__container {
  position: relative;
}
