@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.popover {
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid #ddd;
  font-size: 90%;
  border-radius: 4px;
  box-sizing: border-box;
  width: max-content;
  max-width: calc(100vw - 10px);
  z-index: 999;
}
