@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.popper {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 5px;
  color: #643045;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.popper-content {
  padding: 10px 15px;
}

.popper-arrow,
.popper-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.popper-arrow {
  visibility: hidden;
}

.popper-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.popper[data-popper-placement^='top'] > .popper-arrow {
  bottom: -4px;
}

.popper[data-popper-placement^='bottom'] > .popper-arrow {
  top: -4px;
}

.popper[data-popper-placement^='left'] > .popper-arrow {
  right: -4px;
}

.popper[data-popper-placement^='right'] > .popper-arrow {
  left: -4px;
}