@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.profile-element {
  padding: 0 10px;
  width: 100%;
}

.profile-element__user-picture-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  min-width: 250px;
  position: relative;
  width: 100%;
}

.profile-element__user-picture {
  align-items: center;
  background-color: $color-profile-empty-image-base;
  background-size: contain;
  display: flex;
  height: 180px;
  justify-content: center;
  position: relative;
  width: 180px;

  input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include breakpoint($breakpoint-pad) {
    height: 250px;
    width: 250px;
  }

}

.profile-element__user-picture--empty {

  &::before {
    color: $color-default;
    content: "\e114";
    font-family: "muikku";
    font-size: 65px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 65px;
    line-height: 1;
    text-transform: none;
    width: 65px;
  }
}

.profile-element__item {
  padding-bottom: 12px;
}

.profile-element__title {
  font-size: 1.6rem;
  font-weight: 300;
  padding-bottom: 20px;
}

.profile-element__label {
  font-weight: 600;
  padding-bottom: 2px;
}
