@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

// We need to nest this whole "react-select" component's custom styles as it's default classes are put to last always O_o
.react-select-override {
  background-color: $color-default;

  /* stylelint-disable declaration-no-important */

  // We have to put important here as react-select appends it's menu container inside
  // the main container and therefore with relative positioning menu width cannot exceed the main container's width
  position: unset !important;
  /* stylelint-enable declaration-no-important */

  .react-select-override__control {
    border-color: $color-form-element-border;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    box-shadow: none;
    font-family: $system-font-family;
    font-size: $text-mobile-font-size;
    height: $select-height-mobile;
    max-width: 150px;
    width: 100%;

    &:hover {
      border-color: $color-form-element-border;
    }

    &.react-select-override__control--is-focused {
      border-color: $color-outline;
    }

    // We nest this so react-select-override block's modifier definitions does not need to duplicate this disabled style
    &.react-select-override__control--is-disabled {
      border-color: lighten($color-disabled, 20%);
      border-style: solid;
      border-width: 2px;

      &:hover {
        border-color: lighten($color-disabled, 20%);
      }
    }

    @include breakpoint($breakpoint-pad) {
      font-size: $text-desktop-font-size;
      height: $select-height-desktop;
      max-width: 300px;
    }
  }

  .react-select-override__menu {
    @include text;

    display: flex;
    max-width: 300px;
    min-width: 100px;
    top: unset;
    z-index: 999;

    @include breakpoint($breakpoint-pad) {
      max-width: 400px;
    }
  }

  .react-select-override__menu-list {
    @include text;

    display: flex;
    flex-basis: 100%;
    flex-flow: column nowrap;
  }

  .react-select-override__option {
    @include text;
  }

  .react-select-override__option--is-disabled {
    @include text;
  }

  .react-select-override__option--is-focused {
    background-color: $color-default-generic-background;
  }

  .react-select-override__option--is-selected {
    @include text;

    background-color: $color-info;
    color: $color-default;
  }

  .react-select-override__group-heading {
    @include text;

    font-weight: 600;
    margin: 5px 0;
    text-transform: none;
  }

  .react-select-override__option-label {
    font-weight: 600;
  }

  .react-select-override__option-body {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    margin: 5px 0 0;
  }
}

// This definition is to allow react-select koponent to be rendered outside of dialogs when using props to place it under <body> directly
.react-select-override__menu-portal {
  @include text;
}

// Used for HOPS and PEDAGOGY FORM
.react-select-override--hops {
  .react-select-override__control {
    border-color: $color-hops-dialog-form-element-border;
    height: auto;

    &:hover {
      border-color: $color-hops-dialog-form-element-border;
    }
  }
}

.react-select-override--pedagogy-form {
  .react-select-override__control {
    max-width: unset;
  }
}
