@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.records-page__study-file-progresscircle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.records-page__study-file-progresscircle-label {
  background: transparent;
  border: 0;
  white-space: nowrap;
  position: absolute;
}

.studies-records__divider {
  position: relative;
  margin: 25px 0;
  height: 1px;
}

.studies-records__divider--transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    rgb(48, 49, 51),
    transparent
  );
}

.studies-records {
  display: flex;
  flex-direction: column;
}

.studies-records__section {
  display: flex;
  height: auto;
  flex-direction: column;
  margin: 10px 0;
}

.studies-records__section-content {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.studies-records__section--subject-evaluations {
  /* .study-credits__section-header {
  } */

  .studies-records__section-content-filters {
    background-color: lightblue;
    text-align: center;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    box-shadow: 5px 5px 5px grey;
  }

  .studies-records__section-content-subject-list {
    display: flex;
    flex-direction: column;
  }
}

.studies-records__section--excercise-evaluations {
  /* .study-credits__section-header {
  } */

  .studies-records__section-content-filters {
    background-color: lightblue;
    text-align: center;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    box-shadow: 5px 5px 5px grey;
  }

  .studies-records__section-content-course-list {
    min-height: 300px;
    background-color: blue;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
}

.course-list__item {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px grey;
}

.course-list__item-header {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #009fe3;

  .course-list__item-header-name {
    font-weight: bold;
    font-size: 1rem;
  }
}

.course-list__item-content {
  width: 100%;
  height: 150px;
  display: flex;
  background-color: white;
}

.course-list__item-content-asessor {
  width: 40%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-list__item-content-asessor-info {
  margin-top: 5px;

  span {
    color: #0000005c;
  }
}

.course-list__item-content-data {
  width: 60%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}

.course-list__item-content-data div:nth-child(2) {
  border-top: 1px solid black;
}

.course-list__item-content-data-grade,
.course-list__item-content-data-functions {
  height: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.studies-records__section-content-course-list-subject {
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-decoration: underline;
}

.studies-records__section-content-course-list-item {
  display: flex;
  flex-shrink: 1;
  margin: 10px 0;
}

.studies-records__section-content-course-list-item--header {
  margin-bottom: 0;
}

.studies-records__section-content-course-list-item-cell {
  width: 100%;
  flex-grow: 1;
}

.studies-records__section-content-course-list-item-cell-box {
  height: 100%;
  flex-direction: column;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}

.studies-records__section-content-course-list-item-cell-box--asessor {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .name {
    font-weight: bold;
  }

  .title {
    font-weight: lighter;
  }
}

.studies-records__section-content-course-list-item-cell-box--course-name {
  font-weight: bold;
  font-size: 1rem;
  background-color: #dadada;
  flex-wrap: wrap;
  text-align: center;
}

.studies-records__section-content-course-list-item-cell-box--status-evaluated {
  background-color: rgb(104, 184, 104);
}

.studies-records__section-content-course-list-item-cell-box--status-supplementation {
  background-color: orange;
}

.studies-records__section-content-course-list-item-cell-box--status-ongoing {
  background-color: yellow;
}

.asessor-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.asessor-data .avatar,
.asessor-data .asessor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.asessor {
  margin-left: 5px;
}

.studies-records__section-content-course-list-item-cell-label {
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}

.studies-records__section-content-course-list-item-cell-label--name {
  visibility: hidden;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  margin-left: 10px;
  transform: rotate(0deg);
  transition: transform 0.4s ease-in;
  border-left: 20px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  margin-left: 10px;
  transform: rotate(90deg);
  transition: transform 0.4s ease-in;
  border-left: 20px solid black;
}
