@import "../base/colors";
@import "../base/vars";
@import "../base/breakpoints";
@import "../base/mixins";

.ref-wrapper--last-organization-item {
  position: relative;

  .course {
    border-top: 1px solid $color-message-border;
  }
}
