@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

// This file sets styling for every rich text editors content so they are rendered always the same way regardless where they are created.

.cke_editable, .rich-text {
  color: $color-text-default;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size; 
  }
  
  p {
    margin: 10px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    margin: 10px 0;
  }
  
  h1 {
    font-size: 1.3rem;
  }
  
  h2 {
    font-size: 1.25rem;
  }
  
  h3 {
    font-size: 1.125rem;
  }
  
  h4 {
    font-size: 1rem;
  }
  
  h5 {
    font-size: 0.9375rem;
  }
  
  h6 {
    font-size: 0.825rem;
  }
  
  b, 
  strong {
    font-weight: 600;
  }
  
  i {
    font-style: italc;
  }
  
  a {
    color: $color-text-link;
    text-decoration: underline;
  }
  
  img {
    border: 0;
  }
  
  blockquote {
    background: $color-signature-background;
    border-left: 5px solid $color-signature-border;
    margin: 10px;
    padding: 0.01em 10px;
  }
  
  ul,
  ol {
    display: block;
    margin: 10px 0;
    padding: 0 0 0 30px;
  }
  
  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin: 0;
  }
  
  ul {
    list-style-type: disc;

    ul {
      list-style-type: circle;
    }
  }
  
  ol {
    list-style-type: decimal;
  }
  
  li {
    display: list-item;
  }
  
  // Communicator signature
  .mf-signature {
    background: $color-signature-background;
    border-left: 5px solid $color-signature-border;
    display: block;
    font-style: italic;
    margin: 20px 0 10px;
    padding: 10px 15px;
    
    p {
      margin: 0;
    }
  }
  
}
