@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic');

// This file sets styling for every rich text editors content so they are rendered always the same way regardless where they are created.
// scss-lint:disable SelectorFormat
.rich-text,
.cke_editable {
  color: $color-text-default;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  line-height: 1.25rem;

  // This prevents float problems with images and following block elments
  * {
    clear: both;
  }

  // Math Formulas overflow rule
  .math-tex {
    align-items: center;
    display: inline-flex;
    max-width: 100%;
    overflow-y: auto;
    vertical-align: middle;
  }

  // scss-lint:enable SelectorFormat

  // This will adjust the editor's context area so it will resembel material page more closely
  // scss-lint:disable SelectorFormat
  &.cke_wysiwyg_div {
    padding: 5px 20px;
  }
  // scss-lint:enable SelectorFormat

  p {
    margin: 10px 0;
  }

  // Only allow h3 and h4 inside ckeditor
  h3,
  h4 {
    font-weight: 400;
    margin: 10px 0;
  }

  h3 {
    font-size: 1rem;

    @include breakpoint($breakpoint-pad) {
      font-size: 1.125rem;
    }
  }

  h4 {
    font-size: 0.9375rem;

    @include breakpoint($breakpoint-pad) {
      font-size: 1rem;
    }
  }

  b,
  strong {
    font-weight: 600;
  }

  i {
    font-style: italc;
  }

  a {
    color: $color-text-link;
    text-decoration: underline;
  }

  img {
    border: 0;
    height: auto;
    max-width: 100%;
  }

  iframe {
    max-width: 100%;
  }

  blockquote {
    background: $color-signature-background;
    border-left: 5px solid $color-signature-border;
    margin: 10px;
    padding: 0.01em 10px;
  }

  ul,
  ol {
    display: block;
    margin: 10px 0;
    padding: 0 0 0 30px;
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin: 0;
  }

  ul {
    list-style-type: disc;

    ul {
      list-style-type: circle;
    }
  }

  ol {
    list-style-type: decimal;
  }

  li {
    display: list-item;
  }

  table {
    border-collapse: collapse;
    font-size: $text-desktop-font-size;
    margin: initial;
    padding: initial;
  }

  table[cellspacing] {
    border-collapse: separate;
  }

  table[cellpadding] td {
    border-collapse: separate;
  }

  @for $i from 0 through 49 {
    table[cellspacing="#{$i}"] {
      border-spacing: #{$i}px;
    }

    table[cellpadding="#{$i}"] td {
      padding: #{$i}px;
    }
  }

  td {
    border-radius: 2px;
    margin: initial;
    max-width: 100%;
    overflow-wrap: anywhere;
    padding: initial;
    vertical-align: top;
    width: auto;
  }

  // Communicator signature
  .mf-signature {
    background: $color-signature-background;
    border-left: 5px solid $color-signature-border;
    display: block;
    font-style: italic;
    margin: 20px 0 10px;
    padding: 10px 15px;

    p {
      margin: 0;
    }
  }

  // Communicator message from workspace
  .message-from-workspace {
    background: $color-message-from-workspace-background;
    border-radius: 3px;
    font-size: 0.825rem;
    font-style: normal;
    margin: 20px 0 10px;
    padding: 2px 7px;
  }

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-richtext-font-size;
    font-weight: 300;
    line-height: 1.75rem;
  }
}
