//
// Provides the max screen sizer container for insane screens
//
//   div.scren-container
//    div.screen-container-wrapper
//      (BODY)
//

@import "../base/breakpoints";

.screen-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: visible;
}

.screen-container__wrapper {
  height: 100%;
  max-width: $breakpoint-max-usable-screen;
  width: 100%;
  overflow: visible;
}

.screen-container__section {
  margin-top: 1.5rem;
  padding: 0 $container-mobile-gutter;

  @include breakpoint($breakpoint-pad) {
    margin-top: 4.375rem;
    padding: 0 $container-desktop-gutter;
  }    
}


.screen-container--full-height {
  height: auto;
  
  @include breakpoint($breakpoint-pad) {
     height: 100%;
  }
}
