@import "../base/colors";
@import "../base/mixins";

.separator {
  background-color: $color-separator-background;
  display: block;
  height: 50px;
  width: 100%;
}

.separator--frontpage {
  background-color: $color-frontpage-separator-background;
}
