@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.study-planner {
  @include text;

  background: $color-default;
  display: flex;
  flex-flow: column nowrap;
  height: 750px;
}

.study-planner--full-screen {
  padding: 0 10px 10px;
}

.study-planner--mobile-not-open {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 1rem 0.5rem;
}

.study-planner--mobile-open {
  height: 100vh;
  inset: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.study-planner__controls {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 5px;

  @include breakpoint($breakpoint-pad) {
    padding: 0;
  }
}

.study-planner__control-buttons {
  display: flex;
  gap: 0.5rem;
}

.study-planner__period-navigation {
  display: flex;
  gap: 0.5rem;
}

.study-planner__control-button {
  background: none;
  border: none;
  color: $color-default-contrast;
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    color: $color-info;
  }
}

.study-planner__nav-button {
  background: none;
  border: none;
  color: $color-default-contrast;
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    color: $color-info;
  }
}

.study-planner__content {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-flow: row nowrap;
  flex-shrink: 1;
  gap: 10px;
  height: 100%;
  overflow: hidden;

  @include breakpoint($breakpoint-pad) {
    border-top: 1px solid $color-study-plan-tool-accent;
    padding: 10px 0 0;
  }
}

.study-planner__timeline-container {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  scrollbar-color: darken($color-default-separator-border, 20%)
    $color-default-lighter-generic-background;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.study-planner__timeline {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.study-planner__timeline-overlay {
  background: transparent;
  bottom: 0;
  cursor: grab;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
}

// Period
.study-planner__period {
  background: $color-study-plan-tool-generic-background;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  max-width: 350px;
  overflow: hidden;
  position: relative;
}

.study-planner__period-header {
  align-items: center;
  display: flex;
  padding: 5px 0;
  position: relative;
}

.study-planner__collapse-button {
  align-items: center;
  background: transparent;
  border: none;
  color: $color-default-helper;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  font-size: 1rem;
  height: 2.25rem;
  justify-content: center;
  width: 2.25rem;
  z-index: 1000;
}

.study-planner__period-header--collapsed {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
}

.study-planner__period-title {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  position: absolute;
  white-space: nowrap;
  width: 100%;
}

.study-planner__period-title--collapsed {
  margin-top: 50px;
  writing-mode: vertical-rl;
}

// Scrollable container
.study-planner__scrollable-container {
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-color: darken($color-default-separator-border, 20%)
    $color-default-lighter-generic-background;
  scrollbar-width: thin;
}

// Months list
.study-planner__months-container {
  width: auto;
}

// Month
.study-planner__month {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.study-planner__month-header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  justify-content: space-between;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.study-planner__month-wrapper {
  position: relative;
}

// Month content
.study-planner__month-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.study-planner__month-dropzone {
  align-items: center;
  border: 2px dashed $color-study-plan-tool-dropzone-border;
  border-radius: 5px;
  color: $color-study-plan-tool-accent;;
  display: flex;
  flex-flow: column nowrap;
  height: 50px;
  justify-content: center;
  padding: 0.5rem;
  position: relative;

  &::after {
    content: "\e114";
    font-family: "muikku";
    font-size: 1.5rem;
    height: 1.5rem;
    left: calc(50% - 0.75rem);
    opacity: 0;
    position: absolute;
    top: calc(50% - 0.75rem);
    transition: opacity ease-in-out 0.3s;
    width: 1.5rem;
  }
}

.study-planner__month-dropzone--active {
  cursor: pointer;

  &::after {
    opacity: 1;
  }
}

// Sidebar
.study-planner__sidebar {
  border-right: 1px solid $color-study-plan-tool-accent;
  flex-basis: 300px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
  padding: 0 10px 0 0;
}

// Course tray
.study-planner__course-tray {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.study-planner__course-tray-header {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: space-between;
}

.study-planner__course-tray-header-extra {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.study-planner__course-tray-header-actions {
  display: flex;
  gap: 0.5rem;
}

.study-planner__course-tray-title {
  margin: 0;
}

.study-planner__course-tray-search {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}

.study-planner__course-tray-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.study-planner__course-tray-group-toggle {
  align-items: center;
  background: none;
  border: none;
  color: #b1296f;
  cursor: pointer;
  display: flex;
  font-weight: 500;
  gap: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  text-align: left;
  width: 100%;

  &:hover {
    background: $color-default-lighter-generic-background;
  }
}

.study-planner__course-tray-groups {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-flow: column nowrap;
  gap: 10px;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-color: darken($color-default-separator-border, 20%)
    $color-default-lighter-generic-background;
  scrollbar-width: thin;
}

.study-planner__course-tray-list,
.study-planner__planned-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.study-planner__course-tray-list {
  margin: 0 5px;
}

.study-planner__course-tray-item
.study-planner__planned-list-item {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}

// Planner card
.study-planner__card {
  background: $color-default;
  border-radius: 5px;
  box-shadow: 0 1px 2px $color-study-plan-tool-card-boxshadow;
  cursor: move;

  // This will help to prevent card from collapsing when animating open/close of the the period column
  min-width: 270px;
  opacity: 1;
  position: relative;
  transition: transform 0.2s ease-in-out;

  &:has(.react-datepicker) {
    z-index: 9;
  }

  &:hover {
    transform: translateY(-2px);
  }
}

.study-planner__card--course-tray-card {
  box-shadow: none;
}

.study-planner__card--preview,
.study-planner__card--is-dragging {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  cursor: move;
  opacity: 0.8;
  transform: scale(1.05);
}

.study-planner__card--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.study-planner__card--completed,
.study-planner__card--transferred,
.study-planner__card--failed,
.study-planner__card--supplementation-request,
.study-planner__card--inprogress {
  cursor: default;
}

.study-planner__card--selected {
  overflow: hidden;
  outline: 2px solid lighten($color-study-plan-tool-accent, 20%);
  outline-offset: -2px;
  position: relative;

  .study-planner__card-inner-container {
    border-color: $color-study-plan-tool-accent;
  }
}

.study-planner__card-inner-container {
  border-left: 3px solid transparent;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.study-planner__card-inner-container--mandatory {
  border-left-color: $color-mandatory;
}

.study-planner__card-inner-container--optional {
  border-left-color: $color-optional;
}

.study-planner__card-header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.study-planner__card-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.study-planner__card-actions {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: flex-end;
}

.study-planner__course-labels {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.study-planner__card-label {
  align-items: center;
  border-radius: 4px;
  display: flex;
  font-size: $text-mobile-font-size;
  max-width: fit-content;
  padding: 3px 6px;
  text-transform: uppercase;
}

.study-planner__card-label--mandatory {
  background: $color-mandatory;
  color: darken($color-mandatory, 45%);
}

.study-planner__card-label--optional {
  background: $color-optional;
  color: darken($color-optional, 55%);
}

.study-planner__card-label--course-length {
  background: $color-info;
  color: $color-default;
}

.study-planner__card-label--planned {
  background: lighten($color-passed, 50%);
  color: $color-default-contrast;
}

.study-planner__card-label--transferred {
  background: $color-passed;
  color: $color-default;
}

.study-planner__card-label--inprogress {
  background: $color-info;
  color: $color-default;
}

.study-planner__card-label--completed {
  background: $color-passed;
  color: $color-default;
}

.study-planner__card-label--failed {
  background: $color-failed;
  color: $color-default;
}

.study-planner__card-label--supplementation-request {
  background: $color-incomplete;
  color: $color-default;
}

.study-planner__course-code {
  font-weight: bold;
  margin-right: 0.25rem;
}

.study-planner__course-unsaved {
  color: $color-fatal;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  margin-left: 0.5rem;
}

.study-planner__course-dates {
  color: $color-default-contrast;
  display: block;
  flex-basis: 100%;
  font-size: 0.75rem;
}

.study-planner__course-workspace-instance-not-available {
  color: red;
  display: block;
  flex-basis: 100%;
  font-size: 0.75rem;
}

// Specify section
.study-planner__extra-section {
  background: $color-default;
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  padding: 0;

  @include breakpoint($breakpoint-pad) {
    padding: 10px;
  }
}

.study-planner__extra-section-title {
  font-size: 1rem;
  width: 100%;
}

.study-planner__extra-section-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  width: 100%;
}

.study-planner__extra-section-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  width: 100%;
}

.study-planner__extra-section-group-label {
  font-size: $text-mobile-font-size;
  font-weight: 600;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.study-planner__extra-section-group-label-info {
  font-size: 0.8125rem;
  font-weight: 300;
  width: 100%;
}

.study-planner__extra-section-date-inputs {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  .react-datepicker-wrapper:first-child {
    margin: 0 5px 0 0;
  }

  .react-datepicker-wrapper {
    margin: 0 0 0 5px;
  }
}

.study-planner__extra-section-group--button-set {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: center;
}

.study-planner__input {
  background: $color-default;
  border: 2px solid $color-study-plan-tool-form-element-border;
  border-radius: 3px;
  height: 2.25rem;
  padding: 4px 8px;
  width: 100%;
}

.study-planner__input--filter-courses {
  background: $color-study-plan-tool-generic-background;
  border: 0;
  border-radius: 20px;
  height: 2.25rem;
  padding: 4px 36px 4px 14px;
  width: 100%;
}

.study-planner__input-decoration {
  align-items: center;
  color: $color-default-helper;
  display: flex;
  font-size: 1rem;
  height: 2.25rem;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 2.25rem;
  top: 0;
}

// State info
.study-planner__state-info-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.study-planner__state-info-row-label {
  font-size: $text-mobile-font-size;
  font-weight: 300;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.study-planner__state-info-row-value {
  font-size: $text-mobile-font-size;
  font-weight: 600;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

// Plan status
.study-planner__plan-status-section {
  margin: 30px 0 0;
}

.study-planner__plan-status-container {
  margin: 10px 10px 0;

  @include breakpoint($breakpoint-pad) {
    margin: 10px 0 0;
  }
}

.study-planner__plan-status-bar-container {
  position: relative;
}

.study-planner__plan-status-bar-label {
  display: flex;
  inset: 0;
  justify-content: center;
  position: absolute;
}

.study-planner__plan-status-dates {
  display: flex;
  justify-content: space-between;
  margin: 0 0 5px;
}

.study-planner__plan-statistics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px 30px;
  margin: 10px 10px 0;

  @include breakpoint($breakpoint-pad) {
    margin: 10px 0 0;
  }
}

.study-planner__plan-statistic-item {
  flex-basis: 100%;

  @include breakpoint($breakpoint-pad) {
    flex: 1;
  }
}

.study-planner__plan-statistic-item-title {
  font-weight: 600;
  margin: 0 0 10px;
}

.study-planner__plan-statistic-item-bar-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

.study-planner__plan-statistic-item-bar {
  border-radius: 10px;
  width: 100%;
}

.study-planner__plan-statistic-item-bar-label {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  line-height: 1;
  position: absolute;
}

// Planner info
.study-planner__info {
  background-color: $color-default-lighter-generic-background;
  border-left: 5px solid $color-default-lighter-generic-background;
  border-radius: 0 5px 5px 0;
  color: #8c8c8c;
  display: flex;
  gap: 15px;
  margin: 0 10px;
  padding: 15px;

  @include breakpoint($breakpoint-pad) {
    margin: 0;
  }

  &--warning {
    border-color: $color-warn;

    .study-planner__info-icon {
      color: $color-warn;
    }

    .study-planner__info-content {
      color: $color-warn;
    }
  }

  &--info {
    border-color: $color-info;

    .study-planner__info-icon {
      color: $color-info;
    }

    .study-planner__info-content {
      color: $color-info;
    }
  }

  &--danger {
    border-color: $color-fatal;

    .study-planner__info-icon {
      color: $color-fatal;
    }

    .study-planner__info-content {
      color: $color-fatal;
    }
  }

  &--neutral {
    border-color: $color-default-helper;
  }
}

.study-planner__info-icon {
  flex-shrink: 0;
  font-size: 4rem;
}

.study-planner__info-content {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 1.125rem;
  font-weight: 300;
}
