@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.table {
  border-collapse: separate;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.table-data,
.table-head {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-row:nth-child(even) {
  background-color: #f2f2f2;
}

/* .table__row:hover {
  background-color: #ddd;
} */

/* .table__row--course:hover {
  background-color: none;
} */

.table-head {
  background-color: aliceblue;
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}

.table-head--centered,
.table-data--centered {
  text-align: center;
}

.table-data--SUGGESTED {
  border-color: pink;
  border-width: 2px;
}

.table-data--MANDATORY {
  background-color: grey;
}

.table-data--OPTIONAL {
  background-color: lightblue;
}

.table-data--COMPLETED {
  background-color: green;
}

.table-data--INPROGRESS {
  background-color: orange;
}

.table-data--APPROVAL {
  background-color: palegreen;
}

.table-data--SELECTED {
  background-color: wheat;
}

.table-data--SELECTED_OPTIONAL {
  background-color: #3ab8e1;
}

.table-data--NOSTATUS {
  background-color: unset;
}
