@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.tabs {
  @include text;
  margin-top: 10px;
}

.tabs--material-editor {
  margin: 0;
}

.tabs__tab-labels {
  align-items: center;
  border-bottom: 1px solid $color-tab-border;
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
}

.tabs__tab-labels--mobile {

  @include breakpoint($breakpoint-pad) {
    display: none;
  }
}

.tabs__tab-labels--desktop {
  background: $color-default;
  border: 0;
  display: none;

  @include breakpoint($breakpoint-pad) {
    display: flex;
  }
}

.tabs__tab {
  background: $color-tab-blur-background;
  border-left: 1px solid $color-tab-blur-background;
  border-radius: 5px 5px 0 0;
  border-right: 1px solid $color-tab-blur-background;
  border-top: 1px solid $color-tab-blur-background;
  color: $color-tab-blur-font;
  cursor: pointer;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  line-height: 1;
  margin: 0 2px;
  padding: 10px;
  user-select: none;

  &.active {
    background: $color-tab-focus-background;
    border-left: 1px solid $color-tab-border;
    border-right: 1px solid $color-tab-border;
    border-top: 1px solid $color-tab-border;
    color: $color-tab-focus-font;
    margin-bottom: -1px;
    padding: 9px 10px 11px;
  }
}

.tabs__tab-data-container {
  display: flex;
}

.tabs__tab-data {
  display: none;
  flex-basis: 100%;
}

// Used when editing material page
.tabs__tab-labels--material-editor {
  padding: 0 40px 0 2px;
}

.tabs__tab-data--material-editor {

  &.active {
    display: flex;
  }
}

// Used when viewing workspace students
.tabs__tab--workspace-students {
  flex-basis: 50%;

  @include breakpoint($breakpoint-pad) {
    background: $color-default;
    border: 0;
    color: $color-text-default;
    font-weight: 600;

    &.active {
      margin: 0;
      padding: 10px;
    }

    &:first-child {
      padding: 10px 10px 10px 0;
    }

    &:last-child {
      padding: 10px 0 10px 10px;
    }
  }

  &.active {

    @include breakpoint($breakpoint-pad) {
      background: $color-default;
      border: 0;
      color: $color-text-default;
    }
  }
}

.tabs__tab-data--workspace-students {
  padding: 0;

  @include breakpoint($breakpoint-pad) {
    display: flex;
    flex-basis: 50%;

    &:first-child {
      padding: 0 10px 0 0;
    }

    &:last-child {
      padding: 0 0 0 10px;
    }
  }

  &.active {
    display: flex;
  }
}
