@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.tabs {
  margin-top: 10px;
}

.tabs__tab-labels {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.tabs__tab-labels--mobile {
  @include breakpoint($breakpoint-pad) { 
    display:none;
  }
}

.tabs__tab-labels--desktop {
  background: $color-default;
  display:none;

  @include breakpoint($breakpoint-pad) { 
    display: flex;
  }
}

.tabs__tab {
  background: $color-tab-blur-background;
  border-bottom: 1px solid $color-tab-border;
  border-radius: 2px;
  cursor: pointer;
  padding: 10px;
  user-select: none;
  @include text;

  &.active {
    background: $color-tab-focus-background;
    border-bottom: none;
    border-left: 1px solid $color-tab-border;
    border-right: 1px solid $color-tab-border;
    border-top: 1px solid $color-tab-border;
  }
}

.tabs__tab--workspace-students {

  @include breakpoint($breakpoint-pad) { 
    background: $color-default;
    color: $color-text-default;
    border: none;
  }

  &.active {
    @include breakpoint($breakpoint-pad) { 
      background: $color-default;
      color: $color-text-default;
      border: none;
    }
  }
}


// Used when editing material page

.tabs__tab--material-editor {
  background: lighten($color-material-page-admin-panel-main-color,10%);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: $color-default;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1;
  margin: 0 1px;
  padding: 6px 8px 8px;

  @include breakpoint($breakpoint-pad) { 
    padding: 10px 16px 12px;
  }
}

// Used when viewing workspace students

.tabs__tab--workspace-students {
  flex-basis: 50%;
}

.tabs__tab-data-container {
  display:flex;
}

.tabs__tab-data {
  display: none;
  flex-basis: 100%;
}

.tabs__tab-data--workspace-students {
  display: none;
  flex-basis: 100%;
  
  &.active {
    display: flex;
  }
  
  @include breakpoint($breakpoint-pad) { 
    display: flex;
    flex-basis: 50%;
  }
}