@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.tag-input {
  display: flex;
  flex-basis: auto;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;

  &:not(:first-child) {
    @include breakpoint($breakpoint-pad) {
      margin-left: 20px;
    }
  }
}

.tag-input__label {
  align-items: center;
  color: $color-text-default;
  display: flex;
  font-family: $system-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  height: 1.45rem;
  padding: 0 0 5px;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.tag-input__input {
  border: solid 2px $color-form-element-border;
  border-radius: 2px;
  display: inline-block;
  font-family: $system-font-family;
  font-size: $text-mobile-font-size;
  height: $input-height-mobile;
  padding: 4px 8px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    height: $input-height-desktop;
  }
}

.tag-input__input--new-message,
.tag-input__input--new-announcement-recipients {
  border-color: $color-env-dialog-form-element-border;
  border-radius: 3px;
}

.tag-input__selected-item {
  align-items: center;
  background-color: $color-form-element-selected-item-background;
  border-radius: 4px;
  color: $color-form-element-selected-item-text;
  display: inline-flex;
  height: 24px;
  margin: 4px 4px 0 0;
  padding: 2px 4px;
  position: relative;
  white-space: nowrap;

  &.state-DISABLED {
    color: $color-disabled;
  }

  @include breakpoint($breakpoint-desktop) {
    height: 32px;
    margin: 2px 4px 2px 0;
  }
}

.tag-input__selected-item-action {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  font-size: 0.75rem; // Will be same size for mobile and desktop
  margin: 0 0 0 10px;

  &.state-DISABLED {
    color: $color-disabled;
  }
}
