@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.text {
  color: $color-text-default;
  display: block;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}
  
.text--branded {
  font-family: $text-branded-font-family;
}
  
b {
  font-weight: 600;
}

.text--one-liner {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
 
.text--application-title {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
 
.text--frontpage-muikku-description {
  color: $color-frontpage-text-muikku-description;
  line-height: 1.2rem;
  margin: 1rem auto 0;
  max-width: 100%;
  font-size: 0.925rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 5px 10px $color-frontpage-text-description-text-shadow;
  text-transform: uppercase;

  @include breakpoint($breakpoint-pad) {
    max-width: 20em;
  }
}
  
.text--frontpage-muikku-author {
  color: $color-frontpage-text-muikku-author;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  text-shadow: 0 5px 10px $color-frontpage-text-author-text-shadow;
  text-transform: uppercase;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 1.5rem;
    text-align: center;
  }
}

.text--frontpage-muikku {
  color: $color-frontpage-text-muikku;
  font-size: 2rem;
  font-weight: 900;
  line-height: 0.9;
  text-align: left;
  text-shadow: 0 5px 10px $color-frontpage-text-muikku-text-shadow;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 3rem;
    text-align: center;
  }
}
  
.text--frontpage-verkko {
  color: $color-frontpage-text-verkko;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 300;
  line-height: 0.9;
  text-align: left;
  text-shadow: 0 5px 10px $color-frontpage-text-verkko-text-shadow;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    text-indent: 7px;
  }
}
  
.text--frontpage-title {
  color: $color-frontpage-text-title;
  font-size: 1.7rem;
  text-align: left;
  font-weight: 300;
  margin-bottom: 20px;
  
  @include breakpoint($breakpoint-mobile-xl) {
    font-size: 1.8rem;
  }
  
  @include breakpoint($breakpoint-pad) {
    font-size: 2rem;
    font-weight: 200;
  }
  
  @include breakpoint($breakpoint-desktop) {
    font-size: 2.375rem;
  }
}

.text--otavan-opisto-info-title {
  color: $color-frontpage-text-otavan-opisto-info-title;
  font-size: $text-mobile-font-size;
  font-weight: 600;
  margin: 0 0 .625rem;
  text-transform: uppercase;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}
  
.text--otavan-opisto-info-description {
  color: $color-frontpage-text-otavan-opisto-description;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  line-height: 1.375rem;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
 
  p {
    margin: 0 0 1.15rem;
  }
}

.text--contact-us {
  color: $color-frontpage-text-contact-us;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 2.5rem;
  }
}

.text--contact-us-information {
  color: $color-frontpage-text-contact-us-information;
  font-size: $text-mobile-font-size;
  margin-top: .875rem;
  margin-bottom: .875rem;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }

  * {
    margin-right: .625rem;
  }
}
 
.text--for-panels-title {
  background-color: $color-panel-background;
  color: $color-index-text-for-panels-title;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.1875rem;
  font-weight: 400;
  padding: 10px 0 0 5px;
  text-transform: uppercase;
  
  @include breakpoint($breakpoint-pad) {
    background: none;
    font-size: 1.375rem;
    font-weight: 300;
    padding: 0 2px .4rem;
  }
}
  
.text__panel-icon {
  border: 2px solid $color-default;
  border-radius: 100%;
  display: inline-block;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1rem;
  padding: 7px;
  text-align: center;
  vertical-align: middle;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 1.25rem;
  }
}

.text__panel-title {
  display: inline-block;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding: 0 0 0 .625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text__panel-link {
  color: $color-text-link;
}
  
.text__panel-icon--continue-studies {
  background-color: $color-index-text-for-panels-title-continue-studies-icon-background;
  color: $color-index-text-for-panels-title-continue-studies-icon-color;
}
  
.text__panel-icon--workspaces {
  background-color: $color-index-text-for-panels-title-workspaces-icon-background;
  color: $color-index-text-for-panels-title-workspaces-icon-color;
}
  
.text__panel-icon--latest-messages {
  background-color: $color-index-text-for-panels-title-latest-messages-icon-background;
  color: $color-index-text-for-panels-title-latest-messages-icon-color;
}
  
.text__panel-icon--important {
  background-color: $color-index-text-for-panels-title-important-icon-background;
  color: $color-index-text-for-panels-title-important-icon-color;
}
  
.text__panel-icon--announcements {
  background-color: $color-index-text-for-panels-title-announcements-icon-background;
  color: $color-index-text-for-panels-title-announcements-icon-color;
}

.text__panel-icon--error {
  background-color: $color-fatal;
  color: $color-default;
}

.text--panel-nothing {
  padding: 10px;
}

.text--panel-continue-studies-workspace-name {
  font-size: 1.125rem;
  font-weight: 400;
  margin: 12px;
}

.text--panel-continue-studies {
  margin: 12px;
}

.text--panel-continue-studies-material-page {
  display: inline;
  font-style: italic;
  font-weight: 600;
  margin: 0 5px 0 0;
}

.text--item-article {  
  padding: 10px 0 0;
}

.text--item-article-header {
  font-weight: 600;
}

.text--item-counter {
  align-items: center;
  background-color: $color-main-function-item-counter-background;
  border-radius: 3px;
  display: flex;
  height: 20px;
  justify-content: center;
  min-width: 20px;
  padding: 0 4px;
}

// Check Contatc Info 
.text--check-contact-info-title {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 20px;
}

// Communicator
.text--communicator-message-caption {
  font-size: 1rem;
  padding: 10px;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 1.125rem; 
  }
}  

.text--communicator-message-content {
  padding: 0 10px;  
}

.text--communicator-usernames {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.text--communicator-username {
  white-space: nowrap;
  
  .application-list__item--unread {
    font-weight: 600;
  }
}

.text--communicator-date {
  text-align: right;
  width: 5.2rem;
}
  
.text--communicator-item-body {
  display: inline-block;
}

.text--label-update-dialog-icon {
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: flex;
  font-size: 72px;
  padding: 5px;
  position: relative;
}
 
.text--recepient-tag {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.75rem;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 0.8125rem;
  }
  
  .text__icon {
    display: inline-block;
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
	  margin-right: 5px;
  }
	
  i {
    margin: 0 0 0 5px;
    opacity: 0.6;
  }
}
 
.text--recepient-autocomplete {
  display: flex;
  
  .text__icon {
    display: inline-block;  
    margin-right: 5px;
  }
  	
  i {
    opacity: 0.6;
  }
}
 
.text--communicator-message-sender {
  font-weight: 600;
  display: inline-block;
      
  &::after {
    content: ">";
    margin: 0 10px;
  }
}
 
.text--communicator-message-recipients {
  display: inline-block;
}

.text--communicator-message-recipient {        
  display: inline-block;
      
  &:not(:last-child):after {
    content: ",";
  }
}

.text--new-message-signature {
  margin: 0 0 0 3px;
}

// Announcer
.text--announcer-times {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}

.text--announcer-times-decor {
  color: #fff;
  font-size: 2rem;
  vertical-align: middle;
}

.text--announcer-announcement-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.text--announcer-announcement-caption {
  font-weight: 600;  
  padding: 10px 10px 0; 
}  

.text--announcer-announcement-content {
  padding: 0 10px;  
}

.text--announcer-announcement-workspaces {
  padding: 0 10px; 
}

.text--announcement-workspace {
  align-items: center;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 20px 0 0;
}

// Announcements
.text--announcement-caption {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0 0 10px;
}  

.text--announcer-date {
  margin: 0 0 10px;
}

.text--announcement-content {
  line-height: 1.5rem;
  margin: 20px 0 0;
}

.text-announcement-date {
  margin: 10px 0 0;
}

// Discussion
.text--discussion-item-body {
  font-style: italic;
  width: 100%;
  line-height: 1rem;
  max-height: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.text--discussion-item-body-overflown:before {
  content: '';
  width: 100%;
  height: 4rem;    
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 1rem, white);
}

.text--discussion-thread-meta {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  
  @include breakpoint($breakpoint-mobile-xl) {
    justify-content: flex-end;
  }
}

.text--discussion-thread-user {
  font-size: 0.8125rem;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 0 7px;
  
  @include breakpoint($breakpoint-mobile-xl) {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
  }
}

.text--discussion-thread-meta-counter {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  
  @include breakpoint($breakpoint-mobile-xl) {
    justify-content: flex-end;
  }
}

.text--discussion-thread-meta-counter-title {
  font-size: 0.8125rem;
  padding: 0 3px 0 0;
}

.text--discussion-thread-meta-latest-reply {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  font-size: 0.8125rem;
  justify-content: flex-end;
  text-align: right;
  
  @include breakpoint($breakpoint-mobile-xl) {
    max-width: 250px;
  }
}

.text--discussion-thread-item-title {
  border-left: 5px solid $color-message-item-title-border;
  padding: 0 0 0 5px; 
}

.text--discussion-current-thread {
  display: flex;
  align-items: center;
  white-space: nowrap; // This prevents mobile wrapping for long topic titles in thread reading view
}

.text__discussion-breadcrumb-item {
  padding: 0 5px;
}

.text__discussion-breadcrumb-arrow {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 2px 0 0;
}

.text__discussion-breadcrumb-item--area-1 {
  border-left: 5px solid $color-message-area-category-1;
}

.text__discussion-breadcrumb-item--area-2 {
  border-left: 5px solid $color-message-area-category-2;
}

.text__discussion-breadcrumb-item--area-3 {
  border-left: 5px solid $color-message-area-category-3;
}

.text__discussion-breadcrumb-item--area-4 {
  border-left: 5px solid $color-message-area-category-4;
}

.text__discussion-breadcrumb-item--area-5 {
  border-left: 5px solid $color-message-area-category-5;
}

.text__discussion-breadcrumb-item--area-6 {
  border-left: 5px solid $color-message-area-category-6;
}

.text__discussion-breadcrumb-item--area-7 {
  border-left: 5px solid $color-message-area-category-7;
}

.text__discussion-breadcrumb-item--area-8 {
  border-left: 5px solid $color-message-area-category-8;
}

.text__discussion-breadcrumb-item--area-9 {
  border-left: 5px solid $color-message-area-category-9;
}

.text__discussion-breadcrumb-item--area-10 {
  border-left: 5px solid $color-message-area-category-10;
}

.text--new-discussion-create-state {
  margin: 0 20px 0 3px;
}

.text--discussion-message-creator {
  font-size: 0.875rem;
  font-weight: 600;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.text--discussion-current-thread-title {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1rem;
  font-weight: 600;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.text--discussion-last-modifier {
  font-weight: 600;
  font-style: italic;
}

// Guider
.text--guider-profile-student-header {
  align-items: flex-start;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-flow: column wrap;
  flex-shrink: 1;
  margin-left: 15px;
  
  @include breakpoint($breakpoint-desktop) {
    flex-flow: row wrap;
  }
}

.text--guider-profile-student-name {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 1.125rem;
  
  @include breakpoint($breakpoint-desktop) {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 1;
    font-size: 1.25rem;
    margin: 0 10px 0 0;
    white-space: nowrap;
  }
}

.text--guider-profile-student-email {
  color: $color-default-helper;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1rem;
  word-wrap: break-all;
  
  @include breakpoint($breakpoint-desktop) {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1.25rem;    
  }
}

.text--guider-profile-value {
  background-color: #ecfafe;
  border-radius: 3px;
  display: inline-block;
  margin: 2px 5px 2px 0;
  padding: 4px;
}

.text--guider-profile-label {
	font-weight: 600;
	margin: 2px 5px 2px 0;
	padding: 0;
}

.text--guider-hops-value {
  background-color: #ecfafe;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.text--guider-header {
  width: 100%;
  font-family: $text-font-family;
  font-size: 1.1875rem;
  font-weight: 400;  
  text-transform: uppercase;
}

// Studies
.text--studies-header {
  font-family: $text-font-family;
  font-size: 1.1875rem;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 1.375rem;
  }
}

.text--studies-list-header {
  font-family: $text-font-family;
  font-size: 1.125rem;
  width: 100%;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 1.125rem;
  }
}

.text--studies-list-header-title-extension {
  font-family: $text-font-family;
  font-size: 1.5rem;
  padding: 0 0 0 10px;
}

.text--evaluation-request {
  align-items: center;
  background-color: $color-evaluation-request;
  border-radius: 2px;
  color: $color-default;
  display: flex;
  font-size: 1rem;
  height: 1.875rem;
  justify-content: center;
  margin: 0 0 0 15px;
  text-align: center;
  width: 1.875rem;
}

.text--workspace-assesment-grade,
.text--workspace-credit-grade {
  align-items: center;
  border-radius: 2px;
  color: $color-default;
  display: flex;
  font-size: 1rem;
  height: 1.875rem;
  justify-content: center;
  margin: 0 0 0 15px;
  text-align: center;
  width: 1.875rem;

  &.state-PASSED {
    background: $color-grade-passed;
  }

  &.state-FAILED {
    background: $color-grade-failed;
  }
  
  &.state-INCOMPLETE {
    background: $color-grade-incomplete;
  }
}

.text--workspace-assesment-description {
  display: none;
  text-transform: none;
  
  @include breakpoint($breakpoint-desktop) {
    display: flex;
  }
}

.text--studies-workspace-literal-assessment {
  padding: 2px 12px;
  
  &.state-PASSED {
    border-left: 3px solid $color-grade-passed;
  }

  &.state-FAILED {
    border-left: 3px solid $color-grade-failed;
  }

  &.state-INCOMPLETE {
    border-left: 3px solid $color-grade-incomplete;
  }
}

.text--studies-assignment-literal-assessment {
  background: #e2ffe2;
  border-radius: 3px;
  padding: 2px 12px; 
}

.text--assignment-assesment-grade {
  align-items: center;
  border-radius: 2px;
  color: $color-default;
  display: flex;
  font-size: 1rem;
  height: 1.875rem;
  justify-content: center;
  margin: 0 15px 0 0;
  text-align: center;
  width: 1.875rem;

  &.state-PASSED {
    background: $color-grade-passed;
  }
  
  &.state-FAILED {
    background: $color-grade-failed;
  }
  
  &.state-NO-ASSESSMENT {
    background: $color-grade-not-assessed;
  }
}  

.text--studies-journal-entry-title {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.125rem;
  font-weight: 400;
  
  @include breakpoint($breakpoint-pad) {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.text--studies-journal-entry-time {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 0.825rem;
  
  @include breakpoint($breakpoint-pad) {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: right;
  }
  
}

// Text icon
.text__icon {
  align-items: center;
  display: flex;
}

.text__icon--announcement-workspace {
  padding: 0 5px 0 0;
}

.text__icon--current-folder {
  font-size: 1rem;
  height: auto;
  padding: 0 5px 0 0;
  width: 22px;
}

// Generic Main function 
.text--main-function-current-folder {
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  font-weight: 400;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  @include breakpoint($breakpoint-pad){
    display: none;
  }
}

.text__current-folder-title {
  display: inline-block;
  font-size: 1rem;
  max-width: calc(100% - 44px); // 44px is sum of folders icon and label edit icon widths 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text--course-icon {
  color: $color-course-icon;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.25rem;
  margin-right: 10px;
}

.text--course-has-fees {
  color: $color-course-icon;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.25rem;
  justify-content: flex-end;
  margin-right: 10px;
}

.text--transfer-credit-icon {
  color: $color-transfer-credit-icon;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.25rem;
  margin-right: 10px;
}

.text--course-signup-fee {
  margin: 0 0 10px 0;
}

.text--list-item-title {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-flow: row wrap;
  flex-shrink: 1;
  padding: 0 10px 0 0;
  word-wrap: break-word;
}

.text--list-item-helper-title {
  color: $color-default-helper;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  
  @include breakpoint($breakpoint-pad) {
    flex-basis: auto;
    padding: 0 0 0 15px;
  }
}

.text--list-item-type-title {
  align-items: center;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: $text-capitalized-mobile-font-size;
  justify-content: flex-end;
  text-transform: uppercase;
  
  @include breakpoint($breakpoint-pad){
    font-size: $text-capitalized-desktop-font-size;
  }
}

// Error pages
.text--error-title {
  background-color: $color-panel-background;
  color: $color-index-text-for-panels-title;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.1875rem;
  font-weight: 400;
  padding: 10px 0 0 5px;
  text-transform: uppercase;
  
  @include breakpoint($breakpoint-pad) {
    background: none;
    font-size: 1.375rem;
    font-weight: 300;
    padding: 0 2px .4rem;
  }
}

.text--error-body {
  padding: 10px;
  
  @include breakpoint($breakpoint-pad) {
    background: none;
    font-weight: 300;
    padding: 20px;
  }
}

.text--profile-student-header {
  font-size: 1.6rem;
  font-weight: 100;
  padding-bottom: 20px;
}

.text--profile-property-label {
  font-weight: 600;
  padding-bottom: 2px;
}