//
// Simple text and text sizing and styles
//
//  .text[ | .text-small | .text-medium | .text-large | .text-extra-large | .text-extra-extra-large | .text-banner ]
//    [ | .text-inline | .text-inline-block]
//    [ | .text-extra-thin| .text-thin | .text-normal | .text-thick | .text-bold | .text-extra-bold ]
//    [ COLORMAPPING ]
//    [ | .text-shadowed | .text-extra-shadowed]
//    [ | .text-uppercase | .text-lowercase]
//    [ | .text-left | .text-right | .text-centered | .text-justify ]
//    [ | .text-full]
//    [ | .text-responsive ]
//

@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.text {
  color: $color-text-default;
  display: block;
  font-family: $text-font-family;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}
  
.text--branded {
  font-family: $text-branded-font-family;
}
  
b {
  font-weight: 600;
}
 
.text--one-liner {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
 
.text--application-title {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
 
.text--frontpage-muikku-description {
  color: $color-frontpage-text-muikku-description;
  line-height: 1.2rem;
  margin: 1rem auto 0;
  max-width: 100%;
  font-size: 0.925rem;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 5px 10px $color-frontpage-text-description-text-shadow;
  text-transform: uppercase;

  @include breakpoint($breakpoint-pad) {
    max-width: 20em;
  }
}
  
.text--frontpage-muikku-author {
  color: $color-frontpage-text-muikku-author;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  text-shadow: 0 5px 10px $color-frontpage-text-author-text-shadow;
  text-transform: uppercase;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 1.5rem;
    text-align: center;
  }
}

.text--frontpage-muikku {
  color: $color-frontpage-text-muikku;
  font-size: 2rem;
  font-weight: 900;
  line-height: 0.9;
  text-align: left;
  text-shadow: 0 5px 10px $color-frontpage-text-muikku-text-shadow;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 3rem;
    text-align: center;
  }
}
  
.text--frontpage-verkko {
  color: $color-frontpage-text-verkko;
  font-size: 2rem;
  letter-spacing: 3px;
  font-weight: 300;
  line-height: 0.9;
  text-align: left;
  text-shadow: 0 5px 10px $color-frontpage-text-verkko-text-shadow;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    text-indent: 7px;
  }
}
  
.text--frontpage-title {
  color: $color-frontpage-text-title;
  font-size: 1.7rem;
  text-align: left;
  font-weight: 300;
  margin-bottom: 20px;
  
  @include breakpoint($breakpoint-mobile-xl) {
    font-size: 1.8rem;
  }
  
  @include breakpoint($breakpoint-pad) {
    font-size: 2rem;
    font-weight: 200;
  }
  
  @include breakpoint($breakpoint-desktop) {
    font-size: 2.375rem;
  }
}

.text--otavan-opisto-info-title {
  color: $color-frontpage-text-otavan-opisto-info-title;
  font-size: $text-mobile-font-size;
  font-weight: 600;
  margin: 0 0 .625rem;
  text-transform: uppercase;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}
  
.text--otavan-opisto-info-description {
  color: $color-frontpage-text-otavan-opisto-description;
  font-size: $text-mobile-font-size;
  font-weight: 400;
  line-height: 1.375rem;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
 
  p {
    margin: 0 0 1.15rem;
  }
}

.text--contact-us {
  color: $color-frontpage-text-contact-us;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  
  @include breakpoint($breakpoint-pad) {
    font-size: 2.5rem;
  }
}

.text--contact-us-information {
  color: $color-frontpage-text-contact-us-information;
  font-size: $text-mobile-font-size;
  margin-top: .875rem;
  margin-bottom: .875rem;
  
  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }

  * {
    margin-right: .625rem;
  }
}
 
.text--for-panels-title {
  background-color: $color-panel-background;
  color: $color-index-text-for-panels-title;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 10px 0 0;
  text-transform: uppercase;
  
  @include breakpoint($breakpoint-pad) {
    background: none;
    font-size: 1.4rem;
    padding: 0 2px .4rem;
  }
}
  
.text__panel-icon {
  display: none;
  
  @include breakpoint($breakpoint-pad) {
    border: 2px solid $color-default;
    border-radius: 100%;
    display: inline-block;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.25rem;
    padding: .35rem;
    text-align: center;
    vertical-align: middle;
  }
}

.text__panel-title {
  display: inline-block;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  padding: 0 0 0 .625rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text__panel-link {
  color: $color-text-link;
}
  
.text__panel-icon--continue-studies {
  background-color: $color-index-text-for-panels-title-continue-studies-icon-background;
  color: $color-index-text-for-panels-title-continue-studies-icon-color;
}
  
.text__panel-icon--workspaces {
  background-color: $color-index-text-for-panels-title-workspaces-icon-background;
  color: $color-index-text-for-panels-title-workspaces-icon-color;
}
  
.text__panel-icon--latest-messages {
  background-color: $color-index-text-for-panels-title-latest-messages-icon-background;
  color: $color-index-text-for-panels-title-latest-messages-icon-color;
}
  
.text__panel-icon--important {
  background-color: $color-index-text-for-panels-title-important-icon-background;
  color: $color-index-text-for-panels-title-important-icon-color;
}
  
.text__panel-icon--announcements {
  background-color: $color-index-text-for-panels-title-announcements-icon-background;
  color: $color-index-text-for-panels-title-announcements-icon-color;
}

.text--panel-nothing {
  padding: 10px;
}

.text--panel-continue-studies-workspace-name {
  font-size: 2rem;
  font-weight: 300;
  padding: 10px;
}

.text--panel-continue-studies {
  padding: 10px;
}

.text--item-article {  
  padding: 10px 0;
  font-weight: 300;
}

.text--item-article-header {
  font-weight: 600;
  padding: 0 0 10px;
}

.text--item-counter {
  align-items: center;
  background-color: $color-main-function-item-counter-background;
  border: 1px solid $color-default;
  border-radius: 100%;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}

// Communicator
.text--communicator-message-caption {
  font-weight: 600;  

  padding: 10px; 
}  

.text--communicator-message-content {
  padding: 10px;  
}

.text--communicator-usernames {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.text--communicator-username {
  white-space: nowrap;
  
  .application-list__item--unread {
    font-weight: 600;
  }
}

.text--communicator-date {
  text-align: right;
  width: 5.2rem;
}
  
.text--communicator-body {
  display: inline-block;
  font-weight: 300;
}

.text--communicator-labels {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap; 
}  
  
.text--communicator-label {
  align-items: center; 
  display: flex;
  font-weight: 300;
  margin: 0 15px 0 0;
}

.text--communicator-label-update-dialog-icon {
  display: block;
  width: 100%;
  min-width: 350px;
  height: 112px;
  text-align: center;
  font-size: 92px;
}
 
.text--recepient-tag {
  
	.icon {
    display: inline-block;
	  margin-right: 5px;
	}
	
  i {
    opacity: 0.6;
  }
}
 
.text--recepient-autocomplete {
  
	.icon {
    display: inline-block;
	  margin-right: 5px;
	}
	
  i {
    opacity: 0.6;
  }
}
 
.text--communicator-message-sender {
  font-weight: 600;
  display: inline-block;
      
  &::after {
    content: ">";
    margin: 0 10px;
  }
}
 
.text--communicator-message-recipients {
  display: inline-block;
}

.text--communicator-message-recipient {        
  display: inline-block;
      
  &:not(:last-child):after {
    content: ",";
  }
}

.text--communicator-message-label {
  margin-left: 5px;
  display: inline-block;
}

// Announcer
.text--announcer-times {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}

.text--announcer-times-decor {
  color: #fff;
  font-size: 2rem;
  vertical-align: middle;
}

.text--announcer-announcement-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}

.text--announcer-announcement-caption {
  font-weight: 600;  
  padding: 10px; 
}  

.text--announcer-announcement-content {
  padding: 10px;  
}

.text--announcer-announcement-workspaces {
  padding: 10px; 
}

.text--announcement-workspace {
  align-items: center;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 20px 0 0;
}

// Discussion
.text--discussion-thread-item-body {
  font-style: italic;
  width: 100%;
  padding: 25px 0;
}

.text--discussion-thread-meta {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-end;
}

.text--discussion-thread-user {
  
  span:not(:first-child) {
    margin-left: 10px;    
  }
}

.text--discussion-thread-meta-latest-reply {
  width: 250px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.text--discussion-thread-item-title {
  border-left: 5px solid $color-message-item-title-border;
  padding-left: 5px; 
}

.text--discussion-current-thread {
  display: flex;
  align-items: center;  
    
  span:not(:first-child) {
    margin-left: 10px;    
  }
}

.text__discussion-breadcrumb-item {
  padding-left: 5px;
  
  &:not(:first-child) {
    margin-left: 10px;
  }
     
  &:not(:last-child)::after {
    content: '>';
    margin-left: 5px;
  }
}

.text__discussion-breadcrumb-item--area-1 {
  border-left: 5px solid $color-message-area-category-1;
}

.text__discussion-breadcrumb-item--area-2 {
  border-left: 5px solid $color-message-area-category-2;
}

.text__discussion-breadcrumb-item--area-3 {
  border-left: 5px solid $color-message-area-category-3;
}

.text__discussion-breadcrumb-item--area-4 {
  border-left: 5px solid $color-message-area-category-4;
}

.text__discussion-breadcrumb-item--area-5 {
  border-left: 5px solid $color-message-area-category-5;
}

.text__discussion-breadcrumb-item--area-6 {
  border-left: 5px solid $color-message-area-category-6;
}

.text__discussion-breadcrumb-item--area-7 {
  border-left: 5px solid $color-message-area-category-7;
}

.text__discussion-breadcrumb-item--area-8 {
  border-left: 5px solid $color-message-area-category-8;
}

.text__discussion-breadcrumb-item--area-9 {
  border-left: 5px solid $color-message-area-category-9;
}

.text__discussion-breadcrumb-item--area-10 {
  border-left: 5px solid $color-message-area-category-10;
}

.text--new-discussion-create-state {
  margin-right: 10px;
  
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.text__discussion-message-creator {
  font-size: 1.6rem;
}

.text--discussion-current-thread-title {
  font-size: 1.6rem;  
  font-weight: 600;  
}

// Coursepicker
.text--coursepicker-course-icon {
  color: $color-course-icon;
  font-size: 1.3rem;
  margin-right: 10px;
}

.text--coursepicker-course-name {

}

.text--coursepicker-course-name-extension {
  font-size: 1.05rem;
}

.text--coursepicker-course-description {
  font-size: 1rem;
  padding: 20px 0;
}

// Text icon
.text__icon {
  align-items: center;
  display: flex;
}

.text__icon--communicator-label,
.text__icon--announcement-workspace {
  padding: 0 5px 0 0;
}

.text__icon--current-folder {
  padding: 0 5px 0 0;
}

// Generic Main function 
.text--main-function-current-folder {
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  font-size: 1rem;
  font-weight: 300;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  
  @include breakpoint($breakpoint-pad){
    display: none;
  }
}
