@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.user {
  border-top: 1px solid $color-message-border;
  padding: 14px 12px 14px 4px;
  
  &.selected {
    border-top: 1px solid $color-default;
  }
}

.user--guider {
  
  &:first-child {
    border: 0;
  }
}

