@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.user {
  border-top: 1px solid $color-message-border;
  padding: 14px 0;
  
  &.selected {
    border-top: 1px solid $color-default;
  }
}

.user__select-container {
  align-items: center;
  display: flex;
  padding: 2px 8px 2px 2px;
}

.user--guider {
  
  &:first-child {
    border: 0;
  }
}

