/* stylelint-disable scale-unlimited/declaration-strict-value */
/* stylelint-disable color-named */
@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";
@import "cke-styles";

@mixin step-indicator {
  border-radius: 20px;
  height: 20px;
  width: 20px;
}

@mixin step-title {
  margin-bottom: 14px;
}

.wizard {
  .cke {
    border: 2px solid $color-form-element-border;
  }

  &.wizard--hops-form,
  &.wizard--pedagogy-form {
    .cke {
      border: 2px solid $color-hops-dialog-form-element-border;
    }
  }

  // These override the stepzilla plugin styles
  ol.progtrckr {
    display: flex;
    padding: 5px 0 25px;

    li {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-basis: auto;
      flex-grow: 1;
      justify-content: center;
      line-height: normal;
      position: relative;

      span {
        @include step-title;

        display: none;
        padding: 0;
        width: auto;

        @include breakpoint($breakpoint-mobile-xl) {
          display: flex;
          padding: 0 5px;
          text-align: center;
        }
      }
    }

    li.no-hl {
      cursor: default;
    }

    .progtrckr-todo {
      border-bottom: 4px solid $color-wizard-todo;
      color: $color-wizard-todo;

      &:hover::before {
        border: 2px solid $color-wizard-todo;
      }

      &::before {
        @include step-indicator;

        background-color: $color-wizard-todo;
        color: $color-wizard-todo;
        content: "";
        line-height: normal;
      }
    }

    .progtrckr-doing {
      border-bottom: 4px solid $color-wizard-doing;
      color: $color-wizard-doing;

      &:hover::before {
        color: $color-wizard-doing;
      }

      &::before {
        @include step-indicator;

        background-color: $color-wizard-doing;
        content: "";
        line-height: normal;
      }
    }

    .progtrckr-done {
      border-bottom: 4px solid $color-wizard-done;
      color: $color-wizard-done;

      &:hover::before {
        color: $color-wizard-done;
      }

      &::before {
        @include step-indicator;

        background-color: $color-wizard-done;
        content: "";
        line-height: normal;
      }
    }

    .progtrckr-error {
      border-bottom: 4px solid red;
      color: red;

      &:hover::before {
        color: red;
      }

      &::before {
        @include step-indicator;

        background-color: red;
        content: "";
        line-height: normal;
      }
    }

    li::before {
      bottom: -12px;
      left: calc(50% - 10px);
      position: absolute;
    }

    li::after {
      content: "";
    }
  }

  .progtrckr em {
    @include step-title;

    display: flex;
    font-weight: 700;
    padding: 0;

    @include breakpoint($breakpoint-mobile-xl) {
      display: none;
    }
  }

  .footer-buttons {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px 20px 0;
  }
}

.wizard--matriculation-exam-form {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  .wizard__container {
    flex-basis: 100%;
    overflow: auto;
  }
}

.wizard__summary-row {
  font-size: 1rem;
  padding: 15px 0;

  ul {
    list-style-type: disc;
  }

  li {
    display: block;
  }
}

.wizard__container {
  min-height: 400px;
  overflow: hidden;
}

.wizard__footer {
  align-items: center;
  display: flex;
  justify-content: center;

  > * {
    margin: 0 5px;
  }
}
