@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.workspace-activity {
	display: flex;
	flex-flow: row wrap;
}

.workspace-activity--studies {
	align-items: center;
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	max-width: 100%;
	padding: 10px 0;
	
	@include breakpoint($breakpoint-desktop) {
	  max-width: 350px;
	  padding: 0;
  }
}

.workspace-activity__progressbar {
	align-items: center;
	display: flex;
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	height: 10px;
  margin: 5px 0 0;
  max-width: 100%;
	
	@include breakpoint($breakpoint-pad) {
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
    
    &:nth-child(odd) {
      margin: 5px 10px 0 0;
    }
    
    &:nth-child(even) {
      margin: 5px 0 0 10px;
    }
  }
  
  @include breakpoint($breakpoint-desktop) {
    flex-basis: calc(100%);
    max-width: calc(100%);
    
    &:nth-child(odd) {
      margin: 0 0 5px;
    }
    
    &:nth-child(even) {
      margin: 5px 0 0;
    }
  }
}

.workspace-activity__progressbar-label {
  text-align: right;
  min-width: 40px;
}

 .workspace-activity__assignment-done-percent {
  color: $color-assignment;
  font-size: 0.9rem;
  padding: 0 5px 0 0;
}
 
.workspace-activity__exercise-done-percent {
  color: $color-exercise;
  font-size: 0.9rem;
  padding: 0 0 0 5px;
}
