@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

// Workspace assessment
.workspace-assessment {
  border-left-style: solid;
  border-left-width: 5px;
  display: flex;
  flex-flow: column nowrap;
  margin: 20px 0 0;
  padding: 10px;
  position: relative;

  @include breakpoint($breakpoint-pad) {
    padding: 20px;
  }
}

.workspace-assessment--studies-details {
  margin: 0 0 20px;
}

.workspace-assessment--incomplete {
  background: lighten($color-incomplete, 45%);
  border-left-color: $color-incomplete;

  .workspace-assessment__grade-data {
    background: $color-incomplete;
    font-size: 0.625rem;
    text-transform: uppercase;
  }

  .workspace-assessment__icon {
    color: $color-incomplete;
  }
}

.workspace-assessment--passed {
  background: lighten($color-passed, 55%);
  border-left-color: $color-passed;

  .workspace-assessment__grade-data {
    background: $color-passed;
  }

  .workspace-assessment__icon {
    color: $color-passed;
  }
}

.workspace-assessment--failed {
  background: lighten($color-failed, 45%);
  border-left-color: $color-failed;

  .workspace-assessment__grade-data {
    background: $color-failed;
  }

  .workspace-assessment__icon {
    color: $color-failed;
  }
}

.workspace-assessment--pending {
  background: lighten($color-pending, 45%);
  border-left-color: $color-pending;

  .workspace-assessment__grade-data {
    background: $color-pending;
  }

  .workspace-assessment__icon {
    color: $color-pending;
  }
}

.workspace-assessment--workspace-panel {
  margin: 0;
}

.workspace-assessment__literal {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 0;
}

.workspace-assessment__literal-label {
  @include assessment-text;

  font-weight: 600;
}

.workspace-assessment__literal-data {
  @include assessment-text;

  line-height: 1.375rem;
}

.workspace-assessment__grade {
  @include assessment-text;

  align-items: center;
  display: flex;
  flex-basis: 100;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 0 10px;
}

.workspace-assessment__grade-label {
  font-weight: 600;
  padding: 0 10px 0 0;
}

.workspace-assessment__grade-data {
  border-radius: 3px;
  color: $color-default;
  line-height: 1;
  padding: 5px 8px;
}

.workspace-assessment__icon {
  font-size: 2rem;
  line-height: 1;
  opacity: 30%;
  position: absolute;
  right: 20px;
  top: 20px;
}

.workspace-assessment__points,
.workspace-assessment__date,
.workspace-assessment__subject {
  @include assessment-text;

  align-items: center;
  display: flex;
  flex-basis: 100;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  margin: 0 0 10px;
}

.workspace-assessment__points-label,
.workspace-assessment__date-label {
  font-weight: 600;
  padding: 0 10px 0 0;
}

.workspace-assessment__points-data,
.workspace-assessment__date-data,
.workspace-assessment__subject-data {
  @include assessment-text;

  line-height: 1.375rem;
}
