@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.workspace-activity {
	display: flex;
	flex-flow: row wrap;
  padding: 10px 0;
  
  @include breakpoint($breakpoint-pad) {
    flex-flow: row nowrap;
  }
}

.workspace-activity__progressbar {
	align-items: center;
	display: flex;
	flex-basis: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	height: 5px;
	
	&:nth-child(odd) {
	  margin: 0 0 5px;
	}
	
	&:nth-child(even) {
    margin: 5px 0 0;
  }
	
	@include breakpoint($breakpoint-pad) {
    flex-basis: calc(50% - 10px);
    
    &:nth-child(odd) {
	    margin: 0 10px 0 0;
	  }
	  
	  &:nth-child(even) {
	    margin: 0 0 0 10px;
	  }
  }
}

.workspace-activity__progressbar-label {
  background: $color-default;
  border-radius: 5px;
  border: 1px solid $color-default-separator-border;
}

 .workspace-activity__assignment-done-percent {
  color: $color-assignment;
  font-size: 0.9rem;
  padding: 0 5px 0 0;
}
 
.workspace-activity__exercise-done-percent {
  color: $color-exercise;
  font-size: 0.9rem;
  padding: 0 0 0 5px;
}
