@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.zoom__clickable-item {
  cursor: zoom-in;
}

.zoom__zoomed-item-overlay {
  background-color: $color-zoom-image-overlay-background;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.zoom__zoomed-item-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 100%;
}

.zoom__zoomed-item {
  cursor: zoom-out;
  max-height: 100%;
  max-width: 100%;
}

.zoom__zoomed-item-close {
  color: $color-default;
  cursor: pointer;
  font-size: 30px;
  height: 30px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 30px;
}
