#ui-datepicker-div {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border: 0;
  width: auto;
  padding: 0;
  background: #f2f5f7;
  display: none; }
  #ui-datepicker-div .ui-helper-clearfix::before,
  #ui-datepicker-div .ui-helper-clearfix::after {
    border-collapse: collapse;
    content: "";
    display: table; }
  #ui-datepicker-div .ui-helper-clearfix::after {
    clear: both; }
  #ui-datepicker-div .ui-widget-header {
    border: 0;
    background: #6aa4cf;
    padding: 4px 0;
    position: relative; }
    #ui-datepicker-div .ui-widget-header .ui-datepicker-prev {
      color: #fff;
      position: absolute;
      height: 24px;
      top: 0;
      left: 0;
      padding: 8px 4px; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-prev span {
        display: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-prev:hover {
        background: transparent;
        border: 0;
        text-decoration: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-prev::before {
        cursor: pointer;
        content: "\e605";
        color: #fff;
        font-size: 24px;
        font-family: 'muikku';
        speak: none;
        font-style: normal;
        text-decoration: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    #ui-datepicker-div .ui-widget-header .ui-datepicker-next {
      color: #fff;
      position: absolute;
      height: 24px;
      top: 0;
      right: 0;
      padding: 8px 4px; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-next span {
        display: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-next:hover {
        background: transparent;
        border: 0;
        text-decoration: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-next::before {
        cursor: pointer;
        content: "\e608";
        color: #fff;
        font-size: 24px;
        font-family: 'muikku';
        speak: none;
        font-style: normal;
        text-decoration: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    #ui-datepicker-div .ui-widget-header .ui-datepicker-title {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.8em;
      margin: 0 2.3em;
      text-align: center; }
  #ui-datepicker-div table.ui-datepicker-calendar {
    box-sizing: border-box;
    border: 2px solid #fff;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    font-size: 12px; }
    #ui-datepicker-div table.ui-datepicker-calendar th {
      border: 0;
      font-weight: bold;
      padding: 0.7em 0.3em;
      text-align: center; }
    #ui-datepicker-div table.ui-datepicker-calendar td {
      border: 0;
      padding: 1px;
      max-width: 100%;
      width: 38px;
      height: 32px;
      box-sizing: border-box; }
      #ui-datepicker-div table.ui-datepicker-calendar td .ui-state-default {
        background: #d7ebf9;
        color: #2779aa; }
      #ui-datepicker-div table.ui-datepicker-calendar td a {
        border: 0;
        padding: 0 5px 0 0;
        background: #d4edff;
        display: block;
        text-align: right;
        text-decoration: none;
        font-weight: bold;
        height: 32px;
        width: auto;
        box-sizing: border-box; }
        #ui-datepicker-div table.ui-datepicker-calendar td a:hover {
          background: #9cd5f8; }
        #ui-datepicker-div table.ui-datepicker-calendar td a.ui-state-highlight {
          background: #6991aa;
          color: #fff; }
        #ui-datepicker-div table.ui-datepicker-calendar td a.ui-state-active {
          background: #3baae3;
          color: #fff; }

/* Navigation Icon Shadow */
/* Rounding *Corners */
/* Generic Text Shadow for Buttons */
/* Generic Box shadow for Buttons */
/* Generic Gradient Used in Buttons */
/* Form element - HOVER */
/* Form element - FOCUS */
/* Workspace Navigation Tooltip Transitions */
p.cke_notification_message div.draft-restore {
  font-family: "Open Sans", Arial, sans-serif;
  padding: 5px 0; }
  p.cke_notification_message div.draft-restore span.draft-label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 0 0 5px; }
  p.cke_notification_message div.draft-restore span.draft-text {
    font-size: 14px;
    font-weight: 300; }
  p.cke_notification_message div.draft-restore a {
    display: inline-block;
    padding: 0 5px;
    color: #fff;
    font-weight: 400; }

p.cke_notification_message div.draft-cancel {
  font-family: "Open Sans", Arial, sans-serif;
  padding: 5px 0; }
  p.cke_notification_message div.draft-cancel span.draft-label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 0 0 5px; }
  p.cke_notification_message div.draft-cancel span.draft-text {
    font-size: 14px;
    font-weight: 300; }
  p.cke_notification_message div.draft-cancel a {
    display: inline-block;
    padding: 0 5px;
    color: #fff;
    font-weight: 400; }

/* announcer (.an-*) */
.ui-autocomplete {
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
  top: 20px !important; }
  .ui-autocomplete .ui-menu-item[data-existing="true"] {
    color: #aaa;
    cursor: default;
    font-style: italic; }

#ui-datepicker-div {
  z-index: 1000 !important; }

/* create announcement */
.an-announcement-create-body .mf-textfield {
  width: 100%; }

.an-announcement-create-body .an-announcement-targetgroup {
  cursor: pointer;
  float: left;
  margin-top: 0 !important; }
  .an-announcement-create-body .an-announcement-targetgroup:not(:first-child) {
    margin-left: 10px;
    margin-top: 0 !important; }

.an-announcement-create-body .an-announcement-targetgroup-name {
  float: left;
  font-family: inherit;
  margin-left: 10px;
  margin-top: 0 !important;
  padding: 9px 0; }
  .an-announcement-create-body .an-announcement-targetgroup-name::before {
    margin-right: 5px;
    font-family: "muikku"; }
  .an-announcement-create-body .an-announcement-targetgroup-name.usergroup::before {
    color: #049a00; }
  .an-announcement-create-body .an-announcement-targetgroup-name.workspace::before {
    color: #0012ff; }
  .an-announcement-create-body .an-announcement-targetgroup-name:hover {
    color: #d80000; }
    .an-announcement-create-body .an-announcement-targetgroup-name:hover::before {
      color: #d80000; }

.an-announcements .an-announcement {
  box-sizing: border-box;
  display: inline-block;
  max-height: 330px;
  border-left: 3px solid #049a00;
  overflow: hidden;
  vertical-align: top;
  width: 286px; }
  .an-announcements .an-announcement.workspace {
    border-left: 3px solid #0012ff; }
  .an-announcements .an-announcement.ENDED {
    opacity: 0.5; }
  .an-announcements .an-announcement.UPCOMING .an-announcement-dates {
    background: #69cff9;
    color: #fff;
    font-weight: 600; }

.an-announcement-select {
  float: left;
  margin: 4px;
  width: 30px; }

.an-announcement-dates {
  background-color: #f9f9f9;
  padding: 5px;
  text-align: right; }

.an-announcement-details {
  margin-bottom: 10px;
  max-height: 252px; }

.an-announcement-tools {
  margin: 5px 10px; }

.an-announcement-topic {
  border-bottom: 1px solid #ededed;
  color: #049a00;
  font-size: 20px;
  font-weight: 300;
  overflow: hidden;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .an-announcement-topic.workspace {
    color: #0012ff; }

.an-announcement-content {
  height: 70px;
  overflow: hidden;
  padding: 5px 10px 10px;
  text-overflow: ellipsis; }

.an-date-field {
  padding-left: 5px; }

.an-textfield {
  width: 100%; }

.an-archiving-container {
  width: 100%; }

.an-archiving-ids-container {
  padding: 15px; }
  .an-archiving-ids-container span {
    background-color: #eee;
    padding: 5px; }
  .an-archiving-ids-container span:not(:first-child) {
    margin-left: 5px; }

/* Archive announcement */
.an-archive-title {
  padding-left: 10px; }
