@import url("//cdn.muikkuverkko.fi/fonts/Open_Sans/1.0.0/fonts.css");
/* Navigation Icon Shadow */
/* Rounding *Corners */
/* Generic Text Shadow for Buttons */
/* Generic Box shadow for Buttons */
/* Generic Gradient Used in Buttons */
/* Form element - HOVER */
/* Form element - FOCUS */
/* Workspace Navigation Tooltip Transitions */
form * {
  outline: none; }

input[type="text"],
input[type="date"],
input[type="password"],
input[type="url"],
textarea {
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif;
  border-radius: 2px;
  font-size: 18px;
  border: 1px solid #dadada;
  color: #252525;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 10px; }
  input[type="text"]:hover,
  input[type="date"]:hover,
  input[type="password"]:hover,
  input[type="url"]:hover,
  textarea:hover {
    color: #000;
    border: 1px solid #858585;
    box-shadow: 0 0 0 3px rgba(0, 153, 255, 0.3);
    border-color: #fff; }
  input[type="text"]:focus,
  input[type="date"]:focus,
  input[type="password"]:focus,
  input[type="url"]:focus,
  textarea:focus {
    color: #000;
    border: 1px solid #858585;
    box-shadow: 0 0 0 3px rgba(0, 153, 255, 0.3);
    border-color: #fff; }

input[type="color"] {
  width: 40px;
  font-size: 40px;
  height: 38px;
  outline: none;
  cursor: pointer;
  border: 0; }

input[type="checkbox"],
input[type="radio"] {
  margin: 0 2px; }
  input[type="checkbox"]:hover,
  input[type="radio"]:hover {
    box-shadow: 0 0 0 3px rgba(0, 153, 255, 0.6);
    border-color: #fff; }

select {
  color: #252525;
  font-size: 16px;
  font-weight: 300;
  font-family: "Open Sans", Arial, sans-serif; }

label {
  font-weight: 400;
  font-size: 16px;
  margin: 5px 0 0;
  display: block;
  padding: 5px 5px 5px 0; }

.mf-search-field {
  position: relative; }
  .mf-search-field input.search {
    padding: 10px 10px 10px 40px !important; }
  .mf-search-field::before {
    display: inline-block;
    content: "\e61c";
    font-family: 'muikku' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 26px;
    height: 26px;
    width: 26px;
    color: #ddd;
    position: absolute;
    left: 10px;
    top: 12px; }

/* Fake buttons */
.bt-generic {
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  line-height: 1.5em;
  color: #ffffff;
  cursor: pointer;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  font-weight: 400; }
  .bt-generic.bt-login {
    border-radius: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #52b050;
    border: 1px solid #73c071;
    font-size: 1.1em;
    background: #6bbb69;
    background: #52b050;
    background: -moz-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6bbb69), color-stop(100%, #4ca34a));
    background: -webkit-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
    background: -o-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
    background: -ms-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
    background: linear-gradient(to bottom, #6bbb69 0%, #4ca34a 100%);
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    .bt-generic.bt-login::before {
      position: absolute;
      top: 12px;
      left: 12px;
      z-index: 1; }
    .bt-generic.bt-login a {
      color: #fff;
      position: relative;
      padding: 11px 12px 11px 28px;
      display: inline-block;
      z-index: 2; }
  .bt-generic.bt-forgotpassword {
    border-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #3c9e3a;
    border-top: 1px solid #73c071;
    border-right: 1px solid #73c071;
    border-bottom: 1px solid #73c071;
    font-size: 1.5em;
    line-height: 1.53em;
    position: relative;
    float: right;
    padding: 7px;
    background: #52b050;
    background: -moz-linear-gradient(top, #60b25e 0%, #398e37 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #60b25e), color-stop(100%, #398e37));
    background: -webkit-linear-gradient(top, #60b25e 0%, #398e37 100%);
    background: -o-linear-gradient(top, #60b25e 0%, #398e37 100%);
    background: -ms-linear-gradient(top, #60b25e 0%, #398e37 100%);
    background: linear-gradient(to bottom, #60b25e 0%, #398e37 100%); }
    .bt-generic.bt-forgotpassword > div {
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      cursor: pointer; }
      .bt-generic.bt-forgotpassword > div span {
        display: inline-block;
        border-radius: 0;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background-color: #397db0;
        border-top: 1px solid #73c071;
        border-left: 1px solid #73c071;
        border-bottom: 1px solid #73c071;
        background: #52b050;
        background: -moz-linear-gradient(top, #60b25e 0%, #398e37 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #60b25e), color-stop(100%, #398e37));
        background: -webkit-linear-gradient(top, #60b25e 0%, #398e37 100%);
        background: -o-linear-gradient(top, #60b25e 0%, #398e37 100%);
        background: -ms-linear-gradient(top, #60b25e 0%, #398e37 100%);
        background: linear-gradient(to bottom, #60b25e 0%, #398e37 100%);
        top: -1px;
        right: 35px;
        bottom: -1px;
        position: absolute;
        padding: 7px 0 7px 7px;
        color: #fff;
        white-space: nowrap;
        font-size: 15px;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
        z-index: 99; }
      .bt-generic.bt-forgotpassword > div:hover {
        overflow: visible; }
        .bt-generic.bt-forgotpassword > div:hover span {
          opacity: 1; }

.bt-main-functionality {
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  line-height: 1.3em;
  color: #ffffff;
  cursor: pointer;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #ed8e00;
  border: 1px solid #d9e4e8;
  font-size: 1em;
  background: #ed8e00;
  background: #ed8e00;
  background: -moz-linear-gradient(top, #fda726 0%, #ed8e00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fda726), color-stop(100%, #ed8e00));
  background: -webkit-linear-gradient(top, #fda726 0%, #ed8e00 100%);
  background: -o-linear-gradient(top, #fda726 0%, #ed8e00 100%);
  background: -ms-linear-gradient(top, #fda726 0%, #ed8e00 100%);
  background: linear-gradient(to bottom, #fda726 0%, #ed8e00 100%);
  width: 100%;
  box-sizing: border-box;
  font-weight: 400; }
  .bt-main-functionality span:first-child {
    display: inline-block;
    padding: 12px;
    white-space: nowrap; }
    .bt-main-functionality span:first-child.bt-main-functionality-dropdown-label {
      width: 109px; }
  .bt-main-functionality span.bt-main-functionality-dropdown-chevron {
    border-left: 1px solid #f6c06d;
    display: inline-block;
    float: right;
    padding: 4px 4px 3px 4px;
    font-size: 2.45em; }
  .bt-main-functionality.bt-main-functionality-active {
    background: #ed8e00;
    background: -moz-linear-gradient(top, #ed8e00 0%, #fda726 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed8e00), color-stop(100%, #fda726));
    background: -webkit-linear-gradient(top, #ed8e00 0%, #fda726 100%);
    background: -o-linear-gradient(top, #ed8e00 0%, #fda726 100%);
    background: -ms-linear-gradient(top, #ed8e00 0%, #fda726 100%);
    background: linear-gradient(to bottom, #ed8e00 0%, #fda726 100%); }

.bt-main-functionality-decoration {
  border-left: 1px solid #f6c06d;
  display: inline-block;
  float: right;
  padding: 4px 4px 3px 4px;
  font-size: 2.45em; }

/* Real buttons */
input[type="button"],
input[type="submit"],
input[type="reset"] {
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  padding: 8px 12px;
  line-height: 0.5em;
  font-size: 0.7em;
  color: #000;
  cursor: pointer; }
  input[type="button"]:disabled,
  input[type="submit"]:disabled,
  input[type="reset"]:disabled {
    color: #dadada; }
  input[type="button"]:not(:first-child),
  input[type="submit"]:not(:first-child),
  input[type="reset"]:not(:first-child) {
    margin-left: 5px; }
  input[type="button"].bt-coursepicker,
  input[type="submit"].bt-coursepicker,
  input[type="reset"].bt-coursepicker {
    margin-left: 10px; }
  input[type="button"].bt-generic,
  input[type="submit"].bt-generic,
  input[type="reset"].bt-generic {
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    padding: 8px 12px;
    line-height: 1.5em;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }
    input[type="button"].bt-generic.bt-login,
    input[type="submit"].bt-generic.bt-login,
    input[type="reset"].bt-generic.bt-login {
      background-color: #52b050;
      border: 1px solid #73c071;
      font-size: 1.1em;
      background: #6bbb69;
      background: #52b050;
      background: -moz-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6bbb69), color-stop(100%, #4ca34a));
      background: -webkit-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
      background: -o-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
      background: -ms-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
      background: linear-gradient(to bottom, #6bbb69 0%, #4ca34a 100%); }
    input[type="button"].bt-generic.bt-modal,
    input[type="submit"].bt-generic.bt-modal,
    input[type="reset"].bt-generic.bt-modal {
      background-color: #52b050;
      border: 1px solid #73c071;
      font-size: 1.1em;
      background: #6bbb69;
      background: #52b050;
      background: -moz-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6bbb69), color-stop(100%, #4ca34a));
      background: -webkit-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
      background: -o-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
      background: -ms-linear-gradient(top, #6bbb69 0%, #4ca34a 100%);
      background: linear-gradient(to bottom, #6bbb69 0%, #4ca34a 100%); }

.notification-queue {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  height: 0; }

.notification-queue-items {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #666; }

.notification-queue-item {
  text-align: center;
  color: #fff;
  padding: 12px 16px 16px;
  font-size: 16px;
  margin-bottom: 1px;
  z-index: 2;
  position: relative;
  padding-right: 36px;
  padding-left: 36px;
  word-wrap: break-word;
  font-weight: 400; }

.notification-queue-item:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0; }

.notification-queue-item-info {
  background: #549fca; }

.notification-queue-item-warn {
  background: #ffce65;
  color: #6a4902; }

.notification-queue-item-error {
  background: #ff6600; }

.notification-queue-item-fatal {
  background: #bf3000; }

.notification-queue-item-success {
  background: #49af4e; }

.notification-queue-item-loading {
  background-color: #000;
  background-image: url("/gfx/eventqueueloader.png");
  background-position: 8px center;
  background-repeat: no-repeat;
  z-index: 9999; }

.notification-queue-item a.notification-queue-item-close {
  background-image: url("/gfx/eventqueueclose.png");
  top: 12px;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 8px;
  width: 24px; }

.connection-lost-overlay {
  opacity: 0.8;
  position: fixed;
  z-index: 99998;
  background: #000;
  -webkit-animation: connectionLost 14s ease infinite;
  -moz-animation: connectionLost 14s ease infinite;
  animation: connectionLost 14s ease infinite;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none; }

.connection-lost-dialog {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 0;
  right: 0;
  height: 400px;
  margin-top: -200px;
  padding: 20px;
  display: none; }
  .connection-lost-dialog .connection-lost-dialog-container {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    text-align: center; }
    .connection-lost-dialog .connection-lost-dialog-container .connection-lost-dialog-title {
      color: #fff;
      font-size: 2.5em;
      line-height: 2em;
      padding: 10px; }
    .connection-lost-dialog .connection-lost-dialog-container .connection-lost-dialog-description {
      color: #fff;
      font-size: 1.6em;
      padding: 10px;
      line-height: 2em; }
    .connection-lost-dialog .connection-lost-dialog-container .loader {
      margin: 20px auto;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      perspective: 800px; }
      .connection-lost-dialog .connection-lost-dialog-container .loader .inner {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 50%; }
        .connection-lost-dialog .connection-lost-dialog-container .loader .inner.one {
          left: 0;
          top: 0;
          animation: rotate-one 2s linear infinite;
          border-bottom: 3px solid #EFEFFA; }
        .connection-lost-dialog .connection-lost-dialog-container .loader .inner.two {
          right: 0;
          top: 0;
          animation: rotate-two 2s linear infinite;
          border-right: 3px solid #EFEFFA; }
        .connection-lost-dialog .connection-lost-dialog-container .loader .inner.three {
          right: 0;
          bottom: 0;
          animation: rotate-three 2s linear infinite;
          border-top: 3px solid #EFEFFA; }
    .connection-lost-dialog .connection-lost-dialog-container .connection-lost-dialog-reconnectButton {
      font-size: 24px;
      color: #fff;
      font-weight: 300;
      text-transform: uppercase;
      font-family: 'Open Sans', Arial, sans-serif;
      padding: 10px 20px;
      display: inline-block;
      cursor: pointer;
      margin: 20px 0 0;
      border: 1px solid #27b91c; }

body {
  margin: 10px;
  padding: 0 0 50px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  color: #2c2c2c;
  height: 100vh; }

footer {
  display: none; }

/* Reset Password */
.reset-password-background {
  background-image: url("/gfx/muikku-login-bg.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 997; }

.reset-password-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background: rgba(0, 37, 105, 0.14);
  background: -moz-linear-gradient(top, rgba(0, 37, 105, 0.14) 0%, rgba(0, 27, 76, 0.5) 28%, black 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 37, 105, 0.14)), color-stop(28%, rgba(0, 27, 76, 0.5)), color-stop(100%, black));
  background: -webkit-linear-gradient(top, rgba(0, 37, 105, 0.14) 0%, rgba(0, 27, 76, 0.5) 28%, black 100%);
  background: -o-linear-gradient(top, rgba(0, 37, 105, 0.14) 0%, rgba(0, 27, 76, 0.5) 28%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 37, 105, 0.14) 0%, rgba(0, 27, 76, 0.5) 28%, black 100%);
  background: linear-gradient(to bottom, rgba(0, 37, 105, 0.14) 0%, rgba(0, 27, 76, 0.5) 28%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002569', endColorstr='#000000', GradientType=0 ); }

.reset-password-wrapper {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 5px;
  right: 5px;
  bottom: 0; }
  .reset-password-wrapper .muikku-logo {
    background-image: url("/gfx/muikku-header-text-small.png");
    background-repeat: no-repeat;
    height: 90px;
    max-width: 500px;
    margin: 0 auto;
    position: relative; }
  .reset-password-wrapper .reset-password-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.7);
    max-width: 500px;
    margin: 0 auto; }
    .reset-password-wrapper .reset-password-container h1 {
      font-weight: 300;
      font-size: 24px;
      line-height: 140%;
      margin: 0 0 10px;
      text-transform: uppercase; }
    .reset-password-wrapper .reset-password-container label {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 16px; }
    .reset-password-wrapper .reset-password-container input[type="password"],
    .reset-password-wrapper .reset-password-container input[type="text"] {
      font-size: 18px;
      font-weight: 300;
      padding: 8px 16px;
      border-radius: 3px;
      line-height: 2em; }
    .reset-password-wrapper .reset-password-container .username-container input[type="text"] {
      border: 0;
      font-size: 20px;
      color: #000;
      font-weight: 400;
      padding: 0; }
      .reset-password-wrapper .reset-password-container .username-container input[type="text"]:hover, .reset-password-wrapper .reset-password-container .username-container input[type="text"]:focus, .reset-password-wrapper .reset-password-container .username-container input[type="text"]:active {
        box-shadow: none;
        border: 0; }
    .reset-password-wrapper .reset-password-container input[type=submit].reset-password-reset-button {
      font-size: 18px;
      font-weight: 300;
      padding: 3px 10px;
      border-radius: 3px;
      border: 0;
      background: #27b91c;
      color: #fff;
      margin: 10px 0 0 10px;
      line-height: 2em;
      float: right; }
    .reset-password-wrapper .reset-password-container a.reset-password-cancel-button {
      font-size: 18px;
      font-weight: 300;
      padding: 4px 10px;
      border-radius: 3px;
      border: 0;
      background: #7391a7;
      color: #fff;
      line-height: 2em;
      margin: 10px 0 0 10px;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      float: right; }
