/* Navigation Icon Shadow */
/* Rounding *Corners */
/* Generic Text Shadow for Buttons */
/* Generic Box shadow for Buttons */
/* Generic Gradient Used in Buttons */
/* Form element - HOVER */
/* Form element - FOCUS */
/* Workspace Navigation Tooltip Transitions */
p.cke_notification_message div.draft-restore {
  font-family: "Open Sans", Arial, sans-serif;
  padding: 5px 0; }
  p.cke_notification_message div.draft-restore span.draft-label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 0 0 5px; }
  p.cke_notification_message div.draft-restore span.draft-text {
    font-size: 14px;
    font-weight: 300; }
  p.cke_notification_message div.draft-restore a {
    display: inline-block;
    padding: 0 5px;
    color: #fff;
    font-weight: 400; }

p.cke_notification_message div.draft-cancel {
  font-family: "Open Sans", Arial, sans-serif;
  padding: 5px 0; }
  p.cke_notification_message div.draft-cancel span.draft-label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    display: block;
    margin: 0 0 5px; }
  p.cke_notification_message div.draft-cancel span.draft-text {
    font-size: 14px;
    font-weight: 300; }
  p.cke_notification_message div.draft-cancel a {
    display: inline-block;
    padding: 0 5px;
    color: #fff;
    font-weight: 400; }

.workspace-generic-view-title {
  background: #fff;
  font-size: 25px;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 20px;
  text-transform: uppercase; }

.workspace-announcer-content-wrapper {
  padding: 20px;
  background: #fff; }

.an-announcements .an-announcement {
  box-sizing: border-box;
  display: inline-block;
  max-height: 330px;
  overflow: hidden;
  vertical-align: top;
  width: 286px; }
  .an-announcements .an-announcement:nth-child(3n+3) {
    margin-right: 0; }
  .an-announcements .an-announcement.ENDED {
    opacity: 0.5; }
  .an-announcements .an-announcement.UPCOMING .an-announcement-dates {
    background: #69cff9;
    color: #fff;
    font-weight: 600; }
  .an-announcements .an-announcement .an-announcement-details {
    margin-bottom: 10px;
    max-height: 262px;
    cursor: default; }

input[type="text"] {
  box-shadow: none;
  width: 100%;
  margin: 4px 0; }

.mf-item {
  box-shado: 1px 10px 12px rgba(216, 230, 235, 0.5); }

.mf-content-area {
  background-color: #fff; }
  .mf-content-area .di-no-messages h3 {
    font-weight: 300; }

.mf-toolbar input {
  border-radius: 0;
  border: 0;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px;
  outline: none;
  font-family: 'Open Sans', Arial, sans-serif;
  min-width: 90px;
  padding: 10px;
  font-size: 16px; }

.mf-toolbar input[name="send"] {
  background: #27b91c; }

.mf-toolbar input[name="cancel"] {
  background: #7391a7; }

.mf-content-functions {
  background-color: #fff;
  font-size: 14px; }
  .mf-content-functions .mf-button-container {
    background-color: transparent; }
    .mf-content-functions .mf-button-container .mf-primary-function {
      margin: 0 0 0 15px;
      box-shadow: none;
      border: 0;
      text-shadow: none;
      background: #0099ff;
      width: auto;
      border-radius: 3px;
      color: #ffffff;
      cursor: pointer;
      font-size: 1em;
      line-height: 1.3em;
      text-transform: uppercase;
      padding: 12px; }
      .mf-content-functions .mf-button-container .mf-primary-function.disabled {
        background: #dadada;
        color: #efefef; }
      .mf-content-functions .mf-button-container .mf-primary-function span {
        white-space: nowrap; }
    .mf-content-functions .mf-button-container .di-new-message-button {
      font-weight: 400; }
  .mf-content-functions .mf-view-container {
    background-color: #fff;
    height: 55px; }
    .mf-content-functions .mf-view-container .di-browse-areas-container {
      margin: 0 0 10px; }
    .mf-content-functions .mf-view-container .di-new-area-container,
    .mf-content-functions .mf-view-container .di-edit-area-container,
    .mf-content-functions .mf-view-container .di-delete-area-container {
      margin: 2px 0 0 5px; }

[data-deprecated-class] {
  all: initial; }
  [data-deprecated-class] * {
    all: unset; }
