/* Navigation Icon Shadow */
/* Rounding *Corners */
/* Generic Text Shadow for Buttons */
/* Generic Box shadow for Buttons */
/* Generic Gradient Used in Buttons */
/* Form element - HOVER */
/* Form element - FOCUS */
/* Workspace Navigation Tooltip Transitions */
#ui-datepicker-div {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border: 0;
  width: auto;
  padding: 0;
  background: #f2f5f7;
  display: none; }
  #ui-datepicker-div .ui-helper-clearfix::before,
  #ui-datepicker-div .ui-helper-clearfix::after {
    border-collapse: collapse;
    content: "";
    display: table; }
  #ui-datepicker-div .ui-helper-clearfix::after {
    clear: both; }
  #ui-datepicker-div .ui-widget-header {
    border: 0;
    background: #6aa4cf;
    padding: 4px 0;
    position: relative; }
    #ui-datepicker-div .ui-widget-header .ui-datepicker-prev {
      color: #fff;
      position: absolute;
      height: 24px;
      top: 0;
      left: 0;
      padding: 8px 4px; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-prev span {
        display: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-prev:hover {
        background: transparent;
        border: 0;
        text-decoration: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-prev::before {
        cursor: pointer;
        content: "\e605";
        color: #fff;
        font-size: 24px;
        font-family: 'muikku';
        speak: none;
        font-style: normal;
        text-decoration: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    #ui-datepicker-div .ui-widget-header .ui-datepicker-next {
      color: #fff;
      position: absolute;
      height: 24px;
      top: 0;
      right: 0;
      padding: 8px 4px; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-next span {
        display: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-next:hover {
        background: transparent;
        border: 0;
        text-decoration: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-next::before {
        cursor: pointer;
        content: "\e608";
        color: #fff;
        font-size: 24px;
        font-family: 'muikku';
        speak: none;
        font-style: normal;
        text-decoration: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    #ui-datepicker-div .ui-widget-header .ui-datepicker-title {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.8em;
      margin: 0 2.3em;
      text-align: center; }
  #ui-datepicker-div table.ui-datepicker-calendar {
    box-sizing: border-box;
    border: 2px solid #fff;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    font-size: 12px; }
    #ui-datepicker-div table.ui-datepicker-calendar th {
      border: 0;
      font-weight: bold;
      padding: 0.7em 0.3em;
      text-align: center; }
    #ui-datepicker-div table.ui-datepicker-calendar td {
      border: 0;
      padding: 1px;
      max-width: 100%;
      width: 38px;
      height: 32px;
      box-sizing: border-box; }
      #ui-datepicker-div table.ui-datepicker-calendar td .ui-state-default {
        background: #d7ebf9;
        color: #2779aa; }
      #ui-datepicker-div table.ui-datepicker-calendar td a {
        border: 0;
        padding: 0 5px 0 0;
        background: #d4edff;
        display: block;
        text-align: right;
        text-decoration: none;
        font-weight: bold;
        height: 32px;
        width: auto;
        box-sizing: border-box; }
        #ui-datepicker-div table.ui-datepicker-calendar td a:hover {
          background: #9cd5f8; }
        #ui-datepicker-div table.ui-datepicker-calendar td a.ui-state-highlight {
          background: #6991aa;
          color: #fff; }
        #ui-datepicker-div table.ui-datepicker-calendar td a.ui-state-active {
          background: #3baae3;
          color: #fff; }

/* Generic loader  */
@-webkit-keyframes generic-loader {
  0% {
    -webkit-transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes generic-loader {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes generic-loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Workspace Material's select, textfield, textarea autosave animations */
@-webkit-keyframes saving-fields {
  0% {
    border-color: #e4e630; }
  25% {
    border-color: #ffffff; }
  50% {
    border-color: #e4e630; }
  100% {
    border-color: #ffffff; } }

@-moz-keyframes saving-fields {
  0% {
    border-color: #e4e630; }
  25% {
    border-color: #ffffff; }
  50% {
    border-color: #e4e630; }
  100% {
    border-color: #ffffff; } }

@keyframes saving-fields {
  0% {
    border-color: #e4e630; }
  25% {
    border-color: #ffffff; }
  50% {
    border-color: #e4e630; }
  100% {
    border-color: #ffffff; } }

/* Workspace Material's checkbox and radio animations */
@-webkit-keyframes saving-checkbox-radio {
  0% {
    box-shadow: 0 0 0px 3px #e4e630; }
  25% {
    box-shadow: 0 0 0px 3px #ffffff; }
  50% {
    box-shadow: 0 0 0px 3px #e4e630; }
  100% {
    box-shadow: 0 0 0px 3px #ffffff; } }

@-moz-keyframes saving-checkbox-radio {
  0% {
    box-shadow: 0 0 0px 3px #e4e630; }
  25% {
    box-shadow: 0 0 0px 3px #ffffff; }
  50% {
    box-shadow: 0 0 0px 3px #e4e630; }
  100% {
    box-shadow: 0 0 0px 3px #ffffff; } }

@keyframes saving-checkbox-radio {
  0% {
    box-shadow: 0 0 0px 3px #e4e630; }
  25% {
    box-shadow: 0 0 0px 3px #ffffff; }
  50% {
    box-shadow: 0 0 0px 3px #e4e630; }
  100% {
    box-shadow: 0 0 0px 3px #ffffff; } }

/* Evaluation Single Card Loading */
@-webkit-keyframes load-cards {
  0% {
    -webkit-transform: scale(1);
    opacity: 0.1; }
  50% {
    -webkit-transform: scale(0.9);
    opacity: 0.8; }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.1; } }

@-moz-keyframes load-cards {
  0% {
    -moz-transform: scale(1);
    opacity: 0.1; }
  50% {
    -moz-transform: scale(0.9);
    opacity: 0.8; }
  100% {
    -moz-transform: scale(1);
    opacity: 0.1; } }

@keyframes load-cards {
  0% {
    transform: scale(1);
    opacity: 0.1; }
  50% {
    transform: scale(0.9);
    opacity: 0.8; }
  100% {
    transform: scale(1);
    opacity: 0.1; } }

/* Evaluation Card View Loading  */
@-webkit-keyframes evaluation-loading {
  0% {
    -webkit-transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes evaluation-loading {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes evaluation-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* Connection Lost BG */
@-webkit-keyframes connectionLost {
  0% {
    opacity: 0.80; }
  50% {
    opacity: 0.90; }
  100% {
    opacity: 0.80; } }

@-moz-keyframes connectionLost {
  0% {
    opacity: 0.80; }
  50% {
    opacity: 0.90; }
  100% {
    opacity: 0.80; } }

@keyframes connectionLost {
  0% {
    opacity: 0.80; }
  50% {
    opacity: 0.90; }
  100% {
    opacity: 0.80; } }

/* Connection Lost lines */
@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@-moz-keyframes rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@keyframes rotate-one {
  0% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% {
    -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@-webkit-keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@-moz-keyframes rotate-two {
  0% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

@-moz-keyframes rotate-three {
  0% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

/* Workspace Users loading */
@-webkit-keyframes users-loading {
  0% {
    -webkit-transform: rotate(0deg); }
  10% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes users-loading {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@keyframes users-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

#ui-datepicker-div {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 13px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  border: 0;
  width: auto;
  padding: 0;
  background: #f2f5f7;
  display: none; }
  #ui-datepicker-div .ui-helper-clearfix::before,
  #ui-datepicker-div .ui-helper-clearfix::after {
    border-collapse: collapse;
    content: "";
    display: table; }
  #ui-datepicker-div .ui-helper-clearfix::after {
    clear: both; }
  #ui-datepicker-div .ui-widget-header {
    border: 0;
    background: #6aa4cf;
    padding: 4px 0;
    position: relative; }
    #ui-datepicker-div .ui-widget-header .ui-datepicker-prev {
      color: #fff;
      position: absolute;
      height: 24px;
      top: 0;
      left: 0;
      padding: 8px 4px; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-prev span {
        display: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-prev:hover {
        background: transparent;
        border: 0;
        text-decoration: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-prev::before {
        cursor: pointer;
        content: "\e605";
        color: #fff;
        font-size: 24px;
        font-family: 'muikku';
        speak: none;
        font-style: normal;
        text-decoration: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    #ui-datepicker-div .ui-widget-header .ui-datepicker-next {
      color: #fff;
      position: absolute;
      height: 24px;
      top: 0;
      right: 0;
      padding: 8px 4px; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-next span {
        display: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-next:hover {
        background: transparent;
        border: 0;
        text-decoration: none; }
      #ui-datepicker-div .ui-widget-header .ui-datepicker-next::before {
        cursor: pointer;
        content: "\e608";
        color: #fff;
        font-size: 24px;
        font-family: 'muikku';
        speak: none;
        font-style: normal;
        text-decoration: none;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    #ui-datepicker-div .ui-widget-header .ui-datepicker-title {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 18px;
      line-height: 1.8em;
      margin: 0 2.3em;
      text-align: center; }
  #ui-datepicker-div table.ui-datepicker-calendar {
    box-sizing: border-box;
    border: 2px solid #fff;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    font-size: 12px; }
    #ui-datepicker-div table.ui-datepicker-calendar th {
      border: 0;
      font-weight: bold;
      padding: 0.7em 0.3em;
      text-align: center; }
    #ui-datepicker-div table.ui-datepicker-calendar td {
      border: 0;
      padding: 1px;
      max-width: 100%;
      width: 38px;
      height: 32px;
      box-sizing: border-box; }
      #ui-datepicker-div table.ui-datepicker-calendar td .ui-state-default {
        background: #d7ebf9;
        color: #2779aa; }
      #ui-datepicker-div table.ui-datepicker-calendar td a {
        border: 0;
        padding: 0 5px 0 0;
        background: #d4edff;
        display: block;
        text-align: right;
        text-decoration: none;
        font-weight: bold;
        height: 32px;
        width: auto;
        box-sizing: border-box; }
        #ui-datepicker-div table.ui-datepicker-calendar td a:hover {
          background: #9cd5f8; }
        #ui-datepicker-div table.ui-datepicker-calendar td a.ui-state-highlight {
          background: #6991aa;
          color: #fff; }
        #ui-datepicker-div table.ui-datepicker-calendar td a.ui-state-active {
          background: #3baae3;
          color: #fff; }

.workspace-copy-wizard.flex-grid {
  max-width: 100%; }

.workspace-copy-wizard {
  position: fixed;
  z-index: 99999;
  background: #84c5c8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh;
  font-weight: 300 !important;
  color: #fff; }
  .workspace-copy-wizard.loading::after {
    -webkit-animation: generic-loader 1.0s infinite linear;
    -moz-animation: generic-loader 1.0s infinite linear;
    animation: generic-loader 1.0s infinite linear;
    content: "\e900";
    font-family: 'muikku' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 50px;
    width: 50px;
    font-size: 50px;
    color: #7ed9ff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -25px;
    color: #439ba0; }

.wizard-content {
  align-items: center;
  min-height: 100vh; }

.wizard-page {
  box-sizing: border-box;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  padding: 0 60px; }
  .wizard-page.wizard-page-active {
    display: block; }

.wizard-page-title {
  font-size: 40px;
  padding: 0 80px;
  text-transform: uppercase;
  position: absolute;
  top: 20px;
  line-height: 1; }

.wizard-page-content {
  background: #77b1b4;
  border-radius: 15px;
  padding: 30px 80px;
  margin: 60px 0 70px; }
  .wizard-page-content .selection-wrapper {
    vertical-align: top;
    display: inline-block; }
    .wizard-page-content .selection-wrapper .selection-item {
      vertical-align: top;
      display: inline-block; }
    .wizard-page-content .selection-wrapper .selection-label {
      vertical-align: top;
      display: inline-block; }
  .wizard-page-content label {
    font-weight: 300 !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 26px;
    padding: 0;
    margin: 10px 0 16px; }
    .wizard-page-content label.selection {
      font-size: 20px;
      display: inline-block;
      margin: 1px 0 1px 10px; }
  .wizard-page-content input[type="checkbox"],
  .wizard-page-content input[type="radio"] {
    margin: 0 0 0 2px;
    transform: scale(1.4); }
  .wizard-page-content input.date-field {
    width: 90%; }
  .wizard-page-content input[type="text"] {
    border-radius: 5px;
    background: #fff;
    border: none;
    padding: 12px;
    font-size: 26px;
    color: #464646;
    margin: 0 0 20px; }
    .wizard-page-content input[type="text"]:focus {
      box-shadow: 0 0 0 5px rgba(164, 233, 236, 0.9);
      outline: none; }
    .wizard-page-content input[type="text"].workspace-day-field, .wizard-page-content input[type="text"].workspace-month-field {
      margin: 0 10px 0 0;
      width: 80px;
      text-align: center; }
    .wizard-page-content input[type="text"].workspace-year-field {
      width: 120px;
      text-align: center; }
  .wizard-page-content textarea.workspace-description {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    background: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    color: #464646;
    margin: 0 0 20px; }

.progress {
  width: 200px;
  margin: -60px auto 0 auto;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  color: #fff; }

.prev,
.next,
.close {
  height: 60px;
  width: 60px;
  position: absolute; }
  .prev::before,
  .next::before,
  .close::before {
    color: #c2e2e4;
    cursor: pointer;
    font-weight: normal;
    font-family: 'muikku';
    speak: none;
    font-style: normal;
    text-decoration: none;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.prev {
  left: 0;
  top: 50%;
  margin-top: -30px; }
  .prev::before {
    content: "\e62e";
    font-size: 60px; }

.next {
  right: 0;
  top: 50%;
  margin-top: -30px; }
  .next::before {
    content: "\e62f";
    font-size: 60px; }

.close {
  right: 15px;
  top: 18px; }
  .close::before {
    content: "\e903";
    font-size: 50px; }

ul.summary {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin: 60px 0 70px; }
  ul.summary li {
    background: #7dbbbe;
    border-radius: 15px;
    padding: 30px 80px;
    margin: 0 0 10px;
    font-size: 20px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    font-size: 24px;
    transition: background 0.5s ease-in-out,color 0.5s ease-in-out; }
    ul.summary li.inProgress::after {
      -webkit-animation: generic-loader 1.0s infinite linear;
      -moz-animation: generic-loader 1.0s infinite linear;
      animation: generic-loader 1.0s infinite linear;
      content: "\e900";
      font-family: 'muikku' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      height: 40px;
      width: 40px;
      font-size: 40px;
      color: #7ed9ff;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -20px;
      color: #439ba0; }
    ul.summary li.error {
      background: #fff;
      color: #e20f0f; }
      ul.summary li.error > ul li {
        background: #fff;
        color: #000; }
      ul.summary li.error::after {
        content: "\e904";
        font-size: 40px;
        height: 34px;
        width: 34px;
        font-family: 'muikku' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -17px;
        color: #e20f0f; }
    ul.summary li.success {
      background: #fff;
      color: #000; }
      ul.summary li.success > ul li {
        background: #fff;
        color: #000; }
      ul.summary li.success::after {
        content: "\e639";
        font-size: 40px;
        height: 40px;
        width: 40px;
        font-family: 'muikku' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -20px;
        color: #38ec2d; }
    ul.summary li > ul {
      padding: 0;
      margin: 0; }
      ul.summary li > ul li {
        padding: 15px 15px 0px 0;
        margin: 0;
        display: inline-block;
        text-transform: none;
        font-size: 20px; }

.center {
  text-align: center; }

.additional-text {
  font-size: 24px;
  display: inline-block;
  margin: 5px 0 10px; }

.copy,
.close-wizard,
.workspace-entity-url,
.external-view-url {
  cursor: pointer;
  font-weight: 300;
  background: #7391a7;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #d3e1ec;
  padding: 12px 18px;
  font-size: 24px;
  display: inline-block;
  margin: 0 5px;
  line-height: 1;
  outline: none;
  text-decoration: none; }
  .copy.goto,
  .close-wizard.goto,
  .workspace-entity-url.goto,
  .external-view-url.goto {
    background: #068feb; }

.copy {
  border: 1px solid #daf3da;
  background: #27b91c; }

.cke {
  border: 1px solid #abdbed;
  box-shadow: none;
  border-radius: 0; }
  .cke .cke_inner {
    /* CKE top, content and bottom wrapper */ }
    .cke .cke_inner .cke_top {
      border: 0;
      box-shadow: none;
      background: #abdbed;
      background-image: none;
      padding: 8px 8px 4px;
      border-bottom: 0;
      transition: background 0.1s,0.2s ease-in-out; }
      .cke .cke_inner .cke_top .cke_toolbar {
        display: block;
        margin: 2px 0; }
        .cke .cke_inner .cke_top .cke_toolbar .cke_toolgroup {
          border: 1px solid #fff;
          background: #fff;
          background-image: none; }
          .cke .cke_inner .cke_top .cke_toolbar .cke_toolgroup a:hover {
            border-radius: 3px;
            background: #9ed7ff;
            box-shadow: none;
            border: 0; }
          .cke .cke_inner .cke_top .cke_toolbar .cke_toolgroup a.cke_button_on {
            background: #9ed7ff;
            background-image: none;
            box-shadow: none;
            border: 0; }
        .cke .cke_inner .cke_top .cke_toolbar .cke_combo.cke_combo_off a.cke_combo_button {
          background: #fff;
          background-image: none;
          box-shadow: none;
          border: 1px solid #fff; }
          .cke .cke_inner .cke_top .cke_toolbar .cke_combo.cke_combo_off a.cke_combo_button:hover {
            background: #9ed7ff; }
        .cke .cke_inner .cke_top .cke_toolbar .cke_combo.cke_combo_on a.cke_combo_button {
          background: #9ed7ff;
          background-image: none;
          box-shadow: none;
          border: 1px solid #fff; }
    .cke .cke_inner .cke_bottom {
      border: 0;
      box-shadow: none;
      background: #fff;
      background-image: none;
      border-top: 1px solid #abdbed; }

body {
  padding: 60px 0 75px; }
  body .loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
    z-index: 9999; }
    body .loading::before {
      -webkit-animation: generic-loader 1.0s infinite linear;
      -moz-animation: generic-loader 1.0s infinite linear;
      animation: generic-loader 1.0s infinite linear;
      content: "\e900";
      font-family: 'muikku' !important;
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      height: 50px;
      width: 50px;
      font-size: 50px;
      color: #7ed9ff;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -25px 0 0 -25px; }

#content {
  background: #fff;
  padding: 0; }

.workspace-generic-view-title {
  font-weight: 300;
  font-size: 30px;
  padding: 20px;
  margin: 0; }

h2.workspace-management-generic-title {
  margin: 0;
  padding: 10px 20px;
  font-weight: 300;
  text-transform: uppercase;
  background: #eaf8fe; }

.workspace-management-name input {
  font-size: 26px;
  font-weight: 300; }

.workspace-management-container {
  padding: 0 20px;
  margin: 20px 0;
  position: relative; }
  .workspace-management-container .external-view-url,
  .workspace-management-container .copy-workspace-link {
    background: #7391a7;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    margin: 0 5px;
    outline: medium none;
    padding: 6px 8px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px; }
  .workspace-management-container .external-view-url {
    background: #7391a7; }
  .workspace-management-container .copy-workspace-link {
    background: #00b8c8; }
  .workspace-management-container img {
    width: 100%;
    display: block;
    line-height: 1; }
  .workspace-management-container select {
    border-radius: 2px;
    font-size: 18px;
    border: 1px solid #dadada;
    background-color: #fff;
    max-width: 100%;
    box-sizing: border-box;
    padding: 5px 6px; }
    .workspace-management-container select option {
      background: #fff;
      padding: 4px 6px; }
  .workspace-management-container textarea {
    width: 100%;
    box-sizing: border-box;
    height: 100px; }

.workspace-material-license .default-material-license {
  margin: 10px 0 0; }

.workspace-material-license .creative-commons-container label {
  display: inline-block;
  margin: 0 10px 0 5px;
  font-weight: 300; }

.workspace-material-license .creative-commons-container > label {
  display: block;
  font-weight: 400;
  margin: 0; }

.workspace-management-producer input.workspace-material-producer-add {
  width: 250px; }

.workspace-management-producer .workspace-material-producer {
  border-radius: 2px;
  color: #000;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  margin: 0 5px 20px;
  padding: 8px 8px 8px 12px; }
  .workspace-management-producer .workspace-material-producer a.workspace-material-producer-remove {
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    margin: 0 0 0 5px; }
    .workspace-management-producer .workspace-material-producer a.workspace-material-producer-remove::before {
      content: "\e63b";
      color: #de3211;
      font-size: 20px;
      font-weight: normal;
      font-family: 'muikku';
      speak: none;
      font-style: normal;
      text-decoration: none;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

.additionalinfo-title label {
  text-transform: uppercase;
  font-weight: 400; }

.teacher-data {
  display: inline-block;
  margin: 0 10px 0 0; }

.workspace-management-image-actions {
  position: absolute;
  right: 30px;
  bottom: 10px; }
  .workspace-management-image-actions .workspace-management-image-edit,
  .workspace-management-image-actions .workspace-management-image-delete {
    display: inline-block;
    margin: 0 5px; }
    .workspace-management-image-actions .workspace-management-image-edit::before,
    .workspace-management-image-actions .workspace-management-image-delete::before {
      border-radius: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      color: #fff;
      display: block;
      font-size: 20px;
      height: 20px;
      line-height: 1;
      padding: 8px;
      text-align: center;
      width: 20px;
      border: 2px solid #fff;
      cursor: pointer; }
  .workspace-management-image-actions .workspace-management-image-edit.icon-edit::before {
    background: #23a6de; }
  .workspace-management-image-actions .workspace-management-image-delete.icon-delete::before {
    background: #de2323; }

.workspace-management-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #233740;
  opacity: 0.95;
  z-index: 99; }
  .workspace-management-footer .workspace-management-footer-actions-container {
    margin: 10px auto;
    min-width: 200px;
    max-width: 960px;
    text-align: center; }
    .workspace-management-footer .workspace-management-footer-actions-container button {
      border: 0;
      padding: 6px 12px;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 300;
      color: #fff;
      margin: 0 10px;
      cursor: pointer; }
      .workspace-management-footer .workspace-management-footer-actions-container button.save {
        background: #27b91c; }
      .workspace-management-footer .workspace-management-footer-actions-container button.cancel {
        background: #7391a7; }

footer#footer {
  display: none; }
