/* COLORS */

/* Fonts */

$header:#ff7800;
$title:#000;
$subTitle:#4e4e4e;

/* Shadow */
$sc: #dadada;

/* Border */
$brd:#dadada;

/* Generic background */

$bgr : #fff;

/* Action area background */

$aBgr : #f8f8f8;

/* sub-Action area background */

$saBgr : #e3eaf2;


/* toolbar background */

$tBgr : #ffda8b;



/* highlighted background */

$hlBgr: #fff8c1;

/* Generic gradients (Grayscale) */

/* Forms */

$btnGr:#bfd255, #8eb92a, #72aa00 , #9ecb2d;;
$btnBrd: #72aa00;
$btnBrdH: #fff;


/* Top-bottom 2 - color */
$gradient-start:#fff;
$gradient-end:#e5e5e5;


/* Top-bottom 4 - color */

$fourColorGr-1:#f9f9f9;
$fourColorGr-2:#fcfcfc;
$fourColorGr-3:#f4f4f4;
$fourColorGr-4:#f7f7f7;





  /* MainFunction Button */
 
  $mainFuncBtnGr: #feccb1,#f17432,#ea5507,#fb955e;  
  $mainFuncBtnBrd: #ea5507;
  
	/* Header top-bottom */
  

 $headerGradient-start:#deefff;
  $headerGradient-end:#98bede;
 



		
		
	/* Content interaction top-bottom 4-color */
	
    $contInteractGr:#e0f3fa,#d8f0fc,#b8e2f6,#b6dffd;
	



/* Communicator */

/* Gradients */

$newsGr: #ffffff , #c1cbff;
$msgGr: #ffffff , #c1cbff;
$reqGr: #ffffff , #c1cbff;

/* Borders */


$newsBrd:#ff7e16;
$msgBrd:#495aff;
$reqBrd:#d016ff;

$naviDynamicColor:#FF6633;

/* Coursepicker */

/* LineColors */

$lukio:#a4ebff;
$peruskoulu:#4ad3a1;
$ammatillinen:#d3c44a;
$paja:#c14ad3;
$ilmio:#d34a67;
$ryhmakurssi:#744ad3;

/* Font sizes */

$text: 12px;




/* Transition durations */



/* Generic Mixins */

@mixin buttonLedGr($col1,$col2,$col3,$col4,$prcCol2,$prcCol3){
background: $col1;
background: -moz-radial-gradient(center, ellipse cover, $col1 0%, $col2 $prcCol2, $col3 $prcCol3, $col4 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$col1), color-stop($prcCol2,$col2), color-stop($prcCol3,$col3), color-stop(100%,$col4));
background: -webkit-radial-gradient(center, ellipse cover, $col1 0%,$col2 $prcCol2,$col3 $prcCol3,$col4 100%);
background: -o-radial-gradient(center, ellipse cover, $col1 0%,$col2 $prcCol2,$col3 $prcCol3,$col4 100%);
background: -ms-radial-gradient(center, ellipse cover, $col1 0%,$col2 $prcCol2,$col3 $prcCol3,$col4 100%);
background: radial-gradient(ellipse at center, $col1 0%,$col2 $prcCol2,$col3 $prcCol3,$col4 100%);

}

@mixin buttonLedSh($shadows...){
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
   box-shadow: $shadows;
}
  

@mixin fontShadow{
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.37);
}


@mixin shadow($s:$sc) {
-webkit-box-shadow: 1px 1px 2px 1px $s;
box-shadow: 1px 1px 2px 1px $s; 
}


@mixin iShadow($s:$sc) {
    -webkit-box-shadow: inset 1px 1px 1px 1px $s;
    box-shadow: inset 1px 1px 1px 1px  $s; 
}


@mixin rounded($radius) {
 -webkit-border-radius: $radius; 
 -moz-border-radius: $radius; 
 -o-border-radius: $radius; 
 border-radius: $radius; 
}

@mixin border($c:$brd ,$w:1px){
  border:$w solid $c;
  }


@mixin fadetoAlpha-top-bottom($fadeColor1:rgba(255,255,255,1),$fadeColor2:rgba(255,255,255,1),$fadeColor3:rgba(255,255,255,0)){
background: #fff;
background: -moz-linear-gradient(top, $fadeColor1 0%, $fadeColor2 50%, $fadeColor3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fadeColor1), color-stop(50%,$fadeColor2), color-stop(100%,$fadeColor3));
background: -webkit-linear-gradient(top, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
background: -o-linear-gradient(top, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
background: -ms-linear-gradient(top, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
background: linear-gradient(to bottom, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
}


@mixin gradient-top-bottom($bgColorStart:$gradient-start, $bgColorEnd:$gradient-end,$bgr:$gradient-start){
  background: $bgr; 
  background: -moz-linear-gradient(top, $bgColorStart 0%,  $bgColorEnd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bgColorStart), color-stop(100%,$bgColorEnd));
  background: -webkit-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: -o-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: -ms-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: linear-gradient(to bottom, $bgColorStart 0%,$bgColorEnd 100%);

}



@mixin gradient-top-bottom-four($gr1:$fourColorGr-1,$gr2:$fourColorGr-2,$gr3:$fourColorGr-3,$gr4:$fourColorGr-4,$bgr:$fourColorGr-1){
  background: $bgr;
  background: -moz-linear-gradient(top, $gr1 0%, $gr2 50%, $gr3 51%, $gr4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gr1), color-stop(50%,$gr2), color-stop(51%,$gr3), color-stop(100%,$gr4));
  background: -webkit-linear-gradient(top, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
  background: -o-linear-gradient(top, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
  background: -ms-linear-gradient(top, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
  background: linear-gradient(to bottom, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
}




/* Spesific mixins */

/* Content interaction*/


/* Static navigation */





@mixin naviIcon($iconUrl){
  background: $iconUrl no-repeat center;
  height:20px;
  width:20px;
  margin:10px 5px 0 5px;
  float:left;  
  background-size:100%;  
}

@mixin customIcon($iconUrl,$height:20px,$width:20px){
  height:$height;
  width:$width;  
  background: $iconUrl no-repeat center;
  background-size:100%;
  

}



/* Dynamic Navigation */


@mixin dynNaviGr($iconUrl,$gr1,$gr2){
box-shadow: 5px 10px 6px -2px #ededed;
background: $iconUrl no-repeat center right #b8bac6;
background: $iconUrl no-repeat center right, -moz-linear-gradient(top, $gr1 0%, $gr2 100%);
background: $iconUrl no-repeat center right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gr1), color-stop(100%,$gr2));
background: $iconUrl no-repeat center right, -webkit-linear-gradient(top, $gr1 0%,$gr2 100%);
background: $iconUrl no-repeat center right, -o-linear-gradient(top, $gr1 0%,$gr2 100%);
background: $iconUrl no-repeat center right, -ms-linear-gradient(top, $gr1 0%,$gr2 100%);
background: $iconUrl no-repeat center right, linear-gradient(to bottom, $gr1 0%,$gr2 100%); 
}




@mixin dynNaviTransition($trd1:0.6s,$trd2:0.6s,$trd3:0.1s,$trd4:0.1s,$pr1:opacity,$pr2:visibility,$pr3:margin,$tf1:ease-in-out,$tf2:ease-in-out,$tf3:ease-in-out,$tf4:ease-in-out){
 -webkit-transition-property:$pr1,$pr2,$pr3; 
 -webkit-transition-duration:$trd1,$trd2,$trd3; 
 -webkit-transition-timing-function:$tf1,$tf2,$tf3; 
 -moz-transition-property:$pr1,$pr2,$pr3;
 -moz-transition-duration:$trd1,$trd2, $trd3; 
 -moz-transition-timing-function:$tf1,$tf2,$tf3; 
 -o-transition-property:$pr1,$pr2,$pr3;
 -o-transition-duration:$trd1,$trd2,$trd3; 
 -o-transition-timing-function:$tf1,$tf2,$tf3; 
 transition-property:$pr1,$pr2,$pr3;
 transition-duration:$trd1,$trd2,$trd3; 
 transition-timing-function: $tf1,$tf2,$tf3; ;  
}



/* Tooltip */




@mixin tooltipTransition($trd1,$trd2,$trd3,$trd4,$pr1:opacity,$pr2:visibility,$pr3:margin-left,$pr4:margin-top,$tf1:ease-in-out,$tf2:ease-in-out,$tf3:ease-in-out,$tf4:ease-in-out){
$trd1:0.1s;
$trd2:0.1s;
$trd3:0.1s;
$trd4:0.1s;
  
  -webkit-transition-property:$pr1,$pr2,$pr3,$pr4; 
 -webkit-transition-duration:$trd1,$trd2,$trd3,$trd4; 
 -webkit-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
 -moz-transition-property:$pr1,$pr2,$pr3,$pr4;
 -moz-transition-duration:$trd1,$trd2, $trd3,$trd4; 
 -moz-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
 -o-transition-property:$pr1,$pr2,$pr3,$pr4;
 -o-transition-duration:$trd1,$trd2,$trd3,$trd4; 
 -o-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
 transition-property:$pr1,$pr2,$pr3,$pr4;
 transition-duration:$trd1,$trd2,$trd3,$trd4; 
 transition-timing-function: $tf1,$tf2,$tf3,$tf4; ;  
}



@mixin tooltipBackGround( $bgColorStart, $bgColorEnd){
 background: $bgColorStart; 
 background: -moz-linear-gradient(top, $bgColorStart 0%, $bgColorEnd 100%); 
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bgColorStart), color-stop(100%,$bgColorEnd));
 } 
 
 @mixin transitionDirection($val1:0,$val2:0,$val3:0,$val4:0){
 margin:$val1 $val2 $val3 $val4;
 }

 