/* Variables */

/* COLORS */



/* Shadows */
$sc: #dadada;



/* Generic background */

$bgr : #fff;

/* Action area background */

$aBgr : #f8f8f8;



/* Generic gradients (Grayscale) */

/* Forms */

$btnGr:#bfd255, #8eb92a, #72aa00 , #9ecb2d;;
$btnBrd: #72aa00;
$btnBrdH: #fff;


/* Top-bottom 2 - color */

$gradient-start:#fff;
$gradient-end:#e5e5e5;

/* Top-bottom 4 - color */

$fourColorGr-1:#f9f9f9;
$fourColorGr-2:#fcfcfc;
$fourColorGr-3:#f4f4f4;
$fourColorGr-4:#f7f7f7;


/* Top-bottom 8 - color */

$eightColorGr-1:#f9f9f9;
$eightColorGr-2:#f2f2f2;
$eightColorGr-3:#e2e2e2;
$eightColorGr-4:#e8e8e8;
$eightColorGr-5:#efefef;
$eightColorGr-6:#e2e2e2;
$eightColorGr-7:#f4f4f4;
$eightColorGr-8:#fcfcfc;

/* Spesific Gradients */


  /* MainFunction Button */
 
  $mainFuncBtnGr: #feccb1,#f17432,#ea5507,#fb955e;  
  $mainFuncBtnBrd: #ea5507;
  
	/* Header top-bottom */
	
	$headerGradient-start:#deefff;
	$headerGradient-end:#98bede;
 
 


	/* Navigation icons */
	
		/* Active */
		
		$naviIconGr:#feccb1,#f17432,#ea5507,#fb955e;
		
    /* Hover */
    
    $cToolIconGr: #fcfcfc,#f17432,#ea5507,#fcfcfc;		
		
		/* Disabled */
		
		$naviIconDisabledGr:#ffffff,#f1f1f1,#e1e1e1,#f6f6f6 ;
	
	/* Content interaction top-bottom 4-color */
	
	  $contInteractGr:#e0f3fa,#d8f0fc,#b8e2f6,#b6dffd;
	
	/* Navigation Tooltip top-bottom */
	
	/* Static navigation top-bottom 4- color */
	
  	$stNavGradColors:#e2e2e2,#dbdbdb,#d1d1d1,#fefefe;
	
	/* Widget top-bottom */
    $widgetGr: #feffff , #eaf3f7, #cbe3ed;
   
   /* contentTool app */
  
    /* Border */
    
    $cToolBrdr: #deefff;
    
    /* Background */
    
    $cToolBgr: #deefff ;    


   /* Table Header cells */
    
    /* Background gradient */
    
    $tableHeaderGr:#cedce7 ;
    
   /* Font color */
    
    $tableHeaderFont:#ffffff ;    


/* Borders */


$naviDynamicColor:#FF6633;


/* Font sizes  s */


$text: 12px;

/* Properties */

/* Path */


/* Transition durations */

$dFast:0.1s;
$dMedium:0.5s;
$dSlow:1s;


/* Generic Mixins */

@mixin shadow($s:$sc) {
-webkit-box-shadow: 1px 1px 2px 1px $s;
box-shadow: 1px 1px 2px 1px $s; 
}
@mixin iShadow($s:$sc) {
    -webkit-box-shadow: inset 1px 1px 1px 1px $s;
    box-shadow: inset 1px 1px 1px 1px  $s; 
}


@mixin rounded($radius) {
 -webkit-border-radius: $radius; 
 -moz-border-radius: $radius; 
 -o-border-radius: $radius; 
 border-radius: $radius; 
}

@mixin border($b){
	border:1px solid $b;
	}


@mixin fadetoAlpha-top-bottom($fadeColor1:rgba(255,255,255,1),$fadeColor2:rgba(255,255,255,1),$fadeColor3:rgba(255,255,255,0)){
background: #fff;
background: -moz-linear-gradient(top, $fadeColor1 0%, $fadeColor2 50%, $fadeColor3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fadeColor1), color-stop(50%,$fadeColor2), color-stop(100%,$fadeColor3));
background: -webkit-linear-gradient(top, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
background: -o-linear-gradient(top, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
background: -ms-linear-gradient(top, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
background: linear-gradient(to bottom, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
}


@mixin gradient-top-bottom($bgColorStart:$gradient-start, $bgColorEnd:$gradient-end){
  background: $bgColorStart; 
  background: -moz-linear-gradient(top, $bgColorStart 0%,  $bgColorEnd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bgColorStart), color-stop(100%,$bgColorEnd));
  background: -webkit-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: -o-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: -ms-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: linear-gradient(to bottom, $bgColorStart 0%,$bgColorEnd 100%);

}

@mixin gradient-top-bottom-three($bgColorStart:$gradient-start, $bgColorEnd:$gradient-end){
  background: $bgColorStart; 
  background: -moz-linear-gradient(top, $bgColorStart 0%,  $bgColorEnd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bgColorStart), color-stop(100%,$bgColorEnd));
  background: -webkit-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: -o-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: -ms-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: linear-gradient(to bottom, $bgColorStart 0%,$bgColorEnd 100%);

}

@mixin gradient-top-bottom-four($gr1:$fourColorGr-1,$gr2:$fourColorGr-2,$gr3:$fourColorGr-3,$gr4:$fourColorGr-4){
	background: $gr1;
	background: -moz-linear-gradient(top, $gr1 0%, $gr2 50%, $gr3 51%, $gr4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gr1), color-stop(50%,$gr2), color-stop(51%,$gr3), color-stop(100%,$gr4));
	background: -webkit-linear-gradient(top, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
	background: -o-linear-gradient(top, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
	background: -ms-linear-gradient(top, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
	background: linear-gradient(to bottom, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
}




/* Spesific mixins */

/* Content interaction*/


/* Static navigation */


@mixin staticNaviGr($gr1:$eightColorGr1,$gr2:$eightColorGr2,$gr3:$eightColorGr3,$gr4:$eightColorGr4,$gr5:$eightColorGr5,$gr6:eightColorGr6,$gr7:$eightColorGr7,$gr8:$eightColorGr8){
background: $gr1;
background: -moz-linear-gradient(top, $gr1 0%, $gr2 10%, $gr3 25%, $gr4 37%, $gr5 50%, $gr6 51%, $gr7 83%, $gr8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gr1), color-stop(10%,$gr2), color-stop(25%,$gr3), color-stop(37%,$gr4), color-stop(50%,$gr5), color-stop(51%,$gr6), color-stop(83%,$gr7), color-stop(100%,$gr8));
background: -webkit-linear-gradient(top, $gr1 0%,$gr2 10%,$gr3 25%,$gr4 37%,$gr5 50%,$gr6 51%,$gr7 83%,$gr8 100%);
background: -o-linear-gradient(top, $gr1 0%,$gr2 10%,$gr3 25%,$gr4 37%,$gr5 50%,$gr6 51%,$gr7 83%,$gr8 100%);
background: -ms-linear-gradient(top, $gr1 0%,$gr2 10%,$gr3 25%,$gr4 37%,$gr5 50%,$gr6 51%,$gr7 83%,$gr8 100%);
background: linear-gradient(to bottom, $gr1 0%,$gr2 10%,$gr3 25%,$gr4 37%,$gr5 50%,$gr6 51%,$gr7 83%,$gr8 100%);
  
}


@mixin naviIcon($iconUrl,$gr1:$fourColorGr-1,$gr2:$fourColorGr-2,$gr3:$fourColorGr-3,$gr4:$fourColorGr-4){
	background: $iconUrl no-repeat center;
	height:30px;
	width:30px;
	margin:5px 5px 5px 5px;
	float:left;    
}


/* Dynamic Navigation */


@mixin dynNaviGr($iconUrl,$gr1,$gr2){
box-shadow: 5px 10px 6px -2px #ededed;
background: $iconUrl no-repeat center right #b8bac6;
background: $iconUrl no-repeat center right, -moz-linear-gradient(top, $gr1 0%, $gr2 100%);
background: $iconUrl no-repeat center right, -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gr1), color-stop(100%,$gr2));
background: $iconUrl no-repeat center right, -webkit-linear-gradient(top, $gr1 0%,$gr2 100%);
background: $iconUrl no-repeat center right, -o-linear-gradient(top, $gr1 0%,$gr2 100%);
background: $iconUrl no-repeat center right, -ms-linear-gradient(top, $gr1 0%,$gr2 100%);
background: $iconUrl no-repeat center right, linear-gradient(to bottom, $gr1 0%,$gr2 100%);	
}

/* TODO: opacity -transitio

@mixin dynNaviTransition($trd1:0.6s,$pr1:margin-left,$tf1:ease-in-out){
 -webkit-transition-property:$pr1;
 -webkit-transition-duration:$trd1; 
 -webkit-transition-timing-function:$tf1; 
 -moz-transition-property:$pr1;
 -moz-transition-duration:$trd1; 
 -moz-transition-timing-function:$tf1; 
 -o-transition-property:$pr1;
 -o-transition-duration:$trd1; 
 -o-transition-timing-function:$tf1; 
 transition-property:$pr1;
 transition-duration:$trd1; 
 transition-timing-function: $tf1; ;  
}
*/




@mixin dynNaviTransition($trd1:0.6s,$trd2:0.6s,$trd3:0.1s,$trd4:0.1s,$pr1:opacity,$pr2:visibility,$pr3:margin-left,$pr4:margin-top,$tf1:ease-in-out,$tf2:ease-in-out,$tf3:ease-in-out,$tf4:ease-in-out){
 -webkit-transition-property:$pr1,$pr2,$pr3,$pr4; 
 -webkit-transition-duration:$trd1,$trd2,$trd3,$trd4; 
 -webkit-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
 -moz-transition-property:$pr1,$pr2,$pr3,$pr4;
 -moz-transition-duration:$trd1,$trd2, $trd3,$trd4; 
 -moz-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
 -o-transition-property:$pr1,$pr2,$pr3,$pr4;
 -o-transition-duration:$trd1,$trd2,$trd3,$trd4; 
 -o-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
 transition-property:$pr1,$pr2,$pr3,$pr4;
 transition-duration:$trd1,$trd2,$trd3,$trd4; 
 transition-timing-function: $tf1,$tf2,$tf3,$tf4; ;  
}



/* Tooltip */




@mixin tooltipTransition($trd1,$trd2,$trd3,$trd4,$pr1:opacity,$pr2:visibility,$pr3:margin-left,$pr4:margin-top,$tf1:ease-in-out,$tf2:ease-in-out,$tf3:ease-in-out,$tf4:ease-in-out){
$trd1:0.1s;
$trd2:0.1s;
$trd3:0.1s;
$trd4:0.1s;
	
	-webkit-transition-property:$pr1,$pr2,$pr3,$pr4; 
 -webkit-transition-duration:$trd1,$trd2,$trd3,$trd4; 
 -webkit-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
 -moz-transition-property:$pr1,$pr2,$pr3,$pr4;
 -moz-transition-duration:$trd1,$trd2, $trd3,$trd4; 
 -moz-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
 -o-transition-property:$pr1,$pr2,$pr3,$pr4;
 -o-transition-duration:$trd1,$trd2,$trd3,$trd4; 
 -o-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
 transition-property:$pr1,$pr2,$pr3,$pr4;
 transition-duration:$trd1,$trd2,$trd3,$trd4; 
 transition-timing-function: $tf1,$tf2,$tf3,$tf4; ;  
}



@mixin tooltipBackGround( $bgColorStart, $bgColorEnd){
 background: $bgColorStart; 
 background: -moz-linear-gradient(top, $bgColorStart 0%, $bgColorEnd 100%); 
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bgColorStart), color-stop(100%,$bgColorEnd));
 } 