@import "_base.scss";

.calendarColorProfile_1 {
  border-color: $cToolBrdr;
  background-color: $cToolBgr;
}

.calendarColorProfile_2 {
  border-color: $cToolBrdr;
  background-color: $cToolBgr;
}

.calendarColorProfile_3 {
  border-color: $cToolBrdr;
  background-color: $cToolBgr;
}

.calendarColorProfile_4 {
  border-color: $cToolBrdr;
  background-color: $cToolBgr;
}

.calendarColorProfile_5 {
  border-color: $cToolBrdr;
  background-color: $cToolBgr;
}

.calendarColorProfile_6 {
  border-color: $cToolBrdr;
  background-color: $cToolBgr;
}
	
.calendarColorProfile_7 {
  border-color: $cToolBrdr;
  background-color: $cToolBgr;
}
	
.calendarColorProfile_8 {
  border-color: $cToolBrdr;
  background-color: $cToolBgr;
}

.calendarColorProfile_9 {
  border-color: $cToolBrdr;
  background-color: $cToolBgr;
  
  
}