/* common (.co*) 
Idea is to have these styles shared amongst all possible functionalities
To be used through SASS's extend feature with CSS's selectors.

  */
  
  @import "_base.scss";

.co-buttonContainer{
text-align:center;
@include rounded(10px);

background-color:$aBgr;
}
.co-menuContainer{
margin-top:5px; 
}

.co-textContent{
  @include shadow;
  @include rounded(4px);  
  background-color:#fff;  
}

.co-toolbar{

@include rounded(4px);  
background-color:$tBgr;

}

.co-backLink{
      @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-back.png'));
}

.co-content{
@include rounded(4px);  
background-color:$aBgr;
margin-top:5px;

}

.co-content-th{
  border:1px solid $brd;
  padding:5px;
  font-weight:bold;
  @include gradient-top-bottom; 
}
.co-content-tbody{
  background-color:$bgr;
  border:1px solid $brd;  
}
.co-content-tr{}

.co-content-td{
 padding:0 0 0 5px;     
}

.co-content-tfoot{
  border:1px solid $brd;
  font-weight:bold;
  @include gradient-top-bottom;   
}

.co-settings-floater{
display:none;
visibility:0;
@include rounded(2px);  
background-color:$aBgr;
}



.co-widget{

  padding:20px;
  border:1px solid $brd;
  @include rounded(5px);
}
