@import "_grid.scss";

/* Variables */

$desktop:960px;
$tablet:768px;
$phone_l:480px;
$phone_s:320px;
$gridCols:24;



/* My Custom Grid */

/* TODO: better name, needs changes in the java side */


.container_24 {
	width:$desktop;
	margin-left:auto;
	margin-right:auto; 
}


/* Include the pre-created styles: Desktop*/

@include grid_x($desktop, $gridCols);
@include grid_x_nomargin($desktop, $gridCols);
@include grid_x_othermargin($desktop, $gridCols);


/* Include the pre-created styles: Tablet */

@media screen and (max-width: 768px) {
	
  .container_24 {
    width:$tablet;
  }

  @include grid_x($tablet, $gridCols);
  @include grid_x_nomargin($tablet, $gridCols);
  @include grid_x_othermargin($tablet, $gridCols);
}

@media screen and (max-width: 480px){
  
  .container_24 {
    width:480px;
  }
   
  @include grid_x($phone_l, $gridCols);
  @include grid_x_nomargin($phone_l, $gridCols);
  @include grid_x_othermargin($phone_l, $gridCols);
}

/* Include the pre-created styles: Phone */

@media screen and (max-width: 320px){

  .container_24 {
    width:320px;
  }
  
  @include grid_x($phone_s,24);
  @include grid_x_nomargin($phone_s,24);
  @include grid_x_othermargin($phone_s,24);
}


/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}



.noLid {
 margin-top:0;	
}

.halfLid {
 margin-top:$grid-margin-pixel;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.nomargin {
  margin-right:0;
  margin-left:0;  
}
