@import "_base.scss";


/* Note: All in-development- unfinished-temp-styles are in temp.css */

html{
     height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open Sans',Verdana, sans-serif;
    font-size: 62.5%;
}

/* TODO: H1,H2,H3,H4,H5 */

h1,h2,h3,h4,h5{
	color:$header;
  @include fontShadow; 
  font-weight:bold; 
}

h1{
	 font-size:4em;

}

h2{
	 font-size:3.5em;
}

h3{
	 font-size:2em;
}

h4{
	 font-size:1.75em;
}

h5{
	font-size:1.5em;
}

/* TODO: P, a ... */

 a.tooltip {
 outline:none;

 }
  
 a.tooltip strong {
 line-height:30px;
 }
  
 a.tooltip > span { 
  @include rounded(3px);
  @include shadow;
  @include tooltipTransition(0.1s,0.1s,0.1s,0.1s);
  @include gradient-top-bottom;
  @include border; 

  position:absolute; 

	color:#000;
	opacity: 0; 
	visibility: hidden; 
	z-index: 10; 
	font-size: $text; 
	font-style: normal;  
 

 }  
 

 
 a.tooltip:hover > span { 
 text-align:center;
 opacity: 1;
 padding:15px;
 text-decoration:none; 
 visibility: visible; 
 overflow: visible; 
 @include transitionDirection(0, 0, 0, 38px);
 display: inline; 
 } 
 
 span.tooltipFastLink{
  color:$naviDynamicColor;
  text-decoration:underline;
 }

 span.tooltipFastLink:hover{
  color:#fff;
  tex-decoration:none;
 }


#header {
  @include gradient-top-bottom($headerGradient-start, $headerGradient-end);
  text-align: center;
  height:150px;
  color: #fff;
}


.widgetSpace{
	min-height:1px;
}


#feader {
    position:relative;
    top:-10px;
    text-decoration: none;
    font-size:2.4em;    
}

 a.header {
    color:#fff; 
    text-decoration: none;
}

/* Navigation */

.sticky-wrapper{
  
}

#dynNaviWrapper{
position:absolute;
top:150px;
left:0;

  z-index:12;
}
#dynamicNavigation{
}

#dynamicNaviButton{
border:1px solid #000;
height:40px;
width:40px;
    @include gradient-top-bottom-four($btnGr...);
    @include shadow;
}

#dynamicNaviContainer{
display:none;
border:1px solid #dadada;
background-color:#ededed;
padding:10px;
-moz-border-radius: 0 10px 10px 0;
border-radius: 0 10px 10px 0;
} 

#dynamicNaviContainer div{
background-color:#fff;
padding:5px;
}

#staticNavigationFade{
  @include fadetoAlpha-top-bottom;	
	height:40px;
	z-index:12;
}

#staticNavigation{
  background-color:#ededed;
  border: 1px solid #dadada;
}






.stuck{
    position:fixed;
    top:0
}

.stuckStNav {
  position:fixed;
	top:0;
	left:50%;
	margin-left:-481px;
	
}

.stuckDNav {
  position:fixed !important;
  top:0;
  left:0;

  
}

#sessionPanel {
  position: relative;
}


#headerNavigationPanel {
  position:relative;
  top:100px;
  height:50px;
}

.seeker{
	  text-align:center;
    position:relative;
    top:109px;	
    font-size:1.3em;
    @include gradient-top-bottom-four($contInteractGr...);
    height: 35px;
    width: 165px;
    border: 2px solid #ededed;
    border-radius: 5px;
}

.seeker input{
    margin:5px 0 5px 0;

}



#globalSearchFormIcon{
    height:30px;
    width:30px;
    margin:5px 5px 5px 5px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #888;   
    background: url('../resources/gfx/icons/32x32/actions/navigate-search.png') no-repeat center;
 
}


.languageWidget { 
    position:absolute;
   right:10px;
    margin-top:105px;
    font-size:1.3em;
    @include gradient-top-bottom-four($contInteractGr...);
    height: 20px;
    width : 50px;
    border: 2px solid #ededed;
    border-radius: 5px;
}

.languageSelection{
    float:left;
    padding:1px 4px 3px 4px;
    margin-left:2px;    
}

.languageWidget a {  
    text-decoration:none; 
    padding: 3px;  
    
}

.languageSelection a:hover {    
    text-decoration:none;
    color:#fff;    
}


#content {
    min-height: 800px; 
    margin: 0 auto;
}


#dynNaviShell{
    z-index:1;
    position:fixed;
    background:#fff;
    margin-left:-339px;
    top:150px;    
    width:300px;
    bottom:0;    
}

#dynamicNaviPersonal{
	position:fixed;
	top:200px;
	margin-left:-300px;
	width:300px;
	bottom:0;   
  box-shadow: 5px 10px 6px -2px #dadada;
  @include dynNaviGr(url('../resources/gfx/icons/32x32/actions/navigate-chevron_r.png'),#fff,#fff);
	@include dynNaviTransition;

}

#dynamicNaviPersonal:hover{
	  opacity:1;
    visibility:visible;
    margin-left:-40px;
    border:1px dotted #ededed;
    @include dynNaviGr(url('../resources/gfx/icons/32x32/actions/navigate-chevron_l.png'),#fff,#ededed);    
}

/*

#sidebarLeft {
  width: 250px;
  float: left;
}

#sidebarRight {
  width: 250px;
  float: right; 
}

*/






#footer {
  clear: both; 
}

.buttonPanel {
  text-align: right;
  margin: 4px 0px 4px 0px;
}

/* mainFunction (.mf*) 
Idea is to have these styles shared amongst all possible functions
This can also be done through SASS's extend feature with CSS's selectors.

  */

.mf-buttonContainer{
text-align:center;
@include rounded(10px);
padding:20px 0 20px 0;
background-color:$aBgr;
}
.mf-menuContainer{
margin-top:5px;	
}

.mf-textContent{
  @include shadow;
  @include rounded(4px);  
  background-color:#fff;	
}

.mf-toolbar{
@include rounded(4px); 	
background-color:$aBgr;
padding:10px 20px 10px 20px;
}

.mf-backLink{
      @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-back.png'));
}

.mf-content{
@include rounded(4px);  
background-color:$aBgr;
margin-top:5px;
padding:10px 20px 10px 20px;
}

.mf-content-th{
  border:1px solid $brd;
  padding:5px;
  font-weight:bold;
  @include gradient-top-bottom;	
}
.mf-content-tbody{
  background-color:$bgr;
  border:1px solid $brd;	
}
.mf-content-tr{}

.mf-content-td{
 padding:0 0 0 5px;   	
}

.mf-content-tfoot{
  border:1px solid $brd;
  font-weight:bold;
  @include gradient-top-bottom;   
}




/* communicator (.cm-*) */

.cm-content{	
}
.cm-item{
	  @include rounded(4px);  
    @include gradient-top-bottom;
    @include shadow;
    margin-bottom:5px;
    min-height:50px;
    padding:5px; 
    background-color:$aBgr;	
}
.cm-message{
    @include border($msgBrd,1px);
    @include gradient-top-bottom($msgGr...);
}
.cm-message-view{
	 @include rounded(4px);  
    @include gradient-top-bottom;
    @include shadow;
    margin-bottom:10px;
    min-height:50px;
    padding:5px; 
    
}

.cm-message-toolbar, .cm-viewmessagethread-toolbar {
	padding:0;
	height:40px;
}

.cm-message-replyLink {
     @include naviIcon(url('../resources/gfx/icons/32x32/actions/communicator-reply.png'));
}

.cm-message-replyAllLink {
      @include naviIcon(url('../resources/gfx/icons/32x32/actions/communicator-replyall.png'));
}

.cm-message-trashMessageLink {
      @include naviIcon(url('../resources/gfx/icons/32x32/actions/communicator-trash.png'));
}

.cm-message-senderName{
}
.cm-message-recipients{
}
.cm-message-content{
	padding:15px;
	font-size:1.3em;
	white-space: pre-line;
}
 
.cm-news{
}
.cm-request{
}

.cm-item-header{
	float:left;	
}

.cm-item-senderPictureContainer, .cm-senderPictureContainer{
  float:left;
	@include border($brd);
	@include shadow;
	height:50px;
	width:50px
}
.cm-item-senderName, .cm-message-senderName{
	float:left;
	margin-left: 0.5em;
}
.cm-item-title, .cm-message-title, .cm-message-date{

   font-size: 2em;
   margin-left: 0.5em;
}

.cm-item-date, .cm-message-date{
	margin-left: 0.5em;
	float:left;
}
	
.cm-item-tags, .cm-message-tags{
	margin-top:5px;
	font-size:1.3em;
	   @include border(#ededed);
    @include rounded(4px);
    @include gradient-top-bottom(#707070, #666);
    @include shadow;
	color:#fff;
	padding:5px;
}

.cm-replyMessage{
	padding:5px 5px 5px 10px;
	background-color:#fff;
	@include rounded(4px);
}


/* Coursepicker (.cp-*) */


.cp-allCourses-filterPane{
	
}

.cp-allCourses-searchBtn{}
.cp-allCourses-filterBtn{}
.cp-allCourses-filterSelector-popup{
   @include rounded(4px);
   @include border($brd);
    background-color: $aBgr;
    padding: 5px;
    position: absolute;
    width: 100px;
}
.cp-filterSelection{}

.cp-filterSelector-subTitle{
 font-weight:bold;
 color:$subTitle;
}

.cp-filterSelector-selectionContainer{
	padding-left:5px
	
}
.cp-filterSelection-name{}
.cp-filterList{}
.cp-filter{
  @include rounded(4px);
  @include border($brd);
  @include gradient-top-bottom(#707070, #666);
  @include shadow;
  color:#fff;
  float:left;
	padding:5px;
	

}
.cp-allCourses-filterPane{
	   background-color:$saBgr;
	
}
.cp-myCourses-searchBtn{}
.cp-filterListPane{}

.cp-course{
	  @include border(#ededed);
    @include rounded(4px);
    @include gradient-top-bottom;
    @include shadow;
    margin-top:5px; 
    padding:10px;
}


.cp-course-header{
    @include border(#ededed);
    @include rounded(4px);
    @include gradient-top-bottom(#707070, #666);	
	  padding:5px;
}
.cp-course-rating{
	float:right;
	color:#fff;
}
.cp-course-name{
color:$lukio;
}

.cp-course-toolbar{}
.cp-course-toolbar-tour-button{}
.cp-course-toolbar-attend-button{}

.cp-course-details{}

.cp-course-detailsContainer{
		
}
.cp-course-details-description{
	display:inline;
	min-height:100px;
	padding:10px;
	width:70%;
	float:left;
	box-sizing:border-box;
-moz-box-sizing:border-box;
}

.cp-course-details-additionalInfo{
	display:inline;
	min-height:100px;
  padding:0 10px 10px 10px;
  width:29%;
	float:right;
	background-color:$aBgr;
  box-sizing:border-box;
-moz-box-sizing:border-box;
}
.cp-course-details-teachers{

	
}
.cp-course-details-teachers-caption{
	font-weight:bold;
	padding:5px 0 5px 0;
}
.cp-course-details-teacher{
	border-bottom:solid 1px $brd;
	min-heigth:60px;
	

}
.cp-course-details-teacher-name{
	font-weight:bold;
	
}
.cp-course-details-teacher-picture-container{
	float:left;
  width:50px;
  overflow:hidden;
  padding:0 5px 0 5px;
	
}
.cp-course-details-teacher-picture{}
.cp-course-details-fee{}
.cp-course-details-assessmentFee{}


/*
.cp-lukio
.cp-ammattillinen
.cp-peruskoulu
.cp-ilmio
.cp-paja
.cp-ryhmakurssi
*/


/* Settings */

.se-users, .se-roles, .se-workspaces, .se-workspacetypes, .se-plugins, .se-gradingscales, .se-courseidentifiers{
  @extend .mf-content;  
}


se-container{
	
	
}

.se-container ul{
  margin-left:20px;
}

.se-container th[scope="col"]{
 @extend .mf-content-th;
}

.se-container th[scope="colgroup"]{
  color:$header;
  @include fontShadow;
  font-size:1.3em;
  padding:5px;
  font-weight:bold;  
}

.se-container tbody{
 @extend .mf-content-tbody;
}


.se-container td{
  @extend .mf-content-td;

}

.se-container tfoot{
  @extend .mf-content-tfoot;
}

.se-index{
	
}

.se-widget-userAdd{
  @extend .mf-buttonContainer;	
  margin-top:5px;
  padding:0;
  width:40px;
  height:40px;
}

.se-widget-userAdd a{
    @include customIcon(url('../resources/gfx/icons/32x32/actions/settings-users-add.png'),$mainFuncBtnGr...);       
    @include rounded(2px);
    @include shadow;
    @include border($mainFuncBtnBrd);	
}

div[data-name="settings.content-sidebar.left"]{

	padding:0;
	
}



.wallEntry {
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #4444aa;
  padding-left: 68px;
  position: relative;
  min-height: 60px;
}

.wallEntryCreator, .wallEntryCommentCreator {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.wallEntryDate, .wallEntryCommentDate {
  font-size:1.3em; 
  float: right;
}

.wallEntryContent, .wallEntryCommentContent {
  font-size: 2.4em;
}

.wallEntryCourseLink, .wallEntryForumAreaLink {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.wallEntryComments {
  margin-top: 8px;
  margin-left: 16px;
  margin-bottom: $text;
  background-color: #eeeeff;
}

.wallEntryComment {
  padding-left: 68px;
  position: relative;
  min-height: 60px;
}

.wallEntryCommentTitle, .wallEntryTitle {
  padding-top: 4px;
}

.wallEntryFooter {
  font-size: 1.6em;
  color: #4444aa;
}

.wallEntryReplyLink {
  font-weight: bold;
  cursor: pointer;
}

.wallEntryUserPicture {
  position: absolute;
  left: 0;
  
  margin: 5px 5px 5px 5px;
  width: 50px;
  height: 50px;
}

.wallEntryGuidanceRequest {
  color: red;
}

.showUserName {
  font-size: 3.2em;
}

/* OAuth */

.oAuthConfirmText {
    text-align: center;
    padding: 16px;
    font-size: 1.3em;
    font-weight: bold;
}

.oAuthConfimButton, .oAuthDeclineButton {
  display: block;
  padding: 16px;
  border-radius: 8px;
  font-size: 1.8em;
  text-decoration: none;
  font-weight: bold;
  float: left;  
  margin-left: 45px;
  width: 235px;
}

.oAuthConfimButton {
  background: #efe;
  border: 1px solid #ded;
  color: #292;
}

.oAuthDeclineButton {
  background: #fee;
  border: 1px solid #edd;
  color: #922; 
}

.forumThreadBody {
  position: relative;
  min-height: 80px;
}

.forumThreadReplyBody {
  position: relative;
  min-height: 60px;
}

.forumThreadTitle {
  background-color: #eeeeff;
}

.forumThreadMessage, .forumThreadReplyMessage {
  font-size: 1.3em;
  margin-left: 70px;
  margin-top: 8px;
}

.forumThreadTitle {
  font-weight: bold;
}

.forumThreadBody, .forumThreadReplyBody {
  border: 1px solid #eeeeff;
  border-radius: 3px;
  margin: 4px;
}

.forumThreadUserImageContainer {
  position: absolute;
  top: 24px;
  left: 4px;
}

.forumThreadReplyUserImageContainer {
  position: absolute;
  top: 4px;
  left: 4px;
}
