/* Everything temp here, keeping static styles clean */

@import "_base.scss";

.tempUserProfileWidgetPicture{
	width:50px;
	height:50px;
	  border: 1px solid #aaa;
	  border-radius: 2px;
	  box-shadow: 1px 1px 3px #888;
	background:url(../resources/gfx/temp/tux.png) center no-repeat;
    
}

/* Index  */

.index-footer{
  position:fixed;
  bottom:0;
  width:960px;
  margin-left:0;
  border:1px solid #ededed;
  background:#dadada;
  @include rounded(5px);
  
  
}

.index-footer-block{
  border:1px solid #000;
  float:left; 
  margin:10px;
  padding:10px;
  background:#fff;
}


.index-footer-block-content{}

.seeker_autocomplete_item_container {
	position: relative;
	height: 48px;
}

.seeker_autocomplete_item_label {
	left: 50px;
	position: absolute;
}

.seeker_autocomplete_item_image img {
	width: 40px;
	height: 40px;
	position: absolute;
	left: 4px;
	top: 4px;
}

.communicator_seeker_autocomplete_item_content {
	right: 4px;
	position: absolute;
}

.communicator_seeker_autocomplete_item_content_link {
	display: inline;
}

