
@import "_base.scss";
@import "commons.scss";

/* Widgets */


/* staticNaviDock  */

.newCalendarWidget {
  display: inline-block;
}

.newCalendarButton {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}

.newCalendarButton:hover{
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}

.newEventWidget {
  display: inline-block;
}

.newEventButton {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}

.newEventButton:hover{
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}

.calendarSettingsButton{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}

.calendarSettingsButton:hover{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}


.calendarsVisibleButton{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendars-visible.png'));
}


.calendarsVisibleButton:hover{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendars-visible.png'));
}

.naviIconHome{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-home.png'));
}

.naviIconHome.disabled{
   opacity:0.2;
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-home.png'));
}

.naviIconHome:hover{
   opacity:0.2;
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-home.png'));
}

.naviIconCoursePicker{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-coursepicker.png'));
}

.naviIconCoursePicker.disabled{
	 opacity:0.2;
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-coursepicker.png'));
}

.naviIconForum{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-forum.png'));
}

 .naviIconForum.disabled{
   opacity:0.2;
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-forum.png')) 
}

.naviIconDiary{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-diary.png'));	
}

 .naviIconDiary.disabled{
    opacity:0.2;
    @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-diary.png')); 
}
    
.naviIconCommunicator{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-communicator.png')); 	    
}

 .naviIconCommunicator.disabled{
    opacity:0.2;
    @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-communicator.png'));  
}

.naviIconStudyTracker{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-studytracker.png')); 	  
}

 .naviIconStudyTracker.disabled{
    opacity:0.2;
    @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-studytracker.png'));    
}

.naviIconCalendar{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-cal.png'));
}

 .naviIconCalendar.disabled{
    opacity:0.2;
    @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-cal.png'));   
}


.naviIconLogout{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-logout.png'));	
    float:right;    
}

.naviIconSettings{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-settings.png'));  
    float:right;      
}


.naviIconStudentGrading {
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-student-grading.png')); 	    
}

 .naviIconStudentGrading.disabled{
    opacity:0.2;
    @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-student-grading.png'));  
}


/* Settings navigation */

.naviIconSettingsNavigationUsers {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-users.png')); 	    
}

.naviIconSettingsNavigationUsers.disabled{
  opacity:0.2;
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-users.png'));  
}

.naviIconSettingsUserAdd {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-users-add.png')); 	    
}

.naviIconSettingsUserAdd.disabled{
  opacity:0.2;
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-users-add.png'));  
}

.naviIconSettingsNavigationWorkspaces {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-workspaces.png')); 	    
}

.naviIconSettingsNavigationWorkspaces.disabled{
  opacity:0.2;
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-workspaces.png'));  
}

.naviIconSettingsNavigationWorkspaceTypes {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-workspace-types.png')); 	    
}

.naviIconSettingsNavigationWorkspaceTypes.disabled{
  opacity:0.2;
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-workspace-types.png'));  
}

.naviIconSettingsNavigationPlugins {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-plugins.png'));
}

.naviIconSettingsNavigationPlugins.disabled{
  opacity:0.2;
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-plugins.png'));
}

.naviIconSettingsNavigationRoles {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-roles.png'));
}

.naviIconSettingsNavigationRoles.disabled{
  opacity:0.2;
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-roles.png'));
}

.naviIconSettingsNavigationGradingScales {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-grading-scales.png'));
}

.naviIconSettingsNavigationGradingScales.disabled{
  opacity:0.2;
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-grading-scales.png'));
}

.naviIconSettingsNavigationCourseIdentifiers {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-course-identifiers.png'));
}

.naviIconSettingsNavigationCourseIdentifiers.disabled{
  opacity:0.2;
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/settings-course-identifiers.png'));
}

/* Workspace */

.naviIconWorkspaceNavigationMembers.disabled{
  opacity:0.2;
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/workspace-navigation-members.png'));  
}

.naviIconWorkspaceNavigationMembers {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/workspace-navigation-members.png'));
}

/* Calendar */

.calendarSettingsWidget {
  display: inline-block;
}

.calendarSettingsWeekFirstDayContainer {
  padding: 4px;
}

.calendarsVisibleWidget {
  display: inline-block;
}

.visibleCalendars {
  position: absolute;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F3F3F3 50%, #EDEDED 51%, #FFFFFF 100%) repeat scroll 0 0 transparent;
  border: 1px solid #AAAAAA;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 1px 5px #888888;
  margin: 8px;
  padding: 8px;
  z-index: 9999;
}

.visibleCalendarContainer {
  white-space: nowrap;
}

.visibleCalendarContainer label {
  margin-left: 8px; 
}

/* Login */

.loginWidget{
	  background:#ededed;
	  padding:10px ;
	  @include rounded(5px);
    text-align:right;
    color:#000;
    font-size:9px;
    width:240px;

}

.logoutWidget{
    text-align:right;
    color:#000;
    width:240px;
    position:absolute;
    top:5px;
    right:5px;
}


/* Userprofile */
 #userProfileWidget{
    text-align:right;
    color:#000;
    font-size: 10px;
    width:210px;
    position:absolute;
    top:5px;
    right:5px;
}

#userProfileWidgetInfo{
	float:left;
	margin-left:70px;   
}

#userProfileNavigationContainer{

}




.widget {

}

#staticNavigation .widgetSpace {


 height:40px;
 
}

.widgetTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.calendarWidget {
  width: 570px;
}

.calendarWidget div.fullCalendar {
  width: 100%;
  position: static;
}

.calendarWidget div.fullCalendar table {
  width: inherit;
}

.calendarWidget div.fullCalendar table tr td {
  width: 14.30%;
}

.calendarWidget div.fullCalendar .fullCalendarEventfulDay {
  background: lightgreen;
}

.calendarWidget div.fullCalendar .today.fullCalendarEventfulDay {
  border-color: green;
}



/* Navigation */

.wi-navigation-textlinks{
   padding:6px 0 0 0;

	vertical-align:middle;
}
.wi-navigation-textlinks span{
   font-size:2em;
}

.wi-navigation-textlinks span:after{
   content:"|";
}

.wi-navigation-textlinks span:last-child:after{
   content:none;
}



/* frontpage widgets */

.wi-frontpage-info{
	
}

.wi-news{

}

.wi-news-item-content{

}


.wi-news-item{
	margin-top:10px;


}

.wi-news-primary-item{
	margin-top:10px;
  @extend .co-widget;
}

.wi-news-primary-item-bottom{
  margin-top:10px;
  @extend .co-widget;
}

.wi-news-secondary-item{

  margin-top:10px;
  @extend .co-widget;
  }

.wi-news-item-picture{
  background:url("http://farm8.staticflickr.com/7363/9872617353_fb529696e9.jpg") no-repeat ;
  background-size:100%;
  height:200px;
  width:200px;
  float:left;
}

.wi-news-item-content-description{
  float:left;
box-sizing:border-box;
-moz-box-sizing:border-box;   
background-color:$aBgr;
}

.wi-frontpage-students{
  @extend .co-widget;
}
	


.wi-frontpage-students ul{
  padding:20px;
}

.wi-frontpage-students li{
  padding:5px;
    @include rounded(5px);
}

.wi-frontpage-students li a{
  text-decoration: none;
  color: #000000;
}

.wi-frontpage-students li:nth-child(odd) {
  background:#ededed;
}

.wi-frontpage-calendar{
	margin-top:10px;
  @extend .co-widget;
}

.wi-frontpage-calendar-container{
  background-color:$aBgr;
  height:200px;
}
	

.wi-frontpage-wallfeed {
	margin-top:10px;
  @extend .co-widget;
	
}

.wi-frontpage-wallfeed-item{
  padding:5px;
  border:1px solid $brd;
  margin-bottom:1px;
}

.wi-frontpage-courses{
  @extend .co-widget;
}

.wi-frontpage-courses ul{
  padding:20px;
  
}

.wi-frontpage-courses li{
  padding:5px;
      @include rounded(5px);
}

.wi-frontpage-courses li:nth-child(odd) {
	background:#ededed;
}


