
@import "_base.scss";

/* Widgets */


/* staticNaviDock  */

.newCalendarWidget {
  display: inline-block;
}

.newCalendarButton {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}

.newCalendarButton:hover{
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}

.newEventWidget {
  display: inline-block;
}

.newEventButton {
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}

.newEventButton:hover{
  @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}

.calendarSettingsButton{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}

.calendarSettingsButton:hover{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendar-settings.png'));
}


.calendarsVisibleButton{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendars-visible.png'));
}


.calendarsVisibleButton:hover{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/calendars-visible.png'));
}

.naviIconCoursePicker{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-coursepicker.png'));
}

.naviIconCoursePicker.disabled{
	 opacity:0.2;
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-coursepicker.png'));
}

.naviIconForum{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-forum.png'));
}

 .naviIconForum.disabled{
   opacity:0.2;
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-forum.png')) 
}

.naviIconDiary{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-diary.png'));	
}

 .naviIconDiary.disabled{
    opacity:0.2;
    @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-diary.png')); 
}
    
.naviIconMail{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-messaging.png')); 	    
}

 .naviIconMail.disabled{
    opacity:0.2;
    @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-messaging.png'));  
}

.naviIconStudyTracker{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-studytracker.png')); 	  
}

 .naviIconStudyTracker.disabled{
    opacity:0.2;
    @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-studytracker.png'));    
}

.naviIconCalendar{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-calendar.png'));
}

 .naviIconCalendar.disabled{
    opacity:0.2;
    @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-calendar.png'));   
}


.naviIconLogout{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-logout.png'));	
    float:right;    
}

.naviIconSettings{
   @include naviIcon(url('../resources/gfx/icons/32x32/actions/navigate-settings.png'));  
    float:right;      
}


/* Calendar */

.calendarSettingsWidget {
  display: inline-block;
}

.calendarSettingsWeekFirstDayContainer {
  padding: 4px;
}

.calendarsVisibleWidget {
  display: inline-block;
}

.visibleCalendars {
  position: absolute;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F3F3F3 50%, #EDEDED 51%, #FFFFFF 100%) repeat scroll 0 0 transparent;
  border: 1px solid #AAAAAA;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 1px 5px #888888;
  margin: 8px;
  padding: 8px;
  z-index: 9999;
}

.visibleCalendarContainer {
  white-space: nowrap;
}

.visibleCalendarContainer label {
  margin-left: 8px; 
}

/* Register */

#registerWidget{
    font-size: 10px;
    width:210px;    
}


/* Login */

.loginWidget{
    text-align:right;
    color:#000;
    font-size:9px;
    width:240px;
    position:absolute;
    top:5px;
    right:5px;
}


/* Userprofile */
 #userProfileWidget{
    text-align:right;
    color:#000;
    font-size: 10px;
    width:210px;
    position:absolute;
    top:5px;
    right:5px;
}

#userProfileWidgetInfo{
	float:left;
	margin-left:70px;   
}

#userProfileNavigationContainer{

}




.widget {

}

#staticNavigation .widgetSpace {


 height:40px;
 
}

.widgetTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.fishImage {
  height: 100px;
  width: 150px;
  background-image: url('../gfx/fish.jpg');
  background-position: right center;
  background-repeat: no-repeat;
  display: inline-block;
}

.fishText {
  padding-top: 50px;
  vertical-align: top;
  display: inline-block;
}

.calendarWidget {
  width: 570px;
}

.calendarWidget div.fullCalendar {
  width: 100%;
  position: static;
}

.calendarWidget div.fullCalendar table {
  width: inherit;
}

.calendarWidget div.fullCalendar table tr td {
  width: 14.30%;
}

.calendarWidget div.fullCalendar .fullCalendarEventfulDay {
  background: lightgreen;
}

.calendarWidget div.fullCalendar .today.fullCalendarEventfulDay {
  border-color: green;
}