@import "../../base/colors";
@import "../../base/mixins";
@import "../../base/breakpoints";

$main-function-link-icon-active-border-size: 5px;

.main-function.link {
  
  &.link-icon {
    color: $color-main-function-link-icon-color;
    
    &:hover, &.hover {
      color: $color-main-function-link-icon-color-hover;
    }
    &:active, &.active {
      &::before {
        content: " ";
        height: $main-function-link-icon-active-border-size;
        background-color: $color-main-function-link-icon-border-top-color-active;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
      }
      color: $color-main-function-link-icon-color-active;
    }
  }
  
  &.main-function-link-language-picker {
    font-size: 14px;
    background-color: $color-main-function-link-language-picker-background;
    color: $color-main-function-link-language-picker-text;

    &:hover,
    &.hover {
      background-color: opacify($color-main-function-link-language-picker-hover-background, 0.6);
      color: $color-main-function-link-language-picker-text;
    }

    &:active,
    &.active {
      background-color: opacify($color-main-function-link-language-picker-hover-background, 0.6);
      color: $color-main-function-link-language-picker-text;
    }
  }
  
  &.main-function-link-profile-menu {
    font-size: 14px;
    background-color: $color-main-function-link-profile-menu-background;
    color: $color-main-function-link-profile-menu-text;
    justify-content: flex-start;

    &:hover,
    &.hover {
      background-color: $color-main-function-link-profile-menu-hover-background;
      color: $color-main-function-link-profile-menu-text;
    }

    &:active,
    &.active {
      background-color: $color-main-function-link-profile-menu-hover-background;
      color: $color-main-function-link-profile-menu-text;
    }
  }
}