@import "../../base/colors";
@import "../../base/mixins";
@import "../../base/breakpoints";

$main-function-link-icon-active-border-size: 5px;

.main-function.link {
  
  &.link-icon {
    color: $color-environment-link-icon-color;
    
    &:hover, &.hover {
      color: $color-environment-link-icon-color-hover;
    }
    &:active, &.active {
      &::before {
        content: " ";
        height: $main-function-link-icon-active-border-size;
        background-color: $color-environment-link-icon-border-top-color-active;
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
      }
      color: $color-environment-link-icon-color-active;
    }
  }
  
  &.main-function-link-language-picker {
    font-size: 14px;
    background-color: $color-environment-link-language-picker-background;
    color: $color-environment-link-language-picker-text;

    &:hover,
    &.hover {
      background-color: opacify($color-environment-link-language-picker-hover-background, 0.6);
      color: $color-environment-link-language-picker-text;
    }

    &:active,
    &.active {
      background-color: opacify($color-environment-link-language-picker-hover-background, 0.6);
      color: $color-environment-link-language-picker-text;
    }
  }
  
  &.main-function-link-profile-menu {
    font-size: 14px;
    background-color: $color-environment-link-profile-menu-background;
    color: $color-environment-link-profile-menu-text;
    justify-content: flex-start;

    &:hover,
    &.hover {
      background-color: $color-environment-link-profile-menu-hover-background;
      color: $color-environment-link-profile-menu-text;
    }

    &:active,
    &.active {
      background-color: $color-environment-link-profile-menu-hover-background;
      color: $color-environment-link-profile-menu-text;
    }
  }
  
  &.main-function-link-menu {
    font-size: 14px;
    justify-content: flex-start;
    padding: 0 15px 0 15px;
    
    .icon {
      background-color: $color-environment-link-menu-icon-background;
      color: $color-environment-link-menu-icon-color;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      font-size: 20px;
      line-height: 35px;
      vertical-align: middle;
      text-align: center;
    }
    
    &.main-function-link-menu-profile {
      .icon {
        margin-right: 0;
        background: $color-environment-link-menu-profile-icon-background;
        color: $color-environment-link-menu-profile-icon-color;
      }
      .embbed-profile-image {
        width: 35px;
        height: 35px;
        border-radius: 100%;
        margin-right: 10px;
      }
    }
    
    &.main-function-link-menu-instructions {
      .icon {
        background: $color-environment-link-menu-instructions-icon-background;
        color: $color-environment-link-menu-instructions-icon-color;
      }
    }
    
    &.main-function-link-menu-helpdesk {
      .icon {
        background: $color-environment-link-menu-heldesk-icon-background;
        color: $color-environment-link-menu-helpdesk-icon-color;
      }
    }
    &.main-function-link-menu-logout {
      .icon {
        background: $color-environment-link-menu-logout-icon-background;
        color: $color-environment-link-menu-logout-icon-color;
      }
    }
  }
}