@import "../../base/colors";
@import "../../base/mixins";
@import "../../base/breakpoints";

.main-function.menu {
  .menu-header {
    background-color: $color-main-function-menu-header-background;
  }
  .menu-logo {
    background: url("/gfx/of-site-logo-text-white.png") no-repeat center center;
  }
  .menu-container .menu-items .menu-item {
    height: 50px;
    
    &.menu-item-space {
      height: 30px;
    }
  }
}