@import "../../base/mixins";
@import "../../base/breakpoints";

.main-function.ordered-container {
  &.main-function-ordered-container-for-panels {
    height: 100%;
    padding: 80px 0 70px 0;
    
    @include breakpoint-up($breakpoint-landscape-pad){
      padding: 80px 10px 70px 10px;
      
      >.ordered-container-item {
        overflow: visible;
        padding: 0 10px 0 10px;
      }
    }
  }
  
  &.main-function-ordered-container-for-panels-column {
    height: 100%;
    width: 100%;
    overflow: visible;
    
    >.ordered-container-item {
      flex: 1 0 auto;
    }
    
    @include breakpoint-up($breakpoint-landscape-pad){
      
      >.ordered-container-item {
        overflow: visible;
        padding: 0;
      }
    }
  }
}