.audio-record.webrtc[data-readonly='readonly'] {
  padding: 0 10px;

  .no-clips {
    color: #7c7c7c;
    margin: 8px 0;
    text-align: center;
  }

  .clip {
    margin: 10px 0;
    
    audio {
      width: 100%;
    }
    
    a.remove-clip {
      display: none !important;
    }
  }

  .controls {
    display: none;
  }
} 

.audio-record {
  border: 2px solid #abdbed;
  border-radius: 3px;
  line-height: 1;
  padding: 5px 10px;
  
  &.muikku-field-unsaved {
    border: 2px solid #e4e630;
    
    &:hover {
      border:2px solid #e4e630;
    }
  }
  
  &.muikku-field-saving {
    animation: saving-fields 4s ease infinite;
  }

  &.muikku-field-saved {
    border: 2px solid #9cf3c7;
    
    &:hover {
      border: 2px solid #9cf3c7;
    }
  }
  
  &:hover {
    border: 2px solid #8dd6f1;
  }
  
  &[data-readonly="readonly"] {
    background: #fcfcfc !important;
    border: 2px dotted #eaeaea !important;
    color: #7c7c7c !important;
    
    &:hover {
      border: 2px dotted #eee;
      color: #555555 !important;
    }
  }

  .clip {
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-flow: row nowrap;
    margin: 5px 0 10px;
    
    progress {
      height: 22px;
      margin: 0 0 0 5px;
    }
    
    audio {
      flex-basis: auto;
      flex-grow:1;
      flex-shrink: 1;
    }

    .remove-clip {
      color: #de3211;
      flex-basis: auto;
      flex-grow:0;
      flex-shrink: 0;
      font-size: 20px;
      margin: 0 0 0 5px;
      padding: 5px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
    }
    
    .download-clip {
      color: #288fcd;
      flex-basis: auto;
      flex-grow:0;
      flex-shrink: 0;
      font-size: 20px;
      margin: 0 0 0 5px;
      padding: 5px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
    }
    
    .progress-label {
      padding: 5px;
      margin: 0;
    }
  }
    
  .controls {
  
    .hint-text {
      display: block;
      font-style: italic;
      margin: 0;
      padding: 5px 0;
    }
    
    a {
      align-items: center;
      background: #fff;
      border: 1px solid #7391a7;
      border-radius: 2px;
      color: #2c2c2c;
      display: inline-flex;
      font-size: 12px;
      margin: 5px 10px 5px 0;
      padding: 5px 5px 5px 7px;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;

      &.start-record {
        border: 1px solid #f7846d;
        color: #de3211;
      }

      &.stop-record {
        border: 1px solid #000;
        color: #000;
      }

      span {
        font-family: 'Open Sans', Arial, sans-serif;
        margin: 0 5px 0 0;
        vertical-align: middle;
      }
    }
  }
}
