.material-page {

  // CORRECT ANSWERS COUNTER
  .correct-answers-count-container {
    display: block;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    
    .correct-answers-count-label {
      padding: 0 5px;
      display: inline-block;
    }
    
    .correct-answers-count-data {
      padding: 0 5px;
      display: inline-block;
    }
    
  }
  
  // EXAMPLE ANSWERS
  span.muikku-field-examples {
    background: #e2ffe2;
    border-radius: 3px;
    display: inline-block;
    font-size: 14px;
    font-style: italic;
    margin: 1px 3px;
    padding: 3px;
    vertical-align: middle;
    width: auto;
    
    span.muikku-field-examples-title {
      font-weight: 600;
      margin: 0 6px;
      vertical-align: top;
    }
    
    span.muikku-field-example {
      border-left: 1px solid #439ba0;
      display: inline-block;
      line-height: 1.5;
      margin: 3px 0 3px 5px;
      padding: 0 8px;
    }
    
  }
  
  // TEXTFIELD, TEXTAREA, SELECT CORRECT ANSWERS
  div.muikku-text-field.muikku-field-correct-answer,
  div.muikku-memo-field.muikku-field-correct-answer,
  input[type="text"].muikku-field-correct-answer,
  textarea.muikku-field-correct-answer,
  select.muikku-field-correct-answer {
    border: 2px solid #00ff2a;
    border-radius: 3px;
    box-shadow: none;
    
    &:hover {
      border: 2px solid #00ff2a;
      box-shadow: none;
    }
    
  }
  
  // TEXTFIELD, TEXTAREA, SELECT INCORRECT ANSWERS
  div.muikku-text-field.muikku-field-incorrect-answer,
  div.muikku-memo-field.muikku-field-incorrect-answer,
  input[type="text"].muikku-field-incorrect-answer,
  textarea.muikku-field-incorrect-answer,
  select.muikku-field-incorrect-answer {
    border: 2px solid #f64e4e;
    box-shadow: none;
    border-radius: 3px;
    
    &:hover {
      border: 2px solid #f64e4e;
      box-shadow: none;
    }
    
  }
  
  // CONNECT FIELD CORRECT ANSWERS
  div.muikku-connect-field.muikku-field-correct-answer {
    border: none;
    box-shadow: none;
    
    .muikku-connect-field-counterpart.muikku-connect-field-correct-answer, 
    .muikku-connect-field-term.muikku-connect-field-correct-answer {
      background: #55fc70;
    }
    
  }
  
  // CONNECT FIELD INCORRECT ANSWERS
  div.muikku-connect-field.muikku-field-incorrect-answer {
    border: none;
    box-shadow: none;
    
    .muikku-connect-field-counterpart.muikku-connect-field-wrong-answer, 
    .muikku-connect-field-term.muikku-connect-field-wrong-answer {
      background: #f64e4e;
      
      &.muikku-connect-field-term-selected {
        background: #3dc7ff;
        color: #fff;
        font-weight: 400;
      }
      
    }
    
    // Connect field's correct answer's styling is required here as we mark 
    // wrapping element to be incorrect when checking exercise
    .muikku-connect-field-counterpart.muikku-connect-field-correct-answer, 
    .muikku-connect-field-term.muikku-connect-field-correct-answer {
      background: #55fc70;
    }
    
  }
  
  // ORGANIZER FIELD CORRECT ANSWERS
  div.muikku-organizer-field {
    
    .muikku-category.muikku-field-correct-answer {
      border: 2px solid #00ff2a;
      border-radius: 3px;
      box-shadow: none;
      
      &:hover {
        border: 2px solid #00ff2a;
        box-shadow: none;
      }
      
    }
    
    .muikku-category.muikku-field-semi-correct-answer {
      border: 2px solid #dab33d;
      border-radius: 3px;
      box-shadow: none;
      
      &:hover {
        border: 2px solid #dab33d;
        box-shadow: none;
      }
      
    }
    
    .muikku-category.muikku-field-incorrect-answer {
      border: 2px solid #f64e4e;
      border-radius: 3px;
      box-shadow: none;
      
      &:hover {
        border: 2px solid #f64e4e;
        box-shadow: none;
      }
  
    }
    
  }
  
  // ORGANIZER FIELD INCORRECT ANSWERS
  .muikku-sorter-field {
    
    .muikku-sorter-items-container.muikku-field-correct-answer {
      border: 2px solid #00ff2a;
      border-radius: 3px;
      box-shadow: none;
      
      &:hover {
        border: 2px solid #00ff2a;
        box-shadow: none;
      }
      
    }
    
    .muikku-sorter-items-container.muikku-field-semi-correct-answer {
      border: 2px solid #dab33d;
      border-radius: 3px;
      box-shadow: none;
      
      &:hover {
        border: 2px solid #dab33d;
        box-shadow: none;
      }
      
    }
    
    .muikku-sorter-items-container.muikku-field-incorrect-answer {
      border: 2px solid #f64e4e;
      border-radius: 3px;
      box-shadow: none;
      
      &:hover {
        border: 2px solid #f64e4e;
        box-shadow: none;
      }
  
    }
    
    .muikku-sorter-items-container {
    
      .muikku-sorter-item {
      
        &.muikku-field-correct-answer {
          background: #55fc70;
        }
        
        &.muikku-field-incorrect-answer {
          background: #f64e4e;
        }
      
      }
    
    }
    
  }
  
  // RADIO BUTTON, CHECKBOX CORRECT ANSWERS
  input[type="checkbox"].muikku-field-correct-answer,
  input[type="radio"].muikku-field-correct-answer {
    box-shadow: 0 0 0 2px rgba(0,255,42,1);
    
    &:hover {
      box-shadow: 0 0 0 2px rgba(0,255,42,1);
    }
    
  }
  
  // RADIO BUTTON, CHECKBOX INCORRECT ANSWERS
  input[type="checkbox"].muikku-field-incorrect-answer,
  input[type="radio"].muikku-field-incorrect-answer {
    box-shadow: 0 0 0 2px rgba(255,0,0,1);
    
    &:hover {
      box-shadow: 0 0 0 2px rgba(255,0,0,1);
    }
  
  }

}