.eval-modal {
  background: $evaluation-modal-background-color;
  left: 0;
  height: 100%;
  min-width: 320px;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;
}

.eval-modal-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 31;
  
  &:hover {
    text-shadow: 0 0 15px $evaluation-modal-close-textshadow-color;
  }
  
  &.icon-close-small {
    color: $evaluation-modal-close-font-color;
    font-size: 30px;
    height: 30px;
    padding: 10px;
    width: 30px;
  }
  
}

.eval-modal-assignment-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 31;
  
  &:hover {
    text-shadow: 0 0 15px $evaluation-modal-assignment-close-textshadow-color;
  }
  
  &.icon-arrow-right {
    border: 1px solid $assignment-color;
    border-radius: 100%;
    color: $assignment-color;
    font-size: 16px;
    height: 16px;
    margin: 12px;
    padding: 4px;
    width: 16px;
  }
  
}

// STUDENT INFO & ASSIGNMENTS <section>
.eval-modal-student-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 50%;
  top: 0;
}

// WORKSPACE INFO & EVALUATION FORMS <section>
.eval-modal-workspace-evaluate-container {
  bottom: 0;
  left: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

// ASSIGNMENT EVALUATION FORM <section>
.eval-modal-assignment-evaluate-container {
  background: $evaluation-modal-assignment-evaluation-background-color;
  bottom: 0;
  display: none;
  left: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  z-index: 99999;
}

// STUDENT & WORKSPACE HEADER'S <header>
.eval-modal-student-header,
.eval-modal-evaluate-header {
  background: $evaluation-modal-header-background-color;
  min-height: 30px;
  padding: 10px 0;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

// ASSIGNMENT EVALUATION HEADER <header>
.eval-modal-assignment-evaluate-header {
  background: $evaluation-modal-assignment-evaluation-header-background-color;
  min-height: 30px;
  padding: 10px 0;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.eval-modal-student-name,
.eval-modal-workspace-name {
  box-sizing: border-box;
  color: $evaluation-modal-header-font-color;
  display: inline-block;
  font-size: 20px;
  line-height: 1.5em;
  overflow: hidden;
  padding: 0 50px 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.eval-modal-assignment-title {
  box-sizing: border-box;
  color: $assignment-color;
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  overflow: hidden;
  padding: 0 50px 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
  
.eval-modal-materials-content,
.eval-modal-evaluate-workspace-content,
.eval-modal-evaluate-assignment-content {
  bottom: 0;
  left: 0;
  overflow: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 50px;
}

// EVALUATE FORM DISABLES OVERLAY
.workspace-evaluation-form-overlay {
  background: $evaluation-modal-workspace-evaluation-form-overlay-background-color;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9998;
}

.workspace-evaluation-form-activate-button {
  @include flexbox;
  align-items: center;
  background: $evaluation-modal-workspace-evaluation-form-activate-button-background-color;
  border-radius: 100%;
  box-sizing: border-box;
  color: $evaluation-modal-workspace-evaluation-form-activate-button-font-color;
  cursor: pointer;
  font-size: 18px;
  height: 180px;
  left: 50%;
  line-height: 24px;
  margin: -80px;
  opacity: 1;
  padding: 44px 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transition: all 0.3s ease-in-out;
  width: 180px;
  vertical-align: middle;
  z-index: 9999;
  
  &:hover {
    background: $evaluation-passed-color;
  }
  
}

// EVALUATE FORM
.evaluation-modal-evaluate-form {
  
  .cke {
    border: 2px solid $evaluation-modal-texteditor-border-color;
    box-shadow: none;
    border-radius: 3px;
  }
  
  label {
    display: block;
    margin: 0;
    text-transform: uppercase;
  }
  
  input[type="text"],
  input[type="date"] {
    background: $evaluation-modal-textfield-background-color;
    border: 2px solid $evaluation-modal-textfield-border-color;
    border-radius: 3px;
    font-family: $environment-font-family;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
  }
  
  input#assignmentGradedButton {
    margin: 0 10px 0 0;
  }
  
  textarea {
    background: $evaluation-modal-memofield-background-color;
    border: 2px solid $evaluation-modal-memofield-border-color;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: $environment-font-family;
    font-size: 14px;
    padding: 5px;
    width: 100%;
  }
  
  select {
    background: $evaluation-modal-select-background-color;
    border: 2px solid $evaluation-modal-select-border-color;
    border-radius: 3px;
    font-family: $environment-font-family;
    font-size: 14px;
    margin: 0;
    padding: 0 5px;
    
    option {
      padding: 5px 10px;
    }
    
  }
  
}

.evaluation-modal-evaluate-form-row {
  margin: 5px 0 15px; 
  
  &[disabled="disabled"] {
    opacity: 0.3;
  }

}

.eval-modal-evaluate-buttonset {
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.eval-modal-evaluate-button {
  color: $evaluation-modal-button-font-color;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 8px 12px;
  margin: 15px 0 0 15px;
  
  &.button-cancel {
    background: $evaluation-cancel-color;
  }
  
  &.button-evaluate-passing {
    background: $evaluation-passed-color;
  }
  
  &.button-delete {
    background: $evaluation-delete-color;
  }
  
  &.button-evaluate-nonpassing {
    background: $evaluation-incomplete-color;
  }
  
}

// ASSIGNMENTS & EXERCISES
.eval-modal-assignments-title {
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
}

.assignment-wrapper {
  border-bottom: 1px solid $evaluation-modal-seperator-border-color;
  padding: 8px 0;
  position: relative;
  
  &.active {
  
    .assignment-title {
      color: $assignment-color;
      font-weight: 400;
    }
  
  }
  
}

.assignment-literal-evaluation-wrapper {
  border-left: 3px solid $assignment-color;
  padding: 0 10px;
}

.assignment-literal-evaluation-label {
  font-weight: 400;
}

.assignment-literal-evaluation {
  background: $evaluation-modal-assignment-evaluated-literal-background-color;
  border-radius: 3px;
  margin: 5px 0 10px;
  padding: 10px;
  
  p {
    margin: 0 0 10px;
  }
  
  p:last-child {
    margin: 0;
  }
  
}

.assignment-content {
  font-size: 16px;
}
  
.assignment-wrapper.assignment .assignment-title-wrapper {
  border-left: 3px solid $assignment-color;
  box-sizing: border-box;
  cursor: pointer;
  height: 51px;
  padding: 2px 50px 2px 8px;
}

.assignment-wrapper.exercise .assignment-title-wrapper {
  border-left: 3px solid $exercise-color;
  box-sizing: border-box;
  cursor: pointer;
  height: 51px;
  padding: 2px 8px;
}

.assignment-title,
.exercise-title {
  font-size: 20px;
  padding: 0 0 4px;  
}

.assignment-done,
.assignment-evaluated,
.assignment-grade {
  font-size: 13px;
  display: inline-block;
  margin: 0 15px 0 0;
}

.assignment-grade {
  
}

.assignment-done-label,
.assignment-evaluated-label,
.assignment-grade-label {
  font-weight: 400;
  padding: 0 4px 0 0;
}

.assignment-grade-data {
  background: $evaluation-modal-assignment-evaluated-grade-info-background-color;
  border-radius: 3px;
  display: inline-block;
  font-size: 15px;
  margin: 0 0 0 5px;
  min-width: 16px;
  padding: 0 2px;
  text-align: center;
}

.assignment-grade.evaluated-incomplete {
  
  .assignment-grade-data {
    background: $evaluation-incomplete-color;
    color: $evaluation-modal-assignment-evaluated-incomplete-font-color;
    font-size: 13px;
    padding: 0 4px;
  }
  
}

.assignment-notdone-label {
  font-weight: 300;
  padding: 0 4px 0 0;
}

.assignment-evaluate-button {
  background: $evaluation-requested-color;
  border-radius: 3px;
  color: $evaluation-modal-assignment-evaluate-button-font-color;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  height: 18px;
  padding: 5px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 20px;
  vertical-align: top;
  width: 18px;
  z-index: 9;
}

.exercise-done-indicator {
  color: $evaluation-passed-color;
  display: inline-block;
  font-size: 18px;
  height: 18px;
  padding: 5px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 20px;
  vertical-align: top;
  width: 18px;
  z-index: 9;
}

.assignment-wrapper[data-evaluated="true"] {
  
  .assignment-evaluate-button {
    background: $evaluation-incomplete-color;
  }
  
  &[data-graded="true"] {
    .assignment-evaluate-button {
      background: $evaluation-passed-color;
    }
  
  }
  
}

.assignment-wrapper.exercise .assignment-evaluate-button,
.assignment-wrapper.assignment .exercise-done-indicator {
  display: none;
}

// JOURNAL ENTRIES
.eval-modal-journal-entries-title {
  font-size: 22px;
  font-weight: 400;
  padding: 30px 10px 10px;
}

.journal-entry {
  border-bottom: 1px solid $evaluation-modal-seperator-border-color;
  padding: 8px 0;
  position: relative;
}

.journal-entry-title-wrapper {
  border-left: 3px solid $journal-color;
  padding: 2px 8px;
  position: relative;
}

.journal-entry-title {
  font-size: 20px;
  padding: 0 0 4px;
}

.journal-entry-date {
  display: inline-block;
  font-size: 13px;
  font-style: italic;
}

.journal-entry-written-label {
  font-weight: 400;
  padding: 0 4px 0 0;
}

.journal-entry-content {
  padding: 10px 8px;
}