.table-wrapper {
  overflow: hidden;
  width: 100%;
}

h2,h3,h4,h5,h6 {
  color: #000;
  font-weight: 300;
  padding: 0 0 0 5px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0;
}

.muikku-word-definition {
  background: #c4ffd6 none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 10px 0 0;
  max-width: 250px;
  padding: 5px 10px;
  position: absolute;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 20;
}
    
mark[data-muikku-word-definition] {
  background: transparent;
  border-bottom: 1px dashed #007925;
  color: #007925;
  cursor: help;
  font-weight: 400;
  position: relative;
}

// OVERRIDE FOR ORGANIZER, SORTER & CONNECT FIELDS
.muikku-organizer-field[disabled="disabled"],
.muikku-sorter-field[data-disabled="true"],
.muikku-connect-field[disabled="disabled"] {
  opacity: 1;  
}

// HORZ & VERTZ RADIOBUTTON & CHECKBOX WRAPPER
span.radiobutton-horizontal,
span.checkbox-horizontal {

  > span {
    display: inline-block;
    
    label {
      display: inline !important;
      font-weight: 300 !important;
      font-size: 14px !important;
    }
    
  }

}

span.radiobutton-vertical,
span.checkbox-vertical {
  display: inline-block;
  vertical-align: middle;
  
  > span {
    display: block;
    
    label {
      display: inline !important;
      font-weight: 300 !important;
      font-size: 14px !important;
    }
    
  }
  
}

// TEXTFIELD & MEMOFIELD
div.muikku-memo-field {
  background: #ebf7ff;
  border-radius: 3px;
  box-sizing: border-box;  
  line-height: 1.7em;
  margin: 4px 0;
  min-height: 29px;
  padding: 5px 10px;
}

div.muikku-text-field {
  background: #ebf7ff;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  margin: 4px 3px;
  min-height: 29px; 
  padding: 2px 8px;
  vertical-align: middle;
}

// MEMOFIELD WORD COUNT
.count-container {
  font-size: 13px;
  line-height: 1;
  text-align: right;
  
  .character-count-container {
    display: inline-block;
    padding:5px;
  }

  .word-count-container {
    display: inline-block;
    padding:5px;
  }
  
  .character-count-title {
    display: inline-block;
    padding: 2px;
  }
  
  .character-count {
    background: #f3faff;
    display: inline-block;
    padding: 2px;
  }
  
  .word-count-title {
    display: inline-block;
    padding: 2px;
  }
  
  .word-count {
    background: #f3faff;
    display: inline-block;
    padding: 2px;
  }
  
}

// CHECKBOX & RADIOBUTTON
input[type="checkbox"],
input[type="radio"] {
  background: #fff;
  border: 2px solid #abdbed;
  border-radius: 3px;
  box-shadow: 0 0 0 3px rgba(215, 215, 215, 0.15);
  display: inline-block;
  margin: 0 10px;
  outline: none; 
}

input[checked="checked"] {
  box-shadow: 0 0 0 3px rgba(123,183,250,0.5);
}

// SELECT & OPTION
select {
  background: #fff;
  border: 2px solid #abdbed;
  border-radius: 3px;
  box-shadow: 0 0 0px 3px rgba(215,215,215,0.15);
  color: #000;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 4px;
  max-width: 100%;
  outline: none;
  padding: 0 5px;
  vertical-align: middle;
  word-wrap: break-word;
  
  option {
    background: #fff;
    padding: 5px 10px;
  }
}

// MATH FIELD
.muikku-math-exercise-field {
  background: #fff;
  border: 2px solid #abdbed;
  border-radius: 2px;
  box-shadow: 0 0 0px 3px rgba(215,215,215,0.15);
  padding: 10px;
}

// GENERIC SELECT FIELD
.muikku-select-field,
.muikku-checkbox-field {
  display: inline-block;
  margin: 0 10px 0 0;
}

label {
  display: inline;
  font-weight: 400;
}

.textfield-wrapper {
  display: inline-block;
  position: relative;

  span.muikku-text-field-hint {
    display: none;
  }

}

blockquote {
  border-color: #eee;
  border-style: solid;
  border-width: 0;
  color: #777;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 22px;
  font-style: italic;
  margin:0 40px;
  padding: 2px 0;

  p {
    margin: 10px 0;
  }

}

img {
  height: auto !important;
}

a > img {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
}

p {
  margin: 15px 0;
}

a {
  color: $link;
}

em, i {
  font-style: italic;
  font-weight: 300;
}

strong, b {
  font-style: inherit;
  font-weight: 400;
}

sub {
  font-size: 70%;
  vertical-align: sub;
}

sup {
  font-size: 70%;
  vertical-align: super;
}

p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
}

table {
  border-collapse: separate;
  border-spacing: initial;
  margin: initial;
  padding: initial;
}

td {
  padding: initial;
  margin: initial;
  max-width: 100%;
  width: auto;
}

a {
  color: #4290ea; 
}

ul {
  list-style-position: outside;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
}

ul,
ol {
  margin: 16px 0;
  padding: 0 0 0 30px;

  li {
    margin: 0;
    padding: 0;
  }
  
  ol {
    list-style-type: decimal;
  }
  
  ul {
    list-style-type: circle;
  }

}