// REQUESTS (min 1280px)
@media screen and (min-width: 1280px) {
  
  .evaluation-card {
    max-width: 320px;
    width: calc(25% - 20px);
  }
  
}

// REQUESTS (901px - 1279px)
@media screen and (min-width: 901px) and (max-width: 1279px) {
  
  .evaluation-card {
    width: calc(33% - 18px);
  }
  
}

// REQUESTS (600px - 900px)
@media screen and (min-width: 600px) and (max-width: 900px) {

  .evaluation-card {
    width: calc(50% - 20px);
  }
  
}

// REQUESTS (max 599px)
@media screen and (max-width: 599px) {
  
  .evaluation-cards-title {
    
    h3 {
      font-size: 20px;
      line-height: 20px;
    }
    
  }
  
  .evaluation-card-data-row {
    padding: 2px 0;
    position: relative;
    
    .workspace-name {
      height: auto;
    }
  
  }
  
  .evaluation-card {
    width: calc(100% - 20px);
  }
  
  .evaluation-card-student {
    font-size: 16px;
    font-weight: 400;
  }
  
  .eval-modal-student-name,
  .eval-modal-workspace-name {
    font-size: 18px;
  }
  
  .eval-modal-close {
    
    &.icon-close-small {
      font-size: 26px;
      height: 26px;
      width: 26px;
    }
    
  }

  .evaluation-filters-wrapper {
    right: calc(0px - 310px);
    width: 310px;
  }

  .evaluation-workspaces-wrapper {
    left: calc(0px - 310px);
    width: 310px;
  }
  
  .evaluation-navigation .eval-search-wrapper .eval-search-container {
    display: none;
  }
  
}

// DIALOG (0 - 1023px)
@media screen and (max-width: 1023px) {

  .eval-modal-student-container,
  .eval-modal-student-events-container {
    position: static;
  }
  
  .eval-modal-materials-content, 
  .eval-modal-events-content {
    bottom: auto;
    left: auto;
    position: relative;
    right: auto;
    top: auto;
  }
  
  .eval-modal-workspace-name {
    padding: 0 20px;
  }
  
}