.cke { /* CKE Wrapper */
  border:1px solid #fff !important;
  box-shadow:none !important;
  border-radius:5px;
  
  &[data-readonly="readonly"] {
  
    .cke_inner {
      background: #fcfcfc !important;
      border: 2px dotted #eaeaea !important;
      box-shadow: none !important;
      color: #7c7c7c !important;
      
      &:hover {
        border: 2px dotted #eee;
        box-shadow: none;
        color: #555555 !important;
        
        .cke_top {
          background: #eaeaea;
        }
        
        .cke_bottom {
          border-top:1px solid #eaeaea;
        }
        
      }
      
      .cke_top {
        background: #eaeaea;
      }
      
      .cke_bottom {
        border-top:1px solid #eaeaea;
      }
      
    }

  }
  
  .cke_inner { /* CKE top, content and bottom wrapper */
    border: 2px solid #abdbed;
    box-shadow: 0 0 0 3px rgba(215,215,215,0.15);
    border-radius: 3px;
    transition: border,box-shadow 0.1s,0.2s ease-in-out;
    
    &:hover {
      border-color: #8dd6f1;
      box-shadow:0 0 0px 3px rgba(202,225,252,0.75);
      
      .cke_top {
        background: #8dd6f1;
      }
      
    }
  
    .cke_top {
      border:0;
      box-shadow:none;
      background:#abdbed;
      background-image:none;
      padding:8px 8px 4px 8px;
      border-bottom:0;
      transition: background 0.1s,0.2s ease-in-out;
      
      .cke_toolbar {
        display:block;
        margin:2px 0;
      
        .cke_toolgroup {
          border:1px solid #fff;
          background:#fff;
          background-image:none;
          
          a:hover {
            border-radius:3px;
            background:#9ed7ff;
            box-shadow:none;
            border:0;
          }
          
          a.cke_button_on {
              background:#9ed7ff;
              background-image:none;
              box-shadow:none;
              border:0;
            }
          
        }
        
        .cke_combo {
        
          &.cke_combo_off {
          
            a.cke_combo_button {
              background:#fff;
              background-image:none;
              box-shadow:none;
              border:1px solid #fff;
              
              &:hover {
                background:#9ed7ff;
              }
              
            }
          }
          
          &.cke_combo_on {
          
            a.cke_combo_button {
              background:#9ed7ff;
              background-image:none;
              box-shadow:none;
              border:1px solid #fff
            }
          }
        }
        
      }
      
      
      
    }
    
    .cke_bottom {
      border:0;
      box-shadow:none;
      background:#fff;
      background-image:none;
      border-top:1px solid #abdbed;
    }
  
  }
  
}