.connection-lost-overlay {
  opacity: 0.8;
  position: fixed;
  z-index: 99998;
  background: #000;
  -webkit-animation: connectionLost 14s ease infinite;
  -moz-animation: connectionLost 14s ease infinite;
  animation: connectionLost 14s ease infinite;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.connection-lost-dialog {
  position: fixed;
  z-index: 99999;
  top: 50%;
  left: 0;
  right: 0;
  height: 400px;
  margin-top: -200px;
  padding: 20px;
  display: none;
  
  .connection-lost-dialog-container {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    text-align: center;
    

    .connection-lost-dialog-title {
      color: #fff;
      font-size: 2.5em;
      line-height: 2em;
      padding: 10px;
    }
    
    .connection-lost-dialog-description {
      color: #fff;
      font-size: 1.6em;
      padding: 10px;
      line-height: 2em;
    }
    
    .loader {
      margin: 20px auto;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      perspective: 800px;
      
      .inner {
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 50%;  
        
        &.one {
          left: 0;
          top: 0;
          animation: rotate-one 2s linear infinite;
          border-bottom: 3px solid #EFEFFA;
        }
        
        &.two {
          right: 0;
          top: 0;
          animation: rotate-two 2s linear infinite;
          border-right: 3px solid #EFEFFA;
        }
        
        &.three {
          right: 0;
          bottom: 0;
          animation: rotate-three 2s linear infinite;
          border-top: 3px solid #EFEFFA;
        }
        
      }

    }
  
    .connection-lost-dialog-reconnectButton {
      font-size: 24px;
      color: #fff;
      font-weight: 300;
      text-transform: uppercase;
      font-family: 'Open Sans', Arial, sans-serif;
      padding: 10px 20px;
      display: inline-block;
      cursor: pointer;
      margin: 20px 0 0;
      border: 1px solid #27b91c;
    }

  }

}