.rich-text-editor-tools { 
  z-index: 9999; 
}

.answer { 
  box-sizing: content-box;
  font-family: "Times New Roman", serif;
  font-size: 17px; 
  min-height: 100px; 
  padding: 5px;
}

.rich-text-editor img[src^="data:image/svg+xml"] { 
  border: 1px solid transparent;
  cursor: pointer;
  margin: 4px; 
  padding: 3px 10px; 
  vertical-align: middle;
}

.rich-text-editor.rich-text-focused img[src^="data:image/svg+xml"],
.rich-text-editor:focus img[src^="data:image/svg+xml"] { 
  background: #EDF9FF; 
  border: 1px solid transparent;
}

.rich-text-editor img[src*="data:image/png"] { 
  margin: 4px; 
}

.rich-text-editor:focus img[src*="data:image/png"],
.rich-text-editor.rich-text-focused img[src*="data:image/png"] { 
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1); 
}

.result { 
  display: none; 
}

.muikku-math-exercise-field-editor {
  height: auto;
  border: 2px solid #abdbed;
  border-radius: 3px;
  display: inline-block;
  padding: 4px 8px;
  outline: none;
  color: #4c4c4c;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  text-align: left;
  margin: 0;
  line-height: 1.7em;
  
  &[readonly="readonly"] {
    background: #fcfcfc !important;
    border: 2px dotted #eaeaea !important;
    color: #7c7c7c !important;
    
    &:hover {
      border: 2px dotted #eee !important;
      color: #555555 !important;
    }
    
  }
  
  &:focus,
  &:hover {
    border: 2px solid #8dd6f1;
    box-shadow: none;
    outline: none;
  }
  
  .math-editor-latex-field {
    border: 0 !important;
  }
}
