/* Print styles for materials */

@media print {
  
  body {
   background-color: #fff;
   line-height: 20px !important;
   font-size: 15px !important;
   padding: 0 !important;
  }
  
  #header {
   display: none;
  }
  
  #staticNavigationWrapper {
    display: none;
  }
  
  #footer {
    display: none;
  }
  
 .flex-row {
  display: block;
 }  
}
