.eval-modal {
  background: #fff;
  left: 0;
  height: 100%;
  min-width: 320px;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 30;
}

.eval-modal-close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 31;
  
  &:hover {
    text-shadow: 0 0 15px #fff;
  }
  
  &.icon-close-small {
    color: #fff;
    font-size: 30px;
    height: 30px;
    padding: 10px;
    width: 30px;
  }
  
}

// STUDENT INFO & ASSIGNMENTS <section>
.eval-modal-student-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 50%;
  top: 0;
}

// WORKSPACE INFO & EVALUATION FORMS <section>
.eval-modal-evaluate-container {
  bottom: 0;
  left: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

// MODAL HEADER'S <header>
.eval-modal-student-header,
.eval-modal-evaluate-header {
  background: #3786bf;
  min-height: 30px;
  padding: 10px 0;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.eval-modal-student-name,
.eval-modal-workspace-name {
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  line-height: 1.5em;
  overflow: hidden;
  padding: 0 50px 0 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
  
.eval-modal-assignment-content,
.eval-modal-evaluate-content {
  padding: 10px 20px;
}

// EVALUATE FORM
.evaluation-modal-evaluate-form {
  
  .cke {
    border: 2px solid #abdbed;
    box-shadow: none;
    border-radius: 3px;
  }
  
  label {
    display: block;
    margin: 0;
    text-transform: uppercase;
  }
  
  input[type="text"],
  input[type="date"] {
    background: #fff;
    border: 2px solid #abdbed;
    border-radius: 3px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
  }
  
  textarea {
    background: #fff;
    border: 2px solid #abdbed;
    border-radius: 3px;
    box-sizing: border-box;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    padding: 5px;
    width: 100%;
  }
  
  select {
    background: #fff;
    border: 2px solid #abdbed;
    border-radius: 3px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    padding: 0 5px;
    
    option {
      padding: 5px 10px;
    }
    
  }
  
}

.evaluation-modal-evaluate-form-row {
  margin: 5px 0 15px; 
}

.eval-modal-evaluate-buttonset {
  padding: 20px;
  text-align: right;
}

.eval-modal-evaluate-button {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 8px 12px;
  margin: 15px 0 0 15px;
  
  &.button-cancel {
    background: #7391a7;
  }
  
  &.button-evaluate-passing {
    background: #27b91c;
  }
  
  &.button-delete {
    background: #d50b36;
  }
  
  &.button-evaluate-nonpassing {
    background: #ea7503;
  }
  
}