h2,h3,h4,h5,h6 {
  color: #000;
  font-weight: 300;
  padding: 0 0 0 5px;
}

h2 {
  border-left: 5px solid $evaluatedAssignment;
  font-size: 20px;
  margin: 0 100px 0 -5px; 
  padding: 5px 5px 5px 10px;
  font-weight: 300; 
  margin: 0;
  color: #000;
  cursor: pointer;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  line-height: 22px;
  margin: 10px 0;
}

.muikku-word-definition {
  z-index: 9999;
  background: #c4ffd6 none repeat scroll 0 0;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  max-width: 250px;
  padding: 5px 10px;
  position: absolute;
}
    
mark[data-muikku-word-definition] {
  border-bottom: 1px dashed #007925;
  color: #007925;
  background: transparent;
  cursor: help;
  font-weight: 400;
  position: relative;
}

textarea,
input[type="text"] {
  font-family: 'Open Sans', Arial, sans-serif !important;
  border-radius: 3px;
  background: #ebf7ff;
  padding: 5px 10px;
  margin: 0;
  font-weight: 300;
  font-style: italic;
  border: 0px;
  color: #000;
  resize: vertical;
  box-sizing: border-box;
  
  &:hover {
    background: #ebf7ff;
    border: 0px;
  }
  
  &:focus {
    box-shadow: none;
    outline: none;
  }
  
}

input[type="text"].muikku-text-field {
  width: auto;
  margin: 4px 3px;
}

input[type="checkbox"],
input[type="radio"] {
  background: #fff;
  border: 2px solid #abdbed;
  border-radius: 3px;
  box-shadow: 0 0 0 3px rgba(215, 215, 215, 0.15);
  display: inline-block;
  margin: 0 10px;
  outline: one; 
  font-family: 'Open Sans', Arial, sans-serif;

  &:hover {
    box-shadow: 0 0 0 3px rgba(215, 215, 215, 0.15);
  }

}

/* Select and Option field overrides */
select {
  background: #fff;
  border: 2px solid #abdbed;
  transition: border,box-shadow 0.1s,0.2s ease-in-out;
  outline: none;
  color: #0061a2;
  display: inline-block;
  margin: 4px;
  box-shadow: 0 0 0px 3px rgba(215,215,215,0.15);
  border-radius: 3px;
  max-width: 100%;
  word-wrap: break-word;
  vertical-align: middle;
  font-family: 'Open Sans', Arial, sans-serif;

  option {
    background: #fff;
    font-weight: 300;
    padding: 4px 8px;
  }
  
}

/* Radio button and Check box wrapper Span */
span.radiobutton-horizontal,
span.checkbox-horizontal {

  > span {
    display: inline-block;
    
    label {
      font-weight: 300 !important;
      font-size: 14px !important;
      display: inline !important;
    }
    
  }

}

span.radiobutton-vertical,
span.checkbox-vertical {
  display: inline-block;
  vertical-align: middle;
  
  > span {
    display: block;
    
    label {
      font-weight: 300 !important;
      font-size: 14px !important;
      display: inline !important;
    }
    
  }
  
}

label {
  display: inline;
  font-weight: 400;
}

.textfield-wrapper {
  display: inline-block;
  position: relative;

  span.muikku-text-field-hint {
    display: none;
  }

}

blockquote {
  font-family: 'Open Sans', Arial, sans-serif;
  font-style: italic;
  padding: 2px 0;
  border-style: solid;
  border-color: #eee;
  border-width: 0;
  color: #777;
  font-size: 22px;
  margin:0 40px;

  p {
    margin: 10px 0;
  }

}

img {
  max-width: 100% !important;
  height: auto !important;
}

a > img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

p {
  margin: 15px 0;
}

a {
  color: $link;
}

em, i {
  font-style: italic;
  font-weight: 300;
}

strong, b {
  font-weight: 400;
  font-style: inherit;
}

sub {
  vertical-align: sub;
  font-size: 70%;
}

sup {
  vertical-align: super;
  font-size: 70%;
}

p, h1, h2, h3, h4, h5, h6 {
  word-wrap: break-word;
}

table {
  border-collapse: separate;
  border-spacing: initial;
  margin: initial;
  padding: initial;
}

td {
  padding: initial;
  margin: initial;
  width: auto;
  max-width: 100%;
}

a {
  color: #4290ea; 
}

ul {
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul,
ol {
  margin: 0 20px;

  li {
    margin: 5px;
  }
  
  ol {
    list-style-type: decimal;
  }
  
  ul {
    list-style-type: circle;
  }

}