.muikku-file-input-field-file {
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
}

.muikku-file-input-field-file-label {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  height: 20px;
  left: 5px;
  line-height: 16px;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 5px;
  position: absolute;
  text-transform: none;
  top: 0;
  z-index: 99;
}

.muikku-file-input-field-file-progress-literal {
  color: #000;
  z-index: 99;
  font-weight: 300;
  font-size: 12px;
  font-family:'Open Sans', Arial, sans-serif;
  text-transform:none;
  text-align:right;
  padding:0 5px 0 0;
}

.muikku-file-input-field-file-remove, .muikku-file-input-field-file-restore {
  display:block;
  text-decoration:none;
  position:absolute; 
  top: 0;
  right: 10px;
  font-weight:400 !important;
  position: absolute;
  color:#fff !important;
  font-size:14px;
}

.muikku-file-input-field-file-progress {
  
  .ui-progressbar-value {
    background:#34acfd;
    height:30px;
    border-radius:0 !important;
  }

}

.muikku-file-input-field-file-remove {
  color: #f00;
}

.muikku-file-input-field-file-restore {
  color: #00f;
}

.muikku-file-input-field-file-uploader-container {
  position: relative;
  padding: 20px;
  margin: 0 10px;
  background: #fff;
  border: 1px solid #eee;
  transition: border,box-shadow 0.1s,0.2s ease-in-out;
  outline: none;
  box-shadow: 0 0 0px 3px rgba(215,215,215,0.15);
  border-radius: 3px;
  text-transform: uppercase;
  color: #186089;
  
  &:hover {
    border:1px solid #97bfed;
    box-shadow:0 0 0px 3px rgba(202,225,252,0.75);
  }
  
  a {
    color:#fff !important;
    text-decoration:none;
    font-size:14px;
    
    &:hover {
      text-decoration:underline;
    }
    
  }
  
}

.muikku-file-input-field-file-uploader-container input[type="file"] {
  width:100%;
  height:100%;
  display:block;
  opacity:0;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  cursor:pointer;
  
  /* Fix for Chrome upload file field display issue */
  &::-webkit-file-upload-button {
    width: 0;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    border: none;
  }
}

.muikku-file-input-field-file-uploader-container input[type="file"][disabled="disabled"] {
  cursor: default;
}

.muikku-file-input-field-file-uploader-container span {
  text-align: center;  
  display: block;
}

.muikku-file-input-field-file-removed-permanently {
  display: none;
}

.muikku-file-input-field-file-removed .muikku-file-input-field-file-label {
  text-decoration:line-through;
}