@media screen and (max-width: 767px) {

  body {
    padding: 60px 5px 54px 5px;
    background-image: url('/gfx/light-diagonal-strips.png');
    background-repeat: repeat;
    background-color: #f0f3f5;
    
    &.footerDialogOpen {
      padding-bottom: 0 !important;
      
      footer#footer {
        position: relative;
        left: -5px;
        right: -5px;
      }
      
    }
    
  }
  
  .box {
    padding: 10px;
  }
  
  #helpdesk {
    margin: -4px 0 0;
    font-size: 13px;
  }
  
  #guides {
    margin: 0 0 -4px;
  }
  
  main.content {
    margin: 20px 0;
  }
    
  
  #staticNavigationWrapper {
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }
  
  #staticNavigation {
    height: 50px;
    padding: 5px 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  }
  
  .static-navigation-bg {
    background: #32acf6 url("/gfx/mobile-navigation-background.png");
    background-position: 30% top;
    opacity: 1;
    border: 0;
  }
  
  div[class*="dock-static-navi"] {
  
    &:hover {
      border: 0;
    }
  
  }
  
  div[class*='dock-static-navi-button'] > a, 
  div[class*='dock-dynamic-navi-button'] > a {
    font-size: 35px;
    padding: 7px 5px 2px 5px;
    height: 35px;
  }
  
  .navmore-container {
    display: none;
  }
  
  div.dock-static-navi-button-navimore {
   float: right;
   margin-right: 0;
   
   &:hover {
     border: 0;
   }
   
  }
  
  // Navigation More Icon Wrapper
  div.dock-static-navi-button-navimore > div.icon-navicon {
    cursor: pointer;
    font-size: 35px;
    height: 35px;
    padding: 7px 5px 20px;
      
    // Navigation More Container
    .navmore-container {
      background: #fff;
      box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
      cursor: default;
      display: none;
      min-height: 100vh;
      padding: 0;
      position: fixed;
      right: 0;
      top: 61px;
      width: 0%;
    }
      
    div[class*="dock-static-navi"] {
      display: block;
      float: none;
      margin: 5px 0;
      
      > a {
        color: #416c7c;
        display: block;
        font-size: 18px;
        height: 1em;
        padding: 10px 20px 10px 10px;
        text-shadow: none;
        
        &:hover,
        &:focus,
        &:active {
          background: #c5eaf8;
        }
        
        &.icon-user {
          font-size: 16px;
        }
        
        > span {
          color: #5c5c5c;
          display: inline-block;
          font-size: 16px;
          font-weight: 300;
          padding: 0 0 0 10px;
          text-transform: uppercase;
          vertical-align: top;
        }
      
      }
      
    }
    
  }
  
  .login,
  .forgot-password {
    display: inline-block;
    float: none;
    margin: 0;
    width: 100%;
  }
  
  .bt-generic.bt-login,
  .bt-generic.bt-forgotpassword {
    border-radius: 2px;
    float: none;
    font-size: 1em;
    padding: 0;
    text-align: center;
    width: 100%;    
  }
  
  .bt-generic.bt-login a,
  .bt-generic.bt-forgotpassword span {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
  }
 
  .bt-main-functionality  {
  
    span:first-child {
      font-size: 13px;
      padding: 8px 6px;
    }
    
    .bt-main-functionality-decoration {
      font-size: 2em;
      padding: 3px 1px;
    }
  
  } 
  
  input[type="text"],
  input[type="password"],
  textarea {   
    font-size: 14px;     
  }
  
  .mf-content-functions {
    background: none !important;
  }
  
  .mf-content-area {
    background: none !important;
    
    .mf-item {
      margin: 0 0 5px !important;
    }
    
  }
  
  .tr-item-header-detail.grade {
    height: 15px;
    padding: 0 !important;
    width: 6px;
    
    > span {
      display: none;
    }
    
  }
  
  .flex-dialog {
  
    .ui-dialog {
    
      .ui-dialog-titlebar.ui-widget-header {
        padding: 10px 50px 10px 10px;
      
       .ui-dialog-title {
          font-size: 20px;
          font-weight: 400;
        }
        
        .ui-dialog-titlebar-close {
          height: 30px;
          width: 30px;
        
          &::before {
            font-size: 30px;
          }
        
        }
        
      }
      
      .ui-dialog-content.ui-widget-content {
        margin: 10px auto;
    
        .cp-course-description {
          max-height: 5em;
        }
      
      }
      
      .ui-dialog-buttonpane.ui-widget-content {
      
        .ui-dialog-buttonset {
          text-align: center;
        }
        
      }
    
    }
    
  }
  
  .cm-message {
  
    .cm-message-details {
    
      .cm-message-latest,
      .cm-message-header-content-secondary {
        font-size: 13px;
      }
      
      .cm-message-header-count {
        display: inline-block;
        margin: 0 5px 0 0;
        
        .cm-message-replies {
          background-color: $hlBgr;
          font-size: 13px;
          font-weight: 400;
          padding: 2px;
          text-align: center;
          width: 100%;
        }
        
      }
  
    }
      
  }
  
}
