// WIDE SCREEN
@media screen and (min-width: 1200px) { 

  .wide-navigation {
    display: block;
  }
  
  .narrow-navigation {
    display: none;
  }
  
  .mobile-navigation {
    display: none;
  }

}

// MEDIUM SCREEN
@media screen and (min-width: 1025px) and (max-width: 1199px) {

  .of-site-logo {
    display: none;
  }
  
  .wide-navigation {
    padding: 0 10px;
  }
  
  .narrow-navigation {
    display: none;
  }
  
  .mobile-navigation {
    display: none;
  }

}

// LANDSCAPE PAD
@media screen and (min-width: 769px) and (max-width: 1024px) {
  
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .of-site-logo {
    display: none;
  }
  
  .wide-navigation {
    display: none;
  }
  
  .narrow-navigation {
    display: block;
    padding: 0 10px;
  }
  
  .mobile-navigation {
    display: none;
  }

}

// PAD PORTRAIT
@media screen and (max-width: 768px) {
  
  body {
    max-width: 768px;
    overflow-x: hidden;
  }

  .of-site-logo {
    display: none;
  }
  
  .wide-navigation {
    display: none;
  }
  
  .narrow-navigation {
    display: block;
    padding: 0 10px;
  }
  
  .mobile-navigation {
    display: none;
  }
  
  .frontpage-studying.studying-left-box,
  .frontpage-studying.studying-center-box,
  .frontpage-studying.studying-right-box,
  .frontpage-news,
  .frontpage-events,
  .frontpage-images,
  .frontpage-posts,
  .organization-description-box {
    flex-basis: calc(100% - 20px); 
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 20px);
  }
  
  .organization-some-box {
    flex-basis: calc(50% - 20px); 
    flex-grow: 1;
    flex-shrink: 1;
    order: 2;
  }
  
  .organization-description-box {
    order: 3;
    margin: 30px 0 0;
  }
  
  .organization-logo-box {
    flex-basis: calc(50% - 20px);
    flex-grow: 1;
    flex-shrink: 1; 
    order: 1;
  }
  
}

// MOBILE
@media screen and (max-width: 767px) {
  
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  nav.of-navigation {
    
    li.of-link-item {
      padding: 10px;
    }
    
  }

  .of-site-logo {
    display: none;
  }
  
  .wide-navigation {
    display: none;
  }
  
  .narrow-navigation {
    display: none;
  }
  
  .mobile-navigation {
    display: block;
    padding: 0 10px;
  }
  
  header.of-header {
  background: url('/gfx/of-site-header-background-mobile.jpg') no-repeat center center $of-header-background-color;
    background-size: cover;
    height: auto;
    padding: 15px;
    
    .of-header-wrapper {
      flex-flow: row wrap;
      height: auto;
    }
    
    .of-header-application-bubble-wrapper {
      flex-basis: calc(100% - 30px);
      flex-grow: 1;
      flex-shrink: 1;
      order: 2;
    }
    
    .of-header-site-info-wrapper {
      flex-basis: 50%;
      flex-grow: 1;
      flex-shrink: 0;
      order: 1;
    }
    
    .of-header-open-materials-bubble-wrapper {
      flex-basis: calc(100% - 30px);
      flex-grow: 1;
      flex-shrink: 1;
      order: 3;
    }
    
    .of-header-site-info {
      margin: 10px auto 0;
      padding: 0;
      text-align: center;
    }
    
    .of-header-application-bubble,
    .of-header-open-materials-bubble {
      border: 0;
      border-radius: 10px;
      height: auto;
      margin: 10px auto;
      padding: 10px;
      width: auto;
    }
    
    .application-title, 
    .open-materials-title {
      left: auto;
      font-size: 20px;
      position: relative;
      right: auto;
      top: auto;
    }
    
    .application-description, 
    .open-materials-description {
      margin: 10px 0;
    }
    
    .application-link a,
    .open-materials-link a {
      bottom: auto;
      font-size: 12px;
      left: auto;
      margin: 5px 0 0;
      position: relative;
      right: auto;
    }
    
    .site-info-logo {
      background-size: cover;
      height: 72px;
      width: 72px;
    }
    
    .site-info-logo,
    .site-info-wrapper {
      display: inline-block;
      margin: 0 5px;
      vertical-align: middle;
    }
    
    .site-info-organization {
      font-size: 17px;
      text-align: left;
    }
    
    .site-info-name {
      font-size: 32px;
      text-align: left;
      width: auto;
      
      .site-info-name-secondpart {
        font-weight: 300;
        letter-spacing: 3px;
        
      }
      
    }
    
    .site-info-description {
      font-weight: 300;
    }
    
  }
  
  .frontpage-section {
    margin: 25px 0;
  }
  
  h2.frontpage-section-title {
    font-size: 26px;
    font-weight: 300;
    margin: 0 10px 10px;
  }
  
  .frontpage-studying {
  
    .studying-title {
      font-size: 20px;
      padding: 20px 20px 10px 20px;
    }
    
    .studying-description {
      padding: 10px 20px;
    }
    
    .studying-read-more {
      padding: 10px 20px 20px;
    }
  
  } 
  
  .frontpage-studying.studying-left-box,
  .frontpage-studying.studying-center-box,
  .frontpage-studying.studying-right-box,
  .frontpage-news,
  .frontpage-events,
  .frontpage-images,
  .frontpage-posts,
  .contact-info-container,
  .logo-container,
  .organization-some-box,
  .organization-description-box,
  .organization-logo-box {
    flex-basis: calc(100% - 20px);
    flex-grow: 1;
    flex-shrink: 1;
    max-width: calc(100% - 20px);
  }
  
  .frontpage-organization {
    padding: 20px;
  }
  
  .organization-some-box {
    order: 3;
    text-align: center;
    
    .some-icon a {
      font-size: 16px;
      height: 16px;
      padding: 8px;
      width: 16px;
    }
    
  }
  
  .organization-description-box {
    order: 2;
    margin: 20px 0;
     
    .organization-description {
      font-size: 14px;
    }
    
  }
  
  .organization-button {
    text-align: center;
  }
  
  .organization-logo-box {
    order: 1;
    text-align: center;

    img {
      max-height: 60px;
    }

  }
  
  .contact-info-container {
    padding: 0 30px 20px 30px;
    text-align: center;
    
    h2 {
      font-size: 30px;
    }
    
  }
  
  .logo-container {
    display: none;
  }
  
  .frontpage-footer-plagscan-container {
    justify-content: center;
    
    .footer-plagscan-logo {
      flex-flow: column nowrap;
      
      .plagscan-text,
      .plagscan-privacy-policy {
        margin: 10px;
      }
      
    }
  }
  
}