@media screen and (max-width: 767px) {

  /* WORKSPACE */
  
  /* WORKSPACE FRONTPAGE HEADER */
  .content .workspace-header-wrapper {
    max-width:960px;
    height:auto;
    min-height:auto;
    
    .workspace-header-container {
      max-width:950px;
      height:auto;
      min-height:auto;
      z-index:10;
      background:none;
      text-align:right;
      
      h1.workspace-title {
        top:auto;
        right:auto;
        left:auto;
        padding:5px 10px 5px 60px;
        max-width:100%;
        font-size:18px;
        text-align:right;
        position:relative;
        font-weight:400;
      }
      
      .workspace-additional-info-wrapper {
        position:relative;
        left:auto;
        bottom:auto;
        right:0;
        color:#000;
        padding:7px 6px 7px 60px;
        font-size:14px;
        line-height:1;
        border-radius:3px;
        margin:0 0 5px 0;
        background:transparent;
      }
      
      .workspace-study-level-indicator {
        display:none;
      }
    
    }
  
  }
  
  .content .workspace-meta-wrapper {
    font-size:12px;
    text-transform:uppercase;
    position:relative;
    bottom:auto;
    left:auto;
    z-index:13;
    padding:5px;
    background:#fff;
  
    .workspace-meta-item-wrapper {
      margin:0 5px 5px 0;
    }
  
    .workspace-meta-title {
      color:#727272;
      display:inline-block;
      margin:0;
    }
    
    .workspace-meta-desc {
      color:#000;
      display:inline-block;
    }
    
  }
  
  #workspaceNavigationWrapperBuble {
    top:87px;
    
    .icon-navicon {
      font-size:28px;
      
      .navmore-container {
        left:45px;
      }
      
    }
    
  }
  
  .workspace-frontpage-material-page .workspace-materials-view-page.material-view,
  .workspace-helppage-material-page .workspace-materials-view-page.material-view {
    padding:10px;  
  }
  
  .workspace-materials-view-page.material-view footer.article-details {
    margin:0 -10px;
  }
  
  .workspace-materials-view-page.material-view .muikku-save-page-wrapper {
    margin:20px -5px 15px -5px;
  }
  
  .workspace-materials-view-page-section.material-view .workspace-materials-view-page.material-view {
    padding:10px;  
    
    .muikku-page-assignment-type {
      margin:0 0 0 -15px;
      font-size:13px;
    }
    
    .muikku-connect-field-counterpart,
    .muikku-connect-field-term {
      font-size:14px;
      line-height:14px;
    }
    
    button.muikku-show-correct-answers-button, 
    button.muikku-hide-correct-answers-button {
      padding:8px 12px;
      font-size:13px;
    }
    
    button.muikku-assignment-button {
    
      &.muikku-check-exercises,
      &.muikku-submit-assignment,
      &.muikku-withdraw-assignment,
      &.muikku-update-assignment {
        padding:8px 12px;
        font-size:13px;
      }
    
    }
    
  }

}