// WIDE SCREEN
@media screen and (min-width: 1200px) { 

  .wide-navigation {
    display: block;
  }
  
  .narrow-navigation {
    display: none;
  }
  
  .mobile-navigation {
    display: none;
  }

}

// MEDIUM SCREEN
@media screen and (min-width: 1025px) and (max-width: 1199px) {

  .of-site-logo {
    display: none;
  }
  
  .wide-navigation {
    padding: 0 10px;
  }
  
  .narrow-navigation {
    display: none;
  }
  
  .mobile-navigation {
    display: none;
  }

}

// LANDSCAPE PAD
@media screen and (min-width: 769px) and (max-width: 1024px) {
  
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .of-site-logo {
    display: none;
  }
  
  .wide-navigation {
    display: none;
  }
  
  .narrow-navigation {
    display: block;
    padding: 0 10px;
  }
  
  .mobile-navigation {
    display: none;
  }

}

// PAD PORTRAIT
@media screen and (max-width: 768px) {
  
  body {
    max-width: 768px;
    overflow-x: hidden;
  }

  .of-site-logo {
    display: none;
  }
  
  .wide-navigation {
    display: none;
  }
  
  .narrow-navigation {
    display: block;
    padding: 0 10px;
  }
  
  .mobile-navigation {
    display: none;
  }
  
  .frontpage-studying.studying-left-box,
  .frontpage-studying.studying-center-box,
  .frontpage-studying.studying-right-box,
  .frontpage-news,
  .frontpage-events,
  .frontpage-images,
  .frontpage-posts,
  .organization-description-box {
    flex: 1 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
  
  .organization-some-box {
    flex: 1 1 calc(50% - 20px);
    order: 2;
  }
  
  .organization-description-box {
    order: 3;
    margin: 30px 0 0;
  }
  
  .organization-logo-box {
    flex: 1 1 calc(50% - 20px);
    order: 1;
  }
  
}

// MOBILE
@media screen and (max-width: 767px) {
  
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .of-site-logo {
    display: none;
  }
  
  .wide-navigation {
    display: none;
  }
  
  .narrow-navigation {
    display: none;
  }
  
  .mobile-navigation {
    display: block;
    padding: 0 10px;
  }
  
  .frontpage-section {
    margin: 25px 0;
  }
  
  h2.frontpage-section-title {
    font-size: 26px;
    margin: 0 10px 10px;
  }
  
  .frontpage-studying {
  
    .studying-title {
      font-size: 20px;
      padding: 20px 20px 10px 20px;
    }
    
    .studying-description {
      padding: 10px 20px;
    }
    
    .studying-read-more {
      padding: 10px 20px 20px;
    }
  
  } 
  
  .frontpage-studying.studying-left-box,
  .frontpage-studying.studying-center-box,
  .frontpage-studying.studying-right-box,
  .frontpage-news,
  .frontpage-events,
  .frontpage-images,
  .frontpage-posts,
  .contact-info-container,
  .logo-container,
  .organization-some-box,
  .organization-description-box,
  .organization-logo-box {
    flex: 1 1 calc(100% - 20px);
    max-width: calc(100% - 20px);
  }
  
  .frontpage-organization {
    padding: 20px;
  }
  
  .organization-some-box {
    order: 3;
    text-align: center;
    
    .some-icon a {
      font-size: 16px;
      height: 16px;
      padding: 8px;
      width: 16px;
    }
    
  }
  
  .organization-description-box {
    order: 2;
    margin: 20px 0;
     
    .organization-description {
      font-size: 14px;
    }
    
  }
  
  .organization-button {
    text-align: center;
  }
  
  .organization-logo-box {
    order: 1;
    text-align: center;

    img {
      max-height: 60px;
    }

  }
  
  .contact-info-container {
    padding: 0 30px 20px 30px;
    text-align: center;
    
    h2 {
      font-size: 30px;
    }
    
  }
  
  .logo-container {
    display: none;
  }


}