// SCREEN LANDSCAPE - 3 COLUMNS
@media screen and (min-width: 1280px) {
  
  // REQUEST
  .evaluation-request {
    width: calc(25% - 20px);
    max-width: 320px;
  }
  
}

// TABLET LANDSCAPE - 3 COLUMNS
@media screen and (min-width: 901px) and (max-width: 1279px) {
  
  // REQUEST
  .evaluation-request {
    width: calc(33% - 18px);
  }
  
}

// MOBILE & TABLET PORTRAIT & LANDSCAPE - 2 COLUMNS & DECREASED FONT SIZE
@media screen and (min-width: 600px) and (max-width: 900px) {

  // REQUEST
  .evaluation-request {
    width: calc(50% - 20px);
  }
  
  .eval-modal-student-name {
    font-size: 20px;
    padding: 20px 10px 20px 20px;
  }
  
  .eval-modal-student-programme {
    font-size: 12px;
    margin: 18px 10px;
  }
  
  .eval-modal-workspace-name {
    font-size: 20px;
    padding: 20px 60px 20px 20px;
  } 
  
}

// MOBILE - 1 COLUMN & DECREASED FONT SIZE
@media screen and (min-width: 320px) and (max-width: 599px) {
  
  // REQUEST PAGE TITLE
  .evaluation-requests-title {
    
    h3 {
      font-size: 20px;
    }
    
  }
  
  // REQUEST
  .evaluation-request {
    width: calc(100% - 20px);
  }
  
  .evaluation-request-student {
    font-size: 14px;
  }
  
  .eval-modal-student-name {
    font-size: 18px;
    padding: 22px 10px 20px 20px;
  }
  
  .eval-modal-student-programme {
    font-size: 12px;
    margin: 19px 10px;
  }
  
  .eval-modal-workspace-name {
    font-size: 18px;
    padding: 22px 60px 20px 20px;
  } 
  
}