.notification-queue {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  height: 0;
}

.notification-queue-items {

}

.notification-queue-item {
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 16px;
  font-weight:400;
  margin: 0 auto 4px;
  max-width: 600px;
  padding: 12px 36px;
  position: relative;
  text-align: center;
  word-wrap: break-word;
  z-index: 2;
}

.notification-queue-item:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0;
}

.notification-queue-item-info {
  background: #549fca;
}

.notification-queue-item-warn {
  background: #ffce65;
  color:#6a4902;
}

.notification-queue-item-error {
  background: #ff6600;
}

.notification-queue-item-fatal {
  background: #bf3000;
}

.notification-queue-item-success {
  background: #49af4e;
}

.notification-queue-item-loading {
  background-color: #000;
  background-image:url('/gfx/eventqueueloader.png');
  background-position: 8px center;
  background-repeat: no-repeat;
  z-index:9999;
}

.notification-queue-item-guiding {
  background: #fff;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  color: #2c2c2c;
  max-width: 440px;
  padding: 20px;
  text-align: left;
  
  .notification-queue-login-guiding-wrapper {
    padding: 0 0 0 84px;
    position: relative;
  }
  
  // ToDdo: Change to correct icon
  .notification-queue-login-guiding-icon {
    background: url('https://cdn3.iconfinder.com/data/icons/brain-games/128/Quiz-Games.png');
    background-size: contain;
    height: 64px;
    left: 0;
    position: absolute;
    top: 0;
    width: 64px;
  }
  
  .notification-queue-login-guiding-title {
    font-size: 1.3rem;
    margin: 0 0 15px;
  }
  
  .notification-queue-login-guiding-text {
    font-size: 0.875rem;
    margin: 15px 0;
  }
  
  .notification-queue-login-guiding-link {
    margin: 15px 0 0;
    text-align: right;
    
    a {
      background: #009fe3;
      border-radius: 2px;
      color: #fff;
      line-height: 1;
      font-size: 0.872rem;
      padding: 6px 8px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  
}

.notification-queue-item a.notification-queue-item-close {
  background-image:url('/gfx/eventqueueclose.png');
  top: 12px;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 8px;
  width: 24px;
}