.muikku-terms-container {
  margin: 10px 0;
  
  .muikku-terms-title {
    font-weight: 400;
    line-height: 1;
    padding: 2px 0 4px;
  }
  
  .muikku-terms-data {
  
    .muikku-term {
      background: $taskBoxColor;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 16px;
      margin: 2px 4px 0 0;
      display: inline-block;
      padding: 6px 8px;
      position: relative;
      line-height: 1;
      cursor: move;
      color: $taskBoxTextColor;
      word-wrap: normal;
      
      &.term-in-use {
        background: $taskBoxEditedColor; 
      }
      
      &:hover {
        background: $taskBoxHoverColor;
      }
      
      &.ui-draggable-dragging {
        z-index: 99;
        background: $selectedtaskBoxColor; 
        color: $selectedTaskBoxTextColor;
        padding: 6px 7px;
        height: auto !important;
      }
      
    }
  
  }
  
}

.muikku-category-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px;
  width: calc(50% - 5px);
  
  &:nth-child(odd) {
    margin: 5px 5px 5px 0;
  }
  
  &:nth-child(even) {
    margin: 5px 0 5px 5px;
  }
  
  .muikku-category-title {
    font-weight: 400;
    line-height: 1;
    padding: 2px 0 4px;
  }
  
  .muikku-category {
    border: 3px solid $taskBoxColor;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
    padding: 3px;
    
    .muikku-term {
      background: $taskBoxColor;
      border-radius: 3px;
      box-sizing: border-box;
      font-size: 16px;
      margin: 2px 4px 1px 0;
      display: inline-block;
      padding: 6px 28px 6px 8px;
      position: relative;
      line-height: 1;
      color: $taskBoxTextColor;
      
      &.term-in-use {
        background: $taskBoxEditedColor; 
      }
      
      .icon-delete {
        position: absolute;
        right: 5px;
        top: 7px;
        width: 14px;
        height: 14px;
        font-size: 14px;
        color: $taskBoxTextColor;
        cursor: pointer;
      }
      
    }
    
  }
  
}