.muikku-organizer-field {
  
}

.muikku-terms-container {
  margin:10px 0;
  
  .muikku-terms-title {
    font-weight:400;
    line-height:1;
    padding:2px 0 4px 0;
  }
  
  .muikku-terms-data {
  
    .muikku-term {
      background:#e1f7fc;
      border-radius:3px;
      box-sizing:border-box;
      font-size:16px;
      margin:2px 4px 0 0;
      display:inline-block;
      padding:6px 8px;
      position:relative;
      line-height:1;
      cursor:move;
      
      &.term-in-use {
        background:#6cd2fc; 
        color:#fff;
      }
      
      &.ui-draggable-dragging {
        z-index:99;
      }
      
      &:hover {
        background:#3dc7ff;
        color:#fff;
        text-shadow:0 0 0px #fff;
      }
      
    }
  
  }
  
}

.muikku-category-container {
  box-sizing:border-box;
  display:inline-block;
  margin:5px;
  width:calc(50% - 5px);
  
  &:nth-child(odd) {
    margin:5px 5px 5px 0;
  }
  
  &:nth-child(even) {
    margin:5px 0 5px 5px;
  }
  
  .muikku-category-title {
    font-weight:400;
    line-height:1;
    padding:2px 0 4px 0;
  }
  
  .muikku-category {
    border:3px solid #e1f7fc;
    border-radius:3px;
    box-sizing:border-box;
    width:100%;
    min-height:100px;
    padding:3px;
    
    .muikku-term {
      background:#e1f7fc;
      border-radius:3px;
      box-sizing:border-box;
      font-size:16px;
      margin:2px 4px 1px 0;
      display:inline-block;
      padding:6px 28px 6px 8px;
      position:relative;
      line-height:1;
      
      &.term-in-use {
        background:#6cd2fc; 
        color:#fff;
      }
      
      .icon-delete {
        position:absolute;
        right:5px;
        top:7px;
        width:14px;
        height:14px;
        font-size:14px;
        color:#000;
        cursor:pointer;
      }
      
      &:hover {
        background:#3dc7ff;
        color:#fff;
        text-shadow:0 0 0px #fff;
      }
      
    }
    
  }
  
}