div.muikku-sorter-field {
  
  &[data-disabled="true"] {
    cursor: default;
    opacity: 0.5;
    
    .muikku-sorter-item:hover {
      background: $taskBoxColor;
    }
    
  }
  
}

span.muikku-sorter-field {
  display: inline-block;
  
  &[data-disabled="true"] {
    cursor: default;
    opacity: 0.5;
    
    .muikku-sorter-item:hover {
      background: $taskBoxColor;
    }
    
  }
  
}

div.muikku-sorter-items-container {
  
  &.capitalize {
    
    > .muikku-sorter-item:first-child:first-letter {
      text-transform:capitalize;
    }
    
  }
    
  div.muikku-sorter-item {
    border-radius: 3px;
    background: $taskBoxColor;
    box-sizing: border-box;
    color: $taskBoxTextColor;
    font-size: 16px;
    line-height: 1;
    margin: 5px 0;
    padding: 6px 8px;
    position: relative;
    word-wrap: normal;
  
    &.ui-sortable-handle {
      cursor: move;
    }
    
    &:hover {
      background: $taskBoxHoverColor;
    }
    
    &.ui-sortable-helper {
      z-index: 99;
      background: $selectedtaskBoxColor; 
      color: $selectedTaskBoxTextColor;
    }

  }
  
}

span.muikku-sorter-items-container {
  display: inline-block;
	
  &.capitalize {
    
    > .muikku-sorter-item:first-child:first-letter {
      text-transform:capitalize;
    }
    
  }
  
  span.muikku-sorter-item {
    background: $taskBoxColor;
    border-radius: 3px;
    box-sizing: border-box;
    color: $taskBoxTextColor;
    display:inline-block;
    font-size: 16px;
    line-height: 1;
    margin: 5px 3px;
    padding: 6px 8px;
    position: relative;
    vertical-align: top;
    word-wrap: normal;
    
    &:first-child {
      margin: 5px 3px 5px 6px;
    }
    
    &:last-child {
      margin: 5px 0 5px 3px;
    }
  
    &.ui-sortable-handle {
      cursor: move;
    }
    
    &:hover {
      background: $taskBoxHoverColor;
    }
    
    &.ui-sortable-helper {
      z-index: 99;
      background: $selectedtaskBoxColor; 
      color: $selectedTaskBoxTextColor;
      padding: 6px 7px;
      height: auto !important;
    }

  }
  
}