/* Navigation Icon Shadow */
@mixin iconShadow($col:rgba(47,100,129,0.7)) {
 text-shadow: 0 0 15px $col; 
}

/* Generic Text Shadow for Buttons */
@mixin buttonFontShadow() {
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

/* Generic Box shadow for Buttons */
@mixin button-shadow() {
  box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}

/* Generic Gradient Used in Buttons */
@mixin gradient-top-bottom($bgColorStart:$gradient-start, $bgColorEnd:$gradient-end,$bgr:$gradient-start) {
  background: $bgr; 
  background: -moz-linear-gradient(top, $bgColorStart 0%,  $bgColorEnd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bgColorStart), color-stop(100%,$bgColorEnd));
  background: -webkit-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: -o-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: -ms-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: linear-gradient(to bottom, $bgColorStart 0%,$bgColorEnd 100%);
}

/* Form element - HOVER */
@mixin elementHover($rgba) {
  box-shadow: 0 0 0 3px $rgba; 
  border-color:#fff;
}

/* Form element - FOCUS */
@mixin elementFocus($rgba) {
  box-shadow: 0 0 0 3px $rgba; 
  border-color:#fff;
}

@mixin fadeRight(){
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(99%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); 
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); 
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); 
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); 
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
}

@mixin generic-loader($size) {
  -webkit-animation:generic-loader 1.0s infinite linear;
  -moz-animation:generic-loader 1.0s infinite linear;
  animation:generic-loader 1.0s infinite linear;
  content: "\e900";
  font-family: 'muikku' !important;
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  height:$size;
  width:$size;
  font-size:$size;
  color:#7ed9ff;
}

/* Workspace Navigation Tooltip Transitions */
@mixin workspaceTooltipTransition($pr1,$trd1,$tf1) {
  -webkit-transition-property:$pr1;
  -webkit-transition-duration:$trd1;
  -webkit-transition-timing-function:$tf1;
  -moz-transition-property:$pr1;
  -moz-transition-duration:$trd1;
  -moz-transition-timing-function:$tf1;
  -o-transition-property:$pr1;
  -o-transition-duration:$trd1;
  -o-transition-timing-function:$tf1; 
  transition-property:$pr1;
  transition-duration:$trd1;
  transition-timing-function: $tf1;
}

@mixin no-select {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

@mixin flexbox() {
  display:-webkit-box; 
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}

@mixin flex-grow($value) {
  -webkit-flex-grow:$value;
  -moz-flex-grow:$value;
  -ms-flex-grow:$value;
  flex-grow:$value;
}

@mixin flex-shrink($value) {
  -webkit-flex-shrink:$value;
  -moz-flex-shrink:$value;
  -ms-flex-shrink:$value;
  flex-shrink:$value;
}

@mixin flex-basis($value) {
  -webkit-flex-basis:$value;
  -moz-flex-basis:$value;
  -ms-flex-basis:$value;
  flex-basis:$value;
}

@mixin flex($values) {
  -webkit-box-flex:$values;
  -moz-box-flex:$values;
  -webkit-flex:$values;
  -ms-flex:$values;
  flex:$values;
}