// Environment level variables

$body-background-color: #f6fcff;
$body-font-color: #2c2c2c;

$environment-icon-family: 'muikku';
$environment-font-family: 'Open Sans',Arial,sans-serif;
$environment-box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.03);
$environment-bottom-bar-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
$environment-bottom-bar-background-color: #485c64;
$environment-bottom-bar-font-color: #fff;
$environment-background-color: #fff;
$environment-background-dim-color: #ededed;
$environment-background-light-dim-color: #f9f9f9;
$environment-background-highlight-color: #fff8c1;
$environment-background-active-color: #69cff9;
$environment-background-selected-color: #eee;
$environment-file-color: #34acfd;
$environment-font-color: #000;
$environment-alt-font-color: #fff; 
$environment-font-disabled-color: #aaa;
$environment-border-color: #ededed;
$environment-border-selected-color: #dadada;
$environment-border-transparent: rgba(255, 255, 255, 0);
$environment-widget-overlay-background-color: #000;

// Items in the content-area  (messages, users, workspaces...)

$item-header-font-color: #d89828;
$item-header-secondary-font-color: #cecece;
$item-header-icon-font-color: #3f639a;
$item-header-label-color: #daf5ff;
$item-border-color: #fff;
$item-border-color-active: #0099ff;
$item-background-active-color: #dff7ff;
$item-background-highlight-color: #d5f4ff;
$item-border-highlight-color: #ff9600;
$item-target-icon-color: #049a00;
$item-state-locked-icon-color: #c92d2d;
$item-state-pinned-icon-color: #149000;
$item-state-info-font-color: #a4a4a4;
$item-title-background-color: #f8f8f8;
$item-grade-font-color: #fff;
$item-grade-passing-color: #0acf00;
$item-grade-failing-color: #ea7401;
$item-button-add-color: #0099ff;
$item-button-font-color: #fff;

// Vertical navigation bar seen in mainfunctions (labels, folders...)

// Todo: change to vertical navigation bar

$navigation-bar-icon-color: #dadada;
$navigation-bar-border-color: #fff;
$navigation-bar-hover-border-color: #ededed;
$navigation-bar-selected-color: #ededed;

// Horizontal navigation bar seen in mainfunctions (delete, add labels, add area, edit area...)

// Todo: change to horizontal navigation bar

$content-navigation-menu-border-1: #00deff;
$content-navigation-menu-shadow: 0 7px 15px rgba(0,0,0,0.3);
$content-navigation-menu-highlight-color: #3a98f0;
$content-navigation-action-remove-color: #d80000;
$content-navigation-action-font-color: #fff;

// Categories are used in differentiating things (users, message areas...) by color

$category-color-1: #0099ff;
$category-color-2: #ff9900;
$category-color-3: #ff008d;
$category-color-4: #0bf0f2;
$category-color-5: #f00bf2;
$category-color-6: #47ccae;
$category-color-7: #7082b0;
$category-color-8: #6eb5cf;
$category-color-9: #ff0000;
$category-color-10: #0cff00;
$category-color-11: #000000;

// Searches and filterings 

$search-result-font-color: #0099ff;
$user-picture-font-color: #fff;

// Target (user, group, workspace...) - fe. a recipient

$target-font-color: #777;
$target-user-icon-color: #ff9600;
$target-workspace-icon-color: #0012ff;
$target-group-icon-color: #049a00;
$target-remove-icon-color: #d80000;
$target-remove-font-color: #d80000;





