/* Site's Main Vars */
$siteWidth:960px;

/* Text Colors */
$header:#2c2c2c;
$title:#000;
$subTitle:#4e4e4e;
$link:#0099ff;
$formTitle: #5b5b5b;

/* Link */
$contextualLink:#0099ff;
$contextualLinkHover:#006ab1; 

/* Assignments - Colors */
$exerciseAssignment:#ff9900;
$evaluatedAssignment:#ce01bd;

/* Exercise Correct Answers - Colors */
$exerciseCorrectAnswersAlways:#62eba9;
$exerciseCorrectAnswersNever:#da4a51;
$exerciseCorrectAnswersOnRequest:#62c3eb;

/* Dynamic Navigation background */
$dNavBgr:#b7d8eb;

/* Static Navigation */
$naviBgColor:#4594bf;
$naviBorderTop:#71c3e1;
$naviBorderBottom:#b2e0ff;

/* Bottom bar */
$btBarBgr:#c4e3f8;

/* MainFunctions */
$mainFuncSideHeader : #aed4e3;
$mainFuncFilter1 : #32acf6;
$mainFuncFilter2 : #f90ae3;
$mainFuncFilter3 : #5dc005;

/* Category - colors */
$category1 : #0099ff;
$category2 : #ff9900;
$category3 : #ff008d;
$category4 : #0bf0f2;
$category5 : #f00bf2;
$category6 : #47ccae;
$category7 : #7082b0;
$category8 : #6eb5cf;
$category9 : #ff0000;
$category10 : #0cff00;
$category11 : #000000;