// Open front page's variables

$of-body-font-family: 'Exo 2',Arial,sans-serif;
$of-body-background-color: #f5f5f5;
$of-body-font-color: #343333; 

$of-navigation-link-color: #969696;
$of-navigation-link-highlight-color: #00af00;
$of-navigation-link-selected-color: #009fe3;

$of-navigation-shadow-color: rgba(0, 0, 0, 0.2);

$of-navigation-login-background-color: #009fe3;
$of-navigation-login-text-color: #fff;
$of-navigation-forgotpassword-link-color: #009fe3;

$of-navigation-locale-selected-background-color: #494949;
$of-navigation-locale-selected-text-color: #fff;
$of-navigation-locale-selection-background-color: #494949;
$of-navigation-locale-selection-boxshadow-color: rgba(0, 0, 0, 0.3);
$of-navigation-locale-selection-link-color: #fff;
$of-navigation-locale-selection-arrow-background-color: #494949; 

$of-header-background-color: #0089c6;

$of-header-bubble-background-color: #fff;
$of-header-bubble-border-color: #02a0e3;
$of-header-bubble-border-hover-color: #ef6000;
$of-header-bubble-boxshadow-color: rgba(0, 0, 0, 0.15);
$of-header-bubble-title-font-color: #009fe3;
$of-header-bubble-link-background-color: #ef6000;
$of-header-bubble-link-color: #fff;

$of-header-site-info-text-color: #fff;
$of-header-site-info-logo-boxshadow-color: rgba(0, 0, 0, 0.2);
$of-header-site-info-logo-glow-boxshadow-color: rgba(255, 255, 255, 1);
$of-header-site-info-text-shadow-color: rgba(0, 0, 0, 0.3);
$of-header-site-info-text2-shadow-color: rgba(0,0,0,0.6);

$of-announcement-background-color: #454545;

$of-frontpage-box-background-color: #fff;
$of-frontpage-box-border-color: #e2e3e3;
$of-frontpage-section-title-color: #009fe3;

$of-studying-read-more-link-color: #fff;
$of-studying-nettilukio-color: #5db5c5;
$of-studying-nettiperuskoulu-color: #f58220;
$of-studying-aineopiskelu-color: #c64986;

$of-carousel-dot-background-color: #afafaf;
$of-carousel-active-dot-background-color: #ef6000;
$of-carousel-dot-border-color: #fff;

$of-organization-some-icon-background-color: #454545;
$of-organization-some-icon-hover-background-color: #009fe3;
$of-organization-some-icon-text-color: #fff;
$of-organization-site-link-color: #fff;
$of-organization-site-link-background-color: #009fe3;
$of-organization-newsletter-link-color: #fff;
$of-organization-newsletter-link-background-color: #ef6000;

$of-feed-link-color: #343333;
$of-feed-link-hover-color: #009fe3;
$of-feed-date-text-color: #8c8c8c;

$of-footer-background-color: #454545;
$of-footer-text-color: #fff;

// Environment level variables

// TODO: Move shadows to _styles.scss

$body-background-color: #f6fcff;
$body-font-color: #2c2c2c;
$environment-icon-family: 'muikku';
$environment-font-family: 'Open Sans',Arial,sans-serif;

// Assignments, Exercises and Journal - Colors

$assignment-color: #ce01bd;
$exercise-color: #ff9900;
$journal-color: #0effe6;

// TODO: Should be environment-icon-color - the fact that an icon is a font is irrelevant

$environment-icon-font-color: #fff;
$environment-content-box-shadow: 0 0 15px rgba(216, 230, 235, 0.5);
$environment-box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.03);
$environment-bottom-bar-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
$environment-bottom-bar-background-color: #485c64;
$environment-bottom-bar-font-color: #fff;
$environment-bottom-bar-link-color: #b3e9ff;
$environment-background-color: #fff;
$environment-language-selection-background-color: #2e72a0;
$environment-language-selection-shadow: 0 0 15px rgba(255,255,255,0.5);
$environment-language-selection-active-background-color: #fff;
$environment-language-selection-link-color: #fff;
$environment-language-selection-language-background-color: #fff;
$environment-language-selection-language-link-color: #569bca;
$environment-language-selection-language-link-hover-color: #fff;
$environment-language-selection-language-background-hover-color: #2e72a0;
$environment-legend-background-color: #fbfbfb;
$environment-legend-border-color: #f3f3f3;
$environment-sign-in-link-color: #fff;
$environment-sign-in-font-shadow: 0 0 1px #000;
$environment-logged-in-border-color: #fff;
$environment-logged-in-background-color: #fff;
$environment-logged-in-font-color: #3c77a0;
$environment-static-navigation-icon-color: #fff;
$environment-static-navigation-gradient-color-start: rgba(36, 108, 162, 0.15);
$environment-static-navigation-gradient-color-end: rgba(255, 255, 255, 0);
$environment-static-navigation-background-color: #4594bf;
$environment-static-navigation-border-top-color: #71c3e1;
$environment-static-navigation-border-bottom-color: #b2e0ff;
$environment-static-navigation-active-border-color: #aae3f2;
$environment-static-navigation-border-color: #66aace;
$environment-static-navigation-notifier-background-color: #ff0000;
$environment-static-navigation-notifier-border-color: #fff;
$environment-static-navigation-notifier-font-color: #fff;
$environment-background-dim-color: #ededed;
$environment-background-light-dim-color: #f9f9f9;
$environment-background-highlight-color: #fff8c1;
$environment-background-active-color: #69cff9;
$environment-background-selected-color: #eee;
$environment-file-background-color: #34acfd;
$environment-font-color: #000;
$environment-link-color: #4290ea;
$environment-header-font-color: #2c2c2c;
$environment-page-title-font-color: #374145;
$environment-alt-font-color: #fff; 
$environment-font-disabled-color: #aaa;
$environment-border-color: #ededed;
$environment-arrow-border-color: #fff;
$environment-border-selected-color: #dadada;
$environment-border-highlight-color: #ccc;
$environment-border-transparent-color: rgba(255, 255, 255, 0);
$environment-button-container-background-color: #ebf6fb;
$environment-button-dropdown-arrow-border-color: #f6c06d;
$environment-button-background-color: #ed8e00;
$environment-button-gradient-start-color: rgba(253, 167, 38, 1);
$environment-button-gradient-end-color: rgba(237, 142, 0, 1);
$environment-button-border-color: #d9e4e8;
$environment-button-font-color: #fff;
$environment-button-disabled-background-color: #757575;
$environment-button-disabled-gradient-start-color: rgba(220, 220, 220, 1);
$environment-button-disabled-gradient-end-color: rgba(176, 176, 176, 1);
$environment-button-disabled-font-color: #dadada;
$environment-button-dropdown-background-color: #f6c06d;
$environment-menu-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
$environment-menu-background-color: #fff;
$environment-menu-font-color: #000;
$environment-menu-item-active-background-color: #1a9bfc;
$environment-menu-item-active-font-color: #fff;
$environment-content-container-background-color: #f0f3f4;
$environment-header-background-color: #eff7fb;
$environment-navigation-container-background-color: #f1f8fb;
$environment-navigation-content-navigation-background-color: #f5fcff;
$environment-paging-tool-background-color: #36a3ce;
$environment-paging-tool-font-color: #fff;
$environment-paging-tool-background-disabled-color: #ededed;
$environment-paging-tool-font-disabled-color: #dadada;
$environment-widget-overlay-background-color: #000;
$environment-subtitle-font-color: #757575;
$environment-items-title-font-color: #757575;
$environment-item-subheader-font-color: #32acf6; 
$environment-settings-icon-color: #000;
$environment-settings-hover-icon-color: #3782df;
$environment-settings-subtitle-background-color: #f7fdff;
$environment-setting-signature-border-color: #d7d7d7;
$environment-setting-signature-background-color: #fafafa;
$environment-profile-background-color: #fff;
$environment-profile-picture-box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
$environment-profile-picture-border: #fff;
$environment-profile-section-background-color: #ff008d;
$environment-profile-section-font-color: #fff;
$environment-profile-button-background-color: #0099ff;
$environment-profile-button-font-color: #fff;



// Forms (bottom bar)

$form-header-font-color: #fff;
$form-element-title-font-color: #5b5b5b; 
$form-textfield-font-color: #000;
$form-textfield-focus-background-color: #eee;
$form-textfield-hover-background-color: #eee;
$form-textfield-subcontainer-border-color: #fff;
$form-textfield-subcontainer-font-color: #000;
$form-textfield-subcontainer-background-color: #fff;
$form-button-font-color: #fff;
$form-button-send-background-color: #27b91c;
$form-button-cancel-background-color: #7391a7;
$form-autocomplete-background-color: #f2f5f7;
$form-autocomplete-border-color: #fff;
$form-autocomplete-hover-font-color: #006ab1;

// Items in the content-area  (messages, users, workspaces...)

$item-background-color: #fff;
$item-markup-border-color-1: #32acf6;
$item-markup-border-color-2: #f90ae3;
$item-markup-border-color-3: #5dc005;
$item-shadow: 0 0 15px rgba(216, 230, 235, 0.2);
$item-header-hidden-font-color: #d89828;
$item-header-secondary-font-color: #cecece;
$item-header-icon-font-color: #3f639a;
$item-header-label-background-color: #daf5ff;
$item-description-font-color: #9f9f9f;
$item-border-color: #fff;
$item-border-color-active: #0099ff;
$item-background-active-color: #dff7ff;
$item-background-highlight-color: #d5f4ff;
$item-border-highlight-color: #ff9600;
$item-target-icon-color: #049a00;
$item-state-locked-icon-color: #c92d2d;
$item-state-pinned-icon-color: #149000;
$item-state-info-font-color: #a4a4a4;
$item-title-background-color: #f8f8f8;
$item-grade-font-color: #fff;
$item-grade-passing-color: #0acf00;
$item-grade-failing-color: #ea7401;
$item-grade-failed-color: #707070;
$item-state-between-color: #4d67ff;
$item-state-incomplete-color: #fcd500;
$item-state-passed-color: #50c04d;
$item-button-add-background-color: #0099ff;
$item-grade-passing-background-color: #0acf00;
$item-grade-failing-background-color: #ea7401;
$item-default-button-background-color: #0099ff;
$item-button-font-color: #fff;
$item-tool-font-color: #ededed;
$item-tool-font-hover-color: #000;
$item-tool-button-font-color: #fff;
$item-tool-button-background-color: #068feb;
$item-tool-button-wizard-background-color: #00b8c8;
$item-tool-button-goto-background-color: #068feb;
$item-tool-link-font-color: #068feb;
$item-label-font-color: #4c4c4c;

// Vertical navigation bar seen in mainfunctions (labels, folders...)

$navigation-vertical-bar-icon-color: #dadada;
$navigation-vertical-bar-empty-font-color: #dadada;
$navigation-vertical-bar-border-color: #fff;
$navigation-vertical-bar-hover-border-color: #ededed;
$navigation-vertical-bar-selected-background-color: #ededed;
$navigation-vertical-bar-deco-icon-color: #dadada;
$navigation-vertical-bar-deco-active-icon-color: #000;
$navigation-vertical-bar-background-color: #fff;
$navigation-vertical-bar-background-active-color: #dadada;
$navigation-vertical-bar-sub-header-background-color: #aed4e3;
$navigation-vertical-bar-active-background-color: #eee;

// Horizontal navigation bar seen in mainfunctions (delete, add labels, add area, edit area...)

$navigation-horizontal-bar-button-icon-color: #fff;
$navigation-horizontal-bar-default-button-background-color: #0099ff;
$navigation-horizontal-bar-default-button-background-hover-color: #0065cb;
$navigation-horizontal-bar-navigation-background-color: #84d9fe;
$navigation-horizontal-bar-navigation-icon-color: #fbfbfb;
$navigation-horizontal-bar-special-background-color: #99eb36;
$navigation-horizontal-bar-special-accented-background-color: #72b322;
$navigation-horizontal-bar-special-button-background-color: #72d200;
$navigation-horizontal-bar-special-menu-link-font-color: #72d200;
$navigation-horizontal-bar-special-menu-input-border-color: #ccc;
$navigation-horizontal-bar-special-menu-arrow-border-color-1: #fff;
$navigation-horizontal-bar-special-menu-arrow-border-color-2: #72d200;
$navigation-horizontal-bar-special-menu-border-color: #72d200; 
$navigation-horizontal-bar-active-font-color: #fff;
$navigation-horizontal-bar-hover-background-color: #eee;
$navigation-horizontal-bar-border-color: #fff;
$navigation-horizontal-bar-disabled-button-background-color: #ededed;
$navigation-horizontal-bar-disabled-button-font-color: #dadada;

// This navigation is inside of the content area 

$content-navigation-menu-border-color-1: #00deff;
$content-navigation-menu-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
$content-navigation-menu-highlight-background-color: #3a98f0;
$content-navigation-action-remove-background-color: #d80000;
$content-navigation-action-font-color: #fff;

// Categories are used in differentiating things (users, message areas...) by color. 
// Can be used in borders, backgrounds etc. That's why it's not defined

$category-color-1: #0099ff;
$category-color-2: #ff9900;
$category-color-3: #ff008d;
$category-color-4: #0bf0f2;
$category-color-5: #f00bf2;
$category-color-6: #47ccae;
$category-color-7: #7082b0;
$category-color-8: #6eb5cf;
$category-color-9: #ff0000;
$category-color-10: #0cff00;
$category-color-11: #000000;

// Searches and filterings 
$search-icon-color: #dadada;
$search-result-font-color: #0099ff;
$user-picture-font-color: #fff;

// Target (user, group, workspace...) - fe. a recipient

$target-font-color: #777;
$target-user-color: #ff9600;
$target-workspace-color: #0012ff;
$target-group-color: #049a00;
$target-remove-color: #d80000;
$target-remove-font-color: #d80000;

// Evaluation Basic 

$evaluation-passed-color: #2ed31c;
$evaluation-failed-color: #d31111;
$evaluation-incomplete-color: #ea7503;
$evaluation-requested-color: #009fe3;
$evaluation-archive-color: #4c4c4c;
$evaluation-delete-color: #d50b36;
$evaluation-cancel-color: #7391a7;

$evaluation-passed-boxshadow-color: rgba(60, 221, 3, 0.2);
$evaluation-failed-boxshadow-color: rgba(211, 17, 17, 0.2);
$evaluation-incomplete-boxshadow-color: rgba(234, 117, 3, 0.2);
$evaluation-requested-boxshadow-color: rgba(0, 204, 255, 0.2);

// Evaluation Body and Main View

$evaluation-background-color: #fff;
$evaluation-view-background-color: #fff;

// Evaluation Navigation

$evaluation-navigation-background-color: #7ed9ff;
$evaluation-navigation-boxshadow-color: rgba(0, 0, 0, 0.1);
$evaluation-navigation-item-font-color: #fff;
$evaluation-navigation-item-textshadow-color: #fff; // Highlight effect

// Evaluation Filer

$evaluation-filter-wrapper-background-color: #fff;
$evaluation-filter-wrapper-background-boxshadow-color: rgba(0, 0, 0, 0.1);

// Evaluation Sorting

$evaluation-sorting-item-nonactive-background-color: #eee;
$evaluation-sorting-item-nonactive-font-color: #000;
$evaluation-sorting-item-active-background-color: #009fe3;
$evaluation-sorting-item-active-font-color: #fff;

// Evaluation Welldone

$evaluation-welldone-font-color: #4c4c4c; // When all requests has been handled this text appears

// Evaluation Cards

$evaluation-card-background-color: #fff;
$evaluation-card-border-color: #d7edfb;
$evaluation-card-title-background: #ebfbfe;
$evaluation-card-assignment-status-font-color: #fff;
$evaluation-card-assignment-status-notdone-background-color: #da5760;
$evaluation-card-assignment-status-done-background-color: #63da57;
$evaluation-important-star-font-color: #009fe3;
$evaluation-important-star-active-font-color: #fff;
$evaluation-important-star-active-background-color: #ff0000;
$evaluation-unimportant-star-font-color: #009fe3;
$evaluation-unimportant-star-active-font-color: #fff;
$evaluation-unimportant-star-active-background-color: #666;
$evaluation-card-button-font-color: #fff;

// Evaluation Workspaces

$evaluation-workspaces-wrapper-background-color: #fff;
$evaluation-workspaces-wrapper-background-boxshadow-color: rgba(0, 0, 0, 0.1);

// Evaluation Modal

$evaluation-modal-background-color: #fff;
$evaluation-modal-close-font-color: #fff;
$evaluation-modal-close-textshadow-color: #fff;
$evaluation-modal-assignment-close-font-color: #d522c6;
$evaluation-modal-assignment-close-border-color: #d522c6;
$evaluation-modal-assignment-close-textshadow-color: #fff;
$evaluation-modal-header-background-color: #3786bf;
$evaluation-modal-header-font-color: #fff;

// Evaluation Modal - Workspace Evaluation Overlay

$evaluation-modal-workspace-evaluation-form-overlay-background-color: #fff;
$evaluation-modal-workspace-evaluation-form-activate-button-background-color: #009fe3;
$evaluation-modal-workspace-evaluation-form-activate-button-font-color: #fff;

// Evaluation Modal - Forms

$evaluation-modal-texteditor-border-color: #abdbed;
$evaluation-modal-textfield-background-color: #fff;
$evaluation-modal-textfield-border-color: #abdbed;
$evaluation-modal-memofield-background-color: #fff;
$evaluation-modal-memofield-border-color: #abdbed;
$evaluation-modal-select-background-color: #fff;
$evaluation-modal-select-border-color: #abdbed;
$evaluation-modal-button-font-color: #fff;

// Evaluation Modal - Assignment Evaluation 

$evaluation-modal-assignment-evaluation-background-color: #fff;
$evaluation-modal-assignment-evaluation-header-background-color: #fff;

// Evaluation Modal Assignment & Journal Listing

$evaluation-modal-seperator-border-color: #f8f8f8;
$evaluation-modal-assignment-evaluate-button-font-color: #fff;
$evaluation-modal-assignment-evaluated-incomplete-font-color: #fff;
$evaluation-modal-assignment-evaluated-grade-info-background-color: #c9f8bb;
$evaluation-modal-assignment-evaluated-literal-background-color: #e2ffe2;

// Forms in Evaluation

$forms-generic-border-color: #fff;
$forms-button-background-color: #62c3eb;
$forms-button-font-color: #fff;
$forms-reset-icon-font-color: #4c4c4c;
