@media screen and  (max-width: 1099px) {
  
  // WORKSPACE NAVIGATION CONTAINER
  #workspaceNavigationWrapper {
    display: none;
  }
  
  // WORKSPACE NAVIGATION BUBLE CONTAINER
  #workspaceNavigationWrapperBuble {
    display: block;
    background: #36b497;
    border: 2px solid #fff;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    position: fixed;
    z-index: 99;
    top: 97px;
    left: 5px;
    cursor: pointer;
    text-align: center;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out;
    
    .icon-navicon {
      padding: 6px;
      color: #fff;
      margin: 4px;
      font-size: 32px;
      position: relative;
      background: transparent;
      
      .navmore-container {
        background: transparent;
        border-radius: 3px;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
        display: none;
        left: 50px;
        min-width: 260px;
        position: absolute;
        text-align: left;
        top: -6px;
        
        &::after {
          right: 100%;
          top: 26px;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(76, 102, 105, 0);
          border-right-color: #4c6669;
          border-width: 4px;
          margin-top: -4px;
        }
        
        .navmore-management-links {
          padding: 5px;
          background: #4c6669;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          
          .workspace-management-item {
            
            a {
              border-radius: 3px;
              color: #fff;
              display: block;
              font-size: 18px;
              font-weight: 300;
              margin: 0;
              padding: 10px;
              text-decoration: none;
              text-transform: uppercase;
              white-space: nowrap;
              
              span {
                font-size: 16px;
                line-height: 18px;
                vertical-align: top;
                white-space: normal;
              }
              
              &:hover {
                background: #547d82;
              }
              
            }
            
          }
          
        }
        
        .navmore-student-links {
          padding: 5px;
          background: #36b497;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          
          .workspace-student-item {
            
            a {
              border-radius: 3px;
              color: #fff;
              display: block;
              font-size: 18px;
              font-weight: 300;
              margin: 0;
              padding: 10px;
              text-decoration: none;
              text-transform: uppercase;
              white-space: nowrap;
              
              span {
                font-size: 16px;
                line-height: 18px;
                vertical-align: top;
                white-space: normal;
              }
              
              &:hover {
                background: #56ccb1;
              }
              
            }
            
          }
          
        }
        
        .navmore-evaluation-links {
          margin-top: 3px;
          padding: 0;
          background: #36b497;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
          
          .workspace-evaluation-item {
            padding: 5px;
          
            &.workspace-dock-navi-button-evaluation {
              border-bottom-left-radius: 0px;
              border-bottom-right-radius: 0px;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
              margin: 0;
              width: auto;
              
              a {
                width: auto;
              }
              
            }
            
            a {
              border-radius: 3px;
              color: #fff;
              display: block;
              font-size: 18px;
              font-weight: 300;
              margin: 0;
              padding: 10px;
              text-decoration: none;
              text-transform: uppercase;
              white-space: nowrap;
              
              span {
                font-size: 16px;
                line-height: 18px;
                vertical-align: top;
                white-space: normal;
              }
              
            }
            
          }
          
        }
        
        .navmore-fullscreenreading-links {
          padding: 5px;
          background: #288fcd;
          
          .workspace-fullscreenreading-item {
            
            a {
              border-radius: 3px;
              color: #fff;
              display: block;
              font-size: 18px;
              font-weight: 300;
              margin: 0;
              padding: 10px;
              text-decoration: none;
              text-transform: uppercase;
              white-space: nowrap;
              
              span {
                font-size: 16px;
                line-height: 18px;
                vertical-align: top;
                white-space: normal;
              }
              
              &:hover {
                background: #1a75ac;
              }
              
            }
            
          }
          
        }
        
      }
      
    }
    
  }
  
}