@import "_animations.scss";
@import "_jquery.datepicker.scss";
@import "_ckeditor_theme.scss";

.workspace-copy-wizard.flex-grid {
  max-width:100%;
}

.workspace-copy-wizard {
  position:fixed;
  z-index:99999;
  background:#84c5c8;
  top:0;
  right:0;
  bottom:0;
  left:0;
  min-height:100vh;
  font-weight:300 !important;
  color:#fff;
  
  &.loading {
  
    &:after {
      @include generic-loader(50px);
      position:absolute;
      left:50%;
      top:50%;
      margin:-25px 0 0 -25px;
      color:#439ba0;
    }
    
  }
  
}

.wizard-content {
  align-items:center;
  min-height:100vh;
}

.wizard-page {
  box-sizing:border-box;
  max-width:960px;
  margin-left:auto;
  margin-right:auto;
  display:none;
  padding:0 60px;
  
  &.wizard-page-active {
    display:block;
  }
}

.wizard-page-title {
  font-size:40px;
  padding:0 80px;
  text-transform:uppercase;
  position:absolute;
  top:20px;
  line-height:1;
}

.wizard-page-content {  
  background:#77b1b4;
  border-radius:15px;
  padding:30px 80px;
  margin:60px 0 70px 0;
  
  .selection-wrapper {
    vertical-align:top;
    display:inline-block;
    
    .selection-item {
      vertical-align:top;
      display:inline-block;
    }
    
    .selection-label {
      vertical-align:top;
      display:inline-block;
    }
    
  }
  
  label {
    font-weight:300 !important;
    color:#fff;
    text-transform:uppercase;
    font-size:26px;
    padding:0;
    margin:10px 0 16px 0;
    
    &.selection {
      font-size:20px;
      display:inline-block;
      margin:1px 0 1px 10px;
    }
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin:0 0 0 2px;
    transform:scale(1.4);
  }
  
  input.date-field {
    width:90%;
  }
  
  input[type="text"] {
    border-radius:5px;
    background:#fff;
    border:none;
    padding:12px;
    font-size:26px;
    color:#464646;
    margin:0 0 20px 0;
    
    &:focus {
      box-shadow:0 0 0px 5px rgba(164,233,236,0.9);
      outline:none;
    }
    
    &.workspace-day-field,
    &.workspace-month-field {
      margin:0 10px 0 0;
      width:80px;
      text-align:center;
    }
    
    &.workspace-year-field {
      width:120px;
      text-align:center;
    }
    
  }
  
  textarea.workspace-description {
    width:100%;
    height:200px;
    border-radius:5px;
    background:#fff;
    border:none;
    padding:12px;
    font-size:16px;
    color:#464646;
    margin:0 0 20px 0;
  }
}

.progress {
  width:200px;
  margin:-60px auto 0 auto;
  text-align:center;
  font-size:40px;
  font-weight:300;
  color:#fff;
}

.prev, 
.next, 
.close {
  height:60px;
  width:60px;
  position:absolute;
  
  &:before {
    color:#c2e2e4;    
    cursor:pointer;
    font-weight:normal;
    font-family: 'muikku';
    speak: none;
    font-style: normal;
    text-decoration:none;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
}

.prev {
  left:0;
  top:50%;
  margin-top:-30px;
  
  &:before {
    content:"\e62e";
    font-size:60px;
  }
  
}

.next {
  right:0;
  top:50%;
  margin-top:-30px;
  
  &:before {
    content:"\e62f";
    font-size:60px;
  }
  
}

.close {
  right:15px;
  top:18px;
  
  &:before {
    content:"\e903";
    font-size:50px;
  }
  
}

ul.summary {
  padding:0;
  margin:0;
  list-style-type:none;
  margin:60px 0 70px 0;
  
  li {
    background:#7dbbbe;
    border-radius:15px;
    padding:30px 80px;
    margin:0 0 10px 0;
    font-size:20px;
    color:#fff;
    position:relative;
    text-transform:uppercase;
    font-size:24px;
    transition:background 0.5s ease-in-out,color 0.5s ease-in-out;
    
    &.inProgress {
    
      &:after {
        @include generic-loader(40px);
        position:absolute;
        left:20px;
        top:50%;
        margin-top:-20px;
        color:#439ba0;
      }
      
    }
    
    &.error {
      background:#fff;
      color:#e20f0f;
      
      > ul li {
        background:#fff;
        color:#000;
      }
     
      &:after {
        content: "\e904";
        font-size:40px;
        height:34px;
        width:34px;
        font-family: 'muikku' !important;
        speak:none;
        font-style:normal;
        font-weight:normal;
        font-variant:normal;
        text-transform:none;
        line-height:1;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
        position:absolute;
        left:20px;
        top:50%;
        margin-top:-17px;
        color:#e20f0f;
      }
     
    }
    
    &.success {
      background:#fff;
      color:#000;
      
      > ul li {
        background:#fff;
        color:#000;
      }
      
      &:after {
        content: "\e639";
        font-size:40px;
        height:40px;
        width:40px;
        font-family: 'muikku' !important;
        speak:none;
        font-style:normal;
        font-weight:normal;
        font-variant:normal;
        text-transform:none;
        line-height:1;
        -webkit-font-smoothing:antialiased;
        -moz-osx-font-smoothing:grayscale;
        position:absolute;
        left:20px;
        top:50%;
        margin-top:-20px;
        color:#38ec2d;
      }
      
    }
    
    > ul {
      padding:0;
      margin:0;
      
      li {
        padding:15px 15px 0px 0;
        margin:0;
        display:inline-block;
        text-transform:none;
        font-size:20px;
      }
    
    }
  }
  
}

.center {
  text-align:center;
}

.additional-text {
  font-size:24px;
  display:inline-block;
  margin:5px 0 10px 0;
}

.copy,
.close-wizard,
.workspace-entity-url,
.external-view-url {
  cursor:pointer;
  font-weight:300;
  background:#7391a7;
  cursor:pointer;
  color:#fff;
  text-transform:uppercase;
  border:1px solid #d3e1ec;
  padding:12px 18px;
  font-size:24px;
  display:inline-block;
  margin:0 5px;
  line-height:1;
  outline:none;
  text-decoration:none;
  
  &.goto {
    background:#068feb;
  }
}

.copy {
  border:1px solid #daf3da;
  background:#27b91c;
}

