/* Print styles for materials */

@media print {
  
  body {
   background-color: #fff;
   line-height: 20px !important;
   font-size: 15px !important;
   padding: 0 !important;
  }
  
  article {
    box-shadow: none !important;
    padding-top: 0 !important;
  }
  
  section {  
    h1 {
      font-size: 34px;
     font-style: italic;
    }
    h2 {
     font-size: 30;
     padding: 0;
     margin-bottom: 10px !important;
     margin-top: 10px !important;
    }
  } 
  
  #staticNavigationWrapper {
    display: none;
  }
  
  #footer {
    display: none;
  }
  
  #workspaceNavigationWrapper {
    display: none;
  }
 
  #workspaceMaterialsTOCWrapper,
  #workspaceMaterialsReadingTOCWrapper {
   display: none;
  }
  
  #TOCContainer {
   display: none;
  }  
  
  .flex-row {
  display: block;
  }

  
  
}