/* Print styles for materials */

@media print{
  
  body{
   background-color:#fff;
  }
  
  article{
    box-shadow:none !important;
  }
  
  #staticNavigationWrapper{
    display:none;
  }
  
  #footer{
    display:none;
  }
  
  #workspaceNavigationWrapper{
    display:none;
  }
 
 #workspaceMaterialsTOCWrapper, #workspaceMaterialsReadingTOCWrapper{
   display:none;
 }
  
 #TOCContainer{
   display:none;
 }  
 
 .flex-row{
  display:block;
 }
  
  
  
}