/* Progress bar menu */

.workspace-progress-element-menu {
  position: absolute;
  display: none;
  background-color: transparent;
  z-index: 99;
  text-align: left;



  &.frontpage {
    top: 78px;
    &.evaluable {
     right: 126px;      
    }
    
    &.exercise {
     right: 37px;      
    }      
  }
  
  &.materials {
    top: 69px;
    
    &.evaluable {
      right: 150px;     
    }
    
    &.exercise {
      right: 85px;      
    }      
  }


  &.materials-fullscreen {
    top: 64px;
    &.evaluable {
     right: 85px;      
    }
    
    &.exercise {
      right: 20px;      
    }      
  }



  
  > div {
    box-shadow: $environment-menu-shadow;
  }
  
  .workspace-progress-menu-title {
    text-transform: uppercase;
    margin: 0 !important;
    padding: 0 0 10px;
    font-size: 19px;
    color: #2c2c2c;
    height: 20px;
    width: 207px;
  }  
}

  
.workspace-progress-element-menu-content {
  background-color: $environment-background-color;
  margin-top: 10px;
  position: relative;
  border-radius: 3px;
  padding:10px;

  div {
   span {
   
     &:last-child{
       float:right; 
     }
   }
  }
  
  &::after, 
  &::before {
    margin-top: 10px;      
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }  
  
  &.exercise {
    border: 1px solid $exercise;  

    &::after {
      border-color: $environment-border-transparent-color;
      border-bottom-color: #fff;
      border-width: 7px;
      margin-left: 180px;
    }
    
    &::before {
      border-color: $environment-border-transparent-color;
      border-bottom-color: $exercise;
      border-width: 8px;
      margin-left: 179px;
    }
  }
  
  &.evaluable {
    border: 1px solid $assignment;  

    &::after {
      border-color: $environment-border-transparent-color;
      border-bottom-color: #fff;
      border-width: 7px;
      margin-left: 180px;
    }
    
    &::before {
      border-color: $environment-border-transparent-color;
      border-bottom-color: $assignment;
      border-width: 8px;
      margin-left: 179px;
    }
  }
}

