@import "vars";
@import "styles";
@import "draft";

.cm-message-create {
  width:100%;
}  
  
.ui-autocomplete {
  position: absolute !important;
  top: 20px !important;
  right: 0 !important;
  left: 0 !important;
  
  .ui-menu-item {
  
    &[data-existing="true"] {
      color: $environment-font-disabled-color;
      font-style: italic;
      cursor: default;
    }
    
  }
  
}

.cm-message-create-body {
  
  .cm-message-recipients {
    position: relative;  
  }
  
  .cm-message-recipient {
    cursor: pointer;
    margin-top: 0 !important;
    display: inline-block;
        
    &:not(:first-child) {
      margin-top: 0 !important;
    }
    
   .cm-message-tool {
     padding: 0 10px;
     border: 1px solid $environment-border-selected-color;
     color: #000;
     cursor: pointer;
    }   

  }
  
  .cm-message-recipient-name {
    margin-top: 0 !important;
    font-family: inherit;
    margin-left: 10px;
    padding: 9px 0;

    &::before {
      margin-right: 5px;
      font-family: $environment-icon-family;      
    }     


    &.user {

      &::before {
        color: $target-user-icon-color;
      }     
        
    }
    
    &.usergroup {

      &::before {
        color: $target-workspace-icon-color;
      }
           
    }
      
    &.workspace {

      &::before {
         color: $target-group-icon-color;
      }     
    
    }     
    
    &:hover {   
      color: $target-remove-font-color;
      
      &::before {
        color: $target-group-icon-color;
      }
      
    } 
            
  }     

}

.cm-box {
  
  a {
    font-family: $environment-font-family;
  }
  
  &::before {
    margin-left: 5px;
    color: $navigation-vertical-bar-icon-color;
  }
  
}

.cm-label-name {
  
  &::before {
    margin-left: 5px;
  }
  
  a {
    margin-left: 5px;
  }
  
}

.cm-categories {
  background-color: $environment-background-color;
   
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
     
    li {
      border-bottom: 1px solid $environment-border-color;
      border-left: 5px solid $navigation-vertical-bar-border-color;
       
      a {
        font-weight: 300;
        text-decoration: none;
        height: 30px;
        color: $environment-font-color;
        display: inline-block;
        box-sizing: border-box;
        padding-top: 8px;      
      }
            
      &:hover {
        border-left: 5px solid $navigation-vertical-bar-hover-border-color;     
        cursor: pointer;   
      } 
      
      &.selected {
        background-color: $environment-background-selected-color;
        border-left: 5px solid $environment-border-selected-color;
        
        a {
          font-weight: normal;
        }
        
      }
       
    }
  
  }
  
} 


.cm-label-menu-content {
  
  &::before,
  &::after {
    left:18px;
  }
  
}

.cm-content { 

}

.cm-messages-container {

  &.loading {
    padding: 20px;
  
    &::after {
      @include generic-loader(50px);
    
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    
  }
  
}

.cm-message {
  border-left: 1px solid $item-border-color;
  box-sizing: border-box;
  margin: 0 0 5px;
  min-width: 300px;
  
  .cm-message-details {
    cursor: default; /* Override mf-item-details */
  }

  .cm-message-recipient-arrow {
    font-size: 12px;
    margin: 0 5px;
    color: $item-target-icon-color;
  }  

  .cm-message-recipient-name {
    margin-right: 5px;
    color: $target-font-color;
  
    &:not(:last-child) {
      &::after {
        content: ",";
      }
     
    }  
  }

  .cm-message-details-container {
    background-color: $environment-background-color;
    position: relative;
    
    .cm-message-header {
      box-sizing: border-box;
      word-break: break-all;
      word-wrap: break-word;
      
      .cm-message-select {
        display: inline-block;
        margin: 0 0 0 5px;
        position: relative;
      }
      
      .cm-message-header-container {
        box-sizing:  border-box;
        cursor: pointer;
        display: inline-block; 
        position: relative;
        width: calc(100% - 25px);
             
        .cm-message-sender-name {
          box-sizing: border-box;
          color: #000;
          height: 1.5em;
          margin: 0 0 0 5px;
          max-width: calc(100% - 135px);
          overflow: hidden;
          text-overflow: ellipsis;
          vertical-align: bottom;
          white-space: nowrap;
        }
            
        .cm-message-caption {
          font-weight: 300;
          margin: 0 0 0 5px;
          word-break: break-all;
          word-wrap: break-word;
          
          .cm-message-label {
            border: 0;
          }
          
        }
      
      }
    
    }
    
    .cm-message-additional {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 140px;
      text-align: right;
      background: $environment-background-color;
      
      .cm-message-latest {
        display: inline-block;
      }
       
      .cm-message-header-count {
        margin: 0 5px 0 0;
        display: inline-block;
        
        .cm-message-replies {
          font-weight: 600;
          width: 100%;
          background-color: $environment-background-highlight-color;
          text-align: center;
          padding: 5px;
        }
        
      }
      
    }
    
    
    
  }

  &.unread {
    border-left: 1px solid $item-border-color-active;
    font-weight: 600;
  }
  
  .cm-message-view {
    border-radius: 4px;  
    margin-bottom: 10px;
    min-height: 50px;
    padding: 5px;   
  }
 
  .cm-message-options-container {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  } 
   
  .cm-message-content {
   
    .cm-message-content-text {
   
      p {
        margin: 1em 0;
      }
   
    }  
    
  }
  
  .cm-message-content-tools {
    padding: 10px 0;  
  }
  
  .cm-message-tools, 
  .cm-viewmessagethread-tools {
    padding: 0;
    height: 40px;
  }
  
  .cm-message-tool {
    padding: 0 10px;
    border: 1px solid $environment-border-selected-color;
    background-color: $environment-background-dim-color; 
    display: inline-block;
    color: $environment-font-color;
    cursor: pointer;
    
    &:not(:first-child) {
      margin-left: 10px;
    }
    
  }

  .cm-message-reply {
    padding: 5px 5px 5px 10px;
    background-color: $environment-background-color;    
  }
  
  .cm-message-recipients {
    color: $environment-font-color;
    display: inline-block;
    margin: 0 0 0 5px;
    max-width: calc(100% - 170px);
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    
    .cm-message-recipient-name {
      padding: 0 5px;
    }
  }

 .cm-message-selected-recipients {
   padding: 5px;
   background-color: $environment-background-color;
   
   span {
     display: inline-block;
    
     &:not(:first-child) {
       margin-left: 10px;
     }
    
   }
   
 }

/* When the message is open */  
  
  &.open {
    border-left: 5px solid $item-border-highlight-color;   
    padding-left: 10px;
     
    .cm-message-details {
      max-height: none;
    }
     
    &.owner {
      border-left: 5px solid $environment-border-selected-color; 
       
      h3 {
        color: $environment-font-disabled-color;
      }
       
    }       
    
    .cm-user-picture {

      &.default {
        background-image:url("/gfx/default-user-picture.jpg");
        background-size: 100%;
        border-radius: 40px;
        margin: 2px;
      }
     
      &.reply-recipient {
        display: inline-block;
        height: 20px;
        width: 20px;
      }
     
    }  
    
    .cm-message-details-sender {
      position: relative;
    
      .cm-message-header-content-secondary {
        position: absolute;
        right: 10px;
        top: 0;
      }
      
      .cm-message-header-content-primary {
        font-weight: 400;
        max-width:80%;
        
      } 
    
    } 

  }

}