@import "vars";
@import "styles";
@import "draft";

.cm-settings {
  background: $environment-background-color; 
}

.cm-settings-title {
  font-size: 22px;  
  padding: 10px; 
}

.cm-settings-item {
  &:first-child {
    border-top: 1px solid $environment-border-color;  
  }
  
  &:not(:last-child) {
    border-bottom: 1px solid $environment-border-color;
  }
}

.cm-setting-title {
  background: $environment-settings-subtitle-background-color;
  font-size: 18px;  
  padding: 10px;
} 

.cm-setting-content {
  padding: 15px 30px;
} 


.cm-setting-signature {
  background: $environment-setting-signature-background-color;
  border-left: 3px solid $environment-setting-signature-border-color;
  font-style: italic;
  padding: 10px;
}

.cm-setting-create-signature-link, 
.cm-setting-edit-signature-link, 
.cm-setting-remove-signature-link {
  color: $environment-link-color;
  cursor: pointer;
  font-style: normal;
  
  &:not(:first-child) {
    margin-left: 15px;
  }
}


.cm-message-create {
  width:100%;
}  
  
.ui-autocomplete {
  left: 0 !important;
  position: absolute !important;
  right: 0 !important;
  top: 20px !important;

  .ui-menu-item {
  
    &[data-existing="true"] {
      color: $environment-font-disabled-color;
      cursor: default;
      font-style: italic;
    }
    
  }
  
}

.cm-message-create-body {
  
  .cm-message-recipients {
    position: relative;  
  }
  
  .cm-message-recipient {
    cursor: pointer;
    margin-top: 0 !important;
    display: inline-block;
        
    &:not(:first-child) {
      margin-top: 0 !important;
    }
    
   .cm-message-tool {
     padding: 0 10px;
     border: 1px solid $environment-border-selected-color;
     color: #000;
     cursor: pointer;
    }   

  }
  
  .cm-message-recipient-name {
    margin-top: 0 !important;
    font-family: inherit;
    margin-left: 10px;
    padding: 9px 0;

    &::before {
      margin-right: 5px;
      font-family: $environment-icon-family;      
    }     


    &.user {

      &::before {
        color: $target-user-color;
      }     
        
    }
    
    &.usergroup {

      &::before {
        color: $target-group-color;
      }
           
    }
      
    &.workspace {

      &::before {
        color: $target-workspace-color;
      }     
    
    }     
    
    &:hover {   
      color: $target-remove-font-color;
      
      &::before {
        color: 
$target-group-color;
      }
      
    } 
            
  }     

}

.cm-box {
  
  a {
    font-family: $environment-font-family;
  }
  
  &::before {
    margin-left: 5px;
    color: $navigation-vertical-bar-icon-color;
  }
  
}

.cm-label-menu-content {
  
  &::before,
  &::after {
    left:18px;
  }
  
}

.cm-content { 

}

.cm-messages-container {

  &.loading {
    padding: 20px;
  
    &::after {
      @include generic-loader(50px);
    
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    
  }
  
}

.cm-message {
  border-left: 1px solid $item-border-color;
  box-sizing: border-box;
  margin: 0 0 5px;
  min-width: 300px;


    
  .cm-message-details {
    cursor: default; /* Override mf-item-details */
  }

  .cm-message-recipient-arrow {
    font-size: 12px;
    margin: 0 5px;
    color: $item-target-icon-color;
  }  

  .cm-message-recipient-name {
    margin-right: 5px;
    color: $target-font-color;
  
    &:not(:last-child) {
      &::after {
        content: ",";
      }
     
    }  
  }

  .cm-message-details-container {
    background-color: $environment-background-color;
    position: relative;
    
    .cm-message-header {
      box-sizing: border-box;
      font-size: 15px;
      font-weight: 600;
      padding: 15px 0;
      word-break: break-all;
      word-wrap: break-word;
      
      .cm-message-select {
        display: inline-block;
        margin: 0 0 0 5px;
        position: relative;
      }
      
      .cm-message-header-container {
        box-sizing:  border-box;
        cursor: pointer;
        display: inline-block; 
        position: relative;
        width: calc(100% - 25px);
            
        .cm-message-caption {
          font-weight: 300;
          margin: 0 0 0 5px;
          word-break: break-all;
          word-wrap: break-word;
          
          .cm-message-label {
            border: 0;
          }
          
        }
      
      }
    
    }
    
    .cm-message-additional {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 140px;
      text-align: right;
      background: $environment-background-color;
      
      .cm-message-latest {
        display: inline-block;
      }
       
      .cm-message-header-count {
        margin: 0 5px 0 0;
        display: inline-block;
        
        .cm-message-replies {
          font-weight: 600;
          width: 100%;
          background-color: $environment-background-highlight-color;
          text-align: center;
          padding: 5px;
        }
        
      }
      
    }
    
    
    
  }
  .cm-message-sender-name {
    box-sizing: border-box;
    color: $item-header-old-font-color;
    height: 1.5em;
    margin: 0 0 0 5px;
    max-width: calc(100% - 135px);
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }  
  
  &.unread {
    border-left: 1px solid $item-border-color-active;
    
    .cm-message-sender-name {
      color: $item-header-new-font-color;
    }      
  }

  .cm-message-view {
    border-radius: 4px;  
    margin-bottom: 10px;
    min-height: 50px;
    padding: 5px;   
  }
 
  .cm-message-options-container {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
  } 
   
  .cm-message-content-text {  
    max-width: 684px;
    word-wrap: break-word;
    
    p {
      margin: 1em 0;
    }   
  }  
  
  .cm-message-content-tools {
    padding: 10px 0;  
  }
  
  .cm-message-tools, 
  .cm-viewmessagethread-tools {
    padding: 0;
    height: 40px;
  }
  
  .cm-message-tool {
    padding: 0 10px;
    border: 1px solid $environment-border-selected-color;
    background-color: $environment-background-dim-color; 
    display: inline-block;
    color: $environment-font-color;
    cursor: pointer;
    
    &:not(:first-child) {
      margin-left: 10px;
    }
    
  }

  .cm-message-reply {
    padding: 5px 5px 5px 10px;
    background-color: $environment-background-color;    
  }
  
  .cm-message-recipients {
    color: #000;
    margin: 0 0 0 5px;
    width: calc(100% - 170px);
    overflow: hidden;
    vertical-align: bottom;
    display:table;
    table-layout: fixed;

    div.cm-message-recipients-cell{
      display: table-cell;
    }    
    div.cm-message-recipients-wrapper {
      overflow: hidden; 
      white-space: nowrap; 
      text-overflow: ellipsis; 
      word-break: break-all; 
      word-wrap: break-word;    
    }
    
    .cm-message-recipient-name {
      padding: 0 5px;
    }
  }

 .cm-message-selected-recipients {
   padding: 5px;
   background-color: $environment-background-color;
   
   span {
     display: inline-block;
    
     &:not(:first-child) {
       margin-left: 10px;
     }
    
   }
   
 }

/* When the message is open */  
  
  &.open {
    border-left: 5px solid $item-border-highlight-color;   
    padding-left: 10px;
     
    .cm-message-details {
      max-height: none;
    }
     
    &.owner {
      border-left: 5px solid $environment-border-selected-color; 
       
      h3 {
        color: $environment-font-disabled-color;
      }
       
    }       
    
    .cm-user-picture {

      &.default {
        background-image:url("/gfx/default-user-picture.jpg");
        background-size: 100%;
        border-radius: 40px;
        margin: 2px;
      }
     
      &.reply-recipient {
        display: inline-block;
        height: 20px;
        width: 20px;
      }
     
    }  
    
    .cm-message-details-sender {
      position: relative;
    
      .cm-message-header-content-secondary {
        position: absolute;
        right: 10px;
        top: 0;
      }
      
      .cm-message-header-content-primary {
        font-weight: 400;
        max-width:80%;
        
      } 
    
    } 

  }

}