@import "_vars.scss";
@import "_animations.scss";
@import "_styles.scss";

/* Coursepicker (.cp-*) */

#coursesList > div.loading{
    padding: 20px;
  
    &:after {
      @include generic-loader(50px);
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

} 

.cp-course { 
  margin:0 0 5px 0;
  &.not-published {
    font-style:italic;
    opacity:0.8;
   
    .cp-course-header-name {
      color:#d89828;
    }

  }

  .cp-course-fee {
    color: #3f639a;
    font-size: 21px;
    margin-right: 5px;
    vertical-align: top;
  }  

  .cp-course-details {
    position:relative;
  }

}

.cp-course-details-open {
  
  .cp-course-header-container {
    font-weight:400;
  } 
  
}

.cp-course-header-container {
  cursor:pointer;
}

.cp-course-long {
  
}

.cp-course-extension {
  font-style:normal;
  margin:0 5px 0 0;
}

.cp-course-education-type {
    background: #daf5ff none repeat scroll 0 0;
    border-radius: 2px;
    font-style: normal;
    padding: 6px;
    text-transform: uppercase;
}

.cp-course-details-close {
  position:absolute;
  left:0;
  right:0;
  top:0;
  background-color:none;
  height:40px;
  cursor: pointer;
}

.cp-course-details-toolbar {
  padding:0 10px;
}

.cp-course-description-text {
  font-size:14px; 
  padding:0 10px;
  min-height:30px;
}
