@import "_vars.scss";
@import "_styles.scss";

/* Coursepicker (.cp-*) */

.cp-content-main {
  min-height:450px;
}

.cp-course { 
  
  &.ft-01 {
    border-left: 3px solid $mainFuncFilter1;
  }
   
  &.ft-02 {
    border-left: 3px solid $mainFuncFilter2;
  }
  
  &.ft-03 {
    border-left: 3px solid $mainFuncFilter3;
  }
 
  &.not-published {
    font-style:italic;
    opacity:0.8;

    .cp-course-details {
   
      .cp-course-header-name {
        color:#d89828;
      }
      
    }
    
  }

}

.cp-course-header-container {
  cursor:pointer;
}

.cp-course-details-close {
  position:absolute;
  margin-top:0;
  margin-left:0;
  background-color:none;
  height:40px;
  cursor: pointer;
}

.cp-course-details-toolbar {
 padding:0 15px;
}


.cp-course-description-text {
  font-size:12px; 
  padding-left:15px;
  min-height:30px;

}
