@import "vars";
@import "vars_backup";
@import "styles";
@import "animations";
@import "fonts";
@import "custom-ckeditor-styles";
@import "custom-ckeditor-dialog";
@import "jquery.datepicker";
@import "ckeditor_theme_management";
@import "draft";
@import "dialog";
@import "evaluation_evaluate_modal";
@import "connect-field";
@import "organizer-field";
@import "sorter-field";
@import "audio-field";
@import "file-field";
@import "evaluation_material_styles";
@import "correct_answers"; 
@import "notif-queue";

body {
  background-color: $evaluation-background-color;
  color:#000;
  font-family: $environment-font-family;
  font-size: 14px;
  font-weight: 300;
  line-height:1.5em; /* Set line-height:1 to element when there's a need to override */
  margin: 0;
  min-width: 320px;
  padding: 0; 
}

 .no-scroll {
  overflow: hidden;
}

.loading {
  min-height: 200px;
  position: relative;
  
  &::before {
    @include generic-loader(50px);
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
}

// VIEW WRAPPER
.evaluation-wrapper {
  background: $evaluation-view-background-color;
}

// NAVIGATION (FRONTPAGE & WORKSPACE VIEWS)
.evaluation-navigation {
  @include flexbox;
  align-items: stretch;
  background: $evaluation-navigation-background-color;
  bottom: 0;
  box-shadow: 0 3px 5px $evaluation-navigation-boxshadow-color;
  flex-flow: row nowrap;
  left: 0;
  height: 60px;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  
  // Navigation item
  .eval-nav-item {
    color: $evaluation-navigation-item-font-color;
    cursor: pointer;
    flex: 0 0 26px;
    margin: 4px;
    text-align: center;
    
    &.icon-filter {
      font-size: 26px;
      height: 26px;
      padding: 13px 9px;
      width: 26px;
    }
    
    &.icon-home {
      font-size: 34px;
      height: 34px;
      padding: 9px;
      width: 34px;
    }
    
    &.icon-books {
      font-size: 34px;
      height: 34px;
      padding: 9px;
      width: 34px;
    }
    
    &.icon-evaluate {
      font-size: 30px;
      height: 30px;
      padding: 11px;
      width: 30px;
    }
    
    &:hover {
      text-shadow: 0 0 15px $evaluation-navigation-item-textshadow-color;
    }
    
  }
  
  .eval-search-wrapper {
    flex: 1 1 auto;
    margin: 4px;
    padding: 7px 8px;
    text-align: right;
    
    .eval-search-container {
      @include flexbox;
      box-sizing: border-box;
      flex-flow: row nowrap;
      justify-content: flex-end;
      position: relative;
    }

    .remove-search-results {
      color: $forms-reset-icon-font-color;
      cursor: pointer;
      position: absolute;
      right: 40px;
      text-align: center;
      top: 10px;

      &.icon-close {
        box-sizing: border-box;
        font-size: 10px;
        height: 20px;
        padding: 5px;
        width: 20px;
      }

    }

    input {
      border: 0;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      box-sizing: border-box;
      color: $environment-font-color;
      display: inline;
      flex: 0 1 300px;
      font-size: 16px;
      font-weight: 300;
      padding: 9px 26px 9px 9px;

      &::-webkit-input-placeholder {
        color: $environment-font-color;
        font-style: italic;
        opacity: 0.4;
      }

      &::-moz-placeholder {
        color: $environment-font-color;
        font-style: italic;
        opacity: 0.4;
      }

      &:-ms-input-placeholder {
        color: $environment-font-color;
        font-style: italic;
        opacity: 0.4;
      }

      &:-moz-placeholder {
        color: $environment-font-color;
        font-style: italic;
        opacity: 0.4;
      }

    }

    button {
      background: $forms-button-background-color;
      border: 0;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      color: $forms-button-font-color;
      cursor: pointer;
      display: inline;
      flex: 0 0;

      &.icon-search::before {
        font-size: 20px;
        text-align: center;
      }

    }

  }

}

// FRONTPAGE EVALUATION CARDS WRAPPER
.evaluation-cards-wrapper {
  padding: 60px 0 0;
}

// CARDS PAGE TITLE
.evaluation-cards-title {
  margin:25px 15px 0;
  
  h3 {
    font-size: 24px;
    font-weight: 300;
    display: inline-block;
    line-height: 24px;
    margin: 0 10px 10px 0;
    padding: 0;
    text-transform: none;
  }
  
}

// CARDS SORTING WRAPPER
.evaluation-sorting-wrapper {
  display: inline-block;
  margin: 0 10px 10px 0;
  
  .eval-sorting {
    background: $evaluation-sorting-item-nonactive-background-color;
    border-radius: 3px;
    color: $evaluation-sorting-item-nonactive-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 14px;
    margin: 0 2px;
    padding:4px;
    width: 14px;
    
    &.selected {
      background: $evaluation-sorting-item-active-background-color;
      color: $evaluation-sorting-item-active-font-color;
    }
    
  }
  
}

// CARDS CONTAINER
.evaluation-cards-container {
  vertical-align: top;
}

// REQUESTS ALL HANDLED CONTAINER
.evaluation-well-done-container {
  color: $evaluation-welldone-font-color;
  font-size: 20px;
  font-style: italic;
  line-height: 1.4em;
  padding: 50px 10px;
  text-align: center;
}

// CARD
.evaluation-card {
  background: $evaluation-card-background-color;
  border: 1px solid $evaluation-card-border-color;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  width: 285px;
  
  &.evaluated-incomplete {
    border: 1px solid $evaluation-incomplete-color;
    box-shadow: 0 0 2px $evaluation-incomplete-boxshadow-color;
    
    .evaluation-card-button.evaluate-button {
      background: $evaluation-incomplete-color;
    }
    
  }
  
  &.evaluated-failed {
    border: 1px solid $evaluation-failed-color;
    box-shadow: 0 0 2px $evaluation-failed-boxshadow-color;
    
    .evaluation-card-button.archive-button {
      display: inline-block;
    }
    
    .evaluation-card-button.evaluate-button {
      background: $evaluation-failed-color;
    }
    
  }
  
  &.evaluated-passed {
    border: 1px solid $evaluation-passed-color;
    box-shadow: 0 0 2px $evaluation-passed-boxshadow-color;
    
    .evaluation-card-button.archive-button {
      display: inline-block;
    }
    
    .evaluation-card-button.evaluate-button {
      background: $evaluation-passed-color;
    }
    
  }
  
  &.evaluation-requested {
    border: 1px solid $evaluation-requested-color;
    box-shadow: 0 0 2px $evaluation-requested-boxshadow-color;
  }
  
  &.frontpage .evaluation-card-data {
    min-height: 180px;
  }
  
  &.workspace .evaluation-card-data {
    min-height: 140px;
  }
  
}

.evaluation-card-title {
  background: $evaluation-card-title-background;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 4px 6px;
}

.evaluation-card-student {
  font-size: 16px;
  font-weight: 600;
}

.evaluation-card-study-programme {
  font-size: 13px;
  font-style: italic;
}

.evaluation-card-data {
  font-size: 13px;
  padding: 4px 6px;
  position: relative;
}

.evaluation-card-data-row {
  padding: 1px 0;
  position: relative;
  
  .workspace-name {
    height: 42px;
    overflow: hidden;
  }
  
  &.highlight {
    font-weight: 600;
  }

  a {
    color: $environment-link-color;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
    
  }
  
  .evaluation-card-data-text {
    float: right;
    
    &.assignments-status {
      border-radius: 2px;
      color: $evaluation-card-assignment-status-font-color;
      line-height: 1;
      padding: 4px;
    }
    
    &.not-done {
      background: $evaluation-card-assignment-status-notdone-background-color;
    }
    
    &.all-done {
      background: $evaluation-card-assignment-status-done-background-color;
    }
    
  }

}

.evaluation-card-button-row {
  bottom: 0;
  left: 0;
  padding: 6px;
  position: absolute;
  right: 0;
  text-align: right;
  
  .evaluation-card-button-block {
    position: absolute;
    left: 5px;
    top: 5px;
    
    .evaluation-important-button,
    .evaluation-unimportant-button {
      border-radius: 100%;
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      height: 20px;
      margin: 0 2px;
      padding: 4px 5px 4px 3px;
      width: 20px;
    }
    
    .evaluation-important-button {
    
      &.icon-star::before {
        color: $evaluation-important-star-font-color;
      }
      
      &.active {
        background: $evaluation-important-star-active-background-color;
      
        &.icon-star::before {
          color: $evaluation-important-star-active-font-color;
        }
      
      }
    
    }
    
    .evaluation-unimportant-button {
    
      &.icon-star-empty::before {
        color: $evaluation-unimportant-star-font-color;
      }
      
      &.active {
        background: $evaluation-unimportant-star-active-background-color;
      
        &.icon-star-empty::before {
          color: $evaluation-unimportant-star-active-font-color;
        }
      
      }
    
    }
    
  }
  
  .evaluation-card-button {
    border-radius: 3px;
    color: $evaluation-card-button-font-color;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 18px;
    margin: 0 0 0 8px;
    padding: 5px;
    text-align: center;
    vertical-align: top;
    width: 18px;
    
    &.archive-button {
      background: $evaluation-archive-color;
      display: none;
      font-size: 20px;
      height: 20px;
      padding: 4px;
      width: 20px;
    }
    
    &.evaluate-button {
      background: $evaluation-requested-color;
    }
    
  }
  
}

// FILTER WRAPPER
.evaluation-filters-wrapper {
  background: $evaluation-filter-wrapper-background-color;
  bottom: 0;
  box-shadow: -10px 0 10px $evaluation-filter-wrapper-background-boxshadow-color;
  display: none;
  padding: 0;
  position: fixed;
  right: calc(0px - 360px);
  top: 60px;
  width: 360px;
  z-index: 20;
  
  h3 {
    color: $body-font-color;
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
    text-transform: uppercase;
  }
  
}

// WORKSPACES WRAPPER
.evaluation-workspaces-wrapper {
  background: $evaluation-workspaces-wrapper-background-color;
  bottom: 0;
  box-shadow: 10px 0 10px $evaluation-workspaces-wrapper-background-boxshadow-color;
  display: none;
  left: calc(0px - 360px);
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 60px;
  width: 360px;
  z-index: 20;
  
  h3 {
    color: $body-font-color;
    font-size: 18px;
    font-weight: 300;
    margin: 10px;
    text-transform: uppercase;
  }
  
}

.evaluation-filters-container {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 10px 10px 5px;
  position: absolute;
  right: -25px;
  top: 40px;
  width: 100%;
}

.evaluation-my-workspaces-container {
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0 10px 10px;
  position: absolute;
  right: -25px;
  top: 40px;
  width: 100%;
  
  ul {
    margin: 0;
    padding: 0;
    max-width: calc(100% - 5px);
  }
  
  li {
    list-style-type: none;
    margin: 0;
    padding: 5px;
  }
  
  a {
    color: $environment-link-color;
    display: block;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
    
  }
  
}

@import "mobile_evaluation";
