@import "fonts";
@import "vars";
@import "vars_backup";
@import "styles";
@import "forms";
@import "animations";
@import "dialog";
@import "flex-dialog";
@import "buttons";
@import "notif-queue";
@import "connectionlost";
@import "environment_print";

html {
  height: 100%;
  background: none;
}

body {
  margin: 0;
  padding: 0 0 50px;
  font-family: $environment-font-family;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5em;
  background-image: url('/gfx/main-background.png'), url('/gfx/main-background-slice.png');
  background-color: $body-background-color;
  background-repeat: no-repeat,repeat-x;
  background-position: top center, top left;
  color: $body-font-color;
}

.disable-page-scrolling {
  height: 100%;
  overflow: hidden; 
}

.ui-widget-overlay {
  background: $environment-widget-overlay-background-color;
  opacity: 0.5;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

[class^="icon-"] span, [class*=" icon-"] span {
  display: inline-block;
  font-family: $environment-font-family !important;
  padding-left: 4px;
  vertical-align: top;
}

[class^="icon-"], [class*=" icon-"] {
  text-decoration: none;  
}

/* Header */
#header {
  max-width: $siteWidth;
  margin: 0 auto;
  height: 120px;
  color: $environment-alt-font-color;
  position: relative;  
}

#headerLogoTextContainer {
  background-image: url('/gfx/muikku-header-text.png');
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  left: -25px;
  top: 0;
  height: 110px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: $environment-bottom-bar-box-shadow;
  z-index: 999;
  min-width: 310px;
  padding:0 5px;
  
  .footer-custom-bg {
    background: $environment-bottom-bar-background-color;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
  
  .footer-custom-content {
    position: relative;
    z-index: 2;
  }
  
  .footer-predefined-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $environment-bottom-bar-background-color;
    z-index: 1;
  }
  
  .footer-predefined-content {
    position: relative;
    z-index: 2;
    
    a {
      text-decoration: none;
    }
    
  }
  
}

#helpdesk {
  font-weight: 400;
  font-size: 14px;
  color: $environment-bottom-bar-font-color;
}

#guides {
  font-weight: 400;
  font-size: 14px;
  
  a {
    color: $environment-bottom-bar-link-color;
  }
  
}

/* Login */

.loginbox-container {
  margin: 10px 0 0;
}

.login {
  position: relative;
  float: right;
}

.forgotpassword-link-container {
  clear: both;
  text-align: right;
  padding: 5px 0 0;
  
  .forgotpassword-link {
    color: $environment-sign-in-link-color;
    text-shadow: $environment-sign-in-font-shadow;
  }
  
}

/* Language */
.language { 
  float: right;
  position: relative;
  margin: 0 10px 0 0;
  background: $environment-language-selection-background-color;
  height: 48px;
  width: 48px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 100%;
  z-index: 15;
  text-align: center;
  padding: 0;
  overflow: hidden;
  box-shadow: $environment-language-selection-shadow;
  transition: border-radius 0.1s ease-in-out;
  
  &:hover,
  &:focus,
  &:active {
    border-radius: 5px;
    box-shadow: none;
    background: $environment-language-selection-active-background-color;
    overflow: visible;
    
    .language-container {
      position: absolute;
      background: $environment-language-selection-language-background-color; 
      border-radius: none;
      border-radius: 5px;
      
      a {
        color: $environment-language-selection-language-link-color;
        line-height: 1;
        
        &:first-of-type {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        
        &:last-child {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        
        &:hover {
          color: $environment-language-selection-language-link-hover-color;
          background: $environment-language-selection-language-background-hover-color;
          text-decoration: none;
        }
        
      }
      
    }

  }

  a {  
    text-decoration: none; 
    padding: 12px 10px;  
    color: $environment-language-selection-link-color;   
    font-size: 22px;
    font-weight: 300;
    display: block;
    min-width: 28px;
    min-height: 24px;
    line-height: 1;
  }
    
}

.logged-user {
  position: relative;
  float: right;
  font-weight: 400;

  .lu-picture {
    border: 2px solid $environment-logged-in-border-color;
    height: 48px;
    width: 48px; 
    position: relative;
    top: 0;
    box-sizing: border-box; 
    display: inline-block;
    border-radius: 100%;
    margin: 0 5px 0 auto;
    z-index: 15;
    background-size: 100% auto;
    background-image: url('/gfx/default-user-picture.jpg');
    overflow: hidden;
  }
  
  .lu-info-container {
    border: 2px solid $environment-logged-in-border-color;
    background: $environment-logged-in-background-color;
    height: 48px;
    display: inline-block;
    box-sizing: border-box;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  
    .lu-user-name {
      @include no-select;
      color: $environment-logged-in-font-color;
      text-transform: uppercase;
      min-width: 100px;
      padding: 13px 6px 14px 20px;
      float: left;
      height: 1.5em;
      
      a {
        color: $environment-logged-in-font-color;
        text-decoration: none;
      }
      
    }
    
    .lu-user-name-button-value {
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
    }
          
    .lu-actions {
      float: left;
      height: 1.5em;
      padding: 13px 6px 10px;
      
      a {
        margin: 0 6px;
      }
      
    }

    a[class*="lu-action"] {
      color: $environment-logged-in-font-color;
      font-size: 21px;
      text-decoration: none;
    }

  }

}

/* Navigation */
#staticNavigationWrapper {
  height: 76px;
  min-width: 320px;
  z-index: 12;
  position: relative;
  background: -moz-linear-gradient(top, $environment-static-navigation-gradient-color-start 0%, $environment-static-navigation-gradient-color-end 66%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $environment-static-navigation-gradient-color-start), color-stop(66%, $environment-static-navigation-gradient-color-end));
  background: -webkit-linear-gradient(top, $environment-static-navigation-gradient-color-start 0%, $environment-static-navigation-gradient-color-end 66%);
  background: -o-linear-gradient(top, $environment-static-navigation-gradient-color-start 0%, $environment-static-navigation-gradient-color-end 66%);
  background: -ms-linear-gradient(top, $environment-static-navigation-gradient-color-start 0%, $environment-static-navigation-gradient-color-end 66%);
  background: linear-gradient(to bottom, $environment-static-navigation-gradient-color-start 0%, $environment-static-navigation-gradient-color-end 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26246ca2', endColorstr='#00ffffff',GradientType=0);
}

.static-navigation-bg {
  background: $environment-static-navigation-background-color;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  z-index: 13;
  border-top: 1px solid $environment-static-navigation-border-top-color;
  border-bottom: 1px solid $environment-static-navigation-border-bottom-color;
}

#staticNavigation {
  max-width: $siteWidth;
  margin: 0 auto;
  height: 56px;
  z-index: 14;
  padding: 10px;
  position: relative;
}

/* Navigation Icons */
div[class*="dock-static-navi"] {
  position: relative;
  float: left;
  margin-right: 15px;
  
  &.active-trail {
    border-bottom: 3px solid $environment-static-navigation-active-border-color;
    
    &:hover {
      border-bottom: 3px solid $environment-static-navigation-active-border-color;
    }
    
  }
  
  &:hover {
    border-bottom: 3px solid $environment-static-navigation-border-color;
  }
}

div[class*='dock-static-navi-button'] > a,
div[class*='dock-static-navi-button'] > div, 
div[class*='dock-dynamic-navi-button'] > a {
  font-size: 40px;
  color: $environment-static-navigation-icon-color;
  text-decoration: none;
  @include iconShadow;
  padding: 5px 10px;
  height: 40px;
  display: inline-block;
  
  &:hover {
    @include iconShadow(rgba(255, 255, 190, 0.8));
  }
  
}

/* Navigation Icons Notifier */
.dock-notification {
  background-color: $environment-static-navigation-notifier-background-color;
  border-radius: 10px;
  border: 1px solid $environment-static-navigation-notifier-border-color;
  top: 11px;
  color: $environment-static-navigation-notifier-font-color;
  font-size: 15px;
  font-weight: bold;
  height: 16px;
  min-width: 10px;
  padding: 0 3px 0 0;
  position: absolute;
  text-align: center;
  right: 4px;
}

/* Content where everything goes */
main.content {
  margin: 20px 0 0;
}

/* After Personalization Box will be redesigned and moved to proper .scss*/
.box {
  box-shadow: $environment-content-box-shadow;
  background: $environment-background-color;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
  
  .empty {
    font-style: italic;
  }
  
}

.box ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.box ul li {
  padding: 5px 0;
}

/* Frontpage Boxes When User Not Logged In */
#siteInfo {
  
}

#siteGuide {
  
}

/* Frontpage Boxes When User Logged In  */
#visits {
  
}

#workspaces {
  margin: 1.5em 0 0;
}

#messages {
  
  li.unread a {
    font-weight: 400;
  }

}

#announcements {
  
}

/* Headers */
h1,h2,h3,h4,h5,h6 {
  color: $environment-header-font-color;
  text-transform: uppercase;
  margin: 0 0 0.5em;
  font-weight: 300;
}

h1 {
  font-size: 29px;
}
  
h2 {
  font-size: 26px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size:15px;
  font-weight:400;
}

h6 {
  font-size: 13px;
  font-weight: 400;
}

/* Page title for mainfunctions */
h2.main-functionality-page-title {
  color: $environment-page-title-font-color;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  padding: 0 13px 13px;
}

a {
  color: $environment-link-color;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
  
}

/* Subscript & Superscript*/
sub {
  vertical-align: sub;
  font-size: 70%;
}

sup {
  vertical-align: super;
  font-size: 70%;
}

blockquote{
  border-left: 5px solid $environment-border-highlight-color;
  padding-left: 20px;  
}

@import "mobile";
@import "tablet";
