@import "_vars.scss";

// Todo: Remove this after .mf-button-container has a variable (will be merged in the issue 2426)
@import "_vars_backup";
@import "_styles.scss";

.mf-content-master {
  margin: 0 5px;
}

.mf-button-container {
  background-color: $environment-button-container-background-color; 
}

.mf-primary-function {
  
  .mf-primary-function-content {
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    line-height: 1.3em;
    color: $environment-button-font-color;
    cursor: pointer;
    @include buttonFontShadow;
    @include button-shadow;  
    background-color: $environment-button-background-color;
    border: 1px solid $environment-button-border-color;
    font-size: 1em;
    @include gradient-top-bottom($environment-button-gradient-start-color, $environment-button-gradient-end-color, $environment-button-background-color);
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
     
    &.disabled {
      @include gradient-top-bottom($environment-button-disabled-gradient-start-color, $environment-button-disabled-gradient-end-color, $environment-button-disabled-background-color);      
      color: $environment-button-disabled-font-color;
      text-shadow: none;
    }
    
    .mf-primary-function-text {
      display: inline-block;
      padding: 12px;
      white-space: nowrap; 
    }  
         
  }
  
}

.mf-dropdown-content {
  background-color: $environment-button-background-color;
  border: 1px solid $environment-button-border-color;
  border-radius: 3px;
  box-sizing: border-box;
  color: $environment-button-font-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.3em;
  @include buttonFontShadow;
  @include button-shadow;  
  @include gradient-top-bottom($environment-button-gradient-start-color, $environment-button-gradient-end-color, $environment-button-background-color);
  text-transform: uppercase;
  width: 100%;



  .mf-dropdown-text {
    display: inline-block;
    margin-right: 40px;
    padding: 12px;
    white-space: nowrap;
  } 
  
  .mf-dropdown-arrow {
    border-left: 1px solid $environment-button-dropdown-arrow-border-color;
    font-size: 2.45em;
    padding: 4px 4px 3px 2px;
    position: absolute;
    right: 0;
    top: 0;
  } 
  
}

.mf-label {
  position: relative;
}

.mf-label-name {
  
}

.mf-label-link, 
.mf-label-message-link {
  cursor: pointer;
  font-size: 15px;
  padding: 5px 0 5px 0;
  &:hover {
    background-color: $navigation-horizontal-bar-hover-background-color;     
  }

 &.selected {
    background-color: $navigation-horizontal-bar-special-background-color;
    color: $navigation-horizontal-bar-active-font-color;
    span {
      color: $navigation-horizontal-bar-active-font-color;
    }
  }

  &.selected-in-all {
    background-color: $navigation-horizontal-bar-special-accented-background-color;
    color: $navigation-horizontal-bar-active-font-color;
    span {
      color: $navigation-horizontal-bar-active-font-color;
    }

  }

  > div {
    &::before {
      margin-left: 10px;
    }
    
  }
}

.mf-label-functions {
  bottom: 0;
  color: $navigation-vertical-bar-deco-icon-color;
  margin-top: 0;
  padding: 9px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  width: 25px;
  
  &:hover {
    color: $navigation-vertical-bar-deco-active-icon-color;
    }
  }

.mf-label-functions-menu {
  background-color: $navigation-vertical-bar-background-color;
  display: none;
  box-shadow: $content-navigation-menu-shadow;
  font-size: 12px;
  position: absolute;
  top: 10px;
  width: 150px;
  z-index: 100;
  div {
    padding: 5px 0 5px 5px;
    &:hover {
      background-color: $navigation-vertical-bar-background-active-color;
      
    }
    
  }
}


.mf-dropdown {  
  position: relative;
  
  &.active .mf-dropdown-content {
    @include gradient-top-bottom($environment-button-gradient-end-color, $environment-button-gradient-start-color, $environment-button-background-color);
  }
  
  ul {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid $environment-border-selected-color;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: $environment-menu-shadow;
    
    li {
      font-size: 0.9em;   
      padding: 5px;
      background-color: $environment-menu-background-color;
      
      a {
        text-decoration: none;
        color: $environment-menu-font-color;
      }
      
      &:hover {
        background-color: $environment-menu-item-active-background-color;  
        color: $environment-menu-item-active-font-color;
        a {        
          text-decoration: none;
          color: $environment-menu-item-active-font-color;
        }
        
      }
      
    }
    
  }
  
}


.mf-sub-header {
  background-color: $navigation-vertical-bar-sub-header-background-color;
  text-align: center;
  padding: 3px;
}

.mf-list-title {
  margin-left: 10px;
  font-weight: 700;
  font-size: 16px;
  padding: 5px;
  
  &.no-items {
    color: $navigation-vertical-bar-empty-font-color;
  }
  
}


.mf-content-area {
  background-color: $environment-navigation-container-background-color;
}

.mf-content-functions {
  background-color: $environment-navigation-content-navigation-background-color; 
  position: relative;
}

.mf-button-container {
  position: relative;
}

.mf-controls-container {
  position: relative;
}

.mf-view-header {
  background-color: $environment-header-background-color;
  
}

.mf-view-title {
  margin: 0;  
}


.mf-view-toolbar {
  background-color: $environment-background-color;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  
  .mf-view-tool {
    padding: 0 10px;
    border: 1px solid $environment-border-selected-color;
    background-color: $bgr1; 
    font-size: 1.5em;
    float: left;
    color: $environment-font-color;
    cursor: pointer;      
  }
  
}  

.mf-content-empty {
  min-height: 400px;
  padding: 20px;
  text-align: center;
}   

.mf-search-icon {
  display: inline-block;
  color: $environment-icon-font-color;
  font-size: 30pt;
  padding-top: 10px;
}

.mf-search-field {
  position: relative;
  
  input.search {
    padding: 10px 10px 10px 40px !important;
  }
  
  &::before {
    display: inline-block;
    content: "\e61c";
    font-family: 'muikku' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 26px;
    height: 26px;
    width: 26px;
    color: $search-icon-color;
    position: absolute;
    left: 10px;
    top: 11px;
  }
  
}


.mf-tool-action-container {  
  a {
    color: $navigation-horizontal-bar-special-menu-link-font-color;    
  }
  padding: 0 0 10px 20px;
}

ul.mf-tool-label-container {
  padding: 0 0 5px 0;
  margin-top: 0;
  
  li {
    list-style-type: none;
  }
}

.mf-tool-menu {
  position: absolute;
  display: none;
  background-color: transparent;
  z-index: 99;
  text-align: left;
  top: 37px;
  
  > div {
    box-shadow: $environment-menu-shadow;
  }
  
  input.filter {
    font-size: 12px;
    border: 1px solid $navigation-horizontal-bar-special-menu-input-border-color;
    padding: 7px;
    margin: 10px;
    width: 200px;
  }
}

  
.mf-tool-menu-content {
  background-color: $environment-background-color;
  margin-top: 10px;
  position: relative;
  border: 1px solid $navigation-horizontal-bar-special-menu-border-color;
  border-radius: 3px;
  
  &::after, 
  &::before {
    margin-top: 10px;      
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }  

  &::after {
    border-color: $environment-border-transparent-color;
    border-bottom-color: $navigation-horizontal-bar-special-menu-arrow-border-color-1;
    border-width: 7px;
    margin-left: -7px;
  }
  
  &::before {
    border-color: $environment-border-transparent-color;
    border-bottom-color: $navigation-horizontal-bar-special-menu-arrow-border-color-2;
    border-width: 8px;
    margin-left: -8px;
  }

}

.mf-tool-container {
  border-radius: 20px;
  display: inline-block;
  height: 24px;
  margin: 0 0 0 10px;
  padding: 6px 0;
  text-align: center;
  width: 37px;
  
  &:first-child {
    margin:0;
  }
  
  &.default {
    background: $navigation-horizontal-bar-default-button-background-color none repeat scroll 0 0;
  }

  &.special {
    background: $navigation-horizontal-bar-special-button-background-color none repeat scroll 0 0;
  }

  &.navigation {
    background: $navigation-horizontal-bar-navigation-background-color none repeat scroll 0 0;
    border-radius: 7px;
    
    div::before {
      color: $navigation-horizontal-bar-navigation-icon-color;
    }
  }
  &.settings {
  
    div::before {
      color: $environment-settings-icon-color;   
    }
    
    div:hover::before {
      color: $environment-settings-hover-icon-color;
    } 
  }

  &.button {
    background-color: $navigation-horizontal-bar-special-button-background-color; 
    border: 1px solid $environment-border-selected-color;
    color: $navigation-horizontal-bar-active-font-color;
    cursor: pointer;
    display: inline-block;    
    padding: 5px 10px;  
    width: auto;
  }
  
  &.disabled {
    background: $navigation-horizontal-bar-disabled-button-background-color none repeat scroll 0 0;
    color: $navigation-horizontal-bar-disabled-button-font-color;        
  }
    

  .mf-tool {
    cursor: pointer;
  }
    
  > div { 
    &::before {
      font-size: 23px;
      color: $navigation-horizontal-bar-button-icon-color;
    }
  }
} 

.mf-tools-mobile {
  
  .mf-tools-mobile-activate {    
    background: $navigation-horizontal-bar-default-button-background-color none repeat scroll 0 0;
    border-radius: 50%;
    bottom: 61px;
    box-shadow: $environment-menu-shadow;
    color: $navigation-horizontal-bar-button-icon-color;
    font-size: 32px;
    padding: 8px 0;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 50px;
    z-index: 99;
    
    &:hover {
      padding-bottom: 39px;
      background-color: $navigation-horizontal-bar-default-button-background-hover-color;
      
      .mf-tools-mobile-list {
        display: block;
        margin-top: -215px;
        padding-bottom: 25px;
      }  
      
      .mf-tools-mobile-activate {    
        padding: 8px 0 40px;
      }   
       
    }
    
  }
  
  .mf-tools-mobile-list {
    display: none;
  }
  
  .mf-tool-container {
    margin-top: 15px;
    margin-left: 0;
    padding: 0 1px 14px;
  }

}


.mf-content-main {
  background-color: $environment-content-container-background-color; 
}

.mf-content-empty {
  min-height: 400px;
  padding-top: 160px;
  
  h3 {
    font-weight: 300;
    font-size: 20px;
    margin: 0 0 0.5em;
    text-transform: none;
    font-style: italic;
  }
  
}
  
.mf-form-header {
   padding-top: 20px;
   
   h3 {
     color: $form-header-font-color;
     font-weight: 400;
     font-size: 20px;
     margin: 0 0 0.5em;
     text-transform: uppercase;
   }
   
}

.mf-item-tool-btn {
  background: $item-tool-button-background-color;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px 10px;
  display: inline-block;
  color: $item-tool-button-font-color;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  
  &:not(:first-child) {
   margin-left: 10px;
  }
  
  &.wizard {
    background: $item-tool-button-wizard-background-color;
  }
  
  &.goto {
    background: $item-tool-button-goto-background-color;
  }
  
}   

.mf-item-tool-link {
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  color: $item-tool-link-font-color;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  
  &:hover {
   text-decoration: underline;
  }
  
  &:not(:first-child) {
   margin-left: 10px;
  }
  
}

.mf-item-empty-container {
    min-height:60px;
}

.mf-item-empty {
  box-shadow: $item-shadow;
  background-color: $item-background-color;
  margin: 0 5px 5px 5px;
  text-align:center;

  span {
    color: $item-state-info-font-color;
   &:not(:first-child){
    margin-left:10px;
   }    
  }  
}

.mf-item {
  box-shadow: $item-shadow;
  background-color: $item-background-color;
  margin: 0 5px 5px 5px;

  &.ft-01 {
    border-left: 3px solid $item-markup-border-color-1;
  }
   
  &.ft-02 {
    border-left: 3px solid $item-markup-border-color-2;
  }
  
  &.ft-03 {
    border-left: 3px solid$item-markup-border-color-3;
  }

  .topic {
    padding: 10px 0 0 10px;
    
    h3 {
      margin : 0 0 10px;
    }
  
  }

  .content {
    padding: 0 10px 10px;
  }

  .mf-item-label {
    border-radius: 3px;
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    margin-right: 5px;
    padding: 0 5px;
    
    span {
      color: $item-label-font-color;
      vertical-align: top;
    }
    
    &:first-child {
      margin-left: 10px;
    }
  
  }

  .mf-item-container {
    line-heigth: 0.5em;
  }
 
  
  .mf-item-tools {
  
    .mf-item-tool {
      dispay: inline-block;
      color: $item-tool-font-color;
      text-decoration: none;
      font-size: 1.5em;
      padding-left: 10px;
      padding-right: 10px;
      border-collapse: collapse;
    
      &:hover {
        color: $item-tool-font-hover-color;
      } 
    
    }
      
  }

  .mf-item-details-container {

  }
   
  .mf-item-details {
   cursor: pointer;
  }   

  .mf-item-header-name {
    display: inline-block;
    vertical-align: center;
    
    > span {
      line-height: normal;  
      display: inline-block;
      margin: 0 0 0 5px;
    }
  }

  .mf-item-header-details {
    display: inline-block;
    position: relative;
  }

  .mf-item-rating {
    padding-right: 5px;
  }
  
  .mf-item-description {
    background-color: $environment-background-color;  
    overflow: hidden;   
/*     height: 35px; */
  }
  
  /* If item is foldable */
  &.foldable {
  
    .mf-item-description {
      background-color: $environment-background-color;  
      overflow: auto;   
      height: auto;
    }
  
  }

  .mf-item-description-text {
    background-color: $environment-background-color;  
    color: $item-description-font-color;
    font-size: 0.9em; 
    padding: 5px;
    min-height: 100px;
  }

  .mf-item-details-teachers {
    padding: 0 5px;
    height: 20px;
  }

  
  .mf-item-short::after {
    content : " -"  ;
  }
  
  .mf-item-content-name {
    padding: 15px;
  }

  .mf-header-name {
    display: inline-block;
    text-transform: uppercase;
  }
  
  .mf-header-details {
    display: inline-block;
    float: right;  
  }

/* When the item is open (element with "mf-item" has also class "open" ) */    
  
  &.open {
   
    .mf-item-header-name {
      white-space: normal;
    }
   
    .mf-item-description {
      width: 100%;
      height: auto;
    }
      
  }
  
}

.mf-subitem {
  font-weight: 300;
}

/* Widgets */
.mf-widget {
  box-shadow: $item-shadow;
  background: $environment-background-color;
  min-height: 3em;
  margin-bottom: 5px;
}

.mf-dropdown-select {
  cursor: pointer;
  
  .mf-dropdown-select-name {
    display: inline-block;
  }
  
  .mf-dropdown-select-decoration {
    display: inline-block;
  }  
  
}

.mf-dropdown-list-container {
  display: none;
  width: 170px;
  background-color: $environment-background-color;
  border : 1px solid $brd;
  z-index: 100;
  position: absolute;
  top: auto;

  ul {
    list-style-type: none;
  }  
  
  li {
    font-size: 0.9em;   

    span {
      padding: 5px;
      cursor: pointer;
    }
    
    a {
      text-decoration: none;
      color: $environment-font-color;
    }

  }
  
  li:hover {
    background-color: $environment-menu-item-active-background-color;  
    color: $environment-alt-font-color;

    a {
      color: $environment-alt-font-color;      
      text-decoration: none;
    }

  }
  
}

.mf-file {
  background-color: $environment-file-background-color;
  color: $environment-alt-font-color;
  font-weight: 600;
  padding: 0 5px;
}

.mf-file-action {
  text-transform: uppercase;
}

.mf-option-name {
  font-weight: 700;
}

.mf-content {
      
  .mf-form-row {
    position: relative;
    
    &.hidden {
      display: none;
    }
    
    > div {
      display: inline-block;
      box-sizing: border-box;
    }
 
    .mf-textfield-time {
      width: 50px;
    }
    
    .mf-textfield-date {
      font-size: 14px;
      width: 95px;
      margin-left: 5px;
    }
  }

  .mf-form-element, 
  .mf-textfield {
    position: relative;
    top: 0;
      
    .mf-form-element-subcontainer {
      border: 2px solid $form-textfield-subcontainer-border-color;
      border-radius: 3px;
      background-color: $form-textfield-subcontainer-background-color;
      color: $form-textfield-subcontainer-font-color;
    }
  
    .mf-form-element-subcontainer-item {
      padding: 5px;
    }
      
    .mf-textfield-title {
      color: $form-element-title-font-color;
      flex-shrink: 0;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    input[type="text"] {
      color: $form-textfield-font-color;
      border-radius: 3px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;
      font-size: 14px;
      
      &:focus {
        background-color: $form-textfield-focus-background-color;     
        box-shadow: none;    
      }
      
      &:hover {
        background-color: $form-textfield-hover-background-color;   
        box-shadow: none;      
      }
    }
  }
  
  .mf-select {
    position: relative;
    top: 0;
  
    select {        
      width: 100%;
    }

    option {
      padding: 8px;
    }  
  }
}

.mf-toolbar {
      
  input {
    border-radius: 0;
    border: 0;
    color: $form-button-font-color;
    font-weight: 400;
    text-transform: uppercase;
    margin: 5px;
    outline: none;
    font-family: $environment-font-family;
    min-width: 90px;
    padding: 10px;
    font-size: 16px;
  }

  input[name="send"] {
    background: $form-button-send-background-color;
  }
  
  input[name="cancel"] {
    background: $form-button-cancel-background-color;
  }

}

// Needs to be unified with mf-list*




.mf-categories {
  background-color: $environment-background-color;
  
  .mf-category-title {
    margin-left: 5px;
    font-weight: 700;
    font-size: 16px;
    padding: 5px;
    
    &.no-items {
      color: $navigation-vertical-bar-empty-font-color;
    }
    
  }

       
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
    
  li {
    border-bottom: 1px solid $environment-border-color;
    border-left: 5px solid $navigation-vertical-bar-border-color;

    div::before {
      margin-left: 5px;        
      margin-right: 5px;        
    }

    a {
      box-sizing: border-box;
      color: $environment-font-color;
      font-family: $environment-font-family;        
      display: inline-block;
      font-weight: 300;
      height: 30px;
      padding-top: 8px;      
      text-decoration: none;
      
      &.mf-category-item-plain {
        padding-left: 7px;
        padding-top: 4px;
      }

    }
    
    &::before {
      margin-left: 5px;
      color: $navigation-vertical-bar-icon-color;
    } 
          
    &:hover {
      border-left: 5px solid $navigation-vertical-bar-hover-border-color;     
      cursor: pointer;   
    } 
    
    &.selected {
      background-color: $environment-background-selected-color;
      border-left: 5px solid $environment-border-selected-color;
      
      a {
        font-weight: normal;      
      }
    }
  }
} 

/* jQuert Ui overrides for mainfunctions */


.ui-autocomplete {
  font-size: 12px;
  font-weight: 300;
  position: fixed;
  max-height: 200px;
  overflow: auto;
  padding: 5px;
  background: $form-autocomplete-background-color;
  list-style-type: none;
  z-index: 1000;
  box-sizing: border-box;
  border: 1px solid $form-autocomplete-border-color;
  width: auto !important;
  right: 17px;
  box-shadow: $environment-menu-shadow;

  .ui-autocomplete-category {
    text-transform: uppercase;
    padding: 5px;
  }
  
  .ui-menu-item {
    padding: 2px 5px;
     
    &.ui-state-focus {
      background-color: $environment-background-selected-color;
      border: none;
      width: auto;
      color: $form-autocomplete-hover-font-color;
    }
    
  }
   
}

.mf-items-toolbar {
  background-color: $environment-background-color;
  margin-bottom: 5px;
  padding: 5px;
  
  .mf-items-tool {
    background-color: $environment-background-dim-color;
    border: 1px solid $environment-border-selected-color;
    color: $environment-font-color;
    cursor: pointer;
    font-size: 1.5em;
    padding: 0 10px;
    &:not(:first-child){
      margin-left: 10px;
    }    
  }
  
}

.mf-items-paging {
  padding: 10px;
}

.mf-paging-toolbar {
  text-align: center;
}

.mf-paging-tool {

  background: $environment-paging-tool-background-color;
  color: $environment-paging-tool-font-color;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 26px;
  
  &.disabled {
    background: $environment-paging-tool-background-disabled-color;
    color: $environment-paging-tool-font-disabled-color;
  }
  
}



/* Categories */

.mf-category-1-brd {
  border-left: 5px solid $category-color-1;
}

.mf-category-2-brd {
  border-left: 5px solid $category-color-2;
}

.mf-category-3-brd {
  border-left: 5px solid $category-color-3;
}

.mf-category-4-brd {
  border-left: 5px solid $category-color-4;
}

.mf-category-5-brd {
  border-left: 5px solid $category-color-5;
}

.mf-category-6-brd {
  border-left: 5px solid $category-color-6;
}

.mf-category-7-brd {
  border-left: 5px solid $category-color-7;
}

.mf-category-8-brd {
  border-left: 5px solid $category-color-8;
}

.mf-category-9-brd {
  border-left: 5px solid $category-color-9;
}

.mf-category-10-brd {
  border-left: 5px solid $category-color-10;
}

.mf-category-11-brd {
  border-left: 5px solid $category-color-11;
}

.mf-category-1-font {
  color: $category-color-1;
}

.mf-category-2-font {
  color: $category-color-2;
}

.mf-category-3-font {
  color: $category-color-3;
}

.mf-category-4-font {
  color: $category-color-4;
}

.mf-category-5-font {
  color: $category-color-5;
}

.mf-category-6-font {
  color: $category-color-6;
}

.mf-category-7-font {
  color: $category-color-7;
}

.mf-category-8-font {
  color: $category-color-8;
}

.mf-category-9-font {
  color: $category-color-9;
}

.mf-category-10-font {
  color: $category-color-10;
}

.mf-category-11-font {
  color: $category-color-11;
}
