@import "_fonts.scss";
@import "_vars.scss";
@import "_styles.scss";
@import "_forms.scss";
@import "_buttons.scss";
@import "_notif-queue.scss";
@import "_connectionlost.scss";

body {
  margin:10px;
  padding:0 0 50px 0;
  font-family:'Open Sans', Arial, sans-serif;
  font-size:14px;
  font-weight:300;
  line-height:1.5em;
  color:#2c2c2c;
  height:100vh;
}

footer {
  display:none;
}

/* Reset Password */

.reset-password-background {
  background-image:url('/gfx/muikku-login-bg.jpg');
  background-position:top center;
  background-size:cover;
  background-repeat:no-repeat;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:997;
}

.reset-password-overlay {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:998;
  background: rgba(0,37,105,0.14);
  background: -moz-linear-gradient(top, rgba(0,37,105,0.14) 0%, rgba(0,27,76,0.5) 28%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,37,105,0.14)), color-stop(28%, rgba(0,27,76,0.5)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,37,105,0.14) 0%, rgba(0,27,76,0.5) 28%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(0,37,105,0.14) 0%, rgba(0,27,76,0.5) 28%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,37,105,0.14) 0%, rgba(0,27,76,0.5) 28%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,37,105,0.14) 0%, rgba(0,27,76,0.5) 28%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002569', endColorstr='#000000', GradientType=0 );
}

.reset-password-wrapper {
  position:absolute;
  z-index:999;
  top:0;
  left:5px;
  right:5px;
  bottom:0;

  .muikku-logo {
    background-image:url('/gfx/muikku-header-text-small.png');
    background-repeat:no-repeat; 
    height:90px;
    max-width:500px;
    margin:0 auto;
    position:relative;
  }
  
  .reset-password-container {
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 100px rgba(0, 0, 0, 0.7);
    max-width:500px;
    margin:0 auto;
    
    h1 {
      font-weight:300;
      font-size:24px;
      line-height:140%;
      margin:0 0 10px 0;
      text-transform:uppercase;
    }

    label {
      font-weight:300;
      text-transform:uppercase;
      font-size:16px;
    }
    
    input[type="password"], 
    input[type="text"] {
      font-size:18px;
      font-weight:300;
      padding:8px 16px;
      border-radius:3px;
      line-height:2em;
    }
    
    .username-container input[type="text"] {
      border:0px;
      font-size:20px;
      color:#000;
      font-weight:400;
      padding:0;
      
      &:hover,
      &:focus,
      &:active {
        box-shadow:none;
        border:0px;
      }
    }
    
    input[type=submit].reset-password-reset-button {
      font-size:18px;
      font-weight:300;
      padding:3px 10px;
      border-radius:3px;
      border:0;
      background:#27b91c;
      color:#fff;
      margin:10px 0 0 10px;
      line-height:2em;
      float:right;
    }
    
    a.reset-password-cancel-button {
      font-size:18px;
      font-weight:300;
      padding:4px 10px;
      border-radius:3px;
      border:0;
      background:#7391a7;
      color:#fff;
      line-height:2em;
      margin:10px 0 0 10px;
      text-decoration:none;
      text-transform:uppercase;
      display:inline-block;
      float:right;
    }
    
  }

}