
@import "_vars.scss";
@import "_styles.scss";

  /* frontpage (.fp-*) */

  
  .fp-announcement{
    > div{
      padding-left:10px;  
    }
    &.environment{
      border-left: 5px solid #fda726;
    }
    &.workspace{
      border-left: 5px solid #e163ed;
    }
    &:not(:first-child){
      margin-top:10px;
    }
    .fp-announcement-info-workspace{
      font-size:10px;
    }
  }