@import "vars";
@import "styles";

/* Guider, Guiding tool (.gt-*) */

.gt-students-view-container{
  min-height: 400px;
}

.gt-content-functions{
   height: 70px;  
}

.gt-content-main{
  min-height: 450px;
}

.gt-user {
  margin: 0 0 5px 0;

  &.closed,
  &.loading {
    .gt-user-details{ 
      display: none;
    }
  }
  
  &.loading {
    padding-bottom: 20px;
    
    &::after {
      @include generic-loader(50px);
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}  

.gt-user-name{
  cursor: pointer;
}

.gt-user-meta-topic{
  span{
   margin-left: 10px;
   font-weight: 400;
  }
  
}

.gt-email-field{
  color: $item-header-secondary-font-color;
  font-size: 10px;
}

.gt-user-details-data{
  padding: 10px;
 } 
 


.gt-user-details-items{
    padding: 10px;
    
    .gt-user-details-item{
    
    }
    
   .gt-user-details-label{
     display: inline-block;
     font-weight: 400;
     
     &::after{
      content: ":";
     }
   }

   .gt-user-details-value{
     margin-left: 10px;
   }
   
   .gt-user-details-indent {
     margin-left: 4em;
   }
  }


.gt-user-details-close {
 position: absolute;
 margin-top: 0;
 margin-left: 0;
 background-color: none;
 height: 30px;
 width: 200px;
 cursor: pointer;
}


.gt-user-header-name {
  display: inline-block;
  text-transform: uppercase;
}

.gt-user-header-details {
  display: inline-block;
  float: right;  

}
.gt-user-rating {
  padding-right: 5px;
}

.gt-user-description {
  display: inline-block;
  background-color: $environment-background-color;  
  cursor: pointer;  
}

.gt-user-description-text {
  font-size: 0.9em; 
  padding: 5px;
  min-height: 100px;
}

.gt-user-additionalInfo {
  display: inline-block;
  width: 30%;
  float: right;
  font-size: 0.7em;

}


.gt-user-details-toolbar {
  padding: 10px;;
  
}
.gt-user-view-headline {
  
  h1 {
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 1em;
  }
  
}

.gt-user-view-profile {
  > div{
    padding: 10px;
  }
  
  div[class*="gt-data-container"]{
    width: 100%;
  }
  
  &.loading {
    background-color: $environment-background-color;
    padding-bottom: 50px;
    padding-top: 50px;
     
    &::after {
      @include generic-loader(50px);    
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }  
}

 .gt-data {
 
  .gt-course-details-container {
    background-color: $environment-background-color;
    cursor: pointer;    
    
    .gt-course-description {
      display: inline-block;
      cursor: pointer;  
    }      
  }  
}

.gt-user-file-add {
  
  span {
    text-decoration: none;
    text-transform: uppercase;
  }
} 

.gt-user-file {
  background-color: $environment-file-background-color;
  color: $environment-alt-font-color;
  font-weight: 600;
  padding: 0 5px;
  
  & a {
    color: $environment-alt-font-color;
  }
  
  &:not(:first-child) {
    margin-top:5px;  
  }
}

.gt-user-file-action {
  text-transform: uppercase;
}
 
.gt-course {
  border-left: 3px solid $item-border-color-active; 

  &.open {
    .gt-course-details-container {
      margin: -5px;
      padding: 5px;
      background:$item-border-color-active;
      color: $environment-alt-font-color;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      
      .gt-course-header-name {
        color: $environment-alt-font-color;
      }      
    }    
  }  
}

.gt-course h4 {
  margin: 5px -5px;
  text-transform: none;
  font-size: 14px;
  font-weight: 400;
  background: $item-title-background-color;
  padding: 5px;
}

.gt-course .gt-course-activity {
  display: none; 
  font-weight:300;
}

.gt-course.open .gt-course-activity {
  display: block; 
}

.gt-course-activity-short {

  text-align: right;
  padding-right: 5px;
}



.gt-course-activity-row {
  transition: background 0.3s ease-in-out;
  
  &:hover {
    background: $item-background-active-color;
    border-radius: 3px;
  }
}

.gt-course-activity-row label {
  font-weight: 300;
  padding: 5px;
  margin: 0 0 0 5px;
}

.gt-course-activity-row span {
  text-align: right;
  padding: 5px;
}

.gt-user-view-flags-container {
  vertical-align: center;
  .gt-flag {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 5px;
    font-size: 14px;
    border-radius: 20px;
    position: relative;
    border: 2px solid $item-border-color;
    
    &.icon-flag::before {
      background: $environment-background-color none repeat scroll 0 0;
      border-radius: 100%;
      display: inline-block;
      height: 15px;
      padding: 5px;
      text-align: center;
      width: 15px;
      border-style: solid;
      border-width: 1px;
      border-color: attr(data-flag-color color);
    }
    
    .gt-flag-label {
      font-family: 'Open Sans', Arial, sans-serif;
      color: $environment-font-color;
      display: inline-block;
      padding: 6px 5px;
    }
    
    .gt-flag-action-container {
      display: none;
      float: none;
      position: absolute;
      padding: 0;
      background: $environment-background-color;
      position: absolute;
      left: 0;
      margin: 2px 0 0 0;
      border-radius: 5px;
      box-shadow: 0 7px 15px $content-navigation-menu-shadow;
      white-space: nowrap;
      border: 1px solid $content-navigation-menu-border-color-1;
      z-index: 2;

      &::after, 
      &::before {
        bottom: 100%;
        left: 15px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      
      &::after {
        border-color: $environment-border-transparent-color;
        border-bottom-color: $item-border-color;
        border-width: 7px;
        margin-left: -7px;
      }
      
      &::before {
        border-color: $environment-border-transparent-color;
        border-bottom-color: $content-navigation-menu-border-color-1;
        border-width: 8px;
        margin-left: -8px;
      }
      
      .gt-flag-actions-separator {
        margin: 1px 0;
        height: 1px;
        background: $environment-background-selected-color;
        float: none;
      }
      
      a {
        display: block;
        padding: 13px;
        margin: 0;
        color: $environment-font-color;
        font-size: 14px;
        border-radius: 3px;
        
        .gt-flag-action-label {
          font-family: $environment-font-family;
          color: $environment-font-color;
          padding: 0 0 0 8px;
          vertical-align: top;
        }
        
        &:hover {
          background: $item-background-highlight-color;
        }
        
      }
      
    }
    
    &:hover {
    
      .gt-flag-action-container {
        display: block;
      }
    
    }
    
  }

  .gt-add-flag-widget {
    background: $item-default-button-background-color;
    color: $item-button-font-color;
    border-radius: 5px;
    padding: 6px 8px 6px 6px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    border: 2px solid $item-border-color;

    .gt-add-flag-widget-label {
      font-family: 'Open Sans', Arial, sans-serif;
      vertical-align: top;
      text-transform: uppercase;
    }
    
    .gt-add-flags-container {
      display: none;
      padding: 0;
      background: $environment-background-color;
      position: absolute;
      left: -40px;
      margin: 8px 0 0 0;
      border-radius: 5px;
      box-shadow: $content-navigation-menu-shadow;
      white-space: nowrap;
      border: 1px solid $content-navigation-menu-border-color-1;
      z-index: 2;

      &::after, 
      &::before {
        bottom:100%;
        left: 52px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      
      &::after {
        border-color: $environment-border-transparent-color;
        border-bottom-color: $item-border-color;
        border-width: 7px;
        margin-left: -7px;
      }
      
      &::before {
        border-color: $environment-border-transparent-color;
        border-bottom-color: $content-navigation-menu-border-color-1;
        border-width: 8px;
        margin-left: -8px;
      }
        
      .gt-flags-separator {
        margin: 1px 0;
        height: 1px;
        background: $environment-background-selected-color;
      }
      
      a {
        display: block;
        padding: 13px;
        margin: 0;
        font-size: 14px;
        border-radius: 3px;
        text-align: left;
        
        &.gt-new-flag {
          color: $environment-font-color;
        }
        
        .gt-flag-label {
          font-family: $environment-font-family;
          color: $environment-font-color;
          padding: 0 0 0 8px;
        }
        
        &:hover {
          background: $item-background-highlight-color;
        }
        
      }
      
    }
    
    &:hover {
      background: $content-navigation-menu-highlight-background-color;
    
      .gt-add-flags-container {
        display: block;
      }
    
    }
    
  }
  
}

   

/* Flag Share Dialog's additional styles. Main dialog style i sin separate .scss */
.guider-share-flag-dialog {
  height: auto !important;
  overflow: visible !important;

  .ui-autocomplete {
    font-family: 'Open Sans', Arial, sans-serif;
    position: absolute;
    text-transform: none;
      
    .ui-menu-item {
      color: $environment-font-color;
      cursor: pointer;
      font-size: 14px;
      font-weight: 300;

      &[data-existing="true"] {
        color: $environment-font-disabled-color;
        cursor: default;
        font-style: italic;
      }
    
      &:hover {
        font-weight: 300;
      }
    
    }
  
}
    
  #guider-share-flag-dialog-users {
    margin: 0 0 10px;
  }
  
  .shares {
    text-transform: none;
    
    .share {
      border-radius: 3px;
      margin: 2px 0;
      padding: 0 5px;
      position: relative;
      
      &[data-share-status="REMOVED"] {
        display: none;
      }
      
      &:hover {
        background: $environment-background-light-dim-color;
      }
    
      label {
        display: block;
        font-size: 14px;
        margin: 0;
        padding: 0 70px 0 0;
      }
      
      a.remove {
        background: $content-navigation-action-remove-background-color;
        color: $item-grade-font-color;
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        padding: 4px 8px;
        position: absolute;
        right: 5px;
        text-align: right;
        text-decoration: none;
        top: 1px;
        width: auto;
      }
    
    }
  }
  
}

/* This is an unneccessary override, needs to be similar with the rest of the mainfunctions - in the future */

.gt-filters-container {
  ul {
      list-style-type: none;
  }  
  li {
    border-bottom: 1px solid $environment-border-color;
    border-left: 0;

    &:hover {
      border-left: 0;
    } 
  }
  a {
    border-left: 5px solid $item-border-color;   
    box-sizing: border-box;
    color: $environment-font-color;
    display: inline-block;
    font-weight: 300;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-decoration: none;
       
    &:hover {
      border-left: 5px solid $environment-border-color;     
      cursor: pointer;   
    } 
    
    &.selected {
      background-color: $environment-background-selected-color;
      border-left: 5px solid $environment-border-selected-color;
    }                
  }  
}

.gt-filter-link[data-type="flag"] {
  
  .icon-flag {
    margin-right: 10px;
  }
}

span.ui-helper-hidden-accessible {
  display: none;
}