@import "_vars.scss";
@import "_styles.scss";

/* Transcript of records (.tr-*) */

.tr-content-main {
  &.loading {
    height:200px;
    &:before {
      @include generic-loader(50px);
      margin-top:50%;
      margin-left:50%;
    }
  }
}

.tr-item-workspace-assessment {
  cursor:pointer;
}

.tr-study-programme-name {
  padding-left:5px;
}

.tr-item-header-details {
 
  .tr-item-header-detail {
    display:inline-block;
  
    &.grade {
      padding:0 6px;
      color:#fff;
      box-sizing:border-box; 
      text-transform:uppercase;
      font-size:12px;
      margin-left:5px;
      
      &.passing {
        background-color:#0acf00;
      }
      
      &.non-passing {
        background-color:#ea7401;
      }
    }

  }
  
}

.tr-item-description-title{
  span{
    font-size:19px;
    font-weight:700;
    &.tr-item-long{
      margin-left:10px;
    }    
    
    &.grade {
      padding:5px 10px;
      color:#fff;
      margin-left:3px;      
      &.passing {
        background-color:#0acf00;
      }
      
      &.non-passing {
        background-color:#ea7401;
      }
    }
    
    &:not(:first-child){
      margin-left:10px;
    }
  }
}

.tr-item-description-content{
  span{
    display:inline-block;
    margin-left:10px;
  }
}

.tr-task-not-evaluated{
    span:not(:first-child){
       margin-left:10px;
    }  
  }

.tr-task-evaluated{
  &:hover{
   cursor:pointer;
   background-color:$bgr1;
  }
  
  .title-container{
  }
  .content-container{
    background-color:$bgr4;
  }  
  .title{
    span{
      display:inline-block;
      box-sizing:border-box;
      &:not(:first-child){
       margin-left:10px;
      }
    }
  
  }
  
  .content{
    padding:15px;
  }
}
.tr-task-evaluated-grade{
  background-color:$bgr1;
  color:#dadada; 
  padding:5px 10px;

  &.grade {
    color:#fff;
    
    &.passing {
      background-color:#0acf00;
    }
    
    &.non-passing {
      background-color:#ea7401;
    }
  }
}
