@import "_vars.scss";
@import "_styles.scss";
@import "_custom-ckeditor-styles.scss";
@import "_workspace-materials-defaults.scss";

/* WORKSPACE FRONTPAGE HEADER */
.workspace-header-wrapper {
  background:#fff;
  box-sizing:border-box;
  max-width:960px;
  min-height:245px;
  position:relative;
  
  .workspace-header-container {
    max-width:950px;
    max-height:240px;
    position:relative;
    background-image:url("/gfx/workspace-default-header.jpg");
    background-repeat:no-repeat;
    background-color:#d1e069;
    background-size:cover;
    background-position:center center;
    z-index:10;
    
    h1.workspace-title {
      margin:0;
      color:#38393a;
      font-weight:300;
      text-transform:uppercase;
      line-height:1;
      position:absolute;
      top:60px;
      left:0;
      background:#fff;
      padding:20px;
      z-index:11;
      max-width:80%;
    }
    
    .workspace-additional-info-wrapper {
      position:absolute;
      left:20px;
      bottom:20px;
      background:#31acf6;
      color:#fff;
      padding:6px 10px;
      min-width:30px;
      z-index:13;
      font-size:18px;
      text-transform:uppercase;
      line-height:1;
      
      span {
        font-weight:300;
        display:inline-block;
        margin:0 2px 0 0;
      }
      
    }
    
    .workspace-study-level-indicator {
      position:absolute;
      font-size:16px;
      top:15px;
      right:-6px;
      z-index:12;
      line-height:1;
      padding:8px 12px 8px 14px;
      box-shadow:0 0 40px rgba(0,0,0,0.15);
      transform: skew(-5deg, 0deg) ;
      -webkit-transform: skew(-5deg, 0deg) ;
      -moz-transform: skew(-5deg, 0deg) ;
      -o-transform: skew(-5deg, 0deg) ;
      -ms-transform: skew(-5deg, 0deg) ;
      
      &.indicator1 {
        border-left:2px solid #fff;
        color:#fff;
        background:#4ee23a;
      }
      
      .workspace-study-level-text {
        position:relative;
        transform: skew(5deg, 0deg) ;
        -webkit-transform: skew(5deg, 0deg) ;
        -moz-transform: skew(5deg, 0deg) ;
        -o-transform: skew(5deg, 0deg) ;
        -ms-transform: skew(5deg, 0deg) ;
        font-weight:400;
        text-transform:uppercase;
      }
      
    }
  
  }

}

.workspace-meta-wrapper {
  font-size:15px;
  text-transform:uppercase;
  position:relative;
  bottom:0;
  left:0;
  z-index:13;
  padding:10px 25px;
  background:#fff;
  line-height:1;
  
  .workspace-meta-item-wrapper {
    display:inline-block;
    margin:0 10px 0 0;
  }

  .workspace-meta-title {
    color:#727272;
    display:inline-block;
    margin:0 2px 0 0;
  }
  
  .workspace-meta-desc {
    color:#000;
    display:inline-block;
  }
  
 .workspace-publication-container {
    position:absolute;
    top:0px;
    right:5px;
    width:200px;
    font-size:15px;
    text-transform:uppercase;
    text-align:right;
    padding:9px 0px;
    
    a {
      text-decoration:none;
      font-size:14px;
      color:#fff !important;
      border-radius:2px;
      font-weight:400;
      padding:2px 6px;
      
      &.workspace-publish-button {
        background:#27b91c;
      }
      
      &.workspace-unpublish-button {
        background:#ff9703;
      }
    
    }

  }
  
}

h1.workspace-block-title {
  font-weight:300;
  margin:0 0 20px 0;
  padding:0;
  font-size:26px;
}

.workspace-frontpage-teachers {
  background:#fff;
  padding:20px;
  margin-top:10px; 
}

.workspace-frontpage-announcements {
  background:#fff;
  padding:20px;
  margin-top:10px;
  
  .workspace-announcements-container {
  
    .workspace-single-announcement {
      position:relative;
      cursor:pointer;
      
      &:hover {
        
        .workspace-announcement-title {
          border-left:4px solid #30b4b3;
        }

      }
    
      .workspace-announcement-title {
        border-left:4px solid #82eceb;
        line-height:1.3em;
        padding:5px 55px 5px 10px;
        transition:border-left 0.15s ease-in-out;
        
        &.unread {
          font-weight:400;
        }
        
      }
      
      .workspace-announcement-date {
        position:absolute;
        top:0;
        right:5px;
        width:50px;
        text-align:right;
      }
    
    }
  
  }
  
}

.workspace-frontpage-material-page .workspace-materials-view-page {
  background:#fff;
  padding:20px;
  margin:10px 0;
  
  p:first-of-type {
    margin-top:0;
  }
  
  > div > p:last-child {
    margin-bottom:0;
  }
  
  > div > h1:first-child,
  > div > h2:first-child,
  > div > h3:first-child,
  > div > h4:first-child,
  > div > h5:first-child,
  > div > h6:first-child {
    margin-top:0;
  }
  
}

footer#workspaceFrontpageFooter {
  background:#fff;
  box-sizing:border-box;
  max-width:960px;
  position:relative;
  padding:20px;
  
  .workspace-footer-producers-wrapper {
    font-size:14px;
    font-weight:300;
  
    .workspace-material-producers-label {
      color:#727272;
      padding:0 5px 0 0;
      text-transform:uppercase;
    }
    
    .workspace-material-producer {
      padding:0;
      color:#000;
      text-transform:uppercase;
    }
  
  }
  
}