@import "_fonts.scss";
@import "_vars.scss";
@import "_styles.scss";
@import "_forms.scss";
@import "_custom-ckeditor-styles.scss";
@import "_connect-field.scss";
@import "_organizer-field.scss";
@import "_sorter-field.scss";
@import "_file-field.scss";
@import "_workspace-materials-defaults.scss"; 
@import "_correct_answers.scss"; 
@import "_notif-queue.scss";
@import "_connectionlost.scss";
@import "_ckeditor_theme.scss";

.lazy-pdf {
  height: 882px;
}

.lazy-swf {
  height: 500px;
}

body {
  background:#8ba4b5;
  padding:0.01em; /* Prevent margin collapsing  */
  font-family:'Open Sans', Arial, sans-serif;
  min-height:100%;
  line-height:1.7em;
  font-weight:300;
  font-size:16px;
  
  /* WORKSPACE NAVIGATION - FULLSCREEN */
  div[class*='workspace-materials-full-screen-navi-button'] > a,
  div[class*='workspace-materials-full-screen-navi-button'] > span {
    cursor:pointer;
    font-size:30px;
    color:#fff;
    text-decoration:none;
    @include iconShadow;
    background:transparent;
    padding:6px;
    margin:0px;
    display:inline-block;
    position:relative;
    width:34px;
    text-align:center;
  
    span[class*='workspace-materials-full-screen-tt-container-'] {
      opacity:0;
      font-family:'Open Sans', Arial, sans-serif;
      font-size:16px;
      height:16px;
      font-weight:300;
      position:absolute;
      top:0px;
      left:-4500px;
      width:0px;
      color:#fff;
      text-transform:uppercase;
      padding:13px 15px 15px 14px;
      @include rounded-top-left(3px);
      @include rounded-bottom-left(3px);
      @include workspaceTooltipTransition(opacity,0.15s,ease-in-out);
    }
      
    &:hover {
      @include iconShadow(rgba(255,255,190,0.5));
      background:transparent;
    }
  }
  
  #workspaceMaterialsReadingTOCWrapper {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    z-index:99;

    nav.workspace-waterials-reading-nav {
      width:46px;
      height:100%;
      background:#7893a6;
      position:absolute;
      top:0;
      z-index:36;
    }
    
    #workspaceMaterialsReadingTOCContainer {
      width:350px;
      background:#e8f0f5;
      z-index:26;
      box-shadow : 0 0 25px rgba(0,0,0,0.15);
      position:absolute;
      top:0;
      bottom:0;
      border-left:1px solid #fff;
      line-height:1.5em;
      font-size:14px;
      
      ul,
      li {
        list-style:none;
        padding:0;
        margin:0;
      }
      
      .workspace-materials-reading-TOC-title {
        padding:12px;
        position:relative;
        
        h1 {
          color:#2c2c2c;
          font-size:20px;
          margin:0;
          padding:0;
          text-transform:uppercase;
        }
        
        #workspaceMaterialsReadingTOCPinicon {
          cursor:pointer;
          font-size:24px;
          color:#2c2c2c;
          text-decoration:none;
          background:transparent;
          padding:6px;
          margin:2px;
          display:inline-block;
          position:relative;
          width:20px;
          @include rounded(3px);
          text-align:center;
          position:absolute;
          right:3px;
          top:3px;
          opacity:0.6;
          -ms-transition: transform 0.2s;
          -moz-transition: transform 0.2s;
          -webkit-transition: transform 0.2s;
          -o-transition: transform 0.2s;
          transition: transform 0.2s;
          
          &:hover {
            opacity:0.7;
            -ms-transform: rotate(10deg); /* IE 9 */
            -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
            -moz-transform: rotate(10deg);
            transform: rotate(10deg);
          }
          
          &.selected {
            opacity:1;
            -ms-transform: rotate(25deg); /* IE 9 */
            -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
            -moz-transform: rotate(25deg);
            transform: rotate(25deg);
          }
          
        }
        
      }
        
      .workspace-materials-toc-content-scrolling {
        width:350px;
        padding:0 6px;
        box-sizing:border-box;
        position:absolute;
        top:40px;
        bottom:0;
    
        .workspace-materials-toc-root {

          .workspace-materials-toc-item {
            list-style:none;
            margin:1px 0;
            word-wrap: break-word;
            
            &:first-child {
              margin-top:5px;
              padding-top:2px;
            }
            
            &.item-hidden {
              opacity:0.4;
            }
            
            a {
              text-decoration:none;
              color:#2c2c2c;
              display:block;
              @include rounded(2px);
              padding:2px 8px 2px 6px;
              border-left:2px solid #e8f0f5;
              position:relative;
              
              &:hover,
              &.active {
                background:#596e7d;
                color:#fff;
              }

              &.assignment {
                border-left:2px solid $evaluatedAssignment;
                
                /* Adjust link padding when assignment is "done", "evaluated-passed" or "evaluated-failed" so icons has more room */
                &.submitted,
                &.evaluated-passed,
                &.evaluated-failed {
                  padding-right:20px;
                }
                
              }
              
              &.exercise {
                border-left:2px solid $exerciseAssignment;
                
                 /* Adjust link padding when exercise is "done" so icon has more room */
                 &.submitted {
                  padding-right:20px;
                }
                
              }
              
              /* When assigment or exercise is "done", "evaluated-passed" or "evaluated-failed" */
              span.submitted,
              span.evaluated-passed,
              span.evaluated-failed {
                color:#fff;
                position:absolute;
                right:3px;
                top:5px;
                display:block;
                height:14px;
                width:14px;
                border-radius:100%;
                border:1px solid #fff;
                line-height:1;
              }
              
              /* Color and icon for "done" assignment and exercise */
              .submitted:before {
                content: "\e639";
                background:#0099ff;
                font-size:10px;
                height:10px;
                width:10px;
                padding:2px;
                border-radius:100%;
                font-family:'muikku' !important;
                speak:none;
                font-style:normal;
                font-weight:normal;
                font-variant:normal;
                text-transform:none;
                line-height:1;
                -webkit-font-smoothing:antialiased;
                -moz-osx-font-smoothing:grayscale;
                position:absolute;
                top:0;
              }
              
              /* Color and icon for "evaluated-passed" assignment */
              .evaluated-passed:before {
                content:"\f164";
                background:#1ec30c;
                font-size:10px;
                height:10px;
                width:10px;
                padding:2px;
                border-radius:100%;
                font-family:'muikku' !important;
                speak:none;
                font-style:normal;
                font-weight:normal;
                font-variant:normal;
                text-transform:none;
                line-height:1;
                -webkit-font-smoothing:antialiased;
                -moz-osx-font-smoothing:grayscale;
                position:absolute;
                top:0;
              }
              
              /* Color and icon for "evaluated-failed" assignment */
              .evaluated-failed:before {
                content:"\f165";
                background:#ea7401;
                font-size:10px;
                height:10px;
                width:10px;
                padding:2px;
                border-radius:100%;
                font-family:'muikku' !important;
                speak:none;
                font-style:normal;
                font-weight:normal;
                font-variant:normal;
                text-transform:none;
                line-height:1;
                -webkit-font-smoothing:antialiased;
                -moz-osx-font-smoothing:grayscale;
                position:absolute;
                top:0;
              }
              
            }

          }
    
          .workspace-materials-toc-section {
            margin:0;
            padding-top:5px;
            padding-bottom:10px;
            
            .workspace-materials-toc-subtitle {
              margin:0 0 5px 0;
              text-transform:uppercase;
              font-size:15px;
              padding:2px 8px;
              font-weight:400;
              
              &.subtitle-hidden {
                opacity:0.4;
              }
              
            }
            
            .workspace-materials-toc-item {
              list-style:none;
              word-wrap: break-word;
              
              &.item-hidden {
                opacity:0.4;
              }
              
              a {
                text-decoration:none;
                color:#2c2c2c;
                display:block;
                @include rounded(2px);
                padding:2px 8px;
                
                &:hover,
                &.active {
                  background:#596e7d;
                  color:#fff;
                }
                
              }
  
            }
            
          }
          
        }
        
      }
    
    }

  } 
  
  #contentWorkspaceMaterialsReading {
    max-width:695px;
    width:auto;
    margin:0 auto;
    padding-left:50px;
    
    article > h1 { /* Material's title */
      max-width:655px;
      width:auto;
      background:#fff;
      margin:30px auto -30px auto; 
      font-weight:300;
      color:#000;
      font-size:34px;
      padding:20px;
      text-transform:none;
      line-height:1.3em;
    }
    
    .workspace-materials-view-page-section.material-reading-view { /* <section> */
    
      & > h2 { /* Section's title */
        position:relative;
        z-index:12;
        max-width:655px;
        width:auto;
        background:#ddf5ff;
        margin:30px auto -30px auto; 
        font-weight:300;
        color:#000;
        font-size:30px;
        padding:10px 20px;
        text-transform:uppercase;
        line-height:1.3em;
      }
     
      & > h3, & > h4, & > h5, & > h6 { /* Alternative Section's titles */
        max-width:655px;
        width:auto;
        background:#fff;
        margin:30px auto -30px auto; 
        font-weight:300;
        color:#000;
        font-size:26px;
        padding:30px 20px 0px 20px;
        text-transform:none;
        line-height:1.3em;
        box-sizing:border-box;
      }
    
    }
  
    .workspace-materials-view-page.material-reading-view { /* <article> */
      max-width:655px;
      width:auto;
      background:#fff;
      margin:30px auto;
      box-shadow:$w-page-sc;
      padding:10px 20px;
      word-wrap: break-word;
      position:relative;
      
      &[data-binary-type="pdf"] {
        padding:0;
        
        h2 {
          padding:20px 20px 10px 20px;
        }
        
      }
      
      &.folder {
        position:relative;
        max-width:700px;
        width:auto;
        background:#fff;
        box-shadow:$w-page-sc;
        padding:30px 20px 30px 20px;
        word-wrap: break-word;
        line-height:1.3em;
        color:#38393a;
        text-transform:none;
        
        .page-content {
          font-size:27px;
          line-height:1.3em;
        }
        
      }
      
    }
    
  }
  
}

@media screen and (max-width: 479px) {

  body #workspaceMaterialsReadingTOCWrapper #workspaceMaterialsReadingTOCContainer,
  body #workspaceMaterialsReadingTOCWrapper #workspaceMaterialsReadingTOCContainer .workspace-materials-toc-content-scrolling {
    width:300px;
  }

}

@media screen and (max-width: 399px) {

  body #contentWorkspaceMaterialsReading #workspaceMaterialsReadingTOCWrapper {
    display:none;
  }
  
  body #contentWorkspaceMaterialsReading {
     padding:0;
  }

}
