@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.change-image {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  min-width: 250px;
  position: relative;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    justify-content: left;
  }
}

.change-image__container {
  align-items: center;
  background-color: $color-profile-empty-image-base;
  background-size: contain;
  display: flex;
  height: 180px;
  justify-content: center;
  position: relative;
  width: 180px;

  input {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0%;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @include breakpoint($breakpoint-pad) {
    height: 250px;
    width: 250px;
  }
}

.change-image__container--profile {
  border: solid 2px $color-form-element-border;
}

.change-image__container--workspace {
  @include breakpoint($breakpoint-pad) {
    background-position: center center;
    background-size: cover;
    height: auto;
    min-height: 196px;
    width: 100%;
  }

  @include breakpoint($breakpoint-desktop) {
    min-height: 250px;
  }

  @include breakpoint($breakpoint-desktop-xl) {
    min-height: 270px;
  }
}

.change-image__actions {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 2px;
  position: absolute;
  width: 100%;
}

.change-image__default-content {
  @include workspace-image-button;

  display: flex;
  padding: 10px;
}

.change-image__container--empty {
  &::before {
    color: $color-default;
    content: "\e114";
    font-family: "muikku";
    font-size: 65px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: 65px;
    line-height: 1;
    text-transform: none;
    width: 65px;
  }
}
