p= localeHelper.textWithParams(locale, "plugin.timednotifications.notification.requestedassessmentsupplementation.content", workspaceName)
p= localeHelper.text(locale, "plugin.timednotifications.notification.automatedmessagefooter")