if internetixStudent
  p= localeHelper.text(locale, "plugin.timednotifications.notification.studytime.content.internetix")
else
  p= localeHelper.text(locale, "plugin.timednotifications.notification.studytime.content")
p= localeHelper.text(locale, "plugin.timednotifications.notification.automatedmessagefooter")