@import "../../base/colors";
@import "../../base/mixins";

.frontpage.link {
  &.frontpage-link-language-picker {
    font-size: 14px;
    background-color: $color-frontpage-link-language-picker-background;
    color: $color-frontpage-link-language-picker-text;

    &:hover,
    &.hover {
      background-color: opacify($color-frontpage-link-language-picker-hover-background, 0.6);
      color: $color-frontpage-link-language-picker-text;
    }

    &:active,
    &.active {
      background-color: opacify($color-frontpage-link-language-picker-hover-background, 0.6);
      color: $color-frontpage-link-language-picker-text;
    }
  }
}