@import "../../base/colors";
@import "../../base/mixins";

.frontpage.logo {
  &.frontpage-logo-muikku-verkko {
    height: 90px;
    box-shadow: 0 15px 15px $color-frontpage-logo-muikku-verkko-box-shadow;
    border-radius: 90px;
    text-align: center;
    margin-bottom: 30px;

    @include breakpoint-down($breakpoint-landscape-pad){
      height: 72px;
      margin-bottom: 0;
      margin-right: 14px;
    }
  }
}