.index.item-list {
  &.index-item-list-panel-workspaces {
    .icon {
      color: $color-index-item-list-item-panel-workspaces-icon;
    }
  }
  &.index-item-list-panel-last-messages {
    .item-list-item {
      &:after {
        content:''; 
        left: 6px;
        right: 6px;
        height: 1px;
        position: absolute; 
        bottom: 0;
        border-bottom: solid 1px $color-index-item-list-item-panel-last-messages-border;
      }
    }
    .icon {
      color: $color-index-item-list-item-panel-last-messages-icon;
    }
    .item-list-item-unread .icon {
      color: $color-index-item-list-item-panel-last-messages-unread-icon;
    }
  }
  &.index-item-list-panel-announcements {
    .item-list-item {
      &:after {
        content:''; 
        left: 6px;
        right: 6px;
        height: 1px;
        position: absolute; 
        bottom: 0;
        border-bottom: solid 1px $color-index-item-list-item-panel-announcements-border;
      }
    }
    .icon {
      color: $color-index-item-list-item-panel-announcements-icon;
    }
    .item-list-item-has-workspaces .icon {
      color: $color-index-item-list-item-panel-announcements-has-workspaces-icon;
    }
  }
}