@import "../base/mixins";

* {
  @include prefix(drag, webkit ms o moz, none);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Remove this code once all the DEPRECATED elements in the html are removed
[data-deprecated="DEPRECATED"] {
  display: none;
}