/**
 * to use with elements
 * Note do not mix visible and invisible as that will produce unexpected behaviour
 * The last 3 screen modifiers are special and represent the grouping in 2 of the first 6
 * 
 * breakpoint [breakpoint action] [breakpoint rules...] [breakpoint-display]
 *
 *   *.breakpoint.breakpoint-[visible | invisible]
 *               .breakpoint-[wide-screen | medium-screen | landscape-pad | portrait-pad | medium-phone | small-phone | screen | pad | phone]
 *               (-[ | and-up | and-down ])? 			//optional
 *               .breakpoint-[ | block | inline-block | inline | flex ] 	//use these only with visible modifier
 *
 *   Examples
 *   
 *      breakpoint breakpoint-visible breakpoint-landscape-pad-and-up breakpoint-inline
 *      breakpoint breakpoint-invisible breakpoint-mobile
 *      breakpoint breakpoint-invisible breakpoint-medium-screen-and-down
 */
 
@import "../base/breakpoints";

.breakpoint.breakpoint-visible {
	display: none !important;
}
@mixin generateContent($name) {
	.breakpoint {
		&.breakpoint-visible.breakpoint-#{$name} {
			display: block !important;
			&.breakpoint-block {		
			}
			&.breakpoint-inline-block {
				display: inline-block !important;
			}
			&.breakpoint-inline {
				display: inline !important;
			}
			&.breakpoint-flex {
				display: flex !important;
			}
		}
		&.breakpoint-invisible.breakpoint-#{$name} {
			display: none !important;
		}
	}
}

@include wide-screen {
	@include generateContent(screen);
	@include generateContent(medium-and-wide-screen);
	
	@include generateContent(wide-screen-and-up);
	@include generateContent(wide-screen-and-down);
	@include generateContent(screen-and-down);
	@include generateContent(screen-and-up);
	@include generateContent(medium-screen-and-up);
	@include generateContent(landscape-pad-and-up);
	@include generateContent(portrait-pad-and-up);
	@include generateContent(pad-and-up);
	@include generateContent(medium-mobile-and-up);
	@include generateContent(small-mobile-and-up);
	@include generateContent(mobile-and-up);
}

@include medium-screen {
	@include generateContent(medium-screen);
	@include generateContent(screen);
	
	@include generateContent(wide-screen-and-down);
	@include generateContent(screen-and-down);
	@include generateContent(screen-and-up);
	@include generateContent(medium-screen-and-up);
	@include generateContent(medium-screen-and-down);
	@include generateContent(landscape-pad-and-up);
	@include generateContent(portrait-pad-and-up);
	@include generateContent(pad-and-up);
	@include generateContent(medium-mobile-and-up);
	@include generateContent(small-mobile-and-up);
	@include generateContent(mobile-and-up);
}

@include landscape-pad {
	@include generateContent(landscape-pad);
	@include generateContent(pad);
	
	@include generateContent(wide-screen-and-down);
	@include generateContent(screen-and-down);
	@include generateContent(medium-screen-and-down);
	@include generateContent(landscape-pad-and-up);
	@include generateContent(landscape-pad-and-down);
	@include generateContent(portrait-pad-and-up);
	@include generateContent(pad-and-up);
	@include generateContent(medium-mobile-and-up);
	@include generateContent(small-mobile-and-up);
	@include generateContent(mobile-and-up);
}

@include portrait-pad {
	@include generateContent(portrait-pad);
	@include generateContent(pad);
	
	@include generateContent(wide-screen-and-down);
	@include generateContent(screen-and-down);
	@include generateContent(medium-screen-and-down);
	@include generateContent(landscape-pad-and-down);
	@include generateContent(portrait-pad-and-down);
	@include generateContent(portrait-pad-and-up);
	@include generateContent(pad-and-up);
	@include generateContent(pad-and-down);
	@include generateContent(medium-mobile-and-up);
	@include generateContent(small-mobile-and-up);
	@include generateContent(mobile-and-up);
}

@include medium-mobile {
	@include generateContent(medium-mobile);
	
	@include generateContent(wide-screen-and-down);
	@include generateContent(screen-and-down);
	@include generateContent(medium-screen-and-down);
	@include generateContent(landscape-pad-and-down);
	@include generateContent(portrait-pad-and-down);
	@include generateContent(pad-and-down);
	@include generateContent(medium-mobile-and-down);
	@include generateContent(medium-mobile-and-up);
	@include generateContent(small-mobile-and-up);
	@include generateContent(mobile-and-up);
	@include generateContent(mobile-and-down);
}

@include small-mobile {
	@include generateContent(small-mobile);
	
	@include generateContent(wide-screen-and-down);
	@include generateContent(screen-and-down);
	@include generateContent(medium-screen-and-down);
	@include generateContent(landscape-pad-and-down);
	@include generateContent(portrait-pad-and-down);
	@include generateContent(pad-and-down);
	@include generateContent(medium-mobile-and-down);
	@include generateContent(small-mobile-and-up);
	@include generateContent(mobile-and-up);
	@include generateContent(mobile-and-down);
}