$datepicker-main-background-color: #ffffff !default;
$datepicker-main-color: #ffffff !default;
$datepicker-custom-color1: #ff00ff;
$datepicker-custom-color2: #00ff00;
$datepicker-background-color: #f0f0f0 !default;
$datepicker-border-color: #aeaeae !default;
$datepicker-highlighted-color: #3dcc4a !default;
$datepicker-muted-color: #cccccc !default;
$datepicker-selected-color: #216ba5 !default;
$datepicker-text-color: #000000 !default;
$datepicker-header-color: #000000 !default;
$datepicker-border-radius: 0.3rem !default;
$datepicker-day-margin: 0.166rem !default;
$datepicker-font-size: 0.8rem !default;
$datepicker-font-family: "Helvetica Neue", helvetica, arial, sans-serif !default;
$datepicker-item-size: 1.7rem !default;
$datepicker-margin: 0.4rem !default;
$datepicker-navigation-size: 0.45rem !default;
$datepicker-triangle-size: 8px !default;
