@import "../../base/vars";
@import "../../base/colors";
@import "../../base/breakpoints";
	
.muikku-math-exercise-toolbar {
  position: fixed;
  top: 0;
  height: 30%;
  overflow-y: auto;
  left: 0;
  right: 0;
  background-color: $color-math-exercise-toolbar-default-background;
  box-shadow: 0 2px 4px $color-math-exercise-toolbar-default-shadow;
  border-bottom: $color-math-exercise-toolbar-default-border;
  z-index: 9999;
  
  @include breakpoint($breakpoint-pad) {
    top: $navbar-desktop-height;
    height: auto;
  }
 
  .muikku-math-exercise-toolbar--symbols, .muikku-math-exercise-toolbar--math.muikku-math-exercise-toolbar--math-expanded {
  	padding: 0 30px 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
    position: relative;
  }
 
  .muikku-math-exercise-toolbar--math.muikku-math-exercise-toolbar--math-expanded {
    padding-top: 10px;
  }
 
  .muikku-math-exercise-toolbar--symbols-expand  {
 	position: absolute;
 	top: 20px;
 	bottom: 10px;
 	width: 25px;
 	height: 25px;
    right: 5px;
  }
 
  .muikku-math-exercise-toolbar--symbol-group-label, .muikku-math-exercise-toolbar--math-label {
    display: none;
    font-size: 12px;
    height: 20px;
    padding-bottom: 5px;
    width: 100%;
  }

  .muikku-math-exercise-toolbar--symbol-group {
    padding: 20px 20px 0 0;
    margin-right: 10px;
    position: relative;
  }
 
  .muikku-math-exercise-toolbar--symbol, .muikku-math-exercise-toolbar--math-operation {
    width: 30px;
    height: 30px;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    .muikku-math-exercise-toolbar--symbol-latex-tooltip, .muikku-math-exercise-toolbar--math-operation-tooltip {
      position: absolute;
      top: 100%;
      color: white;
      background-color: black;
      display: block;
      z-index: 99;
    }
    
    img {
      max-width: 24px;
      max-height: 25px;
    }
  }
 
  &.muikku-math-exercise-toolbar--expanded {
   @include breakpoint($breakpoint-pad) {
   	 .muikku-math-exercise-toolbar--symbols-expand {
       bottom: auto;
       top: 40px;
     }
     .muikku-math-exercise-toolbar--symbol-group-label, .muikku-math-exercise-toolbar--math-label {
       display: block;
     }
   }
  }
 
  .muikku-math-exercise-toolbar--more-math-expand {
  	width: 100%;
  	height: 30px;
  	margin-top: 10px;
  }
}

.muikku-math-exercise-field-editor {
  width: 100%;
  min-height: 50px;
  position: relative;
  border: solid 1px #DDDDDD;
  padding: 10px;
  outline: none;
  -webkit-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
  -moz-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
  -ms-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
  -o-transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
  border-radius: 3px;
  background-color: white;
  transition: box-shadow 0.30s ease-in-out, border 0.30s ease-in-out;
  
  &.focused, &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
    
    @media screen and (max-width: $breakpoint-pad) {
      height: 30%;
      border-radius: 0;
      position: fixed;
      top: 30%;
      z-index: 99;
      left: 0;
      right: 0;
      overflow-y: auto;
    }
  }
 
  img[src^="data:image/svg+xml"] {
    vertical-align: middle;
    margin: 4px;
    padding: 3px 10px;
    cursor: pointer;
    border: 1px solid transparent;
  }
 
  img {
    max-width: 100%;
    max-height: 1000px;
  }
}

.muikku-math-exercise-editor {
  display: block;
  margin: 30px;
  position: relative;
  box-shadow: 0 2px 5px #ccc;
  border: 1px solid #ccc;
}
	
.muikku-math-exercise-editor--formula-container {
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 99;
  
  .mq-editable-field {
  	padding: 5px 10px;
  	width: 100%;
  	border: none;
  }
}

.muikku-math-exercise-editor--formula-text-editor {
  min-height: 100px;
  position: relative;
}
