$color-announcement-workspace: #afe5d3;
$color-announcement-environment: #539fde ;


$color-announcement-workspace-border: $color-announcement-workspace;
$color-announcement-workspace-icon: $color-announcement-workspace;
$color-announcement-environment-border: $color-announcement-environment;
$color-announcement-environment-icon: $color-announcement-environment;
