// NAVBAR
$color-main-function-button-login-background: $color-default;
$color-main-function-button-login-text: $color-primary;
$color-main-function-label-forgot-password: $color-primary-contrast;

// GENERAL
$color-main-function-primary-function-dropdown-border: $color-tertiary;
$color-main-function-primary-function-dropdown-decoration: $color-tertiary;
$color-main-function-button-pill-settings-background: transparent;
$color-main-function-button-pill-settings-background-hover: transparent;
$color-main-function-button-pill-settings-background-active: rgb(0 0 0 / 20%);
$color-main-function-button-pill-settings-text: $color-inverse;
$color-main-function-button-pill-delete-background: $color-primary;
$color-main-function-button-pill-edit-background: $color-primary;
$color-main-function-button-pill-delete-text: $color-primary-contrast;
$color-main-function-button-pill-edit-text: $color-primary-contrast;
$color-main-function-button-pill-label-background: $color-secondary;
$color-main-function-button-pill-label-text: $color-secondary-contrast;
$color-main-function-button-pill-toggle-read-background: $color-secondary;
$color-main-function-button-pill-toggle-read-text: $color-secondary-contrast;
$color-main-function-button-pill-go-back-background: $color-tertiary;
$color-main-function-button-pill-go-back-text: $color-tertiary-contrast;
$color-main-function-button-pill-prev-page-background: $color-tertiary;
$color-main-function-button-pill-prev-page-text: $color-tertiary-contrast;
$color-main-function-button-pill-next-page-background: $color-tertiary;
$color-main-function-button-pill-next-page-text: $color-tertiary-contrast;
$color-main-function-button-pill-toolbar-edit-label-background: transparent;
$color-main-function-button-pill-toolbar-edit-label-text: rgb(0 0 0 / 50%);
$color-main-function-button-pill-toolbar-edit-label-text-hover: rgb(0 0 0 / 100%);
$color-main-function-button-pill-toolbar-edit-label-text-active: rgb(0 0 0 / 100%);
$color-main-function-button-pill-navigation-edit-label-background: transparent;
$color-main-function-button-pill-navigation-edit-label-text: rgb(0 0 0 / 50%);
$color-main-function-button-pill-navigation-edit-label-text-hover: rgb(0 0 0 / 100%);
$color-main-function-button-pill-navigation-edit-label-text-active: rgb(0 0 0 / 100%);
$color-main-function-application-list-item-disabled-text: #b9b7b7;
$color-main-function-application-list-item-disabled-background: #fbfbfb;
$color-main-function-application-list-item-open-border: #f0f0f0;
$color-main-function-application-panel-actions-border: $color-default-separator-border;
$color-main-function-application-list-item-checkbox-border: #c7c7c7;
$color-main-function-application-list-item-checkbox-checked-mark: $color-application-list-item-checkmark-selected;
$color-main-function-application-list-item-checkbox-checked-background: $color-list-selected-background;
$color-main-function-dropdown-labels-background: $color-default;
$color-main-function-dropdown-labels-border: #cccccc;
$color-main-function-dropdown-settings-background: $color-default;
$color-main-function-dropdown-settings-border: #cccccc;
$color-main-function-input-field-decoration-background: $color-primary;
$color-main-function-input-field-border: $color-tertiary;
$color-main-function-label-link-hover-background: $color-list-hover-background;
$color-main-function-label-link-active-background: $color-list-active-background;
$color-main-function-label-link-selected-background: $color-list-selected-background;
$color-search-icon: $color-default;
$color-main-function-category-1: $color-category-1;
$color-main-function-category-2: $color-category-2;
$color-main-function-category-3: $color-category-3;
$color-main-function-category-4: $color-category-4;
$color-main-function-category-5: $color-category-5;
$color-main-function-category-6: $color-category-6;
$color-main-function-category-7: $color-category-7;
$color-main-function-category-8: $color-category-8;
$color-main-function-category-9: $color-category-9;
$color-main-function-category-10: $color-category-10;
$color-main-function-item-counter-background: #c4ffd6;
