$color-message-border: $color-default-item-separator-border;
$color-message-open-header-background: #f8f8f8;
$color-message-unread-border: #e30086;
$color-message-unread-background: #f5f5f5;
$color-message-item-title-border: #87ceeb;
$color-message-area-category-1: $color-category-1;
$color-message-area-category-2: $color-category-2;
$color-message-area-category-3: $color-category-3;
$color-message-area-category-4: $color-category-4;
$color-message-area-category-5: $color-category-5;
$color-message-area-category-6: $color-category-6;
$color-message-area-category-7: $color-category-7;
$color-message-area-category-8: $color-category-8;
$color-message-area-category-9: $color-category-9;
$color-message-area-category-10: $color-category-10;
