$color-sub-panel-data-1-background: #d2f4d5;
$color-sub-panel-data-2-background: #4d4d4d;
$color-sub-panel-card-1-background: #f6fff2;
$color-sub-panel-card-1-font-color: #75ce41;
$color-sub-panel-card-2-background: #f3fbff;
$color-sub-panel-card-2-font-color: #82c2e7;
$color-sub-panel-card-3-background: #faf0fa;
$color-sub-panel-card-3-font-color: #dc62d8;
$color-sub-panel-status-incomplete-background-color: #de6c6a;
$color-sub-panel-status-complete-background-color: #f6fff2;
$color-sub-panel-summarizer-background-color: #ebf8fc;
$color-sub-panel-summarizer-false-font-color: #fff;
$color-sub-panel-summarizer-false-background-color: #f76868;
$color-sub-panel-summarizer-true-background-color: #2ed31c;