// Math field
$color-math-exercise-toolbar-default-background: white;
$color-math-exercise-toolbar-default-shadow: rgba(0,0,0,.25);
$color-math-exercise-toolbar-default-border: #ccc;

// Generic
$taskfield-border-color: #5ed2ff;
