//VOPS (fix these colors) 

$color-vops-item-base: #ccc;
$color-vops-item-incomplete: orange;
$color-vops-item-planned: blue;
$color-vops-item-passed: green;
$color-vops-item-enrolled: blue;
$color-vops-item-failed: #4c4c4c;
$color-vops-legend-background: #fbfbfb;
