// VOPS (fix these colors)

$color-vops-item-base: #e3e3e3;
$color-vops-item-incomplete: $color-grade-incomplete;
$color-vops-item-planned: #009fe3;
$color-vops-item-passed: $color-grade-passed;
$color-vops-item-enrolled: #009fe3;
$color-vops-item-failed: $color-grade-failed;
$color-vops-legend-background: #fbfbfb;
