$color-application-dialog-background-color: #fefcfe;
$color-application-alt-dialog-background-color: #f8f8f8;
$color-application-dialog-border-color: #e464dc;
$color-application-dialog-header-background-color: $color-default;
