$color-sub-panel-data-1-background: #d2f4d5;
$color-sub-panel-data-2-background: #4d4d4d;
$color-sub-panel-card-1-background: #f6fff2;
$color-sub-panel-card-1-font: #75ce41;
$color-sub-panel-card-2-background: #f3fbff;
$color-sub-panel-card-2-font: #82c2e7;
$color-sub-panel-card-3-background: #faf0fa;
$color-sub-panel-card-3-font: #dc62d8;
$color-sub-panel-status-incomplete-border: #f76868;
$color-sub-panel-status-complete-border: #2ed31c;
$color-sub-panel-summarizer-false-font: #ffffff;
$color-sub-panel-summarizer-true-font: #ffffff;
$color-sub-panel-summarizer-false-background: #f76868;
$color-sub-panel-summarizer-true-background: #2ed31c;
$color-sub-panel-summary-highlight-font: #c2c2c2;
$color-sub-panel-summary-highlight-total-font: #000000;
$color-sub-panel-summary-highlight-undone-font: #82c2e7;
$color-sub-panel-highlight-done-background: #75ce41;
