.communicator.application-panel {
  height: 100%;
  
  .communicator-navigation {
  	width: 100%;
  }
  
  .communicator-actions {
    user-select: none;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
    .communicator-actions-main {
      flex: 1 1 auto;
    }
    .communicator-actions-aside {
      display: flex;
      justify-content: flex-end;
    }
  }
}