.communicator.link {
  &.communicator-link-label {
    justify-content: flex-start;
    text-transform: none;
    
    &.selected {
      background-color: $color-communicator-link-label-active-background;
    }
    
    &.semi-selected {
      background-color: lighten($color-communicator-link-label-active-background, 50%);
    }
  }
}