@import "_jsf.scss";

/* COLORS */
$contextualLink:#0099ff;
$contextualLinkHover:#006ab1; 

$exerciseAssignment:#ff9900;
$evaluatedAssignment:#ce01bd;

$exerciseCorrectAnswersAlways:#62eba9;
$exerciseCorrectAnswersNever:#da4a51;
$exerciseCorrectAnswersOnRequest:#62c3eb;

/* Category - colors */

$category1 : #0099ff;
$category2 : #ff9900;
$category3 : #ff008d;
$category4 : #0bf0f2;
$category5 : #f00bf2;
$category6 : #47ccae;
$category7 : #7082b0;
$category8 : #6eb5cf;
$category9 : #ff0000;
$category10 : #0cff00;
$category11 : #000000;

/* Fonts */

/* $header:#ff7800; */
$header:#2c2c2c;
$title:#000;
$subTitle:#4e4e4e;
$link:#0099ff;
$formTitle: #5b5b5b;

$light: #f9f9f9;
$dim : #eee;
$dimmer : #dadada;
$dimmest : #cecece;
  


/* Shadow */
$sc: rgba(218,218,218,1);

/* Border */
$brd:#dadada;
$brd1:#ededed;
$brd2:#dadada;
$brd3:#eee;
$brd-top:#9bbee6;

/* Paddings */
$textContentPadding:15px;

/* Margins */



/* Generic background */
$bgr: #fff;
$bgr1 : #ededed;
$bgr2 : #dadada;
$bgr3 : #eee;
$bgr4 : #f9f9f9;

/* Action area background */
$aBgr:#f8f8f8;

/* Dyn Navi background */
$dNavBgr:#b7d8eb;

/* Static Navi */
$sNavBgr:#216aa1;
$sNavBgrScrll:#2c9fcc;
$sNavBrdT:#71c3e1;
$sNavBrdB:#ebf7ff;

/* Bottom bar */
$btBarBgr:#c4e3f8;

/* sub-Action area background */
$saBgr : #e3eaf2;

/* toolbar background */
$tBgr : #ffda8b;

/* highlighted background */
$hlBgr: #fff8c1;

/* mainFunctions */
$mainFuncSideHeader : #aed4e3;
$mainFuncFilter1 : #32acf6;
$mainFuncFilter2 : #f90ae3;
$mainFuncFilter3 : #5dc005;

/* Generic gradients (Grayscale) */

/* Widgets */
$w-sc: 0 0 15px rgba(216, 230, 235, 0.2);
$w-bgr:#fff;
$w-brd: #f0f0f0;
$w-tbgr:#596e7d;

/* Workspace REading View Page */
$w-page-sc: 0 15px 15px rgba(105, 108, 128, 0.3);

/* Forms */
$btnGr:#bfd255, #8eb92a, #72aa00 , #9ecb2d;
$btnBrd: #72aa00;
$btnBrdH: #fff;

/* Top-bottom 2 - color */
$gradient-start:#fff;
$gradient-end:#e5e5e5;

/* Top-bottom 2 - color - light  (start-end-bgr) */
$lightGr:#fff,#f8f8f8,#fff;

/* Top-bottom 4 - color */
$fourColorGr-1:#f9f9f9;
$fourColorGr-2:#fcfcfc;
$fourColorGr-3:#f4f4f4;
$fourColorGr-4:#f7f7f7;

/* MainFunction content */
$mainFuncContent: #f0f3f4;

/* MainFunction sidebar */
$mainFuncSide: #f1f8fb;

/* MainFunction content functions */
$mainFuncCf: #f5fcff;

/* MainFunction buttonArea */
$mainFuncSb: #ebf6fb;

/* MainFunction Button */
$mainFuncBtnGr: #feccb1,#f17432,#ea5507,#fb955e;  
$mainFuncBtnBrd: #ea5507;
  
/* Header top-bottom */
$headerGradient-start:#deefff;
$headerGradient-end:#98bede;
		
/* Content interaction top-bottom 4-color */
$contInteractGr:#e0f3fa,#d8f0fc,#b8e2f6,#b6dffd;
	
/* Communicator */

/* Gradients */
$newsGr: #ffffff , #c1cbff;
$msgGr: #ffffff , #c1cbff;
$reqGr: #ffffff , #c1cbff;

/* Borders */
$newsBrd:#ff7e16;
$msgBrd:#495aff;
$reqBrd:#d016ff;
$naviDynamicColor:#FF6633;

/* Coursepicker */

/* LineColors */
$lukio:#a4ebff;
$peruskoulu:#4ad3a1;
$ammatillinen:#d3c44a;
$paja:#c14ad3;
$ilmio:#d34a67;
$ryhmakurssi:#744ad3;

/* Font sizes */
$text: 12px;

/* Transition durations */

/* Generic Mixins */

@mixin textOverflow{
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  
}


@mixin contentMeta($fStyle:normal,$fColor:#4c4c4c) {
  font-style:$fStyle;
  color:$fColor;
}

@mixin no-select {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Borders */
@mixin border($bwidth:1px,$bcolor:$brd,$btype:solid) {
  border: $bwidth $btype $bcolor;
}

/* Paddings */
@mixin padding($pdn:$textContentPadding){
	padding:$pdn;
}

/* Margins */


/* Corners */
@mixin rounded($radius:5px) {
 border-radius: $radius; 
}

@mixin rounded-top-left($radius:5px) {
 border-top-left-radius: $radius; 
}

@mixin rounded-top-right($radius:5px) {
 border-top-right-radius: $radius; 
}

@mixin rounded-bottom-left($radius:5px) {
 border-bottom-left-radius: $radius; 
}

@mixin rounded-bottom-right($radius:5px) {
 border-bottom-right-radius: $radius; 
}

@mixin border-all() { 
	
}

@mixin fadeRight(){
background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(99%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); 
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); 
background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); 
background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%); 
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
  
}

@mixin buttonLedGr($col1,$col2,$col3,$col4,$prcCol2,$prcCol3) {
  background: $col1;
  background: -moz-radial-gradient(center, ellipse cover, $col1 0%, $col2 $prcCol2, $col3 $prcCol3, $col4 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$col1), color-stop($prcCol2,$col2), color-stop($prcCol3,$col3), color-stop(100%,$col4));
  background: -webkit-radial-gradient(center, ellipse cover, $col1 0%,$col2 $prcCol2,$col3 $prcCol3,$col4 100%);
  background: -o-radial-gradient(center, ellipse cover, $col1 0%,$col2 $prcCol2,$col3 $prcCol3,$col4 100%);
  background: -ms-radial-gradient(center, ellipse cover, $col1 0%,$col2 $prcCol2,$col3 $prcCol3,$col4 100%);
  background: radial-gradient(ellipse at center, $col1 0%,$col2 $prcCol2,$col3 $prcCol3,$col4 100%);
}

@mixin buttonLedSh($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
  
@mixin fontShadow() {
  text-shadow: 1px 1px 3px rgba(150, 150, 150, 0.37);
}

@mixin buttonFontShadow() {
  text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

@mixin buttonShadow() {
  box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}

@mixin dropDownElementShadow($shadow:0 12px 30px rgba(0,0,0,0.14)) {
  box-shadow: $shadow; 
}

@mixin shadow($s:$sc) {
  -webkit-box-shadow: 1px 1px 2px 1px $s;
  box-shadow: 1px 1px 2px 1px $s; 
}

@mixin formElementFocusShadow($s:$sc) {
  -webkit-box-shadow: 0 0 8px $s;
  box-shadow: 0 0 8px $s; 
}

@mixin iShadow($s:$sc) {
  -webkit-box-shadow: inset 1px 1px 1px 1px $s;
  box-shadow: inset 1px 1px 1px 1px  $s; 
}

@mixin fadetoAlpha-top-bottom($fadeColor1:rgba(255,255,255,1),$fadeColor2:rgba(255,255,255,1),$fadeColor3:rgba(255,255,255,0)) {
  background: #fff;
  background: -moz-linear-gradient(top, $fadeColor1 0%, $fadeColor2 50%, $fadeColor3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$fadeColor1), color-stop(50%,$fadeColor2), color-stop(100%,$fadeColor3));
  background: -webkit-linear-gradient(top, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
  background: -o-linear-gradient(top, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
  background: -ms-linear-gradient(top, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
  background: linear-gradient(to bottom, $fadeColor1 0%,$fadeColor2 50%,$fadeColor3 100%);
}

@mixin gradient-top-bottom($bgColorStart:$gradient-start, $bgColorEnd:$gradient-end,$bgr:$gradient-start) {
  background: $bgr; 
  background: -moz-linear-gradient(top, $bgColorStart 0%,  $bgColorEnd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bgColorStart), color-stop(100%,$bgColorEnd));
  background: -webkit-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: -o-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: -ms-linear-gradient(top, $bgColorStart 0%,$bgColorEnd 100%);
  background: linear-gradient(to bottom, $bgColorStart 0%,$bgColorEnd 100%);
}

@mixin gradient-top-bottom-four($gr1:$fourColorGr-1,$gr2:$fourColorGr-2,$gr3:$fourColorGr-3,$gr4:$fourColorGr-4,$bgr:$fourColorGr-1) {
  background: $bgr;
  background: -moz-linear-gradient(top, $gr1 0%, $gr2 50%, $gr3 51%, $gr4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gr1), color-stop(50%,$gr2), color-stop(51%,$gr3), color-stop(100%,$gr4));
  background: -webkit-linear-gradient(top, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
  background: -o-linear-gradient(top, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
  background: -ms-linear-gradient(top, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
  background: linear-gradient(to bottom, $gr1 0%,$gr2 50%,$gr3 51%,$gr4 100%);
}

/* Specific mixins */

/* Content interaction*/

/* Mainfunctions */

@mixin mf-transition($attr:background-color,$time:1s,$trans:ease-in){
  
    -webkit-transition: $attr $time $trans;
       -moz-transition: $attr $time $trans;
        -ms-transition: $attr $time $trans;
         -o-transition: $attr $time $trans;
            transition: $attr $time $trans;
  
}

/* Static navigation */
@mixin iconShadow($col:rgba(47,100,129,0.7)) {
 text-shadow: 0 0 15px $col; 
}

@mixin naviIcon() {
  background-position:center;
  background-repeat:no-repeat;
  height:20px;
  width:20px;
  margin:10px 5px 0 5px;
  float:left;  
  background-size:100%;  
}

@mixin customIcon($height:20px,$width:20px) {
  height:$height;
  width:$width;  
  background-repeat:no-repeat;
  background-position:center;
  background-size:100%;
}

/* Dynamic Navigation */
@mixin dynNaviGr($gr1,$gr2) {
  box-shadow: 5px 10px 6px -2px #ededed;
  background-repeat: no-repeat;
  background-position:center right;
  background: no-repeat center right #b8bac6;
  background: -moz-linear-gradient(top, $gr1 0%, $gr2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$gr1), color-stop(100%,$gr2));
  background: -webkit-linear-gradient(top, $gr1 0%,$gr2 100%);
  background: -o-linear-gradient(top, $gr1 0%,$gr2 100%);
  background: -ms-linear-gradient(top, $gr1 0%,$gr2 100%);
  background: linear-gradient(to bottom, $gr1 0%,$gr2 100%); 
}

@mixin dynNaviTransition($trd1:0.6s,$trd2:0.6s,$trd3:0.1s,$trd4:0.1s,$pr1:opacity,$pr2:visibility,$pr3:margin,$tf1:ease-in-out,$tf2:ease-in-out,$tf3:ease-in-out,$tf4:ease-in-out) {
  -webkit-transition-property:$pr1,$pr2,$pr3; 
  -webkit-transition-duration:$trd1,$trd2,$trd3; 
  -webkit-transition-timing-function:$tf1,$tf2,$tf3; 
  -moz-transition-property:$pr1,$pr2,$pr3;
  -moz-transition-duration:$trd1,$trd2, $trd3; 
  -moz-transition-timing-function:$tf1,$tf2,$tf3; 
  -o-transition-property:$pr1,$pr2,$pr3;
  -o-transition-duration:$trd1,$trd2,$trd3; 
  -o-transition-timing-function:$tf1,$tf2,$tf3; 
  transition-property:$pr1,$pr2,$pr3;
  transition-duration:$trd1,$trd2,$trd3; 
  transition-timing-function: $tf1,$tf2,$tf3; ;  
}

/* Main Navigation Tooltip Transitions */
@mixin tooltipTransition($trd1,$trd2,$trd3,$trd4,$pr1:opacity,$pr2:visibility,$pr3:margin-left,$pr4:margin-top,$tf1:ease-in-out,$tf2:ease-in-out,$tf3:ease-in-out,$tf4:ease-in-out) {
  $trd1:0.1s;
  $trd2:0.1s;
  $trd3:0.1s;
  $trd4:0.1s;
  -webkit-transition-property:$pr1,$pr2,$pr3,$pr4; 
  -webkit-transition-duration:$trd1,$trd2,$trd3,$trd4; 
  -webkit-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
  -moz-transition-property:$pr1,$pr2,$pr3,$pr4;
  -moz-transition-duration:$trd1,$trd2, $trd3,$trd4; 
  -moz-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
  -o-transition-property:$pr1,$pr2,$pr3,$pr4;
  -o-transition-duration:$trd1,$trd2,$trd3,$trd4; 
  -o-transition-timing-function:$tf1,$tf2,$tf3,$tf4; 
  transition-property:$pr1,$pr2,$pr3,$pr4;
  transition-duration:$trd1,$trd2,$trd3,$trd4; 
  transition-timing-function: $tf1,$tf2,$tf3,$tf4; 
}

/* Workspace Navigation Tooltip Transitions */
@mixin workspaceTooltipTransition($pr1,$trd1,$tf1) {
  -webkit-transition-property:$pr1;
  -webkit-transition-duration:$trd1;
  -webkit-transition-timing-function:$tf1;
  -moz-transition-property:$pr1;
  -moz-transition-duration:$trd1;
  -moz-transition-timing-function:$tf1;
  -o-transition-property:$pr1;
  -o-transition-duration:$trd1;
  -o-transition-timing-function:$tf1; 
  transition-property:$pr1;
  transition-duration:$trd1;
  transition-timing-function: $tf1;
}

/* Widget Action Menu Transitions */
@mixin widgetActionMenuTransition($pr1,$trd1,$tf1) {
  -webkit-transition-property:$pr1;
  -webkit-transition-duration:$trd1;
  -webkit-transition-timing-function:$tf1;
  -moz-transition-property:$pr1;
  -moz-transition-duration:$trd1;
  -moz-transition-timing-function:$tf1;
  -o-transition-property:$pr1;
  -o-transition-duration:$trd1;
  -o-transition-timing-function:$tf1; 
  transition-property:$pr1;
  transition-duration:$trd1;
  transition-timing-function: $tf1;
}

/* Widget Action Menu Transitions */
@mixin genericMenuLinkHoverTransition($pr1,$trd1,$tf1) {
  -webkit-transition-property:$pr1;
  -webkit-transition-duration:$trd1;
  -webkit-transition-timing-function:$tf1;
  -moz-transition-property:$pr1;
  -moz-transition-duration:$trd1;
  -moz-transition-timing-function:$tf1;
  -o-transition-property:$pr1;
  -o-transition-duration:$trd1;
  -o-transition-timing-function:$tf1; 
  transition-property:$pr1; 
  transition-duration:$trd1;
  transition-timing-function: $tf1;
} 

/* Widget Action Menu Transitions */
@mixin widgetActionMenuItemTransition() {
  -webkit-transition-property:background,color;
  -webkit-transition-duration:0.1s;
  -webkit-transition-timing-function:ease-in;
  -moz-transition-property:background,color;
  -moz-transition-duration:0.1s;
  -moz-transition-timing-function:ease-in;
  -o-transition-property:background,color;
  -o-transition-duration:0.1s;
  -o-transition-timing-function:ease-in;
  transition-property:background,color;
  transition-duration:0.1s;
  transition-timing-function:ease-in;
}

@mixin tooltipBackGround( $bgColorStart, $bgColorEnd) {
  background: $bgColorStart; 
  background: -moz-linear-gradient(top, $bgColorStart 0%, $bgColorEnd 100%); 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$bgColorStart), color-stop(100%,$bgColorEnd));
} 
 
@mixin transitionDirection($val1:0,$val2:0,$val3:0,$val4:0) {
  margin:$val1 $val2 $val3 $val4;
}

@mixin flexbox() {
  display:-webkit-box; 
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;
}

@mixin flex-grow($value) {
  -webkit-flex-grow:$value;
  -moz-flex-grow:$value;
  -ms-flex-grow:$value;
  flex-grow:$value;
}

@mixin flex-shrink($value) {
  -webkit-flex-shrink:$value;
  -moz-flex-shrink:$value;
  -ms-flex-shrink:$value;
  flex-shrink:$value;
}

@mixin flex-basis($value) {
  -webkit-flex-basis:$value;
  -moz-flex-basis:$value;
  -ms-flex-basis:$value;
  flex-basis:$value;
}

@mixin flex($values) {
  -webkit-box-flex:$values;
  -moz-box-flex:$values;
  -webkit-flex:$values;
  -ms-flex:$values;
  flex:$values;
}

@mixin generic-loader($size) {
  -webkit-animation:generic-loader 1.0s infinite linear;
  -moz-animation:generic-loader 1.0s infinite linear;
  animation:generic-loader 1.0s infinite linear;
  content: "\e900";
  font-family: 'muikku' !important;
  speak:none;
  font-style:normal;
  font-weight:normal;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  height:$size;
  width:$size;
  font-size:$size;
  color:#7ed9ff;
}