/* Fake buttons */

.bt-generic {
  text-transform:uppercase;
  border-radius:3px;
  display:inline-block;
  padding:11px 12px;
  line-height:1.5em;
  color:#ffffff;
  cursor:pointer;
  @include buttonFontShadow;
  @include buttonShadow;
  
  &.bt-login {
    background-color:#52b050;
    border:1px solid #73c071;
    font-size:1.1em;
    background: rgb(107,187,105);
    @include gradient-top-bottom(rgba(107,187,105,1),rgba(76,163,74,1),#52b050);
  }
   
  &.bt-login-active {
    background-color:#52b050;
    border:1px solid #73c071;
    font-size:1.1em;
    background: rgb(107,187,105);
    @include gradient-top-bottom(rgba(76,163,74,1),rgba(107,187,105,1),#52b050);
  }

}

.bt-mainFunction {
  text-transform:uppercase;
  border-radius:3px;
  display:inline-block;
  line-height:1.3em;
  color:#ffffff;
  cursor:pointer;
  @include buttonFontShadow;
  @include buttonShadow;	
  background-color:#ed8e00;
  border:1px solid #d9e4e8;
  font-size:1em;
  background: rgb(237,142,0);
  @include gradient-top-bottom(rgba(253,167,38,1),rgba(237,142,0,1),#ed8e00);
  
  span{
    &:first-child{
      display:inline-block;
      padding:12px;
      &.bt-mainFunction-dropdown-label{
        width:109px;      
      }  
    }
    &.bt-mainFunction-dropdown-chevron{
      border-left:1px solid #f6c06d;
      display:inline-block;
      float:right;
      padding:4px 4px 3px 4px;
      font-size:2.45em;      
    
    }

  }


  &.bt-mainFunction-active {
    @include gradient-top-bottom(rgba(237,142,0,1),rgba(253,167,38,1),#ed8e00);
  }
}


/* TODO: Remove from the coursepicker */

.bt-mainFunction-decoration{
    border-left:1px solid #f6c06d;
    display:inline-block;
    float:right;
    padding:4px 4px 3px 4px;
    font-size:2.45em;
  }

/* Button text content styles and icons */




/* Real buttons */

input[type="button"],
input[type="submit"],
input[type="reset"] {
	  text-transform:uppercase;
    border-radius:3px;
    display:inline-block;
    padding:8px 12px;
    line-height:0.5em;
    font-size:0.7em;
    color:#000;
    cursor:pointer;
    
  &:disabled{
   color:#dadada;
   
  }  
    
  &:not(:first-child){
   margin-left:5px;    
  }  
  
  &.bt-coursepicker{
   margin-left:10px;
  }
	
  &.bt-generic {
    text-transform:uppercase;
    border-radius:3px;
    display:inline-block;
    padding:8px 12px;
    line-height:1.5em;
    color:#ffffff;
    cursor:pointer;
    @include buttonFontShadow;
    @include buttonShadow;
    
    &.bt-login {
      background-color:#52b050;
      border:1px solid #73c071;
      font-size:1.1em;
      background: rgb(107,187,105);
      @include gradient-top-bottom(rgba(107,187,105,1),rgba(76,163,74,1),#52b050);
    }
    
    &.bt-modal {
      background-color:#52b050;
      border:1px solid #73c071;
      font-size:1.1em;
      background: rgb(107,187,105);
      @include gradient-top-bottom(rgba(107,187,105,1),rgba(76,163,74,1),#52b050);
    }

  }

}

