/* Fake buttons */

.bt-generic {
  text-transform:uppercase;
  border-radius:3px;
  display:inline-block;
  line-height:1.5em;
  color:#ffffff;
  cursor:pointer;
  @include buttonFontShadow;
  
  &.bt-login {
    border-radius:0;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    background-color:#52b050;
    border-top:1px solid #73c071;
    border-left:1px solid #73c071;
    border-bottom:1px solid #73c071;
    font-size:1.1em;
    background: rgb(107,187,105);
    @include gradient-top-bottom(rgba(107,187,105,1),rgba(76,163,74,1),#52b050);
    position:relative;
    
    &:before {
      position:absolute;
      top:12px;
      left:12px;
      z-index:1;
    }
    
    a {
      color:#fff;
      position:relative;
      padding:11px 12px 11px 28px;
      display:inline-block;
      z-index:2;
    }
    
  }
  
  &.bt-forgotpassword {
    border-radius:0;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    background-color:#3c9e3a;
    border-top:1px solid #73c071;
    border-right:1px solid #73c071;
    border-bottom:1px solid #73c071; 
    font-size:1.5em;
    line-height:1.53em;
    position:relative;
    float:right;
    padding:7px;
    @include gradient-top-bottom(rgba(96,178,94,1),rgba(57,142,55,1),#52b050);
    
    &:hover {

    }

    > div {
      color:#fff;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      overflow:hidden;
      cursor:pointer;
      
      span {
        display:inline-block;
        border-radius:0;
        border-top-left-radius:3px;
        border-bottom-left-radius:3px;
        background-color:#397db0;
        border-top:1px solid #73c071;
        border-left:1px solid #73c071;
        border-bottom:1px solid #73c071; 
        @include gradient-top-bottom(rgba(96,178,94,1),rgba(57,142,55,1),#52b050);
        top:-1px;
        right:35px;
        bottom:-1px;
        position:absolute;
        padding:7px 0px 7px 7px;
        color:#fff;
        white-space:nowrap;
        font-size:15px;
        transition:opacity 0.3s ease-in-out;
        opacity:0;
        z-index:99;
      }
      
      &:hover {
        overflow:visible;
      
        span {
          opacity:1;
        }
      
      }
    }
    
  }

}

.bt-mainFunction {
  text-transform:uppercase;
  border-radius:3px;
  display:inline-block;
  line-height:1.3em;
  color:#ffffff;
  cursor:pointer;
  @include buttonFontShadow;
  @include buttonShadow;	
  background-color:#ed8e00;
  border:1px solid #d9e4e8;
  font-size:1em;
  background: rgb(237,142,0);
  @include gradient-top-bottom(rgba(253,167,38,1),rgba(237,142,0,1),#ed8e00);
  
  span{
    &:first-child{
      display:inline-block;
      padding:12px;
      white-space:nowrap;
      &.bt-mainFunction-dropdown-label{
        width:109px;      
      }  
    }
    &.bt-mainFunction-dropdown-chevron{
      border-left:1px solid #f6c06d;
      display:inline-block;
      float:right;
      padding:4px 4px 3px 4px;
      font-size:2.45em;      
    
    }

  }


  &.bt-mainFunction-active {
    @include gradient-top-bottom(rgba(237,142,0,1),rgba(253,167,38,1),#ed8e00);
  }
}


/* TODO: Remove from the coursepicker */

.bt-mainFunction-decoration{
    border-left:1px solid #f6c06d;
    display:inline-block;
    float:right;
    padding:4px 4px 3px 4px;
    font-size:2.45em;
  }

/* Button text content styles and icons */




/* Real buttons */

input[type="button"],
input[type="submit"],
input[type="reset"] {
	  text-transform:uppercase;
    border-radius:3px;
    display:inline-block;
    padding:8px 12px;
    line-height:0.5em;
    font-size:0.7em;
    color:#000;
    cursor:pointer;
    
  &:disabled{
   color:#dadada;
   
  }  
    
  &:not(:first-child){
   margin-left:5px;    
  }  
  
  &.bt-coursepicker{
   margin-left:10px;
  }
	
  &.bt-generic {
    text-transform:uppercase;
    border-radius:3px;
    display:inline-block;
    padding:8px 12px;
    line-height:1.5em;
    color:#ffffff;
    cursor:pointer;
    @include buttonFontShadow;
    @include buttonShadow;
    
    &.bt-login {
      background-color:#52b050;
      border:1px solid #73c071;
      font-size:1.1em;
      background: rgb(107,187,105);
      @include gradient-top-bottom(rgba(107,187,105,1),rgba(76,163,74,1),#52b050);
    }
    
    &.bt-modal {
      background-color:#52b050;
      border:1px solid #73c071;
      font-size:1.1em;
      background: rgb(107,187,105);
      @include gradient-top-bottom(rgba(107,187,105,1),rgba(76,163,74,1),#52b050);
    }

  }

}

