/* common (.co*) 
Idea is to have these styles shared amongst all possible functionalities
To be used through SASS's extend feature with CSS's selectors.

  */
@import "_base.scss"; 

/* Pseudo styles */

div[class*='header']{
	 color:$header;
}


.co-mainFunction-side{
 background-color:$mainFuncSide;
}

.co-mainFunction-sub-header{
 background-color: $mainFuncSideHeader;
 text-align:center;
}

.co-mainFunction-side-button{
 background-color:$mainFuncSb; 
}

.co-mainFunction-content-main{
 background-color:$mainFuncContent; 
}

.co-mainFunction-content-functions{
 background-color:$mainFuncCf; 
}

.co-user-picture{
	@include background-image('gfx/default-user-picture.jpg');
	background-size:100%;
	border: 2px solid #fff;
  border-radius: 40px;
  box-shadow: 0 0 0 2px #00deff;
  margin: 2px;
 }

.co-input-textfield,
.co-textarea {
  @include border(1px,$brd1,solid);   
  color:#606060;
  background-color:#fff; 
}

.co-input-textfield-hover,
.co-textarea-hover {
  @include border(1px,$brd1,solid);   
  color:#000;
  background-color:#fff; 
}

.co-input-textfield-focus,
.co-textarea-focus {
  @include border(1px,$header,solid); 
  color:#000;
  background-color:#fff; 
}

.co-input-textfield-blur,
.co-textarea-blur {
  @include border(1px,$brd2,solid);
  color:#606060;
  background-color:#fff; 
}

.co-input-textfield-blur-hover,
.co-textarea-blur-hover {
	@include border(1px,$brd1,solid);
  color:#000;
  background-color:#fff; 
}

.co-input-textfield-blur-focus,
.co-textarea-blur-focus {
  @include border(1px,$header,solid); 
  color:#000;
  background-color:#fff;
}

.co-buttonContainer {
  text-align:center;
  @include rounded(10px);
  background-color:$aBgr;
}

.co-menuContainer {
  margin-top:5px; 
}

.co-description {
  background-color:#fff;  
  color:#9f9f9f;
}

.co-toolbar {
  @include rounded(4px);  
  @include gradient-top-bottom($lightGr...);
}

.co-backLink {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/navigate-back.png'); 
}

.co-content {
  @include rounded(4px);  
  background-color:$aBgr;
  margin-top:5px;
}

.co-content-th {
  border:1px solid $brd;
  padding:5px;
  font-weight:bold;
  @include gradient-top-bottom; 
}

.co-content-tbody {
  background-color:$bgr;
  border:1px solid $brd;  
}

.co-content-tr {}

.co-content-td {
  padding:0 0 0 5px;     
}

.co-content-tfoot {
  border:1px solid $brd;
  font-weight:bold;
  @include gradient-top-bottom;   
}

.co-settings-floater {
  display:none;
  @include rounded(2px);  
  background-color:$aBgr;
}

.co-listItem{
  box-shadow:$w-sc;
  background-color:#fff;
}

.co-eventItem{
  background-color:$bgr1;
}

.co-widget {
  box-shadow:$w-sc;
  background:$w-bgr;
  min-height:3em;
}
.co-item-count{
  font-weight:600;
  float:right;
  width:25px;
  background-color:$hlBgr;
  text-align:center;
  margin-left:10px;
  
}

/* Forms 

.co-buttonContainer input {
  font-family: Verdana, sans-serif;
  font-size: 1.3em;
  color: #fff;
  padding: 5px 10px 5px 10px;
  @include gradient-top-bottom-four($mainFuncBtnGr...);
  @include rounded(2px);
  @include shadow;
  @include border(1px,$mainFuncBtnBrd,solid); 
}

.co-buttonContainer input:hover, input[type="button"]:hover, input[type="submit"]:hover {
  @include border(1px,$btnBrdH,solid);
}

.co-buttonContainer input:active, input[type="button"]:active, input[type="submit"]:active {
  @include iShadow; 
}
*/
.co-formTitle {
  @include gradient-top-bottom;
  @include rounded(4px);
  @include shadow;
  @include border(1px);
  padding:5px;
  font-size:1.5em;
}

.co-formContent {
  margin-top:5px;
  padding:5px;
  font-size:1.3em;
}

.co-fieldRow {
  margin-top:2px;
}
  
.co-labelfield {
  float:left;
  font-weight:bold;
}

.co-textfield {
  float:left;
  margin-left:5px;
}

.co-selectedObjects {}

.co-settings-settingForm {
  @include rounded(4px);  
  padding:5px; 
  background-color:$saBgr;
  margin-bottom:10px; 
}

.co-filter {
  @include border(1px,$brd1,solid);
  @include rounded(4px);
  @include gradient-top-bottom(#707070, #666);
  @include shadow;
  color:#fff;
}

.co-filter-remove {
  content:"X";
  cursor:pointer;
  font-weight:bold;
  margin-left:5px;
  height:15px;
  width:15px;
  text-align:center;
  @include rounded(4px);
  @include gradient-top-bottom-four($mainFuncBtnGr...);
}

/* Widgets */

.co-widget-container{}

.co-widget-header {
  @include gradient-top-bottom; 
}

.co-widget-content {}
