.muikku-connect-field-counterparts,.muikku-connect-field-gap,.muikku-connect-field-terms
	{
	display: table-cell
}

.muikku-connect-field-gap {
	width: 40px;
}

.muikku-connect-field-counterpart,.muikku-connect-field-term {
  padding:8px 21px;
	background:#e1f3ff;
	margin: 4px;
	@include rounded(3px);
/* 	white-space:nowrap; */ /* By removing this connect field looks like a potato */
	transition:background 0.3s ease-in-out;
	text-shadow: 0 0 1px #ffffff;
	
	&:hover {
	  background: #ceebff;
	}
}

.workspace-materials-reading,
.workspace-materials-management {
  
  .muikku-connect-field-counterpart,.muikku-connect-field-term {
    width:250px;
  }

}

.workspace-materials {
  
  .muikku-connect-field-counterpart,.muikku-connect-field-term {
    width:230px;
  }

}

.muikku-connect-field-term {
	text-align: right
}

.muikku-connect-field-counterpart {
	text-align: left
}