/* discussion (.di-*) */

.di-no-messages {
  min-height:400px;
  padding-top:200px;
  
  h3 {
    text-align:center;
    color:#000;
    font-size:24px;
    text-transform:none;
    font-weight:300;
  }
  
}

.di-newmessage-form-container {
  
}

.di-message-create {
   width:100%;
  
  form {
   width:100%;
  }
  
  input {
   font-size:1.1em;

    &[type="text"] {
      width:400px;
      color: #dadada;
      line-height: 30px;
      width: 400px;      

      &:focus{
       color:#000;   
      }
      
    }

  }  
  
  textarea {
    margin-left:5px;
  }
  
  .di-message-new-content {
    width:100%;
  }  
}


.di-new-area-container {
   margin:21px 0 0 10px; 
   float:left;
   border-radius:20px;
   padding:5px;
   background:#0099ff;
   
  .di-new-area-button {
    cursor:pointer;
  }
    
  div { 
    
    &:before {
     font-size:23px;
     color:#fff;
    }
    
  }
  
}

.di-browse-areas-container {
  float:left;
  margin-top:19px;
  
  select {
     min-width:200px;
     margin-left:15px;
     min-height:40px;
     
     option {
       padding:8px;
     }
  }
  
}

.di-messages-container {
   min-height:500px;
  .di-message {
    margin:5px;
    background:#fff;
    padding:10px;
   
        
    &.closed {
      height:60px;
      
      > div {
        height:60px;
      }
       .di-user-picture {
        float:left;
        height:30px;
        width:30px;
       
         
        &.default {
          @extend .co-user-picture;
        }

        
      } 
      
      .di-message-meta {
        height:60px;
        width:50%;
        box-sizing:border-box;
        overflow:hidden;
        
        div {
          text-overflow:ellipsis;
        } 
        
        .di-message-meta-topic {
          color:#0099ff;
          line-height:1.7em;
          text-transform:none;
          font-size:16px; 
          font-weight:400;
          
          span {
            margin:0 0 0 3px;
            cursor:pointer;
            
            &:hover {
              text-decoration:underline; 
            }
            
          }
          
        }
        
        .di-message-meta-content {
          font-size:14px;
          height:1.7em;
          line-height:1.7em;
          overflow:hidden;
          margin:8px 0 0 0;
          color:#000;
          font-weight:300;
          text-transform:none;
          
          span {
            margin:0 0 0 3px;
            
            p {
              margin:0;
              
              strong {
                font-weight:400;
              }
              
            }
            
          }
        
        }
      
      }
      
      .di-message-details {
        height:60px;
        width:50%;
        box-sizing:border-box;
        
        div {
          box-sizing:border-box;
          height:60px;
          float:left;
        }
        
        .di-message-area-name {
          padding:20px 0 20px 20px;
          height:60px;
          width:52%;
           
          span {
            display:block;
            font-size:14px;
            line-height:14px;
            padding:0 5px;
            margin-top:4px;
          }
          
        }
         
        .di-message-activity {
          padding:20px 0px;
          height:60px;
          color:#000;
          font-size:14px;
          width:47%;
          font-weight:300;
          
          .di-message-replies{
           @extend .co-item-count;
          }         
          
        }
 
      }

    }
    
    /* Message clicked open */
    &.open {
      position:relative;
    
      &.owner {
        border-left:5px solid $brd2; 
         
        h3 {
          color:#dadada;
        }
         
      }

      .di-user-picture {
        float:left;
        height:60px;
        width:60px;
       
         
        &.default {
          @extend .co-user-picture;
        }
         
        &.reply-recipient {
          display:inline-block;
          float:none;
          height:20px;
          width:20px;
        }
        
      }   
    
      .di-message-topic {
        padding-left:15px;
      
        h3 {
          margin:0 0 1em;
          text-transform:none;
          color:#2c2c2c;
          font-weight:300;
          font-size:22px;
        } 
      
      }
    
      .di-message-details {
      
        a.di-remove-thread-link {
          background:#de3211;
          border-radius:3px;
          display:inline-block;
          position:absolute;
          right:15px;
          top:15px;
          padding:2px 6px;
          color:#fff !important;
          cursor:pointer;
        }
      
      }
      
      .di-message-details-sender {
        height:68px;
        padding:0.01em 0 0 15px;
          
        div {
          float:left;
        }
        
        .di-message-header-content-primary {
          display:block;
          font-weight:300;
          font-size:22px;
          padding:0 0 0 80px;
          margin:5px 0 0 0;
          line-height:1em;
        }
        
        .di-message-header-content-secondary {
          display:block;
          font-weight:300;
          padding:0 0 0 80px;
          font-size:13px;
          margin:15px 0 0 0;
          line-height:1em;
        }

      }
      
      .di-message-content {
        float:none;
         
        .di-message-content-text  {
          padding:15px;
          font-weight:300;
          
          p:last-child {
            margin:10px 0 0 0;
          }
          
        }
        
        .di-message-content-tools {
          padding:15px;
        
          .di-message-content-tools-container {
          
            .di-message-tool {
              box-shadow:none;
            }
          
          }
        
        } 
        
      }

    }
  
    .di-message-info {
      cursor:default;
    }
  
  }

}

/* JQuery UI Dialog Overrides */
.ui-widget-overlay {
  background:#000;
  opacity:0.5;
}

.discussion-management-dialog {
  box-shadow:0 0 80px rgba(0,0,0,0.4);
  background:#fff;
  font-family: 'Open Sans',Verdana, sans-serif;
  font-size:16px;
  font-weight:300;
  padding:0;
  text-transform:uppercase;
  border:none;
  z-index:9999;
  
  &.ui-corner-all {
    border-radius:0px;
  }
  
  .ui-dialog-titlebar {
    border:0px;
    background:#7391a7;
    color:#fff;
    border-radius:0px;
    padding:8px 36px 8px 12px;
    font-weight:400;
    
    .ui-dialog-title {
      margin:0;
      font-size:18px;
      width:100%;
      font-weight:300;
    }
    
    .ui-dialog-titlebar-close {
      background:#7391a7;
      border-radius:0px;
      border:0px;
      width:24px;
      margin:-13px 0 0 0;
      font-size:22px;
      height:22px; Same height as font-size
      
      span {
        display:none;
      }
      
      &:before {
        content: "\e63b";
        color:#fff;
        font-size:22px;
        font-weight:normal;
        font-family: 'muikku';
        speak: none;
        font-style: normal;
        text-decoration:none;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
    }
    
  }
  
  .discussion-confirm-dialog {
    margin:10px 0 0 0;
  }
  
  .ui-dialog-buttonpane {
    border:0;
    background:transparent;
    padding:0px 10px 10px 10px;
    margin:10px 0 0 0;
    
    .ui-dialog-buttonset {
      float:none;
      position:relative;
    
      button {
        border-radius:0px;
        border:0;
        color:#fff;
        font-weight:400;
        text-transform:uppercase;
        margin:5px;
        outline:none;
        font-family:"Open Sans";
        min-width:90px;
      }

      button.delete-button,
      button.confirm-button {
        float:right;
        background:#de3211;
      }
      
      button.publish-button {
        float:right;
        background:#27b91c;
      }
      
      button.revert-button {
        float:right;
        background:#f6a930;
      }
      
      button.cancel-button {
        float:right;
        background:#7391a7;
      }
    
    }
  }
}

.di-reply{
-webkit-animation: flash 1s;
 -moz-animation: flash 1s;
   -o-animation: flash 1s;
      animation: flash 1s; 
  
}

.di-messages-paging, .di-replies-paging{
  padding:10px;
}
.di-paging-toolbar{
  text-align:center;
  
}


.di-paging-tool{
    margin-left: auto;
    margin-right: auto;
    background: #36A3CE none repeat scroll 0% 0%;
    cursor: pointer;
    padding: 6px 26px;
    display: inline-block;
    color: #FFF;
    font-size: 18px;

  
  &.disabled{
    background:$bgr1;
    color:$bgr2;
  }
}

