/* discussion (.di-*) */

.di-no-messages {
  min-height:400px;
  padding-top:200px;
  
  h3 {
    text-align:center;
    color:#000;
    font-size:24px;
    text-transform:none;
    font-weight:300;
  }
  
}

.di-message-create {
   width:100%;
  
  form {
   width:100%;
  }
  
  input {
   font-size:1.1em;

    &[type="text"] {
      width:400px;
      color: #dadada;
      line-height: 30px;
      width: 400px;      

      &:focus{
       color:#000;   
      }
      
    }

  }  
  
  textarea {
    margin-left:5px;
  }
  
  .di-message-new-content {
    width:100%;
  }  
}


.di-browse-areas-container {
  float:left;
  margin-top:19px;
  
  select {
     min-width:200px;
     margin-left:15px;
     min-height:40px;
     
     option {
       padding:8px;
     }
  }
  
}

.di-messages-container {
   min-height:500px;
  .di-message {
    margin:5px;
    background:#fff;
    padding:10px;
   
        
    &.closed {
      height:60px;
      
      > div {
        height:60px;
      }
       .di-user-picture {
        float:left;
        height:30px;
        width:30px;
       
         
        &.default {
          @extend .co-user-picture;
        }

        
      } 
      
      .di-message-meta {
        height:60px;
        width:50%;
        box-sizing:border-box;
        overflow:hidden;
        
        div {
          text-overflow:ellipsis;
        } 
        
        .di-message-meta-topic {
          color:#0099ff;
          line-height:1.7em;
          text-transform:none;
          font-size:16px; 
          font-weight:400;
          
          >span {
            margin:0 0 0 3px;
            cursor:pointer;
            
            &:hover {
              text-decoration:underline; 
            }
            
          }
          
        }
        
        .di-message-meta-content {
          font-size:14px;
          height:1.7em;
          line-height:1.7em;
          overflow:hidden;
          margin:8px 0 0 0;
          color:#000;
          font-weight:300;
          text-transform:none;
          
          span {
            margin:0 0 0 3px;
            
            p {
              margin: 0 0 0 10px;
              
              strong {
                font-weight:400;
              }
              
            }
            
          }
        
        }
      
      }
      
      .di-message-details {
        height:60px;
        width:50%;
        box-sizing:border-box;
        
        div {
          box-sizing:border-box;
          height:60px;
          float:left;
        }
        
        .di-message-area-name {
          padding:20px 0 20px 20px;
          height:60px;
          width:52%;
           
          span {
            display:block;
            font-size:14px;
            line-height:14px;
            padding:0 5px;
            margin-top:4px;
          }
          
        }
         
        .di-message-activity {
          padding:20px 0px;
          height:60px;
          color:#000;
          font-size:14px;
          width:47%;
          font-weight:300;
          
          .di-message-replies{
           @extend .co-item-count;
          }         
          
        }
 
      }

    }
    
    /* Message clicked open */
    &.open {
      position:relative;
    
      &.owner {
        border-left:5px solid $brd2; 
         
        h3 {
          color:#dadada;
        }
         
      }

      .di-user-picture {
        float:left;
        height:22px;
        width:22px;
       
         
        &.default {
          @extend .co-user-picture;
        }
         
        &.reply-recipient {
          display:inline-block;
          float:none;
          height:20px;
          width:20px;
        }
        
      }   
    
      .di-message-topic {
        h3 {
          margin:0 0 1em;
          text-transform:none;
          color:#2c2c2c;
          font-weight:300;
          font-size:22px;
        } 
      
      }
    
      .di-message-details {
      
        a.di-remove-thread-link {
          background:#de3211;
          border-radius:3px;
          display:inline-block;
          position:absolute;
          right:15px;
          top:15px;
          padding:2px 6px;
          color:#fff !important;
          cursor:pointer;
        }
      
      }
      
      .di-message-details-sender {
          
        div {
          float:left;
        }
        
        .di-message-header-content-primary {
          display: block;
          font-size: 22px;
          font-weight: 300;
          line-height: 1em;
          margin: 2px 0 0;
          padding: 0 0 0 40px;
          
          span{
          
            display:inline-block;
        
            padding-top:3px;
            &:not(:first-child){
              margin-left:5px;
              &:before{
               content: "-";
               margin-right:5px;
               color:#000;
              }
            }
          }
        }
        
        .di-message-header-content-secondary {
          display: block;
          font-size: 22px;
          font-weight: 600;
          line-height: 1em;
          margin: 17px 0 0;
          padding: 0 0 0 3px;
        }

      }
      
      .di-message-content {
        float:none;
         
        .di-message-content-text  {
          padding:3px;
          font-weight:300;
          
          p:last-child {
            margin:10px 0 0 0;
          }
          
        }
        
        .di-message-content-tools {
          padding:15px 0;
        
          .di-message-content-tools-container {
          
            .di-message-tool {
              box-shadow:none;
            }
          
          }
        
        } 
        
      }

    }
  
    .di-message-info {
      cursor:default;
    }
  
  }




}

.di-reply{
-webkit-animation: flash 1s;
 -moz-animation: flash 1s;
   -o-animation: flash 1s;
      animation: flash 1s; 
  
}

