  /* discussion (.di-*) */


.di-message-create{
  form{
   width:100%;
  }
  input{
   color:#333;
   font-size:1,5em;

    &[type="textfield"]{
      width:400px;
      color: #dadada;
      line-height: 30px;
      width: 400px;      
      
      &:focus{
       color:#000;   
      }
    }
    &[type="memofield"]{
      width:100%;
      color: #dadada;
      line-height: 30px;
      width: 400px;      
      
    }

  }  
}

.di-messages-container{
    .di-message{
    
    .di-message-meta{
      width:60%;
      border:1px solid #dadada;
      box-sizing:border-box;
    }
    .di-message-details{
      width:40%;
      border:1px solid #dadada;
      box-sizing:border-box;
      div{
       display:inline-block;
       box-sizing:border-box;
       border:1px solid #dadada;
      }
      .di-message-area{
        width:50%
        
      }
      .di-message-activity{
        width:50%
      }
    }
    }
    
  }

