/* Generic */

form * {
  outline:none; /* Lets remove form field highlights made by Chrome */
}

input[type="text"],
input[type="password"] {    
  padding: 5px;     
  @extend .co-input-textfield-blur;
  &:hover {@extend .co-input-textfield-blur-hover;}
  &:focus {
    @extend .co-input-textfield-blur-focus;
    @include formElementFocusShadow(rgba(0, 153, 255,0.4));
  }
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

input[type="color"] {
  width:40px;
  font-size:40px;
  height:38px;
  outline:none;
  cursor:pointer;
  border:0; 
}

/*
input[type="button"],
input[type="submit"],
input[type="reset"] {
  font-size: 1em;
  color: #fff;
  padding: 5px;
  @include gradient-top-bottom-four($btnGr...);
  @include rounded(5px);
  @include shadow;
  @include border(1px,$btnBrd,solid);
  margin-right:4px;
}
*/
input[type="checkbox"], 
input[type="radio"] {
  margin:0 2px 0 2px;
  &:hover {
    @include formElementFocusShadow(rgba(0, 153, 255,0.6));
  }
}

div[class*="form-container"] input{
  &:not(:first-child){margin-top:5px;}
  margin-bottom:5px;
}

textarea {
  @extend .co-input-textfield-blur;
  &:hover {@extend .co-textarea-blur-hover;}
  &:focus {
    @extend .co-textarea-blur-focus;
    @include formElementFocusShadow(rgba(0, 153, 255,0.4));
  }
  @include rounded(4px);
  width:25em; /* Default width */
  height:8em; /* Deafult height */
}

select {
 
}

div[class*='form-container']{
  width:300px;
  &.wide{
  width:100%;
  }

}

div[class*='ps-edit-container']{
	padding:10px;
}

.formLabel, label {
  margin-right:10px;
  font-weight:bold;
  padding:5px 5px 5px 0;	
  display:block;
}

.formElementRow {
  margin-bottom:5px;
  
  label {
    margin-right:10px;
  }
}

/* Login */

.credentialLoginWidget {
  
  input[type="text"] {  
    padding: 10px 8px;

    margin-bottom:10px;
    @include border(1px,solid,#50a850);     
    @extend .co-input-textfield;
      &:hover {
        @extend .co-input-textfield-hover;
      }
      &:focus {
        @extend .co-input-textfield-focus;
      }
  }
  
  input[type="password"] {
    padding: 10px 8px;
    margin-bottom:10px;
    width:100%;   
    @include border(1px,solid,#50a850);    
    @extend .co-input-textfield;
      &:hover {
        @extend .co-input-textfield-hover;
      }
      &:focus {
      @extend .co-input-textfield-focus;
      @include formElementFocusShadow(rgba(0, 153, 255,0.4));
    }
  }
}



/* Seeker */

#seeker, .search{
  &:focus {
    border:1px solid #fff !important;
  }
  padding:9px;
  @include rounded(5px);
  outline:none !important;
  color:#4a4a4a;

}

/* Calendar */

/* Communicator (.cm-*) */

.cm-newMessage-recipients {
  @include rounded(4px);  
  min-height:20px;
  padding:5px; 
  background-color:$saBgr;
}

.cm-newMessage-recipient, .cm-newMessage-recipientgroup {
  @extend .co-filter;
  float: left;
  margin-right: 5px;
  margin-top:5px;
  padding: 3px	
}

.cm-newMessage-recipientgroup {
  @include gradient-top-bottom(#207020, #20FF20);
}

.cm-newMessage-recipientName {
  float:left;
}

.cm-newMessage-removeRecipient {
  @extend .co-filter-remove;
  float:left;
}

.cm-newMessage-message {
  margin-top:5px;
  padding:5px; 
  background-color:$saBgr;	
  @include rounded(4px);
}

.cm-newMessage-message input[type="text"] {    
  width: 200px;
}

.cm-newMessage-content textarea {    
  width:100%;
  height:200px;
}

.cm-setting-signatures-toolbar, .cm-setting-templates-toolbar {
  padding:5px;	
}

.cm-newMessage-subject {
}

.cm-settings-templates-selectorContainer, .cm-settings-signatures-selectorContainer {
  float:left;
  width:50%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.cm-settings-templates-selectorContainer select, .cm-settings-signatures-selectorContainer select { 
  width:100%;
}

.cm-setting-templates-editor, .cm-setting-signatures-editor {
  float:left;
  width: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.cm-setting-templates-editor textarea, .cm-setting-signatures-editor textarea {
  width:100%;height:20em;
}

/* Settings */

.se-plugins form {
  margin-bottom:5px;
  border:1px solid $brd2;
  padding:4px;
  background:#fff;
  border-top-left-radius:10px 50% ;
  border-bottom-left-radius:10px 50% ;
}

.se-plugins-plugin input {
  border:1px solid $brd2;
  padding:4px !important;
  width:20px;
  height:20px;
  border-radius:50%;
}

/* LED -type of buttons */

input[class="btn-enabled"] {
  @include buttonLedGr(#fcfcfc,#b4e391,#61c419,#061900,24%,50%);
  @include buttonLedSh(inset 0 1px 0 rgba(100,100,100,0.5),inset 0 4px 2px rgba(255,255,255,0.5),inset 0 -3px 1px rgba(100,100,100,0.1),inset 0 1px 2px rgba(255,255,255,0.3));
}

input[class="btn-enabled"]:hover {
  @include buttonLedGr(#D1FFBA,#5DFF00,#61c419,#061900,34%,70%);
  @include buttonLedSh(inset 0 1px 0 rgba(100,100,100,0.5),inset 0 6px 2px rgba(255,255,255,0.5),inset 0 -2px 1px rgba(100,100,100,0.1),inset 0 1px 2px rgba(255,255,255,0.3)); 
}

input[class="btn-enabled"]:active {
  @include buttonLedGr(#fcfcfc,#b4e391,#61c419,#061900,4%,50%); 
  @include buttonLedSh(inset 0 1px 0 rgba(100,100,100,0.5),inset 0 2px 1px rgba(100,100,100,0.2),inset 0 -4px 1px rgba(100,100,100,0.2),inset 0 1px 2px rgba(255,255,255,0.7)); 
}

input[class="btn-disabled"] {
  @include buttonLedGr(#ffec9e,#f16f5c,#f02f17,#190904,24%,50%);
  @include buttonLedSh(inset 0 1px 0 rgba(100,100,100,0.5),inset 0 2px 2px rgba(255,255,255,0.5),inset 0 -3px 1px rgba(100,100,100,0.1),inset 0 1px 4px rgba(255,255,255,0.3)); 
}

input[class="btn-disabled"]:hover {
  @include buttonLedGr(#ffec9e,#ff6a4d,#ff0000, #190904,44%,70%);
  @include buttonLedSh(inset 0 1px 2px rgba(100,100,100,0.5),inset 0 4px 2px rgba(255,255,255,0.5),inset 0 -6px 1px rgba(100,100,100,0.1),inset 0 1px 2px rgba(255,255,255,0.3)); 
}

input[class="btn-disabled"]:active {
  @include buttonLedGr(#efe7e6,#f16f5c,#f02f17,#190904,4%,50%);
  @include buttonLedSh(inset 0 1px 0 rgba(100,100,100,0.5),inset 0 4px 1px rgba(100,100,100,0.1),inset 0 -4px 1px rgba(100,100,100,0.2),inset 0 1px 2px rgba(255,255,255,0.7)); 
}

.gt-search-field {
  position:relative;
  
  input.search {
    padding:10px 10px 10px 40px !important;
  }
  
  &:before {
    display:inline-block;
    content: "\e61c";
    font-family: 'muikku' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size:26px;
    color:#ddd;
    position:absolute;
    left:20px;
    top:22px;
  }
  
}