@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */

body { 
  
  main {
    min-height:800px;
    background:#fff;
    margin-top:30px;
    
    h1.view-title {
      font-weight:300; 
      line-height:1.7em;
      padding:20px;
      margin:0;
    }

    .context-wrapper {
      padding:0px 20px 20px 20px;
      @include flexbox();
      flex-flow:row wrap;
      justify-content:flex-start;
      align-items:stretch;
    
      section {
        flex:2 1;
        padding:0 20px 0 0;
        
        article {
          margin:20px 0;
          
          &:first-child {
            margin:0 0 20px 0;
          }
        
          header {
            position:relative;
            
            h2 {
              font-weight:300;
              font-size:28px;
              text-transform:none;
              padding:0 0 14px 0;
              background:#fff;
              display:block;
              line-height:1.4em;
              margin:0;
            }
            
            .article-datetime {
              display:inline-block;
              font-size:20px;
              font-weight:300;
              background:#fff;
              padding:10px;
              position:absolute;
              bottom:20px;
              border-top-right-radius:5px;
              border-bottom-right-radius:5px;
            }
          
          }
          
          .article-context {
            padding:10px 5px;
            line-height:1.9em;
            font-weight:300;
            font-size:16px;
            
            p {
              margin:10px 0;
              
              &:first-child {
                margin-top:0;
              }
              
            }
          
          }
          
        }
  
      }
      
      nav.gc-navigation {
        flex:1 0;
        max-height:100%;
        min-height:670px;
        padding:0 0 0 10px;
        
        .gc-navigation-item {
          margin:0 0 20px 0;
          border-radius:5px;
          
          a.gc-navigation-title {
            font-weight:300;
            color:#000;
            text-decoration:none;
            font-size:16px;
            display:block;
            padding:4px 8px;
          }
          
          .gc-navigation-date {
            font-weight:300;
            font-size:16px;
            padding:4px 8px;
          }
        
        }
          
      }

    }
    
  }
  
}
  