
/* Guider, Guiding tool (.gt-*) */

/* TODO: Clean this ish up from obsolete styles*/

.guider{
  @extend .co-widget;   
  background-color:$mainFuncSide;
}


.gt-side{
}

.gt-side-button{
   @extend .co-mainFunction-side-button;
}


.gt-side-button > div:first-child{
  width:170px;

}

.gt-side-button-dropdown{
  display:none;
  width:170px;
  margin-left:31px;
  background-color:#fff;
  border : 1px solid $brd;
  z-index: 100;
  position:relative;
  top:0;
  
  li{
    font-size:0.9em;   
    padding:5px;
    a{
     text-decoration:none;
     color:#000;
    }


    }
  li:hover{
    background-color:#1a9bfc;  
    color:#fff;

    a{
    text-decoration:none;
    color:#fff;
     }

    }
}

.gt-side-header{
  @extend .co-mainFunction-sub-header;
  padding:3px;
}

.gt-side-content{
 padding:5px;
}

/* .gt-filter{ */
/*   margin-top:5px; */
/*   padding:2px 10px; */
/*   font-size:0.7em; */
/*   display:inline-block; */
/*   border:1px solid $brd; */
/*   @include rounded(10px);   */
/*   &.ft-01{background-color:$mainFuncFilter1;} */
/*   &.ft-02{background-color:$mainFuncFilter2;} */
/*   &.ft-03{background-color:$mainFuncFilter3;} */
/* } */

/* .gt-filter-disabled{ */
/*   background-color:#cecece !important; */
/*   color:#fff !important; */
/* } */

.gt-side-header > span{
  color:#fff;
}

.gt-side-tools{
  height:inherit;
  margin-bottom:0;
}

.gt-students-view-container{
  min-height:400px;
  padding:5px;
}

.gt-content{
}

.gt-content-functions{
   @extend .co-mainFunction-content-functions;
   height:70px;  
}

.gt-search{
  width:100%;
  box-sizing:border-box;

}
.gt-search-icon {
  display:inline-block;
  color:#c4cdd1;
  font-size:30pt;
  padding-top:10px;
  
}
.gt-search-field{
   box-sizing:border-box;
   padding:10px;
}

.gt-search-field > input{
  padding:10px;
  font-size:20px;
  color:#c4cdd1;
}

.gt-content-main{
  @extend .co-mainFunction-content-main;
  min-height:450px;
  padding:10px;
}


.gt-user {
  @extend .co-listItem;

  &.closed,
  &.loading {
    .gt-user-details{ 
      display: none;
    }
  }
  
  &.loading {
    padding-bottom: 20px;
  
    &:after {
      @include generic-loader(50px);
    
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}  

.gt-user-name{
  width:100%;
  cursor:pointer;
}

.gt-email-field{
  color:$dimmest;
  font-size:10px;
}
.gt-user-picture{
  
   float:left;
   height:100px;
   width:100px; 
   &.default{
    @extend .co-user-picture;     
    border-radius: 53px;
   }
   &.small{
    height: 20px;
    width: 20px;    
    margin-left: 6px;
    margin-top: 6px;
   }
}

.gt-user-details-container {
  background-color:#f0f3f4;
}

.gt-user-details-data{
  padding:10px;
  

 } 
 

.gt-user-details-picture{
    float:left;
  
  }
.gt-user-details-items{
    float:left;
    padding:10px;
    width:555px;
    
    .gt-user-details-item{
    
    }
    
   .gt-user-details-label{
     display:inline-block;
   
     &:after{
      content: ":";
     }
   }

   .gt-user-details-value{
     margin-left:10px;
   }
   
   .gt-user-details-indent {
     margin-left:4em;
   }
  }

.gt-newmessage-form-container{
  
  &.wide{
   width:100%;

  }
  .gt-message-new-content{
   width:100%;
  }   
}

.gt-user-details-close {
 position:absolute;
 margin-top:0;
 margin-left:0;
 background-color:none;
 height:30px;
 width:200px;
 cursor: pointer;
}

.gt-user-header-name {
  display : inline-block;
  text-transform:uppercase;
}

.gt-user-header-details {
  display : inline-block;
  float:right;  

}
.gt-user-rating {
  padding-right:5px;
}

.gt-user-description {
  display:inline-block;
  width:70%;
  background-color:#fff;  
  cursor:pointer;  
}

.gt-user-description-text {
  @extend .co-description;
  font-size: 0.9em; 
  padding:5px;
  min-height:100px;
}

.gt-user-additionalInfo {
  display:inline-block;
  width:30%;
  float:right;
  font-size: 0.7em;

}


.gt-user-details-toolbar {
  @include padding(10px);
  
}
.gt-user-view-headline{
  h1{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left:10px;
  }
}

.gt-user-view-profile {
  > div{
    padding:15px;
  }
  
  div[class*="gt-data-container"]{
    width:100%;
  }
  
  &.loading {
    background-color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
    
    &:after {
      @include generic-loader(50px);
    
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  
  
}

 .gt-data {
   width:100%;

   .gt-course-details-container {
      cursor:pointer;
      background:#fff;
      
      .gt-course-description {
        display:inline-block;
        width:100%;
        cursor:pointer;  
      }
      
    }
  
 }
 
.gt-course {
  @extend .co-listItem;
  padding:5px 5px 5px 5px;
  margin-bottom:10px;
  border-left: 3px solid $mainFuncFilter1; 

  
  &.open {
  
    .gt-course-details-container {
      margin:-5px;
      padding:5px;
      background:$mainFuncFilter1;
      color:#fff;
      border-top-right-radius:3px;
      border-bottom-right-radius:3px;
      
      .gt-course-header-name {
        color:#fff;
      }
      
    }
    
  }
  
}

.gt-course h4 {
  margin:5px -5px;
  text-transform:none;
  font-size:14px;
  font-weight:400;
  background:#f8f8f8;
  padding:5px;
}

.gt-course .gt-course-activity {
  display: none; 
  font-weight:300;
}

.gt-course.open .gt-course-activity {
  display: block; 
}

.gt-course-details-container {
  @include flexbox(); 
}

.gt-course-description {
  flex: 1;
}

.gt-course-activity-short {
  flex: 1;
  text-align: right;
  padding-right: 5px;
}

.gt-course-activity-row {
  display: flex;  
  transition:background 0.3s ease-in-out;
  
  &:hover {
    background:#dff7ff;
    border-radius:3px;
  }
}

.gt-course-activity-row label {
  flex: 1;
  font-weight:300;
  padding:5px;
  margin:0 0 0 5px;
}

.gt-course-activity-row span {
  flex: 1;
  text-align: right;
  padding:5px;
}

.gt-user-view-flags-container{
  margin-top: -34px;
  float:right;
  .gt-user-view-flags-select{
    border: 1px solid #ededed;
    padding: 5px;
    display:inline-block;

    span{
     padding:5px;
    }

    .gt-user-view-flags-dropdown-arrow{
      padding:2px;
    }
  }    
}

/* This is an unneccessary override, needs to be similar with the rest of the mainfunctions - in the future */

.gt-filters-container{
  ul{
      list-style-type: none;
      
      li{
        border-bottom: 1px solid $brd1;
        border-left:0;        
        a{
          font-weight:300;
          text-decoration:none;
          color:#000;
          display:inline-block;
          box-sizing:border-box;
          width:100%;
          padding-top:5px;
          padding-bottom:5px;
          padding-left:10px;
          border-left: 5px solid #fff;       
          &:hover{
            border-left:5px solid $brd1;     
            cursor:pointer;   
          } 
          &.selected{
            background-color:$bgr3;
            border-left:5px solid $brd2;

          }                
        }
        &:hover{
          border-left:0     
        } 
      }
   
  }  
}

.gt-filter-link[data-type="flag"] {
  .icon-flag {
    margin-right: 10px;
  }
}