
/* Guider, Guiding tool (.gt-*) */

/* TODO: Clean this ish up from obsolete styles*/

.guider{
  @extend .co-widget;   
  background-color:$mainFuncSide;
}


.gt-side{
}

.gt-side-button{
   @extend .co-mainFunction-side-button;
}


.gt-side-button > div:first-child{
  width:170px;

}

.gt-side-button-dropdown{
  display:none;
  width:170px;
  margin-left:31px;
  background-color:#fff;
  border : 1px solid $brd;
  z-index: 100;
  position:relative;
  top:0;
  
  li{
    font-size:0.9em;   
    padding:5px;
    a{
     text-decoration:none;
     color:#000;
    }


    }
  li:hover{
    background-color:#1a9bfc;  
    color:#fff;

    a{
    text-decoration:none;
    color:#fff;
     }

    }
}

.gt-side-header{
  @extend .co-mainFunction-sub-header;
  padding:3px;
}

.gt-side-content{
 padding:5px;
}

.gt-filter{
  margin-top:5px;
  padding:2px 10px;
  font-size:0.7em;
  display:inline-block;
  border:1px solid $brd;
  @include rounded(10px);  
  &.ft-01{background-color:$mainFuncFilter1;}
  &.ft-02{background-color:$mainFuncFilter2;}
  &.ft-03{background-color:$mainFuncFilter3;}
}

.gt-filter-disabled{
  background-color:#cecece !important;
  color:#fff !important;
}

.gt-side-header > span{
  color:#fff;
}

.gt-side-tools{
  height:inherit;
  margin-bottom:0;
}

.gt-students-view-container{
  min-height:400px;
  padding:5px;
}

.gt-content{
}

.gt-content-functions{
   @extend .co-mainFunction-content-functions;
   height:70px;  
}

.gt-search{
  margin-left:10px;
  width:300px;

}
.gt-search-icon{
  display:inline-block;
  color:#c4cdd1;
  font-size:30pt;
  padding-top:10px;
  
}
.gt-search-field{
   width:200px;
   display:inline-block;
   margin-top:10px;
}

.gt-search-field > input{
 margin-left:10px;
 padding:10px;
 font-size:20px;
 color:#c4cdd1;
}

.gt-content-main{
  @extend .co-mainFunction-content-main;
  min-height:450px;
  padding:10px;
}


.gt-user {
  @extend .co-listItem;

  &.closed,
  &.loading {
    .gt-user-details{ 
      display: none;
    }
  }
  
  &.loading {
    padding-bottom: 20px;
  
    &:after {
      @include generic-loader(50px);
    
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}  

.gt-user-name{
  width:100%;
  cursor:pointer;
}

.gt-email-field{
  color:$dimmest;
  font-size:10px;
}
.gt-user-picture{
  
   float:left;
   height:100px;
   width:100px; 
   &.default{
    @extend .co-user-picture;     
    border-radius: 53px;
   }
   &.small{
    height: 20px;
    width: 20px;    
    margin-left: 6px;
    margin-top: 6px;
   }
}

.gt-user-details-container {
  background-color:#f0f3f4;
}

.gt-user-details-data{
  padding:10px;
  

 } 
 

.gt-user-details-picture{
    float:left;
  
  }
.gt-user-details-items{
    float:left;
    padding:10px;
    width:555px;
    
    .gt-user-details-item{
    
    }
    
   .gt-user-details-label{
     display:inline-block;
   
     &:after{
      content: ":";
     }
   }

   .gt-user-details-value{
     margin-left:10px;
   }
  }

.gt-newmessage-form-container{
  
  &.wide{
   width:100%;

  }
  .gt-message-new-content{
   width:100%;
  }   
}

.gt-user-details-close {
 position:absolute;
 margin-top:0;
 margin-left:0;
 background-color:none;
 height:30px;
 width:200px;
 cursor: pointer;
}

.gt-user-header-name {
  display : inline-block;
  text-transform:uppercase;
}

.gt-user-header-details {
  display : inline-block;
  float:right;  

}
.gt-user-rating {
  padding-right:5px;
}

.gt-user-description {
  display:inline-block;
  width:70%;
  background-color:#fff;  
  cursor:pointer;  
}

.gt-user-description-text {
  @extend .co-description;
  font-size: 0.9em; 
  padding:5px;
  min-height:100px;
}

.gt-user-additionalInfo {
  display:inline-block;
  width:30%;
  float:right;
  font-size: 0.7em;

}


.gt-user-details-toolbar {
  @include padding(10px);
  
}
.gt-user-view-headline{
  h1{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left:10px;
  }
}

.gt-user-view-profile {
  > div{
    padding:15px;
  }
  
  div[class*="gt-data-container"]{
    width:100%;
  }
  
  &.loading {
    background-color: #fff;
    padding-bottom: 50px;
    padding-top: 50px;
    
    &:after {
      @include generic-loader(50px);
    
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
  
  
}

 .gt-data{
    width:100%;
 }


