@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */

.notification-queue {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 99999;
  height: 0px;
}

.notification-queue-items {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #666;
}

.notification-queue-item {
  text-align: center;
  color: #fff;
  padding: 12px 16px 16px 16px;
  font-size: 16px;
  margin-bottom: 1px;
  z-index: 2;
  position: relative;
  padding-right: 36px;
  padding-left: 36px;
  word-wrap: break-word;
}

.notification-queue-item:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0px;
}

.notification-queue-item-info {
  background: #549fca;
}

.notification-queue-item-warn {
  background: #ffce65;
  color:#6a4902;
}

.notification-queue-item-error {
  background: #ff6600;
}

.notification-queue-item-fatal {
  background: #bf3000;
}

.notification-queue-item-success {
  background: #49af4e;
}

.notification-queue-item-loading {
  background-color: #000;
  @include background-image('gfx/eventqueueloader.png');
  background-position: 8px center;
  background-repeat: no-repeat;
  z-index:9999;
}

.notification-queue-item a {
  @include background-image('gfx/eventqueueclose.png');
  top: 12px;
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 8px;
  width: 24px;
}