@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */

body.profile,
body.workspace-profile { 
  
  .profile-content {
    background:#fff;
    padding:20px;
    box-sizing:border-box;
    min-height:500px;
    position:relative;
    
    .profile-picture-wrapper {
      border:3px solid #fff;
      box-shadow:0 0 15px rgba(0, 0, 0, 0.05);
      left:20px;
      min-height:100px;
      position:absolute;
      top:20px;
      width:140px;
      
      img {
        border:0 none;
        display:block;
        height:auto;
        width:140px;
      }
    }
    
    .profile-data-wrapper {
      margin:0 0 0 166px;
    
      h1.profile-user-realname {
        font-weight:300;
        font-size:20px;
      }
      
      .profile-user-email {
        margin:10px 0;
      }
      
      .profile-change-password-container {
        margin:10px 0;
      
        .profile-change-password {
          background:#0099ff;
          color:#fff;
          display:inline-block;
          font-size:14px;
          padding:6px 8px;
          text-transform:uppercase;
          cursor:pointer;
          font-weight:400;
        }
      
      }
    
    }
    
  }
  
  .profile-section-links-container {
    background:#fff;
    padding:0;
    box-sizing:border-box;
    min-height:500px;
    
    ul.profile-section-links {
      padding:0;
      margin:0;
      list-style-type:none;
      padding:10px;
      
      li.profile-section-links {
        padding:5px;
        text-transform:uppercase;
        font-weight:300;
        cursor:pointer;
        margin:0 0 1px 0;
        
        &:hover,
        &.active {
          background:#ff008d;
          color:#fff;
          font-weight:400;
          
        }
      }
    }
    
  }
  
  /* JQuery UI Dialog Overrides */
  .ui-widget-overlay {
    background:#000;
    opacity:0.5;
  }
  
  .profile-change-password-dialog {
    box-shadow:0 0 80px rgba(0,0,0,0.4);
    background:#fff;
    font-family: 'Open Sans',Verdana, sans-serif;
    font-size:15px;
    font-weight:300;
    padding:0;
    border:none;
    z-index:9999;
    
    &.ui-corner-all {
      border-radius:0px;
    }
    
    .ui-dialog-titlebar {
      border:0px;
      background:#7391a7;
      color:#fff;
      border-radius:0px;
      padding:8px 36px 8px 12px;
      font-weight:400;
      text-transform:uppercase;
      
      .ui-dialog-title {
        margin:0;
        font-size:18px;
        width:100%;
        font-weight:300;
      }
      
      .ui-dialog-titlebar-close {
        background:#7391a7;
        border-radius:0px;
        border:0px;
        width:24px;
        margin:-13px 0 0 0;
        font-size:22px;
        height:22px; Same height as font-size
        
        span {
          display:none;
        }
        
        &:before {
          content: "\e63b";
          color:#fff;
          font-size:22px;
          font-weight:normal;
          font-family: 'muikku';
          speak: none;
          font-style: normal;
          text-decoration:none;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        
      }
      
    }
    
    .profile-change-password-confirm-dialog {
      margin:10px 0 0 0;
      
      .profile-change-pasword-dialog-form-wrapper {
        margin:10px 0;
      }
      
      label {
        font-weight:400;
        text-transform:uppercase;
      }
      
    }
    
    .ui-dialog-buttonpane {
      border:0;
      background:transparent;
      padding:0px 10px 10px 10px;
      margin:10px 0 0 0;
      
      .ui-dialog-buttonset {
        float:none;
        position:relative;
      
        button {
          border-radius:0px;
          border:0;
          color:#fff;
          font-weight:400;
          text-transform:uppercase;
          margin:5px;
          outline:none;
          font-family:"Open Sans";
          min-width:90px;
        }
        
        button.send-button {
          float:right;
          background:#27b91c;
        }
        
        button.cancel-button {
          float:right;
          background:#7391a7;
        }
      
      }
    }
  }
  
}
  