  /* tasktool (.tt-*) */

.tt-search{
  width:300px;
}

.tt-tasks-filters-container{
   background-color:$bgr3;
   padding:10px; 
   display:none;
   span{
    background-color: #90de83;
    border: medium none #eee;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 2px 10px;
    margin-left:10px;
    
    &:hover{
      background-color:#c7ddc4;
      color:#eee;
      cursor:pointer;
    }
    
   }
}


.tt-task-request-state{
  float:right;
  margin-right:10px;
}

.tt-task-topic{
  width:100%;
  
}


.tt-task-meta-topic{
  width:100%;
  padding:5px; 
  span{
   margin-left:5px;
   
   &.PENDING{
    color:#ff3c00;
   }
  }
}



.tt-task-details-content{
  font-weight:300;
  padding:10px;
}

