ol, ul{
  list-style-position: inside;
}

ol{
  list-style-type: decimal;  
}
ul{
  list-style-type: circle;  
      
}

em{
  font-style: italic;
  
}

strong{
  font-weight:600;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 15px 10px;
  padding: 10px 10px;
}
