/* Widgets */

/* General styles with selectors */

/* Main navigation */
div[class*='dock-static-navi-button'] > a, 
div[class*='dock-dynamic-navi-button'] > a {
  font-size:40px;
  color:#fff;
  text-decoration:none;
  @include iconShadow;
  &:hover {
    @include iconShadow(rgba(255,255,190,0.8));
  }
  padding:10px 10px 0 10px;
  height:56px;
  display:inline-block;
}

div[data-name="generic.dock-top.left"] div:last-child > a{
	margin-right:0;
}

div[data-name*='index.content'] > div:not(:first-child) {
  margin-top:10px;
}

div[data-name*='environment.content'] > div:not(:first-child) {
  margin-top:10px;
}

div[class*='action'] {
  float:left;
}

div[class*='action-vertical'] {
  float:none !important; 
}

div[class*='action-vertical']:not(:first-child){
  margin-top:10px !important;
}

div[class*='actions-vertical'] {
  @include gradient-top-bottom(#fff,#f8f8f8,#fff); 
  float:right;
  margin-left:0 !important;
}

/* staticNaviDock  */
div[class*="wi-dock-static-navi"] {
  position:relative;
  float:left;
  margin-right:15px;
}

.wi-dock-notification {
  background-color: #ff0000;
  border-radius: 10px;
  border:1px solid #fff;
  top: 11px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  height: 16px;
  min-width: 10px;
  padding: 0 3px 0 0;
  position: absolute;
  text-align: center;
  right: 4px;
}

/* Containers */
.dock-static-container {}

.dock-workspace-container {
  @include gradient-top-bottom;
  @include rounded-bottom-left; 
  @include rounded-bottom-right;
  @include border;
  border-top:0;
  padding:13px;
}

.newEventWidget {
  display: inline-block;
}

/* Settings navigation */
.naviIconSettingsNavigationUsers {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-users.png');  	    
}

.naviIconSettingsNavigationUsers.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-users.png');   
}

.naviIconSettingsUserAdd {
  @include naviIcon(); 	 
  @include background-image('gfx/icons/32x32/actions/settings-users-add.png');   
}

.naviIconSettingsUserAdd.disabled {
  @include naviIcon();   
  @include background-image('gfx/icons/32x32/actions/settings-users-add.png');  
}

.naviIconSettingsNavigationWorkspaces {
  @include naviIcon(); 	
  @include background-image('gfx/icons/32x32/actions/settings-workspaces.png');      
}

.naviIconSettingsNavigationWorkspaces.disabled {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/settings-workspaces.png');    
}

.naviIconSettingsNavigationWorkspaceTypes {
  @include naviIcon(); 
  @include background-image('gfx/icons/32x32/actions/settings-workspace-types.png');	    
}

.naviIconSettingsNavigationWorkspaceTypes.disabled {
  @include naviIcon(); 
  @include background-image('gfx/icons/32x32/actions/settings-workspace-types.png');  
}

.naviIconSettingsNavigationPlugins {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-plugins.png'); 
}

.naviIconSettingsNavigationPlugins.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-plugins.png'); 
}

.naviIconSettingsNavigationRoles {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-roles.png'); 
}

.naviIconSettingsNavigationRoles.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-roles.png'); 
}

.naviIconSettingsNavigationGradingScales {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-grading-scales.png'); 
}

.naviIconSettingsNavigationGradingScales.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-grading-scales.png'); 
}

.naviIconSettingsNavigationCourseIdentifiers {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-course-identifiers.png'); 
}

.naviIconSettingsNavigationCourseIdentifiers.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-course-identifiers.png'); 
}

.naviIconSettingsNavigationPermissions {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-course-identifiers.png'); 
}

.naviIconSettingsNavigationPermissions.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-course-identifiers.png'); 
}

/* Generic Widget Box Rules */
.wi-generic-listing,
.wi-generic-recent { /* Default workspace widget for listing content */
  
  .wi-generic-widget-container {
    border:1px solid $w-brd;
    padding:1px;
    background:$w-bgr;
    box-shadow:$w-sc;
    
    .wi-generic-widget-title {
      text-transform:uppercase;
      font-size:18px;
      font-weight:300;
      color:#fff;
      background:$w-tbgr;
      padding:10px 12px;
      position:relative; /* For the widget settings icon and menu */
    }
    
    .wi-generic-widget-content {
      min-height:100px;
    
      /* Generic styles for recent widget */
      .wi-generic-widget-recent-row {
        border-bottom:1px solid #f2f2f2;
        padding:10px;

        
        &:last-child {
          border:0;
        }

        .wi-generic-widget-recent-row-content {
          margin:0 0 5px 0;
          
          a {
            color:$contextualLink;
            text-decoration:none;
            
            &:hover {
              color:$contextualLinkHover;
            }
          }
          
        }
        
        .wi-generic-widget-recent-row-content-meta-wrapper {

          .wi-generic-widget-recent-row-content-meta-author {
            display:inline-block;
            @include contentMeta($fColor:#5f5f5f);
            margin:0 10px 0 0;
          }
          
          .wi-generic-widget-recent-row-content-meta-datetime {
            display:inline-block;
            @include contentMeta($fStyle:italic);
          }
        
        }
    
      }
    
      /* Generic styles for listing widget */
      .wi-generic-widget-list-row {
        border-bottom:1px solid #f2f2f2;
        padding:10px;
        
        
        &:last-child {
          border:0;
        }
      
        .wi-generic-widget-list-row-content { /* 2 column layout for listing type widget */
          margin:0 0 5px 0;
          
          a {
            color:$contextualLink;
            text-decoration:none;
            
            &:hover {
              color:$contextualLinkHover;
            }
          }
        
          .wi-generic-list-row-content-leftcol-wider {
            display:inline-block;
            width:75%;
            float:left;
          }
          
          .wi-generic-list-row-content-rightcol-wider {
            display:inline-block;
            width:75%;
          }
          
          .wi-generic-list-row-content-leftcol {
            display:inline-block;
            width:25%;
            float:left;
          }
          
          .wi-generic-list-row-content-rightcol {
            display:inline-block;
            width:25%;
          }
          
          .wi-generic-list-row-content-leftcol-half {
            display:inline-block;
            width:50%;
            float:left;
          }
          
          .wi-generic-list-row-content-rightcol-half {
            display:inline-block;
            width:50%;
          }
          
          .wi-generic-list-row-content-full {
            width:auto;
          }
        
        }
      
      }

    }
  }
}

/* Generic Widget's Action Menu */
.wi-generic-widget-action-menu-launcher {
  position:absolute;
  right:8px;
  top:8px;
  font-size:25px;
  cursor:pointer;
  
  &:hover { /* Need to increase action menu icons container for easier use */
    padding-left:100px; 
    padding-bottom:20px;  
  }

  .wi-generic-widget-action-menu-container { /* Hiding the menu with visibility and height rules for css transitions, use display:none/block if no transitions are needed */
    visibility:hidden;
    height:0px;
    opacity:0;
    @include widgetActionMenuTransition(opacity,0.1s,ease-in-out);
    position:absolute;
    right:-5px;
    top:20px;
    color:#000;
    font-family:"Open Sans";
    min-width:125px;
    
    .wi-generic-widget-action-menu-arrow {
      @include background-image('gfx/contextual-menu-arrow.png');
      background-repeat:no-repeat;
      height:10px;
      background-position:bottom right;
      float:none;
      background-color:transparent;
    }
    
    .wi-generic-widget-action-menu-item-container {
      border:1px solid #d6d6d6;
      @include rounded(3px);
      box-shadow:0 0 10px rgba(0,0,0,0.2);
      background:#fff;
    
      .wi-generic-widget-action-item {
        padding:10px 15px;
        font-size:16px;
        position:relative;
        margin:0;
        display:block;
        float:none;
        @include widgetActionMenuItemTransition;
        
        .wi-generic-widget-action-item-label {
          padding:0 0 0 10px;
          display:inline-block;
          font-family:"Open Sans";
          font-size:13px;
          position:relative;
          top:-2px; /* Adjusting text in relation to icon as they are different sizes */
        }
      
        &:hover {
          color:#fff;
          background:#0099ff;
        }
      }
    }
  
  }
  
  &:hover {
  
    .wi-generic-widget-action-menu-container {
      visibility:visible;
      height:auto;
      opacity:1;
  
      .wi-generic-widget-action-menu-arrow {
    
      }
    
  
    }
  
  }

}

/* Student browser */
.naviIconUser {
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-userprofile.png');
	float:left;
}
	
.naviIconUser.disabled {
  opacity:0.5;
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-userprofile.png');
	float:left;   
}
	
.naviIconUser:hover {
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-userprofile.png');
  float:left;   
}
	
.naviIconMessage { 
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png');
  float: left;
}

.naviIconMessage.disabled {
  opacity: 0.2; 
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png');
  float: left;
}

.naviIconMessage:hover {
  opacity: 0.2; 
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png');
  float: left;
}

.naviIconBookmark { 
  @include customIcon(24px,15px);
  @include background-image('gfx/icons/32x32/actions/tools-bookmark.png');
  float: left;
}

.naviIconBookmark.disabled {
  opacity: 0.2; 
  @include customIcon(24px,15px);
  @include background-image('gfx/icons/32x32/actions/tools-bookmark.png');
  float: left;
}

.naviIconBookmark:hover {
  opacity: 0.2; 
  @include customIcon(24px,15px);
  @include background-image('gfx/icons/32x32/actions/tools-bookmark.png');
  float: left;
}

.header-icon-communicator{
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png'); 
	background-size:15px 10px;
	background-repeat:no-repeat;
	background-position:10px;
	padding-left:30px;
}

/* Calendar */
.calendarSettingsWidget {
  display: inline-block;
}

.calendarSettingsWeekFirstDayContainer {
  padding: 4px;
}

.calendarsVisibleWidget {
  display: inline-block;
}

.visibleCalendars {
  position: absolute;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F3F3F3 50%, $bgr1 51%, #FFFFFF 100%) repeat scroll 0 0 transparent;
  border: 1px solid #AAAAAA;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 1px 5px #888888;
  margin: 8px;
  padding: 8px;
  z-index: 9999;
}

.visibleCalendarContainer {
  white-space: nowrap;
}

.visibleCalendarContainer label {
  margin-left: 8px; 
}

/* Login */
.loginWidget {
  position:relative;
  float:right;
  margin-top:10px;
  
  .loginWidgetButton {
    @include buttonShadow;
  }
  
}

.loginWidgetWrapper {
  display:none;
  text-align:left;
  position:absolute;
  right:0;
  top:50px;
  z-index:20;
  border:3px solid #50a850;
  background:#ffffff;
  padding:15px;
  border-radius:2px;
  width:300px;
  @include dropDownElementShadow();
  
  .loginBoxTopArrow {
    @include background-image('gfx/login-box-arrow.png');
    background-repeat:no-repeat; 
    background-position:top right;
    height:20px;
    width:30px;
    position:absolute;
    top:-15px;
    right:10px;
    z-index:21;
  }
  
}

.credentialLoginWidget, 
.externalLoginWidget,
.forgotpasswordWidget {

  a {
    color:#4a8fbd;
    text-decoration:none;
  
    &:hover {
      color:#0099ff;
    }
  }
}

.forgotpasswordWidget {
  margin-top:10px;
}

.lu-widget {
  position:relative;
  float:right;
  margin-top:10px;
  
  .lu-badgeContainer {
  
    .lu-user-picture {
      @incude border(2px,#fff,solid);
      height:48px;
      width:48px;      
      box-sizing:border-box; 
      display:inline-block;
      border-radius:24px;
      margin:0 4px 0 0;
      z-index:15;
      background-size:100% auto;
      border:2px solid #fff;
      @include background-image('/gfx/default-user-picture.jpg');
      overflow:hidden;
      
      img {
        width:100%;
        border:0;
      }
      
    }
    .lu-infoContainer {
       @incude border(2px,#fff,solid);
       background:#fff;
       height:48px;
       display:inline-block;
       box-sizing:border-box;
       border-top-left-radius:24px;
       border-bottom-left-radius:24px;
    
      .lu-user-name {
        @include no-select;
        color:#3c77a0;
        text-transform:uppercase;
        min-width:100px;
        padding:13px 6px 14px 20px;
        float:left;
        height:1.5em;
        
        a {
          color:#3c77a0;
          text-decoration:none;
        }
      }
      
      .lu-user-name-button  div {
         box-sizing:border-box;
         cursor:pointer;
         display:inline-block ;
      }
            
      
      .lu-actions {
        float:left;
        height:1.5em;
        padding:13px 6px 10px 6px;
        
          a {
            margin:0 6px;
          }
      }
      
      .lu-alternateIdentities-form {
          background-color: #fff;
          border: 1px solid #dadada;
          display: none;
          position: absolute;
          z-index: 100;
          
        
          li {
            @include padding(5px);

            a {
              text-decoration: none; 
              font-size:15px;
              white-space: nowrap;
              color:#000;
              text-transform:uppercase;
           
              &.icon-user:before{
                margin-right:6px;
              }

            }

            &:hover{
              background-color:#1a9bfc;  
              color:#fff;
          
              a{
              text-decoration:none;
              color:#fff;
              }
            }            
          }
        
      }

      a[class*="lu-action"] {
       color:#3C77A0;
       font-size:21px;

      }
  
    }

  }
}

/* Language */
.language-widget { 
  position:relative;
  float:right;
  margin:10px 10px 0 0;
  background:#2e72a0;
  height:48px;
  width:48px;
  box-sizing:border-box;
  display:inline-block;
  border-radius:24px;
  z-index:15;
  text-align:center;
  padding:0;
  overflow:hidden;
  box-shadow:0 0 15px rgba(255,255,255,0.5);
  transition:height,border-radius 0.1s ease-in-out;
  
    &:hover,
    &:focus,
    &:active {
      height:96px;
      border-radius:5px;
      box-shadow:none;
      background:#fff;
      
      a {
        color:#569bca;
        
        &:hover {
          color:#fff;
          background:#2e72a0;
          
        }
      }
    }

    a {  
      text-decoration:none; 
      padding:12px 10px;  
      color:#fff;   
      font-size:22px;
      font-weight:300;
      display:block;
      min-width:28px;
      min-height:24px
    }
}

/* Userprofile */
#userProfileWidget {
  text-align: right;
  color: #000;
  font-size: 10px;
  width: 210px;
  position: absolute;
  top: 5px;
  right: 5px;
}

#userProfileWidgetInfo {
  float: left;
  margin-left: 70px;
}

#userProfileNavigationContainer {
}

.widget {
}

#staticNavigation .widgetSpace {
  height: 60px;
}

.widgetTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.calendarWidget {
  width: 570px;
}

.calendarWidget div.fullCalendar {
  width: 100%;
  position: static;
}

.calendarWidget div.fullCalendar table {
  width: inherit;
}

.calendarWidget div.fullCalendar table tr td {
  width: 14.30%;
}

.calendarWidget div.fullCalendar .fullCalendarEventfulDay {
  background: lightgreen;
}

.calendarWidget div.fullCalendar .today.fullCalendarEventfulDay {
  border-color: green;
}

/* Navigation */
.wi-navigation-textlinks {
  padding: 6px 0 0 0;
  vertical-align: middle;
}

.wi-navigation-textlinks span {
  font-size: 1.425em;
}

.wi-navigation-textlinks span:after {
  content: "|";
}

.wi-navigation-textlinks span:last-child:after{
   content:none;
}

.wi-container {
  @extend .co-widget; 
}

.wi-content {
  @include padding;
  &.short{
   height:400px;
   overflow: auto;
  }
  ul{
    color:#0F0E13;
    font-weight:300;
    margin-left:15px; 
   
    li{
     padding-top: 5px;
     list-style-type:disc;
    }
  }  
}

/* frontpage widgets */
.wi-messages{
 
 .wi-message{
   max-height:3.2em;
   overflow: hidden; 
   font-size:13px; 
   margin-bottom:5px;
    
   &:not(:last-child) {
     padding-bottom:5px;
     border-bottom:1px solid #f7fdff;
   }
    .wi-message-caption{ 
   
     &:hover {
     
       a {
         color:#0099ff;
       }
       
     } 
   
     a {
       color:#3c77a0;
       text-decoration:none;
     }
   
   }
   
  &.unread{
  
    &:hover {
    
      a:hover {
        color:#00c5cc;
      }
    
    }

    .wi-message-caption{
      font-weight:bold;
      a{color:#036f73;}
   }  
   .icon-envelope:before{

    }   
  }
 }

 .wi-message-content{
   color:#3a3a3a;
   overflow:hidden !important;
   text-overflow: ellipsis;   
   max-height:70px;
 }
}

.wi-courses{

   li{
     overflow:hidden !important;
     text-overflow: ellipsis;   
     
     a{
      color: #3c77a0;
      text-transform: uppercase;  
      text-decoration:none; 
     }
     
   }
   
}

#searchResults{
  .ui-autocomplete {
    cursor: default;
    position:static;
  }
}

.sk-autocomplete-item-container{
	background-color:#e3e3e3;
	padding:10px;
}

div[class*="sk-autocomplete-item"]{
 padding-left:5px;
	 *{
	  font-family: 'Open Sans',Verdana, sans-serif;
	 }
}

div[class*="sk-autocomplete-item"]:before {
 display:inline-block;
 font-size:1.1em;
 margin-top:5px;
 padding: 5px;
 color:#fff;
 margin-right:10px;
 background-color:#2e89c0;
}

.sk-autocomplete-item-image{

}

.sk-autocomplete-item-link{
  text-decoration:none;
}

.sk-autocomplete-item-label{
  font-size:1em;
}

.sk-hideResults{
 with:0;
 height:0;
 opacity:0;
}

#filterSelectList {
	width:100%;
}

iframe[id^='twitter-widget-']{
 width:100% !important;
}
