/* Widgets */


/* General styles with selectors */


div[data-name*='index.content'] > div:not(:first-child) {
  margin-top:10px;
}

div[data-name*='environment.content'] > div:not(:first-child) {
  margin-top:10px;
}

div[class*='action'] {
  float:left;
}

div[class*='action']:not(:first-child) {
  margin-left:10px;
}

div[class*='action-vertical'] {
  float:none !important; 
}

div[class*='action-vertical']:not(:first-child){
  margin-top:10px !important;
}

div[class*='actions'] {
  @include gradient-top-bottom(#fff,#f8f8f8,#fff);	
  float:none;
  margin-left:0 !important;
}

div[class*='actions-vertical'] {
  @include gradient-top-bottom(#fff,#f8f8f8,#fff); 
  float:right;
  margin-left:0 !important;
}

/* staticNaviDock  */

div[class*="wi-dock-static-navi"]{
 float:left;
}

/* Containers */

.dock-static-container{}

.dock-workspace-container {
  @include gradient-top-bottom;
  @include rounded-bottom-left; 
  @include rounded-bottom-right;
  @include border;
  border-top:0;
  padding:13px;
}

.newCalendarWidget {
  display: inline-block;
}

.newCalendarButton {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/calendar-settings.png');
}

.newCalendarButton:hover {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/calendar-settings.png');
}

.newEventWidget {
  display: inline-block;
}

.newEventButton {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/calendar-settings.png');
}

.newEventButton:hover {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/calendar-settings.png');
}

.calendarSettingsButton {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/calendar-settings.png');
}

.calendarSettingsButton:hover {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/calendar-settings.png');
}

.calendarsVisibleButton {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/calendar-visible.png');
}

.calendarsVisibleButton:hover {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/calendar-visible.png');
}

.naviIconHome {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-home.png');
}

.naviIconHome.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-home.png');
}

.naviIconHome:hover {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-home.png');
}

.naviIconStudents {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-students.png');
}

.naviIconStudents.disabled {
  opacity:0.5;
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-students.png');
}

.naviIconStudents:hover {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-students.png');
}

.naviIconCoursePicker {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-coursepicker.png');
}

.naviIconCoursePicker.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-coursepicker.png');
}

.naviIconCoursePicker:hover {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-coursepicker.png');
}

.naviIconForum {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-forum.png');
}

.naviIconForum.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-forum.png');
}

.naviIconForum:hover {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-forum.png');
}

.naviIconDiary {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-diary.png');	
}

.naviIconDiary.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-diary.png'); 
}

.naviIconDiary:hover {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-diary.png'); 
}
    
.naviIconCommunicator {
  @include naviIcon(); 	
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png');     
}

.naviIconCommunicator.disabled {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png'); 
}

.naviIconCommunicator:hover {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png');  
}

.naviIconStudyTracker {
  @include naviIcon(); 	
  @include background-image('gfx/icons/32x32/actions/navigate-studytracker.png');   
}

.naviIconStudyTracker.disabled {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/navigate-studytracker.png');    
}

.naviIconStudyTracker:hover {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/navigate-studytracker.png');   
}

.naviIconCalendar {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-cal.png');   
}

.naviIconCalendar.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-cal.png');    
}

.naviIconCalendar:hover {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/navigate-cal.png');     
}


.naviIconLogout {
  @include customIcon(25px,20px);	
  @include background-image('gfx/icons/32x32/actions/navigate-logout.png');  
  float:right;
}

.naviIconSettings {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/navigate-settings.png');    
  float:right;      
}

.naviIconStudentGrading {
  @include naviIcon(); 
  @include background-image('gfx/icons/32x32/actions/navigate-student-grading.png'); 	    
}

.naviIconStudentGrading:hover {
  @include naviIcon(); 
  @include background-image('gfx/icons/32x32/actions/navigate-student-grading.png');  
}

/* Settings navigation */

.naviIconSettingsNavigationUsers {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-users.png');  	    
}

.naviIconSettingsNavigationUsers.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-users.png');   
}

.naviIconSettingsUserAdd {
  @include naviIcon(); 	 
  @include background-image('gfx/icons/32x32/actions/settings-users-add.png');   
}

.naviIconSettingsUserAdd.disabled {
  @include naviIcon();   
  @include background-image('gfx/icons/32x32/actions/settings-users-add.png');  
}

.naviIconSettingsNavigationWorkspaces {
  @include naviIcon(); 	
  @include background-image('gfx/icons/32x32/actions/settings-workspaces.png');      
}

.naviIconSettingsNavigationWorkspaces.disabled {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/settings-workspaces.png');    
}

.naviIconSettingsNavigationWorkspaceTypes {
  @include naviIcon(); 
  @include background-image('gfx/icons/32x32/actions/settings-workspace-types.png');	    
}

.naviIconSettingsNavigationWorkspaceTypes.disabled {
  @include naviIcon(); 
  @include background-image('gfx/icons/32x32/actions/settings-workspace-types.png');  
}

.naviIconSettingsNavigationPlugins {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-plugins.png'); 
}

.naviIconSettingsNavigationPlugins.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-plugins.png'); 
}

.naviIconSettingsNavigationRoles {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-roles.png'); 
}

.naviIconSettingsNavigationRoles.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-roles.png'); 
}

.naviIconSettingsNavigationGradingScales {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-grading-scales.png'); 
}

.naviIconSettingsNavigationGradingScales.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-grading-scales.png'); 
}

.naviIconSettingsNavigationCourseIdentifiers {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-course-identifiers.png'); 
}

.naviIconSettingsNavigationCourseIdentifiers.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-course-identifiers.png'); 
}

.naviIconSettingsNavigationPermissions {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-course-identifiers.png'); 
}

.naviIconSettingsNavigationPermissions.disabled {
  @include naviIcon();
  @include background-image('gfx/icons/32x32/actions/settings-course-identifiers.png'); 
}

/* Workspace */

.naviIconWorkspaceNavigationMembers.disabled {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/workspace-navigation-members.png'); 
}

.naviIconWorkspaceNavigationMembers {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/workspace-navigation-members.png'); 
}

.naviIconWorkspaceNavigationMaterials.disabled {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/workspace-navigation-materials.png'); 
}

.naviIconWorkspaceNavigationMaterials {
  @include naviIcon();  
  @include background-image('gfx/icons/32x32/actions/workspace-navigation-materials.png'); 
}

/* Student browser */

.naviIconUser {
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-userprofile.png');
	float:left;
}
	
.naviIconUser.disabled {
  opacity:0.5;
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-userprofile.png');
	float:left;   
}
	
.naviIconUser:hover {
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-userprofile.png');
  float:left;   
}
	
	    
.naviIconMessage { 
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png');
  float: left;
}

.naviIconMessage.disabled {
  opacity: 0.2; 
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png');
  float: left;
}

.naviIconMessage:hover {
  opacity: 0.2; 
  @include customIcon(20px);
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png');
  float: left;
}

.naviIconBookmark { 
  @include customIcon(24px,15px);
  @include background-image('gfx/icons/32x32/actions/tools-bookmark.png');
  float: left;
}

.naviIconBookmark.disabled {
  opacity: 0.2; 
  @include customIcon(24px,15px);
  @include background-image('gfx/icons/32x32/actions/tools-bookmark.png');
  float: left;
}

.naviIconBookmark:hover {
  opacity: 0.2; 
  @include customIcon(24px,15px);
  @include background-image('gfx/icons/32x32/actions/tools-bookmark.png');
  float: left;
}

.header-icon-communicator{
  @include background-image('gfx/icons/32x32/actions/navigate-communicator.png'); 
	background-size:15px 10px;
	background-repeat:no-repeat;
	background-position:10px;
	padding-left:30px;
}


/* Calendar */

.calendarSettingsWidget {
  display: inline-block;
}

.calendarSettingsWeekFirstDayContainer {
  padding: 4px;
}


.calendarsVisibleWidget {
  display: inline-block;
}

.visibleCalendars {
  position: absolute;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F3F3F3 50%, #EDEDED 51%, #FFFFFF 100%) repeat scroll 0 0 transparent;
  border: 1px solid #AAAAAA;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 1px 1px 5px #888888;
  margin: 8px;
  padding: 8px;
  z-index: 9999;
}

.visibleCalendarContainer {
  white-space: nowrap;
}

.visibleCalendarContainer label {
  margin-left: 8px; 
}

/* Login */

.loginWidget, .externalLoginWidget {
  background: #ededed;
  padding: 10px; 
  @include rounded(5px);
  text-align: right;
  color: #000;
  font-size: 9px;
  width: 240px;
  float:right;
}

.loggedUserWidget {
  @include rounded(5px);	
  background: #ededed;
  padding: 10px; 
  text-align: right;
  color: #000;
  font-size: 9px;
  width: 240px;
  float:right;
}

.logoutWidget {
  @include rounded;  
  @include gradient-top-bottom;
	text-align: right;
  color: #000;
  padding:6px;
  position: absolute;
  margin-top:96px;
  margin-left:285px;  
}


/* Language */

.languageWidget { 
  position:absolute;
  margin-top:110px;
  margin-left:51px;  
  font-size:1em;
  @include gradient-top-bottom-four($contInteractGr...);
  height: 20px;
  width : 50px;
  border: 2px solid #ededed;
  border-radius: 5px;
}

/* Userprofile */

#userProfileWidget {
  text-align: right;
  color: #000;
  font-size: 10px;
  width: 210px;
  position: absolute;
  top: 5px;
  right: 5px;
}

#userProfileWidgetInfo {
  float: left;
  margin-left: 70px;
}

#userProfileNavigationContainer {
}

.widget {
}

#staticNavigation .widgetSpace {
  height: 40px;
}

.widgetTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}

.calendarWidget {
  width: 570px;
}

.calendarWidget div.fullCalendar {
  width: 100%;
  position: static;
}

.calendarWidget div.fullCalendar table {
  width: inherit;
}

.calendarWidget div.fullCalendar table tr td {
  width: 14.30%;
}

.calendarWidget div.fullCalendar .fullCalendarEventfulDay {
  background: lightgreen;
}

.calendarWidget div.fullCalendar .today.fullCalendarEventfulDay {
  border-color: green;
}

/* Navigation */

.wi-navigation-textlinks {
  padding: 6px 0 0 0;
  vertical-align: middle;
}

.wi-navigation-textlinks span {
  font-size: 1.425em;
}

.wi-navigation-textlinks span:after {
  content: "|";
}

.wi-navigation-textlinks span:last-child:after{
   content:none;
}

/* frontpage widgets */

.wi-frontpage-static-personalTopics { 
  @extend .co-widget; 
  @include gradient-top-bottom(#fff,$hlBgr);
}

.wi-frontpage-static-personalTopics > div:not(:first-child ) {
  margin-left: 10px;
}

.wi-headlines-container {
  background-color: #fff;
  float: left; 
  @include shadow;
  padding: 10px 10px 10px 30px;
}

.wi-headlines-topic {
  font-size: 1.5em;
}

.wi-frontpage-dynamic-info {
}

.wi-news {
}

.wi-news-item-content {
}

.wi-news-item {
  margin-top: 10px;
}

.wi-news-primary-item {
	margin-top:10px;
  @extend .co-widget;
}

.wi-news-primary-item-bottom {
  margin-top:10px;
  @extend .co-widget;
}

.wi-news-secondary-item {
  margin-top:10px;
  @extend .co-widget; 
}

.wi-news-item-picture {
  background-repeat: no-repeat ;
  @include background-image-external('http://farm8.staticflickr.com/7363/9872617353_fb529696e9.jpg');
  background-size:100%;
  height:200px;
  width:200px;
  float:left;
}

.wi-news-item-content-description {
	float:left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;   
	background-color:$aBgr;
}

.wi-frontpage-dynamic-students {
  @extend .co-widget;
}
	
.wi-frontpage-dynamic-students ul {
  padding:20px;
}

.wi-frontpage-dynamic-students li {
  padding:5px;
  @include rounded(5px);
}

.wi-frontpage-dynamic-students li a {
  text-decoration: none;
  color: #000000;
}

.wi-frontpage-dynamic-students li:nth-child(odd) {
  background:#ededed;
}

.wi-frontpage-dynamic-calendar {
  @extend .co-widget;
}

.wi-frontpage-calendar-dynamic {
  background-color:$aBgr;
  height:200px;
}
	
.wi-frontpage-dynamic-wallfeed {
  @extend .co-widget;
 }

.wi-frontpage-dynamic-wallfeed-item {
  padding:5px;
  border:1px solid $brd;
  margin-bottom:1px;
}

.wi-frontpage-dynamic-courses {
  @extend .co-widget;
}

.wi-frontpage-dynamic-courses ul {
  padding:20px;  
}

.wi-frontpage-dynamic-courses li {
  padding:5px;
  @include rounded(5px);
}

.wi-frontpage-dynamic-courses li a {
  text-decoration: none;
  color: #000000;
}

.wi-frontpage-dynamic-courses li:nth-child(odd) {
	background:#ededed;
}

.wi-frontpage-widget-toolarea {
	@include shadow;
	@include rounded(5px);
  @extend .co-settings-floater;
  display:none; 
  padding:5px;
  position:relative;
  float:right;
  top:-15px;
  right:-15px; 
}

.wi-frontpage-widget-toolarea div {
  float:right;
}

.wi-settings-move {
}

.wi-settings-move-link {
  @include customIcon(20px);
  @incude background-image('gfx/icons/32x32/actions/tools-move.png');
  display:block;
  margin-left:10px;
}

.wi-settings-remove {
  
}

.wi-settings-remove-link {
  @include customIcon(20px);
  @incude background-image('gfx/icons/32x32/actions/tools-remove.png');
  display:block;
  margin-left:10px;
}

.wi-settings-edit {
  
}

.wi-settings-edit-link {
  @include customIcon(20px);
  @incude background-image('gfx/icons/32x32/actions/tools-settings.png');
  display:block;
  margin-left:10px;
}

.wi-user-info {
	
}

.wi-user-name {
  font-size:2em;
  font-weight:bold;
  color:#3a374d;
}

.wi-user-functions {
  @extend .co-toolbar;
  height:30px;
}

.sk-autocomplete-item-container{
	background-color:#e3e3e3;
	font-size:1.05em;
	padding:10px;
	@include shadow();
}

.sk-autocomplete-item{
  margin-left:20px;
}

#filterSelectList {
	width:100%;
}
