body.workspace-materials #contentWorkspaceMaterials,
body.workspace-materials-reading #contentWorkspaceMaterialsReading,
body.workspace-materials-management #contentWorkspaceMaterialsManagement {

  /* Material loading */
  .workspace-material-queued-html,
  .workspace-material-loading {
    @include background-image('gfx/workspace-material-loading.gif'); 
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
  }
  
  /* Youtube Lazy loading wrapper */
  .js-lazyyt {
    margin:10px 0;
  }
  
  .muikku-field-save-state-label {
    position:absolute;
    z-index:2;
    margin-top:-16px;
    border-top:1px solid #fff;
    border-radius:3px;
    margin-left:4px;
    padding:4px;
    background:#9cf3c7;
    font-size:12px;
    line-height:12px;
    display:inline-block;
    z-index:999;
  }
  
  .textfield-wrapper {
    display:inline-block;
    position:relative;
  
    span.muikku-text-field-hint {
      display:block;
      visibility:hidden;
      opacity:0;
      position:absolute;
      z-index:2;
      left:4px;
      box-shadow:5px 5px 10px rgba(0, 0, 0, 0.2);
      padding:2px 8px;
      background:#f8ed8e;
      border-top-right-radius:3px;
      border-bottom-right-radius:3px;
      color:#4c4c4c;
      white-space:nowrap;
      font-style:italic;
      transition:opacity 0.2s ease-in-out;
      border-left:3px solid #978c33;
      font-size:14px;
    }

  }
  
  /* Input field and textarea overrides */
  input[type="text"] {
    width:auto;
    height:auto;
    border:3px solid #c9e0fb;
    @include rounded(3px);
    display:inline-block;
    padding:4px 8px;
    transition:border,box-shadow 0.2s,0.2s ease-in-out;
    outline:none;
    font-size:17px;
    color:#0061a2;
    max-width:100%;
    box-shadow:0 0 0px 3px rgba(215,215,215,0.15);
    box-sizing:border-box;
    margin:4px 3px;
    
    &[readonly="readonly"] {
      background: #fcfcfc !important;
      border: 3px dotted #eaeaea !important;
      box-shadow: none !important;
      color: #7c7c7c !important;
      
      &:hover {
        border: 3px dotted #eee;
        box-shadow:none;
        color:#555555 !important;
      }

    }
    
    &:focus,
    &:hover {
      border:3px solid #97bfed;
      box-shadow:0 0 0px 3px rgba(202,225,252,0.75);
      
      span.muikku-text-field-hint {
        display:block;
        border-bottom-left-radius:3px;
        border-bottom-right-radius:3px;
        background:#0099ff;
        color:#fff;
        font-size:12px;
      }

    }
    
    &::-webkit-input-placeholder {
      color:#b4b4b4;
      font-style:italic;
    }
    
    &:-moz-placeholder { /* older Firefox*/
      color:#b4b4b4;
      font-style:italic;
    }
    
    &::-moz-placeholder { /* Firefox 19+ */ 
      color:#b4b4b4;
      font-style:italic;
    }
     
    &:-ms-input-placeholder { 
      color:#b4b4b4;
      font-style:italic;
    }
    
    &::input-placeholder {
      color:#b4b4b4;
      font-style:italic;
    }
    
  }
  
  textarea {
    height:auto;
    border:3px solid #c9e0fb;
    @include rounded(3px);
    display:inline-block;
    padding:4px 8px;
    transition:border,box-shadow 0.1s,0.2s ease-in-out;
    outline:none;
    font-size:17px;
    color:#4c4c4c;
    width:100%;
    max-width:100%;
    box-shadow:0 0 0px 3px rgba(215,215,215,0.15);
    box-sizing:border-box;
    text-align:left;
    margin:0;
    line-height:1.7em;
    
    &[readonly="readonly"] {
      background: #fcfcfc !important;
      border: 3px dotted #eaeaea !important;
      box-shadow: none !important;
      color: #7c7c7c !important;
      
      &:hover {
        border: 3px dotted #eee !important;
        box-shadow:none !important;
        color:#555555 !important;
      }
    }
    
    &:focus,
    &:hover {
      border:3px solid #97bfed;
      box-shadow:0 0 0px 3px rgba(202,225,252,0.75);
    }

  }

  /* Select and Option field overrides */
  select {
    background:#fff;
    border:3px solid #c9e0fb;
    transition:border,box-shadow 0.1s,0.2s ease-in-out;
    outline:none;
    color:#0061a2;
    display:inline-block;
    margin:4px;
    box-shadow:0 0 0px 3px rgba(215,215,215,0.15);
    @include rounded(3px);
    max-width:100%;
    word-wrap:break-word;
    vertical-align:middle;
   
    &:focus,
    &:hover {
      border:3px solid #97bfed;
      box-shadow:0 0 0px 3px rgba(202,225,252,0.85);
    }
    
    &[disabled="disabled"] {
    
      &:hover {
        border:3px solid #c9e0fb;
        box-shadow:0 0 0px 3px rgba(215,215,215,0.15);
      }
    
    }
  
    option {
      background:#fff;
      font-weight:300;
      padding:4px 8px;
    }
    
  }
  
  /* Radio button and Check box wrapper Span */
  span.radiobutton-horizontal,
  span.checkbox-horizontal {
  
    > span {
      display:inline-block;
    }
  
  }
  
  span.radiobutton-vertical,
  span.checkbox-vertical {
    display:inline-block;
    vertical-align:middle;
    
    > span {
      display:block;
    }
    
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin:0 10px;
    background:#fff;
    transition:border,box-shadow 0.1s,0.2s ease-in-out;
    outline:none;
    display:inline-block;
    box-shadow:0 0 1px 3px rgba(215,215,215,0.15);
    @include rounded(3px);
    display:inline-block;
    
    &:focus,
    &:hover,
    &:checked {
      box-shadow:0 0 1px 3px rgba(202,225,252,0.85);
    }
    
    &[disabled="disabled"] {
  
      &:hover {
        box-shadow:0 0 1px 3px rgba(215,215,215,0.15);
      }
      
      &:checked {
        box-shadow:0 0 1px 3px rgba(202,225,252,0.85);
      }
    
    }
    
  }
  
  input[type="text"],
  textarea,
  select {
  
    &.muikku-field-unsaved {
      border:3px solid #e4e630;
      box-shadow:0 0 1px 3px rgba(202,225,252,0.25);
      
      &:hover {
        border:3px solid #e4e630;
      }
    }
    
    &.muikku-field-saving {
      animation: saving-fields 4s ease infinite;
      box-shadow:0 0 1px 3px rgba(202,225,252,0.25);
    }

    &.muikku-field-saved {
      border:3px solid #9cf3c7;
      box-shadow:0 0 1px 3px rgba(202,225,252,0.25);
      
      &:hover {
        border:3px solid #9cf3c7;
      }
      
    }

  }
  
  .muikku-select-field,
  .muikku-checkbox-field {
  
    &.muikku-field-unsaved {
    
      input[type="checkbox"],
      input[type="radio"] {
        box-shadow:0 0 1px 3px #e4e630;
        
        &:hover {
          box-shadow:0 0 1px 3px #e4e630;
        }
      
      }
      
    }
    
    &.muikku-field-saving {
    
      input[type="checkbox"],
      input[type="radio"] {
        animation: saving-checkbox-radio 4s ease infinite;
        box-shadow:0 0 1px 3px #e4e630;
      }
      
    }

    &.muikku-field-saved {
    
      input[type="checkbox"],
      input[type="radio"] {
        box-shadow:0 0 1px 3px #9cf3c7;
      
        &:hover {
          box-shadow:0 0 1px 3px #9cf3c7;
        }
        
      }
      
    }

  }
  
  blockquote {
    font-family:'Open Sans', Arial, sans-serif;
    font-style:italic;
    padding:2px 0;
    border-style:solid;
    border-color:#eee;
    border-width:0;
    color:#777;
    font-size:22px;
    margin:0 40px 0 40px;
  
    p {
      margin:10px 0 10px 0;
    }
  
  }
  
  .cke_contents_ltr blockquote {
    padding-left:20px;
    padding-right:8px;
    border-left-width:8px;
  }
  
  .cke_contents_rtl blockquote {
    padding-left:8px;
    padding-right:20px;
    border-right-width:8px;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    word-wrap:break-word;
  }
  
  em,
  i {
    font-style:italic;
    font-weight:300;
  }
  
  strong,
  b {
    font-weight:400; /* This is set to 'normal' because we use thinner font with text rendering */
    font-style:inherit;
  }

  /* This is for material's management and reading views */
  table {
    margin:initial;
    padding:initial;
    font-size:15px;
  }

  table[cellspacing] {
    border-collapse:separate;
    border-spacing:50px;
  }
  
  table[cellpadding] td{
    border-collapse:separate;
    padding:50px;
  }
  
  @for $i from 0 through 49 {
    table[cellspacing="#{$i}"] {
      border-spacing:#{$i}px;
    }
    
    table[cellpadding="#{$i}"] td {
      padding:#{$i}px;
    }
  }
  
  td {
    padding:initial;
    margin:initial;
    width:auto;
    max-width:100%;
  }
  
  label {
    display:inline;
    font-weight:300;
  }
  
  /* Content link overrides */
  a {
    color:#4290ea; 
  }
  
  /* UL, LI overrides */
  ul {
    list-style-type:disc;
  }
  
  ol {
     list-style-type:decimal;
  }
  
  ul,
  ol {
    margin:0 20px;
  
    li {
      margin:5px;
/*       line-height:1.5em; */
    }
    
    ol {
      list-style-type:decimal;
    }
    
    ul {
      list-style-type:circle;
    }
  
  }
  
  .clear {
    clear:both;
  }
  
  .muikku-save-page-wrapper {
    text-align:center;
    margin:20px -15px 15px -15px;
    clear:both;
  }
  
  .workspace-materials-view-page {
  
    .correct-answers-count-container {
      display:block;
      margin:5px;
      
      .correct-answers-count-label {
        padding:0px 5px;
        display:inline-block;
      }
      
      .correct-answers-count-data {
        padding:0px 5px;
        display:inline-block;
        font-size:1.4em;
      }
    }
  
    /* Material's Assignment Submit Buttons */
    button {
      color:#fff;
      background:#71bced;
      box-shadow:none;
      border:0;
      border-radius:2px;
      font-weight:400;
      text-transform:uppercase;
      padding:12px;
      transition:background 0.8s ease-in-out;
      margin:0 5px 5px 5px;
      min-width:120px;
      outline:none;
      position:relative;
      line-height:1;
      cursor:pointer;
      display:inline-block;
    
      &.muikku-assignment-button {
      
        &.muikku-evaluated-assignment {
          background:#fff;
          color:#666;
          font-style:italic;
          cursor:default;
        }
        
        /* Check Exercise */
        &.muikku-check-exercises {
          background: $exerciseAssignment;
        }
        
        /* Submit Assignment */
        &.muikku-submit-assignment {
          background: $evaluatedAssignment;
        }
        
        /* Withdraw Assingment */
        &.muikku-withdraw-assignment {
          background: darken($evaluatedAssignment,10%);
        }
        
        /* Update Assignment */
        &.muikku-update-assignment {
          background: lighten($evaluatedAssignment,5%);
        }
        
      }
      
      /* Show Correct Answers */
      &.muikku-show-correct-answers-button,
      &.muikku-hide-correct-answers-button {
        background: $exerciseCorrectAnswersOnRequest;
      }
      
    }

    /* For textfields/memofields/selections checks */
    input[type="text"].muikku-field-correct-answer,
    textarea.muikku-field-correct-answer,
    select.muikku-field-correct-answer {
      box-shadow:0 0 1px 3px rgba(0,255,42,0.3) !important;
      border:3px solid #00ff2a !important;
      @include rounded(3px);
      
      &:hover {
        box-shadow:0 0 2px 3px rgba(0,255,42,0.3) !important;
        border:3px solid #00ff2a !important;
      }
      
    }
    
    input[type="text"].muikku-field-incorrect-answer,
    textarea.muikku-field-incorrect-answer,
    select.muikku-field-incorrect-answer {
      border:3px solid #f64e4e !important;
      box-shadow:0 0 1px 3px rgba(255,0,0,0.3) !important;
      @include rounded(3px);
      
      &:hover {
        border:3px solid #f64e4e !important;
        box-shadow:0 0 1px 3px rgba(255,0,0,0.3) !important;
      }
      
    }
    
    /* For connectfields checks */
   div.muikku-connect-field.muikku-field-correct-answer {
      box-shadow:none !important;
      border:none !important;
      
      &:hover {
        box-shadow:none !important;
        border:none !important;  
      }
      
      .muikku-connect-field-counterpart.muikku-connect-field-correct-answer, 
      .muikku-connect-field-term.muikku-connect-field-correct-answer {
        background:#55fc70;
      }
      
    }
    
    div.muikku-connect-field.muikku-field-incorrect-answer {
      box-shadow:none !important;
      border:none !important;
      
      &:hover {
        box-shadow:none !important;
        border:none !important;  
      }
      
      .muikku-connect-field-counterpart.muikku-connect-field-wrong-answer, 
      .muikku-connect-field-term.muikku-connect-field-wrong-answer {
        background:#f64e4e;
        
        &.muikku-connect-field-term-selected {
          background:#3dc7ff;
          color:#fff;
          font-weight:400;
        }
        
      }
      
      /* Connect field's correct answer's styling is required here as we mark 
      wrapping element to be incorrect when checking exercise */
      .muikku-connect-field-counterpart.muikku-connect-field-correct-answer, 
      .muikku-connect-field-term.muikku-connect-field-correct-answer {
        background:#55fc70;
      }
      
    }
    
    /* For organizerfields checks */
    div.muikku-organizer-field {
      
      .muikku-category.muikku-field-correct-answer {
        box-shadow:0 0 1px 3px rgba(0,255,42,0.3);
        border:3px solid #00ff2a;
        @include rounded(3px);
        
        &:hover {
          box-shadow:0 0 2px 3px rgba(0,255,42,0.3);
          border:3px solid #00ff2a;
        }
        
      }
      
      .muikku-category.muikku-field-semi-correct-answer {
        box-shadow:0 0 1px 3px rgba(218,153,61,0.3);
        border:3px solid #dab33d;
        @include rounded(3px);
        
        &:hover {
          box-shadow:0 0 1px 3px rgba(218,153,61,0.3);
          border:3px solid #dab33d;
        }
        
      }
      
      .muikku-category.muikku-field-incorrect-answer {
        border:3px solid #f64e4e;
        box-shadow:0 0 1px 3px rgba(255,0,0,0.3);
        @include rounded(3px);
        
        &:hover {
          border:3px solid #f64e4e;
          box-shadow:0 0 1px 3px rgba(255,0,0,0.3);
        }
  
      }
      
    }
    
    /* For sorterfields checks */
    div.muikku-sorter-field {
      
      .muikku-sorter-items-container.muikku-field-correct-answer {
        box-shadow:0 0 1px 3px rgba(0,255,42,0.3);
        border:3px solid #00ff2a;
        @include rounded(3px);
        
        &:hover {
          box-shadow:0 0 2px 3px rgba(0,255,42,0.3);
          border:3px solid #00ff2a;
        }
        
      }
      
      .muikku-sorter-items-container.muikku-field-semi-correct-answer {
        box-shadow:0 0 1px 3px rgba(218,153,61,0.3);
        border:3px solid #dab33d;
        @include rounded(3px);
        
        &:hover {
          box-shadow:0 0 1px 3px rgba(218,153,61,0.3);
          border:3px solid #dab33d;
        }
        
      }
      
      .muikku-sorter-items-container.muikku-field-incorrect-answer {
        border:3px solid #f64e4e;
        box-shadow:0 0 1px 3px rgba(255,0,0,0.3);
        @include rounded(3px);
        
        &:hover {
          border:3px solid #f64e4e;
          box-shadow:0 0 1px 3px rgba(255,0,0,0.3);
        }
  
      }
      
      .muikku-sorter-items-container {
      
        .muikku-sorter-item {
        
          &.muikku-field-correct-answer {
            background:#55fc70;
          }
          
          &.muikku-field-incorrect-answer {
            background:#f64e4e;
          }
        
        }
      
      }
      
    }
    
    /* For checkboxes/radiobuttons checks */
    span.muikku-field-correct-answer {
      box-shadow:none !important;
      border:none !important;
      
      input[type="checkbox"],
      input[type="radio"] {
        box-shadow:0 0 1px 3px rgba(0,255,42,0.9) !important;
      }
      
      &:hover {
        box-shadow:none !important;
        border:none !important;  
      }
      
    }
    
    span.muikku-field-incorrect-answer {
      box-shadow:none !important;
      border:none !important;
      
      input[type="checkbox"],
      input[type="radio"] {
        box-shadow:0 0 1px 3px rgba(255,0,0,0.7) !important;
      }
      
      &:hover {
        box-shadow:none !important;
        border:none !important;  
      }
      
      input[type="checkbox"].muikku-field-correct-answer-override,
      input[type="radio"].muikku-field-correct-answer-override {
        box-shadow:0 0 1px 3px rgba(0,255,42,0.9) !important;
        border:3px solid #00ff2a !important;
        @include rounded(3px);
        
        &:hover {
          box-shadow:0 0 1px 3px rgba(0,255,42,0.9) !important;
          border:3px solid #00ff2a !important;
        }
      
      }
      
    }
    
    span.muikku-field-examples {
      border-radius:3px;
      padding:3px;
      width:auto;
      background:#e2ffe2;
      font-style:italic;
      margin:1px 3px 1px 3px;
      display:inline-block;
      
      span.muikku-field-examples-title {
        font-weight:600;
        margin:0px 6px;
      }
      
      span.muikku-field-example {
        margin:3px 0px 3px 5px;
        padding:0 8px;
        border-left:1px solid #439ba0;
        display:inline-block;
        line-height:1.5;
        
        &:last-child {
          
        }
      }
      
    }

    .muikku-page-assignment-type {
      padding:0px 8px;
      border-radius:2px;
      color: #fff;
      text-align: center;
      text-transform:uppercase;
      display:inline-block;
      margin:15px 0 0 -36px;
      font-weight:400;
      
      &.assignment {
        background: $evaluatedAssignment;
      }
      
      &.exercise {
        background: $exerciseAssignment;
      }
    }
  
  }
  
  mark[data-muikku-word-definition] {
    border-bottom:1px dashed #007925;
    color:#007925;
    background: transparent;
    cursor:help;
    font-weight:400;
    position:relative;
    
    &:hover:after {
      background: #c4ffd6 none repeat scroll 0 0;
      border: 2px solid #fff;
      border-radius: 3px;
      bottom: 25px;
      box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
      color: #000;
      content: attr(data-muikku-word-definition);
      font-size: 14px;
      font-weight: 300;
      left: -10px;
      line-height: 1.5em;
      max-width: 400px;
      min-width: 200px;
      padding: 5px 10px;
      position: absolute;
    }
    
  }
  
  .clear {
    clear:both;
  }
  
}

/* Different reading view's overrides */

body.workspace-materials #contentWorkspaceMaterials {
  
  /* Save answers button's font-size under basic view */
  .workspace-materials-view-page {
  
    button.muikku-assignment-button {
      font-size:14px;
    }
    
    button.muikku-show-correct-answers-button,
    button.muikku-hide-correct-answers-button {
      font-size:14px;
    }
  
  }

  /* Textfield example answers under basic view */
  span.muikku-field-examples {
    font-size:13px;
  }
  
  /* Assigment type indicators under basic view */
  .muikku-page-assignment-type {
    font-size: 12px;
  }
  
  .clear {
    clear:both;
  }
  
}

body.workspace-materials-reading #contentWorkspaceMaterialsReading {
  
  /* Save answers button's font-size under reading view view */
  .workspace-materials-view-page {
  
    button.muikku-assignment-button {
      font-size:16px;
    }
    
    button.muikku-show-correct-answers-button,
    button.muikku-hide-correct-answers-button {
      font-size:16px;
    }
  
  }
  
  /* Textfield example answers under reading view */
  span.muikku-field-examples {
    font-size:15px;
  }

  /* Assigment type indicators under reading view */
  .muikku-page-assignment-type {
    font-size: 14px;
  }
  
  .clear {
    clear:both;
  }
  
}
