@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */

body { 
  
  main {
  
    .context-wrapper {

      section.section-for-articles {
         
        article {
        
          header {
  
            .article-image {
              overflow:hidden;
              width:100%;
              min-height:160px;
              max-height:200px;
              background-position:center center;
              background-size:150%;
              opacity:1;
            
              &.image1 {
                @include background-image('/gfx/article-default-image1.png');
              }
              
              &.image2 {
                @include background-image('/gfx/article-default-image2.png');
              }
              
              &.image3 {
                @include background-image('/gfx/article-default-image3.png');
              }
              
              &.image4 {
                @include background-image('/gfx/article-default-image4.png');
              }
              
              &.image5 {
                @include background-image('/gfx/article-default-image5.png');
              }
              
              &.image6 {
                @include background-image('/gfx/article-default-image6.png');
              }
  
            }
  
          }
  
          
        }
         
      }
      
      nav#announcementContextNavigation {

        .gc-navigation-item {
          background:#dff7fe;
          
          a.gc-navigation-title {
            font-weight:300;
            color:#000;
            text-decoration:none;
            font-size:16px;
            display:block;
            padding:8px;
            text-shadow:0 0 5px #fff;
            
            &:hover {
              color:#047094;
            }
          }
          
          .gc-navigation-date {
            font-weight:300;
            font-size:16px;
            margin-top:5px;
            padding-top:5px;
            border-top:1px solid #fff;
            padding:8px;
            background:#f3fcff;
            text-align:right;
          }
        
        }
      
      }

    }
  
  }
  
}
  