@import "_custom-ckeditor-styles.scss";
@import "_fonts.scss";



body {
  font-family: 'Open Sans',Verdana, sans-serif;
  line-height:1.5em;
  color: #2c2c2c;
  background-color: #fff;
  margin:0 auto;
  padding:10px 30px;
  font-weight:300;
  
  h1.cke_panel_grouptitle {
    margin:0 !important;
  }
  
  .cke_panel_listItem.cke_selected { /* Rules for styles and format dropdowns selected items */

   > a {
      background:#72c1f5;
      outline:none;
      border:0;
      box-shadow:none;
    }
  
  }
  
  &.cke_editable {
    font-size:18px;
    line-height:1.5em; 
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin:40px 0 20px 0;
    color:#38393a;
    font-weight:300;
    text-transform:none;
    line-height:1.3em;
    
    &:first-child {
      margin:20px 0 20px 0;
    }

  }
  
  h1 {
    font-size:31px;
  }
    
  h2 {
    font-size:27px;
  }
  
  h3 {
    margin:20px 0 20px 0;
    font-size:24px;
  }
  
  h4 {
    margin:20px 0 20px 0;
    font-size:22px;
  }
  
  p {
    margin:20px 0 20px 0;
    line-height:1.7em;
  }
  
}

blockquote {
  font-family: 'Open Sans',Verdana, sans-serif;
  font-style:italic;
  padding:2px 0;
  border-style:solid;
  border-color:#eee; 
  border-width:0;
  color:#777;
  font-size:22px;
  margin:0 40px 0 40px;

  p {
    margin:10px 0 10px 0;
  }

}

.cke_contents_ltr blockquote {
  padding-left:20px;
  padding-right:8px;
  border-left-width:8px;
}

.cke_contents_rtl blockquote {
  padding-left:8px;
  padding-right:20px;
  border-right-width:8px;
}

a {
  color: #2d69af;
}

b, strong {
  font-weight:400;
  font-style:inherit;
}

ol,ul,dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
  padding: 0 40px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: 1.3em;
}

hr {
  border: 0px;
  border-top: 1px solid #ccc;
}

img.right {
  border: 1px solid #ccc;
  float: right;
  margin-left: 15px;
  padding: 5px;
}

img.left {
  border: 1px solid #ccc;
  float: left;
  margin-right: 15px;
  padding: 5px;
}

pre {
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE7 */
}

.marker {
  background-color: Yellow;
}

span[lang] {
   font-style: italic;
}

figure {
  text-align: center;
  border: solid 1px #ccc;
  border-radius: 2px;
  background: rgba(0,0,0,0.05);
  padding: 10px;
  margin: 10px 20px;
  display: block; /* For IE8 */
}

figure figcaption {
  text-align: center;
  display: block; /* For IE8 */
}