@import "_custom-ckeditor-styles.scss";
@import "_fonts.scss";

body {
  font-family:'Open Sans', Arial, sans-serif;
  line-height:1.5em;
  color: #2c2c2c;
  background-color: #fff;
  margin:0 auto;
  padding:10px 30px;
  font-weight:300;
  
  h1.cke_panel_grouptitle {
    margin:0 !important;
  }
  
  .cke_panel_listItem { /* Rules for styles and format dropdowns selected items */
    
    div.material-styles-block,
    div.material-styles-text {
      margin:0 auto;
      display:block;
    }

    &.cke_selected {
  
     > a {
        background:#72c1f5;
        outline:none;
        border:0;
        box-shadow:none;
      }
    
    }

  }
  
  &.cke_editable {
    font-size:18px;
    line-height:1.5em; 
  }
  
  h1,
  h2,
  h3,
  h4 {
    margin:40px 0 20px 0;
    color:#38393a;
    font-weight:300;
    text-transform:none;
    line-height:1.3em;
    
    &:first-child {
      margin:20px 0 20px 0;
    }

  }
  
  h1 {
    font-size:31px;
  }
    
  h2 {
    font-size:27px;
  }
  
  h3 {
    margin:20px 0 20px 0;
    font-size:24px;
  }
  
  h4 {
    margin:20px 0 20px 0;
    font-size:20px;
    font-weight:400;
  }
  
  p {
    margin:20px 0 20px 0;
    line-height:1.7em;
  }
  
}

blockquote {
  font-family:'Open Sans', Arial, sans-serif;
  font-style:italic;
  padding:2px 0;
  border-style:solid;
  border-color:#eee; 
  border-width:0;
  color:#777;
  font-size:22px;
  margin:0 40px 0 40px;

  p {
    margin:10px 0 10px 0;
  }

}

.cke_contents_ltr blockquote {
  padding-left:20px;
  padding-right:8px;
  border-left-width:8px;
}

.cke_contents_rtl blockquote {
  padding-left:8px;
  padding-right:20px;
  border-right-width:8px;
}

a {
  color: #2d69af;
}

b, strong {
  font-weight:400;
  font-style:inherit;
}

ol,ul,dl {
  /* IE7: reset rtl list margin. (#7334) */
  *margin-right: 0px;
  /* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
  padding: 0 40px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 300;
  line-height: 1.3em;
}

hr {
  border: 0px;
  border-top: 1px solid #ccc;
}

img.right {
  border: 1px solid #ccc;
  float: right;
  margin-left: 15px;
  padding: 5px;
}

img.left {
  border: 1px solid #ccc;
  float: left;
  margin-right: 15px;
  padding: 5px;
}

pre {
  white-space: pre-wrap; /* CSS 2.1 */
  word-wrap: break-word; /* IE7 */
}

.marker {
  background-color: Yellow;
}

span[lang] {
   font-style: italic;
}

a > img {
  cursor:-webkit-zoom-in;
  cursor:-moz-zoom-in;
}

figure.image {
  margin:5px;
  position:relative;
  width:auto;
  line-height:1;
  
  a > img {
    cursor:-webkit-zoom-in;
    cursor:-moz-zoom-in;
  }
  
  .image-details {
    position:absolute;
    right:0;
    left:auto;
    top:5px;
  }
    
  .icon-copyright {
    display:block;
    
    
    &:before {
      cursor:pointer;
      font-size:26px;
      line-height:1;
      color:#fff;
      background:#0099ff;
      border-radius:100%;
      float:right;
      margin:0 5px 0 0;
    }
    
    .image-details-container {
      display:none;
      margin:30px 0 0 0;
      font-family:'Open Sans', Arial, sans-serif;
      opacity:0.9;
      background:#fff;
      padding:15px 10px;
      font-size:13px;
      
      span.image-details-label {
        padding:0 5px 0 0;
      }
      
      a {
        color:#0099ff;
        padding:0;
        line-height:140%;
        word-wrap:break-word;
      }
      
      span {
        color:#000;
        padding:0;
        line-height:140%;
        word-wrap:break-word;
      }
      
    }
    
    &:hover {
      left:0;
      
      .image-details-container {
        display:block;
      }
    
    }
    
  }

  figcaption {
    max-width:100%;
    background:#f0fbf8;
    font-style:italic;
    font-size:13px;
    padding:4px 8px 8px 8px;
    line-height:130%;
    border-radius:2px;
    box-sizing:border-box;
    text-align:left;
  }
  
}