@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_workspaces-materials-defaults.scss";
@import "_custom-ckeditor-styles.scss";
@import "_connect-field.scss";
@import "_jquery.datepicker.scss";

body.evaluation {
  background:none;
  background-color:#f0f3f5;
  @include background-image('/gfx/light-diagonal-strips.png');
  padding:0.01em; /* Prevent margin collapsing  */
  min-height:100%;
  line-height:1.7em;
  font-size:18px;
  
  > .loading {
    background: #fff none repeat scroll 0 0;
    bottom:0;
    left:0;
    opacity:0.8;
    position:fixed;
    right:0;
    top:0;
    z-index:9999;
  
    &:before {
      @include generic-loader(50px);
      position:absolute;
      top:50%;
      left:50%;
    }
  
  }
  
  .evaluation-navigation-wrapper {
    background:#7ed9ff;
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:50px;
    box-sizing:border-box;
    padding:5px;
    box-shadow:0 4px 5px rgba(169,169,169,0.3);
    z-index: 9999;
    
    .icon-navicon {
      color:#fff;
      font-size:30px;
      display:inline-block;
      padding:4px;
      cursor:not-allowed;
      
      span[class*="tt"] {
         display:none;
      }
      
    }
    
    .evaluation-workspacelisting-wrapper {
      position:absolute;
      left:50px;
      top:0;
      @include flexbox();
      flex-flow:row nowrap;
      align-items:center;
      height:45px;
      padding:0 0 5px 10px;
      cursor:pointer;
      
      .evaluation-current-workspace {
        color:#fff;
        text-transform:uppercase;
        font-size:30px;
        font-weight:300;
        @include flex(1 1 auto);
        padding:1px 0 0 0;
      }
      
      .evaluation-select-workspace {
        @include flex(1 1 auto);
        cursor:pointer;
        padding:15px 10px 10px 10px;
        
        span.icon-arrow-down,
        span.icon-arrow-up {
          color:#fff;
          font-size:22px;
          display:block;
        }
        
      }
      
      .evaluation-available-workspaces {
        color:#fff;
        padding:0 10px;
        box-sizing:border-box;
        border-top:10px solid #8edeff;
        border-bottom:10px solid #8edeff; 
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        background:#8edeff;
        position:absolute;
        clear:both;
        display:block;
        right:0;
        left:0;
        top:50px;
        visibility:hidden; 
        overflow:hidden;
        opacity:0;
        height:0px;
        box-shadow:0 10px 10px rgba(0, 0, 0, 0.1);
        min-width:600px;
        
        &.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
          background-color:#fff;
        }
        
        .evaluation-workspace-item {
          padding:2px 5px;
          border-radius:3px;
          
          &:hover {
            background:#7ad8ff;
          }
        
          a {
            color:#fff;
            text-decoration:none;
            text-transform:uppercase;
            display:block;
          }
        
        }
        
      }

    }
    
    .evaluation-filters {
      position:absolute;
      right:20px;
      top:0;
      padding:5px 0;
      font-weight:300;
      font-size:16px;
      
      .evaluation-filter {
        display:inline-block;
        padding:0;
        margin:0;
        border-radius:3px;
        border-left:1px solid #cfeefb;
        cursor:pointer;
        
        &:first-child {
          border-left:none;
        }
        
        label {
          display:inline-block;
          margin:0 0 0 15px;
          font-weight:300;
          font-size:16px;
          cursor:pointer;
          text-shadow:0 0 10px #fff;
        }
        
        input {
          display:inline-block;
          margin-right:10px;
          margin:0 10px 0 0;
          cursor:pointer;
        }
        
      }
      
    }

  }
  
  .evaluation-content-wrapper {
    position:absolute;
    top:50px;
    left:0;
    right:0;
    bottom:0;
    
    &.loading {

      &:before {
        @include generic-loader(50px);
        position:absolute;
        top:50%;
        left:50%;
        margin:-25px 0 0 -25px;
      }
      
    }
  }
  
  .prevPage,
  .nextPage {
    position:absolute;
    top:0;
    bottom:0;
    z-index: 9998;
    border:0;
    width:40px;
    font-size:26px;
    color:#aaaaaa;
    cursor:pointer;
    background:#eee;
    outline:none;
    transition:background 0.3s ease-in-out;
  
    &:hover {
      color:#57abec;
      background:#fff;
    }
  
  }

  .prevPage {
    left:0;
  }
  
  .nextPage {
    right:0;
  }
  
  .evaluation-students {
    overflow: hidden;
    position: absolute;
    left: 40px;
    right: 40px;
    top: 0px;
    height: 150px;
    white-space: nowrap;
    transition:margin 0.2s ease-in-out;
    
    .evaluation-no-students-found {
      text-align:center;
      font-weight:300;
      font-size:20px;
      font-style:italic;
      position:absolute;
      width:100%;
      top:50%;
      margin:-15px auto 0 auto;
      height:30px;
      text-align:center;
    }
    
    
    .evaluation-student-wrapper {
      width:160px;
      height:130px;
      box-sizing:border-box;
      margin:10px;
      display:inline-block;
      text-align:center;
      transition:opacity 1s ease-in-out, transform 1s ease-in-out;
      position:relative;
      
      &.evaluation-student-loaded {
        opacity: 1;
        transform: rotate(0deg) scale(1, 1);
      }
      
      .workspace-student-joined-date {
        position:absolute;
        width:100%;
        box-sizing:border-box;
        padding:3px 4px;
        background:#fff;
        border-radius:3px;
        line-height:1.3em;
        white-space:normal;
        top:0;
        color:#000;
        font-size:14px;
      }
    
      .workspace-evaluation-requested-date {
        position:absolute;
        width:100%;
        box-sizing:border-box;
        padding:3px 4px;
        border-radius:3px;
        line-height:1.3em;
        white-space:normal;
        top:27px;
        background:#00ccff;
        color:#fff;
        font-size:14px;
      }
      
      .workspace-evaluated-date {
        position:absolute;
        width:100%;
        box-sizing:border-box;
        padding:3px 4px;
        border-radius:3px;
        line-height:1.3em;
        white-space:normal;
        top:54px;
        background:#3cdd2a;
        color:#fff;
        font-size:14px;
      }
      
      /* Workspace has been evaluated by teacher */
      &.workspace-evaluated {
        
        .workspace-evaluated-date {
          background:#3cdd2a;
        }
      
        .evaluation-student-picture {
          box-shadow:0 0 0 5px #3cdd2a;
        }
    
      }
      
      /* Student has sent workspace evaluation request */
      &.workspace-evaluation-requested {
      
        .evaluation-student-picture {
          box-shadow:0 0 0 5px #0099ff;
        }
      
      }
      
      /* Workspace hasn't been evaluated in acceptable time frame and TIME IS RUNNING OUT */
      &.workspace-assessment-critical {
      
        .workspace-evaluation-requested-date {
          background:#de5500;
        }
      
        .evaluation-student-picture {
          box-shadow:0 0 0 5px #de0000;
        }
      
      }
      
      /* Workspace has been reviewed and needs more input from student */
      &.workspace-reviewed-non-passing {
      
        .workspace-evaluated-date {
          background:#ea7401;
        }        
      
        .evaluation-student-picture {
          box-shadow:0 0 0 5px #ea7401;
        }
    
      }
            
      .evaluation-student-picture {
        width:120px;
        height:120px;
        margin:0 auto;  
        box-sizing:border-box;
        @include background-image('gfx/default-user-picture.jpg');
        background-size:cover;
        border-radius:100%;
        background-position:center center;
      }
      
      .evaluation-student-name {
        cursor:pointer;
        width:100%;
        box-sizing:border-box;
        background:#3a86bd;
        color:#fff;
        border-radius:3px;
        font-size:16px;
        white-space:normal;
        position:absolute;
        left:0;
        right:0;
        bottom:0;
        line-height:22px;
        padding:2px;
        transition:background 0.3s ease-in-out;
        
        &:hover {
          box-shadow:0 0 0 5px #c1e8ff;
        }
        
        > span {
          font-size:12px;
          display:block;
        }
      }
    
    }
  }
  
  .evaluation-assignments {
    overflow: hidden;
    position: absolute;
    left: 40px;
    right: 40px;
    top: 150px;
    bottom: 0px;
    white-space: nowrap;
    transition:margin 0.2s ease-in-out;
    
    .ps-scrollbar-y-rail,
    .ps-scrollbar-x-rail {
      z-index:9;
    }
    
    .evaluation-assignment-wrapper {
      width:160px;
      box-sizing:border-box;
      margin:10px;
      display:inline-block;
      text-align:center;
      background:#fff;
      opacity:0.4;
      position:relative;
      border-radius:3px;
      border-top:3px solid #fff;
      box-shadow:0 0 10px 0px rgba(169, 169, 169, 0.2);

      &.assignment-pending {
        opacity:0.1;
      }
      
      &.assignment-loading {
        animation: load-cards 1s infinite ease-in-out;
      }
      
      &:hover {
        box-shadow:0 0 0 5px #c1e8ff;
      }
      
      &.assignment-unaswered {
      }
      
      &.assignment-aswered {
      }
      
      &.assignment-withdrawn {
      }
      
      &.assignment-submitted {
        opacity:1;
        cursor:pointer;
        
        .evaluation-assignment-submitted-date {

        }
        
      }
      
      &.assignment-evaluated {
        opacity:1;
        border-top:3px solid #3cdd2a;
        cursor:pointer;
        
        .evaluation-assignment-evaluated-date {
          color:#1aa00b;
        }
        
        &:hover {
          box-shadow:0 0 0 5px #b7fbc1;
        }
      }
      
      &.assignment-withdrawn {
        border-top:3px solid #cb23c5;
        cursor:pointer;
        
        .evaluation-assignment-evaluated-date {
          color:#1aa00b;
        }
        
        &:hover {
          box-shadow:0 0 0 5px #e69be3;
        }
      }
      
      
      &.assignment-reviewed-non-passing {
        opacity:1;
        border-top:3px solid #ea7401;
        cursor:pointer;
        
        .evaluation-assignment-evaluated-date {
          color:#ea7401;
        }
        
        &:hover {
          box-shadow:0 0 0 5px #ffc58d;
        }
      }
      
      .evaluation-assignment-submitted-date,
      .evaluation-assignment-evaluated-date {
        width:100%;
        box-sizing:border-box;
        padding:2px 4px;
        text-align:right;
        min-height:1.7em;
        font-size:14px;
        line-height:1.3em;
        white-space:normal;
        font-size:12px;
        margin:1px 0;
      }
      
      .evaluation-assignment-title {
        width:100%;
        box-sizing:border-box;
        padding:6px 4px;
        font-size:14px;
        line-height:1.3em;
        white-space:normal;
        border-top:1px solid #f2f2f2;
      }
    
    }
  }

  .evaluation-evaluate-modal-wrapper {
    position:absolute;
    left:0;
    top:56px;
    bottom:0;
    right:0;
    padding:0;
    margin:0;
    border:0px;
    overflow:hidden;

    #evaluationStudentAssignmentWrapper {
      padding:0 20px 0 10px;
      min-width:500px;
      position:absolute;
      top:0;
      right:50%;
      bottom:3px;
      left:10px;
      
      .evaluation-modal-student-wrapper {
        
        .evaluation-modal-workspace-info-wrapper {
          padding:10px 20px;
          font-size:13px;
          background:#ebf7ff;
          position:relative;
          
          .evaluation-modal-workspace-title {
            font-size:20px;
            color:#000;
          }
          
          .evaluation-modal-workspace-educationtype,
          .evaluation-modal-workspace-subject,
          .evaluation-modal-workspace-length {
            text-transform:uppercase;
            display:inline-block;
          
            .title {
              color:#727272;
              display:inline-block;
              margin:0 5px 0 0;
            }
            
            .desc {
              color:#000;
              display:inline-block;
              margin:0 10px 0 0;
            }
            
            .symbol {
              text-transform:none;
            }
          
          }
  
        }
        
        .evaluation-modal-workspace-assignment-info,
        .evaluation-modal-assignment-info {
          
          /* WORKSPACE EVALUATION */
          .evaluation-modal-workspace-assignment-wrapper {
            margin:20px 0 0 0;
            font-size:14px;
            
            .evaluation-modal-workspace-single-assignment {
              .evaluation-assignmentlist-wrapper {
                .evaluation-assignment-title-container {
                  > h2 {
                    border-left:5px solid $evaluatedAssignment;
                  }
                }
              }
            }
            
            .evaluation-modal-workspace-single-exercise {
              .evaluation-assignmentlist-wrapper {
                .evaluation-assignment-title-container {
                  > h2 {
                    border-left:5px solid $exerciseAssignment;
                  }
                }
              }
            }
            
            .evaluation-modal-workspace-single-assignment,
            .evaluation-modal-workspace-single-exercise {
              border-bottom:2px solid #f9f9f9;
              padding:0 0 15px 0;
              margin:0 0 15px 0;
              
              .evaluation-assignmentlist-wrapper {
                clear:both;

                .evaluation-assignment-title-container {
                  position:relative;
                  margin:0;
                  background:#fff;
                  border-radius:3px;
                  color:#000;
                
                  > h2 {
                    font-size:20px;
                    margin:0 120px 0 -5px; 
                    padding:5px 125px 5px 10px;
                    font-weight:300;
                    margin:0;
                    color:#000;
                    cursor:pointer;
                  }
                  
                  .evaluation-assignment-meta {
                    position:absolute;
                    max-width:150px;
                    right:0;
                    top:-6px;
                    text-align:right;
                    padding:0px 10px;
                    white-space:nowrap;
                    
                    .evaluation-assignment-assessmentvalue,
                    .evaluation-assignment-assignmentdone {
                      margin:4px 0 4px 0;
                    }
                    
                  }
                  
                  .evaluation-assignment-exercisedone {
                    position:absolute;
                    max-width:150px;
                    right:0;
                    top:0;
                    text-align:right;
                    padding:8px 10px;
                    white-space:nowrap;
                  }

                }
                
                .evaluation-assignment-content {
                
                  h1,h2,h3,h4,h5,h6 {
                    margin-top:1em;
                  }
                  
                  .evaluation-assignment-literal-assessment {
                    background:#d5ffd2;
                    padding:8px 16px;
                    border-radius:3px;
                    margin:10px 0;
                    
                    &.no-literal-assessment {
                      text-align:center;
                      font-style:italic;
                    }
                  }

                  article {
                    clear:both;
                  
                    h2,h3,h4,h5,h6 {
                      color:#000;
                      font-weight:300;
                      padding:0 0 0 5px;
                      
                    }
                    
                    h2 {
                      border-left:5px solid $evaluatedAssignment;
                      font-size:20px;
                      margin:0 100px 0 -5px; 
                      padding:5px 5px 5px 10px;
                      font-weight:300;
                      margin:0;
                      color:#000;
                    }
                    
                    h3 {
                      font-size:22px;
                    }
                    
                    h4 {
                      font-size:20px;
                    }
                    
                    h5 {
                      font-size:18px;
                    }
                    
                    h6 {
                      font-size:16px;
                    }
                    
                    p {
                      line-height:22px;
                      margin:10px 0;
                    }
                    
                    textarea,
                    input[type="text"] {
                      font-family:'Open Sans', Arial, sans-serif;
                      border-radius:3px;
                      background:#ebf7ff;
                      padding:5px 10px;
                      margin:0;
                      font-weight:300;
                      font-style:italic;
                      border:0px;
                      color:#000;
                      resize:vertical;
                      box-sizing:border-box;
                      
                      &:focus {
                        box-shadow:none;
                        outline:none;
                      }
                      
                    }
                    
                    input[type="text"] {
                      width:auto;
                      margin:2px 0;
                    }
                    
                    input[type="checkbox"],
                    input[type="radio"] {
                      background:#fff;
                      border:3px solid #c9e0fb;
                      border-radius:3px;
                      box-shadow:0 0 0 3px rgba(215, 215, 215, 0.15);
                      display:inline-block;
                      margin:0 10px;
                      outline:none; 
                    }
                    
                    /* Select and Option field overrides */
                    select {
                      background:#fff;
                      border:3px solid #c9e0fb;
                      transition:border,box-shadow 0.1s,0.2s ease-in-out;
                      outline:none;
                      color:#0061a2;
                      display:inline-block;
                      margin:4px;
                      box-shadow:0 0 0px 3px rgba(215,215,215,0.15);
                      @include rounded(3px);
                      max-width:100%;
                      word-wrap:break-word;
                      vertical-align:middle;
                    
                      option {
                        background:#fff;
                        font-weight:300;
                        padding:4px 8px;
                      }
                      
                    }
                    
                    input[checked="checked"] {
                      box-shadow:0 0 0 3px #7bb7fa;
                    }

                    label {
                      display:inline;
                      font-weight:400;
                    }
                    
                    .textfield-wrapper {
                      display:inline-block;
                      position:relative;
                    
                      span.muikku-text-field-hint {
                        display:inline-block;
                        padding:2px 8px;
                        background:#fff8be;
                        border-top-right-radius:3px;
                        border-bottom-right-radius:3px;
                        color:#4c4c4c;
                        white-space:nowrap;
                        font-style:italic;
                        transition:opacity 0.2s ease-in-out;
                        font-size:14px;
                        margin:0 10px 0 0;
                      }
                  
                    }
                    
                  }
                
                  &[data-open-state="closed"] {
                    display:none;
                  }
                
                  &[data-open-state="open"] {
                    display:block;
                  }
                }
              
              }
              
            }
            
          }
              
          /* ASSIGNMENT EVALUATION */
          .evaluation-modal-assignment-wrapper {
            margin:20px 0 0 0;
            font-size:14px;
            
            .evaluation-modal-single-assignment {
              
              article {
                clear:both;
              
                h2,h3,h4,h5,h6 {
                  color:#000;
                  font-weight:300;
                  padding:0 0 0 5px;
                  
                }
                
                h2 {
                  border-left:5px solid $evaluatedAssignment;
                  font-size:20px;
                  margin:0 100px 0 -5px; 
                  padding:5px 5px 5px 10px;
                  font-weight:300;
                  margin:0;
                  color:#000;
                  cursor:pointer;
                }
                
                h3 {
                  font-size:22px;
                }
                
                h4 {
                  font-size:20px;
                }
                
                h5 {
                  font-size:18px;
                }
                
                h6 {
                  font-size:16px;
                }
                
                p {
                  line-height:22px;
                  margin:10px 0;
                }
                
                textarea,
                input[type="text"] {
                  font-family:'Open Sans', Arial, sans-serif;
                  border-radius:3px;
                  background:#ebf7ff;
                  padding:5px 10px;
                  margin:0;
                  font-weight:300;
                  font-style:italic;
                  border:0px;
                  color:#000;
                  resize:vertical;
                  box-sizing:border-box;
                  
                  &:focus {
                    box-shadow:none;
                    outline:none;
                  }
                  
                }
                
                input[type="text"] {
                  width:auto;
                  margin:2px 0;
                }
                
                input[type="checkbox"],
                input[type="radio"] {
                  background:#fff;
                  border:3px solid #c9e0fb;
                  border-radius:3px;
                  box-shadow:0 0 0 3px rgba(215, 215, 215, 0.15);
                  display:inline-block;
                  margin:0 10px;
                  outline:none; 
                }
                
                /* Select and Option field overrides */
                select {
                  background:#fff;
                  border:3px solid #c9e0fb;
                  transition:border,box-shadow 0.1s,0.2s ease-in-out;
                  outline:none;
                  color:#0061a2;
                  display:inline-block;
                  margin:4px;
                  box-shadow:0 0 0px 3px rgba(215,215,215,0.15);
                  @include rounded(3px);
                  max-width:100%;
                  word-wrap:break-word;
                  vertical-align:middle;

                  option {
                    background:#fff;
                    font-weight:300;
                    padding:4px 8px;
                  }
                  
                }
                
                input[checked="checked"] {
                  box-shadow:0 0 0 3px #7bb7fa;
                }
                
                label {
                  display:inline;
                  font-weight:400;
                }
                
                .textfield-wrapper {
                  display:inline-block;
                  position:relative;
                
                  span.muikku-text-field-hint {
                    display:inline-block;
                    padding:2px 8px;
                    background:#fff8be;
                    border-top-right-radius:3px;
                    border-bottom-right-radius:3px;
                    color:#4c4c4c;
                    white-space:nowrap;
                    font-style:italic;
                    transition:opacity 0.2s ease-in-out;
                    font-size:14px;
                    margin:0 10px 0 0;
                  }
              
                }
                
              }
              
            }
          
          }

        }
        
      }
      
    }
    
    #evaluationEvaluateFormWrapper {
      position:absolute;
      padding:0 10px;
      min-width:400px;
      background:#fff;
      top:0;
      bottom:0;
      right:10px;
      left:51%;
      overflow:hidden;
      z-index:10;
      
      header {
        overflow-x: hidden;
        overflow-y: auto;
        max-height:100px;
        padding:0 20px;
      
        .evaluation-modal-evaluateForm-title {
          width:auto;
          margin:0 auto 0 auto; 
          font-weight:300;
          color:#000;
          font-size:24px;
          padding:20px 0 10px 0;
          text-transform:uppercase;
          line-height:1.3em;
          position:relative;
        }
        
        .evaluation-modal-evaluateForm-meta-wrapper {
          padding:0;
        
          .meta-education-type,
          .meta-workspace {
            padding:0px 20px 0 0;
            text-transform:uppercase;
            font-size:14px;
            display:inline-block;
          
            .title {
              color:#727272;
              display:inline-block;
              margin:0 5px 0 0;
            }
            
            .desc {
              color:#000;
              display:inline-block;
            }
          
          }
    
        }
      
      }
  
      .evaluation-modal-evaluateForm-content {
        padding:10px 20px 10px 2px;
        position:absolute;
        bottom:65px;
        top:0px;
        right:10px;
        left:10px;
        border-bottom:1px solid #eee;
        
        label {
          text-transform:uppercase;
          padding:0 0 3px 0;
          font-weight:300;
          font-size:16px;
        }
        
        textarea,
        input[type="text"],
        select {
          border:0;
          border-radius:3px;
          box-sizing:border-box;
          border:5px solid #c3e6fb;
          font-size:16px;
          color:#000;
          outline:none;
          transition:border 0.15s ease-in-out;
          font-family:'Open Sans', Arial, sans-serif;
          font-weight:300;
          
          &:hover,
          &:focus,
          &:active {
            border:5px solid #9cd3f5;
          }
        }

        textarea {
          width:100%;
          height:200px;
          padding:10px;
        }
      
        .evaluation-modal-evaluateForm-literal-eval-wrapper {

        }
        
        .evaluation-modal-evaluateForm-date-wrapper {
          margin:10px 0;
          
        }
        
        .evaluation-modal-evaluateForm-grade-wrapper {
          margin:10px 0;
        }
        
        .evaluation-modal-evaluateForm-basedOfPhenomenon-wrapper {
          margin:10px 0;
        }
        
        .evaluation-modal-evaluateForm-valuer-wrapper {
          margin:10px 0;
        }
        
      }
      
      .evaluation-modal-evaluationFormAction-wrapper {
        text-align:center;
        width:100%;
        bottom:10px;
        position:absolute;
      
        .evaluation-modal-evaluationForm-button {
          border-radius:0px;
          border:0;
          color:#fff;
          font-weight:400;
          padding:5px 15px;
          text-transform:uppercase;
          margin:5px;
          outline:none;
          font-family:'Open Sans', Arial, sans-serif;
          min-width:90px;
          font-size:18px;
        }
        
        #evaluateFormCancelButton {
          background:#7391a7;
        }
        
        #evaluateFormSaveButton {
          background:#27b91c;
        }
        
      }
    }
    
  }

  .evaluation-evaluate-modal {
    background:#fff;
    font-family:'Open Sans', Arial, sans-serif;
    font-size:16px;
    padding:0;
    border:none;
    z-index:9999;
    position:fixed;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background:#fff;
    border-radius:0px;
    border:1px solid #fff;
    overflow:hidden;
    min-width:990px;
    text-transform:none;
    
    &.assignment-evaluation-dialog {
    
      .ui-dialog-titlebar {
        background:#950589;
      }
    
    }
    
    &.workspace-evaluation-dialog {
    
      .ui-dialog-titlebar {
        background:#3a86bd;
      }
    
    }
    
    .ui-dialog-titlebar {
      width:auto;
      margin:0 auto 0 auto; 
      font-weight:300;
      color:#000;
      font-size:28px;
      text-transform:uppercase;
      line-height:1.3;
      position:relative;
      height:40px;
      border:0;
      background:#657e90;
      white-space:nowrap;
      
      .ui-dialog-title {
        background-size:cover;
        display:inline-block;
        position:absolute;
        margin:0;
        top:12px;
        left:10px;
        color:#fff;
        
        span.modal-title-workspace-evaluation,
        span.modal-title-assignment-evaluation {
          display:inline-block;
          padding:0 10px;
          font-size:26px;
          margin:0 50px 0 0;
        }
        
        span.modal-title-student-name {
          font-size:24px;
          display:inline-block;
          margin:0 20px 0 0;
          padding:0 0 0 40px;
          @include background-image('gfx/default-user-picture.jpg');
          background-repeat:no-repeat;
          background-position:left center;
          background-size:contain;
          color:#c9e1f2;
        }
        
        span.modal-title-workspace-name {
          display:inline-block;
          font-size:24px;
          border-left:1px solid #fff;
          padding:0 0 0 20px;
          color:#c9e1f2;
        }
        
      }
      
      .ui-dialog-titlebar-close {
        position:absolute;
        right:0px;
        top:13px;
        border:0px;
        background:transparent;
        z-index:999;
        width:56px;
        height:56px;
        
        span {
          display:none;
        }
        
        &:before {
          color:#fff;
          border-bottom-left-radius:10px;
          cursor:pointer;
          content: "\e63b";
          color:#fff;
          font-size:30px;
          font-weight:normal;
          font-family: 'muikku';
          speak: none;
          font-style: normal;
          text-decoration:none;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        
      }
      
    }
    
   .ui-dialog-content {
     line-height:1;
      
      label.muikku-file-input-field-file-label {
        font-weight:400 !important;
        position:absolute;
        margin-top:-35px;
        margin-left:10px;
        color:#fff;
        font-size:16px;
        line-height:27px;
      }
      
    }
    
    .ui-dialog-buttonpane {
      width:100%;
      max-width:50%;
      min-width:400px;
      bottom:10px;
      right:0;
      position:absolute;
      z-index:999;
      margin:0;
      padding:0;
      border:0px;
      
      .ui-dialog-buttonset {
        float:none;
        position:relative;
        text-align:right;
        padding:0 30px 0 0;
        
        button {
          border-radius:0px;
          border:0;
          color:#fff;
          font-weight:400;
          padding:5px 15px;
          text-transform:uppercase;
          margin:5px;
          outline:none;
          font-family:'Open Sans', Arial, sans-serif;
          min-width:90px;
          font-size:18px;
          float:none;
          
          span {
            padding:0;
          }
        }
        
        button.cancel-evaluation-button {
          background:#7391a7;
        }
        
        button.save-evaluation-button {
          background:#27b91c;
        }

      
      }
      
    }
    
  }
  
  .cke_notification {
  
  } 
  
  .cke_notification_info {
  
  }
  
  p.cke_notification_message {
  
  
    div.draft-restore {
      font-family:"Open Sans", Arial, sans-serif;
      padding:5px 0;
    
      span.draft-label {
        text-transform:uppercase;
        font-size:14px;
        font-weight:400;
        display:block;
        margin:0 0 5px 0;
      }
      
      span.draft-text {
        font-size:14px;
        font-weight:300;
      }
      
      a {
        display:inline-block;
        padding:0 5px;
        color:#fff;
        font-weight:400;
      }
    
    }
    
    div.draft-cancel {
      font-family:"Open Sans", Arial, sans-serif;
      padding:5px 0;
    
      span.draft-label {
        text-transform:uppercase;
        font-size:14px;
        font-weight:400;
        display:block;
        margin:0 0 5px 0;
      }
      
      span.draft-text {
        font-size:14px;
        font-weight:300;
      }
      
      a {
        display:inline-block;
        padding:0 5px;
        color:#fff;
        font-weight:400;
      }
    
    }
  
  }
  
}

/* MATERIAL DEFAULT STYLES */

p, h1, h2, h3, h4, h5, h6 {
  word-wrap:break-word;
}

em,
i {
  font-style:italic;
}

strong,
b {
  font-weight:600; /* This is set to 'normal' because we use thinner font with text rendering */
  font-style:inherit;
}

table {
  border-collapse:separate;
  border-spacing:initial;
  margin:initial;
  padding:initial;
}

td {
  padding:initial;
  margin:initial;
  width:auto;
  max-width:100%;
}

/* Content link overrides */
a {
  color:#4290ea; 
}

/* UL, LI overrides */
ul {
  list-style-type:disc;
}

ol {
   list-style-type:decimal;
}

ul,
ol {
  margin:0 20px;

  li {
    margin:5px;
/*       line-height:1.5em; */
  }
  
  ol {
    list-style-type:decimal;
  }
  
  ul {
    list-style-type:circle;
  }

}