


/*   .fc th, .fc td { */
/*     text-align: center; */
/*   } */


  .fc td.fc-today {
   background-color:#f0f5f8;  
  }  



  .fc-agenda-axis{
    width:70px !important;
  }

.fc-header-title{
  h2{
   margin-top:20px;
  }
}

.fc-agenda-days{
  background-color:#fff;
  
}
/* Small month calendar */

#smallMonthCalendar{
  

   th, td {
    border-style:none;
  }
  
  
  div[data-name="calendar.contentToolsTopRight"] {
    text-align: right;
  }
  
  FullCalendar Month Calendar Overrides 
  
  .monthCalendar {
    background-color:fff;
  }
  .fc-button{
    background: #fff none repeat scroll 0 0;
    color: #c4c4c4;
    cursor: pointer;
    display: inline-block;
    height: 27px;
    line-height: 2.5em;
    width: 44px;
  }
  .fc-toolbar{
    background-color: #AED4E3;
    height:27px;
    margin-bottom:0;
    h2{
      color:#fff;
      font-size:1em;
      margin:0;
    }
    .fc-header-center{
      text-align:center;
    
    }
    .fc-left, .fc-right{
      text-align:center;
      color:#fff;
      span{
       height:27px;
      }

    }
  }

    .fc-basic-view .fc-body .fc-row {
        min-height:0;
    }

  .fc-view-container{
    background-color:#fff;
    border-bottom:1px solid #ededed;
  }

  .fc-widget-title {
    color:#fff;
    text-align:center;
  }

  .fc-day-header{
    text-align:center;  
  }

  .fc-day{
    text-align:center;  
  }

  .fc-state-highlight {
    color: #000;
    z-index:30;
    border-collapse: collapse;
  }

  .fc-other-month {
    background-color: #F0F5F8;
    color:#DDDADA;
  }

  .fc-view-month .moreInfo {
    background: transparent !important;
    border: 0px !important;
    margin: 1px;
  }

  .fc-view-month .moreInfo .fc-event-inner .fc-event-time { 
    display: none;
  }

  .fc-view-month .moreInfo .fc-event-inner .fc-event-title {
    color: #000;
    font-weight: normal;
    text-shadow: none;
    font-size: 12px;
  }

}


#fpDayEvents{
    .fc-event{
      padding-left:15px;
      margin-bottom: 10px;
      border-radius: 25px;
      font-weight: 300;
      font-size: 2em;
      border:none !important;  
      line-height:normal;
      background-color: #AED4E3;    
      position:static !important;
    }

    .fc-today {
     background-color:#fff;  
    }   
   th, td {
    border-style:none;
  }
}

#fpWeekView{

  .fc-view{
    border-left:1px solid #F0F3F4;     
  }
  .fc-head{
   border-top:1px solid #F0F3F4; 
   border-bottom:1px solid #F0F3F4;   
   background-color: #AED4E3;
   height:27px;
   }
   
   .fc-widget-header,.fc-widget-content{
    border-style:none;
   }
   
   .fc-day-header{
     color:#fff;
   }
  
   th, td {
    border-style:none;
  }
  
  .fc-agenda-axis{
         border-right:1px solid #F0F3F4;     
   } 

    thead{
      background-color: #AED4E3;  
      height:27px;
      color:#fff;
    }
  

  
  .fc-event{
   overflow:hidden;
   font-size:7 px;
  }

  
  .fc-widget-header{
    text-align:center;
  }



  .fc-widget-content{
    border-right:1px solid #F0F3F4; 
  }  
  
  .fc-agenda-slots{
    tr:hover{
      background-color:#f0f5f8;
    } 
  }

}

#weekView{
   thead{
    background-color: #AED4E3;  
    height:27px;
    color:#fff;
  } 
  .fc-day{
    border-right:1px solid #F0F3F4; 
  }
}

#monthView{ 
  .fc-day{
     text-align:center;
     font-size:2em;
     line-height:2.5em;
     color:#c4c4c4;
     border-bottom:1px solid #f1f1f1;
     border-right:1px solid #f1f1f1;
     
    &:hover{
     background-color:#cce4ed;
     color:#fff !important;
    }  
      
  }

  .fc-today{
    color:#aed4e3;
    font-weight:700;
    font-size:20px;
   }

  .fc-other-month {
    background-color: #F0F5F8;
    color:#DDDADA;
  }

  .fc-day-header{
    background-color: #AED4E3;  
    height:27px;
    color:#fff;
  }

}

#agendaView{
  margin:5px;

  .fc-day{
   div{
    min-height:auto !important;
   }
  }
  .fc-today {
   background-color:#fff;  
  }     

  thead{
     background-color: #d5e1e6;  
     text-align:center;
     color:#fff;
     font-weight:700;
    
     th{
      padding:5px; 
     }
  
  }
  .fc-widget-content{
    border-right:1px solid #F0F3F4; 
  }  

  .fc-event{
    padding-left:10px;
    background-color:#fff;
    height:30px;
    font-size:1em;
    line-height:30px;
    color:#000;
    border:none;
 
  }
  
  .fc-content-skeleton tr:nth-child(even){
     a{
     background-color:#f7f9fa;
    }  
  }  


}


