@import "_jsf.scss";


@font-face {
  font-family: 'muikku';
  @include font-src('fonts/muikku.eot'); /* IE9 */
  @include font-srcs('fonts/muikku.eot?#iefix','embedded-opentype', /* IE6-IE8 - NOT WORKING!!! JSF libraries do not work with webparams */
  'fonts/muikku.woff','woff', /* Modern Browsers */
  'fonts/muikku.ttf','truetype', /* Safari, Android, iOS */
  'fonts/muikku.svg#muikku','svg'); /* old IOS - NOT WORKING!!! JSF libraries do not work with webparams DEM BASTARDS! */ 
  font-weight: normal;  
  font-style: normal;
  
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'muikku';
  speak: none;
  font-style: normal;
  text-decoration:none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Lets reset the font when text used inside the same element as icon 

- Removed this from working, it interfered with search result

[class^="icon-"] span, [class*=" icon-"] span {
  font-family: 'Open Sans';
  padding-left:4px;
  display:inline-block;

}

*/
.icon-week:before {
  content: "\e600";
}
.icon-month:before {
  content: "\e601";
}
.icon-day:before {
  content: "\e602";
}
.icon-calendaricons:before {
  content: "\e603";
}
.icon-move:before {
  content: "\e604";
}
.icon-dynamic-navi:before {
  content: "\e605";
}
.icon-calendar:before {
  content: "\e606";
}
.icon-bell:before {
  content: "\e607";
}
.icon-books:before {
  content: "\e608";
}
.icon-search:before {
  content: "\e609";
}
.icon-cogs:before {
  content: "\e60a";
}
.icon-envelope-alt:before {
  content: "\e60b";
}
.icon-google-plus:before {
  content: "\e60c";
}
.icon-facebook:before {
  content: "\e60d";
}
.icon-twitter:before {
  content: "\e60e";
}
.icon-envelope:before {
  content: "\e60f";
}
.icon-cog:before {
  content: "\e610";
}
.icon-trash:before {
  content: "\e611";
}
.icon-home:before {
  content: "\e612";
}
.icon-signout:before {
  content: "\e613";
}
.icon-signin:before {
  content: "\e614";
}
.icon-thumbs-up:before {
  content: "\e615";
}
.icon-thumbs-down:before {
  content: "\e616";
}
.icon-reorder:before {
  content: "\e617";
}
.icon-pencil:before {
  content: "\e618";
}
.icon-star:before {
  content: "\e619";
}
.icon-star-empty:before {
  content: "\e61a";
}
.icon-clock:before {
  content: "\e61b";
}
.icon-book:before {
  content: "\e61c";
}
.icon-file:before {
  content: "\e61d";
}
.icon-profile:before {
  content: "\e61e";
}
.icon-user:before {
  content: "\e61f";
}
.icon-eye-blocked:before {
  content: "\e620";
}
.icon-compass:before {
  content: "\e621";
}
.icon-numbered-list:before {
  content: "\e622";
}
.icon-attachment:before {
  content: "\e623";
}
.icon-close:before {
  content: "\e624";
}
.icon-checkmark:before {
  content: "\e625";
}
.icon-arrow-left:before {
  content: "\e626";
}
.icon-arrow-right:before {
  content: "\e627";
}
.icon-arrow-down:before {
  content: "\e628";
}

