/* Lets import all the necessary support files */

@import "_fonts.scss";
@import "_textcontent.scss";
@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_animations.scss";
@import "_commons.scss";
@import "_forms.scss";
@import "_modal.scss";
@import "_buttons.scss";
@import "_widgets.scss"; 
@import "_notif-queue.scss";
@import "_mainfunctions.scss";
@import "_records.scss";
@import "_calendar.scss";
@import "_communicator.scss";
@import "_announcer.scss";
@import "_guider.scss";
@import "_discussion.scss";
@import "_profile.scss";
@import "_coursepicker.scss";
@import "_tasktool.scss";
@import "_dialog.scss";
@import "_connectionlost.scss";
@import "_generic_context-view.scss";


/* CKEditor css rules for modals and form element plugins */
@import "_custom-ckeditor-modal.scss";
@import "_custom-ckeditor-selection-checkbox.scss";

/* jQuery ui custom */
@import "_custom-jqueryui.scss";
/* Note: All in-development- unfinished-temp-styles are in temp.css */

html {
  height: 100%;
  background:none;
}

body {
  margin: 0;
  padding:0 0 30px 0;
  font-family:'Open Sans',Verdana, sans-serif;
  font-size:14px;
  line-height:1.5em;
  @include main-background('gfx/main-background.png','gfx/main-background-slice.png');
  background-repeat:no-repeat,repeat-x;
  background-position: top center, top left;
  color:#2c2c2c;
  &.ui-guidelines {
   background-color:#fff;
   background-image:none;
  }
}




[class^="icon-"] span, [class*=" icon-"] span {
  display: inline-block;
  font-family: "Open Sans" !important;
  padding-left: 4px;
}

[class^="icon-"], [class*=" icon-"] {
  text-decoration:none;  
}

main {
  display:block;
}

.ca-weekDay {
  width:14.28%;
  display:inline-block;
  box-sizing:border-box;
  padding:5px;
  text-align:center;
}

.nopadding {
  padding:0;
}

.hidden {
	display:none;
}

.alignRight {
  text-align:right;
}

h1,h2,h3,h4,h5 {
  color:$header;
  text-transform:uppercase;
  margin:0 0 1em 0;
}

h1 {
  font-size:29px;
}
  
h2 {
  font-size:26px;
}

h3 {
  font-size:19px;
}

h4 {
  font-size:17px;
}

h5 {
  font-size:15px;
}

h6 {
  font-size:13px;
}


/* Subscript & superscript*/

sub{
  vertical-align: sub;
  font-size:70%;
}
sup{
  vertical-align: super;
  font-size:70%;
}


/* TODO: P, a ... */

a.tooltip, a.tooltip-menu {
  outline:none;
}
  
a.tooltip strong {
  line-height:30px;
}
  
a.tooltip > span { 
  @include rounded(3px);
  @include shadow;
  @include tooltipTransition(0.1s,0.1s,0.1s,0.1s);
  @include gradient-top-bottom;
  @include border; 
  position:absolute; 
  color:#000;
  opacity: 0; 
  visibility: hidden; 
  z-index: 10; 
  font-size:1em; 
  font-style: normal;  
}  
 
a.tooltip:hover > span {
  text-align:center;
  opacity: 1;
  padding:15px;
  text-decoration:none; 
  visibility: visible; 
  overflow: visible; 
  @include transitionDirection(25px, 0, 0, 0);
  display: inline; 
}


a.menu-tooltip {
  outline:none;
}
  
a.menu-tooltip strong {
  line-height:30px;
}
  
a.menu-tooltip > span { 
  @include rounded(3px);
  @include shadow;
  @include tooltipTransition(0.1s,0.1s,0.1s,0.1s);
  @include gradient-top-bottom;
  @include border; 
  position:absolute; 
  color:#000;
  opacity: 0; 
  visibility: hidden; 
  z-index: 10; 
  font-size:1em; 
  font-style: normal;   
}  
 
a.menu-tooltip:hover > span {
  opacity: 1;
  padding:15px;
  text-decoration:none; 
  visibility: visible; 
  overflow: visible; 
  @include transitionDirection(17px, 6px, 0, 0);
  display: inline; 
} 

div[class*="tt-menu-link"]:before {
 content:"<-";
}

div[class*="tt-menu-link"] {
	padding:5px;
  color:$naviDynamicColor;
  text-decoration:underline;
}

div[class*="tt-menu-link"]:hover {
  text-decoration:none;
}

div[class*="dock-navi-tt-container"] {
  position:absolute;
  left:0;
  right:0;
  height:0;
  opacity:0;
  margin-left:1px;
  z-index:100;
  background: -moz-linear-gradient(top, rgba(207,238,250,1) 30%, rgba(207,238,250,1) 33%, rgba(207,238,250,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,238,250,1)), color-stop(30%,rgba(207,238,250,1)), color-stop(33%,rgba(207,238,250,1)), color-stop(100%,rgba(207,238,250,0)));
  background: -webkit-linear-gradient(top,  rgba(207,238,250,1) 0%,rgba(207,238,250,1) 30%,rgba(207,238,250,1) 33%,rgba(207,238,250,0) 100%);
  background: -o-linear-gradient(top,  rgba(207,238,250,1) 0%,rgba(207,238,250,1) 30%,rgba(207,238,250,1) 33%,rgba(207,238,250,0) 100%);
  background: -ms-linear-gradient(top,  rgba(207,238,250,1) 0%,rgba(207,238,250,1) 30%,rgba(207,238,250,1) 33%,rgba(207,238,250,0) 100%);
  background: linear-gradient(to bottom,  rgba(207,238,250,1) 0%,rgba(207,238,250,1) 30%,rgba(207,238,250,1) 33%,rgba(207,238,250,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfeefa', endColorstr='#00cfeefa',GradientType=0 );
}

div[class*="dock-navi-tt-container"] > div{
	min-height:230px;
  padding:40px 20px 20px 20px;
  opacity:0.85;
  background-color:#d0eefa;
  @include background-image('gfx/tooltip-arrow.png');
  background-repeat:no-repeat;
}

div[class*="dock-navi-tt-container"] {

  h5, p, div, span {
    color:#000000;
  }
  
  h5 {
    font-size:1.5em;
  }
  
  a {
    color:$link;
  }
  
  ul{
    list-style-type:none;
  }
}

.wi-dock-search{
  display:none;
  width:0;
	font-size: 1.43em;
	margin-left: 55px;
	padding-left:5px;
	position: absolute;
	top: 5px;
	height:70px;
  overflow:hidden;
  opacity:0;
}

.widgetSpace {
  min-height:1px;
}

#headerSmall {
  height:90px;
  color: #fff;
  position:relative;
  
  #headerContainerSmall {
    position:relative; 
    
    #headerLogoTextContainerSmall {
      position:absolute;
      left:0;
      top:0;
      @include background-image('gfx/muikku-header-text-small.png');
      background-repeat:no-repeat; 
      height:90px;
      width:245px;
    }
  
    #headerFishContainerSmall {
      position:absolute;
      left:430px;
      top:10px;
      @include background-image('gfx/muikku-header-fishes.png');
      background-repeat:no-repeat; 
      height:135px;
      width:200px;
    }
  }
}


#headerBig {
  height:150px;
  color: #fff;
  position:relative;  
  
  #headerContainerBig {
    position:relative; 
  
    #headerLogoTextContainerBig {
      position:absolute;
      left:-20px;
      top:10px;
      @include background-image('gfx/muikku-header-text.png');
      background-repeat:no-repeat; 
      height:115px;
      width:380px;
    }
    
    #headerFishContainerBig {
      position:absolute;
      left:330px;
      top:10px;
      @include background-image('gfx/muikku-header-fish.png');
      background-repeat:no-repeat; 
      height:135px;
      width:200px;
    }
  
  }
  
  
}

#feader {
  position:relative;
  top:-10px;
  text-decoration: none;
  font-size:2.4em;    
}

a.header {
  color:#fff; 
  text-decoration: none;
}

/* Navigation */

#dynNaviWrapper {
	position: absolute;
	top: 10px;
	z-index: 14;
}

.wi-dock-dynami-navi-contentBgr {
 position:absolute;
 top:66px;
 left:0;
 width:300px;
 opacity:.95;
 background-color:$dNavBgr;
 z-index:-1;
  
}

#dynamicNaviContainer {
  opacity:0;
  margin-left:-300px;
  z-index:15;
} 

#dynamicNaviContainer {
  div {
    padding:15px;
  }

  .wi-dock-dynami-navi-contentBgr {
    padding:0;
  }

}

#staticNavigationWrapper {
  height:76px;
  z-index:12;
  position:relative;
  background: -moz-linear-gradient(top, rgba(36,108,162,0.15) 0%, rgba(255,255,255,0) 66%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(36,108,162,0.15)), color-stop(66%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, rgba(36,108,162,0.15) 0%,rgba(255,255,255,0) 66%);
  background: -o-linear-gradient(top, rgba(36,108,162,0.15) 0%,rgba(255,255,255,0) 66%);
  background: -ms-linear-gradient(top, rgba(36,108,162,0.15) 0%,rgba(255,255,255,0) 66%);
  background: linear-gradient(to bottom, rgba(36,108,162,0.15) 0%,rgba(255,255,255,0) 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#26246ca2', endColorstr='#00ffffff',GradientType=0);
}

#staticNavigationBG {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:74px;
  z-index:13;
  background:$sNavBgr;
  border-top:1px solid $sNavBrdT;
  border-bottom:1px solid $sNavBrdB;
  opacity:0.5;
}

#staticNavigation {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:56px;
  z-index:14;
  padding:10px;
}

#socialNavigation{
  
  .sn-container{
    background-color:$btBarBgr;
    position:fixed;
    left:0;
    bottom:0;
    right:0;
    z-index:99;

    &.closed{
      min-height:30px;
      opacity:0.9;
     }  
     
    &.open {
      background-color:$btBarBgr;
      min-height:315px;
      border-top:1px solid #fff;
       
      h3 {
        color:#296389;
        font-size:22px;
        font-weight:300;
        margin:0 0 10px;
        text-transform:uppercase;
      }
      
    } 
              
  } 
   
}


/* Styles for waypoints */

#staticNavigationWrapper.stuckStNav {
  position:fixed;
  top:0;
  left:0;
  right:0;
}

.stuckDNav {
  position:fixed !important;
} 

#staticNavigationBG.stNavScrollStyles {
  opacity:0.95; 
  background:$sNavBgrScrll;
}


#sessionPanel {
  position: relative;
}

#headerNavigationPanel {
  position:relative;
  top:100px;
  height:50px;
}


#globalSearchFormIcon {
  height:30px;
  width:30px;
  margin:5px 5px 5px 5px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #888;   
  background-postion:center;
  background-repeat:no-repeat;
  @include background-image('gfx/icons/32x32/actions/navigate-search.png');
}

#content {
  min-height: 800px; 
  margin: 0 auto;
}

.footer-link-wrapper {
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 101;
  height:20px;
  padding:5px 15px;
  font-size:14px;
}

#helpdesk{
  float:right;
  padding: 0 10px;
  text-shadow: 0 0 5px #fff;
}

#guides {
  float:left;
  padding: 0 10px;
  
  a {
    text-decoration: none;
    color: #0099ff;
    text-shadow: 0 0 5px #fff;
    font-weight: 400;
    
    &:hover {
      text-decoration:underline;
    }
  }
  
}

#dynNaviShell {
  z-index:1;
  position:fixed;
  background:#fff;
  margin-left:-339px;
  top:150px;    
  width:300px;
  bottom:0;    
}

#dynamicNaviPersonal {
  position:fixed;
  top:200px;
  margin-left:-300px;
  width:300px;
  bottom:0;   
  box-shadow: 5px 10px 6px -2px $bgr2;
  @include dynNaviGr(#fff,#fff);
  @include dynNaviTransition;
  @include background-image('gfx/icons/32x32/actions/navigate-chevron_r.png');
}

#dynamicNaviPersonal:hover {
  opacity:1;
  visibility:visible;
  margin-left:-40px;
  border:1px dotted $brd1;
  @include dynNaviGr(#fff,$bgr1); 
  @include background-image('gfx/icons/32x32/actions/navigate-chevron_l.png');   
}

.buttonPanel {
  text-align: right;
  margin: 4px 0px 4px 0px;
}

div[data-name="settings.content-sidebar.left"] {
  padding:0;	
}

/* Student browser (.st*) */
.st-filters {
  padding:0 5px 0 5px;
}

.st-content-search-tags {
  padding:10px;	
}

.st-content-search-tags-header {
}

.st-content-search-tags {
  padding:10px; 
}

.st-content-search-tag:first-child {
}

.st-content-search-tag {
  @extend .co-filter;
  @include gradient-top-bottom-four($mainFuncBtnGr...);
  padding:2px 5px 2px 5px;
  float:left;
  margin-left: 5px;
}

.st-content-action-search {
  padding:5px;
}

.st-content-actions {
  padding:5px;
}

.st-content-browser {
}

.st-content-browser > div, 
.st {
  margin-bottom:5px;  
}

.st-content-browser-item {
  background-color:#fff;
  padding:5px;
  @extend .co-widget;
}

.st-content-browser-history {
  padding:20px; 
  @extend .co-widget;
}

.st-content-browser-history-item {
  background-color:#fff;
  padding:5px;
  @extend .co-widget;
}

.st-content-browser-item-effect {
  width:200px; 
  height:200px;
}

.st-content-browser-item a {
 text-decoration:none;
 font-weight:bold;
 font-size:1.4em;
}

.st-content-browser-item-actions {
  background-color:#fff;
  padding:5px;
  @extend .co-widget;
}

.st-content-student-info {
}

.st-content-student-info-actions {
  @extend .co-toolbar;
  @extend .co-widget;
  margin-top:5px;
}

.st-content-student-info-user {
  @extend .co-widget;
}

.st-content-student-info-details {
  @extend .co-widget;
}

.st-content-student-info-details span {
  margin-left:10px;
}

.st-content-student-info-contacts {
  @extend .co-widget;
  margin-top:5px;
}

.st-content-student-info-headlines {
  @extend .co-widget;
  margin-top:5px;
}

.st-info-details-lastLogin {
}

.st-info-details-latestStudy {
}

.st-info-details-latestTask {
}

.st-info-details-contacts {
}

.st-info-details-achievements {
}

.st-info-details-timeLeft {
}

.st-content-student-info-action-message {
}

.st-content-student-info-action-profile {
}

.st-content-student .ui-tabs, 
.ui-tabs-panel {  
  padding:0 !important;
}

.st-content-student-tabs {	
}

.st-content-timeline {
  padding:5px;
}

.st-content-guidanceLog {
  padding:5px;
}

.st-content-guidanceLog-item {
  padding:5px;
  border:1px solid $brd;
}

.st-content-guidanceLog-item-phone {
  background-color:#9c79ff;
}

.st-content-guidanceLog-item-message {
  background-color:#ff79fa;
}

.st-content-guidanceLog-item-evaluation {
  background-color:#ffb27f;
}

.st-content-wallfeed {
  padding:5px;
}

.st-content-wallfeed-item {
  padding:5px;
  border:1px solid $brd;
}

.st-content-wallfeed-item-evaluationRequest {
  background-color:#c7f6ff;
  margin-bottom:5px;
}

.st-content-wallfeed-item-message {
  background-color:#ff79fa;
 margin-bottom:5px;
}

.st-content-wallfeed-item-course {
  background-color:#ffb27f;
  margin-bottom:5px;
}

.wallEntry {
  margin-bottom: 7px;
  padding-bottom: 7px;
  border-bottom: 1px solid #4444aa;
  padding-left: 45px;
  position: relative;
  min-height: 36px;
}

.wallEntryCreator, 
.wallEntryCommentCreator {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.wallEntryDate, 
.wallEntryCommentDate {
  float: right;
}

.wallEntryContent, 
.wallEntryCommentContent {

}

.wallEntryCourseLink, 
.wallEntryForumAreaLink {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.wallEntryComments {
  margin-top: 8px;
  margin-left: 16px;
  margin-bottom: $text;
  background-color: #eeeeff;
}

.wallEntryComment {
  padding-left: 45px;
  position: relative;
  min-height: 36px;
}

.wallEntryCommentTitle, 
.wallEntryTitle {
  padding-top: 4px;
}

.wallEntryFooter {
  color: #4444aa;
}

.wallEntryReplyLink {
  font-weight: bold;
  cursor: pointer;
}
  
.wallEntryUserPicture {
  position: absolute;
  left: 0;  
  margin: 5px;
  width: 25px;
  height: 25px;
}

.wallEntryUserPictureEmpty {
  @include background-image('gfx/default-user-image.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;  
}

.wallEntryGuidanceRequest {
  color: red;
}

.showUserName {
  font-size: 3.2em;
}

/* OAuth */

.oAuthConfirmText {
  text-align: center;
  padding: 16px;
  font-size: 1.3em;
  font-weight: bold;
}

.oAuthConfimButton, 
.oAuthDeclineButton {
  display: block;
  padding: 16px;
  border-radius: 8px;
  font-size: 1.8em;
  text-decoration: none;
  font-weight: bold;
  float: left;  
  margin-left: 45px;
  width: 235px;
}

.oAuthConfimButton {
  background: #efe;
  border: 1px solid #ded;
  color: #292;
}

.oAuthDeclineButton {
  background: #fee;
  border: 1px solid #edd;
  color: #922; 
}

.forumThreadBody {
  position: relative;
  min-height: 80px;
}

.forumThreadReplyBody {
  position: relative;
  min-height: 60px;
}

.forumThreadTitle {
  background-color: #eeeeff;
}

.forumThreadMessage, 
.forumThreadReplyMessage {
  font-size: 1.3em;
  margin-left: 70px;
  margin-top: 8px;
}

.forumThreadTitle {
  font-weight: bold;
}

.forumThreadBody, 
.forumThreadReplyBody {
  border: 1px solid #eeeeff;
  border-radius: 3px;
  margin: 4px;
}

.forumThreadUserImageContainer {
  position: absolute;
  top: 24px;
  left: 4px;
}

.forumThreadReplyUserImageContainer {
  position: absolute;
  top: 4px;
  left: 4px;
}

/* Reset Password */

.reset-password-background {
  @include background-image('gfx/muikku-login-bg.jpg');
  background-position:top center;
  background-size:100%;
  background-repeat:no-repeat;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:997;
}

.reset-password-overlay {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:998;
  background: rgba(0,37,105,0.14);
  background: -moz-linear-gradient(top, rgba(0,37,105,0.14) 0%, rgba(0,27,76,0.5) 28%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,37,105,0.14)), color-stop(28%, rgba(0,27,76,0.5)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(0,37,105,0.14) 0%, rgba(0,27,76,0.5) 28%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(0,37,105,0.14) 0%, rgba(0,27,76,0.5) 28%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(0,37,105,0.14) 0%, rgba(0,27,76,0.5) 28%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(0,37,105,0.14) 0%, rgba(0,27,76,0.5) 28%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002569', endColorstr='#000000', GradientType=0 );
}

.reset-password-wrapper {
  position:absolute;
  top:50%;
  left:50%;
  margin:-240px 0 0 -270px;
  width:500px;
  z-index:999;

  .muikku-logo {
    @include background-image('gfx/muikku-header-text-small.png');
    background-repeat:no-repeat; 
    height:90px;
    width:500px;
    position:relative;
    z-index:999;
  }
  
  .reset-password-container {
    background:#fff;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 100px rgba(0, 0, 0, 0.7);
    
    h1 {
      font-weight:300;
      font-size:26px;
    }
    
    .formElementRow {
      margin:10px 0 0 0;
    
      label {
        font-weight:300;
        text-transform:uppercase;
        font-size:16px;
      }
      
      input[type="password"] {
        font-size:18px;
        font-weight:300;
        padding:8px 16px;
        border-radius:3px;
        line-height:2em;
      }
      
      input[type=submit].reset-password-reset-button {
        font-size:18px;
        font-weight:300;
        padding:8px 16px;
        border-radius:3px;
        border:0;
        background:#27b91c;
        color:#fff;
        margin:10px 0 0 10px;
        line-height:2em;
        float:right;
      }
      
      a.reset-password-cancel-button {
        font-size:18px;
        font-weight:300;
        padding:9px 16px;
        border-radius:3px;
        border:0;
        background:#7391a7;
        color:#fff;
        line-height:2em;
        margin:10px 0 0 10px;
        text-decoration:none;
        text-transform:uppercase;
        display:inline-block;
        float:right;
      }
    
    }
  }

}
