//TODO: This patch doesn't work on any of the IE family browsers
//Before this is merged in production this file must be removed
//With all the deprecated folder contents and all the deprecated
//CSS requires in the files, it is development only

@import "./base/mixins.scss";

[data-clear-styles] {
	all: initial;
	box-sizing: border-box;
	line-height: 1;
	@include prefix(drag, webkit ms o moz, none);
	* {
		all: unset;
		box-sizing: border-box; 
		line-height: 1;
		@include prefix(drag, webkit ms o moz, none);
	}
}