//TODO: This patch doesn't work on any of the IE family browsers
//Before this is merged in production this file must be removed
//With all the deprecated folder contents and all the deprecated
//CSS requires in the files, it is development only

[data-clear-styles] {
	all: initial;
	box-sizing: border-box; 
	* {
		all: unset;
		box-sizing: border-box; 
	}
}