@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_workspaces.scss"; /* Generic workspace styles */
@import "_profile.scss"; /* Profile syles */

body[class^='workspace'] { 
  
  #content {
    position:relative;
    
    > section {
      background:transparent;
      
      > article {
        padding:0;
      }
      
    }
  }
  
  nav.workspace-profile-navigation {
    background:#fff;
    position:absolute;
    top:0;
    right:0;
    width:280px;
    text-align:left;
    font-family:"Open Sans";
    text-shadow:none;
    color:#000;
    font-size:14px;
    line-height:1.5em;
    z-index:11;
    
    &:hover > span {
      display:none;
    }
    
    ul, 
    li {
      list-style:none;
      margin:0;
      padding:0;
    }
  }
  
  article.workspace-profile-content {
    max-width:700px;
    margin:0 300px 0 0;
  }
  
}