@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */

body.workspace { /* We need to remove background image under workspace views */
  background:#ffffff;
  
  h1,h2,h3,h4,h5 {
    color:$title;
    text-transform:uppercase;
    margin:1em 0 1em 0;
    font-weight:300;
  }
  
  #staticNavigationWrapper {
    background:none; /* We need to remove all background rules first */
    @include background-image('gfx/workspace-navigation-background.png'); /* Workspace's navigation's background */
    background-position:250px 0px;
    background-repeat:no-repeat;
    background-color:#32acf6;
    border-bottom:1px solid #ffffff; 
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
  }
  
  #workspaceNavigationWrapper {
    position:fixed;
    top:100px;
    
    #workspaceDockWrapper {
      background:#596e7d;
      @include rounded(3px);
      width:60px;
      box-shadow:0 0 5px rgba(0,0,0,0.25);
      
      #workspaceDock {
        text-align:center;
      }
      
    }
    
    #workspaceMaterialsDockWrapper {
      background:#3d4c56;
      @include rounded(3px);
      width:60px;
      margin-bottom:10px;
      box-shadow:0 0 5px rgba(0,0,0,0.25);
      
      #workspaceMaterialsDock {
        text-align:center;
      }
      
    }
  
  }

  
  .workspaceMetaWrapper {
    font-size:0.9em;
    text-transform:uppercase;
    
    .workspaceStudyLevelIndicator {
      color:#fff;
      display:inline-block;
      margin:0 10px 0 0;
    
      &.indicator1 {
        background:#0099ff;
        border-radius:2px;
        padding:0px 6px;
      }
    
    }
    
    .workspaceMetaTitle {
      color:#7e7e7e;
      display:inline-block;
      margin:0 5px 0 0;
    }
    
    .workspaceMetaDesc {
      color:#000;
      display:inline-block;
      margin:0 10px 0 0;
    }
  }
  
  .workspaceDescriptionWrapper {
    margin:1em 0 1em 0;
    font-size:1.2em;
    font-weight:300;
    
    p {
      margin:1em 0 1em 0;
    }
    
  }
  
}

.wi-dock-workspace-navi-button-materials-toc > .workspace-materials-toc-wrapper {
  border:2px solid #3d4c56;
  @include rounded(3px);
  background:#fff;
  position:absolute;
  left:65px;
  top:0px;
  min-width:300px;
  text-align:left;
  font-family:"Open Sans";
  text-shadow:none;
  color:#000;
  font-size:12pt;
  line-height:1.5em;
  width:auto;
  display:none;
  opacity:0;
  
  &:hover > span {
    display:none;
  }
  
  .workspace-materials-toc-container {
  
    .workspace-materials-toc-title {
      background:#42525c;
      color:#fff;
      text-transform:uppercase;
      font-size:1em;
      padding:10px 12px;
      font-size:13pt;
    }
  
    .workspace-materials-toc-content {
      background:#fff;
      padding:4px 12px;
      max-height:500px;
      overflow-y:auto;
      overflow-x:hidden;
      width:auto;
    
      .workspace-materials-toc-section {
        margin:5px 0 10px 0;
      
        .workspace-materials-toc-subtitle {
          font-weight:bold;
        }
        
        .workspace-materials-toc-item {
          font-weight:300;
        }
      
      }
    
    }
  
  }

}

