@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_custom-ckeditor-styles.scss";
@import "_workspaces.scss"; /* Generic workspace styles */

body[class^='workspace'] { 
  
  .workspace-teachers-listing-wrapper {
    padding:0 20px 20px 20px;
  
    .workspace-users-teacher {
      padding:2px 5px;
    }
  
  }
  
  .workspace-students-listing-wrapper {
    padding:0 20px 20px 20px;
  
    .workspace-users-student {
      padding:2px 5px;
    }
  
  }
  
}
  