@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_workspaces-materials-defaults.scss";
@import "_custom-ckeditor-styles.scss";
@import "_connect-field.scss";

.lazy-pdf {
  height: 882px;
}

.lazy-swf {
  height: 500px;
}

body.workspace-materials-reading {
  background:#8ba4b5;
  padding:0.01em; /* Prevent margin collapsing  */
  min-height:100%;
  line-height:1.7em;
  font-weight:300;
  font-size:18px;
  
  /* WORKSPACE NAVIGATION - FULLSCREEN */
  div[class*='workspace-materials-full-screen-navi-button'] > a,
  div[class*='workspace-materials-full-screen-navi-button'] > span {
    cursor:pointer;
    font-size:30px;
    color:#fff;
    text-decoration:none;
    @include iconShadow;
    background:transparent;
    padding:6px;
    margin:0px;
    display:inline-block;
    position:relative;
    width:34px;
    text-align:center;
  
    span[class*='workspace-materials-full-screen-tt-container-'] {
      opacity:0;
      font-family:"Open Sans";
      font-size:16px;
      height:16px;
      font-weight:300;
      position:absolute;
      top:0px;
      left:-4500px;
      width:0px;
      color:#fff;
      text-transform:uppercase;
      padding:13px 15px 15px 14px;
      @include rounded-top-left(3px);
      @include rounded-bottom-left(3px);
      @include workspaceTooltipTransition(opacity,0.15s,ease-in-out);
    }
      
    &:hover {
      @include iconShadow(rgba(255,255,190,0.5));
      background:transparent;
    }
  }
  
  #workspaceMaterialsReadingTOCWrapper {
    position:fixed;
    left:0;
    top:0;
    bottom:0;

    nav.workspace-waterials-reading-nav {
      width:46px;
      height:100%;
      background:#7893a6;
      position:absolute;
      top:0;
      z-index:36;
      
      .grid_1 {
        float:none;
        width:auto;
        margin:0;
      }
      
    }
    
    #workspaceMaterialsReadingTOCContainer {
      width:350px;
      background:#e8f0f5;
      z-index:26;
      box-shadow : 0 0 25px rgba(0,0,0,0.15);
      position:absolute;
      top:0;
      bottom:0;
      border-left:1px solid #fff;
      line-height:1.5em;
      font-size:14px;
      
      ul,
      li {
        list-style:none;
      }
      
      .workspace-materials-reading-TOC-title {
        padding:12px;
        position:relative;
        
        h1 {
          color:#2c2c2c;
          font-size:20px;
          margin:0;
          padding:0;
        }
        
        #workspaceMaterialsReadingTOCPinicon {
          cursor:pointer;
          font-size:24px;
          color:#2c2c2c;
          text-decoration:none;
          background:transparent;
          padding:6px;
          margin:2px;
          display:inline-block;
          position:relative;
          width:20px;
          @include rounded(3px);
          text-align:center;
          position:absolute;
          right:3px;
          top:3px;
          opacity:0.6;
          -ms-transition: transform 0.2s;
          -moz-transition: transform 0.2s;
          -webkit-transition: transform 0.2s;
          -o-transition: transform 0.2s;
          transition: transform 0.2s;
          
          &:hover {
            opacity:0.7;
            -ms-transform: rotate(10deg); /* IE 9 */
            -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
            -moz-transform: rotate(10deg);
            transform: rotate(10deg);
          }
          
          &.selected {
            opacity:1;
            -ms-transform: rotate(25deg); /* IE 9 */
            -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
            -moz-transform: rotate(25deg);
            transform: rotate(25deg);
          }
          
        }
        
      }
        
      .workspace-materials-toc-content-scrolling {
        width:350px;
        padding:0 6px;
        box-sizing:border-box;
        position:absolute;
        top:40px;
        bottom:0;
    
        .workspace-materials-toc-root {

          .workspace-materials-toc-item {
            list-style:none;
            margin:1px 0;
            
            &:first-child {
              margin-top:5px;
              padding-top:2px;
            }
            
            &.item-hidden {
              opacity:0.4;
            }
            
            a {
              text-decoration:none;
              color:#2c2c2c;
              display:block;
/*                   @include genericMenuLinkHoverTransition(background,0.15s,ease-in-out); */
              @include rounded(2px);
              padding:2px 8px 2px 6px;
              border-left:2px solid #e8f0f5;
              
              &:hover,
              &.active {
                background:#596e7d;
                color:#fff;
              }

              &.evaluated {
                border-left:2px solid $evaluatedAssignment;
              }
              
              &.exercise {
                border-left:2px solid $exerciseAssignment;
              }
              
            }

          }
    
          .workspace-materials-toc-section {
            margin:0;
            padding-top:5px;
            padding-bottom:10px;
            
            .workspace-materials-toc-subtitle {
              margin:0 0 5px 0;
              text-transform:uppercase;
              font-size:15px;
              padding:2px 8px;
              font-weight:400;
              
              &.subtitle-hidden {
                opacity:0.4;
              }
              
            }
            
            .workspace-materials-toc-item {
              list-style:none;
              
              &.item-hidden {
                opacity:0.4;
              }
              
              a {
                text-decoration:none;
                color:#2c2c2c;
                display:block;
/*                     @include genericMenuLinkHoverTransition(background,0.15s,ease-in-out); */
                @include rounded(2px);
                padding:2px 8px;
                
                &:hover,
                &.active {
                  background:#596e7d;
                  color:#fff;
                }
              }
  
            }
          }
        }
      }
    
    }

  } 
  
  #contentWorkspaceMaterialsReading {
    padding-left:60px;
    max-width:700px;
    width:auto;
    margin:0 auto;
    
    & > article > h1 { /* Material's title */
      max-width:640px;
      width:auto;
      background:#fff;
      margin:30px auto -30px auto; 
      font-weight:300;
      color:#000;
      font-size:34px;
      padding:30px;
      text-transform:none;
      line-height:1.3em;
    }
    
    .workspace-materials-view-page-section.material-reading-view { /* <section> */
    
     & > h2 { /* Section's title */
       position:relative;
       z-index:12;
       max-width:640px;
       width:auto;
       border:1px solid #fff;
       background:#ddf5ff;
       margin:30px auto -30px auto; 
       font-weight:300;
       color:#000;
       font-size:30px;
       padding:10px 30px;
       text-transform:uppercase;
       line-height:1.3em;
     }
     
     & > h3, & > h4, & > h5, & > h6 { /* Alternative Section's titles */
       max-width:640px;
       width:auto;
       background:#fff;
       margin:30px auto -30px auto; 
       font-weight:300;
       color:#000;
       font-size:26px;
       padding:30px 30px 0px 30px;
       text-transform:none;
       line-height:1.3em;
     }
     
     .muikku-file-input-field-file-uploader-container {
       font-size:16px;
     }
    
    }
  
    .workspace-materials-view-page.material-reading-view { /* <article> */
      max-width:700px;
      width:auto;
      background:#fff;
      margin:30px auto;
      box-shadow:$w-page-sc;
      padding:10px 30px;
      font-size:18px;
      word-wrap: break-word;
      position:relative;
      
      &.folder {
        position:relative;
        max-width:700px;
        width:auto;
        background:#fff;
        box-shadow:$w-page-sc;
        padding:30px 30px 30px 30px;
        word-wrap: break-word;
        line-height:1.3em;
        font-size:18px;
        color:#38393a;
        text-transform:none;
        
        .page-content {
          font-size:27px;
          line-height:1.3em;
        }
        
      }
      
      img {
        max-width:100%;
      }
      
      h1,
      h2,
      h3,
      h4 {
        margin:40px 0 20px 0;
        color:#38393a;
        font-weight:300;
        text-transform:none;
        line-height:1.3em;
        
        &:first-child {
          margin:20px 0 20px 0;
        }
      }

      h1 {
        font-size:31px;
      }
        
      h2 {
        font-size:27px;
      }
      
      h3 {
        margin:20px 0 20px 0;
        font-size:24px;
      }
      
      h4 {
        margin:20px 0 20px 0;
        font-size:20px;
        font-weight:400;
      }
      
      p {
        margin:20px 0 20px 0;
      }
      
    }
    
  }
  
}
