@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_workspaces-materials-defaults.scss";
@import "_custom-ckeditor-styles.scss";
@import "_connect-field.scss";

body.workspace-materials-management {
  background:#4f6677;
  padding:0.01em; /* Prevent margin collapsing  */
  min-height:100%;
  line-height:1.7em;
  font-weight:300;
  font-size:18px;
  
  >.cke_combopanel { /* Increases width for styles and format dropdowns in CKEditor */
    width:350px;
    height:250px;
  }
  
  /* WORKSPACE NAVIGATION - FULLSCREEN */
  div[class*='workspace-materials-full-screen-navi-button'] > a,
  div[class*='workspace-materials-full-screen-navi-button'] > span {
    cursor:pointer;
    font-size:30px;
    color:#fff;
    text-decoration:none;
    @include iconShadow;
    background:transparent;
    padding:6px;
    margin:0px;
    display:inline-block;
    position:relative;
    width:34px;
    text-align:center;
  
    span[class*='workspace-materials-full-screen-tt-container-'] {
      opacity:0;
      font-family:"Open Sans";
      font-size:16px;
      height:16px;
      font-weight:300;
      position:absolute;
      top:0px;
      left:-4500px;
      width:0px;
      color:#fff; 
      text-transform:uppercase;
      padding:13px 15px 15px 14px;
      @include rounded-top-left(3px);
      @include rounded-bottom-left(3px);
      @include workspaceTooltipTransition(opacity,0.15s,ease-in-out);
    }
      
    &:hover {
      @include iconShadow(rgba(255,255,190,0.5));
      background:transparent;
    }
  }
  
  #workspaceMaterialsManagementTOCWrapper {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    
    nav.workspace-waterials-management-nav {
      width:46px;
      height:100%;
      background:#7794a8;
      position:absolute;
      top:0;
      z-index:36;
      
      .grid_1 {
        float:none;
        width:auto;
        margin:0;
      }

    }

    #workspaceMaterialsManagementTOCContainer {
      width:350px;
      background:#e8f0f5;
      z-index:26;
      box-shadow : 0 0 25px rgba(0,0,0,0.3);
      position:absolute;
      top:0;
      bottom:0; 
      border-left:1px solid #fff;
      line-height:1.5em;
      font-size:14px;
      
      ul,
      li {
        list-style:none;
      }
      
      .workspace-materials-management-TOC-title {
        padding:12px;
        position:relative;
        
        h1 {
          color:#2c2c2c;
          font-size:20px;
          margin:0;
          padding:0;
        }

      }
        
      .workspace-materials-toc-content-scrolling {
        width:350px;
        padding:0 6px;
        box-sizing:border-box;
        position:absolute;
        top:40px;
        bottom:0;
        
        .workspace-materials-toc-root {

          /* PLACEHOLDER item to indicate where user can drop sortable item */
          .sortable-placeholder {
            background:#bed3df;
          }
          
          .sortable-section-placeholder {
            background:#bed3df;
            margin:0;
            padding:10px 0;
          }

          .workspace-materials-toc-item {
            list-style:none;
            position:relative;
            margin:1px 0;
            word-wrap:break-word;
            
            &.item-hidden {
              opacity:0.4;
            }
            
            &.parent-hidden {
              opacity:0.4;
            }
            
            a {
              text-decoration:none;
              color:#2c2c2c;
              display:block;
/*                   @include genericMenuLinkHoverTransition(background,0.15s,ease-in-out); */
              @include rounded(2px);
              padding:2px 24px 2px 6px;
              border-left:2px solid #e8f0f5;
              
              &.evaluated {
                border-left:2px solid $evaluatedAssignment;
                margin:1px 0 0 0;
              }
              
              &.exercise {
                border-left:2px solid $exerciseAssignment;
                margin:1px 0 0 0;
              }
            }
            
            &:hover,
            &.active {
              background:#596e7d;
              color:#fff;
              border-radius:2px;
              
              a {
                color:#fff;
              }
            
              .workspace-materials-toc-itemDragHandle {
                opacity:1;
              }
            
            }
            
            /* When user drops sortable item this prevents hover effect happening so link stays readable */
            &.no-hover:hover {
            
              a {
                color:#2c2c2c;
              }
            
            }
            
            /* ITEM SORTING RULES */
            &.ui-sortable-helper {
              background:#000;
              color:#fff;
              border-radius:2px;
              left:6px;
              
              a {
                color:#fff;
              }
            
              .workspace-materials-toc-itemDragHandle {
                opacity:1;
              }
              
            }
            
            .workspace-materials-toc-itemDragHandle {
              opacity:0;
              color:#ffffff;
              cursor:grab;
              font-size:14px;
              padding:6px 8px 6px 8px;
              position:absolute;
              top:0px;
              right:0px;
            }

          } 
    
          .workspace-materials-toc-section {
            margin:0;
            padding:10px 0;
            
            &.temporary-toc-fix {
              padding:0;
            }
            
            .workspace-materials-toc-subtitle {
              margin:0 0 5px 0;
              text-transform:uppercase;
              font-size:15px;
              position:relative;
              
              a {
                font-weight:400;
                padding:2px 24px 2px 8px;
                text-decoration:none;
                color:#2c2c2c;
                display:inline-block;
              }
              
              .workspace-materials-toc-sectionDragHandle {
                opacity:0;
                color:#2c2c2c;
                cursor:grab;
                font-size:14px;
                padding:6px 8px 6px 8px;
                position:absolute;
                top:0px;
                right:0px;
              }
              
              &:hover,
              &.active {
                background:#c8e6f7;

                .workspace-materials-toc-sectionDragHandle {
                  opacity:1;
                }
                
              }

              &.item-hidden {
                opacity:0.4;
              }
              
              &.parent-hidden {
                opacity:0.4;
              }
              
            }
            
            &.ui-sortable-helper {
              background:#47728c;
              color:#fff;
              border-radius:2px;
              left:6px;
            }
            
          } 
          
        } 

      } 
      
    } 
    
  } 
  
  #contentWorkspaceMaterialsManagement {
    padding-left:60px;
    padding-top:30px;
    max-width:700px;
    width:auto;
    margin:0 auto;
    
    .workspace-materials-management-add {
      text-align:center;
      position:relative;
      margin:10px auto;
      
      span.workspace-materials-management-line-separator {
        display:block;
        position:absolute;
        height:1px;
        top:13px;
        left:0;
        right:0;
        background:#7391a7;
      }
      
      a.workspaces-materials-management-add {
        color:#a8c2d4;
        text-transform:uppercase;
        display:inline-block;
        background:#4f6677;
        padding:5px 10px;
        position:relative;
        transition: color 0.3s ease-in-out; 
        font-size:14px;
        font-weight:400;
        
        &.icon-add:before {
          font-size:17px;
          float:left;
        }
        
        &:hover {
          color:#fff;
        }
        
        span {
          float:left;
          padding:2px 4px;
        }
        
      }
      
    }
    
    /* Just added page that creates new article or section */
    .workspace-materials-view-page.material-management-view.workspace-materials-management-new {
      padding:20px 30px 20px 30px;
      margin:30px auto 30px auto;
      box-shadow:0 0 0 5px rgba(137,212,142,0.95);
      text-align:center;

      a.workspace-materials-management-new-page-link {
        color:#0099ff;
        text-decoration:none;
        text-transform:uppercase;
        font-size:16px;
        transition: color 0.3s ease-in-out;
        font-family:"Open Sans";
        display:inline-block;
        background:#fff;
        text-align:center;
        margin:0 10px;

        &:hover {
          color:#0e1d27;
          
          &.icon-new-page:before {
            color:#1e5274;
          }
          
        }
        
        &.icon-new-page:before {
          font-family:"muikku";
          transition: color 0.5s ease-in-out;
          font-size:60px;
          color:#82c8f7;
          display:block;
        }
      }
      
      a.workspace-materials-management-new-section-link {
        color:#0099ff;
        text-decoration:none;
        text-transform:uppercase;
        font-size:16px;
        transition: color 0.3s ease-in-out;
        font-family:"Open Sans";
        display:inline-block;
        background:#fff;
        text-align:center;
        margin:0 10px;

        &:hover {
          color:#0e1d27;
          
          &.icon-new-section:before {
            color:#1e5274;
          }
          
        }
        
        &.icon-new-section:before {
          font-family:"muikku";
          transition: color 0.5s ease-in-out;
          font-size:60px;
          color:#82c8f7;
          display:block;
        }
      }
      
      &:hover {
        box-shadow:0 0 0 5px rgba(137,212,142,0.95);
      }
    }
  
    /* File-upload field wrapper */
    .workspaces-materials-management-insert-file {
      margin:20px 0;
    
      /* Area where user inserts file by clicking it or dragging into it */
      .muikku-file-input-field-file-uploader-container {
        border: 1px solid #7391a7;
        position:relative;
        padding:10px;
        color:#a8c2d4;
        transition:color,border 0.3s,0.6s ease-in-out,ease-in-out;
        margin:0;
        background:transparent;
        box-shadow:none;
        border-radius:0;
        text-transform:uppercase;
        font-size:14px;
        font-weight:400;
        
        span {
          text-transform:uppercase;
        }
        
        &:hover {
          color:#fff;
          border:1px solid #94b7d0;
          box-shadow:none;
        }
        
      }
      
      /* File-upload selection container where user selects what to do with the file */
      .materials-management-file-upload-selection-container {
        position:relative;
        max-width:700px;
        width:auto;
        background:#fff;
        margin:25px auto 40px auto;
        box-shadow:0 0 0 5px rgba(137,212,142,0.95);
        padding:20px 30px;
        word-wrap: break-word;
        -webkit-transition: box-shadow,opacity 0.3s,0.5s ease-in-out,ease-in-out;
        -moz-transition: box-shadow,opacity 0.3s,0.5s ease-in-out,ease-in-out;
        -o-transition: box-shadow,opacity 0.3s,0.5s ease-in-out,ease-in-out;
        -ms-transition: box-shadow,opacity 0.3s,0.5s ease-in-out,ease-in-out;
        transition: box-shadow,opacity 0.3s,0.5s ease-in-out,ease-in-out;
        
        p.materials-management-generic-question-container {
          margin:0 0 20px 0;
        }
        
        /* Links inside file-upload selection container */
        a[class*='materials-management-upload-select'] {
          color:#0099ff;
          text-decoration:none;
          text-transform:uppercase;
          transition: color 0.3s ease-in-out;
          font-size:16px;
          display:inline-block;
          margin:4px auto;
          
          &:hover {
            color:#0e1d27;
          }
        }
        
      }
    
    }

    .workspace-materials-view-page.material-management-view {
      position:relative;
      max-width:700px;
      width:auto;
      background:#fff;
      margin:30px auto;
      box-shadow:$w-page-sc;
      padding:50px 30px 10px 30px;
      font-size:18px;
      word-wrap: break-word;
      box-shadow:0 0 0 0 rgba(148,183,208,0.95);
      -webkit-transition: box-shadow 0.3s ease-in-out, opacity 0.5s ease-in-out;
      -moz-transition: box-shadow 0.3s ease-in-out, opacity 0.5s ease-in-out;
      -o-transition: box-shadow 0.3s ease-in-out, opacity 0.5s ease-in-out;
      -ms-transition: box-shadow 0.3s ease-in-out, opacity 0.5s ease-in-out;
      transition: box-shadow 0.3s ease-in-out, opacity 0.5s ease-in-out;
      
      &.folder { 
        position:relative;
        font-weight:300;
        max-width:700px;
        width:auto;
        background:#fff;
        box-shadow:0 0 0 0 rgba(148,183,208,0.95);
        padding:70px 30px 30px 30px;
        word-wrap: break-word;
        line-height:1.3em;
        font-size:18px;
        color:#38393a;
        text-transform:uppercase;
        
        &.item-hidden {
          opacity:0.4;
        }
        
        .page-content {
          font-size:27px;
          line-height:1.3em;
        }
        
        &.page-edit-mode {
          padding:50px 0 10px 0;
          box-sizing:border-box;
        
          /* Folder editor input override */
          input[type="text"].workspace-material-folder-editor-title {
            width:100%;
            box-sizing:border-box;
            text-align:left;
            color:#38393a;
            font-size:27px;
            border:0;
            padding:0 0 2px 0;
            margin:19px 30px 0px 30px;
            border-radius:0;
            background:#f3faff;
            box-shadow: 0 0 0 10px rgba(243,250,255,0.8);
          }
          
          /* Folder editor title override */
          .workspace-material-folder-editor-title-wrapper {
            margin:19px 30px 26px 30px;
          
            input.workspace-material-folder-editor-title {
              padding:0 0 2px 0;
              margin:0;
            }
          
          }

          /* Binary editor input override */
          input[type="text"].workspace-material-binary-editor-title {
            width:100%;
            box-sizing:border-box;
            text-align:left;
            color:#38393a;
            font-size:27px;
            border:0;
            padding:0 0 2px 0;
            margin:19px 30px 0px 30px;
            border-radius:0;
            background:#f3faff;
            box-shadow: 0 0 0 10px rgba(243,250,255,0.8);
          }
          
          /* Binary editor title override */
          .workspace-material-binary-editor-title-wrapper {
            margin:19px 30px 26px 30px;
          
            input.workspace-material-binary-editor-title {
              padding:0 0 2px 0;
              margin:0;
            }
          
          }
        
        }
      }
      
      &.item-hidden {
        opacity:0.4;
      }
             
      &.parent-hidden {
        opacity:0.4;
      }
      
      /* Material's attachment widget */
      .materials-management-page-attachment-widget {
        min-height:70px;
        margin:5px -20px 0px -20px;
      
        /* Material's attachment upload wrapper */
        .materials-management-page-attachments-upload-container {
          padding:20px;
          position:relative;
          box-sizing:border-box;
          border:1px solid #7391a7;
          transition:background 0.6s ease-in-out;
          cursor:pointer;
          
           &:hover {
            background:#ebfbff;
          }
          
          input[type="file"] {
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            opacity:0;
            width:100%;
            cursor:pointer;
          }
          
          .materials-management-page-attachment-description {
            display:block;
            font-size:16px;
            text-align:center;
          }
          
        }
        
        /* Uploaded attachments wrapper */
        .materials-management-page-attachments-container {
          position:relative;
          
          .content-loading {
            position:absolute;
            top:0;
            left:0;
            bottom:0;
            right:0;
            z-index:9999;
            opacity:0.98;
            background:#4f6677;
            font-size:80px;
            color:#c8e8ff;
            
            .icon-spinner {
              position:absolute;
              left:50%;
              top:50%;
              margin:-50px 0 0 -50px;
              -webkit-animation: spinner 0.5s linear infinite;
              -moz-animation: spinner 0.5s linear infinite;
              -ms-animation: spinner 0.5s linear infinite;
              -o-animation: spinner 0.5s linear infinite;
              animation: spinner 0.5s linear infinite;
            }
          }
        
          /* Uploaded single attachment wrapper */
          .materials-management-page-attachment {
            background:#ebf8ff;
            padding:5px 10px;
            position:relative;
            margin:10px 0;
            
            &:hover {
              box-shadow:0 0 0 3px #cce2ed;
            
              .materials-management-page-attachment-actions {
                display:block;
              }
            
            }
          
            .materials-management-page-attachment-image-container {
              
            }
            
            .materials-management-page-attachment-title {
            
            }
            
            .materials-management-page-attachment-actions {
              position:absolute;
              right:2px;
              top:2px;
              display:none;
            
              .materials-management-page-attachment-action {
                color:#000;
                display:inline-block;
                margin:2px 5px;
                padding:2px;
              }
            
            }
            
            .materials-management-page-attachment-url {
              color:#1b5f86;
              font-size:13px;
              font-style:italic;
            }
            
            .muikku-page-attachments-upload-progress {
              height:5px;
              border:0;
              
              .ui-widget-header {
                background:#58e45e;
                border:0;
                border-radius:0;
                margin:0;
              }
            }
  
            .materials-management-page-attachment-meta-container {
              display: none;
            }
            
            &.materials-management-page-attachment-selected  {
              box-shadow:0 0 0 3px #cce2ed;
            
              .materials-management-page-attachment-meta-container {
                display: block;
                
                label {
                  min-width:100px;
                }
                
                input[type="text"].materials-management-page-attachment-meta-unsaved {
                  border-color: #d6ea2f;
                  box-shadow:0 0 0 3px #f1f6cb;
                }
                
                input[type="text"].materials-management-page-attachment-meta-saved {
                  border-color: #27b91c;
                  box-shadow:0 0 0 3px #bcf7b7;
                }
                
              }
            
            }

          }

        }
      
      }
      
      
      img {
        max-width:100%;
      }
      
      &.page-hidden {
        opacity:0.4;
      }
      
      &:hover {
        box-shadow:0 0 0 5px rgba(148,183,208,0.95);
      }
      
      /* It's necessary to hide save button inside matrial's management view  */
      button.muikku-save-page {
        display:none;
      }
      
      /* Section in edit mode */
      &.page-edit-mode {
        box-shadow:0 0 0 10px rgba(148,183,208,0.95);
        position:relative;
        padding:50px 0px 0px 0px;
        min-width:700px;
        
        /* Editor input override */
        input[type="text"].workspace-material-html-editor-title {
          width:100%;
          box-sizing:border-box;
          text-align:left;
          color:#38393a;
          font-size:27px;
          border:0;
          padding:0 0 2px 0;
          margin:19px 30px 0px 30px;
          border-radius:0;
          background:#f3faff;
          box-shadow: 0 0 0 10px rgba(243,250,255,0.8);
        }
        
        /* Editor title override */
        .workspace-material-html-editor-title-wrapper {
          margin:19px 30px 26px 30px;
        
          input.workspace-material-html-editor-title {
            padding:0 0 2px 0;
            margin:0;
          }
        
        }
        
        /* Editor collaborators */
        .material-editor-collaborator-wrapper {
          position:absolute;
          top:41px;
          right:-40px;
          width:35px;
          @include rounded-top-right(3px);
          @include rounded-bottom-right(3px);
          background:#fff;
          padding:0 5px 0 0;
          text-align:right;
          box-shadow:8px 0px 10px rgba(0,0,0,0.1);
          min-height:40px;

          .collaborator {
            position:relative;
            @include rounded-top-right(3px);
            @include rounded-bottom-right(3px);
            background:#fff;
            right:0;
            width:30px;
            height:30px;
            margin:0 0 0 auto;
            transition:right 0.3s,0.3s ease-in-out;
            padding:5px;
            z-index:9;
            
            span {
              display:block;
              background:#fff;
              color:#000;
              width:0px;
              padding:6px 10px;
              position:absolute;
              transition:opacity 0.5s ease-in-out;
              opacity:0;
              visibility:hidden;
              min-height:28px;
              max-height:28px;
              font-size:14px;
              box-shadow:-4px 0px 10px rgba(0,0,0,0.05);
              white-space:nowrap;
            }
            
            &:hover {
              padding:5px;
              right:-5px;
              position:relative;
              box-shadow:5px 0 8px rgba(0,0,0,0.1);
              z-index:10;
              
              span {
                width:auto;
                top:0;
                right:40px;
                opacity:1;
                visibility:visible;
              }
              
            }
            
            img {
              width:100%;
              height:100%;
            }
          }

        }
        
        /* Editor save status */
        .workspace-material-html-editor-status {
          position:absolute;
          top:12px;
          right:120px;
          z-index:11;
          font-size:14px;
          color:#fff;
          
          span {
          
          }
        
          &.icon-saved {
          
          }
        
        }
        
        .cke { /* CKE Wrapper */
          border:1px solid #fff;
          box-shadow:none;
          
          .cke_inner { /* CKE top, content and bottom wrapper */
          
            .cke_top {
              border:0;
              box-shadow:none;
              background:#c0dcee;
              background-image:none;
              padding:8px 8px 4px 8px;
              border-bottom:1px solid #b1deff;
              
              .cke_toolbar {
                display:block;
                margin:2px 0;
              
                .cke_toolgroup {
                  border:1px solid #fff;
                  background:#fff;
                  background-image:none;
                  
                  a:hover {
                    border-radius:3px;
                    background:#9ed7ff;
                    box-shadow:none;
                    border:0;
                  }
                  
                  a.cke_button_on {
                      background:#9ed7ff;
                      background-image:none;
                      box-shadow:none;
                      border:0;
                    }
                  
                }
                
                .cke_combo {
                
                  &.cke_combo_off {
                  
                    a.cke_combo_button {
                      background:#fff;
                      background-image:none;
                      box-shadow:none;
                      border:1px solid #fff;
                      
                      &:hover {
                        background:#9ed7ff;
                      }
                      
                    }
                  }
                  
                  &.cke_combo_on {
                  
                    a.cke_combo_button {
                      background:#9ed7ff;
                      background-image:none;
                      box-shadow:none;
                      border:1px solid #fff
                    }
                  }
                }
                
              }
              
              
              
            }
            
            .cke_bottom {
              border:0;
              box-shadow:none;
              background:#c0dcee;
              background-image:none;
              border-top:1px solid #b1deff;
            }
          
          }
          
        }
        
        .workspace-materials-management-view-page-controls { /* Hide and show edit/close icons when page is in editing mode */
        
          a.edit-page {
            display:none;
          }
          
          a.close-page-editor {
            display:inline-block;
          }
          
        }  
        
        /* If page is in edit-mode then we remove negative margins and adjust min-height */
        .materials-management-page-attachment-widget {
          min-height:85px;
          margin:5px 10px 5px 10px;
        }
         
      }
        
      .workspace-materials-management-view-page-controls a.close-attachments-editor {
        display: none !important;
      }
      
      /* If page is in attachment edit-mode then we hide everything else including ckeditor */  
      &.workspace-materials-management-editing-attachments {
      
        .workspace-material-html-editor-title-wrapper,
        .cke,
        .workspace-material-html-editor-status,
        .material-editor-collaborator-wrapper {
           display: none !important;
        }
      
        .workspace-materials-management-view-page-controls {
        
          a,
          span.assignment-type,
          span.correct-answers-settings {
            display: none !important;
          }
        
        }
      
      } 
      
      &.workspace-materials-management-editing-attachments .page-content {
        display: none;
      }

      &.workspace-materials-management-editing-attachments .workspace-materials-management-view-page-controls a.close-attachments-editor {
        display: inline-block !important;
      }   
      
      .workspace-materials-management-view-page-controls span.assignment-type { /* Special case for assignment type link and correct answers */
        height:25px;
        width:25px;
        padding:2px;
        margin:0 10px;
        border-radius:25px;
        border:1px solid #fff;
        position:relative;
        left:0;
        top:-1px;
        color:#fff;
        text-align:center;
        display:inline-block;
        background:#bdc7cf;
      
        a.change-assignment {
          margin:0;
          position:relative;
          top:-3px;
          left:-1px;
          font-size:17px;
        }
      }
    
      &[data-assignment-type="EVALUATED"] .workspace-materials-management-view-page-controls span.assignment-type { /* Special case for assignment type link */
        background: $evaluatedAssignment;
      }
      
      &[data-assignment-type="EXERCISE"] .workspace-materials-management-view-page-controls span.assignment-type { /* Special case for assignment type link */
        background: $exerciseAssignment;
      }
      
      .workspace-materials-management-view-page-controls span.correct-answers-settings { /* Special case for assignment type link and correct answers */
        height:25px;
        width:25px;
        padding:2px;
        margin:0 10px;
        border-radius:25px;
        border:1px solid #fff;
        position:relative;
        left:0;
        top:-4px;
        color:#fff;
        text-align:center;
        background:#bdc7cf;
    
        a.correct-answers {
          margin:0;
          position:relative;
          left:0px;
          font-size:16px;
        }

        &.hidden {
          display:none;
        }

      }

      &[data-correct-answers="ALWAYS"] .workspace-materials-management-view-page-controls span.correct-answers-settings { /* Special case for assignment type link */
        background: $exerciseCorrectAnswersAlways;
      }
      
      &[data-correct-answers="NEVER"] .workspace-materials-management-view-page-controls span.correct-answers-settings { /* Special case for assignment type link */
        background: $exerciseCorrectAnswersNever;
      }
      
      &[data-correct-answers="ON_REQUEST"] .workspace-materials-management-view-page-controls span.correct-answers-settings { /* Special case for assignment type link */
        background: $exerciseCorrectAnswersOnRequest;
      }

      .workspace-materials-management-view-page-controls {
        position:absolute;
        top:0;
        left:0;
        right:0;
        height:41px;
        background:#7996aa;
        
        .management-page-controls-primary-subsection {
          float:left;
          display:inline-block;
        }
        
        .management-page-controls-secondary-subsection {
          float:right;
          display:inline-block;
        }
      
        a.edit-page, 
        a.delete-page, 
        a.hide-page,
        a.change-assignment,
        a.correct-answers,
        a.publish-page,
        a.revert-page,
        a.close-page-editor,
        a.page-attachments,
        a.close-attachments-editor {
          color:#fff;
          font-size:21px;
          display:inline-block;
          margin:5px 10px;
          position:relative;
          height:31px;
          text-align:center;
          
          &:hover {
            @include iconShadow(rgba(255,255,190,0.8));
          }

          &:before {
            padding:5px;
            display:inline-block;
          }
          
          span {
            display:none;
          }
        }
        
        a.delete-page {
          font-size:22px;
        }
        
        a.edit-page,
        a.close-page-editor {
          width:29px;
        }
        
        a.close-page-editor {
          display:none;
        }
        
        a.publish-page.disabled,
        a.revert-page.disabled {
          opacity:0.35;
          cursor:default;
        }
        
      }

      h1,
      h2,
      h3,
      h4 {
        margin:40px 0 20px 0;
        color:#38393a;
        font-weight:300;
        text-transform:none;
        line-height:1.3em;
        
        &:first-child {
          margin:20px 0 20px 0;
        }
      }
      
      h1 {
        font-size:31px;
      }
        
      h2 {
        font-size:27px;
      }
      
      h3 {
        margin:20px 0 20px 0;
        font-size:24px;
      }
      
      h4 {
        margin:20px 0 20px 0;
        font-size:20px;
        font-weight:400;
      }
      
      p {
        margin:20px 0 20px 0;
      }
      
    }
    
  }
  
}
