@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_workspaces-materials.scss"; 
@import "_connect-field.scss";

body.workspace,
body.workspace-materials { 
  background:#ffffff;
  min-height:100%;
  font-size:14px;
  
  h1.workspace-title {
    margin:20px 0 20px 0;
    color:#38393a;
    font-weight:300;
    text-transform:uppercase;
    line-height:1.3em;
  }
  
  .workspace-materials-view-page {
  
    img {
      max-width:100%;
    }
    
    h1,
    h2,
    h3 {
      margin:40px 0 20px 0;
      color:#38393a;
      font-weight:300;
      text-transform:none;
      line-height:1.3em;
      
      &:first-child {
        margin:20px 0 20px 0;
      }
    }
    
    h1 {
      font-size:31px;
    }
      
    h2 {
      font-size:27px;
    }
    
    h3 {
      margin:20px 0 20px 0;
      font-size:24px;
    }
    
    p {
      margin:20px 0 20px 0;
      line-height:1.5em;
    }
    
    blockquote {
      font-family: 'Open Sans',Verdana, sans-serif;
      font-style:italic;
      padding:2px 0;
      border-style:solid;
      border-color:#eee;
      border-width:0;
      color:#777;
      font-size:20px;
      margin:0 40px 0 40px;
    
      p {
        margin:10px 0 10px 0;
      }
    
    }
    
    .cke_contents_ltr blockquote {
      padding-left:20px;
      padding-right:8px;
      border-left-width:8px;
    }
    
    .cke_contents_rtl blockquote {
      padding-left:8px;
      padding-right:20px;
      border-right-width:8px;
    }
    
  }

  #staticNavigationWrapperWorkspace {
    background:none; /* We need to remove all background rules first */
    @include background-image('gfx/workspace-navigation-background.png'); /* Workspace's navigation's background */
    background-position:250px 0px;
    background-repeat:no-repeat;
    background-color:#32acf6;
    border-bottom:1px solid #ffffff; 
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    height:76px;
    
    &.stuckStNav {
      content:" ";
      position:fixed;
      top:0;
      left:0;
      right:0;
    }
    
  }
  
  #workspaceNavigationWrapper { 
    position:fixed;
    top:100px;
    
    .grid_1 {
      float:none;
      width:auto;
      margin:0;
    }
    
    #workspaceDockWrapper {
      background:#596e7d;
      @include rounded(3px);
      width:60px;
      box-shadow:0 0 5px rgba(0,0,0,0.25);
      #workspaceDock {
        text-align:center;
      }
      
    }
    
    #workspaceMaterialsDockWrapper {
      background:#3d4c56;
      @include rounded(3px);
      width:60px;
      margin-bottom:10px;
      box-shadow:0 0 5px rgba(0,0,0,0.25);
      
      #workspaceMaterialsDock {
        text-align:center;
        
        .wi-workspace-dock-navi-button-materials-toc > .workspace-materials-toc-wrapper {
          border:2px solid #3d4c56;
          @include rounded(3px);
          background:#fff;
          position:absolute;
          left:65px;
          top:0px;
          width:300px;
          max-height:526px;
          text-align:left;
          font-family:"Open Sans";
          text-shadow:none;
          color:#000;
          font-size:15px;
          line-height:1.5em;
          display:none;
          opacity:0;
          
          &:hover > span {
            display:none;
          }
          
          .workspace-materials-toc-container {
            overflow:hidden;
            position:relative;
            height:526px;
          
            .workspace-materials-toc-title {
              background:#42525c;
              color:#fff;
              text-transform:uppercase;
              margin:0;
              padding:10px 12px;
              font-size:17px;
            }
          
            .workspace-materials-toc-content-outer {
              overflow:hidden;
              height:100%;
              width:300px;
              
              .workspace-materials-toc-content-inner {  
                position:absolute;
                overflow-x: hidden;
                overflow-y: scroll;
                height:100%;
              
                .workspace-materials-toc-content-scrolling {
                  padding:4px;
                  width:292px;
                  height: 100%;
                  
                  .spacer {
                    height:30px; /* Creating some bottom margin because use of 100% height  */
                  }
            
                  .workspace-materials-toc-section {
                    margin:0;
                    padding-top:5px;
                    padding-bottom:10px;
                  
                    .workspace-materials-toc-subtitle {
                      font-weight:bold;
                      padding:2px 8px;
                    }
                    
                    .workspace-materials-toc-item {
                      font-weight:300;
                      
                      a {
                        text-decoration:none;
                        color:#41505b;
                        display:block;
                        @include genericMenuLinkHoverTransition(background,color,0.15s,ease-in-out);
                        @include rounded(2px);
                        padding:2px 8px;
                        
                        &:hover,
                        &.active {
                          background:#596e7d;
                          color:#fff;
                        }
                      }
                    }
                  
                  }
                  
                }
              
              }
            
            }
          
          }
        
        }
        
      }
      
    }
  
  }

  .workspace-meta-wrapper {
    font-size:13px;
    text-transform:uppercase;
    
    .workspace-study-level-indicator {
      color:#fff;
      display:inline-block;
      margin:0 10px 0 0;
    
      &.indicator1 {
        background:#0099ff;
        border-radius:2px;
        padding:0px 6px;
      }
    
    }
    
    .workspace-meta-title {
      color:#7e7e7e;
      display:inline-block;
      margin:0 5px 0 0;
    }
    
    .workspace-meta-desc {
      color:#000;
      display:inline-block;
      margin:0 10px 0 0;
    }
  }
  
  .workspace-description-wrapper {
    margin:1em 0 1em 0;
    font-size:17px;
    font-weight:300;
    
    p {
      margin:1em 0 1em 0;
    }
   
   
  }

}