@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_commons.scss"; 

body.workspace-discussions { 
  @include background-image('/gfx/light-diagonal-strips.png');
  background-repeat:repeat;
  background-color:#f0f3f5;
  min-height:100%;
  font-size:16px;
  font-weight:300;
  padding:0 0 30px 0;
  
  main > section {
    background:#fff;
    margin:23px 0 0 0;
    
    .workspace-content-widgetspaceset {
      padding:20px 20px;
      
      .widgetSpace.grid_24 {
        width:100%;
      }
      
    }
  }
  
  #staticNavigationWrapperWorkspace {
    background:none; /* We need to remove all background rules first */
    @include background-image('gfx/workspace-navigation-background.png'); /* Workspace's navigation's background */
    background-position:250px 0px;
    background-repeat:no-repeat;
    background-color:#32acf6;
    border-bottom:1px solid #ffffff; 
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
    height:76px;
    
    &.stuckStNav {
      content:" ";
      position:fixed;
      top:0;
      left:0;
      right:0;
      z-index:99;
    }
    
  }
  
  #workspaceNavigationWrapper { 
    position:fixed;
    top:100px;
    z-index:21;
    
    .grid_1 {
      float:none;
      width:auto;
      margin:0;
    }
    
    #workspaceDockWrapper {
      background:#67d9bf;
      @include rounded(3px);
      width:60px;
      
      #workspaceDock {
        text-align:center;
      }
      
    }
    
    #workspaceEditIndexDockWrapper {
      background:#288fcd;
      @include rounded(3px);
      width:60px;
      
      #workspaceEditIndexDock {
        text-align:center;
      }

    }
    
    #workspaceEvaluationDockWrapper {
      text-align:center;
    }

  }
  
  /* WORKSPACE NAVIGATION - EVALUATION */  
  .wi-workspace-dock-navi-button-evaluation { /* Button's master rules */
    width:60px;
    margin-bottom:10px;
    @include rounded(3px);
    
    a {
      text-shadow:none;
      transition: background 0.2s ease-in-out;
    }
    
    &[data-state='unassessed'] { /* Default state */
      background:#55bbff;

      a:hover {
        background:#28a1f2;
        
        span[class*='workspace-navi-tt-container-'] {
          background:#28a1f2;
        }
        
      }
      
    }
    
    &[data-state='pending'] { /* Evaluation Request Pending */
      background:#0099ff; 
      transition: background 0.2s ease-in-out;

      a:hover {
        background:#0075c3;
        
        span[class*='workspace-navi-tt-container-'] {
          background:#0075c3;
        }
        
      }
      
      &:hover {
        background:#f6a930;
        
        a {
          background:#e5961b;
          
          &:before {
            content: "\e9f3"; /* Override Pending icon with Cancellation icon */
          }
          
          &:hover {
            background:#e5961b;
          
            span[class*='workspace-navi-tt-container-'] {
              background:#e5961b;
            }
          
          }

        }

      }
      
    }
    
    &[data-state='cancel'] { /* Evaluation Request Cancelled */
      background:#f6a930; /* Same as Default at this point */
      
      a:hover {
        background:#e5961b;
        
        span[class*='workspace-navi-tt-container-'] {
          background:#e5961b;
        }
        
      }
      
    }
    
    &[data-state='canceled'] { /* Evaluation Request Cancelled */
      background:#55bbff; /* Same as Default at this point */
      
      a:hover {
        background:#509ccf;
        
        span[class*='workspace-navi-tt-container-'] {
          background:#509ccf;
        }
        
      }
      
    }
    
    &[data-state='pass'] { /* Evaluation of Workspace - Pass */
      background:#1ec30c;
      
      a:hover {
        background:#16a506;
        
        span[class*='workspace-navi-tt-container-'] {
          background:#16a506;
        }
        
      }
      
    }
    
    &[data-state='fail'] { /* Evaluation of Workspace - Fail */
      background:#ea7401;
      
      a:hover {
        background:#d66b03;
        
        span[class*='workspace-navi-tt-container-'] {
          background:#d66b03;
        }
        
      }
    }
    
  }

  /* WORKSPACE NAVIGATION */
  div[class*='workspace-dock-navi-button'] > a,
  div[class*='workspace-dock-navi-button'] > span {
    cursor:pointer;
    font-size:32px;
    color:#fff;
    text-decoration:none;
    background:transparent;
    padding:6px;
    margin:4px;
    display:inline-block;
    position:relative;
    width:34px;
    @include rounded(3px);
    
    span[class*='workspace-navi-tt-container-'] {
      opacity:0;
      font-family:"Open Sans";
      font-size:16px;
      height:16px;
      font-weight:300;
      position:absolute;
      top:0px;
      left:-4500px;
      width:0px;
      color:#fff;
      text-transform:uppercase;
      padding:13px 15px 15px 14px;
      @include rounded-top-right(3px);
      @include rounded-bottom-right(3px);
      @include workspaceTooltipTransition(opacity,0.15s,ease-in-out);
      z-index:99;
      white-space:nowrap;
    }
    
    &:hover {
      background:#25c29e;
      
      span[class*='workspace-navi-tt-container-'] {
        display:block;
        background:#25c29e;
        opacity:1;
        width:auto;
        left:45px;
      }
    }
  }
  
  /* WORKSPACE NAVIGATION - EDIT VIEW */
  div[class*='workspace-dock-navi-button-edit-'] > a,
  div[class*='workspace-dock-navi-button-edit-'] > span {
    cursor:pointer;
    font-size:32px;
    color:#fff;
    text-decoration:none;
    background:transparent;
    padding:6px;
    margin:4px;
    display:inline-block;
    position:relative;
    width:34px;
    @include rounded(3px);
  
    span[class*='workspace-navi-tt-container-'] {
      opacity:0;
      font-family:"Open Sans";
      font-size:16px;
      height:16px;
      font-weight:300;
      position:absolute;
      top:0px;
      left:-4500px;
      width:0px;
      color:#fff;
      text-transform:uppercase;
      padding:13px 15px 15px 14px;
      @include rounded-top-left(3px);
      @include rounded-bottom-left(3px);
      @include workspaceTooltipTransition(opacity,0.15s,ease-in-out);
    }
    
    &:hover {
      background:#1a75ac;
      
      span[class*='workspace-navi-tt-container-'] {
        display:block;
        background:#1a75ac;
        opacity:1;
        width:auto;
        left:45px;
      }
    }
  }
  
  /* WORKSPACE HEADER */
  header.workspace-header-wrapper {
    background:#fff;
    box-sizing:border-box;
    max-width:960px;
    min-height:290px;
    position:relative;
    padding:5px;
    border-bottom:10px solid #eee;
    
    .workspace-image {
      width:950px;
      height:240px;
      position:absolute;
      top:5px;
      left:5px;
      right:5px;
      bottom:5px;
      @include background-image('/gfx/workspace-default-header.jpg');
      background-repeat:no-repeat;
      background-color:#d1e069;
      z-index:10;
    }
  
    h1.workspace-title {
      margin:0;
      color:#38393a;
      font-weight:300;
      text-transform:uppercase;
      line-height:1.3em;
      position:absolute;
      top:60px;
      left:0;
      background:#fff;
      padding:20px;
      z-index:11;
      max-width:80%;
    }
    
    .workspace-additional-info-wrapper {
      position:absolute;
      left:20px;
      bottom:50px;
      background:#31acf6;
      color:#fff;
      padding:0px 8px;
      min-width:100px;
      z-index:13;
      font-size:15px;
      
      span {
        font-weight:400;
        display:inline-block;
        margin:0 2px 0 0;
      }
      
    }
    
    .workspace-study-level-indicator {
      position:absolute;
      bottom:225px;
      right:-5px;
      z-index:12;
      height:26px;
      padding:4px 12px 4px 14px;
      box-shadow:0 0 40px rgba(0,0,0,0.15);
      transform: skew(-10deg, 0deg) ;
      -webkit-transform: skew(-10deg, 0deg) ;
      -moz-transform: skew(-10deg, 0deg) ;
      -o-transform: skew(-10deg, 0deg) ;
      -ms-transform: skew(-10deg, 0deg) ;
      
      &.indicator1 {
        border-left:2px solid #fff;
        color:#fff;
        background:#4ee23a;
        min-width:50px;
      }
      
      .workspace-study-level-text {
        position:relative;
        transform: skew(0deg, 0deg) ;
        -webkit-transform: skew(10deg, 0deg) ;
        -moz-transform: skew(10deg, 0deg) ;
        -o-transform: skew(10deg, 0deg) ;
        -ms-transform: skew(10deg, 0deg) ;
        font-weight:400;
        text-transform:uppercase;
        height:26px;
      }
      
    }
    
    .workspace-meta-wrapper {
      font-size:15px;
      text-transform:uppercase;
      position:absolute;
      bottom:0;
      left:0;
      z-index:13;
      padding:3px 20px 3px 20px;

      .workspace-meta-title {
        color:#727272;
        display:inline-block;
        margin:0 2px 0 0;
      }
      
      .workspace-meta-desc {
        color:#000;
        display:inline-block;
        margin:0 10px 0 0;
      }
    }
    
     .workspace-publication-container {
        position: absolute;
        bottom: 0px;
        right: 5px;
        width: 200px;
        font-size: 15px;
        text-transform: uppercase;
        padding:4px 0;
        text-align: right;
        
        a {
          text-decoration:none;
          font-size:14px;
          color:#fff !important;
          border-radius:2px;
          font-weight:400;
          padding:2px 6px;
          
          &.workspace-publish-button {
            background:#27b91c;
          }
          
          &.workspace-unpublish-button {
            background:#ff9703;
          }
        
        }

      }
  
  }

  /* TEXT CONTENT RULES */
  
  /* Content link overrides */
  #content a {
    color:#4290ea; 
  }
  
  /* UL, LI overrides */
  ul {
    list-style-type:disc;
  }
  
  ol {
     list-style-type:decimal;
  }
  
  ul,
  ol {
    margin:0 20px;
  
    li {
      margin:5px;
    }
    
    ol {
      list-style-type:decimal;
    }
    
    ul {
      list-style-type:circle;
    }
  
  }
  
  line-height:1.7em;
  
  img {
    max-width:100%;
  }
  
  h1,
  h2 {
  
    &:first-child {
      margin:20px 0 20px 0;
    }
    
  }
  
  h1,
  h2,
  h3 {
    margin:40px 0 20px 0;
    color:#38393a;
    font-weight:300;
    text-transform:none;
    line-height:1.3em;
  }
  
  h4,
  h5,
  h6 {
    margin:20px 0 20px 0;
    color:#38393a;
    font-weight:300;
    text-transform:none;
    line-height:1.3em;
  }
  
  h1 {
    font-size:29px;
  }
    
  h2 { /* Page title */
    font-size:26px;
  }
  
  h3 {
    font-size:22px;
    font-weight:400;
  }
  
  h4 {
    font-size:19px;
    font-weight:400;
  }
  
  h5 {
    font-size:17px;
    font-weight:400;
  }
  
  h6 {
    font-size:16px;
    font-weight:400;
  }
  
  p {
    margin:15px 0 15px 0;
  }
  
  strong,b {
    font-weight:600; /* Override values used in reading/management */
  }
  
  em,i {
    font-weight:400;
  }

  /* JQuery UI Dialog Overrides */
  .ui-widget-overlay {
    background:#000;
    opacity:0.5;
  }
  
  .workspace-evaluation-confirm-dialog {
    box-shadow:0 0 80px rgba(0,0,0,0.4);
    background:#fff;
    font-family: 'Open Sans',Verdana, sans-serif;
    font-weight:300;
    padding:0;
    border-radius:5px;
    border:none;
    position:fixed;
    
    &.ui-corner-all {
      border-radius:0px;
    }
    
    .ui-dialog-titlebar {
      text-transform:uppercase;
      border:0px;
      background:#7391a7;
      color:#fff;
      border-radius:0px;
      padding:8px 36px 8px 12px;
      font-weight:400;
      
      .ui-dialog-title {
        margin:0;
        font-size:18px;
        width:100%;
        font-weight:300;
      }
      
      .ui-dialog-titlebar-close {
        background:#7391a7;
        border-radius:0px;
        border:0px;
        width:24px;
        margin:-13px 0 0 0;
        font-size:22px;
        height:22px; /* Same height as font-size */
        
        span {
          display:none;
        }
        
        &:before {
          content: "\e63b";
          color:#fff;
          font-size:22px;
          font-weight:normal;
          font-family: 'muikku';
          speak: none;
          font-style: normal;
          text-decoration:none;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        
      }
      
    }
    
    .workspace-evaluation-request-confirm-dialog,
    .workspace-evaluation-cancellation-confirm-dialog {
      margin:10px 0 0 0;
      
      .evaluation-request-additional-message-wrapper {
        margin:10px 0;
      
        label {
          font-weight:400;
          text-transform:uppercase;
          padding:5px 0 5px 2px;
          font-size:14px;
          font-family:"Open Sans";
          color:#4c4c4c;
        }
      
        #evaluationRequestAdditionalMessage {
          width:100%;
          max-width:100%;
          box-sizing:border-box;
          min-height:100px;
          border:3px solid #ededed;
          font-family:"Open Sans";
          color:#4c4c4c;
          padding:4px 8px;
          font-weight:400;
          border-radius:0px;
          
          &:focus,
          &:hover,
          &:active {
            box-shadow:none;
            border:3px solid #ededed;
            outline:none;
          }
          
        }
      
      }
      
    }
    
    .ui-dialog-buttonpane {
      border:0;
      background:transparent;
      padding:0px 10px 10px 10px;
      margin:10px 0 0 0;
      
      .ui-dialog-buttonset {
        float:none;
        position:relative;
      
        button {
          border-radius:0px;
          border:0;
          color:#fff;
          font-weight:400;
          text-transform:uppercase;
          margin:5px;
          outline:none;
          font-family:"Open Sans";
          min-width:90px;
        }
        
        button.request-button {
          float:right;
          background:#068feb;
        }
        
        button.cancellation-button {
          float:right;
          background:#f6a930;
        }
        
        button.cancel-button {
          float:right;
          background:#7391a7;
        }
      
      }
    }
  }
  
  /* WORKSPACE SPECIFIC DISCUSSIONS OVERRIDES */
  
  /* Discussion header overrides */
  .mf-content-functions {
    background-color: #fff;
    height:75px;
    font-size:14px;
    
    .mf-button-container {
      background-color: #fff;
      
      .di-new-message-button {
        font-weight:400;
      }
      
    }
    
    .mf-view-container {
      background-color:#fff;
    }
  
  }
  
  /* Discussion areas overrides */
  .mf-content-area {
    background-color: #fff;
    
    .di-no-messages {
    
      h3 {
        font-weight:300;
      }
    
    }
    
  }
  
  div[data-name="workspace.content-tools-top.center"] {
    height: 70px;
  }
  
  /* Social navigation with New Message/Area and Answer Message */
  #socialNavigation.sn-container {
  
    .di-message-create,
    .di-area-create {
    
      .mf-content {
      
        .mf-fieldRow {
          position:relative;
          margin:2px 0 3px 0;
          
          .mf-textfield {
            position:relative;
            top:0;
          
            input[type="textfield"] {
              border:2px solid #fff;
              color:#000;
              border-radius:3px;
              padding:6px 8px;
              line-height:1em;
            }
            
          }
          
          .mf-select {
            position:relative;
            top:0;
          
            select {
              min-width:200px;
              margin-left:5px;
              
              option {
                padding:8px;
              }
            
            }
          
          }
          
        }

      }
    
      .mf-toolbar {
      
        input {
          border-radius:0px;
          border:0;
          color:#fff;
          font-weight:400;
          text-transform:uppercase;
          margin:5px;
          outline:none;
          font-family:"Open Sans";
          min-width:90px;
          padding:10px;
          font-size:16px;
        }
      
        input[name="send"] {
          background:#27b91c;
        }
        
        input[name="cancel"] {
          background:#7391a7;
        }
      
      }
    
    }
  
  }
  
  /* JQuery UI Dialog Overrides */
  .ui-widget-overlay {
    background:#000;
    opacity:0.5;
  }
  
  .discussion-management-dialog {
    box-shadow:0 0 80px rgba(0,0,0,0.4);
    background:#fff;
    font-family: 'Open Sans',Verdana, sans-serif;
    font-size:16px;
    font-weight:300;
    padding:0;
    text-transform:uppercase;
    border:none;
    z-index:9999;
    
    &.ui-corner-all {
      border-radius:0px;
    }
    
    .ui-dialog-titlebar {
      border:0px;
      background:#7391a7;
      color:#fff;
      border-radius:0px;
      padding:8px 36px 8px 12px;
      font-weight:400;
      
      .ui-dialog-title {
        margin:0;
        font-size:18px;
        width:100%;
        font-weight:300;
      }
      
      .ui-dialog-titlebar-close {
        background:#7391a7;
        border-radius:0px;
        border:0px;
        width:24px;
        margin:-13px 0 0 0;
        font-size:22px;
        height:22px; Same height as font-size
        
        span {
          display:none;
        }
        
        &:before {
          content: "\e63b";
          color:#fff;
          font-size:22px;
          font-weight:normal;
          font-family: 'muikku';
          speak: none;
          font-style: normal;
          text-decoration:none;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        
      }
      
    }
    
    .discussion-confirm-dialog {
      margin:10px 0 0 0;
    }
    
    .ui-dialog-buttonpane {
      border:0;
      background:transparent;
      padding:0px 10px 10px 10px;
      margin:10px 0 0 0;
      
      .ui-dialog-buttonset {
        float:none;
        position:relative;
      
        button {
          border-radius:0px;
          border:0;
          color:#fff;
          font-weight:400;
          text-transform:uppercase;
          margin:5px;
          outline:none;
          font-family:"Open Sans";
          min-width:90px;
        }
        
        button.delete-button,
        button.confirm-button {
          float:right;
          background:#de3211;
        }
        
        button.publish-button {
          float:right;
          background:#27b91c;
        }
        
        button.revert-button {
          float:right;
          background:#f6a930;
        }
        
        button.cancel-button {
          float:right;
          background:#7391a7;
        }
      
      }
    }
  }
  
}


  