@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_commons.scss"; 
@import "_workspaces.scss"; /* Generic workspace styles */

body[class^='workspace'] { 

  /* WORKSPACE JOURNAL */
  
  .workspace-journal-new-entry-container {
    background-color:#fff;
    font-size:14px;
    height:35px;
    padding:30px 30px 0px 30px;
    
    .workspace-journal-new-entry-button {
      background:#0099ff;
      border-radius: 3px;
      color:#ffffff;
      cursor:pointer;
      display:inline-block;
      font-size:1em;
      line-height:1.3em;
      text-transform: uppercase;
      padding:8px 12px;
      font-weight:400;
    }

  }
  
  .workspace-journal-content-wrapper {
    min-height:500px;
    background:#fff;
    padding:30px;
    
    .workspace-single-journal-entry {
      position:relative;
      margin:0 0 30px 0;
      border-bottom:8px solid #eee;
      padding:0 0 25px 0;
      
      &:last-child {
        margin:0;
        border:none;
        padding:0;
      }
      
      .workspace-journal-title {
        font-size:25px;
        font-weight:300;
      }
      
      .workspace-journal-entry-meta {
        margin:10px 0 0 0;
      
        .workspace-journal-dateTime {
          font-style:italic;
          color:#31638d;
          font-weight:400;
          display:inline-block;
          margin:0 10px 0 0;
        }
        
      }
      
      .workspace-journal-content {
      
      }
      
      .workspace-journal-footer {
      
        button {
          border-radius:3px;
          border:0;
          color:#fff;
          font-weight:400;
          text-transform:uppercase;
          margin:5px;
          outline:none;
          font-family:"Open Sans";
          padding:2px 8px;
          font-size:14px;
          cursor:pointer;
        }
        
        .journal-edit-button {
          background:#f6a930;
        }
        
        .journal-delete-button {
          background:#de3211;
        }
        
        .journal-permanent-url-button {
          background:#7391a7;
        }
      
      }
    
    }
    
  }
  
  /* Social navigation with New Journal entry */
  #socialNavigation.sn-container {
  
    .jo-message-create {
    
      .mf-content {
      
        .mf-fieldRow {
          position:relative;
          margin:2px 0 3px 0;
          
          .mf-textfield {
            position:relative;
            top:0;
          
            input[type="text"] {
              border:0 solid #fff;
              color:#000;
              border-radius:3px;
              padding:5px 8px;
              line-height:1em;
              margin-left:5px;
              margin-top:5px;
              min-width:200px;
              
              &:focus {
                background-color:#eee;         
              }
              
              &:hover {
                background-color:#eee;         
              }
              
              &.mf-textfield-subject {        
                width:750px;
                
                &:focus {
                  background-color:#fff;         
                }
                
                &:hover {
                  background-color:#fff;         
                }
               
              }
            }
            
          }
          
        }

      }
    
      .mf-toolbar {
      
        input {
          border-radius:0px;
          border:0;
          color:#fff;
          font-weight:400;
          text-transform:uppercase;
          margin:5px;
          outline:none;
          font-family:"Open Sans";
          min-width:90px;
          padding:10px;
          font-size:16px;
        }
      
        input[name="send"] {
          background:#27b91c;
        }
        
        input[name="cancel"] {
          background:#7391a7;
        }
      
      }
    
    }
    
    textarea {
      margin-left:5px;
    }
    
    .jo-message-new-content {
      width:100%;
    }  
  
  }
  
  /* JQuery UI Dialog Overrides */
  .ui-widget-overlay {
    background:#000;
    opacity:0.5;
  }
  
  .workspace-journal-confirm-dialog {
    box-shadow:0 0 80px rgba(0,0,0,0.4);
    background:#fff;
    font-family: 'Open Sans',Verdana, sans-serif;
    font-size:16px;
    font-weight:300;
    padding:0;
    text-transform:uppercase;
    border:none;
    z-index:9999;
    
    &.ui-corner-all {
      border-radius:0px;
    }
    
    .ui-dialog-titlebar {
      border:0px;
      background:#7391a7;
      color:#fff;
      border-radius:0px;
      padding:8px 36px 8px 12px;
      font-weight:400;
      
      .ui-dialog-title {
        margin:0;
        font-size:18px;
        width:100%;
        font-weight:300;
      }
      
      .ui-dialog-titlebar-close {
        background:#7391a7;
        border-radius:0px;
        border:0px;
        width:24px;
        margin:-13px 0 0 0;
        font-size:22px;
        height:22px; Same height as font-size
        
        span {
          display:none;
        }
        
        &:before {
          content: "\e63b";
          color:#fff;
          font-size:22px;
          font-weight:normal;
          font-family: 'muikku';
          speak: none;
          font-style: normal;
          text-decoration:none;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
        
      }
      
    }
    
    .workspace-journal-delete-confirm-dialog {
      margin:10px 0 0 0;
    }
    
    .ui-dialog-buttonpane {
      border:0;
      background:transparent;
      padding:0px 10px 10px 10px;
      margin:10px 0 0 0;
      
      .ui-dialog-buttonset {
        float:none;
        position:relative;
      
        button {
          border-radius:0px;
          border:0;
          color:#fff;
          font-weight:400;
          text-transform:uppercase;
          margin:5px;
          outline:none;
          font-family:"Open Sans";
          min-width:90px;
        }
        
        button.delete-button,
        button.confirm-button {
          float:right;
          background:#de3211;
        }
        
        button.publish-button {
          float:right;
          background:#27b91c;
        }
        
        button.revert-button {
          float:right;
          background:#f6a930;
        }
        
        button.cancel-button {
          float:right;
          background:#7391a7;
        }
      
      }
    }
  }
  
}