.muikku-file-input-field-file {
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
}

.muikku-file-input-field-file-label {
  font-weight: bold;
  position: absolute;
  margin-top: -20px;
  margin-left: 10px;
}

.muikku-file-input-field-file-remove, .muikku-file-input-field-file-restore {
  display: block;
  text-decoration: none;
  position: absolute; 
  margin-top: -20px;
  right: 10px;
}

.muikku-file-input-field-file-remove {
  color: #f00;
}

.muikku-file-input-field-file-restore {
  color: #00f;
}


.muikku-file-input-field-file-removed .muikku-file-input-field-file-label {
  text-decoration:line-through;
}

.muikku-connect-field-counterparts,.muikku-connect-field-gap,.muikku-connect-field-terms
	{
	display: table-cell
}

.muikku-connect-field-gap {
	width: 50px
}

.muikku-connect-field-counterpart,.muikku-connect-field-term {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	background: rgba(0, 0, 0, 0.05);
	margin: 4px;
	white-space: nowrap;
	border: 1px solid #dadada;
	border-radius: 10px
}

.muikku-connect-field-term {
	text-align: right
}

.muikku-connect-field-counterpart {
	text-align: left
}