@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_workspaces.scss"; /* Generic workspace styles */

body[class^='workspace'] { 
  
  /* WORKSPACE HEADER */
  header.workspace-header-wrapper {
    background:#fff;
    box-sizing:border-box;
    max-width:960px;
    min-height:290px;
    position:relative;
    padding:5px;
    border-bottom:10px solid #eee;
    
    .workspace-image {
      width:950px;
      height:240px;
      position:absolute;
      top:5px;
      left:5px;
      right:5px;
      bottom:5px;
      @include background-image('/gfx/workspace-default-header.jpg');
      background-repeat:no-repeat;
      background-color:#d1e069;
      z-index:10;
    }
  
    h1.workspace-title {
      margin:0;
      color:#38393a;
      font-weight:300;
      text-transform:uppercase;
      line-height:1.3em;
      position:absolute;
      top:60px;
      left:0;
      background:#fff;
      padding:20px;
      z-index:11;
      max-width:80%;
    }
    
    .workspace-additional-info-wrapper {
      position:absolute;
      left:20px;
      bottom:50px;
      background:#31acf6;
      color:#fff;
      padding:0px 8px;
      min-width:100px;
      z-index:13;
      font-size:15px;
      
      span {
        font-weight:400;
        display:inline-block;
        margin:0 2px 0 0;
      }
      
    }
    
    .workspace-study-level-indicator {
      position:absolute;
      bottom:225px;
      right:-5px;
      z-index:12;
      height:26px;
      padding:4px 12px 4px 14px;
      box-shadow:0 0 40px rgba(0,0,0,0.15);
      transform: skew(-10deg, 0deg) ;
      -webkit-transform: skew(-10deg, 0deg) ;
      -moz-transform: skew(-10deg, 0deg) ;
      -o-transform: skew(-10deg, 0deg) ;
      -ms-transform: skew(-10deg, 0deg) ;
      
      &.indicator1 {
        border-left:2px solid #fff;
        color:#fff;
        background:#4ee23a;
        min-width:50px;
      }
      
      .workspace-study-level-text {
        position:relative;
        transform: skew(0deg, 0deg) ;
        -webkit-transform: skew(10deg, 0deg) ;
        -moz-transform: skew(10deg, 0deg) ;
        -o-transform: skew(10deg, 0deg) ;
        -ms-transform: skew(10deg, 0deg) ;
        font-weight:400;
        text-transform:uppercase;
        height:26px;
      }
      
    }
    
    .workspace-meta-wrapper {
      font-size:15px;
      text-transform:uppercase;
      position:absolute;
      bottom:0;
      left:0;
      z-index:13;
      padding:3px 20px 3px 20px;

      .workspace-meta-title {
        color:#727272;
        display:inline-block;
        margin:0 2px 0 0;
      }
      
      .workspace-meta-desc {
        color:#000;
        display:inline-block;
        margin:0 10px 0 0;
      }
    }
    
     .workspace-publication-container {
        position: absolute;
        bottom: 0px;
        right: 5px;
        width: 200px;
        font-size: 15px;
        text-transform: uppercase;
        padding:4px 0;
        text-align: right;
        
        a {
          text-decoration:none;
          font-size:14px;
          color:#fff !important;
          border-radius:2px;
          font-weight:400;
          padding:2px 6px;
          
          &.workspace-publish-button {
            background:#27b91c;
          }
          
          &.workspace-unpublish-button {
            background:#ff9703;
          }
        
        }

      }
  
  }
  
  /* WORKSPACE CONTENT (WIDGETS) */
  
  /* Welcome To widget */
  .wi-workspace-welcometo {/* Name of the widget */
    border-left:5px solid #67d9bf;
    padding:0 20px 0 15px;
    margin:0 0 30px 0;
  
  
    div[class*='-widget-container'] { /* Container for widgets title and content */
      margin:5px 0;
    
      h2[class*='-widget-title'] { /* Title of widget */
        font-size:29px;
        font-weight:300;
        margin:0 0 20px 0;
      }
      
      div[class*='-widget-content'] { /* Content of widget */

      }
    
    }
  
  }
  
  /* Essential contents widget */
  .wi-workspace-essential-contents {/* Name of the widget */
    margin:0 0 30px 0;
    padding:10px 20px;
    background:#f0fbf8;
  
    div[class*='-widget-container'] { /* Container for widgets title and content */
      margin:5px 0;
    
      h2[class*='-widget-title'] { /* Title of widget */
        font-size:29px;
        font-weight:300;
        margin:0 0 20px 0;
      }
      
      div[class*='-widget-content'] { /* Content of widget */

      }
    
    }
  
  }
  
  /* Essential goals widget */
  .wi-workspace-essential-goals {/* Name of the widget */
    margin:0 0 30px 0;
    padding:10px 20px;
    background:#ecf4ff;
  
    div[class*='-widget-container'] { /* Container for widgets title and content */
      margin:5px 0;
    
      h2[class*='-widget-title'] { /* Title of widget */
        font-size:29px;
        font-weight:300;
        margin:0 0 20px 0;
      }
      
      div[class*='-widget-content'] { /* Content of widget */

      }
    
    }

  }
  
  div[class^='widget wi-workspace-'] {
    position:relative;
  }
  
  div[class^='widget wi-workspace-']:last-child {
    margin:0 0 10px 0;
  }
  
  
  
  /* WORKSPACE FOOTER */
  footer {
    min-height:200px;
    background:#fff;
    box-sizing:border-box;
    max-width:960px;
    position:relative;
    padding:20px;
    border-top:10px solid #eee;
    font-size:14px;
    
    .workspace-footer-teacher-wrapper {
      clear:both;
      margin:0 0 20px 0;
    
      .workspace-footer-teacher-image {
        float:left;
        width:80px;
        height:95px;
        overflow:hidden;
        margin:0 20px 0 0;
        @include background-image('gfx/workspace-default-teacher.jpg');
        background-repeat:no-repeat;
      }
      
      .workspace-footer-teacher-name {
        float:left;
        
        span.workspace-footer-teacher-name-label {
          text-transform:uppercase;
          color:#727272;
          display:inline-block;
          margin:0 5px 0 0;
        }
        
        span.workspace-footer-teacher-name-data {
          text-transform:uppercase;
          color:#000;
          display:inline-block;
        }
      }
    
    }
    
    .workspace-footer-licence-wrapper {
      min-height:40px;
      background:#98c807;
      margin:0 -20px 20px -20px;
      clear:both;
      padding:20px;
      
      .workspace-footer-licence-icon-wrapper {
        float:left;
      }
      
      .workspace-footer-licence-text-wrapper {
        float:left;
        color:#e6ffe9;
        font-size:16px;
        line-height:1.5em;
        min-height:20px;
        font-weight:400;
        
        a.workspace-footer-licence-link#workspaceFooterLicenceLink {
          font-weight:600;
          color:#fff;
          text-decoration:none;
          
          &:hover {
            text-decoration:underline;
          }
          
        }
      }
    }
    
    .workspace-footer-producers-wrapper {
      margin:20px 0 0 0;
    
      .workspace-footer-producers-name {
        
        span.workspace-footer-producers-name-label {
          text-transform:uppercase;
          color:#727272;
          display:inline-block;
          margin:0 5px 0 0;
        }
        
        span.workspace-footer-producers-name-data {
          text-transform:uppercase;
          color:#000;
          display:inline-block;
        }
      }
    
    }

  }
  
}
  