@import "_base.scss"; /* Has to be loaded 1st, has all the mixins */
@import "_workspaces.scss"; /* Generic workspace styles */

body[class^='workspace'] { 
  
  /* WORKSPACE SPECIFIC DISCUSSIONS OVERRIDES */
  
  /* Discussion header overrides */
  .mf-content-functions {
    background-color: #fff;
    height:55px;
    font-size:14px;
    
    .mf-button-container {
      background-color: #fff;
      height:55px;
      
      .bt-mainFunction { /* Overrides mainfunction button styles */
        margin:0 0 10px 30px;
        box-shadow:none;
        border:0px;
        text-shadow:none;
        background:#0099ff;
        width:auto;
      }
      
      .di-new-message-button {
        font-weight:400;
      }
      
    }
    
    .mf-view-container {
      background-color:#fff;
      height:55px;
      
      .di-browse-areas-container {
        margin:0px 0 10px 0px;
      }
      
      .di-new-area-container {
        margin:2px 0 0 5px;
      }
    }
  
  }
  
  /* Discussion areas overrides */
  .mf-content-area {
    background-color: #fff;
    
    .di-no-messages {
    
      h3 {
        font-weight:300;
      }
    
    }
    
  }

  /* Social navigation with New Message/Area and Answer Message */
  #socialNavigation.sn-container {
  
    .di-message-create,
    .di-area-create {
    
      .mf-content {
      
        .mf-fieldRow {
          position:relative;
          margin:2px 0 3px 0;
          
          .mf-textfield {
            position:relative;
            top:0;
          
            input[type="text"] {
              border:2px solid #fff;
              color:#000;
              border-radius:3px;
              padding:6px 8px;
              line-height:1em;
            }
            
          }
          
          .mf-select {
            position:relative;
            top:0;
          
            select {
              min-width:200px;
              margin-left:5px;
              
              option {
                padding:8px;
              }
            
            }
          
          }
          
        }

      }
    
      .mf-toolbar {
      
        input {
          border-radius:0px;
          border:0;
          color:#fff;
          font-weight:400;
          text-transform:uppercase;
          margin:5px;
          outline:none;
          font-family:"Open Sans";
          min-width:90px;
          padding:10px;
          font-size:16px;
        }
      
        input[name="send"] {
          background:#27b91c;
        }
        
        input[name="cancel"] {
          background:#7391a7;
        }
      
      }
    
    }
  
  }
  
}