@import "./variables";
@import "./mixins";

.react-datepicker-popper {
  z-index: 101;
}

/* .react-datepicker-wrapper {
  display: inline-block;
}

.react-datepicker {
  background-color: $datepicker-main-background-color;
  border: 1px solid $datepicker-border-color;
  border-radius: $datepicker-border-radius;
  color: $datepicker-text-color;
  display: inline-block;
  font-family: $datepicker-font-family;
  font-size: $datepicker-font-size;
  position: relative;
}

.react-datepicker__triangle {
  left: 50px;
  position: absolute;
}

.react-datepicker-popper {
  z-index: 100;

  &[data-placement^="bottom"] {
    margin-top: $datepicker-triangle-size + 2px;

    .react-datepicker__triangle {
      @extend %triangle-arrow-up;
    }
  }

  &[data-placement^="top"] {
    margin-bottom: $datepicker-triangle-size + 2px;

    .react-datepicker__triangle {
      @extend %triangle-arrow-down;
    }
  }

  &[data-placement^="right"] {
    margin-left: $datepicker-triangle-size;

    .react-datepicker__triangle {
      left: auto;
      right: 42px;
    }
  }

  &[data-placement^="left"] {
    margin-right: $datepicker-triangle-size;

    .react-datepicker__triangle {
      left: 42px;
      right: auto;
    }
  }
}

.react-datepicker__header {
  background-color: $datepicker-background-color;
  border-bottom: 1px solid $datepicker-border-color;
  border-top-left-radius: $datepicker-border-radius;
  border-top-right-radius: $datepicker-border-radius;
  padding-top: 8px;
  position: relative;
  text-align: center;

  &--time {
    padding-bottom: 8px;
  }
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  color: $datepicker-header-color;
  font-size: $datepicker-font-size * 1.18;
  font-weight: 600;
  margin-top: 0;
}

.react-datepicker__navigation {
  border: $datepicker-navigation-size solid transparent;
  cursor: pointer;
  line-height: $datepicker-item-size;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 0;
  z-index: 1;

  &--previous {
    border-right-color: $datepicker-muted-color;
    left: 10px;

    &:hover {
      border-right-color: darken($datepicker-muted-color, 10%);
    }
  }

  &--next {
    border-left-color: $datepicker-muted-color;
    right: 10px;

    &--with-time:not(&--with-today-button) {
      right: 80px;
    }

    &:hover {
      border-left-color: darken($datepicker-muted-color, 10%);
    }
  }

  &--years {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;

    &-previous {
      border-top-color: $datepicker-muted-color;
      top: 4px;

      &:hover {
        border-top-color: darken($datepicker-muted-color, 10%);
      }
    }

    &-upcoming {
      border-bottom-color: $datepicker-muted-color;
      top: -4px;

      &:hover {
        border-bottom-color: darken($datepicker-muted-color, 10%);
      }
    }
  }
}

.react-datepicker__month-container {
  float: left;
}

.react-datepicker__month {
  margin: $datepicker-margin;
  text-align: center;
}

.react-datepicker__time-container {
  border-left: 1px solid $datepicker-border-color;
  float: right;

  &--with-today-button {
    border: 1px solid $datepicker-border-color;
    border-radius: 0.3rem;
    display: inline;
    position: absolute;
    right: -72px;
    top: 0;
  }

  .react-datepicker__time {
    background: $datepicker-main-background-color;
    position: relative;
  }

  .react-datepicker__time-box {
    overflow-x: hidden;
    width: 70px;
  }

  ul.react-datepicker__time-list {
    height: calc(195px + (#{$datepicker-item-size} / 2));
    list-style: none;
    margin: 0;
    overflow-y: scroll;
    padding-right: 30px;
    width: 100%;
  }

  li.react-datepicker__time-list-item {
    padding: 5px 10px;

    &:hover {
      background-color: $datepicker-background-color;
      cursor: pointer;
    }

    &--selected {
      background-color: $datepicker-selected-color;
      color: $datepicker-main-color;
      font-weight: 600;

      &:hover {
        background-color: $datepicker-selected-color;
      }
    }

    &--disabled {
      color: $datepicker-muted-color;

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

.react-datepicker__week-number {
  color: $datepicker-muted-color;
  display: inline-block;
  line-height: $datepicker-item-size;
  margin: $datepicker-day-margin;
  text-align: center;
  width: $datepicker-item-size;

  &.react-datepicker__week-number--clickable {
    cursor: pointer;

    &:hover {
      background-color: $datepicker-background-color;
      border-radius: $datepicker-border-radius;
    }
  }
}

.react-datepicker__day-names,
.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: $datepicker-text-color;
  display: inline-block;
  line-height: $datepicker-item-size;
  margin: $datepicker-day-margin;
  text-align: center;
  width: $datepicker-item-size;
}

.react-datepicker__day {
  cursor: pointer;

  &:hover {
    background-color: $datepicker-background-color;
    border-radius: $datepicker-border-radius;
  }

  &--today {
    font-weight: 600;
  }

  &--highlighted {
    background-color: $datepicker-highlighted-color;
    border-radius: $datepicker-border-radius;
    color: $datepicker-main-color;

    &:hover {
      background-color: darken($datepicker-highlighted-color, 5%);
    }

    &-custom-1 {
      color: $datepicker-custom-color1;
    }

    &-custom-2 {
      color: $datepicker-custom-color2;
    }
  }

  &--selected,
  &--in-selecting-range,
  &--in-range {
    background-color: $datepicker-selected-color;
    border-radius: $datepicker-border-radius;
    color: $datepicker-main-color;

    &:hover {
      background-color: darken($datepicker-selected-color, 5%);
    }
  }

  &--keyboard-selected {
    background-color: lighten($datepicker-selected-color, 10%);
    border-radius: $datepicker-border-radius;
    color: $datepicker-main-color;

    &:hover {
      background-color: darken($datepicker-selected-color, 5%);
    }
  }

  &--in-selecting-range:not(&--in-range) {
    background-color: rgba($datepicker-selected-color, 0.5);
  }

  &--in-range:not(&--in-selecting-range) {
    .react-datepicker__month--selecting-range & {
      background-color: $datepicker-background-color;
      color: $datepicker-text-color;
    }
  }

  &--disabled {
    color: $datepicker-muted-color;
    cursor: default;

    &:hover {
      background-color: transparent;
    }
  }
}

.react-datepicker__input-container {
  display: inline-block;
  position: relative;
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view {
  border: 1px solid transparent;
  border-radius: $datepicker-border-radius;

  &:hover {
    cursor: pointer;

    .react-datepicker__year-read-view--down-arrow,
    .react-datepicker__month-read-view--down-arrow {
      border-top-color: darken($datepicker-muted-color, 10%);
    }
  }

  &--down-arrow {
    @extend %triangle-arrow-down;

    border-top-color: $datepicker-muted-color;
    border-width: $datepicker-navigation-size;
    float: right;
    margin-left: 20px;
    position: relative;
    top: 8px;
  }
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown {
  background-color: $datepicker-background-color;
  border: 1px solid $datepicker-border-color;
  border-radius: $datepicker-border-radius;
  left: 25%;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 50%;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  &--scrollable {
    height: 150px;
    overflow-y: scroll;
  }
}

.react-datepicker__year-option,
.react-datepicker__month-option {
  display: block;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  &:first-of-type {
    border-top-left-radius: $datepicker-border-radius;
    border-top-right-radius: $datepicker-border-radius;
  }

  &:last-of-type {
    border-bottom-left-radius: $datepicker-border-radius;
    border-bottom-right-radius: $datepicker-border-radius;
    user-select: none;
  }

  &:hover {
    background-color: $datepicker-muted-color;

    .react-datepicker__navigation--years-upcoming {
      border-bottom-color: darken($datepicker-muted-color, 10%);
    }

    .react-datepicker__navigation--years-previous {
      border-top-color: darken($datepicker-muted-color, 10%);
    }
  }

  &--selected {
    left: 15px;
    position: absolute;
  }
}

.react-datepicker__close-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 0;
  outline: 0;
  padding: 0;
  vertical-align: middle;

  &::after {
    background-color: $datepicker-selected-color;
    border-radius: 50%;
    bottom: 0;
    box-sizing: border-box;
    color: $datepicker-main-color;
    content: "\00d7";
    cursor: pointer;
    font-size: 12px;
    height: 16px;
    line-height: 1;
    margin: -8px auto 0;
    padding: 2px;
    position: absolute;
    right: 7px;
    text-align: center;
    top: 50%;
    width: 16px;
  }
}

.react-datepicker__today-button {
  background: $datepicker-background-color;
  border-top: 1px solid $datepicker-border-color;
  clear: left;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 0;
  text-align: center;
}

.react-datepicker__portal {
  align-items: center;
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2147483647;

  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    line-height: 3rem;
    width: 3rem;
  }

  // Resize for small screens
  @media (max-width: 400px), (max-height: 550px) {
    .react-datepicker__day-name,
    .react-datepicker__day,
    .react-datepicker__time-name {
      line-height: 2rem;
      width: 2rem;
    }
  }

  .react-datepicker__current-month,
  .react-datepicker-time__header {
    font-size: $datepicker-font-size * 1.8;
  }

  .react-datepicker__navigation {
    border: 1.8 * $datepicker-navigation-size solid transparent;
  }

  .react-datepicker__navigation--previous {
    border-right-color: $datepicker-muted-color;

    &:hover {
      border-right-color: darken($datepicker-muted-color, 10%);
    }
  }

  .react-datepicker__navigation--next {
    border-left-color: $datepicker-muted-color;

    &:hover {
      border-left-color: darken($datepicker-muted-color, 10%);
    }
  }
} */
