$color-communicator-text-title: $color-inverse;

$color-communicator-button-pill-settings-background: transparent;
$color-communicator-button-pill-settings-text: $color-inverse;
$color-communicator-button-pill-settings-background-hover: transparent;
$color-communicator-button-pill-settings-background-active: rgba(0, 0, 0, 0.2);

$color-communicator-button-new-message-background: $color-primary;
$color-communicator-button-new-message-text: $color-primary-contrast;
$color-communicator-button-pill-delete-background: $color-primary;
$color-communicator-button-pill-delete-text: $color-primary-contrast;
$color-communicator-button-pill-label-background: $color-secondary;
$color-communicator-button-pill-label-text: $color-secondary-contrast;
$color-communicator-button-pill-toggle-read-background: $color-secondary;
$color-communicator-button-pill-toggle-read-text: $color-secondary-contrast;
$color-communicator-button-pill-go-back-background: lighten($color-primary, 20%);
$color-communicator-button-pill-go-back-text: $color-secondary-contrast;
$color-communicator-button-pill-prev-page-background: lighten($color-primary, 20%);
$color-communicator-button-pill-prev-page-text: $color-secondary-contrast;
$color-communicator-button-pill-next-page-background: lighten($color-primary, 20%);
$color-communicator-button-pill-next-page-text: $color-secondary-contrast;

$color-communicator-button-pill-toolbar-edit-label-background: transparent;
$color-communicator-button-pill-toolbar-edit-label-text: rgba(0, 0, 0, 0.5);
$color-communicator-button-pill-toolbar-edit-label-background-hover: transparent;
$color-communicator-button-pill-toolbar-edit-label-background-active: rgba(0, 0, 0, 0.2);

$color-communicator-button-pill-navigation-edit-label-background: transparent;
$color-communicator-button-pill-navigation-edit-label-text: rgba(0, 0, 0, 0.5);
$color-communicator-button-pill-navigation-edit-label-background-hover: transparent;
$color-communicator-button-pill-navigation-edit-label-background-active: rgba(0, 0, 0, 0.2);

$color-communicator-application-list-item-open-background: #f8f8f8;
$color-communicator-application-list-item-unread-border: #E30086;
$color-communicator-application-list-item-checkbox-border: #aaa;
$color-communicator-application-list-item-checkbox-checked-mark: $color-success;
$color-communicator-application-list-item-checkbox-checked-background: rgba(255, 255, 255, 0.8);



$color-communicator-button-pill-new-message-background: $color-communicator-button-new-message-background;
$color-communicator-button-pill-new-message-text: $color-communicator-button-new-message-text;

$color-communicator-dropdown-labels-background: $color-default;
$color-communicator-dropdown-labels-border: #ccc;

$color-communicator-dropdown-settings-background: $color-default;
$color-communicator-dropdown-settings-border: #ccc;

$color-communicator-link-label-active-background: $color-primary;

$color-communicator-jumbo-dialog-background-color: #485c64;
$color-communicator-jumbo-dialog-header-background-color: $color-default;

