$color-communicator-text-title: $color-inverse;

$color-communicator-button-pill-settings-background: transparent;
$color-communicator-button-pill-settings-text: $color-inverse;
$color-communicator-button-pill-settings-background-hover: transparent;
$color-communicator-button-pill-settings-background-active: rgba(0, 0, 0, 0.2);

$color-communicator-button-new-message-background: $color-primary;
$color-communicator-button-new-message-text: $color-primary-contrast;