// NAVBAR
$color-environment-navbar-background: #009FE3;
$color-environment-navbar-title: $color-default;

// ICON LINKS
$color-environment-link-icon-color: $color-default;
$color-environment-link-icon-color-hover: $color-default;
$color-environment-link-icon-color-active: $color-default;
$color-environment-link-icon-border-top-color-active: rgba(255,255,255,0.6);

// DEFAULT LINKS
$color-environment-link-language-picker-background: $color-link-inverse-background;
$color-environment-link-language-picker-text: $color-link-inverse-text;
$color-environment-link-language-picker-hover-background: $color-link-hover-background;

$color-environment-link-profile-menu-background: $color-link-default-background;
$color-environment-link-profile-menu-text: $color-link-default-text;
$color-environment-link-profile-menu-hover-background: $color-link-hover-background;

// DROPDOWN
$color-environment-dropdown-language-picker-background: #494949;
$color-environment-dropdown-language-picker-text: $color-default;
$color-environment-dropdown-language-picker-shadow: rgba(0, 0, 0, 0.3);

$color-environment-dropdown-profile-menu-background: $color-default;
$color-environment-dropdown-profile-menu-text: $color-default-contrast;
$color-environment-dropdown-profile-menu-shadow: rgba(0, 0, 0, 0.3);

// BUTTONS
$color-environment-button-pill-language-background: $color-inverse;
$color-environment-button-pill-language-text: $color-inverse-contrast;

$color-environment-button-pill-icon-search: $color-environment-navbar-background;
$color-environment-button-pill-icon-user: #1FE00A;

// MENU
$color-environment-menu-header-background: $color-environment-navbar-background;
$color-environment-link-menu-icon-background: $color-environment-navbar-background;
$color-environment-link-menu-icon-color: $color-default;
$color-environment-link-menu-profile-icon-background: $color-environment-button-pill-icon-user;
$color-environment-link-menu-profile-icon-color: $color-environment-link-menu-icon-color;
$color-environment-link-menu-instructions-icon-background: #E3005B;
$color-environment-link-menu-instructions-icon-color: $color-default;
$color-environment-link-menu-heldesk-icon-background: $color-environment-link-menu-instructions-icon-background;
$color-environment-link-menu-helpdesk-icon-color: $color-environment-link-menu-instructions-icon-color;
$color-environment-link-menu-logout-icon-background: #4c4c4c;
$color-environment-link-menu-logout-icon-color: $color-default;;