@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.add-producer {
  border-radius: 2px;
  flex-basis: 100%;
  margin: 0;
}

.add-producer__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 10px;
}

.add-producer__list-container {
  display: flex;
  flex-flow: row wrap;
}

.add-producer__producer-list-item {
  align-items: center;
  border: 1px solid  lighten($color-material-page-admin-panel-main-color, 20%);
  border-radius: 15px;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 10px 10px 0 0;
  padding: 4px 8px 4px 12px;
}

.add-producer__remove-producer {
  background: $color-default;
  color: $color-fatal;
  cursor: pointer;
  font-size: 0.75rem;
  height: auto;
  margin: 0 0 0 10px;
  padding: 4px;
  width: auto;
}
