@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.application-list {
  @include text;

  height: 100%;

  // margin-bottom: 20px;
  overflow: visible;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.application-list--dialog-users {
  height: 234px;
}

.application-list--dialog-remove-users {
  height: 285px;
}

.application-list__header-container,
.application-list__subheader-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 14px 0 7px;
  }
}

.application-list__subheader-container {
  cursor: pointer;
}

.application-list__actions-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 14px 0 7px;
  }
}

.application-list__subheader-icon {
  font-size: 0.75rem;
  margin-right: 10px;
  padding: 2px;
}

.application-list__header-container--sorter {
  align-items: center;
  background-color: $color-application-list-sorter-background;
  cursor: pointer;
  justify-content: space-between;
  padding: 10px;
}

.application-list__header {
  margin-bottom: 20px;
}

.application-list__header--discussion {
  align-items: center;
  display: flex;
  margin-bottom: 0;
  margin-left: 10px;

  @include breakpoint($breakpoint-pad) {
    margin-left: 0;
  }
}

.application-list__header--sorter {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.application-list__header--filters {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
  width: 100%;
}

.application-list__subheader {
  font-size: 0.875rem;
}

.application-list--workspace-users {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.application-list--workspace-templates {
  min-height: 208px;
  overflow: hidden;
}

.application-list__content--workspace-staff-members {
  display: block;
  min-height: 0;
  padding: 0;

  @include breakpoint($breakpoint-pad) {
    align-content: start;
    display: flex;
    flex-wrap: wrap;

    &.state-FULL {
      min-height: 330px;
    }
  }
}

.application-list__content--workspace-users {
  @include breakpoint($breakpoint-pad) {
    height: 660px;
  }
}

.application-list__footer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.application-list__footer--organization {
  align-items: center;
  display: flex;
  justify-content: center;
}

.application-list__title {
  @include mainfunction-subpanel-title;

  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;
  width: 100%;
}

.application-list__title-aside {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.application-list__header-icon {
  color: $color-course-icon;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.25rem;
  margin-right: 10px;

  &.state-UNPUBLISHED {
    color: $color-disabled;
  }
}

.application-list__header-icon--notification-1 {
  color: $color-notification-type-1;
}

.application-list__header-icon--notification-2 {
  color: $color-notification-type-2;
}

.application-list__header-icon--notification-3 {
  color: $color-notification-type-3;
}

.application-list__header-primary {
  display: flex;
  flex-basis: 0;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0 10px 0 0;
  word-wrap: break-word;
}

.application-list__header-primary--product {
  flex-flow: column wrap;
}

.application-list__header-primary-title {
  padding: 0 0 5px;
}

.application-list__header-primary-description {
  font-size: 0.8125rem;
  padding: 5px 0;
}

.application-list__header-primary-meta {
  font-size: 0.75rem;
  padding: 0 0 5px;

  span {
    display: inline-block;
    margin: 0 10px 0 0;
  }
}

.application-list__header-primary-meta--records {
  display: flex;
  width: 100%;
}

.application-list__header-primary-actions {
  padding: 5px 0;
}

.application-list__header-primary--announcement-meta {
  margin: 0 10px 10px;
  width: 100%;
}

.application-list__header-primary--highlight {
  font-weight: 600;
}

.application-list__header-primary-sender {
  font-weight: 600;

  &::after {
    content: ">";
    margin: 0 10px;
  }
}

.application-list__header-recipients {
  .application-list__header-recipient:not(:last-child) {
    &::after {
      content: ",";
      padding: 0 5px 0 0;
    }
  }
}

.application-list__header-helper {
  color: $color-default-helper;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;

  @include breakpoint($breakpoint-pad) {
    flex-basis: auto;
    padding: 0 0 0 15px;
  }
}

.application-list__fee-indicatoricon-coin-euro {
  color: $color-info;
  font-size: 1rem;
  padding: 4px;
}

.application-list__header-secondary {
  align-items: center;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: $text-capitalized-mobile-font-size;
  justify-content: flex-end;
  margin: 0 0 0 15px;
  text-transform: uppercase;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-capitalized-desktop-font-size;
  }
}

.application-list__indicator-badge {
  align-items: center;
  border-radius: 2px;
  color: $color-default;
  cursor: help;
  display: flex;
  font-size: $text-desktop-font-size;
  font-weight: 600;
  height: 1.375rem;
  justify-content: center;
  margin: 0 0 0 10px;
  text-align: center;
  width: 1.375rem;

  &.state-PASSED {
    background: $color-grade-passed;
  }

  &.state-FAILED {
    background: $color-grade-failed;
  }

  &.state-INCOMPLETE {
    background: $color-grade-incomplete;
  }

  &.state-NO-ASSESSMENT {
    background: $color-grade-not-assessed;
  }

  &.state-UNASSESSED {
    color: $color-default-contrast;
  }
}

.application-list__indicator-badge--course {
  margin: 0 0 0 10px;
}

.application-list__indicator-badge--task {
  border-radius: 3px;
  font-size: 1rem;
  height: 1.75rem;
  margin: 0 10px 0 0;
  width: 2.75rem;
}

.application-list__indicator-badge--evaluation-request {
  background-color: $color-evaluation-request;
  font-size: 1rem;
  font-weight: 400;
}

.application-list__indicator-badge--interim-evaluation-request {
  background-color: $color-interim-evaluation;
  font-size: 1rem;
  font-weight: 400;
}

.application-list__header-item-date {
  text-align: right;
}

.application-list__header-item-dates {
  display: inline-block;
  font-weight: 600;
  margin-left: 5px;
}

.application-list__header-item-body {
  display: inline-block;
  line-height: 1.3275rem;
}

.application-list__item-content > span:not(:first-child) {
  margin-left: 5px;
}

.application-list__item-content-primary-data {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.application-list__item-content-actions {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;

  span {
    cursor: pointer;
  }

  .state-DISABLED {
    color: $color-disabled;
    cursor: default;
  }
}

.application-list__item-content-wrapper {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;

  &.state-ENDED {
    color: $color-disabled;
  }
}

.application-list__item-content-wrapper--workspace-user,
.application-list__item-content-wrapper--dialog-remove-users {
  align-items: center;
}

.application-list__item-content-container--combination-course {
  padding: 0 0 10px 33px;
  position: relative;

  &::after {
    border-bottom: 1px solid lighten($color-workspace, 10%);
    border-left: 1px solid lighten($color-workspace, 10%);
    content: " ";
    display: block;
    height: 25px;
    left: 10px;
    position: absolute;
    top: 5px;
    width: 15px;
  }
}

.application-list__item-content-container--course-assessments {
  background: $color-default-lighter-generic-background;
  border-radius: 5px;
  margin: 0 0 20px;
  padding: 10px;
}

.application-list__item-content-single-item {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 4px 0;
}

.application-list__item-content-single-item-primary {
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 0.8125rem;
}

.application-list__item--workspace-staff-member {
  flex-basis: 100%;
  padding: 10px 0;

  @include breakpoint($breakpoint-pad) {
    flex-basis: 50%;

    &:nth-child(odd) {
      padding: 10px 10px 10px 0;
    }

    &:nth-child(even) {
      padding: 10px 0 10px 10px;
    }
  }
}

.application-list__item--workspace-user {
  padding: 10px 0;
  width: 100%;
}

.application-list__item--studies-file-attacment {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  padding: 5px 10px;
  width: 100%;
}

.application-list__item {
  @include prefix(
    transition,
    webkit ms o moz,
    background-color 0.2s ease-in-out
  );

  align-items: center;
  background-color: $color-application-list-item-background;

  // display: flex;
  position: relative;

  &.selected {
    background-color: $color-application-list-item-background-selected;

    .label {
      background-color: $color-label-mobile-selected-background;
    }

    .glyph,
    .link,
    .application-list__header-primary,
    .application-list__header-secondary,
    .application-list__header-helper,
    .application-list__header-item-date,
    .application-list__header-item-body,
    .application-list-document-short-header {
      color: $color-default;
    }

    .text--item-counter {
      color: $color-default-contrast;
    }

    @include breakpoint($breakpoint-pad) {
      background-color: $color-default;

      .application-list__header-helper {
        color: $color-default-helper;
      }

      .application-list__header-primary,
      .application-list__header-secondary,
      .application-list__header-item-date,
      .application-list__header-item-body,
      .application-list-document-short-header {
        color: $color-default-contrast;
      }

      .link {
        color: $color-text-link;
      }

      .label {
        background: $color-label-background;
      }

      &.announcement--environment .glyph {
        color: $color-announcement-environment;
      }

      &.announcement--workspace .glyph {
        color: $color-announcement-workspace;
      }
    }
  }

  &.state-DISABLED {
    background-color: $color-main-function-application-list-item-disabled-background;
    color: $color-main-function-application-list-item-disabled-text;
  }
}

.application-list__item--notification {
  background: lighten($color-notice, 20%);
  border-radius: 5px;
  font-size: 1rem;
  font-style: italic;
  padding: 10px;
  text-align: center;
}

.application-list__item--user {
  border-top: 1px solid $color-default-item-separator-border;
  padding: 10px;

  &:first-child {
    border-color: transparent;
  }
}

.application-list__item--highlight {
  border-left: 3px solid $color-message-unread-border;
  margin-left: 1px;
  padding-left: 6px; // padding - left border - left margin

  @include breakpoint($breakpoint-pad) {
    border-left-width: 2px;
    margin-left: 0;
    padding-left: 8px;
  }

  &.selected {
    background-color: $color-application-list-item-background-selected;

    @include breakpoint($breakpoint-pad) {
      background-color: transparent;
    }
  }
}

.application-list__item-dates {
  display: flex;
}

.application-list__item-date-container {
  margin-left: 5px;
}

.application-list__item-body {
  padding: 0;
}

.application-list-document-short {
  padding: 10px 0 0;
}

.application-list-document-short-header {
  font-weight: 600;
}

.application-list-document {
  line-height: 1.5rem;
  margin: 20px 0 0;
}

.application-list__item-counter-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  @include breakpoint($breakpoint-mobile-xl) {
    justify-content: flex-end;
  }
}

.application-list__item-counter {
  align-items: center;
  background-color: $color-main-function-item-counter-background;
  border-radius: 3px;
  display: flex;
  height: 20px;
  justify-content: center;
  margin: 0 10px 0 2px;
  min-width: 20px;
  padding: 0 4px;
}

.application-list__item-counter-title {
  font-size: 0.8125rem;
  padding: 0 3px 0 0;
}

.application-list__item-content-aside {
  display: none;

  @include breakpoint($breakpoint-pad) {
    align-items: flex-start;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.application-list__item-content-aside--course {
  padding: 15px 0;
}

.application-list__item-content-aside--workspace-user {
  align-items: flex-start;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.application-list__item-content-main {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
}

.application-list__item-content-main--workspace-user {
  margin-left: 5px;
}

.application-list__item-content-secondary-data {
  color: $color-text-secondary;
}

.application-list__item-content-avatar {
  align-items: center;
  border-radius: 100%;
  color: $color-default;
  display: flex;
  font-size: 1.25rem;
  height: 46px;
  justify-content: center;
  width: 46px;
}

.application-list__item-content-avatar--category-1 {
  background-color: $color-main-function-category-1;
}

.application-list__item-content-avatar--category-2 {
  background-color: $color-main-function-category-2;
}

.application-list__item-content-avatar--category-3 {
  background-color: $color-main-function-category-3;
}

.application-list__item-content-avatar--category-4 {
  background-color: $color-main-function-category-4;
}

.application-list__item-content-avatar--category-5 {
  background-color: $color-main-function-category-5;
}

.application-list__item-content-avatar--category-6 {
  background-color: $color-main-function-category-6;
}

.application-list__item-content-avatar--category-7 {
  background-color: $color-main-function-category-7;
}

.application-list__item-content-avatar--category-8 {
  background-color: $color-main-function-category-8;
}

.application-list__item-content-avatar--category-9 {
  background-color: $color-main-function-category-9;
}

.application-list__item-content-avatar--category-10 {
  background-color: $color-main-function-category-10;
}

.application-list__item-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.application-list__item-content-header {
  font-size: 1rem;
  line-height: 1.3275rem;
  padding: 10px;
}

.application-list__item-content-header--unread {
  font-weight: 600;
}

.application-list__item-content-header--announcer-announcement {
  @include breakpoint($breakpoint-pad) {
    font-size: 1.125rem;
  }
}

.application-list__item-content-body {
  padding: 0 10px;
}

.application-list__item-meta {
  display: flex;
  padding: 10px;
  width: 100%;
}

.application-list__item-footer {
  align-items: flex-start;
  display: flex;
  padding: 0;
}

.application-list__item-footer-content-aside {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;

  @include breakpoint($breakpoint-mobile-xl) {
    justify-content: flex-end;
  }
}

.application-list__item-footer-content-main {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: 0.8125rem;
  padding: 0 0 7px;

  @include breakpoint($breakpoint-mobile-xl) {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
  }
}

.application-list__item-footer-content-main--discussion-subscriptions {
  align-items: flex-start;
  flex-flow: column nowrap;
}

.application-list__item-footer-meta {
  margin: 0 10px 0 0;
}

.application-list__item-footer-meta--discussion-subscriptions {
  margin: 5px 10px 0 0;
}

.application-list__item-date {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  font-size: 0.8125rem;
  justify-content: flex-end;
  text-align: right;

  @include breakpoint($breakpoint-mobile-xl) {
    max-width: 250px;
  }
}

.application-list__item-header-main {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.application-list__item-header-main-content {
  display: inline-block;
}

.application-list__item-header-main-content--discussion-message-creator {
  align-items: center;
  display: inline-flex;
  font-size: 0.875rem;
  font-weight: 600;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.application-list__item-header-main-content--communicator-sender {
  font-weight: 600;

  &::after {
    content: ">";
    margin: 0 10px;
  }
}

.application-list__item-header-main-content--communicator-recipients {
  span:not(:last-child) {
    &::after {
      content: ",";
      padding: 0 5px 0 0;
    }
  }
}

.application-list__item-header-aside {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: right;
}

.application-list--open {
  overflow: -moz-scrollbars-none;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Journal
.application-list__item-header-main-content--journal-entry-title {
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.25rem;
    font-weight: 400;
    padding: 0 10px 0 0;
  }
}

.application-list__item-header-main-content--journal-entry-title-in-studies {
  font-size: 0.875rem;
  font-weight: 600;

  @include breakpoint($breakpoint-pad) {
    font-size: 1rem;
    font-weight: 400;
    padding: 0 20px 0 0;
  }
}

.application-list__header--journal {
  border-top: 3px solid $color-default-item-separator-border;
  padding: 15px 0 0;
}

.application-list__item-header--journal-entry {
  cursor: pointer;
  flex-flow: row wrap;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row nowrap;
  }
}

.application-list__item-header--journal-entry-current {
  cursor: initial;
}

.application-list__item-header--journal-comment {
  flex-flow: row wrap;
  margin: 0 0 15px;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row nowrap;
  }
}

.application-list__item-header-main-content--journal-entry-creator,
.application-list__item-header-main-content--journal-comment-creator {
  font-size: 0.875rem;
  font-weight: 600;
  margin-right: 5px;
  padding: 0 5px 0 15px;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.application-list__item-content-header--journal-entry {
  padding: 20px 0 0;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.125rem;
  }
}

.application-list__item-body--journal-comment {
  background: lighten($color-tertiary, 30%);
  border-radius: 3px;
  padding: 5px 20px;
}

.application-list__item-content-body--journal-entry,
.application-list__item-content-body--journal-comment,
.application-list__item-content-body--discussion {
  padding: 0;
}

.application-list__item-footer--journal-entry {
  flex-flow: row wrap;
  margin: 10px 0 0;
}

.application-list__item-footer--journal-comment {
  flex-flow: row wrap;
  margin: 10px 0;
}

// User
.application-list__item-content-aside--user {
  padding: 0 16px 0 0;
}

.application-list__item-content-main--user {
  align-self: center;
}

.application-list__item-content--secondary {
  color: $color-text-secondary;
}

.application-list__item-content-wrapper--user {
  padding: 10px 0;
}

// Workspace users
.application-list__header--workspace-users {
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 10px 0 10px 10px;
  }
}

// Discussion
.application-list__header-container--discussion {
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 10px 0 0;
  }
}

.application-list__item--discussion-message {
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 20px 0;
  }
}

.application-list__item-header--discussion {
  justify-content: space-between;
}

.application-list__item-header--discussion-thread-list {
  font-size: 1.1875rem;
  justify-content: space-between;
}

.application-list__item-text-body--discussion-message {
  font-size: $text-mobile-font-size;
  font-style: italic;
  font-weight: 400;
  line-height: 1.125rem;
  max-height: 5rem;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
    line-height: 1.25rem;
  }
}

.application-list__item-text-body--discussion-area-description {
  font-size: $text-mobile-font-size;
  font-style: italic;
  font-weight: 300;
  line-height: 1.125rem;
  margin: 0 0 5px;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
    line-height: 1.25rem;
  }
}

.application-list__item-edited {
  font-style: italic;
  font-weight: 600;
  margin: 0 0 10px;
}

.application-list__item-text-body--discussion-message-overflow::before {
  background: linear-gradient(
    $color-application-list-item-fade-background 1rem,
    $color-default
  );
  bottom: 0;
  content: "";
  height: 4rem;
  left: 0;
  position: absolute;
  width: 100%;
}

.application-list__item--discussion-reply {
  border-top: 3px solid $color-message-border;
  margin: 10px 0 0;
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    margin: 0;
    padding: 20px 0;
  }
}

.application-list__item--discussion-reply-of-reply {
  padding: 10px 10px 10px 30px;

  @include breakpoint($breakpoint-pad) {
    padding: 10px 0 20px 55px;
  }
}

.application-list__item-content-aside--discussion {
  padding: 0 16px 0 0;
}

.application-list__item-content-main--discussion {
  align-self: center;
}

.application-list__item-header--discussion-current-thread-title {
  font-size: 2 rem;
}

.application-list__item-footer--discussion-message {
  flex-flow: row wrap;
}

// Announcer
.application-list__item--workspace-announcement,
.application-list__item--environment-announcement {
  padding: 10px 0;

  .glyph::before {
    color: $color-announcement-workspace-icon;
  }

  @include breakpoint($breakpoint-pad) {
    padding: 15px 0;
  }
}

.application-list__item--environment-announcement {
  .glyph::before {
    color: $color-announcement-environment-icon;
  }
}

.application-list__item-header--announcer-announcement {
  align-items: flex-start;
  flex-direction: column;
}

.application-list__item--workspace-announcement:first-child,
.application-list__item--environment-announcement:first-child {
  .application-list__item-header {
    background-color: $color-announcement-open-header-background;
  }
}

.application-list__item-footer--announcement-actions {
  margin: 10px 0 0;
}

// Communicator
.application-list__item--communicator-message {
  border-bottom: 3px solid $color-message-border;
  padding: 10px 0;

  &:last-child {
    border: 0;
  }

  @include breakpoint($breakpoint-pad) {
    padding: 15px 0;
  }
}

.application-list__item:first-child {
  .application-list__item-header--communicator-message-thread {
    background-color: $color-message-open-header-background;
  }
}

.application-list__item-body--communicator-message {
  margin: 5px 0;
}

.application-list__item-footer--communicator-message-thread-actions {
  padding: 10px;
}

// Coursepicker
.application-list__item-header--course {
  cursor: pointer;
  padding: 10px 0;

  @include breakpoint($breakpoint-pad) {
    padding: 15px 0;
  }
}

.application-list__item-header--no-assessment {
  cursor: default;
}

.application-list__item-header--combination-course {
  padding: 10px 0 5px;

  @include breakpoint($breakpoint-pad) {
    padding: 15px 0 5px;
  }
}

.application-list__item-body--course {
  padding: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 0 0 15px;
  }
}

// Guider product
.application-list__item--product {
  border-top: 1px solid $color-message-border;

  &:first-child {
    border-color: transparent;
  }
}

.application-list__item-header--product {
  align-items: flex-start;
  padding: 10px;
}

.application-list__item-body-meta-content {
  display: flex;
  flex-direction: column;
  padding: 0 0 10px;

  label {
    font-weight: 600;
    margin-right: 5px;
  }

  div {
    padding: 5px 0;
  }
}

.application-list__item-footer--course {
  align-items: center;
  padding: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 0 0 15px;
  }
}

// Guider
.application-list__item-footer--student {
  margin: 5px 0 0;
}

// Studies
.application-list__header-container--studies-detailed-info {
  font-size: 1.125rem;
  padding: 10px 0;

  @include breakpoint($breakpoint-pad) {
    padding: 14px 0;
  }
}

.application-list__fee-indicator {
  color: $color-course-icon;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 1.25rem;
  justify-content: flex-end;
  margin-right: 10px;
}

.application-list__item-header--studies-assignment {
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 600;

  @include breakpoint($breakpoint-pad) {
    font-size: 1rem;
    font-weight: 400;
  }
}

.application-list__item-body--evaluation-assignment {
  padding: 2px 8px;
}
