@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.article {
  @include text;
  
  flex-basis: 100%;
  max-width: 100%;
}

.article__header {
  font-size: 1rem;
  margin: 10px 0;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.125rem;
  }
}

.article__header--announcement {
  display: flex;
  width: 100%;
}


.article__date {
  color: $color-index-text-panels-date-color;
  font-style: italic;
  margin: 10px 0 0;
}

.article__body {
  line-height: 1.5rem;
  margin: 10px 0 0;
}
