@import "../base/colors";
@import "../base/mixins";
@import "../base/breakpoints";

.autocomplete {
  display: block;
  position: relative;
  width: 100%;
  z-index: 98;
}

.autocomplete__input {
  display: block;
  width: 100%;
}

.autocomplete__list {
  background-color: $color-autocomplete-list-background-color;
  border: solid 1px $color-autocomplete-list-border;
  border-top: 0;
  left: 0;
  max-height: 350px;
  overflow: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 99;
}

.autocomplete__list-item {
  @include prefix(transition, moz o ms webkit, background-color 0.3s);

  background-color: $color-autocomplete-list-background-color;
  border-top: solid 1px $color-autocomplete-list-border;
  cursor: pointer;
  padding: 10px;

  &:hover,
  &.hover {
    background-color: $color-autocomplete-list-item-hover;
  }

  &:active,
  &.active {
    background-color: $color-autocomplete-list-item-active;
  }

  &.selected {
    background-color: $color-autocomplete-list-item-selected;
  }
}

.autocomplete--new-message {
  margin-bottom: 10px;
}

.autocomplete--new-announcement-recipients, 
.autocomplete--new-announcement-categories {
  margin-bottom: 10px;
  z-index: auto;

  .autocomplete__list {
    top: 64px;
  }
}

.autocomplete__recipient {
  display: flex;

  i {
    opacity: 60%;
  }

  > span {
    margin-right: 5px;
  }
}

.autocomplete__selected-item {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.75rem;

  @include breakpoint($breakpoint-pad) {
    font-size: 0.8125rem;
  }

  i {
    margin: 0 0 0 5px;
    opacity: 60%;
  }
}
