@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.credentials {
  @include text;

  align-items: center;
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  justify-content: center;
}

.credentials__hero {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  max-width: 400px;
  padding: 1.1rem;
  width: calc(100% - 20px);

  @include breakpoint($breakpoint-pad) {
    padding: 1.6rem;
    width: 400px;
  }
}

.credentials__container {
  align-items: flex-start;
  background: $color-default;
  border: 1px solid $color-panel-border-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 1.1rem 1.1rem 0.65rem;
  width: calc(100% - 20px);

  @include breakpoint($breakpoint-pad) {
    padding: 1.6rem 1.6rem 0.8rem;
    width: 400px;
  }
}

.credentials__header {
  color: $color-info;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  overflow: hidden;
  padding-bottom: 1.1rem;
  text-overflow: ellipsis;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.625rem;
  }
}

.credentials__hero-muikku-logo {
  height: 60px;
}

.credentials__hero-muikku-logo-text {
  color: $color-info;
  font-family: $branded-font-family;
  font-size: 2rem;
  font-weight: 900;
  line-height: 2rem;
  padding: 0 1rem;
}

.credentials__body {
  width: 100%;
}

.credentials__changed {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.credentials__changed-message {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px 0;
}

.credentials__changed-action {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  padding: 10px 0;
}
