@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.dropdown {
  @include prefix(transition, moz ms o webkit, opacity 0.15s);
  @include text;

  display: block;
  left: 0;
  max-width: 95%;
  opacity: 0%;
  position: absolute;
  top: 0;
  z-index: 9999;

  &.visible {
    opacity: 100%;
  }
}

.dropdown--group-members .dropdown__container {
  max-height: none;
}
.dropdown--records-filters .dropdown__container {
  max-height: 420px;
}

.dropdown__container {
  background-color: $color-dropdown-default-background;
  border-radius: 5px;
  box-shadow: 0 10px 20px $color-dropdown-default-shadow;
  color: $color-dropdown-default-text;
  display: block;
  line-height: 1.25rem;
  max-height: 350px;
  min-width: 100px;
  opacity: 100%;
  overflow-y: auto;
  padding: 5px;
  position: relative;
  text-align: center;
}

.dropdown__container-item {
  display: flex;
  height: 2.5rem;
  margin: 0 0 1px;
  min-width: 100px;
  position: relative;
}

.dropdown__arrow {
  border: solid transparent;
  border-bottom-color: $color-dropdown-default-background;
  border-width: 4px;
  bottom: 100%;
  display: block;
  height: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  z-index: 99;
}

.dropdown--workspace-chart .dropdown__container .dropdown__container-item {
  height: auto;
}

.dropdown--material-page-field-explanation,
.dropdown--material-page-field-hint,
.dropdown--word-definition {
  max-width: 300px;

  .dropdown__container {
    border-radius: 2px;
    color: $color-default-contrast;
    min-width: 0;
    padding: 3px 6px;
    text-align: left;

    @include breakpoint($breakpoint-pad) {
      padding: 5px 10px;
    }
  }
}

.dropdown--word-definition {
  .dropdown__container {
    background: $color-material-word-definition-background-color;
    border: 1px solid $color-material-word-definition-border-color;
  }

  .dropdown__arrow {
    border-bottom-color: $color-material-word-definition-border-color;
  }
}

.dropdown--material-page-field-explanation {
  .dropdown__container {
    background: $color-taskfield-explanation-background;
    border: 1px solid $color-taskfield-explanation-border;
  }

  .dropdown__arrow {
    border-bottom-color: $color-taskfield-explanation-border;
  }
}

.dropdown--material-page-field-hint {
  .dropdown__container {
    background: $color-taskfield-hint-background;
    border: 1px solid $color-taskfield-hint-border;
  }

  .dropdown__arrow {
    border-bottom-color: $color-taskfield-hint-border;
  }
}

.dropdown--material-management,
.dropdown--material-management-tooltip {
  .dropdown__container {
    background: $color-material-page-admin-panel-main-color;
    border-radius: 2px;
    color: $color-default;
    min-width: 0;
    text-align: left;
  }

  .dropdown__arrow {
    border-bottom-color: $color-material-page-admin-panel-main-color;
  }
}

.dropdown--material-management .dropdown__container {
  padding: 5px;
}

.dropdown--material-management-tooltip .dropdown__container {
  padding: 5px 10px;
}

.dropdown--chat {
  .dropdown__container-item {
    display: block;
    height: 2rem;
    margin: 0 0 1px;
    min-width: 100px;
    overflow: hidden;
    position: relative;
  }
}

.dropdown--guider-labels,
.dropdown--communicator-labels {
  .dropdown__container {
    overflow-y: auto;
  }
}

.dropdown--color-picker {
  .dropdown__container {
    z-index: 12000;
  }
}

.dropdown--instructions {
  .dropdown__container {
    border: 1px solid lighten($color-tertiary, 20%);
    line-height: 1.25rem;
    margin: 0;
    max-width: 500px;
    padding: 10px;
    text-align: initial;
  }

  .dropdown__arrow {
    border-bottom-color: $color-tertiary;
  }

  p {
    margin: 0 0 10px;

    &:last-child {
      margin: 0;
    }
  }
}
