@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";
@import "cke-styles";

.evaluation-modal {
  background: $color-evaluation-modal-background;
  display: flex;
  flex-direction: column;
  height: calc(100% - 55px);
  margin: 55px 0 0;
  overflow: auto;
  padding: 0 0 75px;
  width: 100%;

  @include breakpoint($breakpoint-desktop) {
    flex-direction: row;
    overflow: hidden;
    padding: 0;
  }

  .cke {
    // This needs to be here so we can override the ckeditor's visuals/size partly
    background: $color-default;
    border: 2px solid $taskfield-border-color;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 4px 0 0;
    max-width: 100%;
    min-width: 100%;
  }
}

.evaluation-modal__close {
  border: $color-default;
  border-radius: 100%;
  color: $color-default;
  cursor: pointer;
  font-size: 22px;
  height: 55px;
  padding: 16px;
  position: fixed;
  right: 0;
  top: 0;
  width: 55px;
  z-index: 99;
}

.evaluation-modal__container {
  background: $color-evaluation-modal-background;
  width: 100%;

  @include breakpoint($breakpoint-desktop) {
    width: 50%;
  }
}

.evaluation-modal__header {
  background: $color-info;
  height: 3.5rem;
  min-height: 30px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 60;

  @include breakpoint($breakpoint-desktop) {
    width: 50%;
  }
}

.evaluation-modal__header--workspace {
  display: none;

  @include breakpoint($breakpoint-desktop) {
    display: block;
  }
}

.evaluation-modal__header-title {
  box-sizing: border-box;
  color: $color-default;
  display: inline-block;
  font-size: 1.25rem;
  height: 2.25rem;
  line-height: 2rem;
  overflow: hidden;
  padding: 0 50px 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.evaluation-modal__content-wrapper {
  @include breakpoint($breakpoint-desktop) {
    height: 100%;
    overflow-y: scroll;
  }
}

.evaluation-modal__content {
  padding: 10px;
}

.evaluation-modal__content-title {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.375rem;
  justify-content: space-between;

  @include breakpoint($breakpoint-pad) {
    align-items: center;
    flex-flow: row nowrap;
  }
}

.evaluation-modal__content-actions {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: space-between;
  padding: 0;
}

.evaluation-modal__content-actions-sorters {
  margin-left: 20px;
}

.evaluation-modal__content-actions-sorters,
.evaluation-modal__content-actions-filters {
  display: flex;
}

.evaluation-modal__content-footer {
  background: $color-default;
  border-top: 1px solid $color-default-separator-border;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  left: 0;
  padding: 10px 0 5px;
  position: fixed;
  right: 0;

  @include breakpoint($breakpoint-desktop) {
    background: transparent;
    bottom: unset;
    box-shadow: none;
    left: unset;
    position: static;
    right: unset;
  }
}

.evaluation-modal__content-selector {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0 0 5px;
  width: 100%;
}

.evaluation-modal__content-buttonset {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

// Evaluation assessment events
.evaluation-modal__event {
  background: $color-default;
  border: 1px solid $color-panel-border-color;
  border-radius: 2px;
  display: flex;
  flex-flow: column wrap;
  margin: 10px 0;
  padding: 10px 0;
}

.evaluation-modal__event-header {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  font-size: 0.825rem;
  padding: 0 10px 0 0;
}

.evaluation-modal__event-arrow {
  border-radius: 0;
  display: inline-block;
  margin: 5px;
  padding: 3px;

  &.state-REQUESTED {
    color: $color-evaluation-request;
  }

  &.state-FAILED {
    color: $color-failed;
  }

  &.state-PASSED {
    color: $color-passed;
  }

  &.state-IMPROVED {
    color: $color-passed;
  }

  &.state-INCOMPLETE {
    color: $color-incomplete;
  }
}

.evaluation-modal__event-arrow--journal-comment {
  margin: 5px 5px 5px 0;
  padding: 3px 3px 3px 0;
}

.evaluation-modal__event-arrow--right {
  transform: rotate(0deg);
  transition: transform 150ms ease-out;
}

.evaluation-modal__event-arrow--down {
  transform: rotate(90deg);
  transition: transform 150ms ease-in;
}

.evaluation-modal__event-date {
  background: $color-evaluation-modal-meta-background;
  border-radius: 2px;
  color: $color-default-contrast;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  line-height: 1;
  padding: 3px 6px;
}

.evaluation-modal__event-meta {
  padding: 5px;
}

.evaluation-modal__event-author {
  font-weight: 600;
}

.evaluation-modal__event-type {
  font-weight: 600;

  &.state-REQUESTED {
    color: $color-evaluation-request;
  }

  &.state-FAILED {
    color: $color-failed;
  }

  &.state-PASSED {
    color: $color-passed;
  }

  &.state-IMPROVED {
    color: $color-passed;
  }

  &.state-INCOMPLETE {
    color: $color-incomplete;
  }
}

.evaluation-modal__event-grade {
  align-items: center;
  border-radius: 2px;
  color: $color-default;
  display: flex;
  flex-basis: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.875rem;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  margin: 0 0 0 5px;
  min-height: 1.375rem;
  min-width: 1.375rem;
  padding: 4px;

  &.state-REQUESTED {
    background: $color-evaluation-request;
  }

  &.state-FAILED {
    background: $color-failed;
  }

  &.state-PASSED {
    background: $color-passed;
  }

  &.state-IMPROVED {
    background: $color-passed;
  }

  &.state-INCOMPLETE {
    background: $color-incomplete;
  }
}

.evaluation-modal__event-literal-assessment,
.evaluation-modal__item-literal-assessment-data {
  p,
  ul,
  table {
    margin: 10px 0;

    &:first-child {
      margin: 0 0 10px;
    }

    &:last-child {
      margin: 0;
    }
  }

  h3,
  h4 {
    margin: 15px 0 10px;

    &:first-child {
      margin: 0 0 10px;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.evaluation-modal__event-literal-assessment {
  background-color: $color-evaluation-modal-meta-background;
  border-radius: 2px;
  margin: 5px 10px 0;
  padding: 10px;
}

.evaluation-modal__event-actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
}

// Evaluation item listing
.evaluation-modal__item {
  background: $color-default;
  border: 1px solid $color-panel-border-color;
  border-radius: 2px;
  margin: 10px 0 0;
  padding: 0 10px;

  .material-page__assignment-assessment {
    margin: 10px 0;
  }
}

.evaluation-modal__content-sub-item {
  margin: 0 0 0 15px;
}

.evaluation-modal__item-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  &.state-FAILED {
    .button-pill--evaluate {
      background: $color-failed;
    }
  }

  &.state-EVALUATED {
    .button-pill--evaluate {
      background: $color-passed;
    }
  }

  &.state-SUPPLEMENTED {
    .button-pill--evaluate {
      background: $color-pending;
    }
  }

  &.state-INCOMPLETE {
    .button-pill--evaluate {
      background: $color-incomplete;
    }
  }
}

.evaluation-modal__item-header-title {
  border-left: 3px solid transparent;
  cursor: pointer;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.125rem;
  font-weight: 400;
  padding: 5px 10px;
}

.evaluation-modal__item-header-title--exam {
  border-left-color: $color-default-contrast;
}

.evaluation-modal__item-header-title--journal {
  border-left-color: $color-journal-entry;
}

.evaluation-modal__item-header-title--journal-mandatory {
  border-left-color: $color-journal-page;
}

.evaluation-modal__item-header-title--assignment {
  border-left-color: $color-assignment;
}

.evaluation-modal__item-header-title--exercise {
  border-left-color: $color-exercise;
}

.evaluation-modal__item-header-title--interim-evaluation {
  border-left-color: $color-interim-evaluation;
}

.evaluation-modal__item-header-title--active-dialog {
  cursor: default;
}

.evaluation-modal__item-header-title--journal-feedback {
  border: 0;
  font-size: 1rem;
  padding: 0;
}

.title-container {
  display: flex;
  flex-flow: row wrap;

  .title-text {
    margin-right: 5px;
  }
}

.evaluation-modal__item-hidden {
  font-size: 0.75rem;
  font-style: italic;
  padding: 4px 0 2px;
}

.evaluation-modal__item-hidden,
.evaluation-modal__item-meta {
  align-items: center;
  color: $color-default-contrast;
  display: flex;
  flex-flow: row wrap;
  font-size: 0.825rem;
}

.evaluation-modal__item-meta-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 15px 0 0;

  &.state-SUPPLEMENTED,
  &.state-SUBMITTED,
  &.state-INCOMPLETE {
    border-radius: 12px;
    padding: 0px 9px;
    background-color: #009fe3;
    color: #fff;
    height: 24px;
  }
}

.evaluation-modal__item-meta-item-label {
  font-weight: 600;
  margin: 0 5px 0 0;
  padding: 4px 0;
}

.evaluation-modal__item-meta-item-data {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 4px 0;
}

.evaluation-modal__item-meta-item-data--grade {
  font-weight: 600;
  line-height: 1px;
  min-height: 1.375rem;
  min-width: 1.375rem;
  padding: 4px;

  &.state-EVALUATED {
    background: $color-passed;
    border-radius: 2px;
    color: $color-default;
    font-size: 0.875rem;
    min-height: 1.375rem;
    min-width: 1.375rem;
    padding: 4px;
  }

  &.state-SUPPLEMENTED {
    background: transparent;
  }

  &.state-INCOMPLETE {
    background: $color-incomplete;
    border-radius: 2px;
    color: $color-default;
  }

  &.state-FAILED {
    background: $color-failed;
    border-radius: 2px;
    color: $color-default;
  }
}

.evaluation-modal__item-functions {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 10px;
}

.evaluation-modal__item-literal-assessment,
.evaluation-modal__item-verbal-assessment {
  background: $color-evaluation-modal-meta-background;
  font-size: 0.825rem;
  padding: 10px;

  .voice-recorder__remove-button {
    display: none;
  }
}

.evaluation-modal__item-journal-feedback {
  margin: 10px 0;
}

.evaluation-modal__item-literal-assessment-label,
.evaluation-modal__item-verbal-assessment-label,
.evaluation-modal__item-journal-feedback-label {
  font-weight: 600;
}

.evaluation-modal__item-literal-assessment-data,
.evaluation-modal__item-journal-feedback-data {
  margin: 5px 0;
}

// Evaluation item's footer
.evaluation-modal__item-footer {
  padding: 5px 10px;
}

.evaluation-modal__item-footer--journal-comment {
  font-size: 0.825rem;
}

// Evaluation item's footer
.evaluation-modal__item-actions {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

.evaluation-modal__item-actions--journal-feedback {
  justify-content: flex-start;
}

// Evaluation item's subheader
.evaluation-modal__item-subheader {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  justify-content: flex-start;
}

.evaluation-modal__item-subheader--journal-comment,
.evaluation-modal__item-subheader-title--journal-comment {
  cursor: pointer;
}

// Evaluation journal item's comments
.evaluation-modal__item--journal-comment {
  background: lighten($color-tertiary, 30%);
  border: 0;
  border-radius: 3px;
}

.evaluation-modal__item-body--journal-comment {
  padding: 5px 10px 0;
}

// Evaluation assessment drawer
.evaluation-modal__evaluate-drawer {
  background: $color-default;
  height: 100%;
  opacity: 0%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(110%);
  transition: transform 400ms ease-out, opacity 200ms ease-out;
  width: 100%;
  z-index: 200;

  @include breakpoint($breakpoint-pad) {
    width: 75%;
  }

  @include breakpoint($breakpoint-desktop) {
    width: calc(50%);
  }

  &.state-OPEN {
    box-shadow: 0 25px 20px $color-evaluation-drawer-shadow;
    opacity: 100%;
    transform: translateX(0);
  }
}

.evaluation-modal__evaluate-drawer--assignment,
.evaluation-modal__evaluate-drawer--exercise,
.evaluation-modal__evaluate-drawer--interim-evaluation {
  z-index: 211;
}

.evaluation-modal__evaluate-drawer--journal-comment {
  z-index: 201;
}

.evaluation-modal__evaluate-drawer-header {
  align-items: center;
  background: $color-default;
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  padding: 12px 0;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.evaluation-modal__evaluate-drawer-header-title {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 0 10px;
}

.evaluation-modal__evaluate-drawer-close {
  cursor: pointer;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 2rem;
  height: 2rem;
  margin: 0 5px;
  width: 2rem;
}

.evaluation-modal__evaluate-drawer-content {
  height: calc(100% - 65px);
  overflow: auto;
  overscroll-behavior: contain;
  padding: 10px;
}

.evaluation-modal__evaluate-drawer-row {
  margin: 10px 0 15px;
}

.evaluation-modal__evaluate-drawer-row--payment-warning {
  color: $color-fatal;
  font-size: 1rem;
}

.evaluation-modal__evaluate-drawer-row--recording-warning {
  font-size: 1rem;
  justify-content: center;

  .recording-warning {
    color: $color-failed;
    display: flex;
    justify-content: center;
  }
}

.evaluation-modal__evaluate-drawer-row--buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.evaluation-modal__evaluate-drawer-row-label {
  display: block;
  font-weight: 600;
  padding: 0 0 5px;
}

.evaluation-modal__evaluate-drawer-row-data {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.evaluation-modal__evaluate-drawer-row-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 5px;
}
