@import "../base/mixins";
@import "../base/colors";
@import "../base/vars";
@import "../base/breakpoints";

.filter {
  margin-left: 10px;
}

.filter-items {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.filter-items--graph-filter {
  display: none;

  @include breakpoint($breakpoint-pad) {
    display: inline-flex;
    padding: 0 5px;
  }
}

.filter-category {
  align-items: center;
  display: flex;
  font-family: $system-font-family;
  font-size: $text-desktop-font-size;
  height: 100%;
}

.filter-category__label {
  font-weight: 600;
  margin-left: 5px;
}

.filter-category__link {
  cursor: pointer;
  margin-left: 10px;
}

.filter-item {
  align-items: center;
  display: flex;
  font-family: $system-font-family;
  font-size: $text-desktop-font-size;
  height: 100%;
  margin-right: 10px;

  input[type="checkbox"] {
    align-items: center;
    appearance: none;
    border: 2px solid $color-main-function-application-list-item-checkbox-border;
    border-radius: 3px;
    display: flex;
    height: 1.125rem;
    justify-content: center;
    margin: 5px;
    width: 1.125rem;
  }

  input[type="checkbox"]:checked::after {
    color: $color-default;
    content: "\e639";
    font-family: "muikku";
    font-size: 0.875rem;
  }

  input:checked {
    background-color: $color-form-element-selected;
    border-color: $color-form-element-selected;
  }

  input:checked::after {
    color: $color-default;
    content: "\e639";
    font-family: "muikku";
    font-size: 0.875rem;
  }

  input[disabled],
  input[disabled] + label {
    cursor: not-allowed;
    opacity: 40%;
  }
}

.filter-item--assignments {
  input[type="checkbox"] {
    border-color: $color-assignment;
  }

  input:checked {
    background-color: $color-assignment;
  }
}

.filter-item--logins {
  input[type="checkbox"] {
    border-color: $color-default-contrast;
  }

  input[type="checkbox"]:checked {
    background-color: $color-default-contrast;
  }
}

.filter-item--exercises {
  input[type="checkbox"] {
    border-color: $color-exercise;
  }

  input[type="checkbox"]:checked {
    background-color: $color-exercise;
  }
}

.filter-item--visits {
  input[type="checkbox"] {
    border-color: $color-workspace;
  }

  input[type="checkbox"]:checked {
    background-color: $color-workspace;
  }
}

.filter-item--discussion-messages {
  input[type="checkbox"] {
    border-color: $color-primary;
  }

  input[type="checkbox"]:checked {
    background-color: $color-primary;
  }
}

.filter-item--workspaces-empty {
  font-style: italic;
  opacity: 80%;
}

.filter-item--evaluation-requested {
  input[type="checkbox"] {
    border-color: $color-evaluation-request;
  }

  input[type="checkbox"]:checked {
    background-color: $color-evaluation-request;
  }
}

.filter-item--evaluation-passed {
  input[type="checkbox"] {
    border-color: $color-grade-passed;
  }

  input[type="checkbox"]:checked {
    background-color: $color-grade-passed;
  }
}

.filter-item--evaluation-failed {
  input[type="checkbox"] {
    border-color: $color-grade-failed;
  }

  input[type="checkbox"]:checked {
    background-color: $color-grade-failed;
  }
}

.filter-item--evaluation-incompleted {
  input[type="checkbox"] {
    border-color: $color-grade-incomplete;
  }

  input[type="checkbox"]:checked {
    background-color: $color-grade-incomplete;
  }
}

.filter-item--chat {
  input[type="checkbox"] {
    border-color: $color-chat-primary;
  }

  input:checked {
    background-color: $color-chat-primary;
  }
}

.filter__activator {
  background-color: $color-primary;
  border-radius: 2px;
  color: $color-default;
  cursor: pointer;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: $button-pill-mobile-font-size;
  padding: 5px;

  &:hover,
  &.hover {
    background-color: darken($color-primary, 10%);
  }

  &:active,
  &.active {
    background-color: darken($color-primary, 20%);
  }
}

.filter__activator--graph-filter {
  @include breakpoint($breakpoint-pad) {
    display: none;
  }
}
