@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.hops-animate__height-wrapper {
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  width: 100%;
}

.hops-container {
  flex-basis: 100%;
  padding: 10px;
  scroll-margin-top: 150px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    padding: 0;
  }
}

.hops-form__toolbar-primary {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 10px 0 0;

  > * {
    margin: 0 0 0 10px;
  }
}

.hops-form__toolbar-secondary {
  align-items: center;
  border-left: 1px solid $color-default-separator-border;
  display: flex;
  justify-content: center;
  padding: 0 0 0 10px;

  > * {
    margin: 0 10px 0 0;
  }
}

.hops-form__toolbar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  position: relative;
}

.hops-container__state {
  align-items: flex-start;
  border: 1px solid transparent;
  border-left-width: 3px;
  color: $color-default-contrast;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  margin: 5px;
  padding: 10px;

  p {
    margin: 0 0 15px;

    &:last-child {
      margin: 0 0 5px;
    }
  }

  ul {
    list-style-type: initial;
    margin: 15px 30px;

    &:last-child {
      margin: 15px 30px 5px;
    }
  }

  li {
    display: list-item;
  }

  &.state-INFO {
    border-color: $color-info;

    .hops-container__state-icon {
      color: $color-info;
    }
  }

  &.state-SUCCESS {
    border-color: $color-success;

    .hops-container__state-icon {
      color: $color-success;
    }
  }

  &.state-WARNING {
    border-color: $color-error;

    .hops-container__state-icon {
      color: $color-error;
    }
  }

  &.state-FAILED {
    border-color: $color-fatal;

    .hops-container__state-icon {
      color: $color-fatal;
    }
  }

  &.state-LOADER {
    border-color: $color-tertiary;

    .hops-container__state-icon {
      color: $color-tertiary;
    }
  }
}

.hops-container__state-icon {
  flex-basis: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 2rem;
}

.hops-container__state-text {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 4px 0 0 10px;
}

.hops-container__header {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 15px;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.5rem;
  }
}

.hops-container__fieldset {
  border: 0;
  border-bottom: 1px solid $color-default-separator-border;
  margin: 0 0 15px;
  padding: 0 0 10px;
}

.hops-container__subheader {
  border: 0;
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 5px 10px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.25rem;
  }
}

.hops-container__subheader--required::after {
  color: $color-fatal;
  content: " *";
}

// HOPS progressbar's title modifier
.hops-container__subheader--activity-title {
  font-size: 1rem;
  font-weight: 400;
  width: auto;
}

.hops-container__fieldset-description {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 10px 5px;
}

.hops-container__list {
  display: list-item;
  margin: 10px 0;
  padding: 0 20px;

  li {
    display: list-item;
    list-style-type: disc;
    padding: 5px;
  }
}

.hops-container__info {
  margin: 10px 0;
  width: 100%;
}

// Not available section
.hops-container__not-available {
  margin: 0 5px;
}

// HOPS progressbar's container modifier
.hops-container__info--activity-progressbar {
  background: $color-default-lighter-generic-background;
  border-radius: 3px;
  margin: 20px 5px;
  padding: 10px 20px;
  width: calc(100% - 10px);
}

// HOPS history
.hops-container__history {
  display: flex;
  flex-flow: column wrap;
}

.hops-container__history-filter {
  cursor: pointer;
  font-weight: 400;
  margin: 0 5px;
}

.hops-container__history-filter--active {
  font-weight: 600;
}

.hops-container__history-event {
  align-items: flex-start;
  border-bottom: 1px solid $color-default-item-separator-border;
  display: flex;
  flex-basis: 100%;
  flex-flow: column wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  margin: 0 5px;
  padding: 10px 0;

  &:last-child {
    border: 0;
  }
}

.hops-container__history-event-primary,
.hops-container__history-event-secondary {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  padding: 4px 0;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row nowrap;
  }
}

.hops-container__history-event-secondary {
  font-size: 0.8125rem;

  span {
    white-space: break-spaces;
  }
}

.hops-container__history-event-action {
  margin: 0 7px;
}

.hops-container__history-event-text {
  margin: 0 7px 0 0;
}

.hops-container__history-event-author {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: flex-start;
  margin: 0 7px 7px 0;

  @include breakpoint($breakpoint-pad) {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 7px 0 0;
  }

  .avatar-container {
    border: 2px solid $color-application-dialog-border-color;
    border-radius: 100%;
    margin: 0 7px 0 0;
  }
}

.hops-container__history-event-author-name {
  font-weight: 600;
}

.hops-container__history-event-date {
  background: $color-default-generic-background;
  border-radius: 3px;
  line-height: 1;
  margin: 0 7px 0 0;
  padding: 4px;
}

.hops-container__section {
  border: 0;
  border-bottom: 1px solid $color-default-separator-border;
  margin: 0 0 20px;
  padding: 0 0 10px;
}

.hops-container__row {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin: 10px 0;
  position: relative;
  width: 100%;

  .hops-container__row--dependant-of-above {
    margin: 0 0 0 15px;
    padding: 0 0 0 15px;

    &::before {
      border-bottom: 1px solid $color-hops-form-element-border;
      border-left: 1px solid $color-hops-form-element-border;
      content: " ";
      height: 37px;
      left: 0;
      position: absolute;
      top: 10px;
      width: 10px;
    }
  }
}

.hops-container__row--submit-middle-of-the-form {
  justify-content: center;
  margin: 10px 0;
}

.hops-container__row--remove-row-action {
  justify-content: flex-end;
}

.hops-container__row--input-groups {
  border-radius: 3px;
  flex-flow: column wrap;
  margin: 0;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row nowrap;
  }
}

.hops-container__row--activity-progressbar {
  margin: 15px 0;
}

.hops-container__table-container {
  width: 100%;
}

.hops-container__table-container-descriptions {
  align-items: flex-start;
  background: $color-default-lighter-generic-background;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 5px;
  padding: 5px;

  @include breakpoint($breakpoint-pad) {
    display: none;
  }
}

.hops-container__table-description-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.8135rem;
  justify-content: flex-start;
  margin: 5px 10px;
}

.hops-container__table-head-description--long {
  display: none;

  @include breakpoint($breakpoint-pad) {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.hops-container__table-head-description--short {
  align-items: center;
  display: flex;
  justify-content: center;

  @include breakpoint($breakpoint-pad) {
    display: none;
  }
}

// HOPS form related styles.
// Naming convention is wrong here and will be dealt in the future as matriculation form needs this refactoring also
.hops__form-element-container {
  display: flex;
  flex-basis: auto;
  flex-flow: column wrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  position: relative;
}

.hops__form-element-container--button {
  align-items: flex-end;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
  margin: 5px 5px 5px 0;
  min-width: 2.25rem;
}

.hops__form-element-container--single-row {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  .hops__label {
    flex-basis: auto;
    flex-shrink: 1;
    margin: 0 10px 0 0;
    padding: 0;
  }
}

.hops__form-element-field-title-container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.hops__form-element-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 36px;
  border-radius: 5px;
  flex-basis: 42px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 42px;
  margin: 0 0 5px;
  width: 42px;
}

.hops__form-element-icon--goal {
  background-image: url("/gfx/icons/temp/goal.png");
  border: 1px solid $color-study-plan-goal-color;
}

.hops__form-element-icon--estimated {
  background-image: url("/gfx/icons/temp/estimated.png");
  border: 1px solid $color-study-plan-estimated-color;
}

// HOPS form label
.hops__label {
  display: block;
  font-weight: 600;
  overflow: hidden;
  padding: 0 0 5px;
  text-overflow: ellipsis;
}

.hops__label--input-groups {
  padding: 0;
}

// HOPS checkboxes and radiobuttons
.hops__input[type="checkbox"],
.hops__input[type="radio"] {
  align-items: center;
  appearance: none;
  border: solid 2px $color-hops-form-element-border;
  border-radius: 3px;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  margin: 0 10px 0 0;
  padding: 4px 10px;
  width: 1.5rem;

  // Checked element
  &:checked {
    background-color: $color-application-dialog-border-color;
    border: solid 2px $color-application-dialog-border-color;
  }

  // Checked element's checkmark
  &:checked::after {
    color: $color-default;
    content: "\e639";
    font-family: "muikku";
    font-size: 0.875rem;
  }

  // Disabled element
  &[disabled] {
    background: transparent;
    border-color: lighten($color-disabled, 20%);
  }

  // Disabled and checked element
  &[disabled]:checked {
    background: lighten($color-disabled, 10%);
    border-color: lighten($color-disabled, 10%);
  }

  // Disabled and checked element's checkmark
  &[disabled]:checked::after {
    color: $color-default;
  }
}

.hops__input--input-groups[type="checkbox"] {
  margin: 0 5px 0 0;
}

.hops__input[type="radio"] {
  border-radius: 100%;
}

// HOPS textfields
.hops__input {
  background: $color-default;
  border: 2px solid $color-hops-form-element-border;
  border-radius: 3px;
  height: $select-height-mobile;
  padding: 4px 8px;
  width: 100%;

  &[disabled] {
    background-color: lighten($color-disabled, 25%);
    border-color: lighten($color-disabled, 25%);
  }

  @include breakpoint($breakpoint-pad) {
    height: $select-height-desktop;
  }
}

// HOPS textfield's disabled style overrides inside tables
.hops__input--inside-table {
  margin: 0;

  &[disabled] {
    background-color: transparent;
    border-color: transparent;
    font-style: italic;
  }
}

// HOPS select dropdowns
.hops__select {
  background: $color-default;
  border: 2px solid $color-hops-form-element-border;
  border-radius: 3px;
  display: inline-block;
  height: $select-height-mobile;
  padding: 4px;
  width: 100%;

  &[disabled] {
    background-color: lighten($color-disabled, 25%);
    border-color: lighten($color-disabled, 25%);
  }

  @include breakpoint($breakpoint-pad) {
    height: $select-height-desktop;
  }
}

// HOPs memofields
.hops__textarea {
  background: $color-default;
  border: 2px solid $color-hops-form-element-border;
  border-radius: 3px;
  display: inline-block;
  height: 5rem;
  padding: 4px 8px;
  resize: vertical;
  width: 100%;

  &[disabled] {
    background-color: lighten($color-disabled, 25%);
    border: 2px solid lighten($color-disabled, 25%);
  }
}

.hops__form-element-container--pad-upforwards {
  display: none;

  @include breakpoint($breakpoint-desktop) {
    display: flex;
  }
}

.hops__form-element-container--mobile {
  display: flex;

  @include breakpoint($breakpoint-desktop) {
    display: none;
  }
}

.hops__form-element-container--progressbar {
  align-items: center;
  justify-content: flex-start;
}

.hops-container__activity-label {
  border-radius: 10px;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1;
  padding: 3px 6px 4px;
  text-align: center;
}

.hops-container__activity-label--progressbar-line {
  background: $color-success;
  width: 45px;
}

.hops-container__indicator-descriptions {
  display: flex;
  flex-flow: row wrap;
  margin: 10px 5px 20px;
}

.hops-container__activity-progressbar-line-wrapper {
  width: 100%;
}

.hops-container__activity-progressbar-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hops-container__activity-progressbar {
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 0 5px 5px;
  width: 100%;
}

.hops-container__activity-progressbar-icon {
  align-items: center;
  color: $color-success;
  display: flex;
  font-size: 5rem;
  height: 80px;
  width: 80px;
}

.hops-container__activity-progressbar--circle,
.hops-container__activity-progressbar--total-study-time {
  align-items: center;
}

.hops-container__study-tool-indicators,
.hops-container__matrix-problems {
  align-items: center;
  background: $color-default-lighter-generic-background;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 5px;
  width: 100%;
}

.hops-container__matrix-problems {
  background: lighten($color-fatal, 50%);
  border: 2px solid $color-fatal;
  border-radius: 3px;
  padding: 10px;
}

.hops-container__matrix-problems-message {
  font-size: 1.125rem;
}

.hops-container__matrix-problems-list {
  list-style-type: disc;
  margin: 10px 0 0 20px;
  padding: 0;
}

.hops-container__matrix-problems-list-item {
  display: list-item;
  padding: 4px;
}

.hops-container__study-tool-indicator-container {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  margin: 10px;
}

.hops-container__study-tool-indicator-container--legend-title {
  flex-basis: calc(100% - 20px);
  flex-grow: 1;
  flex-shrink: 0;
  font-weight: 600;
  margin: 10px;
}

.hops-container__indicator-item-label {
  font-size: 0.8135rem;
}

.hops-container__indicator-item {
  border: 3px solid transparent;
  border-radius: 100%;
  color: $color-default-contrast;
  height: 35px;
  margin: 0 5px 0 0;
  width: 35px;
}

.hops-container__indicator-item--mandatory {
  align-items: center;
  background: $color-mandatory;
  display: flex;
  justify-content: center;
}

.hops-container__indicator-item--optional {
  align-items: center;
  background: $color-optional;
  display: flex;
  justify-content: center;
}

.hops-container__indicator-item--approval {
  background: $color-completed;
  position: relative;

  &::after {
    color: $color-great-success;
    content: "\e62b";
    font-family: "muikku";
    font-size: 1rem;
    height: 1rem;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 1rem;
    z-index: 1;
  }

  &::before {
    color: $color-completed-border;
    content: "\e62c";
    font-family: "muikku";
    font-size: 1rem;
    height: 1rem;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 1rem;
    z-index: 2;
  }
}

.hops-container__indicator-item--completed {
  background: $color-completed;
  border-color: $color-completed-border;
  border-radius: 50% 50% 50% 3px;
  position: relative;

  &::after {
    color: $color-great-success;
    content: "\e62b";
    font-family: "muikku";
    font-size: 1rem;
    height: 1rem;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 1rem;
    z-index: 1;
  }

  &::before {
    color: $color-completed-border;
    content: "\e62c";
    font-family: "muikku";
    font-size: 1rem;
    height: 1rem;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 1rem;
    z-index: 2;
  }
}

.hops-container__indicator-item--failed {
  align-items: center;
  background: $color-passed-failed;
  border-color: $color-passed-failed-border;
  display: flex;
  justify-content: center;
  position: relative;

  &::after {
    color: $color-great-success;
    content: "\e62b";
    font-family: "muikku";
    font-size: 1rem;
    height: 1rem;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 1rem;
    z-index: 1;
  }

  &::before {
    color: $color-completed-border;
    content: "\e62c";
    font-family: "muikku";
    font-size: 1rem;
    height: 1rem;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 1rem;
    z-index: 2;
  }
}

.hops-container__indicator-item--aborted {
  align-items: center;
  background: $color-passed-aborted;
  border-color: $color-passed-aborted-border;
  display: flex;
  justify-content: center;
}

.hops-container__indicator-item--supplementationrequest {
  align-items: center;
  background: lighten($color-incomplete, 30%);
  border-color: $color-incomplete;
  border-width: 3px;
  display: flex;
  justify-content: center;
}

.hops-container__indicator-item--inprogress {
  background: $color-default;
  border-color: $color-info;
  border-radius: 50% 3px 50% 50%;
}

.hops-container__indicator-item--next {
  background: lighten($color-next, 50%);
  border-color: $color-next;
  border-radius: 50% 3px;
}

// HOPS study tool dropdown content
.hops-container__study-tool-dropdown-container {
  max-height: 340px;
  max-width: 375px;
  padding: 5px;
}

.hops-container__study-tool-dropdow-suggestion-subsection {
  align-items: center;
  border-bottom: 1px solid $color-default-separator-border;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  padding: 10px 0;

  .hops-container__study-tool-dropdow-title {
    font-size: 0.875rem;
    font-weight: 400;
  }
}

.hops-container__study-tool-dropdow-suggestion-container {
  display: flex;
  flex-flow: column;
  max-height: 275px;
  max-width: inherit;
  overflow: auto;
}

.hops-container__study-tool-dropdow-suggestion-subsection:last-child {
  border-bottom: none;
}

.hops-container__study-tool-dropdow-title {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 0;
  text-align: initial;
}

.hops-planning__activity-proggressbar-tooltip {
  line-height: 1.325rem;
  max-width: 400px;
  padding: 5px 10px;
  text-align: left;
}

.hops-container__study-tool-button-container {
  display: flex;
  width: 100%;
}

.hops-edit__button-row {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: flex-end;
  width: 100%;
}

// Study Planning Tool specific styles
.hops-container__description {
  margin: 0 0 20px;

  p {
    margin: 10px 0;
  }
}

.hops-container__helper-text {
  color: lighten($color-default-contrast, 30%);
  padding: 0 0 5px;
}

.hops-container__progress-section {
  margin-top: 2rem;
}

.hops-container__progress-bar-container {
  margin-top: 1rem;
}

.hops-container__progress-dates {
  display: flex;
  font-size: 0.875rem;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.hops-container__progress-bar {
  background-color: $color-default-lighter-generic-background;
  border-radius: 0.25rem;
}

.hops-container__progress-bar-fill {
  background-color: $color-success;
  border-radius: 0.25rem;
  height: 100%;
  transition: width 0.3s ease;
}
