@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.labels {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-flow: row wrap;
  flex-grow: 1;
  flex-shrink: 1;
}

.labels--communicator-message,
.labels--announcer-announcement {
  margin: 0 10px 10px;
}

.labels__wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.label {
  align-items: center;
  background: $color-label-background;
  border-radius: 10px;
  display: flex;
  margin: 2px 5px 2px 0;
  padding: 2px 10px;
}

.label--guider-concent {
  background-color: lighten($color-info, 40%);
  width: fit-content;
}

.label--guider-contact-type {
  background-color: lighten($color-notice, 20%);
  position: absolute;
  right: 5px;
  top: -13px;
  width: fit-content;
}

.label--ENDING {
  background-color: $color-label-background-highlight;
}

.label--folder {
  background-color: $color-label-background;
  color: $color-default-contrast;
}

.label--draft {
  background-color: lighten($color-clear, 30%);
  width: fit-content;
}

.label--mandatory {
  background-color: lighten($color-journal-page, 30%);
  width: fit-content;
}

.label--pedagogy-plan {
  align-items: center;
  background-color: lighten($color-info, 35%);
  cursor: help;
  display: flex;
  height: 1.25rem;
  justify-content: center;
  margin: 2px 5px;
  padding: 2px;
  width: 1.25rem;
}

.label--u18-compulsory {
  align-items: center;
  background-color: lighten($color-notice, 10%);
  cursor: help;
  display: flex;
  height: 1.25rem;
  justify-content: center;
  margin: 2px 5px;
  padding: 2px;
  width: 1.25rem;
}

.label__icon {
  align-items: center;
  display: flex;
  font-size: 0.8125rem;
  padding: 0 5px 0 0;

  &.state-ENDING,
  &.state-ENDED {
    color: $color-label-alert;
  }
}

.label__icon--workspace {
  color: $color-workspace;
}

.label__icon--announcement-usergroup {
  color: $color-default-contrast;
}

.label__text {
  font-size: 0.75rem;

  @include breakpoint($breakpoint-pad) {
    font-size: 0.8125rem;
  }
}

.label__text--workspace,
.label__text--announcement-usergroup {
  font-size: calc(#{$text-mobile-font-size} / 1.1);

  @include breakpoint($breakpoint-pad) {
    font-size: calc(#{$text-desktop-font-size} / 1.1);
  }
}
