@import "../base/colors";
@import "../base/vars";
@import "../base/breakpoints";
@import "../base/mixins";

.license {
  align-items: center;
  background: $color-workspace-license-default-background;
  color: $color-default;
  display: flex;
  flex-flow: row wrap;
  padding: 10px;

  @include breakpoint($breakpoint-pad) {
    padding: 20px;
  }
}

.license__icon {
  font-size: 20px;
  padding: 0 5px 0 0;

  @include breakpoint($breakpoint-pad) {
    font-size: 30px;
    padding: 0 10px 0 0;
  }

  @include breakpoint($breakpoint-desktop) {
    font-size: 40px;
  }
}

.license__title {
  margin: 0 0 5px;
  text-transform: uppercase;
}

.license__link {
  color: $color-default;
  text-decoration: underline;
}
