@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";
@import "cke-styles";

.material-editor {
  @include no-scrollbars;
  @include prefix(transition, webkit ms o moz, left 0.3s);

  background: $color-default-body;
  height: 100%;
  left: -100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.material-editor--visible {
    left: 0;
  }

  @include breakpoint($breakpoint-pad) {
    max-width: 730px;
    min-width: 680px;

    &.material-editor--visible {
      box-shadow: 0 0 200px $color-material-edit-panel-shadow;
    }
  }
}

.material-editor__header {
  margin: 0 -15px;
  position: sticky;
  top: 0;
  z-index: 99;
}

.material-editor__buttonset {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
  margin: 0 0 10px;
}

.material-editor__buttonset-primary {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
}

.material-editor__buttonset-secondary {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: right;
}

.material-editor__content-wrapper {
  @include text;

  background: $color-default;
  display: flex;
  flex-flow: column nowrap;
  min-height: calc(100vh - 40px);
  padding: 10px;
  width: 100%;
}

.material-editor__editor-container {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;

  // CKE override styles for editor it self as well as for the top and bottom part of it
  /* stylelint-disable selector-class-pattern */
  .cke {
    background: $color-default;
    border: solid 2px $color-form-element-border;
    border-radius: 2px;
    box-sizing: border-box;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
    min-width: 100%;
  }

  .cke_top {
    background: $color-default;
    border-bottom: 1px solid $color-form-element-border;
  }

  .cke_bottom {
    background: $color-default;
    border-top: 1px solid $color-form-element-border;
  }

  /* stylelint-enable selector-class-pattern */
}

// this is the same in add-producer component style. TODO mixin.
.material-editor__sub-section {
  border-radius: 2px;
  margin: 0 0 10px;
  padding: 15px 0;

  &:last-child {
    border: 0;
  }
}

// this is the same in add-producer component style and probably with all the subtitles everywhere. TODO mixin.
.material-editor__sub-title {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: 300;
  justify-content: space-between;
  line-height: 1;
  margin: 0 0 10px;
}

.material-editor__list-producers-container {
  display: flex;
  flex-flow: row wrap;
  padding: 15px 0;
}

.material-editor__producer {
  align-items: center;
  border: 1px solid lighten($color-material-page-admin-panel-main-color, 20%);
  border-radius: 2px;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 10px 10px 0;
  padding: 6px 8px;
}

.material-editor__remove-producer {
  background: $color-default;
  color: $color-fatal;
  cursor: pointer;
  font-size: 0.75rem;
  height: auto;
  margin: 0 0 0 10px;
  padding: 4px;
  width: auto;
}

.material-editor__category-item {
  background: $color-default-lighter-generic-background;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}

.material-editor__category-header,
.material-editor__attendee-header,
.material-editor__smowl-header {
  align-items: center;
  border-bottom: 1px solid $color-default-separator-border;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  font-weight: 600;
  justify-content: space-between;
  margin: 0 0 10px;
  padding: 0 0 5px;
}

.material-editor__selected-pages {
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
}

.material-editor__selected-page {
  align-items: center;
  background: lighten($color-tertiary, 25%);
  border: 1px solid lighten($color-tertiary, 15%);
  border-radius: 3px;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  line-height: 1;
  margin: 2px 0;
  padding: 5px 5px 5px 10px;
}

.material-editor__add-page {
  margin: 5px 0 0;
  width: 100%;
}

.material-editor__attendees {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
  margin: 20px 0;
}

.material-editor__attendees-title {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  justify-content: space-between;
}

.material-editor__attendee-header,
.material-editor__category-header,
.material-editor__smowl-header {
  gap: 10px;
  width: 100%;
}

.material-editor__attendee-header-title,
.material-editor__category-header-title,
.material-editor__smowl-header-title {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 8px 0;
}

.material-editor__attendee-line {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.material-editor__attendee-header-actions,
.material-editor__category-header-actions {
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
}

.material-editor__attendees-items {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
}

.material-editor__attendee-item {
  background: $color-default-lighter-generic-background;
  border-radius: 10px;
  padding: 10px;
}

.material-editor__attendee-body {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
}

.material-editor__attendee-meta {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: flex-start;
}

.material-editor__attendee-status {
  border-radius: 5px;
  color: $color-default;
  display: inline-flex;
  font-weight: 600;
  padding: 5px 10px;
  width: auto;
}

.material-editor__attendee-status--completed {
  background-color: $color-success;
}

.material-editor__attendee-status--in-progress {
  background-color: $color-info;
}

.material-editor__attendee-status--not-started {
  background-color: $color-cancel;
}

.material-editor__attendee-dates {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
}

.material-editor__attendee-footer {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}

.material-editor__smowl {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
  margin: 20px 0;
}

.material-editor__smowl-item {
  background: $color-default-lighter-generic-background;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 10px;
}

.material-editor__smowl-body {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
}

.material-editor__smowl-option-container {
  border-top: 1px solid $color-default-separator-border;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 10px 0 0;

  &:first-child {
    border-top: 0;
    padding: 0;
  }
}

.material-editor__smowl-option {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 5px;
  justify-content: flex-start;
  padding: 10px 0;
}

.material-editor__smowl-expand-button {
  background: transparent;
  border: 0;
  color: $color-primary;
  cursor: pointer;
  font-size: 0.75rem;
  padding: 5px;
}

.material-editor__smowl-label {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 600;
}

.material-editor__smowl-alarms-list {
  background: $color-default;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: flex-start;
  padding: 10px;
}

.material-editor__smowl-option-content {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
}

.material-editor__smowl-alarms-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
  justify-content: flex-start;
  padding: 10px 0;
}

// Section label, used in the allowed actions and allowed programs sections.
.material-editor__smowl-alarms-label {
  font-weight: 600;
  width: 100%;
}

// Single alarm item, used in the allowed actions and allowed programs sections.
.material-editor__smowl-alarm-item {
  align-items: center;
  background: $color-default;
  border-radius: 20px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  justify-content: flex-start;
  padding: 5px 5px 5px 10px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: darken($color-default, 5%);
  }
}

// Single alarm label, used in the allowed actions and allowed programs sections.
.material-editor__smowl-alarm-label {
  cursor: pointer;
}
