@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.matriculation-container {
  flex-basis: 100%;
  overflow: auto;
  width: 100%;
}

.matriculation-container__state {
  align-items: flex-start;
  border: 1px solid transparent;
  border-left-width: 3px;
  color: $color-default-contrast;
  display: flex;
  flex-flow: row nowrap;
  font-size: 1rem;
  margin: 10px 10px 10px 5px;
  padding: 10px;

  p {
    margin: 0 0 15px;

    &:last-child {
      margin: 0 0 5px;
    }
  }

  ul {
    list-style-type: initial;
    margin: 15px 30px;

    &:last-child {
      margin: 15px 30px 5px;
    }
  }

  li {
    display: list-item;
  }

  &.state-INFO {
    border-color: $color-info;

    .matriculation-container__state-icon {
      color: $color-info;
    }
  }

  &.state-SUCCESS {
    border-color: $color-success;

    .matriculation-container__state-icon {
      color: $color-success;
    }
  }

  &.state-WARNING {
    border-color: $color-error;

    .matriculation-container__state-icon {
      color: $color-error;
    }
  }

  &.state-FAILED {
    border-color: $color-fatal;

    .matriculation-container__state-icon {
      color: $color-fatal;
    }
  }

  &.state-LOADER {
    border-color: $color-tertiary;

    .matriculation-container__state-icon {
      color: $color-tertiary;
    }
  }
}

.matriculation-container__state-icon {
  flex-basis: 2rem;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 2rem;
}

.matriculation-container__state-text {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 4px 0 0 10px;
}

.matriculation-container__header {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0 0 10px;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.5rem;
  }
}

.matriculation-container__fieldset {
  border: 0;
  border-bottom: 1px solid $color-default-separator-border;
  margin: 0 0 15px;
  padding: 0 0 15px;
}

.matriculation-container__subheader {
  border: 0;
  display: block;
  font-size: 1.1875rem;
  font-weight: 400;
  margin: 0 0 10px;
  width: 100%;

  @include breakpoint($breakpoint-pad) {
    font-size: 1.25rem;
  }
}

.matriculation-container__info {
  .matriculation-container__subheader {
    margin: 15px 0 10px;
  }
}

.matriculation-container__info-item {
  margin: 15px 5px;
}

.matriculation-container__info-item--instructions ol {
  list-style-type: decimal;
  margin: 15px 30px;
}

.matriculation-container__info-item--instructions li {
  display: list-item;
  text-align: left;
}

.matriculation-container__info-list {
  list-style-type: disc;
  margin: 15px 30px;
}

.matriculation-container__info-list-item {
  display: list-item;
}

.matriculation-container__row {
  display: flex;
  flex-flow: column wrap;
  padding: 5px 0;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row wrap;
  }
}

.matriculation-container__row--input-groups {
  border-radius: 3px;
  flex-flow: column wrap;
  margin: 0;

  @include breakpoint($breakpoint-pad) {
    flex-flow: row nowrap;
  }
}

.matriculation__form-element-container {
  flex-basis: auto;
  flex-flow: column nowrap;
  flex-grow: 1;
  flex-shrink: 1;
  margin: 5px;
  position: relative;
}

.matriculation__form-element-container--button {
  align-items: flex-end;
  display: flex;
  flex-basis: auto;
  flex-flow: row nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-end;
  margin: 5px 5px 5px 0;
}

.matriculation__form-element-container--single-row {
  align-items: center;
  display: flex;
  flex-flow: row wrap;

  .matriculation__label {
    flex-basis: auto;
    flex-shrink: 1;
    margin: 0 10px 0 0;
    padding: 0;
  }
}

.matriculation__label {
  display: block;
  font-weight: 600;
  overflow: hidden;
  padding: 0 0 5px;
  text-overflow: ellipsis;
}

.matriculation__input[type="checkbox"] {
  align-items: center;
  appearance: none;
  border: solid 2px $color-matriculation-form-element-border;
  border-radius: 3px;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

.matriculation__input[type="radio"] {
  align-items: center;
  appearance: none;
  border: solid 2px $color-matriculation-form-element-border;
  border-radius: 100%;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

.matriculation__input:checked {
  background-color: $color-application-dialog-border-color;
  border: solid 2px $color-application-dialog-border-color;
}

.matriculation__input:checked::after {
  color: $color-default;
  content: "\e639";
  font-family: "muikku";
  font-size: 0.875rem;
}

.matriculation__input {
  background: $color-default;
  border: 2px solid $color-matriculation-form-element-border;
  border-radius: 3px;
  height: $select-height-mobile;
  padding: 4px 8px;
  width: 100%;

  &[readonly] {
    background-color: lighten($color-disabled, 20%);
    border: 0;
    height: $select-height-desktop;
  }
}

.matriculation__select {
  background: $color-default;
  border: 2px solid $color-matriculation-form-element-border;
  border-radius: 3px;
  display: inline-block;
  height: $select-height-mobile;
  padding: 4px;
  width: 100%;

  &[disabled] {
    background-color: lighten($color-disabled, 20%);
    border: 0;
    height: $select-height-desktop;
  }
}

.matriculation__textarea {
  background: $color-default;
  border: 2px solid $color-matriculation-form-element-border;
  border-radius: 3px;
  display: inline-block;
  height: 5rem;
  padding: 4px 8px;
  resize: vertical;
  width: 100%;

  &[readonly] {
    background-color: lighten($color-disabled, 20%);
    border: 0;
  }
}

.matriculation-container__row--input-groups--conflicted {
  background-image:
    linear-gradient(
      to right,
      lighten($color-error, 20%),
      $color-default
    );
  margin-bottom: 5px;
}

.matriculation__form-element-container--repeatable-info::before,
.matriculation__form-element-container--mandatory-conflict::before,
.matriculation__form-element-container--repeat-conflict::before {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  bottom: -3px;
  content: " ";
  display: block;
  height: 5px;
  position: absolute;
  width: 100%;
}

.matriculation__form-element-container--repeatable-info::before {
  background: $color-info;
}

.matriculation__form-element-container--mandatory-conflict::before {
  background: $color-warn;
}

.matriculation__form-element-container--repeat-conflict::before {
  background: $color-fatal;
}

.matriculation-container__indicator-examples {
  margin: 10px 0 20px;
}

.matriculation-container__repeatable-info,
.matriculation-container__repeat-conflicts,
.matriculation-container__mandatory-conflicts {
  align-items: center;
  display: flex;
  margin: 2px 0;
}

.matriculation-container__repeatable-info-indicator,
.matriculation-container__mandatory-conflicts-indicator,
.matriculation-container__repeat-conflicts-indicator {
  display: inline-block;
  height: 5px;
  margin: 0 10px;
  width: 25px;
}

.matriculation-container__mandatory-conflicts-indicator {
  background-color: $color-warn;
}

.matriculation-container__repeat-conflicts-indicator {
  background-color: $color-fatal;
}

.matriculation-container__repeatable-info-indicator {
  background-color: $color-info;
}

.matriculation__saving-draft {
  align-items: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  left: calc(50vw - 175px);
  padding: 1rem;
  position: fixed;
  top: 30px;
  width: 350px;
  z-index: 12000;
}

.matriculation__saving-draft--info {
  background-color: $color-info;
  color: $color-default;
}

.matriculation__saving-draft--error {
  background-color: $color-failed;
  color: $color-default;
}

.matriculation__saving-draft-title span {
  align-items: center;
  animation-duration: 1.4s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: blink;
  display: inline-flex;
  margin: 0;
}

.matriculation__saving-draft-title span:nth-child(2) {
  animation-delay: 0.2s;
}

.matriculation__saving-draft-title span:nth-child(3) {
  animation-delay: 0.4s;
}

.matriculation__saving-draft--fade-in {
  opacity: 100%;
  transition: opacity 500ms linear;
}

.matriculation__saving-draft--fade-out {
  opacity: 0%;
  transition: opacity 500ms linear;
}

.matriculation__hightlighted {
  font-weight: 600;
}

// Animations

// blink
@keyframes blink {
  0% {
    opacity: 20%;
  }

  20% {
    opacity: 100%;
  }

  100% {
    opacity: 20%;
  }
}
