
@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";


.tag-dropdown {
  background-color: $color-dropdown-default-background;
  border-radius: 5px;
  box-shadow: 0 10px 20px $color-dropdown-default-shadow;
  color: $color-dropdown-default-text;
  display: block;
  line-height: 1.25rem;
  max-height: 350px;
  min-width: 100px;
  opacity: 100%;
  overflow-y: auto;
  padding: 5px;
  text-align: center;
  z-index: 1;
}

.tag-dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;

}


.tag-dropdown__item {
  cursor: pointer;
  display: block;
  font-size: .875rem;
  padding: 8px 12px;
  text-align: left;
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &.hover,
  &:active,
  &.active {
    background-color: $color-environment-dropdown-link-hover-background;
    color: $color-default-contrast;
  }
}

.tag-icon {
  margin-right: 8px;
}
