@import "../base/colors";
@import "../base/vars";
@import "../base/mixins";
@import "../base/breakpoints";

.toc {
  @include text;

  background-color: $color-application-panel-box-background;
  border: solid 1px $color-application-panel-box-border;
  height: 100%;
  width: 100%;

  @include breakpoint($breakpoint-desktop) {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

// Workspace materials ToC is loaded inside tab and we need to remove the top border
.toc--workspace-materials {
  border-top-color: transparent;
  border-top-width: 0;
  height: 100%;
}

.toc__header {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 2.625rem;
  justify-content: flex-end;
}

.toc__header--workspace-instructions {
  justify-content: flex-start;
}

.toc__title {
  @include text;

  font-weight: 400;
  line-height: 1;
  padding: 11px 10px 10px;
}

.toc__section-title-container {
  @include text;

  align-items: center;
  display: flex;
  margin: 0 4px;
  padding: 5px 5px 5px 2px;
  text-transform: uppercase;
  user-select: text;

  &.hidden {
    font-style: italic;
    opacity: 50%;
  }
}

.toc__section-title {
  @include text;

  display: flex;
  width: 100%;
}

.toc__item-container {
  height: calc(100vh - 77px);
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-color: $color-scrollbar-handle $color-scrollbar-background;
  scrollbar-width: thin;
  width: 100%;

  &::-webkit-scrollbar {
    width: 7.5px;
  }

  &::-webkit-scrollbar-track {
    background: $color-scrollbar-background;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-scrollbar-handle;
    border-radius: 3px;
  }

  @include breakpoint($breakpoint-desktop) {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 2.625rem; // Same as .toc-header height
  }
}

.toc__item {
  @include prefix(transition, webkit ms o moz, background-color 0.2s ease-in-out);

  align-items: flex-start;
  background-color: $color-toc-item-link-background;
  border-bottom-right-radius: 2px;
  border-left: 3px solid $color-default;
  border-top-right-radius: 2px;
  color: $color-text-default;
  cursor: pointer;
  display: flex;
  font-weight: 400;
  margin: 5px;
  padding: 4px;
  position: relative;
  user-select: text;

  &:hover {
    background: lighten($color-list-selected-background, 30%);
  }

  &.active {
    background: $color-toc-item-link-selected-background;
    color: $color-default;
    font-weight: 400;
  }

  &.hidden {
    font-style: italic;
    opacity: 50%;
  }

  &.filteredOut {
    height: 0;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 0;
    overflow: hidden;
    padding: 0;
  }

  @include breakpoint($breakpoint-desktop-xl) {
    min-height: 28px;
    padding: 4px 4px 4px 8px;
  }
}

.toc__element--drag-placeholder-container {
  border: 2px dashed $color-default-separator-border;
  height: 1.75rem;
  margin: 0 12px 5px;
}

.toc__section--drag-container,
.toc__item--drag-container {
  position: relative;
}

.toc__section--drag-handle,
.toc__item--drag-handle {
  align-items: center;
  background: $color-default;
  border-radius: 100%;
  color: $color-material-page-admin-panel-main-color;
  cursor: grab;
  display: flex;
  font-size: 0.8125rem;
  height: 1.37rem;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 3px;
  width: 1.37rem;
  z-index: 9999;
}

.toc__section--drag-handle {
  top: 4px;
}

.toc__item--exercise {
  border-color: $color-exercise;
}

.toc__item--assignment {
  border-color: $color-assignment;
}

.toc__item--journal {
  border-color: $color-journal-page;
}

.toc__item--interim-evaluation {
  border-color: $color-interim-evaluation;
}

.toc__item--submitted {
  .toc__icon {
    background: $color-submitted;
  }
}

.toc__item--answered {
  .toc__icon {
    background: transparent;
    color: $color-submitted;
  }

  &.active {
    .toc__icon {
      color: $color-default;
    }
  }
}

// TODO: better solution for this
.toc__section-container {
  &.active {
    .toc__section-title-container {
      background: $color-default-generic-background;
    }
  }
}

.toc__section-container--view-restricted-to-logged-in .toc__section-title-container,
.toc__item--view-restricted-to-logged-in {
  .toc__icon.icon-restriction {
    background: $color-view-restricted;
  }
}

.toc__section-container--view-restricted-to-members .toc__section-title-container,
.toc__item--view-restricted-to-members {
  .toc__icon.icon-restriction {
    background: $color-tertiary;
  }
}

.toc__item--withdrawn {
  .toc__icon {
    background: $color-withdrawn;
  }
}

.toc__item--passed {
  .toc__icon {
    background: $color-passed;
  }
}

.toc__item--incomplete {
  .toc__icon {
    background: $color-incomplete;
  }
}

.toc__item--failed {
  .toc__icon {
    background: $color-failed;
  }
}

.toc__text-body {
  flex-basis: calc(100% - 20px);
  flex-grow: 0;
  flex-shrink: 1;
  font-size: $text-mobile-font-size;
  padding: 0 4px 0 0;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}

.toc__icon {
  align-items: center;
  border-radius: 100%;
  color: $color-default;
  display: inline-flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0.8125rem;
  height: 1.25rem;
  justify-content: center;
  width: 1.25rem;
}

.toc__icon--section-open-close {
  color: inherit;
  cursor: pointer;
  margin: 0 5px 0 0;
}
