@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.visually-hidden {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  user-select: none;
  width: 1px;
}

.external-link-indicator {
  align-items: center;
  display: inline-flex;
  font-size: $text-mobile-font-size;
  padding: 0 4px;

  @include breakpoint($breakpoint-pad) {
    font-size: $text-desktop-font-size;
  }
}
