@import "../base/colors";
@import "../base/mixins";
@import "../base/vars";
@import "../base/breakpoints";

.workspace-activity {
  display: flex;
  flex-flow: row wrap;
}

.workspace-activity--studies {
  align-items: center;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
  padding: 10px 0 0;
}

.workspace-activity--workspace-home,
.workspace-activity--workspace-materials {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  @include breakpoint($breakpoint-desktop) {
    justify-content: flex-end;
  }
}

.workspace-activity__title {
  padding: 0 5px;
  text-transform: uppercase;
}

.workspace-activity__title--workspace-materials {
  font-weight: 400;
  padding: 0 5px 0 0;
  text-transform: none;
}

.workspace-activity__content {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.workspace-activity__progressbar {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 20px;
  margin: 5px 0 0;
  max-width: 100%;
}

.workspace-activity__progressbar-circle-wrapper {
  align-items: center;
  display: flex;
}

.workspace-activity__progressbar-circle {
  line-height: 1;
  margin: 0 5px;
}

.workspace-activity__progressbar-circle--workspace {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 25px;
}

.workspace-activity__progressbar--studies {
  svg {
    @include prefix(transition, webkit ms o moz, opacity 0.2s ease-in-out);

    opacity: 30%;
  }
}

.workspace-activity__progressbar-label {
  background: $color-default;
  border: 1px solid $color-assignment;
  border-radius: 3px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  padding: 2px 4px;
  position: absolute;
  text-align: center;
}

.workspace-activity__progressbar-label--assignment {
  color: $color-assignment;
}

.workspace-activity__progressbar-label--exercise {
  color: $color-exercise;
}

.workspace-activity__progressbar-label--workspace {
  background: transparent;
  border: 0;
  padding: 0 6px;
  position: relative;
  white-space: nowrap;
}

.workspace-activity__assignment-done-percent {
  color: $color-assignment;
  font-size: 0.9rem;
  padding: 0 5px 0 0;
}

.workspace-activity__exercise-done-percent {
  color: $color-exercise;
  font-size: 0.9rem;
  padding: 0 0 0 5px;
}

.workspace-activity__evaluated-date {
  padding: 0 0 0 5px;
}

.workspace-activity__menu-title {
  font-size: 0.8125rem;
  font-weight: 400;
  padding: 4px 5px 8px;
  text-align: left;
}

.workspace-activity__menu-label {
  font-size: 0.8125rem;
  padding: 4px 5px;
  text-align: left;
}

.workspace-activity__menu-data {
  font-weight: 400;
}
