# https://github.com/marketplace/actions/lint-action
name: Front-end code quality

on:
  pull_request:
    branches: devel

jobs:
  run-linters:
    name: Running linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 20.11.1

      - name: Install npm@10.2.4
        run: npm install --global npm@10.2.4

      - name: Install Node.js dependencies
        run: npm ci
        working-directory: muikku-core-plugins/src/main/resources/META-INF/resources/scripts/src

      - name: Running linters
        uses: wearerequired/lint-action@v1
        with:
          eslint: true
          eslint_extensions: "ts,tsx"
          eslint_dir: muikku-core-plugins/src/main/resources/META-INF/resources/scripts/src

          prettier: true
          prettier_extensions: "ts,tsx"
          prettier_dir: muikku-core-plugins/src/main/resources/META-INF/resources/scripts/src

          stylelint: true
          stylelint_extensions: "scss"
          stylelint_dir: muikku-core-plugins/src/main/resources/META-INF/resources/scripts/src/sass
